[2016-11-04 11:52] markmacgillivray commented on #282
Yes should apply to mobile too - certainly looks bigger on my test view.

There are potentially some places where the larger text will look bad, yes - there has to be a balance between the fact that the input boxes themselves take up more space, so either need smaller text inside them or to be quite a bit bigger themselves, which makes them chunk out of the text a bit too much.

The text is a fair

[2016-11-04 11:55] JosephMcArthur commented on #282
Lets scale it down a bit now.

On Fri, 4 Nov 2016 at 11:53 markmacgillivray <notifications@github.com>
wrote:

[2016-11-04 11:57] markmacgillivray commented on #282
OK, scaled down a bit

[2016-11-04 12:01] JosephMcArthur commented on #282
This feels better.

On Fri, 4 Nov 2016 at 11:57 markmacgillivray <notifications@github.com>
wrote:

[2016-11-04 19:54] JosephMcArthur opened #400 "New mini-icon for the chrome store"
Instructions:

128x128 total pixels
For square icons, use alpha to make 16 of the 128 pixels per side transparent (96x96 visual weight)
For circular icons, the visual icon should be 112x112 (use alpha to make the remaining pixels transparent)
For other icon shapes, use alpha to maintain the same 96x96 visual weight
Additional advice:
Your icon should be flat; avoid noticeable perspective, 3D and s

[2016-11-05 17:28] JosephMcArthur commented on #241
I'll try and use what we already have then and see how it goes.

[2016-11-05 17:39] JosephMcArthur commented on #391
Megan can you test this on a few sites, should be blue, one one line & align with the logo nicely.

[2016-11-05 17:39] JosephMcArthur commented on #391
Megan can you test this on a few sites, should be blue, on one line & align with the logo nicely.

[2016-11-06 14:21] JosephMcArthur commented on #325
this is up!

[2016-11-06 14:21] #325 closed

[2016-11-06 14:21] JosephMcArthur commented on #335
@markmacgillivray can't see any requests being added, can we get this moving?

[2016-11-06 14:22] JosephMcArthur commented on #389
Fixed in 1.2 release. Closing.

[2016-11-06 14:22] #389 closed

[2016-11-06 14:23] JosephMcArthur commented on #390
@markmacgillivray any update here, or should we handle with a install message as we do for the bookmarklet?

[2016-11-06 14:24] JosephMcArthur commented on #387
@meganwaps have you made any progress here?

[2016-11-06 14:26] JosephMcArthur commented on #386
If this is actually an issue (pending @meganwaps testing), my preferred route to closing would be removing the ask for location completely. @markmacgillivray is it possible to get location data (accurate) to the country level passively upon sign up?

[2016-11-06 14:31] JosephMcArthur commented on #382
Closing, but adding a "Meta" label, for discussing / identifying topics like this in future.

[2016-11-06 14:31] #382 closed

[2016-11-06 14:36] JosephMcArthur commented on #295
@markmacgillivray am I correct that since we can't do automatic emails right now this isn't a quick fix. If not, then we'll need to push this back to a later milestone (the backlog in this case)

[2016-11-06 14:41] JosephMcArthur commented on #189
I'm happy to close this!

[2016-11-06 14:41] #189 closed

[2016-11-06 14:42] JosephMcArthur commented on #293
@markmacgillivray if you have to move #295 back then move this back too please

[2016-11-06 14:42] JosephMcArthur commented on #294
@markmacgillivray if you have to move #295 back then move this back too please

[2016-11-06 14:52] JosephMcArthur commented on #383
Closing this, we should fix it with #352

[2016-11-06 14:52] #383 closed

[2016-11-06 14:56] JosephMcArthur commented on #255
@markmacgillivray what's the best route forwards here given what happened with opendatabutton.org?

[2016-11-06 15:02] JosephMcArthur commented on #241
@markmacgillivray please prep a file for FF from the latest release. Then @meganwaps can test that. I think light touch testing is probably okay.

[2016-11-07 07:44] JosephMcArthur commented on #337
I took another go at copy yesterday, it's better now.

[2016-11-07 12:03] markmacgillivray commented on #295
Yes we need to decide when to turn on auto-emailing. So push this back to the next sprint at least, then can see if we want to turn that on yet or not.

[2016-11-07 12:05] markmacgillivray commented on #293
This one is in milestone 6 already, which seems sensible, given that it is to contact people after a month of sign up. And if we do auto email next sprint, can configure this one in the sprint after. If we delay further, can then move this one back further too.

[2016-11-07 12:06] markmacgillivray commented on #255
Still the same - the first step is point teambutton.org to my IP and let me know. Then it depends what the security settings were on the teambutton domain - either it can redirect easily, or I will point it to a page that tells the user to please go to the new site.

[2016-11-07 13:17] markmacgillivray commented on #191
We do, but no time in this sprint to make it happen, and it will work as is for the time being. Moving to next sprint.

[2016-11-07 13:19] markmacgillivray commented on #190
This is "done" in the sense that the new receiver mechanism decouples the response to the user from the submission to osf, and then waits 30 seconds to give osf page time to update. So a cron is not necessary, but this wait will do the job instead.

[2016-11-07 13:19] #190 closed

[2016-11-07 16:14] markmacgillivray commented on #241
OK there is an .xpi file in the develop branch of the unified extension repo, and instructions on the develop branch README. Note, due to firefox annoyances and me not having a developer edition or time to install one before getting on to other things, I could not actually get as far as installing the add-on to firefox. See the notes for details.

Note it probably also means we cannot do user test

[2016-11-07 19:49] meganwaps commented on #241
I'm testing now.

[2016-11-07 21:36] JosephMcArthur commented on #191
Can you reach out to them again and remind them what we need at the least
please?

On Mon, 7 Nov 2016, 8:17 a.m. markmacgillivray, <notifications@github.com>
wrote:

[2016-11-08 02:38] chealsye commented on #400
![button_96x96](https://cloud.githubusercontent.com/assets/9299248/20084757/7c44df68-a532-11e6-97f1-1bf3da11fbaa.png)

I *think* this is right - but the visual weight trips me up. Not a designer and slowly self teaching...

[2016-11-08 03:55] chealsye commented on #352
It's stupid how hard it is to choose a small bit of words. Let's start with this, but I think it'll need adjustments.

What research do you need?
We'll help you get access to the article or dataset you need.
[Give us an article URL[
Find It!

[2016-11-08 04:03] chealsye commented on #337
Sorry - just not getting to this. What is the url for this page? http://oab.test.cottagelabs.com/request/received? I want to make sure I'm looking at the right then and I'm not sure. Thanks!

[2016-11-08 11:39] markmacgillivray commented on #337
@chealsye there is not one specific URL, it is a page generated for each request. It would be at http://oab.test.cottagelabs.com/response/<RESPONSEID> but you can more easily get to it by logging in on the dev site (your account has admin rights) then just view any open request. In the "details" section of the request, you will see a new button called "responder" - click that and it will take you

[2016-11-08 12:10] markmacgillivray commented on #288
@JosephMcArthur could you create a google spreadsheet somewhere in whatever folder you most prefer to keep oabutton stuff on google apps? You don't need to put anything in it yet, just create the sheet and give me access to it and I can configure from there. It is just easier if you create it first where you want it.

[2016-11-08 14:07] chealsye commented on #399
Yes, that's fine. I'll update it.

[2016-11-08 14:07] #399 closed

[2016-11-08 16:31] markmacgillivray commented on #390
I have added to the code to try to refresh the page after the plugin installs, however because inline install can only be done on the live site we can't actually test this until we next update the live site. So this is done, but keeping open until we do an update, at which point I will check it works. If not, we will have to fall back to using some explanatory text.

[2016-11-08 17:10] markmacgillivray commented on #337
Make a URL the default way an author provides content, and the page copy will explain that it must be available publicly at that URL and it must be allowed for the author to provide the content.

When a URL cannot be given, e.g. the content is not yet publicly online anywhere, it can be uploaded, and again the page copy must indicate that the author has the right to do so.

The author must also ag

[2016-11-08 17:11] markmacgillivray commented on #337
Just a reminder, the above comment is a synopsis of recent email discussion on this issue.

[2016-11-08 17:12] markmacgillivray commented on #263
This is in the backend now, and testing #337 also acts as a test for this, so closing this one now.

[2016-11-08 17:12] #263 closed

[2016-11-08 22:28] chealsye commented on #337
Thanks for clarifying, @markmacgillivray.

![screen shot 2016-11-08 at 2 39 25 pm](https://cloud.githubusercontent.com/assets/9299248/20117542/152aab6c-a5cf-11e6-8661-aa88fd43ffa1.png)

May need to be tweaked again though. But this is where my brain is at right now.

[2016-11-08 22:44] JosephMcArthur commented on #288
enjoy:
https://docs.google.com/spreadsheets/d/1j1eAnBN-5UoAPLFIFlQCXEnOmXG85RhwT1rKUkrPleI/edit#gid=0

On Tue, 8 Nov 2016 at 07:10 markmacgillivray <notifications@github.com>
wrote:

[2016-11-09 02:28] chealsye commented on #214
@JosephMcArthur What do you need from me for this? Confused by assignment - except for when actually making posts.

[2016-11-09 12:22] meganwaps commented on #387
This is no longer an issue for myself on Safari. I suggest we close this issue, unless anyone else is still experiencing this issue?

[2016-11-09 12:33] meganwaps commented on #391
The bookmarklet appears to be all aligned now, it's also keeping me logged in a lot longer (days) than it used to-which is fantastic because then I don't have to sign in as often!

[2016-11-09 12:42] meganwaps opened #401 "Wait time to receive login email?"
This is more a question than an issue.
What's the usual wait time for you all to receive your email with your code to login?

It's taking 15+ minutes for my account to receive the email, despite the timestamp saying it was sent immediately.

Is this an issue for any of you, or is my email just being difficult?

[2016-11-09 12:47] markmacgillivray commented on #288
Done. I have added the starting set of URLs to that sheet, and published it. You can add any more that you want into the column.

As we already know the blacklist works via the plugin, all we need to do to see this is working is add things to the list and see if they appear on the blacklist which they do - check the api endpoint with stale set to 0 to see them popping up:

https://dev.api.cottagel

[2016-11-09 12:47] #288 closed

[2016-11-09 12:49] markmacgillivray commented on #401
I get them near instantly. If the timestamp says it was sent immediately, then it sounds like an issue at your end. Some mail clients only check every 15 minutes or longer, what do you use? Also @JosephMcArthur has access to the mailgun account where it shows logs of sends and issues, so he could investigate (or delegate) slow email issues that way too (the backend has no further info on mail send

[2016-11-09 12:51] meganwaps commented on #401
I use Gmail. This time is extremely unusual because it's almost at 30 minutes. Once I receive the code I'll probably have to ask for a new one since it won't be valid anymore.

[2016-11-09 12:58] markmacgillivray commented on #401
Are you finding this problem logging in to the dev site or the live site?

Dev site can be slow if I am working on it, because it can be turning on and off. I have been working on it the last few hours.

I just tested on dev and live and the backend is sending the emails straight away, and I am receiving them straight away.

I am also on gmail, I don't see a delay. I think the gmail default time t

[2016-11-09 13:03] meganwaps commented on #401
This is logging in to the live site.
I just entered my email again and received the message immediately, so I'm not sure what happened last time. I'll close this issue but keep you informed if it occurs again.

[2016-11-09 13:03] #401 closed

[2016-11-09 14:08] #391 closed

[2016-11-09 14:08] #387 closed

[2016-11-09 14:08] JosephMcArthur commented on #401
Can you let us know if the timestamp suggests there is an issue?

On Wed, 9 Nov 2016 at 08:03 Megan Kapidzic <notifications@github.com> wrote:

[2016-11-11 00:27] markmacgillivray commented on #308
This has been enhanced now, was a bit more complicated than expected, but I have tested it too. @meganwaps I will assign to you now, to check it works as planned.

You should now find that if a user on the dev site goes to a page like the new request page and the do a search to find something, if they are not logged in they will be asked to log in to create a request, just as they were before. But

[2016-11-14 12:47] JosephMcArthur commented on #214
So now it would be good to move everything over to medium, then Mark can point the domains there & we're done!

[2016-11-14 14:02] markmacgillivray commented on #192
I didn't get this complete over the weekend, will move into next milestone to get finished. There is not much left to do, but it is all the UI side, so nothing much to show yet.

[2016-11-14 14:04] markmacgillivray commented on #114
This probably supersedes #70 so I will close that one.

[2016-11-14 14:04] markmacgillivray commented on #70
Superseded by #114

[2016-11-14 14:04] #70 closed

[2016-11-14 14:08] markmacgillivray commented on #114
I believe we can close this because we already check these sources. Re-open if there is something extra you wanted it to do that I am missing.

[2016-11-14 14:08] #114 closed

[2016-11-14 14:12] markmacgillivray commented on #112
@JosephMcArthur @meganwaps for this and the other integrations, the key thing seems to be knowing which sources are covered by which other sources - I believe the two of you have been working on this? I can start with this SHARE integration one, and if you are happy that it then means we cover the other sources mentioned above, then I will not implement the other ones that this one already covers.

[2016-11-14 19:46] meganwaps opened #402 "Same request listed multiple times"
In making sure we have location on all requests, I noticed that some requests are posted numerous times on the list.
![screen shot 2016-11-14 at 11 11 10 am](https://cloud.githubusercontent.com/assets/5968703/20280153/214c261a-aa60-11e6-932c-b238eab8c5b7.png)
![screen shot 2016-11-14 at 11 11 00 am](https://cloud.githubusercontent.com/assets/5968703/20280156/26463f84-aa60-11e6-8731-bb9c31e11f66.pn

[2016-11-14 23:39] meganwaps opened #403 "Explore more directions for making a request?"
Hi all,

I was unsure what to title this issue since it's a question as to the users making the requests.
Many of the requests have links which we cannot access, such as log-ins to university libraries and the like.

Should we explore adding new instructions or maybe an infograph as to what makes a good link for us to be able to find their article?

I'm thinking this should fill into the 5th miles

[2016-11-15 12:28] markmacgillivray commented on #305
@JosephMcArthur I still need a pointer from you on where this code is that you think needs fixed and uncommented - see previous comments from me on this issue, I could not figure out where you were referring to. Just let me know and this can be sorted.

[2016-11-15 12:31] markmacgillivray commented on #402
Moving into the current milestone - I will want to get this fixed asap. I would guess it is due to bad connections and so the server receives multiple requests for the same thing before it was possible to save the previous request, so a duplicate becomes possible. We have seen this before, and whilst the new plugin is more stable, there are going to be some occasions due to network issues that we

[2016-11-16 13:29] markmacgillivray commented on #398
Fixed on mobile, assigning to @meganwaps to move on to UI testing

[2016-11-16 15:26] markmacgillivray commented on #110
Zenodo is already added as a /use endpoint so we can deposit to it, but in looking through their API docs for search info, then checking their feature list, I find that they do not have a search API yet.

See https://zenodo.org/features

So if we are covered with this via SHARE, not a problem; if not, then we wait and see.

So I am moving this out from the current milestone, as it cannot be comple

[2016-11-16 15:28] markmacgillivray commented on #109
@JosephMcArthur what actually is La Referencia? Googling it throws up various possibilities. Can you clarify what it is you want me to connect to here?

[2016-11-16 15:33] markmacgillivray commented on #108
@JosephMcArthur onerepo does not seem to exist yet, it is still just a POC and a demo site that appears empty. There is no detail of an API anywhere I could obviously find, and even if there were, there is no evidence of any value in querying it yet.

If this does not exist yet, do you really want such a thing? Is there clear evidence for what specifically it would be used for, beyond catalogue fe

[2016-11-16 15:47] markmacgillivray commented on #112
@JosephMcArthur just notifying you that the API you referenced no longer works, it just 404s. It does say it was a demonstration. I have since found the v2 API which just exposes elasticsearch for search, which is useful, so I will see what I can do with that instead. Just thought I'd tell you in case it is relevant to what you / Megan are doing to decide whether or not the content of SHARE covers

[2016-11-16 18:27] markmacgillivray commented on #112
It turns out also that the new API does not work properly.

Docs describing their v2 API ES endpoint:

http://share-research.readthedocs.io/en/latest/elasticsearch.html

state that the "links" field is available, but it appears not to be.

Their tutorials only show examples using the "sources" field, overlooking the problem searching on "links", and they only appear to store IDs such as DOIs as pa

[2016-11-16 18:51] markmacgillivray commented on #395
OK, this is done on the dev site, things that are probably not a URL to a page on a website cause an alert warning, and do not process. Also strips whitespace surrounding the URL. I will now assign to @meganwaps for UI testing.

[2016-11-16 19:08] JosephMcArthur commented on #109
This is the site I'm thinking about: http://lareferencia.redclara.net/rfr/. If we need help from a native speaker, just let me know.

[2016-11-16 19:11] JosephMcArthur commented on #110
Can we use the OAI-PMH link(https://zenodo.org/dev) & find out when their extended API will be released (&if we can help them test behind the scenes for earlier access).

[2016-11-16 19:13] JosephMcArthur commented on #305
For now, this isn't a priority & so I'm moving out the milestone.

[2016-11-16 19:30] meganwaps commented on #398
Everything on test site looks great and aligned left! I checked via Safari on iPhone as well as Chrome via Android.

Thumbs up!

[2016-11-16 19:56] markmacgillivray commented on #110
We can use oai-pmh, it is just a bit more work than using the API - it is not hard in itself, but we just have not yet written in any oai-pmh yet. So I will get this done if there is time, but if it requires more time it will have to continue into the next milestone.

For getting more info on when they will release, and potentially testing for them, do you want to contact them @JosephMcArthur or s

[2016-11-16 20:07] markmacgillivray commented on #283
Done. It is on the dev site, but is same as plugin and not tagged for test, so I assume OK to close. Re-open if necessary.

[2016-11-16 20:07] #283 closed

[2016-11-16 20:11] markmacgillivray commented on #109
Ooh, yeah I know virtually no Spanish. I google translated it, but did not see anything about "API". Can you get someone to find out where the API is, and where the docs are, and if they are in English? Do you have someone who can speak Spanish? If not, my cousin does.

I will assign this to you for now, because I can't progress it myself.

[2016-11-16 20:19] markmacgillivray commented on #402
Noting for myself, I just looked at a live example which has a duplicate, and the difference in creation time is about 5 seconds.

WThs4w9bbmsBSBLpu

[2016-11-16 20:41] markmacgillivray commented on #333
@JosephMcArthur a script has been done to run weekly for all outstanding requests.

What do you mean by availability requests tied to signed in users? Do you not want to check availability for requests for people not signed in? If so, not signed in when? At the time the script runs? (Which will be some odd time in the middle of the UK night.)

The email to users, that would be the same as an email

[2016-11-16 20:50] natalianorori commented on #109
Hey Mark,

You've got a Spanish speaker here. What exactly do you need? Just got back from OpenCon but I can help you with anything starting later today.

La Referencia is a mexican repository for papers, it is widely used in Latin America

[2016-11-16 20:54] markmacgillivray commented on #109
Hi @natalianorori great!

Somewhere on that site I need to find their API documentation, and if it is in English then I just need a link to it so I can read it.

Otherwise, I need the URL of wherever they serve their API itself, and I can perhaps guess from there how it works.

Or, if their API docs can be read by you, then the specific things I need to know are:

* the URL of their API to send qu

[2016-11-16 20:55] markmacgillivray commented on #109
@natalianorori it is not a huge rush by the way, I don't need to know right now. This is in our current milestone which still has the rest of this week and next week to go, so if you can find out these things by say Wednesday 23rd November, then I should still have time to get us connected to La Referencia during this sprint.

[2016-11-17 06:11] markmacgillivray commented on #402
Given that the duplicate requests were a few seconds apart, it seemed strange that they could have been created - the system when creating does check for already existing ones, so even if the user was suffering network delay issues or if they pressed the button multiple times (due to delay again perhaps causing it not to disappear immediately, although unlikely) the backend should have refused it.

[2016-11-17 06:12] markmacgillivray commented on #402
Also, once we are happy this is fixed, anyone with admin account can go to the duplicate requests and delete them from the system.

[2016-11-17 06:18] markmacgillivray commented on #295
As previous discussion in comments above indicates, we have yet to decide when to turn on auto-emailing, and we need to turn them on at the same time (or decide which ones we are not going to do, and how to make them separate from the ones we are going to do). This needs further discussion / planning, and the other auto-email issues are still further out in milestone 6, so it makes sense to push t

[2016-11-18 04:40] natalianorori commented on #109
Perfect! Thanks for the instructions and I'll get back to you before the weekend ends!

Sent from my iPhone

[2016-11-18 13:06] markmacgillivray commented on #397
This is fixed on dev - use the find articles page on the dev site and you will see it points you correctly to the arxiv version, and shows the correct DOI in the metadata. I will move this to @meganwaps now for testing.

[2016-11-18 14:04] markmacgillivray commented on #68
The openaire /use endpoint now exists. However, it is not connected up to what oabutton uses yet, because we still need to know what new coverage if any we get from doing so. So this is all that can be done technically for this one now, and I will assign to @meganwaps so she and @JosephMcArthur can decide which sources we will actually use.

Note that I don't think openaire contains anything that

[2016-11-18 14:14] markmacgillivray commented on #68
oops never mind about their underlying data being the same, I was looking at an old result page

[2016-11-18 15:32] JosephMcArthur commented on #333
When I first thought about this, I thought that regardless of if someone
made a request, if they looked for something while signed in we'd just keep
looking for it. There would be no action required for this & we'd just
integrate it into messaging. If they searched while signed in, then made an
account, we'd continue to look for it.

The email should be a little different for this I expect. Assign

[2016-11-18 16:22] markmacgillivray commented on #111
Figshare is also now ready as a /use endpoint, but similarly to openaire, only for searching articles. We can search by DOI for a specific article, so all I need to know is if you think this is a source that we would find additional things from beyond where we would already search. If so, I can add it in. Assigning to @meganwaps for now to await decision on which sources to use, and informing @Jos

[2016-11-18 16:27] JosephMcArthur commented on #111
please turn this on, it's not in base.

On Fri, 18 Nov 2016 at 16:23 markmacgillivray <notifications@github.com>
wrote:

[2016-11-18 19:18] markmacgillivray commented on #376
I happened to fix this when adding the URL checking to that box, so closing this

[2016-11-18 19:18] #376 closed

[2016-11-21 12:38] JosephMcArthur commented on #367
Okay, this doesn't seem to be a big enough issue to justify more investigation. Closing.

[2016-11-21 12:38] #367 closed

[2016-11-21 12:46] JosephMcArthur commented on #197
Looks like Share has DOE pages

[2016-11-22 11:37] JosephMcArthur commented on #337
@chealsye @markmacgillivray what's needed to close this now. I can see it's still assigned to you both, and I'm keen to see this released asap.

[2016-11-22 11:42] markmacgillivray commented on #337
@JosephMcArthur last thing I remember is you said you were going to try it last Tuesday and let me know if you think the content is OK (because Chealsye was off last week). It is ready to go, connected to OSF and Zenodo, but does not actually publish to Zenodo because published things cannot be deleted. So once I know the page content is acceptable, and you are happy with how it works, it should b

[2016-11-22 12:30] JosephMcArthur commented on #403
Can you give us some example requests to see this please?

[2016-11-22 15:53] JosephMcArthur commented on #156
included this!

[2016-11-22 15:53] #156 closed

[2016-11-22 15:54] JosephMcArthur commented on #153
@chealsye can you talk more about why this would be useful? Wondering if we can build a UI for it via the site rather than handle other ways.

[2016-11-23 04:55] natalianorori commented on #109
Mark,

La Referencia operates as an Open Source platform, and they develop most of their code on GitHub, the problem might be that their code is both in English and Spanish, but here is a link to their repo: https://github.com/lareferencia?tab=repositories

I found out they work with LRHarvester and LRProvider to validate and transform OAI Metadata, and their platform is developed using Java 1.7

[2016-11-23 09:04] JosephMcArthur commented on #301
We can also get a random list of doi's to test against here ropensci/rcrossref

[2016-11-23 09:38] markmacgillivray commented on #109
Hi Natalia, thanks for looking into it. However it's not their code I really need to know about, but their API if they have one. That is, a web URL where I can send queries to.

I don't know what LRHarvester and LRProvider are, but you say they use them to transform DOI metadata - does this mean that they just have the same content as that which can be retrieved from the crossref DOI API directly?

[2016-11-23 12:24] JosephMcArthur opened #404 "Emails from admin system for login taking minutes to deliver"
I know we've been over time many times, and each time we're getting better. But! During a user test it took a few minutes for the login email to be delivered, but an email from the request system was instant ( I sent that to test out manual vs automatic sending). During this time, I was able to send & receive a message from the login system.

I know we're having trouble replicating this internally

[2016-11-24 10:36] JosephMcArthur opened #405 "Archive resources page"
Have looked and seen many issues relating to this page in the backlog. Despite having invested in renewing this page in the last release I now consider that a mistake - it's not required for a core user journey and isn't fulfilling the need we originally created it for. It's also requiring more effort than anticipated to make & maintain.

So, I want to side step the sunk cost fallacy here and just

[2016-11-24 10:37] JosephMcArthur opened #406 "Release our linkages between DOI's & Datasets in a way other tools can understand"
Few (if any) services provide linkages between datasets & papers, which seems really useful. We will create these, and so as an example to the community should try and release.

[2016-11-24 10:38] JosephMcArthur opened #407 "Blog about how useful connections between datasets & article DOI's would be"

[2016-11-24 10:39] JosephMcArthur commented on #312
@chealsye, have we heard complaints about this? If yes, please open this, if not, closing for now. This seems minor at best and is going to require time we could spend elsewhere to fix.

[2016-11-24 10:39] #312 closed

[2016-11-24 10:48] JosephMcArthur commented on #218
@markmacgillivray just re-looking at this. Can we:
- [ ] remove the box around the hamburger
- [ ] remove the greyish

Otherwise this is good to close. I have tested on android & ios

[2016-11-24 10:49] JosephMcArthur commented on #255
I have asked for the address to be moved twice, no luck yet.

[2016-11-24 10:51] JosephMcArthur commented on #386
@markmacgillivray assigning to you. I think we should just take out the location ask here. But would like to know alternative places we could get some location info (e.g sign up).

[2016-11-24 10:59] JosephMcArthur commented on #214
@chealsye when you've moved posts over to Medium, let @markmacgillivray know and we'll point all the domains there.

[2016-11-24 11:01] JosephMcArthur commented on #110
Okay Zenodo is searched by Openaire. So if we close #107 then this is also good. Closing.

[2016-11-24 11:01] #110 closed

[2016-11-24 11:03] JosephMcArthur commented on #112
@markmacgillivray from our chat I hear they're planning this for the next sprint. Keeping you assigned but bumping to the next sprint. The only action for that sprint is

- [ ] check on if Share are working on fixing this.

[2016-11-24 11:07] JosephMcArthur commented on #398
Thanks @meganwaps. Lets close this!

[2016-11-24 11:07] #398 closed

[2016-11-24 11:12] JosephMcArthur commented on #333
@chealsye can you write an email that can be sent to users when we find them something through the means above? Just needs to be really short and sweet & have a link to the paper.

[2016-11-24 11:20] JosephMcArthur opened #408 "Library & ILL Bookmarklet Mock up for feedback"
![bookmarklet ux v1](https://cloud.githubusercontent.com/assets/4953703/20596627/619ea27c-b237-11e6-97c7-e11515c104cd.png)
![imperial page v1](https://cloud.githubusercontent.com/assets/4953703/20596794/0bda86a2-b238-11e6-91f3-ce3ad95b0403.png)

This is the current status of our mockup for a library/ILL version of the tool. Some notes on the status of the design:
* There are some aesthetic design

[2016-11-24 11:22] JosephMcArthur opened #409 "Journal tool Mock up for feedback"
![journal button](https://cloud.githubusercontent.com/assets/4953703/20596797/1495de54-b238-11e6-8241-df35688c203d.png)

This is the current status of our mockup for a journal page version of the tool. Some notes on the status of the design:
* Ignore the tickbox for copyright rules, that was a miscommunication in designing this.
* We didn't finish the screens for when data is available. The idea w

[2016-11-24 11:22] JosephMcArthur commented on #257
This is closed by #408 & #409

[2016-11-24 11:22] #257 closed

[2016-11-24 11:27] JosephMcArthur commented on #282
Okay, on login this leads to:
* the username field being too large. To fix:
- [ ] Say "Username (required)"
* the profession field not showing fully before click. Not sure how to fix.

It looks fine on /request/new

[2016-11-24 11:42] JosephMcArthur commented on #352
Seems like we could leave the tagline currently there as is, and just have:

Find It!

as we do now on request/new.

This would mean just moving the 1st bar to the frontpage (as we did once before in #300), but this time I'd just suggest having it right under "Get the articles and data you need". That means the first thing you'd see is that tagline & a box for URL's. Then, if you need more info yo

[2016-11-24 11:43] JosephMcArthur commented on #402
Okay, I just made a request from /request/new that seemed to have worked just fine. How deep would you suggest we test this @markmacgillivray. From all systems, or is a spot test okay?

[2016-11-24 11:49] JosephMcArthur commented on #308
Okay, tested on chrome & safari with a finished account. Works wonderfully.

However, I can do this with an account that doesn't have full info. But I also am having trouble making an account on dev atm. @markmacgillivray

[2016-11-24 11:51] markmacgillivray commented on #409
Some quick thoughts:

* we should not have people signing up IN the plugin - if they need an account we should direct them to our signup page then redirect them back to the page they came from, as we already do within our own site.

* So all we need is the embedded button to open the dropdown, which then asks users to sign in or to go to our site to sign up and redirect them back, then they write

[2016-11-24 11:53] JosephMcArthur commented on #303
@markmacgillivray  did you look into the "custom list DOI prefixes, to see if it’s in a known preprint repo" to see if that would be useful for us? I'm happy to ask them about this.

[2016-11-24 11:54] JosephMcArthur commented on #395
Great! this looks good.

[2016-11-24 11:54] #395 closed

[2016-11-24 11:56] JosephMcArthur commented on #333
Hmm, @markmacgillivray we also need to close a request if we find it via this method. Not sure if that's in the script.

[2016-11-24 11:57] markmacgillivray commented on #308
@JosephMcArthur I just made an account on test no problem, no errors on the backend. What trouble did you have?

[2016-11-24 11:59] JosephMcArthur commented on #397
Okay, tested this article & it now works! Yay!

[2016-11-24 11:59] #397 closed

[2016-11-24 11:59] JosephMcArthur commented on #69
In testing #397 I can see this works. Closing.

[2016-11-24 11:59] #69 closed

[2016-11-24 12:01] markmacgillivray commented on #333
@JosephMcArthur yes the weekly script will close a request the same way a normal submission of URL for it would close it. However, we do need to know what to say to the user as the request is found in a different way, and also should we say something to the author, who may have already been asked for the content but did not actually provide it, so the normal email confirming receipt from the autho

[2016-11-24 12:02] JosephMcArthur commented on #333
Okay, @chealsye can you write something for the author too

[2016-11-24 12:02] markmacgillivray commented on #402
@JosephMcArthur I think that will do for now then if we hear from users that they still get this, or if we see more dups on live over the coming weeks, then we can review again.

[2016-11-24 12:03] #402 closed

[2016-11-24 12:06] markmacgillivray commented on #303
@JosephMcArthur did they publish it anywhere? If they are happy to provide it we can use it too. If they are updating it regularly then a URL to where we can get an updated copy would be more useful. Or we can compile our own - ask preprint repos what their prefix is, or infer it from their publications.

Note though that this is not a foolproof method - a DOI prefix does not guarantee that a publ

[2016-11-24 12:06] JosephMcArthur opened #410 "Move staging plugin onto Chrome"
We can:
* simplify our dev install process for team & user tests
* better replicate users environments

by having our development plugin installed via the usual chrome install process. All we have to do is upload that to the store but make it private.

This will take time to update, which isn't ideal in all cases, but where it isn't that doesn't stop folks doing a manual install.

Idea stolen from

[2016-11-24 12:07] JosephMcArthur opened #411 "Form to ask people who're uninstalling why"
Code to evoke this is here: https://developer.chrome.com/extensions/runtime#method-setUninstallURL

idea stolen from: https://medium.com/axiomzenteam/i-almost-lost-10-000-users-369fe9e60abc#.x797t3g9r

[2016-11-24 12:11] JosephMcArthur commented on #303
I've asked them for more info on this.

[2016-11-24 12:16] JosephMcArthur commented on #197
Pubspace just goes into PMC, so, that's okay!

[2016-11-24 12:19] JosephMcArthur commented on #197
NTL is here, note for me: http://ntlsearch.bts.gov/repository/index.do

[2016-11-24 12:21] JosephMcArthur commented on #197
NOAA & CDC will put stuff here: https://stacks.cdc.gov/

[2016-11-24 12:23] JosephMcArthur commented on #197
Smithsonian will go here: http://research.si.edu/

[2016-11-24 12:24] JosephMcArthur commented on #197
USDA will go here, which has an api https://pubag.nal.usda.gov/pubag/static/api.html

[2016-11-24 12:27] JosephMcArthur commented on #197
USGS will be here: https://pubs.er.usgs.gov/ (and Chorus, but also here)

[2016-11-24 12:28] JosephMcArthur commented on #197
Some agencies will be contracting with Chorus to provide access. Their API is here: http://www.chorusaccess.org/resources/funding-agency-dashboard-service-api/

[2016-11-24 12:29] JosephMcArthur commented on #197
For all of the above this resource is my source: https://docs.google.com/spreadsheets/d/1StkRzBvnvnVqVul9YflAuNxIKZpY0ORnGUmntNg1FcY/edit#gid=1957704682 - I've just tried to pull out direct links.

[2016-11-24 12:34] JosephMcArthur commented on #197
Next step here is to find out if Base / OpenAire / Share get these places & if not, make issues to get them ourselves (or get them too)

[2016-11-24 12:38] JosephMcArthur commented on #191
@markmacgillivray have we reached out to them again? Would be good to do in this sprint.

[2016-11-24 12:39] JosephMcArthur commented on #68
Please push ahead as discussed in our meeting on intergrating this.

[2016-11-24 12:47] JosephMcArthur commented on #203
Okay, I played around with this a few nights ago. I couldn't get it to do a thing. Eventually, I got stuck in a redirect loop that was impossible to remove myself from.

I saw no signs of a place to search or an API. This suggests to me that essentially there is nothing to see here for a while. Not going to close for now as one day there may be something. BUT, I'm going move this out the backlog f

[2016-11-24 12:55] JosephMcArthur commented on #196
This system can be found here: https://academic.microsoft.com/ and I think this is the API: https://www.microsoft.com/cognitive-services/en-us/academic-knowledge-api.

I spoke to the guy who was trying to build this and he said that it should be able to go from a title or DOI to an article link (de-duped from sources, with it knowing if that was available or not) soon. That was months ago.

I've t

[2016-11-24 12:56] JosephMcArthur commented on #394
Some notes on this. I made a sheet for base vs openaire. I couldn't do a full evaluation but found out a bunch : https://docs.google.com/spreadsheets/d/178LKl-HTFYt_z7WKFn4kz6Wjb3pzPxJ4BikHBOUI5tA/edit#gid=1232275806. It did seem like there were _some_ differences, but not many. I've suggested we push ahead with having them both. Share had some that base didn't too. However Zenodo & others we don'

[2016-11-24 12:56] #394 closed

[2016-11-24 13:00] JosephMcArthur opened #412 "Allow users to send emails to authors themselves after making a request"
We could allow them to:
* Send them via our server
* Send them from their own account

Either seems better than we have now, where they have to wait. User feedback suggest folks just want to continue on! We couldn't do this prior due to how the system was designed. Now we can. Both routes seem good to me.

First step here is estimating the size of changes needed. Seems like we'd need to:
- [ ] hav

[2016-11-24 13:05] JosephMcArthur opened #413 "Getting emails from Jstore"
Jstore is a popular service, and displays emails for authors. However, we don't get them automatically.

e.g https://www.jstor.org/stable/23344251?Search=yes&resultItemClick=true&searchText=cat&searchUri=%2Faction%2FdoBasicResults%3FQuery%3Dcat%26amp%3Bprq%3Dcat%26amp%3Bfc%3Doff%26amp%3Bacc%3Doff%26amp%3Bwc%3Don%26amp%3Bhp%3D25%26amp%3Bso%3Drel%26amp%3Bvf%3Djo&seq=1#page_scan_tab_contents

You can

[2016-11-24 13:08] JosephMcArthur opened #414 "When you've searched for an article on /request/new you get a sharable URL to the search"
Suggesting so we could search things on people's behalf (e.g when they ask for icanhazpdf) and then invite them to make a request.

[2016-11-24 13:11] JosephMcArthur commented on #301
Okay, talking with @markmacgillivray is may be easier to do this by grabbing a bunch of DOI's from Crossref that are behind paywalls & various years. Then, we can just run them against the find API & see how it goes. That will give us a success figure.

[2016-11-24 13:18] JosephMcArthur opened #415 "If you click "login" button, on sign-in page only display "login" on button and vice versa for "sign up""
Would like an estimation of time needed to make this work before moving forwards @markmacgillivray

[2016-11-24 13:23] JosephMcArthur commented on #308
Okay, I just did hard refresh on chrome & making accounts normally went okay.

Making them after clicking "complete your account" on /request/new didn't work. Hitting save details led to no action. I had the URL http://oab.test.cottagelabs.com/account?next=%2Frequest%2Fnew%3Furl%3Dhttp%3A%2F%2Fscience.sciencemag.org%2Fcontent%2F293%2F5530%2F629%23

[2016-11-24 13:32] JosephMcArthur commented on #335
@markmacgillivray what's the story on getting archive requests up?

[2016-11-24 16:32] JosephMcArthur opened #416 "Change "email" filed on +details on request page to "author email""
Had a user mistake these, not surprisingly.

[2016-11-24 16:35] JosephMcArthur opened #417 "Feels too hard to release things on an ongoing basis"
We need to have a clearer process around releasing things on an ongoing basis. We have lots of closed issues that haven't made it to users yet, but we can't ship changes to pages because they have changes that haven't been tested.

How do we ship more regularly to users?

[2016-11-24 17:10] JosephMcArthur commented on #303
Okay, the code for this is here:
* https://github.com/Impactstory/oadoi/blob/master/oa_local.py#L84
* https://github.com/Impactstory/oadoi/blob/master/oa_local.py#L17
* https://github.com/Impactstory/oadoi/blob/master/oa_local.py#L200
* https://github.com/Impactstory/oadoi/blob/master/oa_local.py#L84
*https://github.com/Impactstory/oadoi/blob/4de92611610def94e9c5e8e9f27fde534f78eb13/oa_local.py#L1

[2016-11-24 17:45] JosephMcArthur opened #418 "Allow DOIs / PMC / PMID (and maybe titles) to be put into our url box on /request/new"
Like http://cx.ctg.li/ & oadoi.org

[2016-11-24 18:18] JosephMcArthur opened #419 "Backend work for ILL / Library Bookmarklet"
Leaving to @markmacgillivray to make issues that are useful for this work.

[2016-11-24 19:21] JosephMcArthur commented on #409
Please note, we're not super close to needing to implement this right now, so I'll probably only take limited feedback. These images only need to be mostly representative for a proposal.

[2016-11-24 21:16] #416 closed

[2016-11-25 12:03] JosephMcArthur commented on #109
Okay, so CORE list this as a provider but list 0 articles from the source: https://core.ac.uk/search/repositories.id:(1730)

I'll follow up.

[2016-11-25 13:10] JosephMcArthur commented on #109
Okay, they've just added a bunch of sources in bulk & think it might be taking time for them to harvest & appear in CORE. This makes sense, as others I looked at had the same issue.

Am awaiting their confirmation of this, but for now let's not implement this ourselves.

[2016-11-25 15:59] JosephMcArthur commented on #109
@meganwaps can you find some article / paywall pairs that would serve as suitable test cases here please?

[2016-11-25 16:43] markmacgillivray commented on #68
Does anyone know how openaire actually states that something is open? I was about to add this to our results when I realised it does not seem to work...

Have a look at this result from openaire:

https://dev.api.cottagelabs.com/use/openaire/doi/10.1142/9789814546898_0036

It says it is open, but the only URLs it gives are this:

http://www.worldscientific.com/doi/pdf/10.1142/9789814546898_0036

W

[2016-11-25 17:38] JosephMcArthur commented on #409
note to self: this could be used for services like pubmedeu & others who aren't pub's but give articles behind paywalls. Need to expand.

[2016-11-25 18:01] JosephMcArthur commented on #109
More on this from CORE: "their OAI base URL http://www.lareferencia.info:8080/oai/provider which resolves into a 404 page"

[2016-11-25 18:48] JosephMcArthur commented on #68
This looks like a book chapter, not an article. Could this be a reason why this is the case?

[2016-11-25 18:56] markmacgillivray commented on #68
I considered that, but the problem still persists in that it does identify it as open, so we would end up passing it back to a user as if they could access it. Whilst we could solve by checking every type that openaire claim to hold metadata on, and only accepting those that we deem appropriate, the underlying concern remains, which is that they identify this as open although it appears not to be.

[2016-11-26 19:01] chealsye commented on #312
There have been no complains on social media, but I'm not sure if we've received any emails or bug complaints.

[2016-11-26 19:12] chealsye commented on #214
@JosephMcArthur All the posts have been on Medium since the spring. I've added the launch blog. Good to go!

[2016-11-26 23:22] JosephMcArthur commented on #214
Great. Are the posts URL slugs the same as those on the site? If not all
links will break on redirect

On Sat, 26 Nov 2016, 7:12 p.m. chealsye, <notifications@github.com> wrote:

[2016-11-26 23:37] chealsye commented on #214
I don't think I can change the slug for a Medium post... I see no options. I've seen old forum posts saying it can't be done and speculation that it would one-day be a paid feature.

The majority of the Medium content is from the old Wordpress site.

[2016-11-26 23:43] chealsye commented on #153
The reason I want author emails from requests is so I can match requests with librarians who can help fulfill requests. Say if there is a request for author@harvard.edu, I have someone I can contact and say, "Hey, we have a request! Want to help fulfll it?" As a scholarly communication librarian I'd love to get that email - it gives me something tangible to go into a consultation with. The need fo

[2016-11-27 10:44] JosephMcArthur commented on #214
@markmacgillivray can you switch the domains and redirect old post to their new posts? @chealsye it would probably be helpful if you could make a quick table of old slug to new slugs for the posts on the current oab site.

[2016-11-28 11:54] markmacgillivray commented on #111
OK it is on. @JosephMcArthur are you wanting all these issues left open so they can be tested once we have a comprehensive list of ones to test against and where we know they should come from the various sources? For now I will leave open but assign to @meganwaps but if this is incorrect, just close this issue.

[2016-11-28 11:55] markmacgillivray commented on #68
This one still needs discussion. Leaving open.

[2016-11-28 12:00] markmacgillivray commented on #191
Discussion is ongoing. I have pinged into slack again and asked for clarification on how to use the API to upload a file as Open Data Button and then to add the author as a contributor. I have asked for a reply via email, but if they have to do it via slack I will check there when I get alerts. Moving on to next sprint to continue discussion.

[2016-11-28 12:02] markmacgillivray commented on #352
@JosephMcArthur I have done this as per how it sounds in the most recent comments, and it is ready to go live. Assigning to you to check it is right, and that it coincides with the outcome you expect between what you suggested and what @chealsye suggested. If happy, please close and it will go live when we decide to push the site update.

[2016-11-28 12:02] markmacgillivray commented on #192
I still did not finish this, will have to move it into the next sprint

[2016-11-28 12:04] markmacgillivray commented on #218
@JosephMcArthur I am not sure what you mean for these, where are you seeing a box round the hamburger? Can you refresh your browser and screenshot it, and tell me which browser you are using? Also where do you mean remove the greyish from? Can do quickly once confirmed.

[2016-11-28 12:07] JosephMcArthur commented on #218
![image](https://cloud.githubusercontent.com/assets/4953703/20667798/27bca78c-b563-11e6-8340-ff5f360374d4.png)

I see it on desktop chrome, android chrome & on iphone safari.

[2016-11-28 12:08] markmacgillivray commented on #335
@JosephMcArthur to be discussed today, sorry it keeps getting delayed - I believe now the final issue is to switch to using URLs that we normalise down to not including the ? or # information. We had previous discussions around this for the plugin side of things, and it DOES send these in the URL because if we ever do want to do something with pages that use these URL params we would need them. Ho

[2016-11-28 12:10] JosephMcArthur commented on #352
I can respond a touch on various screen sizes, eg, tablet(ish) size

![image](https://cloud.githubusercontent.com/assets/4953703/20667891/95cee690-b563-11e6-8342-ebeb7f0daa24.png)

it would also be nice if hitting enter made it "find it".

[2016-11-28 12:10] markmacgillivray commented on #218
Ah OK, looks different for me. I see what you mean about the box and the greyish now. Will look into it.

[2016-11-28 12:16] markmacgillivray commented on #218
Weird. It did not show on desktop chrome for me but did on android chrome (which I should have seen in the phone dev mode on desktop chrome too, but didn't). Anyway, fixed now.

[2016-11-28 12:16] #218 closed

[2016-11-28 12:18] JosephMcArthur commented on #218
Beautiful, thanks. It's far more pleasing now ;)

On Mon, 28 Nov 2016 at 12:16 markmacgillivray <notifications@github.com>
wrote:

[2016-11-28 12:20] JosephMcArthur commented on #192
Anything I can do to help clarify things here?

On Mon, 28 Nov 2016 at 12:02 markmacgillivray <notifications@github.com>
wrote:

[2016-11-28 12:21] markmacgillivray commented on #352
OK, sizing altered for small screens, and enter submits. Closing.

[2016-11-28 12:21] #352 closed

[2016-11-28 12:22] markmacgillivray commented on #192
No, it is just me doing other things first and not finishing this. Will try to prioritise when we look over the next milestone plan. We have the data collecting, it is just the UI of it that I need to finish work on.

[2016-11-28 12:26] markmacgillivray commented on #282
Shortened username and shortened profession text to "Profession (requried)" which matches better with the other placeholder texts anyway. Closing, but reopen if necessary.

[2016-11-28 12:26] #282 closed

[2016-11-28 12:31] markmacgillivray commented on #214
@JosephMcArthur @chealsye I cannot switch until we know the URL slugs are the same, or until I have a list of the redirects to send them to. Otherwise our blog pages would disappear. So I will reassign this for now back to you and @chealsye. As soon as you have these, I can do the redirect, so can assign back to me then and I can still fit it in sprint 6.

[2016-11-28 12:58] markmacgillivray commented on #308
I just tested this again, and works fine with a new account, and the link takes me back to the /request/new page for the URL I was checking, as expected. Maybe your usage just coincided with development taking the backend down at that time? Can you try again?

[2016-11-28 14:53] JosephMcArthur commented on #308
Okay, I got most of the way (managed to sign up okay) but then landed on a 404 with the following URL.

http://oab.test.cottagelabs.com/%2Frequest%2Fnew%3Furl%3Dscience.sciencemag.org%2Fcontent%2F293%2F5530%2F629%23

I think you're changing the URL of those pages though... so probably transient.

[2016-11-28 14:56] markmacgillivray commented on #308
Hmm. That URL is wrong, and not in a way that I am expecting. I will have another look. What browser did you use?

[2016-11-28 14:59] JosephMcArthur commented on #308
chrome, mac.

On Mon, 28 Nov 2016 at 14:56 markmacgillivray <notifications@github.com>
wrote:

[2016-11-28 15:01] markmacgillivray commented on #308
Should affiliation be required? I think the error is because it is not required on the account signup, but is expected by the new request checker. We will have accounts that have not required it, I think. I will change it to not be expected at new request either, and will fix the URL redirect.

[2016-11-28 15:03] JosephMcArthur commented on #68
I'll reach out to them. Moving into this milestone. We have new info here, and did the work agreed for this milestone.

[2016-11-28 15:22] JosephMcArthur commented on #335
This is okay.

[2016-11-28 15:31] markmacgillivray commented on #419
Go through old discussions, talk with s.bannon at imperial and work out what extra we need on the backend if anything, particularly how to pass an auth token from the lib system to the ILL system

[2016-11-28 15:41] JosephMcArthur commented on #386
This doesn't need to be in /requests/new

[2016-11-28 15:58] JosephMcArthur commented on #308
Well, now I think it does need to be required. But that creates challenges
for people without affiliations that we don't have a smooth way of
handling.

I've been thinking that our sign up fields aren't all that well thought
through recently (given new strategies), perhaps it's time for a rethink.
For example, the username / full name split feels like something we could
lose now (for example we co

[2016-11-28 19:41] meganwaps commented on #409
Since at this stage we need limited feedback, I'm going to answer the questions @JosephMcArthur proposed:

- Should the form all be on one page?  Having done user testing, I can tell you that both long time and new users prefer a streamlined look for the button. They want to open as few windows and as few tabs as possible. So one page would really be paramount.
- Should we reduce the fields requir

[2016-11-28 19:45] meganwaps commented on #408
@JosephMcArthur
- Should we change the tickbox to "by using this service you're agreeing to xyz". So no user action is needed.
If this could be a one-time agreement that would be preferable, based on previous user feedback.
- How can we smoothly handle having this been called something different from the main oab?
I like maybe oabi, or OAB @Imperial. In using our name it becomes difficult because

[2016-11-28 21:14] meganwaps commented on #404
It usually seems to take the longest when I attempt to log in. In the past it has taken more than 30 minutes for an email to arrive in my inbox. However I just tried using Chrome and the email was delivered immediately. I'm going to attempt to actually get data so I'll be logging in/out a lot today. I'll try different browsers, and change settings such as developer mode, ad blocker, etc to get som

[2016-11-28 21:23] meganwaps commented on #404
Update: It has been several minutes since I requested a log in code via Firefox and I still have not received an email. @JosephMcArthur @markmacgillivray

I also noticed something interesting, a difference between FF and the other browsers I've used today.

The toolbar on safari and chrome look like this
![screen shot 2016-11-28 at 1 20 23 pm](https://cloud.githubusercontent.com/assets/5968703/206

[2016-11-29 20:39] natalianorori commented on #409
Just gonna go ahead and leave my comments by following Joe's questions:

- Should the form all be on one page? I think this would be the best, less complicated way to go for all of our users. The least tabs the better.
- Should we reduce the fields required to sign up at this stage? I am not sure about this, This should depend on if the journal already has some info on each of the users.
- Strikes

[2016-11-29 22:27] JosephMcArthur commented on #408
Notes for Joe:
* no sign in on bookmarklets
* if found via library take them straight there
* too complex to see what's going on on the mockup. Does that hold to the tool itself
* analytics
* managing users
* having libraries being able to see their requests

[2016-11-30 04:27] chealsye commented on #408
- Should we change the tickbox to "by using this service you're agreeing to xyz". So no user action is needed**. Yes.**
- How can we smoothly handle having this been called something different from the main oab? **I think including "Powered by OAB" can help with that. As we discussed in today's meeting, I agree with using subdomains and most of our site still. We can brand it for them, use a gener

[2016-11-30 04:58] chealsye commented on #214
@markmacgillivray Here ya go: https://docs.google.com/spreadsheets/d/1qfPZ4brtFPfeQsezDV2xhXgyHUUy_ouUDFWn9JZ437I/edit#gid=0

[2016-11-30 11:19] markmacgillivray commented on #409
So it seems we all agree on:

* a simple one-page dropdown
* with no tickbox but implicit agreement on submission
* extra explanatory text in the textarea placeholder text such as "this will be public"
* simplifying / removing signup/signin

I think the biggest point then is signing up /signing in. It simplifies the plugin the most, but is also the most complex to handle. It is not necessarily the

[2016-11-30 11:39] markmacgillivray commented on #408
Using a bookmarklet for this, and having a unique site for each library, sounds a bit different to what I was expecting here based on previous discussions.

* Get it now / powered by OAB on the bookmarklet itself makes sense

* apart from that, the bookmarklet should remain as close to exactly the same as the normal OAB bookmarklet, and only differ where there is a specific requirement - as far as

[2016-11-30 11:46] markmacgillivray commented on #419
Note as with stated on #408 if we assume an installed bookmarklet can read an Imperial ID, we need to know where from.

Can Imperial install the bookmarklet on every browser?

Are we expecting their users are only going to use this bookmarklet on one specific site (e.g. the Imperial library site) - if so do Imperial have control of that site and can they just put a button in the page like the jour

[2016-11-30 19:15] JosephMcArthur opened #420 "Admin page doesn't allow you to see all accounts"
It doesn't scroll when you get to the bottom of the page which means you can't see much

[2016-11-30 19:27] meganwaps commented on #241
@markmacgillivray I apologize, answering this totally slipped my mind. Everything is fine, I just still have 1 of my testing articles which is being linked to an incorrect open article via the button. This has been a recurring problem with this one particular article, http://link.springer.com/article/10.1007/s40306-015-0117-0. However, other than that, I'm able to support requests, make my own, an

[2016-11-30 19:45] meganwaps commented on #337
@markmacgillivray @JosephMcArthur I'm on this now. I'll let you know if I'm having any problems or questions.

[2016-12-01 08:39] JosephMcArthur commented on #409
Rolling into new mock up now.

[2016-12-01 08:39] #409 closed

[2016-12-01 08:40] JosephMcArthur commented on #408
Rolling into new mockup now

[2016-12-01 08:40] #408 closed

[2016-12-01 09:03] JosephMcArthur commented on #408
* request full article button smaller (in line button)
* GetPDF as name
* Change copyright statement
* No sign in
* service provided by statement
* make mockup easier to understand
* oa to ill request needs clarifying

[2016-12-01 09:58] JosephMcArthur opened #421 "When not signed in, open article or request buttons don't work on plugin dev 1.03"
@meganwaps / @markmacgillivray can you try and replicate please?

[2016-12-01 10:40] JosephMcArthur opened #422 "Minor plugin changes"
I need to work up into issues

- [ ] align sign up text & other text with edge of buttons
- [ ] blue to green
- [ ] make title smaller
- [ ] make icons 75% smaller

- [ ] less space on landing page
- [ ] copy over changes from style guide

[2016-12-01 11:16] JosephMcArthur commented on #408
<img width="1280" alt="screenshot 2016-12-01 11 12 18" src="https://cloud.githubusercontent.com/assets/4953703/20791998/924e21a6-b7b7-11e6-93e4-27ab23573022.png">

[2016-12-01 11:16] JosephMcArthur commented on #408
<img width="1280" alt="screenshot 2016-12-01 11 13 19" src="https://cloud.githubusercontent.com/assets/4953703/20792006/9b10cabe-b7b7-11e6-8b39-da96d1cc4f9f.png">

[2016-12-01 11:53] JosephMcArthur commented on #409
- [ ] change sign up
- [ ] powered by is link
- [ ] no sign up required to download
- [ ] can be articles too
- [ ] remove copyright tickbox
- [ ] need statement on request being public in textbox
- [ ] add email box
- [ ] make form one page

[2016-12-01 16:44] JosephMcArthur opened #423 "upload & document style guide"

[2016-12-01 18:00] JosephMcArthur commented on #68
Have reached out to find the right people to speak to.

[2016-12-04 19:51] JosephMcArthur commented on #68
They don't suggest any fixes that would help in the short-term. They only mentioned updating their guidelines, I'm betting that'll take a long time to do & an even longer time to filter down to repo's.

So, in short we can't count on Openaire to deliver the correct answer. Can we do a similar fix to what folks do with Base, check the links we're sent to see if we can get a PDF (and if so, just giv

[2016-12-04 19:55] JosephMcArthur commented on #400
Uploaded to store

[2016-12-04 19:55] #400 closed

[2016-12-04 20:04] #227 closed

[2016-12-04 20:04] JosephMcArthur commented on #227
Done with designer

[2016-12-04 20:19] JosephMcArthur commented on #333
@chealsye nudge on this, thanks!

[2016-12-04 20:19] #423 closed

[2016-12-04 20:21] JosephMcArthur commented on #287
person who was going to help me on this bailed. Moving back.

[2016-12-04 20:44] JosephMcArthur commented on #241
Tried to upload, was told:

[2016-12-04 22:08] chealsye commented on #333
Sorry for the delay on this, @JosephMcArthur. I'm a little confused though.

Here's a draft of the user email, but let me know if this isn't what is intended. Would this also apply for datasets? Or we assuming just articles?

And what exactly do you need for the author? Is this different because they aren't getting a full request and story? Do we need just a someone is looking for your research em

[2016-12-04 22:17] JosephMcArthur commented on #333
Hi, {{username}}!
You previously searched for "{{article title}}" with the Open Access Button, but unfortunately we were not able to find it for you. But good news: we have it now!
You read the article here: {{articleurl}}
Thanks for using the Button,
The Open Access Button team

In this case the author may have been emailed a request, but it has been completed by finding something that's already

[2016-12-05 06:46] JosephMcArthur commented on #337
Okay, I think this is good to go, although could certainly be better. Will handle that in later issues.

@markmacgillivray please push this to master asap. Then tag @natalianorori to let her know the system is operational. If both of you could verify that files are being delivered okay, that would be good. @meganwaps if you can reach out to authors a week or two after we send them a formal request

[2016-12-05 16:30] chealsye commented on #390
@JosephMcArthur @markmacgillivray Is there still blocked copy on this? Or is that just in case Mark's solution doesn't work out when we next update the live site?

[2016-12-05 16:34] chealsye commented on #235
@JosephMcArthur Where are we at one this? Do you have some drafts for Imperial that I could use to inform a draft for this?

[2016-12-05 23:03] JosephMcArthur commented on #390
Just in case

On Mon, 5 Dec 2016, 8:30 a.m. chealsye, <notifications@github.com> wrote:

[2016-12-06 00:22] meganwaps commented on #421
@JosephMcArthur I have not been able to recreate this and have made doubly sure that I'm not signed in on the dev site. I'm able to make requests and access open articles without being signed in using dev 1.03. It takes a few moments for the buttons to load, but both work for me, using Chrome, without being signed in. @markmacgillivray were you able to replicate?

[2016-12-06 00:26] meganwaps commented on #390
I haven't experienced this issue on a personal level since this summer. Is the chrome restart a 'one time' thing, or do we need to tell users to restart every time they download and updated version of the plugin?

[2016-12-06 00:35] meganwaps commented on #403
Apologies for the severe delay in answering this question. I am linking the old location monitoring chart I was using, since some of the requests I mentioned above are no longer appearing on the 'Support Requests' page.
https://docs.google.com/spreadsheets/d/1GKk_Y3wzeXLisMaC-mdS3Zx3tu_uhAoG-q05dKVjZJw/edit?usp=sharing

Look specifically at a request received on November 12th, where the user uploa

[2016-12-06 00:36] meganwaps commented on #388
@JosephMcArthur , would these be analytics for us to use or would they be analytics for all to see?

[2016-12-06 00:37] JosephMcArthur commented on #388
Us too use I'm guessing. Worth looking up.

On Mon, 5 Dec 2016, 4:36 p.m. Megan Kapidzic, <notifications@github.com>
wrote:

[2016-12-06 00:41] meganwaps commented on #388
@JosephMcArthur just done a brief Google search, and if it would help us understand how users interact with our website, it would make the user testing process and our user experience *much* easier. This could also potentially help with the issue you and I discovered regarding people requesting the login email multiple times. As you said, the more data we have for that, the better.

[2016-12-06 00:45] meganwaps commented on #380
@JosephMcArthur just checking, are you testing dev or live? or has this issue been affecting you on both?

[2016-12-06 01:03] JosephMcArthur commented on #380
It'll be on both. But test dev.

On Mon, 5 Dec 2016, 4:45 p.m. Megan Kapidzic, <notifications@github.com>
wrote:

[2016-12-06 01:06] meganwaps commented on #380
@JosephMcArthur No problem. Testing now. Thanks for the step-by-step directions on how to duplicate, it makes things much easier on my end!

[2016-12-06 02:06] meganwaps commented on #380
@JosephMcArthur I'm reproducing your steps on Chrome w/ the plugin dev v. 1.03. So far i've only used articles I know are available in our repositories. I have not been able to to recreate this duplicate test box. This is my process so far:
1. Open plugin.
2. Request what isn't available (usually Data).
3. Keeping the box open, I hit the 'Open Article' button. (the expected behavior of a new tab o

[2016-12-06 02:23] meganwaps commented on #380
@JosephMcArthur @markmacgillivray Okay I believe I have successfully reproduced the problem.
Using an article on JSTOR which is not in our repositories, I followed your instructions and ended up with this little beauty.

![screen shot 2016-12-05 at 6 20 10 pm](https://cloud.githubusercontent.com/assets/5968703/20910657/aeb10a58-bb17-11e6-82b0-baacdd6bd4f0.png)

So that's pretty annoying, but as so

[2016-12-06 05:41] chealsye commented on #333
@JosephMcArthur Hmm okay. I'm definitely confused then. How exactly is it working? Does the author need to receive a link to the successful request page?

Draft:

[2016-12-06 07:12] JosephMcArthur commented on #333
This system will pick up if we find an article in a repository after a user
initially made a request ( regardless of if they make a request ). It will
then let them know we found it for them (assuming they're logged in). This
means a single user action will make us search on their behalf for the life
of the project. As things come out of embargo, or things are deposited
independent of us, or we ad

[2016-12-06 18:07] chealsye commented on #333
Ahhh this all makes more sense now. Thanks, @JosephMcArthur! Embargo expiration makes a lot of sense. I think it makes sense to have this short email when we do have an author's email - but yes, also handling it through page copy is smart.

I like "You search once - we'll look forever."

How about this?

or

[2016-12-06 18:11] JosephMcArthur commented on #333
Haven't been able to look yet, but if you agree about page copy can you
suggest something for what could go on the received page?

On Tue, 6 Dec 2016, 8:07 a.m. chealsye, <notifications@github.com> wrote:

[2016-12-06 21:48] chealsye commented on #333
Hmmm... the page copy could be as simple as stating: "This request has been successfully fulfilled. There is no more action required fromthe author(s)."

[2016-12-07 18:00] JosephMcArthur commented on #333
Sounds good. Is the first sentence a header & the second  the sentence
after?

On Tue, 6 Dec 2016, 11:48 a.m. chealsye, <notifications@github.com> wrote:

[2016-12-07 18:50] markmacgillivray commented on #68
Much of the time, even for an open article, the link would first go to an html page rather than direct to a pdf. We could search that html page for a link to a pdf and then see if we can access that, but sometimes this would give false results because there could be other pdf links on the page, for example to referenced materials. Also, there may be no pdf at all because the html page itself may b

[2016-12-07 18:58] JosephMcArthur commented on #68
Any way we can look for a licence statement with the CL system?

On Wed, 7 Dec 2016, 8:50 a.m. markmacgillivray, <notifications@github.com>
wrote:

[2016-12-07 19:07] markmacgillivray commented on #68
The example page has no licence information on it. It has a copyright-statement xml area which is empty, and a human readable copyright statement which just says it is copyright to world scientific publishing co. But copyright is not licence anyway. So we could search the page of every URL we retrieve from openaire, but we would have to still decide what to do with ones that have no licence statem

[2016-12-07 23:16] JosephMcArthur commented on #68
Can we get anything from cross ref? Or, would the URL we'd be given be the
same as the one given to the system (I.e. the URL openaire gives us is the
same as the URL a user gives us if openaire gives us a paywall).

Sorry to keep pushing this, I just wonder if we can think laterally on
this.

On Wed, 7 Dec 2016, 9:08 a.m. markmacgillivray, <notifications@github.com>
wrote:

[2016-12-08 16:53] chealsye commented on #333
Yeah, that's fine.

[2016-12-10 17:59] markmacgillivray commented on #412
On the request page, which a user is directed to after they create a request, we can add a button that shows for the user that created the request - it can say "email the author". We could also say on the plugin after they create their request "go and do more via the request page" to make it clearer there are more things to do, if we don't make that clear enough already.

Once a user chooses to em

[2016-12-10 18:02] markmacgillivray commented on #386
Would asking for location on sign up seem a bit weird? It is not really clear why location would be needed at sign up - I would wonder why oabutton needs my location during a sign up process. Asking whilst using the bookmarklet / using the requests page may also not be totally clear, but at least it relates to the act of creating a request.

I can easily remove the location requesting from the plu

[2016-12-10 20:00] markmacgillivray commented on #303
This is mostly a straight lift of everything on the datacite page of DOI prefixes that have submitted to datacite. There are some errors in what appears to be the method they used to scrape the prefixies, resulting in things like 10.61 instead of 10.6100 - as it stands, and as it is used in this code, this is likely to result in misinterpretations of certain prefixes. This could be fixed quite eas

[2016-12-10 20:00] #303 closed

[2016-12-10 21:41] markmacgillivray commented on #214
All blog post redirects have been put in place now on the dev site. Please check that all the blog URLs on /blog now go to where you want them to go.

I have also set redirects openaccessbutton.org/blog and blog.openaccessbutton.org to go to medium.com, so we could use those in future on our medium blog, as well as or instead of the medium.com/@openaccessbutton part. But to do this, it looks like

[2016-12-10 21:43] markmacgillivray commented on #241
Odd. Steve thought it would not make a difference, but perhaps if it was already created with that ID then it needs to be the same. I have changed in dev, but need to create a production version anyway so that the FF plugin points to the live site, not the dev site. Also, as there is currently a bug to fix on the plugin, I will fix that then have the FF plugin updated too, then we can retry submis

[2016-12-12 12:47] markmacgillivray commented on #192
Have made progress on this but still not complete so will continue into next milestone. I have written functions to extract the data from what we store in such a way as to provide the stats we need. These stats will drive visualisations, but those are still not in a state to show. However, the main stat figures have been added to a stats overview page now, with some headline data and table of plug

[2016-12-12 12:55] markmacgillivray commented on #419
Copying my notes over from mockup issues #408 and #409

#408

Using a bookmarklet for this, and having a unique site for each library, sounds a bit different to what I was expecting here based on previous discussions.

Get it now / powered by OAB on the bookmarklet itself makes sense

apart from that, the bookmarklet should remain as close to exactly the same as the normal OAB bookmarklet, and onl

[2016-12-12 12:59] markmacgillivray commented on #419
Issues I will probably want for this, still considering:

* identify user via their being logged in locally already (look for cookie values)
* identify user of bookmarklet if necessary - e.g. have them sign in (preferably not)
* make user sign up to oabutton if necessary (preferably not)
* make user provide extra data to oabutton if necessary (preferably not)
* send a query to the library catalogu

[2016-12-12 13:51] markmacgillivray commented on #335
The old data / new data issue continues to be increasingly annoying. As this issue has become a kind of placeholder for it, I am writing some updates here.

Had hoped to simplify URLs down to without the query params, although did not do this initially because of concerns about how to represent search pages. Decided to do this, so that we could dedupe things easier, but found that not only do sear

[2016-12-12 13:53] markmacgillivray commented on #308
I think for now to get this closed we should leave it not required. Later followup with users to collect more data could be a good approach. Also, requiring less encourages more signup.

[2016-12-12 14:11] markmacgillivray commented on #111
For the first one, it has no DOI, and I have yet to find a reliable way to search figshare without DOI. For example, searching for the entire title of that article without quotes returns many results, and none of the first ten are the right one. It is not clear how deep we would have to scroll to find it, if it comes up at all. Searching the full title in quotes returns no results. Searching the t

[2016-12-12 20:46] chealsye commented on #214
@markmacgillivray, I can fill out the form. What registrar do we use to manage your DNS records?

By the way, @JosephMcArthur - Our Medium account is associated with our Twitter account. Just wanted to mention it, because we don't have it set up in our access docs, but you do have access to it as does anyone else on the team with Twitter.

[2016-12-13 19:41] meganwaps commented on #380
Hey @JosephMcArthur @markmacgillivray I was wondering if there's any news on this? What more can I do so we can resolve and close this issue?

[2016-12-13 19:42] meganwaps commented on #421
@JosephMcArthur @markmacgillivray I am still unable to replicate this issue. Any luck?

[2016-12-13 19:52] meganwaps commented on #111
@markmacgillivray So after some further research (since I was personally kind of stumped) I understand now that on FigShare, those who choose to publish are immediately given a DOI, but can option to Reserve the DOI if the author does not want the material to be readily made available.

So I guess the question I'm proposing is; is this a problem with the button/figshare or is it the issue of artic

[2016-12-13 20:04] markmacgillivray commented on #111
I'd say it looks like what happens is people put something on figshare and get a doi, but then later they publish that thing with some journal, which gets a different doi. Or it may even happen the other way round, it goes on the journal then later on figshare. The problem is that the figshare version - and sometimes there is more than one, because they probably made changes then decided to publis

[2016-12-13 20:05] markmacgillivray commented on #380
I believe this is up to me to fix now.

[2016-12-13 20:12] meganwaps commented on #111
@markmacgillivray thanks so much, seriously I've been so lost on this! I think we probably need to discuss this at a Dev or leadership meeting and see what others think. It would be fabulous to be able to  effectively search Figshare, but that 25% error rate could be a PR disaster, as well as a mess during user testing. That being said, if we wanted to, I could easily add searching Figshare papers

[2016-12-15 23:30] meganwaps commented on #181
@JosephMcArthur can we speak further about this and the above checklist?

[2016-12-16 12:01] markmacgillivray opened #424 "Update login UI with email status"
Once we can send mail via POST instead of SMTP, we can possibly poll the mailgun events API for specific message IDs, then it should hopefully be possible to update the login UI every few seconds with a status of how the login email is doing. If the events API indicates the message has failed, we can direct users to email us at some help address.

[2016-12-18 19:22] #308 closed

[2016-12-18 20:00] markmacgillivray commented on #390
Fixed, the forced page refresh causes the page to reload and then to match the newly installed plugin with the api key, and indicates on the page that it is now available to use.

[2016-12-18 20:00] #390 closed

[2016-12-18 20:11] markmacgillivray commented on #214
@chealsye I use godaddy, but I don't actually control the domain. I think Joe and David did also use godaddy though, so if all you need to know is who the registrar is, that is it. Odd that they would ask though, it can be looked up by automated tools.

Note @JosephMcArthur this may require things being done to the domain dns setup, so if there are still issues getting those done, those issues wil

[2016-12-18 20:12] markmacgillivray commented on #191
Discussion continues. Moving to next milestone.

[2016-12-18 20:13] markmacgillivray commented on #68
I'm going to assign this to @JosephMcArthur for now, to think about when we may return to this issue, or give an answer on whether or not to risk openaire results at the moment. Also moving on to the next milestone

[2016-12-18 20:15] markmacgillivray commented on #337
Moving this up to current milestone to keep it in mind

[2016-12-18 20:17] markmacgillivray commented on #419
Moving up to current milestone, I think I have everything here, this should prob just stay open until we start the milestone to actually do this work, hopefully at start of new year.

[2016-12-18 20:18] markmacgillivray commented on #386
This is straightforward to do once we make the decision - assigning to @JosephMcArthur to make him think about the above :)

[2016-12-18 20:25] markmacgillivray commented on #202
Note to self - this should just be text added to the author request email, saying if they are the wrong person please sign up to oabutton then go to the request page and change the contact email address for the article.

So just need to add a check on the request page to allow current user to say "I was requested this but it is not me" - then they give a new email address, and we save the old emai

[2016-12-18 20:40] markmacgillivray commented on #415
Done on dev, will push to live at next update.

[2016-12-18 20:40] #415 closed

[2016-12-18 20:47] markmacgillivray commented on #290
This looks to be working as expected now. On the dev site, there is this request:

http://oab.test.cottagelabs.com/request/ByAEhWpDmnaLteb2H

and in the story for it, it has the phrase "potentially useful paper". There are also other requests with the words useful and paper occurring in them, searching for just the word useful or the word paper return 2 and 6 results, searching for potentially use

[2016-12-18 20:47] #290 closed

[2016-12-19 03:38] markmacgillivray commented on #183
Turns out they are automatically generated by google, and we cannot control them. They are what google think is most useful for visitors.

The ones it shows now seem pretty useful, no?

I think this can be closed now, but will leave open and assign to @JosephMcArthur for final decision

[2016-12-19 03:44] markmacgillivray commented on #335
First batch of 1000 went fine.

Second batch had none from known users (that is OK, we know we will lose about 3000 of the total from very old accounts).

Third batch only seems to have retrieved about 60, and not sent the completion email. Re-check this lot for anything erroring out. Have updated the code to just rerun a batch and ignore those it already processed, so rerunning it again.

[2016-12-19 03:52] markmacgillivray commented on #335
So, there still appear to be occasional dropouts of very large data loads through phantom, but not as bad as they were when we started. And rerunning now picks up whatever was missed. And having gone over and over the best ways to match the URLs, or at least having picked the least bad way, it appears to be actually working well enough!!! I have not deleted the first two batch attempts on the live

[2016-12-19 04:51] markmacgillivray commented on #335
Third batch completed (from 2000)

[2016-12-19 08:37] JosephMcArthur commented on #183
3/6 pages I currently wouldn't want shown (support, /request/new, /advocacy). I swear there is a metadata schema for this that you can provide in the site map (or something like that). But, if you've looked & we can't change them then please close.

[2016-12-19 08:39] JosephMcArthur commented on #214
Will get this changed when I have domain control

[2016-12-19 08:42] JosephMcArthur commented on #419
I'd actually suggest we make issues for these & a milestone (currently without due date). Then, when we move on it we'll just make that milestone the sprint. Just keeps things a bit cleaner by my taste as we've done the work here.

Your call though.

[2016-12-19 08:43] JosephMcArthur commented on #337
If this is pushed to live, I think we can close. Correct me if I'm missing something above.

[2016-12-19 08:43] #337 closed

[2016-12-19 08:55] JosephMcArthur commented on #68
So, this comes down to risk essentially. I've asked them to put a number on how often they're going to get this wrong. From there, we'll make a call on if it's worth it. My bias is towards turning it on.

When I say checking Crossref & the URL's, what I'm saying is that if the DOI goes to the same URL as openaire is linking is to it's NOT something we want to send the users too because most dois g

[2016-12-19 09:04] JosephMcArthur commented on #202
Assigned @chealsye for some copy on this

[2016-12-19 09:13] markmacgillivray commented on #335
fourth batch finished whilst I was asleep, no issues. Running next one now.

[2016-12-19 09:15] markmacgillivray commented on #183
I thought so too, but according to google dev docs, nope.

[2016-12-19 09:15] #183 closed

[2016-12-19 09:23] JosephMcArthur commented on #183
¯\_(ツ)_/¯

[2016-12-19 09:24] JosephMcArthur commented on #333
Have now added the email needed for this to dev:
* emails to author
* email to user if they just searched
* email to user(s) if they requested

@markmacgillivray we need an email merge tag for the article url we're sending people to close this, though. Previously we've just sent folks to request pages and here they may not have made a request.

[2016-12-19 09:27] markmacgillivray commented on #335
spotted a uri error in catalogue.extract flash by, that could be the cause of the occasional fallouts. Will add extra try/catch to that. That would be good, if the URL is malformed then we are falling over on ones that must be invalid anyway. Will do a search on the old data to verify. Kicking off the 4000 batch again.

[2016-12-19 09:39] JosephMcArthur commented on #111
I've reached out to figshare to see if they can shed any light on the title searching issue, or generally advise here.

[2016-12-19 09:43] JosephMcArthur commented on #117
@markmacgillivray does Crossref / fundref give us any easy wins here once we have the DOI?

[2016-12-19 09:46] JosephMcArthur commented on #197
@meganwaps can you push forwards the above?

[2016-12-19 09:46] JosephMcArthur commented on #255
Continued to ask, am bumping this fowards

[2016-12-19 09:47] JosephMcArthur commented on #117
I think if we can get what info we can just from the DOI, it's okay to "call it a day" on this issue.

[2016-12-19 09:48] JosephMcArthur commented on #181
What do you need to know?

[2016-12-19 09:51] JosephMcArthur commented on #404
Okay we've discovered _some_ of the issues here. They related to a poor set up of our domain & IP on the mailgun side. These are now being fixed by working directly with them. I

[2016-12-19 09:51] #404 closed

[2016-12-19 10:00] JosephMcArthur opened #425 "Guide an author on what they can deposit on the received page using sherpa romeo"
Needed:

- [x] technical implementation @markmacgillivray
- [x] copy on what to deposit for white, blue, green, yellow & we don't know @chealsye
- [x] Maybe: copy in email that suggests we'll tell them what to deposit @chealsye

[2016-12-19 10:09] markmacgillivray commented on #335
batch 4000 done

[2016-12-19 10:14] JosephMcArthur commented on #386
- [ ] Remove it from the bookmarklet & /request/new page. We'll keep it in the plugins.

- [ ] Once that is done, we'll close this & start up a separate issue for discussion of how to get it instead.

[2016-12-19 10:16] JosephMcArthur commented on #372
I think this can be done via mailgun if we have a "mailing list". Not sure if it's easier to do that, or just via our own system. I'd like to be able to track our unsubscribe rate quite closely.

[2016-12-19 10:18] JosephMcArthur commented on #192
Stats page looks wonderful. Really looking fowards to interactivity & visuals!

[2016-12-19 10:21] JosephMcArthur commented on #246
Assinging @markmacgillivray as he is more likely to know what this will mess up.

I'd suggest:

- [ ] oab_static --> Website and Emails
- [ ] backend --> Discussion
- [ ] unified-extension --> Plugins

[2016-12-19 10:27] JosephMcArthur commented on #112
@markmacgillivray have we heard back on Share on this?

[2016-12-19 10:28] JosephMcArthur commented on #421
Alright! Then I'll shut it.

[2016-12-19 10:28] #421 closed

[2016-12-19 10:35] JosephMcArthur commented on #417
Options:
*Perhaps at each sprint meeting we should just have an agenda item about what is ready to be released? This fails when we need faster releases though.
*Perhaps a label would also be useful? We can tag issues that are ready for release as such when we shut them? Then, when we do a release go back and remove those issues? This feels a bit arduous, though.
* Can we use the releases tagging f

[2016-12-19 20:33] markmacgillivray commented on #335
5000 done

[2016-12-20 03:15] markmacgillivray commented on #335
6,7,8000 ran fine, 9000 fell over once, then seemed to hang indefinitely with 100% cpu on a phantomjs process. Restarted app and kicked off 9k again

[2016-12-20 03:37] markmacgillivray commented on #335
9k done, 10k done with no users for blocks in that range

[2016-12-20 04:55] markmacgillivray commented on #335
11k done, 12k no users

[2016-12-20 08:23] JosephMcArthur commented on #335
For ones without users attached, what are we doing with them?

On Tue, 20 Dec 2016, 5:09 a.m. markmacgillivray, <notifications@github.com>
wrote:

[2016-12-22 06:18] JosephMcArthur opened #426 "Should we always cc users in request emails?"
Suggested in #412 for a new system, but should we do it for everything?

[2016-12-22 06:20] JosephMcArthur opened #427 "After making a new request invite a user to send an email to an author immediately"
Building off #412

Seems like what we need to do to allow users send the emails themselves is:

- [ ] Build an action area in the request page (I'd suggest we think about this as a more generic "action area" since we'll probably want them to do other things at different stages) and put a "email author" button in it - @markmacgillivray
- [ ] Decide if we need to alter plugin copy to make it clearer

[2016-12-22 06:20] JosephMcArthur commented on #412
I'm not convinced we don't want users to be able to send via their own email. But, we have little actual data on that other than hearsay so let's move forwards where we have agreement & circle back later.

Okay, that's the decision I wanted to get to for this issue (not this is a discussion / question). New issues on route to break this down. Will reference this.

[2016-12-22 06:20] #412 closed

[2016-12-22 06:21] JosephMcArthur opened #428 "Allows users to send emails for their own email account"
Background discussion in #412

[2016-12-22 06:36] JosephMcArthur opened #429 "Set up Zendesk"

[2016-12-22 06:38] JosephMcArthur commented on #109
Am still trying to make progress on this bts

[2016-12-22 06:49] JosephMcArthur commented on #417
Another thought. It's harder to release than it should be when we have multiple changes happening on a page at once. If one change finishes before the other we have to wait for everything to be ready on a page before we can release. Ways to address this are:
* working on only one thing at once per page (quite unrealistic I think)
* making a branch for each change (can we then spin up dev sites for

[2016-12-22 07:09] JosephMcArthur opened #430 "Soon & Monitoring Milestones to fix small issues in workflow?"
Hi @OAButton/team,

Some alterations to our workflow I'd suggest & would like some feedback on:

## Monitoring

Currently, in Milestone 7 we have at least 5 issues that are just us doing minor work to bugs others to push things forwards for us (this has been happening consistently for a while now). That's about 20% of what's actually in the sprint and it's likely that we won't be able to close the

[2016-12-22 07:17] JosephMcArthur opened #431 "Is anyone still using Zenhub"
@OAButton/team is anyone still using Zenhub? The thing I used it for is now done by Github natively (essentially "projects") and would suggest we just use that (to simplify workflows & provide more transparency to externals) unless someone is loving it.

[2016-12-22 10:00] JosephMcArthur commented on #273
We may want to do this in #192

[2016-12-22 10:03] JosephMcArthur commented on #343
Could do this with #424

[2016-12-22 10:07] JosephMcArthur commented on #169
@markmacgillivray we seem to have thought about this a bunch recently, any new thoughts here/

[2016-12-22 11:22] JosephMcArthur opened #432 "Simplify info collected at sign up"
I think having a username / full name / profession combo is ott now & we're not getting as many signed up users as I'd like. We have a chance to simply / upgrade to:

* First Name
* Last Name
* Profession (with a refined list)
* Email
* Affiliation (with consideration as to if it should be optional)
+ two usual tick boxes

and after they sign in:
if not on chrome & firefox in the same
* Option to

[2016-12-22 11:35] JosephMcArthur opened #433 "Anonymity for users during requests"
I've had several people suggest that they'd like to see us implement anonymity as part of the request system & on the site generally. This is an issue to think about the implications of that & how to make it work.

@OAButton/team

[2016-12-22 12:50] markmacgillivray commented on #432
I also agree that we ask for too many names, and I've never liked it. I'd
prefer just using email addresses and nothing else, but then some people
get surprised when their (public...) Email address gets displayed publicly.
So I'd go for email and name - intentionally non-specific as to what sort
of name, or what part of name.

We could say that name will be used to publicly refer to them in reques

[2016-12-22 13:26] markmacgillivray commented on #431
I'm using zenhub less and less. would make no difference to me if it stopped being there.

[2016-12-22 13:32] markmacgillivray commented on #428
I'm a bit confused by this - on the last issue I said we should not push people towards using their own email accounts to contact authors because it leaves us with no way to track what is going on - therefore, the app we run serves no purpose in that context.

But this does NOT mean that users cannot email authors from their own email accounts - of course they can. Anyone in the world can email an

[2016-12-22 13:39] markmacgillivray commented on #430
A monitoring milestone makes sense. Better than a tag.

Remember too we can run parallel milestones, which may also help with the problem of knowing when to release things - every two weeks we can have a dev milestone going, and a test milestone where stuff that was dev'd in the last milestone group is ready to test. Then release happens at the end of the test milestone. If desired, there could be

[2016-12-22 13:41] markmacgillivray commented on #333
Pulling up to latest sprint I'm working on.

[2016-12-22 13:55] markmacgillivray commented on #117
I think this would need more clarification. What is the purpose of the association? What do each mean?

* funders - understandably, the person / people who funded the research the article is about. There are various sources we could retrieve this from, but all are patchy. I am not sure if crossref has enough to be useful, and not sure of the state of fundref. For lantern we use grist where possibl

[2016-12-22 13:56] markmacgillivray commented on #117
Moving to current(ish) milestone to track easily

[2016-12-22 14:01] JosephMcArthur commented on #353
closing in line with #405

[2016-12-22 14:01] #353 closed

[2016-12-22 14:01] JosephMcArthur commented on #299
closing in line with #405

[2016-12-22 14:01] #299 closed

[2016-12-22 14:02] JosephMcArthur commented on #284
No edits to resource page needed in line with #405

[2016-12-22 14:22] JosephMcArthur commented on #405
all changes pushed to master in oab_static. Closing.

[2016-12-22 14:22] #405 closed

[2016-12-22 14:23] JosephMcArthur commented on #417
updated readme in static

[2016-12-22 14:27] JosephMcArthur commented on #153
feels connected to #192

[2016-12-22 14:29] JosephMcArthur commented on #405
@chealsye the copy for this can be seen here: oab.test.cottagelabs.com/resources. Please reopen if you're not happy?

[2016-12-22 14:29] markmacgillivray commented on #417
Working on one thing at once per page is too restrictive, we would be crawling.

A branch for each change is possible if that helps the person doing the change - but running sites for every branch is not. If you really wanted to do this, everyone could learn how to run the site on their own laptops for dev purposes. This seems a bit too much when everyone apart from me are just doing text changes

[2016-12-22 14:48] JosephMcArthur commented on #366
Came here like "this isn't important anymore", then saw my comment. Turns out it is, well played past Joe.

[2016-12-22 15:00] JosephMcArthur commented on #366
Committed to develop. Need testing

[2016-12-22 15:03] markmacgillivray commented on #366
Presumably markdown also enables tracking, guessing you mean that by having html content that tracker img links can be inserted into the email? If so, markdown becomes html which can then also be tracked too - so just to let you know, could probably achieve the same goal with html or markdown. did we already enable markdown in the email templating system though? can't remember...

[2016-12-22 15:06] JosephMcArthur commented on #366
We didn't enable to markdown to html thing. I've now changed them.

On Thu, 22 Dec 2016 at 15:03 markmacgillivray <notifications@github.com>
wrote:

[2016-12-22 17:07] chealsye commented on #405
Okay...

[2016-12-22 17:12] chealsye commented on #428
I agree with Mark. Users can email on their own already and the Button doesn't need to fulfill it, but the worst part is we wouldn't know if the author fulfills the request. The tricky thing is thought that authors typically can legally send an individual the publisher's PDF, which they couldn't through the Button/IR.

There will be many cases were an article is embargoed for 12 months and we can'

[2016-12-22 17:13] chealsye commented on #431
I never really used it.

[2016-12-22 17:57] chealsye commented on #433
I think this would be important. Technically they can to search for an article and the Button will continue to look - but we won't have a way to notify them when they are available. But anonymity would be very important in many scholarly communities where people are worried about providing the wrong kind of pressure to a senior colleague, especially important with datasets that can't find as insta

[2016-12-22 19:07] svmelton commented on #433
I also think this is important.

I've been pondering @chealsye's point, and I think she's on to something. Creating a user account adds an extra step when we may not always need it.

[2016-12-22 19:43] markmacgillivray commented on #433
Without user accounts we also can't have people supporting requests - it would be impossible to count how many people support something if we can't tell the difference between people. So a request would just be a one-time thing. We could try showing how many users clicked the button on that URL, but that does not necessarily mean they support the request.

There's probably also a wider philosophic

[2016-12-22 19:49] JosephMcArthur commented on #183
On /advocacy & /support can we tell google not to look at the page (norobots?)

[2016-12-22 20:15] JosephMcArthur commented on #433
Hmmm, I think removing user accounts entirely would be too radical. However, I don't think it would be too radical to ask for info ONLY when someone makes a request. I think I've suggested this before, but we decided against it (as it puts a barrier in the way of someone making a request right when they want to).

In general, I think having some info on people is still useful to provide, normally,

[2016-12-22 20:16] JosephMcArthur commented on #433
@chealsye I'd be interested in a Twitter poll seeing how interested people are in something like this? Perhaps just asking generally if they've ever been afraid to ask for someone from someone senior in the field rather than about this feature or us in particular. Maybe posting it on the OpenCon discussion list?

[2016-12-22 20:18] JosephMcArthur commented on #430
I've added a few to monitoring to give more of a taste here.

[2016-12-22 20:21] JosephMcArthur commented on #366
Okay, have tested the login email now it's html-ified. Works fine.

[2016-12-22 20:21] #366 closed

[2016-12-22 20:25] JosephMcArthur commented on #293
Still not ready to turn this on, moving into the backlog.

[2016-12-22 20:25] JosephMcArthur commented on #294
Still not ready to turn this on, moving into the backlog.

[2016-12-22 20:25] JosephMcArthur commented on #295
Still not ready to turn this on, moving into the backlog.

[2016-12-22 20:37] chealsye commented on #433
In order to make a culture change, we have to have users. If problems with the signup/login process or a desire for anonymity prevents us from acquiring users, we cannot achieve the changes we want.

How successful have supporting requests been? Are people actually choosing to support a request - or do they just happen to search for the same article?

Yes, it would be great that people are willing

[2016-12-22 21:05] markmacgillivray commented on #433
We're not doing accounts because we always had them, because we didn't
always have them.

If people are calling oadoi legal sci-hub, and if that is a good thing,
does that mean you think that is what the button should be? In my opinion
that's easy and we've been capable of doing it for years. The point of
requests is legally getting stuff that can't be found - NOT just showing
the links to things

[2016-12-23 10:56] markmacgillivray commented on #433
Read the impactstory blog post that Joe linked to:

http://blog.impactstory.org/nps/

Note how much it discusses doing what the users "personally" want.

Also, see how much they consider themselves like a startup.

Are these good things to be doing, do you think we should be more like that?

This is the point that is interesting me right now - a lot of what was research projects / open access advo

[2016-12-23 12:14] JosephMcArthur commented on #432
Not responding to the above, just noting for myself that we could remove tickboxes for terms assumed to be okay on saving details.

[2016-12-23 12:29] JosephMcArthur commented on #433
This is a super interesting discussion to read, certainly a lot to think about.

I'm just going to drop a note or two here for myself while I was thinking about this last night. Doesn't reflect my opinion on the above which I haven't had time to really process. I'd suggest folks ignore till I have time to articulate!

* Need info to protect authors from spam & moderate requests? Or, is a good stor

[2016-12-23 12:54] larsjuhljensen opened #434 "Access of OAButton as web service"
It would be great to have a way to access this as a web service, e.g. via a REST API. I do not find it on the website, but it was hinted to me on Twitter that this in fact exists (https://twitter.com/Mcarthur_Joe/status/812277276217851904)

This could be useful for people like myself who work on text mining and thus often need to download many articles.

[2016-12-23 13:09] markmacgillivray commented on #434
Yes there is an API. It is a question for @JosephMcArthur whether we are publicising it or not - as you point out, the site does not mention it at the moment. @JosephMcArthur should we have some content on the site about the API?

@larsjuhljensen however I am not sure how our API would help you with text mining - we can't provide you with articles. We can provide you with links to where we think t

[2016-12-23 13:13] markmacgillivray commented on #434
@larsjuhljensen it would also be possible for you to initiate requests via the API, for things you want to text mine that we cannot already find access to. You could also add your support to requests that are already open for URLs you are interested in. Let me know if you want more details on how to do this.

@JosephMcArthur you may want to consider if supporting this use case is something you wan

[2016-12-23 13:26] markmacgillivray commented on #386
OK, it has been removed and pushed to live.

[2016-12-23 13:31] JosephMcArthur commented on #386
@chealsye can we add a note on this to our mini post on making it simpler
to use ( easier nav etc)

On Fri, 23 Dec 2016, 1:26 p.m. markmacgillivray, <notifications@github.com>
wrote:

Assigned #386 <https://github.com/OAButton/backend/issues/386> to
@JosephMcArthur <https://github.com/JosephMcArthur>.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on G

[2016-12-23 13:33] JosephMcArthur commented on #386
Thank you Mark. We'll roll discussions on where to get location data into the sign up issue #432. Seems like that is the next best place to discuss.

[2016-12-23 13:33] #386 closed

[2016-12-23 13:35] markmacgillivray commented on #202
@JosephMcArthur @chealsye note that things like this would be greatly impacted by anonymisation too - if we don't have user accounts, we cannot know who we should let edit a request. Either nobody can, or everybody can.

Having accounts but allowing anonymous requests would enable us to have this extra level of functionality, but would still mean we could not identify the user that created a reque

[2016-12-23 13:53] markmacgillivray commented on #246
Done, called "website", "discussion", and "plugin".

I have changed the deployment configs.

Note @JosephMcArthur @chealsye if you are doing any work at the moment on oab_static you should change whatever local patterns you are using to edit the content to work on "website" instead.

[2016-12-23 13:53] #246 closed

[2016-12-23 14:16] larsjuhljensen commented on #434
That looks really useful, thanks! I did not expect to get the document directly, just a pointer to where I can probably find it. I already have some code for automating navigation of splash pages to find the actual document, although it needs to be improved.

If I were in your shoes, I would probably not want to enable the API to also initiate requests. You could all too easily end up being floode

[2016-12-25 13:43] JosephMcArthur commented on #255
Teambutton.org now directs to the site. However, no message shows right now.

[2016-12-27 13:02] JosephMcArthur commented on #333
@markmacgillivray do we have records of what old users (pre oa-week) have searched for & can they be rolled into this?

[2016-12-27 13:03] JosephMcArthur commented on #333
Also @chealsye do we want a little nod to this feature on the website anywhere or on the plugin / /request/new pages themselves.

[2016-12-27 13:08] markmacgillivray commented on #333
We can run the weekly check on every request we have, so that now includes
all old blocks / requests that have been loaded into the live system.

On 27 Dec 2016 13:03, "Joseph McArthur" <notifications@github.com> wrote:

[2016-12-27 13:22] JosephMcArthur commented on #333
Oh yeah... I think I knew that! Haha sorry!

[2016-12-27 15:39] JosephMcArthur opened #435 "HTTPS for test site"
This feels like something we should do to better align our test environment with our live site.

[2016-12-27 15:41] JosephMcArthur commented on #255
I remembered you can evoke this just by using the URL on the test http://oab.test.cottagelabs.com/?team=true. I have now done this. Closing, but @chealsye if you'd like the copy changed please go for it.

[2016-12-27 15:41] #255 closed

[2016-12-27 15:42] JosephMcArthur commented on #417
We could also just have an issue for each release? And not things that need to be released on it. Since releasing it actually sometimes work this makes sense.

[2016-12-27 15:43] JosephMcArthur commented on #192
It would be good to have a page that just lists all the "blocks" registered by OAB, regardless of if they become requests.

[2016-12-27 16:02] JosephMcArthur opened #436 "Better response when articles are Open Access"
Just got this through our bug form from the author of said article:

I took a look, I'm guessing this is because the article is already Open Access via a journal - but not via a repository we harvest from.

Wondering if we can improve the response here at all. Assigning myself to come back & think of options

[2016-12-27 17:42] JosephMcArthur commented on #197
Given these aren't EU based I'm not checking Openaire.

I looked for:
* NOAA
* USGS
* USDA
* Chorus
* Smithsonian

Share has:
* NOAA
* USGS
* DOE
* Smithsonian

See #112 for progress here.

Base has:
* USDA
* Smithsonian

So I couldn't find NTL & CDC.

However, on closer inspection, CDC does seem to say it'll go in PMC. Ref: https://stacks.cdc.gov/pap.

NTL also seems to have it's stuff searchable

[2016-12-27 17:42] #197 closed

[2016-12-27 18:12] JosephMcArthur commented on #194
Rather than implementing this via the plugin I think we can handle it by:
* surfacing an link on /request/new where we can do this more simply
* making it easy via the bug reporting form to submit links where we don't give an appropriate response (e.g pointing to a paywalled thing or the wrong thing)
* surfacing a link on successful requests

This would mean it would be hard for a user to do this

[2016-12-27 19:35] JosephMcArthur opened #437 "Complete Journal Concept note"
- [x] polish all sections - me
- [x] complete technical section - @markmacgillivray
- [ ] send doc off - me

[2016-12-28 09:56] JosephMcArthur commented on #436
apparently the article is also here: http://helios-eie.ekt.gr/EIE/handle/10442/15321 + http://eprints.rclis.org/

[2016-12-28 10:37] JosephMcArthur opened #438 "Gathering data at DNR"
When an author opts out of receiving request system emails we should try and gather some data from them. Two key things come to mind:
1) The broad catagory of reasons for why they opted out
2) If we can reach out to talk with them more

[2016-12-28 10:49] JosephMcArthur opened #439 "Forward all domains to openaccessbutton.org"
@markmacgillivray you have access to my godaddy account, can you forward all oab domains there to .org. Especially .io.

[2016-12-28 13:28] JosephMcArthur commented on #287
This might be helpful: http://www.androidnames.com/development/list-of-the-best-mobile-backend-as-a-service-mbaas-providers/

[2016-12-28 14:01] JosephMcArthur commented on #431
okay, to close this I need to:
- [ ] move all epics to projects

[2016-12-28 14:06] JosephMcArthur commented on #430
I'm not a big fan of parallel milestones for all types of work, it would make it a bunch harder to track what we're doing & creates a relatively artificial distinction about how we do work.

I'm wavering on the idea of a soon milestone. I think it makes the backlog less clear & using a "priority" label mimics what we do with sprints.

[2016-12-29 15:19] JosephMcArthur opened #440 "Prototype Spreadsheet upload into request system (for institutions)"
Similar to the Lantern system, but activates find & request system.

Assigning to me to expand this.

[2016-12-30 09:14] chealsye opened #441 "Making the results page more clear that an article is available"
A Button user reported on Twitter that the Button could not locate the article even though it could. The way the search result page is set up was not clear to him that the article was available and that he could click through the view the article. @meganwaps Have you come across this problem in user testing?

![screen shot 2016-12-30 at 10 01 19](https://cloud.githubusercontent.com/assets/9299248/

[2016-12-30 11:40] JosephMcArthur commented on #441
Thanks so much for the great report Chealyse. I've had a hunch this page isn't designed as well as we could but hadn't seen any issues - so didn't bring forwards. Considering it's both theoretically (as our front page) and actually (from stats) getting a lot of use vs the plugins we should invest more time here.

We can go two routes, work on it internally with this as our base (there are several

[2016-12-30 11:41] JosephMcArthur commented on #441
Can you let Richard know that we're going to make some improvements here, and that if he'd like to be looped in on them we'd love to have him give thoughts.

[2016-12-30 11:43] JosephMcArthur commented on #440
This is connected to #153 probably...

[2016-12-30 13:52] JosephMcArthur opened #442 "Readme fix for issues"
As discussed with chealsye.

[2016-12-30 17:38] JosephMcArthur commented on #431
Okay, projects is missing some really basic functionality right now

* search by things not in projects / what is in a project
* assigning to projects from an issue

which means it can't replace Zenhub for an important part of my workflow.

Moving this to monitoring.

[2016-12-30 17:48] JosephMcArthur opened #443 "Link to articles from homepage logos"

[2016-12-30 18:22] JosephMcArthur commented on #429
- [ ] communicate below
- [ ] document system & process on github
- [ ] link in with domains & emails
- [ ] put forms on site

[2016-12-30 18:33] JosephMcArthur opened #444 "Allow for more requests to be loaded on scroll on /requests"

[2016-12-30 18:34] JosephMcArthur opened #445 "Provide more context on /request about what requests are & why they're important & what people can do"

[2016-12-30 18:41] JosephMcArthur opened #446 "Change C2a on request pages to make clearer why someone should add support"
Suggest changing "Add your support" to something like "Need this too? Add your support". The aim of the change would be to make it clearer why someone would add their support at a glance.

We could also just have the headline be "Need this too?" as the button sticks out with "add your support" which is the next thing you'd see at a glance. The actual copy does a decent job of getting these points

[2016-12-30 18:43] JosephMcArthur opened #447 "Fill in 2nd homepage panel with something"
The full-width text doesn't look great, we might finally put up gif for something up. Either way, filling it with something makes sense.

Assigning myself to think more about it.

[2017-01-02 07:14] chealsye commented on #333
@JosephMcArthur Yeah, should do. I'll add it as a to do.

[2017-01-02 07:21] chealsye commented on #430
Priority label sounds good. I don't have a strong opinion either way on this matter though.

[2017-01-02 10:54] markmacgillivray commented on #418
Done for DOI, PMID and PMC. Titles are probably a bit too vague, and there are limited places we could really search for them. Once we have a far larger collection of requests metadata ourselves, it may be worth just doing a match against our own data to see if a title is the same as one that someone else has already asked for, and that we already have a URL / ID to match against.

I will assign t

[2017-01-02 10:57] markmacgillivray commented on #333
I don't think there is action for me here at the moment, so I am unassigning myself and moving to the next milestone, until we are ready to turn it on.

[2017-01-02 11:02] markmacgillivray commented on #287
We already have a backend though, why would we need to run another one to support a mobile app? I still think the mobile app should be as light as possible, and still needs to have a clear use case - what do we expect someone to do with it? If bookmarklets / browser / android UI buttons can be used to launch a web page that we pass the URL of the thing the person wants to check to, then the whole

[2017-01-02 11:06] markmacgillivray commented on #117
I don't think I can progress this without wider decision. Maybe there is no more progress to make here, at least at this time?

[2017-01-02 11:09] markmacgillivray commented on #419
removed blocked development tag because there is no actual dev to do on this issue - the ones it spawns may have dev to do though.

[2017-01-02 13:11] #442 closed

[2017-01-02 13:11] JosephMcArthur commented on #442
@chealsye let me know if you'd like this changed

[2017-01-02 13:12] JosephMcArthur commented on #430
Okay, closing soon. will use priority.

[2017-01-02 13:12] #430 closed

[2017-01-02 13:16] JosephMcArthur opened #448 "know when an ILL has been fulfilled... somehow"
By @markmacgillivray from #419

[2017-01-02 13:16] JosephMcArthur opened #449 "receive trackable info about ILL e.g. an ID number for it"
By @markmacgillivray from #419

[2017-01-02 13:16] JosephMcArthur opened #450 "identify user via their being logged in locally already (look for cookie values)"
By @markmacgillivray from #419

[2017-01-02 13:16] JosephMcArthur opened #451 "identify user of bookmarklet if necessary - e.g. have them sign in (preferably not)"
By @markmacgillivray from #419

[2017-01-02 13:16] JosephMcArthur opened #452 "make user sign up to oabutton if necessary (preferably not)"
By @markmacgillivray from #419

[2017-01-02 13:16] JosephMcArthur opened #453 "make user provide extra data to oabutton if necessary (preferably not)"
By @markmacgillivray from #419

[2017-01-02 13:17] JosephMcArthur opened #454 "send a query to the library catalogue of the user and include in results"
By @markmacgillivray from #419

[2017-01-02 13:17] JosephMcArthur opened #455 "send a query to other library catalogues if possible / allowed"
By @markmacgillivray from #419

[2017-01-02 13:17] JosephMcArthur opened #456 "send ILL on behalf of library of user by authorising our oabutton server as the library (preferably not)"
By @markmacgillivray from #419

[2017-01-02 13:17] JosephMcArthur opened #457 "relay an ILL on behalf of library user back to library system for that user (preferable)"
By @markmacgillivray from #419

[2017-01-02 13:19] JosephMcArthur commented on #419
Have made a milestone for this & issue. Will email why.

[2017-01-02 13:19] #419 closed

[2017-01-02 13:22] JosephMcArthur commented on #333
Sorry @markmacgillivray, didn't make the above clear:

- [ ] we need an email merge tag for the article url we're sending people to close this. Previously we've just sent folks to request pages and here they may not have made a request.

[2017-01-02 13:27] JosephMcArthur commented on #418
I've made a small copy change in the search bar for this.

On Mon, 2 Jan 2017 at 10:55 markmacgillivray <notifications@github.com>
wrote:

[2017-01-02 13:43] JosephMcArthur commented on #418
Just had a quick play, looks good.

Bug: On entering as https://www.ncbi.nlm.nih.gov/pubmed/28038472 I get the right response, on entering 28038472 I only get an invitation to make a request (not a notification the article is available). Duplicated with other articles too. Doesn't happen with their DOI's.

- [ ] fixed

Bug: Spaces before DOI's / PMIC's causes them to not be recognised. this is eas

[2017-01-02 13:44] JosephMcArthur commented on #153
@markmacgillivray an update on this would be helpful. An export of entries to the find system would also be good or just a way to see them.

[2017-01-02 13:55] JosephMcArthur commented on #417
Okay, here is what I'd suggest. I don't think any of the above is workable or fixes the problem.

Instead, I'm going to do a weekly check our develop vs master on branches (on Monday's) & either release or wrangle what's needed to move us closer.

[2017-01-02 13:55] #417 closed

[2017-01-02 13:56] JosephMcArthur commented on #241
@markmacgillivray any progress here? Seems like we should be able to ship with only a small amount of work

[2017-01-02 13:57] JosephMcArthur commented on #418
Once we fix instructions on /request/new & 1 I think this is good enough to ship & we can hot fix other stuff.

[2017-01-02 14:00] JosephMcArthur commented on #381
Issue not really needed.

[2017-01-02 14:00] #381 closed

[2017-01-02 14:01] JosephMcArthur commented on #355
Removed on develop

[2017-01-02 14:01] #355 closed

[2017-01-02 14:05] JosephMcArthur commented on #115
This would be something I'd think we don't need a user to have a full account (just email) to do. Much like weekly checking for their paper.

Also, I'm considering this the next big feature for the find system to implement in 2016.

[2017-01-02 14:06] JosephMcArthur commented on #142
@markmacgillivray do you have a preferred way of doing this. I like https://www.optimizely.com/. I'd like to see this be done for some key pages including:

- [ ] homepage
- [ ] received page
- [ ] request page

[2017-01-02 14:15] JosephMcArthur commented on #77
@markmacgillivray can we still do this, but just haven't advertised? If not, what do we need to do to be able to enable it?

Note to self, ideas for our version of this include:
* getmethisdoi
* ineedthisdoi
and our other domains (including oabutton)

[2017-01-02 14:19] JosephMcArthur opened #458 "Better bug form"
Headstart: https://gist.github.com/jksdua/8540578

Need a brief discussion on this.

[2017-01-02 14:46] JosephMcArthur commented on #434
Thanks for making this issue Lars, and for your interest in the system.

@markmacgillivray I think we should take some time to document the API soon & add a docs / api page to the site that contains this info. If they need a key, then we can display it there.

In the long term I'd like to see us be able to make requests via API and we should do some simple documentation (even just internally) of t

[2017-01-02 14:54] JosephMcArthur commented on #440
Okay, in this sprint I'd like to establish:

- [ ] if we need design time on this, and if so book it. For this I need to see what CL has as part of Lantern & understand if that will work for us. @markmacgillivray can you screenshot a workflow for lantern or give us access via an account?
- [ ] how much backend work we need to do this - @markmacgillivray

Also, as a fuller description of this issue

[2017-01-02 16:07] JosephMcArthur opened #459 "stories export this week"
@meganwaps and I need a sheet (or something convertable too) of:
- [ ] all stories + user type + username + type (data / article) + article link for all of time
- [ ] the above since oaweek relaunch
**by the end of the week**

Ideally, a way to do this via the UI would be great in the long term.

[2017-01-02 16:33] markmacgillivray commented on #77
Yes, it is already possible. It only works on the cx.ctg.li domain name so far, because we never came to a decision about how to present it under oabutton. All we need to enable it is to tell me what domain name you want it at, or what route of the main openaccessbutton.org domain to put it at. It works like the new request page, so it can work with URL, DOI, PMID, or PMCID. (the cx.ctg.li domain

[2017-01-02 16:37] JosephMcArthur commented on #77
Can you give an example for us to see?

[2017-01-02 17:41] JosephMcArthur opened #460 "Set up & test automated testing services"
- [x] browserstack
- [x] usertesting / peak
- [x] upload testing manuals / user testing guide

[2017-01-03 10:15] JosephMcArthur commented on #459
Note, I've updated the request above

[2017-01-03 14:14] JosephMcArthur commented on #424
I would like to see us do this. I'm still seeing a lot of people sending multiple emails, probably as they're confused. To implement it seems we need to see if:
- [ ] the approach mark outlines above will work @markmacgillivray
- [ ] build backend functionality for above @markmacgillivray
- [ ] decide on phrasing / design for the UI @chealsye
- [ ] test - Me

Is this about right?

[2017-01-03 14:15] JosephMcArthur commented on #343
@chealsye can you advise on what copy you might want to see changed on our current page to see this implemented?

[2017-01-03 14:36] JosephMcArthur commented on #437
Have sent @markmacgillivray an email about this

[2017-01-03 14:41] JosephMcArthur commented on #458
I feel like we want a few specific forms,
* general bug form
* form for when we point people to the wrong site
* #438
* uninstall form #411

[2017-01-03 15:25] JosephMcArthur commented on #77
http://cx.ctg.li/ has examples.

We can have it point straight to the paper, like those examples or if not possible to redirect sends you to a request page.

[2017-01-03 15:34] markmacgillivray commented on #301
Once I load the old blocks as availability checks, and then run them through the system to see if they ARE available, then all we need for this is to show on the stats page second sentence that X availability checks were made, and Y of them were found.

Longer term, it may also be useful to run every DOI published every day by crossref and see how many are findable.

[2017-01-03 15:43] markmacgillivray commented on #333
Need a handlebar template tag for the email template searcher_success to insert the URL of the found available article. Then we can turn on the cron job for the weekly find, and send these email templates when things are found.

Look at testing this on the dev site - make sure any open requests have our own contact email addresses (poss delete all the dev requests).

[2017-01-03 15:46] markmacgillivray commented on #196
There may now be a graph search option we can use to look for an article. Have another look.

[2017-01-03 15:47] JosephMcArthur commented on #343
An implementation of this is currently on the dev site

[2017-01-03 15:52] markmacgillivray commented on #424
Given that the aim here is to encourage people to check their email and find their code rather than keep hitting for a new code which we have seen them do, it may also be an idea to note in the cookie that they have already requested a code, and prompt them to check instead of showing them the login box again if they refresh the page.

[2017-01-03 15:53] markmacgillivray commented on #424
Like a five minute timeout to get their code. After that it reverts to letting them request a code again.

[2017-01-03 17:30] JosephMcArthur commented on #301
Following up from a discussion with @markmacgillivray today. The point of this issue was to:

* see how successful we are now
* monitor changes we make & how they affect our success
* monitor changes in the ecosystem & how they affect our success

While we went into this thinking we needed to systematically build a list, that's actually a lot of work. Instead, we're going to use our actual usage a

[2017-01-03 17:41] JosephMcArthur opened #461 "Increasing Full Text link-through"
We still regularly link to splash pages instead of real full text (HTML or PDF), clearly, this isn't ideal. We assume users would prefer just to go straight through. Having discussed how to do this with @markmacgillivray we noted that:

* While this only affects a subset of papers it is none the less has been a significant proportion in our usage. I.e this feels worth doing if possible. That said,

[2017-01-03 19:44] chealsye commented on #426
My instinct is no. A user may use private email address, they may not want to be so clearly known by an author, the user may then follow up our email with their own message, and the email thread may not get a reply all and we lose tracking the conversation. Seems that someone might be readily just attach a copy of the article to a reply, which yes, can solve it (and maybe this is a reason to inclu

[2017-01-03 20:01] chealsye commented on #343
@JosephMcArthur I didn't miss anything with this, did I? When I first saw 23 October my stomach dropped. The labels and assignments prior to 6 hours ago look like I wouldn't have been alerted, but I wanted to check - don't want the adjustments I made to github alerts result in things falling through the cracks.

What your suggestion is just adding the email address, right? Our page already include

[2017-01-03 20:05] chealsye commented on #446
Yep all for it. I've always thought "add your support" wasn't as clear as it could be. This will help.

[2017-01-03 20:27] markmacgillivray commented on #461
Note that the maintenance of a list of regexes for domains does not have to be a technical effort - all it needs is a google spreadsheet where anyone with admin skills just has to manage a list of regexes per domain, and even the regexes can be extremely simple, and in many cases probably just a normal human readable string.

Brute force approaches are unlikely to get round the problem - to achiev

[2017-01-03 20:34] JosephMcArthur commented on #446
This is on dev, will get pushed in next release

[2017-01-03 20:34] #446 closed

[2017-01-03 20:37] JosephMcArthur commented on #343
You would've only been alerted to this today. Since I commented Mark let me know that a version is this is already on the dev site. See what you think, check my comment about & let me know how you think we should move forwards

[2017-01-03 21:01] JosephMcArthur opened #462 "Searching for accounts by email no longer works on /admin"
For example:
* joe@righttoresearch.org
* natalianorori@gmail.com

no longer pull up their addresses for me, but searching their account names does. Interestingly, searching part of their email address seems to work.

[2017-01-03 21:05] natalianorori opened #463 "System logs admins out and changes cannot be saved while managing the request system"
After about 15-30 minutes in the system, the system logs me out automatically and I cannot save anything in the request system.

[2017-01-03 21:28] markmacgillivray commented on #463
I've seen this too, I need to add a check to the page refresh to get it to properly check that the current user has admin rights before showing the admin controls. It's not a security issue though, just a UI experience that needs improved. Will prioritise if it's now affecting other people needing to use admin functionality.

[2017-01-03 22:17] JosephMcArthur commented on #463
I haven't seen it, but anything we can do to make the ability to manage requests easier I count as high importance.

Would consider adding to 8. Will let you chose how to handle from here @markmacgillivray

[2017-01-03 22:18] JosephMcArthur commented on #463
@natalianorori a temporary fix right now is to log in & out right?

[2017-01-04 05:08] natalianorori commented on #463
@JosephMcArthur  yes that usually fixes it, and if logging in and out doesn't work restarting the web browser does it

[2017-01-04 07:20] JosephMcArthur opened #464 "Intergrate with pre-pubmed http://www.prepubmed.org/"
http://www.prepubmed.org/ is currently aggregating from:
* arXiv q-bio,
* PeerJ Preprints,
* Figshare,
* bioRxiv,
* F1000Research,
* preprints.org, and
* The Winnower

and if memory serves at least some of those (e.g bioRxiv) we can't do yet.

I can't see any API, but their code is open source https://github.com/OmnesRes/prepub with a helpful readme. Looking at a few of the files it seems like the

[2017-01-04 12:17] JosephMcArthur commented on #458
For some of these forms I'd advocate us having different ones as it seems like each could be quite different. Part of me thinks we shouldn't use gforms since for some of this being able to associate it with the URL of the page (or request / user ID) seems critical.

[2017-01-05 21:06] JosephMcArthur commented on #153
@chealsye may just need the author email associated with a request ID in a sheet, or something searchable.

The best way to shut this would be being able to search the author emails (like the harvard in harvard.edu) via the search box on /request

[2017-01-06 14:19] JosephMcArthur commented on #432
My suggested path forwards here is to collect:
* First Name
* Last Name

I'd suggest separating these as we can display someone's first name on the site without too many issues I think & combine with last for requests

* Profession
 * Remove: "advocate", "prefer not to say" (only been used 3 times)
 * Change: Doctor --> Heath Professional
* Email
* Affiliation + an option to say none

at sign up &

[2017-01-06 14:27] JosephMcArthur commented on #433
Thanks everyone for the thoughtful comments about anonymity & other issues.

Before I start, for reference, here is the results of the twitter poll: https://twitter.com/OA_Button/status/812035372700024832 re this issue.

I'm afraid unless it's really useful to someone, I'm not going to respond directly to all of the ideas & points raised above. My person opinions sit somewhere in the middle of wha

[2017-01-06 14:30] JosephMcArthur commented on #434
@markmacgillivray to stop me blocking everything here, lets:
- [ ] document the find API
- [ ] leave a note about the request above on /api saying that if folks would like to use it, they should get in touch.

[2017-01-06 16:38] markmacgillivray commented on #459
Done, sent to Joe

[2017-01-06 16:38] #459 closed

[2017-01-06 23:32] markmacgillivray commented on #433
Sorry to drag this on further with another essay, but...

1 >

A skip button on a signup process that only lets you skip providing a few optional fields seems a bit... over-engineered.

Note that if bookmarklets are available on the front page, they will have to be a different bookmarklet from the ones the user gets after login. This is not too hard to create, but it does mean that if a user then

[2017-01-07 10:04] JosephMcArthur commented on #433
Thanks again for this Mark. Responses:

1) Given the above I'd suggest we simply unhide the download section from the account page (even if you haven't "saved details". We also shouldn't display bookmarklets on the frontpage if you're not signed up, but we can consider other options in #447.

Thoughts on that as a way forwards?

2) For now, I'd suggest we move talking about this off the "front bur

[2017-01-07 11:48] JosephMcArthur commented on #287
Okay, just had a chat with a friend I live with at NWSPK about this (he builds mobile apps professionally) and he generally thought our direction with the app was a good idea for where we're at (lightweight, leaning on our current web infrastructure etc).

He suggested we use React Native as a framework as it means we could deploy to iOS / Android from one codebase. It supports the key feature we

[2017-01-07 12:07] markmacgillivray commented on #287
It's already possible with meteor to roll out code across platforms from one codebase. There's nothing wrong with react, but we would just be adding complexity for no extra gain, so we shouldn't use it.

Also, I'm still not sure I understand what it is you're still exploring here - why is sending someone to request/new not the ideal solution? I still don't see the benefit of having a native app at

[2017-01-07 12:27] JosephMcArthur commented on #287
Maybe I'm not being clear, the above description was thought to be the easiest way to do this:

To do that, we have to make ios / android apps, as I understand it, that can get placed in those menus. However, ALL those apps really do (expect maybe have an image when you open them saying how to use them) is push people to /request/new.

If Meteor can do that, then let's use it, but it sounded like

[2017-01-07 12:31] markmacgillivray commented on #287
Ah ok, yes we agree the app should be the simple option of adding the button that links to the site then.

I'm not sure react or meteor are the way forward though, as a combined codebase across platforms just to achieve that could be overkill. I'll look into how to add such a button for various phone browsers, and if it requires cross platform complexity then we can use meteor or react if meteor t

[2017-01-07 12:34] markmacgillivray commented on #287
Did anyone finish looking into whether bookmarks work for this? On android chrome the bookmarks are easy to get to and to click, it's about 2 clicks from page to bookmarklet. There may be reason to not just use bookmarklets.

[2017-01-07 12:42] markmacgillivray commented on #287
On android chrome, clicking the menu and going to share then waiting for share options to load then clicking one then waiting for it to open the selection then triggering the share on the selection is far more steps and complexity than clicking menu then bookmarks then clicking a bookmark. But I've not actually tried the bookmarklet.

However even if the full bookmarklet doesn't work, a simpler on

[2017-01-07 12:53] JosephMcArthur commented on #287
I just tried on my phone. It's a small number of clicks, but they're not clear clicks (if that makes sense). We'd be in a position of trying to get people to remember how to do it (never seen another app work like this on mobile) through good instructions (maybe gifs) & that seems unlikely to work. Doesn't seem like it ever can be good if you have a lot of bookmarks too. Happy to consider more, th

[2017-01-07 13:02] JosephMcArthur commented on #287
To be clear, even if not ideal, if a bookmarklet is the 80/20 solution here, and means we can get some better functionality here faster (with e.g <1 sprint of work) it's appealing to me.

[2017-01-07 13:02] markmacgillivray commented on #287
Yes, we'd have to show people how to do it. But I think the same is true of a share button. We'd need to tell people there's such a thing as a share menu on their phone browser, and that they can expect to find a share to oab button there after they install our app. Either way, we have to tell people how it will work and expect them to remember.

[2017-01-07 13:11] markmacgillivray commented on #287
The hypothesis blog indicates that they went with a share button, but still had complexities on iOS.

Saying that bookmarklets is dead is true in general, but if a share button is no more easy to use and a bookmarklet will do the job quicker and be easier to install and maintain, then a bookmarklet is still the answer.

The only reason so many app ecosystems exist is to benefit the people running

[2017-01-07 13:24] JosephMcArthur commented on #287
Note to self: Pocket seems to heavily deploy bookmarklets. Once you've done #460 you should be able to see their sign up flow for all mobile browsers & move forwards here.

[2017-01-07 13:34] JosephMcArthur commented on #418
@chealsye / @markmacgillivray / @meganwaps how are PMC ID's seen in the wild? Are they usually already prefixed with PMC, if so, do we need the instruction?

If they're not, is there a way we can remove this instruction (e.g doing some validation on things that look like PMC ID's)?

Are they that common?

[2017-01-07 13:39] markmacgillivray commented on #418
The proper way to use a PMC ID is to prefix it with PMC and they should always be found this way in the wild - so with any luck, people will know that. The problem though is that there is no way to differentiate between a PMID and PMC ID if the PMC ID does not have PMC at the start. So, if we are not explicit about it, and someone does put in a PMC ID without the PMC part, we will not be able to k

[2017-01-07 13:55] JosephMcArthur commented on #418
Okay, if they _should_ be seen like this in the wild I'd vote we remove the extra instruction & monitor errors.

What we could do is after people search "PMC ID / PMC - like" numbers without the PMC prefix we can add an option on the page that is something like "Looking for a PMC ID?" that would correct their search or simply put a reminder in the text of the page while it's looking. I don't think

[2017-01-08 10:36] JosephMcArthur commented on #460
Update;
* Awaiting browserstack account updates
* for usertesting / peek need to upload questions & set up there (est. 1 hour)

[2017-01-08 14:14] markmacgillivray commented on #418
Oddly I was able to use PMIDs and PMC IDs with or without leading or trailing spaces with no errors. Also putting PMIDs in instead of the full NCBI URLs worked fine for me too. This is only on the dev system so far - were you testing there or on live? Anyway, seems to be fine now...

[2017-01-08 14:25] JosephMcArthur commented on #418
Did you try the IDS I used above?

I used Dev. Didn't realise it was on live.

On Sun, 8 Jan 2017, 2:14 p.m. markmacgillivray, <notifications@github.com>
wrote:

[2017-01-08 14:29] markmacgillivray commented on #418
Yeah it is not on live yet.

Yes I tried the IDs you put above, and some other ones too. They all worked.

[2017-01-08 14:30] markmacgillivray commented on #418
And I tried with and without whitespace too, for the ones you provided and some others.

[2017-01-08 17:31] markmacgillivray commented on #433
1. Yep, sounds like a neater solution - just lets people get on with what they want to do, and other parts of the system already prod them for extra data when we want it anyway.

2. Yeah - it's not that I'm against going one way or the other, but it feels more complex than it looks, and requires more thinking around what we are trying to do.

[2017-01-08 19:44] JosephMcArthur commented on #418
Huh, I can't replicate now. That's a bit odd, but, perhaps there was another transient issue?

In that case, we're good to push this live. @markmacgillivray, it would be good to do with #333 - any ETA on that?

[2017-01-08 19:44] markmacgillivray commented on #440
@JosephMcArthur just sign up at lantern.cottagelabs.com with your email address, you automatically get some free goes. That will give you a fuller picture of the workflow. The workflow is just that it shows you a box to upload your file into, then you get back a job ID and you're redirected to the job page. Then the job page shows progress of your job. You also get an email saying your job is crea

[2017-01-09 11:23] markmacgillivray commented on #301
Run the Imperial DOIs as part of testing too.

[2017-01-09 11:33] markmacgillivray commented on #432
Unhide the download box even if people have not completed all the sign up boxes.

[2017-01-09 11:59] JosephMcArthur opened #465 "Investigating and potentially implementing SFX (OpenURL) integration"
Think about:
* exposing our functionality as an openurl
* think about querying openurl sources to expand coverage

[2017-01-09 17:40] JosephMcArthur commented on #214
Have filled in the medium form for blog.openaccessbutton.org. @markmacgillivray can you update dns to make this work?

[2017-01-09 17:51] JosephMcArthur commented on #214
From Medium:

Thanks for contacting us about setting up your custom domain on Medium. Please read through this email to better understand what to expect as you go through this process. There are a few key things you should know and expect.

-The entire process can take up to 4-24 hours and there will be times during the process where your domain will return a certificate error. This is normal and

[2017-01-09 17:55] JosephMcArthur commented on #214
Hmmm, actually we need to set up a publication for this. @chealsye can you do this: https://medium.com/new-publication

[2017-01-09 20:09] JosephMcArthur commented on #194
This is closed mostly by #10

[2017-01-09 20:20] JosephMcArthur commented on #163
duplicated in #465

[2017-01-09 20:20] #163 closed

[2017-01-09 20:21] #116 closed

[2017-01-09 21:20] JosephMcArthur opened #466 "Change /request/new to look more like the plugin UI"
Helps to keep consistency across the site

[2017-01-09 21:44] markmacgillivray commented on #434
API docs are done on the dev site. @JosephMcArthur do you want to check this with Lars etc, or will we push it live?

[2017-01-09 21:55] JosephMcArthur commented on #434
@larsjuhljensen do you want to take a look, would love your feedback on the docs. You can see them here oab.test.cottagelabs.com/api

@chealsye can you write a mini blog for this please?

[2017-01-10 07:46] JosephMcArthur commented on #460
Speaking to usertesting about a non-profit discount.

[2017-01-10 07:50] larsjuhljensen commented on #434
Thanks everyone! As much as I'd love to contribute as a tester, I don't think you should wait for me. Realistically, there is sadly no way I would manage to look at it this week or next week.

[2017-01-10 07:51] JosephMcArthur commented on #458
Will be working on the content to close this issue here: https://docs.google.com/document/d/1F0E-nqLjjbE3yKKYtf0FxxeB_BhCxb1IoXl8qDBajYw/edit

Have started, but not completed.

[2017-01-10 08:24] JosephMcArthur commented on #434
Okay thanks @larsjuhljensen, we won't wait on you to release it but if you get a chance to take a look we'd deeply appreciate it.

[2017-01-11 09:20] JosephMcArthur opened #467 "Reject "author email" if it matches any emails supporting or making the request"
* Idea from @natalianorori.
* We'd need to run this against our backlog of requests.
* Will need a simple user visible response / advice -@chealyse @markmacgillivray. Often I think people do this to "test" the system, our advice should take this into account.

[2017-01-11 12:00] markmacgillivray commented on #467
Why would an author email match any emails supporting or making the request though? This can only be the case if the request creator or a supporter manually entered their own email address in that field. If users are doing this, then the priority should be to find out why they are doing so rather than blocking them from doing so. I suspect if they are doing so, it is because they wonder why reques

[2017-01-11 12:07] JosephMcArthur commented on #467
I think it's partly because users get confused (the field used to be just
called "email", which I changed but didn't correct any errors), partly
because they want to test the system (as I'm often told people so this) &
probably a handful of other reasons - of which yours could be one too.

Either way, this feels like a point at which we can put a safe guard in
place (and reduce time needed to chec

[2017-01-11 12:13] markmacgillivray commented on #467
Perhaps, but we should still focus on why users feel the need to test the system - maybe we are not giving them enough info on how it works, what happens after they create a reqeust, etc. I still think we could do with a lot more info around that, one of those gif/screengrab things we discussed, that explains that after they create a request and provide an email address, that we will then moderate

[2017-01-11 12:18] JosephMcArthur commented on #467
Lets do both. Simple safeguards like this are useful - but in no way a
substitute for making sure we're properly explaining things in the first
place. I'll make an issue for what you're suggesting.

- [ ] make an issue

On Wed, 11 Jan 2017 at 12:13 markmacgillivray <notifications@github.com>
wrote:

[2017-01-12 06:44] natalianorori commented on #467
just a note in here,

most of the requests with the same email in both author's and user's fields
are from June 2016 and earlier, this means, before our major update. At
that time, our users might have not been clear about the button and felt
the need to test the tool more than they do now and perhaps that's why they
entered their same email adress, to see if the system worked.

On Wed, Jan 11, 20

[2017-01-12 10:43] JosephMcArthur opened #468 "When mailgun notifies us of failure to send to author - note in request system"
Note, the fix for this could be a line on a spreadsheet - not built into back end (at least at first)

[2017-01-12 11:48] JosephMcArthur opened #469 "Design Checklist for Feb"
My list:

- [x] #447
- [ ] /request rethink & general thoughts on request workflow
- [ ] Gifs?
- [x] link resolver idea
- [x] update of mockups?? https://github.com/OAButton/discussion/blob/master/UX%20Mockups/Library/Bookmarklet/Library%20Bookmarklet%20V2%20Clarifications.md
- [ ] small changes to pages to make them look niceer e.g @chealsye request to make the page look nicer

Happy for other id

[2017-01-12 11:52] JosephMcArthur commented on #424
The above is now deemed the way forwards for this issue, IDed one issue causing multiple emails as "I sent several login because I couldn't get access with the passwords that have been sent to my email.".

[2017-01-12 11:56] markmacgillivray commented on #301
Given the stats / export capability, and the favourable  Imperial DOIs test, this issue could probably be closed now. @JosephMcArthur do you agree?

[2017-01-12 11:57] markmacgillivray commented on #192
Moving this one to next milestone as it is an ongoing improvement rather than fixed to this milestone anyway

[2017-01-12 12:03] JosephMcArthur commented on #301
I'd like to see us run our own backlog through this first. The Imperial
test was useful but totally different to what was intended here.

On Thu, 12 Jan 2017, 11:57 a.m. markmacgillivray, <notifications@github.com>
wrote:

[2017-01-12 12:03] JosephMcArthur commented on #192
Is it helpful if I'm more specific about what I think we need to close
this?

On Thu, 12 Jan 2017, 11:57 a.m. markmacgillivray, <notifications@github.com>
wrote:

[2017-01-12 12:05] markmacgillivray commented on #192
Probably not. I think we have enough detail already. It just gets pushed behind other work that becomes more urgent. Visualising stuff is not as priority as making stuff work.

[2017-01-12 12:06] markmacgillivray commented on #301
Isn't that what issue #333 covers though, running our own backlog every week?

[2017-01-12 12:11] markmacgillivray commented on #301
Regarding what this issue needed, we had 16500 DOIs that we knew were open but that may not be in BASE or CORE, and I'd say we learnt quite a lot by finding 83% of them. BASE search was improved by realising many of them could be in there but do not have DOIs. CORE may be similarly improved, but has not been done yet, as the majority are found in BASE first anyway. We know we had no errors in the

[2017-01-12 12:11] JosephMcArthur commented on #301
If we're prepped to cover these points:

through those other issue then please feel free to shut.

[2017-01-12 12:13] JosephMcArthur commented on #301
Hmm, actually can we run this: https://www.authorea.com/users/8850/articles/125400/master/folder/Raw%20table%20data in the same way we've run the Imperial data?

[2017-01-12 12:16] JosephMcArthur commented on #192
Okay, so

is closed by /export - yes?

Regardless of visualising, can we get some more request system info on the stats page? E.g right now I'd like to know:
- [ ] # of requests made this week
- [ ] # of requests sent this week

[2017-01-12 12:18] JosephMcArthur commented on #418
Since this is ready to push live & just needs some testing documentation (most of which can be grabbed from above) I'm moving this back into the backlog.

[2017-01-12 12:19] JosephMcArthur commented on #153
This is closed by /export when it's finished.

@chealsye, can you take a look at that page & let us know any feedback you have.

[2017-01-12 12:24] markmacgillivray commented on #301
Yes, we could run that sheet.

[2017-01-12 12:28] markmacgillivray commented on #192
I think we talked about the "this week" counts previously - it is not so simple.

We could easily list the number of request made this week, if by that you mean new requests created this week by users. It could currently be calculated by exporting everything and filtering down to this week only, but I can add it as a stat to the stat page too.

However, knowing we sent a request email in a given w

[2017-01-12 12:38] JosephMcArthur commented on #301
When you get a moment, please go ahead

[2017-01-12 12:44] markmacgillivray commented on #301
will do. May not be today, got some other things to do. Maybe tonight.

[2017-01-13 09:07] JosephMcArthur commented on #192
Ah yes, the above rings a bell. I think the best approximation you can do without needing further development would be appreciated. I think looking at the number in "progress" would capture the main piece of info that's helpful here (the number we've processed in some way is also helpful, but not as important).

It's also worth noting, before long, that we should be regularly outputting:
* open ra

[2017-01-13 09:09] JosephMcArthur commented on #111
They've now made some changes to their title searching from our feedback that should help with the above. They've asked if we can do a test to check, I'm moving this out monitoring to the backlog.

[2017-01-13 09:17] JosephMcArthur commented on #458
Okay, there is significant progress here that should help @markmacgillivray work on the code needed.

[2017-01-13 09:18] JosephMcArthur commented on #438
This is now covered by #458.

[2017-01-13 09:18] #438 closed

[2017-01-13 09:38] JosephMcArthur commented on #112
@markmacgillivray any progress from share on this? Can you ping them another note?

[2017-01-15 09:42] JosephMcArthur opened #470 "Add dev badge to dev environments"
I can't be the only one who mixes up our dev / production environment while testing (or using) our stuff from time to time.

There is a suggested fix for chrome plugins here: https://textslashplain.com/2016/10/03/useful-resources-when-developing-chrome-extensions/. Extract:

 chrome.runtime.onStartup.addListener(()=> { init(); });

 chrome.runtime.onInstalled.addListener(() => { init(); });

` fun

[2017-01-15 14:12] markmacgillivray commented on #470
Our dev and live sites and plugins already have similar code so that they know which API to talk to. So I can add something to that to show a dev badge when on dev.

[2017-01-15 15:24] JosephMcArthur commented on #287
We may want to edit how we display things on mobile because of this: http://www.omgchrome.com/chrome-now-lets-install-browser-extensions-android-phone/

[2017-01-15 18:10] JosephMcArthur opened #471 "Investigating title searching in CORE"
For CORE this may be more effective than the DOI search we currently do.

[2017-01-15 23:22] JosephMcArthur opened #472 "Say no to naughty strings"
I tried to test our input boxes for input we wouldn't expect, but these folks have a much wider array of strings.

Might be worth testing these at some point: https://github.com/minimaxir/big-list-of-naughty-strings

[2017-01-15 23:32] markmacgillivray commented on #472
Ooh, pretty handy. I have already added something to the accounts and requests endpoints that will silently refuse them if they put in any js code - I purposely did not bother with a UX aspect to this because anyone doing so is being naughty on purpose. But I suppose it may be useful to also catch things that people may not intentionally be being naughty with, and flag them a UI error.

[2017-01-15 23:38] JosephMcArthur commented on #472
Makes sense. For me, I thought it would be worth:
- [ ] adding a note to our testing guides about testing odd strings (with
reference to this)

On Sun, 15 Jan 2017 at 23:32 markmacgillivray <notifications@github.com>
wrote:

[2017-01-16 13:54] JosephMcArthur opened #473 "Importing story rating into our dataset"
We now how nearly 1000 stories from our database rated. These ratings could be used to dynamically generate content on the site (i.e we can show a daily story on the front page, and know it'll be good). Or, generally do some quite interesting things.

We have a sheet of stories & their ratings here: https://docs.google.com/spreadsheets/d/1vLiIwVwAEnTDKKsx0OFQwQX8O5T06DbLPY7xzD2vLqQ/edit#gid=137715

[2017-01-16 14:56] JosephMcArthur opened #474 "Searching from citation"
For a while I've thought that searching from citations might be a nice addition to our front page box. Ian Mulvany just wrote a blog that would be helpful with making this happen I expect: https://medium.com/@ianmulvany/reverse-doi-lookups-with-crossref-ae2d9b671999#.r3l22xlhi.

It's worth figuring out when we think someone might put a citation in the box before implementing this, but, leaving a n

[2017-01-16 15:17] natalianorori opened #475 "How should we manage requests without story?"
Many requests submitted before our last story don't have a background story on them, how should we handle these requests? Authors will always want to hear why their articles/ data are needed

[2017-01-16 15:20] natalianorori opened #476 "Need to find a way to track the time it takes to handle each request"
Any ideas on ways to track this,  would be very helpful for management of the request system.

Hi! Thanks for filling an issue! Here are some tips on writing great issues.

## Bug report template

### Expected Behavior
*What did you expect it to do? - remove this note before posting*

### Actual Behavior
*What's it doing? - remove this note before posting*

### Steps to Reproduce this bug
*Please

[2017-01-16 15:32] markmacgillivray commented on #476
What do you mean by the time it takes? The time the system takes to run something? Or the time from when the request is created to when it is closed? Or the time you spend doing work related to a particular issue?

[2017-01-16 16:04] natalianorori commented on #476
The time I spend doing work, specially from changing a request from help status to progress, which is the hardest part of working with the system. I figure a good time tracking software would do the trick. This is mostly to enhance my performance and learn how to be quicker while managing the system.

Although it'll also be interesting to see how long it takes us to close a request in the future

[2017-01-17 04:16] chealsye commented on #214
@JosephMcArthur https://medium.com/openaccessbutton has always been publication.

https://medium.com/@openaccessbutton is the profile. The wrong link just got grabbed.

[2017-01-17 07:51] JosephMcArthur commented on #214
okay, I've submitted another request

[2017-01-17 08:36] JosephMcArthur opened #477 "track request history"
Do we track / monitor changes to a request over time. I'm having trouble explaining this, but, can we say that (for example):
* Request X target was changed from [email] to [email] at x by Z.
* Request X was moderated by Y at 12:01.
* Request X was received at 13:01.

I think at some point we should expose this (alongside email text we're sending / receiving) kind of like a issue history but for r

[2017-01-17 09:49] JosephMcArthur opened #478 "What can the request system learn from FOI portals?"
E.g some major projects include https://github.com/okfde/froide / isitopendata / https://www.whatdotheyknow.com/

Note, many of these are open source and we could literally take some code from them, but maybe more so, design principles & comms approaches.

[2017-01-17 09:56] JosephMcArthur commented on #476
Discussed this with Natalia last night in our 1:1. I suggested a line on a spreadsheet would probably be just fine for now.

[2017-01-17 09:56] JosephMcArthur commented on #475
It's worth noting that requests like this will almost certainly be pre-oa week 2016 too.

[2017-01-17 14:43] chealsye opened #479 "Requests not displaying in Firefox"
Requests are not displaying in Firefox, but are displaying fine in Chrome. I've double checked this problem on my work computer's Firefox and it is also not displaying. Both are macs.

Chrome
![screen shot 2017-01-16 at 23 58 28](https://cloud.githubusercontent.com/assets/9299248/22008295/e5224ccc-dc47-11e6-9db4-46b5bffe1742.png)

Firefox
![screen shot 2017-01-16 at 23 58 20](https://cloud.githubu

[2017-01-17 15:01] markmacgillivray commented on #479
That is very strange - and turns out it appears to be a problem with firefox accepting our secure certificates.

On my linux machine it does not work, but on my mac it does - my mac has a new version of firefox, whereas my linux machine does not.

A few types of secure certificate can no longer safely be used because they are not secure anymore, so we don't serve them. But I would have though this

[2017-01-17 15:10] chealsye commented on #479
Firefox versions 47.0.1 and 50.1.0. Apologies for not including that originally. The 50.1.0 is my personal computer and when I checked the version Firefox told me it was up to date.

[2017-01-17 21:49] JosephMcArthur opened #480 "No option to close a request if we can't find an author email"
note for me to expand.

[2017-01-19 12:30] JosephMcArthur commented on #439
When doing this can we do the below from #214:

Hi Joe,

Thanks for your interest in setting up a custom domain for your Medium publication.

Included below are instructions for setting up your custom domain:

blog.openaccessbutton.org

This screencast will help you through the process as well: https://youtu.be/mBY7OL7T8yk

IMPORTANT NOTE: If you're planning to migrate content from another platfor

[2017-01-19 23:28] markmacgillivray commented on #474
We do already have the crossref API in our box of tricks, so doing this would be very easy. The question rests on the use case - would anyone ever copy and paste a whole citation into that box? Also, we have no idea how accurate it would be, and how much it depends on the format or completeness of the citation that the person pastes.

[2017-01-20 03:13] chealsye commented on #153
I disagree that it is the best way to shut this down. It is the simplest way, sure, but it does not get me what I asked for and what I need. Searching on the website is a bandaid/plaster fix. I can do it and it will be fine enough for piloting, but not for longterm goals, efficiency, or finding patterns.

[2017-01-20 03:20] chealsye commented on #432
What do you need from me here?

[2017-01-20 03:36] markmacgillivray commented on #153
/request is just a search, but /export is a page where you can export all the records into a CSV file that you can use in a spreadsheet.  Isn't that what you wanted? The idea is to provide what you wanted whilst also using that need as a use case to drive development of a web UI ( the new /export page) that enables you to export such data any time you want.

There is still some work to be done on

[2017-01-20 03:37] chealsye commented on #235
@JosephMcArthur *poke* for when you got Imperial drafts I can go off of

[2017-01-20 03:39] chealsye commented on #153
Thanks for the clarification, @markmacgillivray. @JosephMcArthur's comment didn't have any context, I did not know there was an /export page, and went off the information/past two comments within this issue.

[2017-01-20 03:44] chealsye commented on #153
What is the difference between requests, availabilities, and supports?

I only get 105 requests. Is this from a certain date?

I think this spreadsheet feature should do what I need. Thanks.

[2017-01-20 04:29] markmacgillivray commented on #153
There are only 105 requests in the dev system, so yes that is all you will get for now. Once we move it to live you would get all of them.

Requests are the requests people have created for access to something.

Availabilities are the records of all the availability checks that have been performed on any URL - this is what happens when you first use the plugin on a page before submitting a request

[2017-01-20 18:37] JosephMcArthur commented on #77
can we get this set up for openaccessbutton.org/[doi/url/pmid etc] to start

[2017-01-21 17:09] natalianorori opened #481 "What steps should we take when we find the OA version without contacting the author?"
This happened to me yesterday.
I was searching the web for an author's email and accidentally found a link to the full text article that our user was looking for.

Here is the request https://openaccessbutton.org/request/G7wQeowq9ww7kyLgd and here is the paper https://www.researchgate.net/publication/304063680_Systemic_lupus_erythematosus

[2017-01-21 17:29] natalianorori opened #482 "Is there a way for the "author's email" field to only accept email addresses? Sometimes users put names instead of email addresses, or random letters."
@markmacgillivray @JosephMcArthur

[2017-01-21 20:50] markmacgillivray commented on #481
Ooh, this is interesting. As an admin, you should be able to go to the request page and see the "responder" buttton, that takes you to the page the author gets a link to. There, you have options to provide the content, including giving a URL to where it is. BUT at the moment it is assumed that the author does this. We don't currently send any automatic emails but once we turn them on, we would end

[2017-01-21 20:53] markmacgillivray commented on #481
Just to follow up about your actual current problem - you can go to the responder page and provide the URL. This should change the request to successful, but won't automatically send any emails to anyone. I believe at the moment it is you who is keeping an eye out for successful requests anyway though, so then you can follow up however you prefer, or check with Joe what he wants done on successful

[2017-01-21 20:54] markmacgillivray commented on #482
Yeah, to some extent, we can verify that it is an actual email, but it is harder to know if it is an email that actually goes anywhere. It won't take long to do this, but we're about to be quite busy with Library stuff, so should schedule this in to a milestone in a few weeks.

[2017-01-22 00:02] joshbalfour commented on #287
(sorry for the delay on this, I wanted to properly sit down and mull it over before posting)

from reading this thread the user story here seems to be:

(please correct me if I'm wrong!)

(10%) - A quick win here would be to take the existing bookmarklet and write up some instructions on how users can add it to their mobile browser and then use it. This is something I believe we should do first, a

[2017-01-22 04:55] chealsye commented on #427
Yes, we will need to add some additional copy in if we are doing this -- both the basic nudging them to do it, but also suggested text to use. I have concerns about users sending emails, which I believe I noted in another issue.

[2017-01-22 05:53] chealsye commented on #425
SHERPA/RoMEO does not have all journals. There are large gaps, sometimes almost whole disciplines.

Since it says Mark is doing technical implementation, I assume we aren't just directing people to SHERPA/RoMEO, but instead pulling in information from it. I can draft up the copy for this... but what will we do if there isn't an entry?

[2017-01-22 12:23] JosephMcArthur commented on #425
I think that's a decision you're best placed to make. I should say, if you
want to make changes to the structure of the page to allow this, I think
that's good. We may not want just a sentence for this, but maybe a whole
"info box" type affair (if that makes any sense). We should probably make
clear what they're allowed to deposit, what that looks like in simple terms
and where to find more info.

[2017-01-22 12:28] JosephMcArthur commented on #481
This is a complex issue, I'd prefer that we weren't submitting research
gate articles without further discussion. It's not that I think we 100%
shouldn't, I just think we need to be explicit about it.

If you find versions via an authors own page, I think they can be
submitted, despite not being perfect.

Where there is a research gate copy available, I think we need to change
our comms to an auth

[2017-01-22 17:08] chealsye commented on #425
@markmacgillivray, how are you envisioning using SHERPA/RoMEO info? Are the request page like Joe is implying in the above comment?

The problem though is if the journal is not in SHERPA/RoMEO, we won't be able to provide them with information in simple terms. Is it possible to have two versions of the page/email one with SHERPA/RoMEO and one with more generalised information? If a journal isn't i

[2017-01-22 17:14] JosephMcArthur commented on #425
I think this was directed at Mark, but, I have some thoughts regardless :)

If the journal isn't in sherpa / romeo, then we should be able to know that
and change what is sent / shown. If the journal isn't in sherpa / romeo I'd
like this to be listed as something people can help with as part of the
request system or that we can figure out on authors behalf. Of course, we
need the fallback of telli

[2017-01-22 17:16] chealsye commented on #343
It's fine. But can you make the white box slightly taller? It cuts off letters.

![screen shot 2017-01-22 at 12 14 04](https://cloud.githubusercontent.com/assets/9299248/22184275/7715c372-e09c-11e6-9517-10ec0b3f65e7.png)

[2017-01-22 17:17] #343 closed

[2017-01-22 17:23] chealsye commented on #425
This issue is vague. I want to know *how* we're planning to do this before figuring out how to handle when it isn't in SHERPA/RoMEO. There's a difference between it being on a request page and in an email.

@JosephMcArthur, have you looked up archiving policies of a journal before not using SHERPA/RoMEO? It is not always a simple task. We can try to ask people to help with it, but that's involving

[2017-01-22 17:38] JosephMcArthur opened #483 "How to get information on journal submission policies when Sherpa Romeo doesn't have it"
As discussed in #425

Some ideas for tactics include:
- [ ] emailing journals to ask
- [ ] figuring it out ourselves
- [ ] asking (or paying) the community to help
- [ ] getting sherpa romeo to do it

and when we do this we should aim to contribute it back to sherpa romeo.

Before investing in this issue, we should complete #425 & run an analysis on our backlog of requests to see how big an issue

[2017-01-22 17:43] JosephMcArthur commented on #425
There are many ways we can implement this, the issue is vague as we haven't decided the best way to do it yet.

It seems that whatever we do we'll need some copy-guiding authors from whatever information we have. However, I have split off a separate discussion in #483 to discuss questions about what we do when we don't have that information. For the purpose of closing this issue and writing some c

[2017-01-22 17:50] chealsye commented on #425
I just want @markmacgillivray to tell me how he is envisioning implementing this. You and I do not need to be going back and fort. And then I can sort out copy.

[2017-01-22 19:29] chealsye commented on #424
I'm confused about this and what I need to do. I can copy, but not sure where it is needed/what's happening.

[2017-01-22 23:11] #153 closed

[2017-01-22 23:31] markmacgillivray commented on #287
I'm finding this hard to understand. Why does it seem we are continuing to investigate mobile apps at all? It's not that I disagree that mobile apps give a better experience or that react native would be a good way to do this - what I disagree with is that the point of this issue is to explore the lightest possible approach to what should be done for mobile users at all, if anything.

The use case

[2017-01-22 23:40] markmacgillivray commented on #425
How I implement this depends on what you want it to say ;)

It won't be sending a user away from our site to sherpa/romeo, unless you want that.

I'd envisage that if we know the journal an article is from (which is another gap - we don't always know) then I will have the system look up sherpa/romeo for the journal, and if found, I can stick whatever statements sherpa/romeo provides onto the page

[2017-01-22 23:43] markmacgillivray commented on #424
I think this one is fine with some timeouts and a simple message that says something like "email sending / email sent". I'll build that in, then once you see it if it doesn't suit the language style you want, it can then be changed.

[2017-01-23 10:56] markmacgillivray commented on #241
There is now a 1.0.3 version on plugin master branch for firefox, it has the different key they asked for, and connects to the live API. It would be good if someone can test then try putting it on the firefox store.

[2017-01-23 11:19] markmacgillivray commented on #301
Also run the real data before/after updates to the system for reverse lookup, title lookup

[2017-01-23 11:24] JosephMcArthur opened #484 "Engineering blog from Mark on the Find system"
We're doing a lot of work behind the scenes on making the find system good that isn't caught by issues or able to be communicated. It's important for us to communicate this work as it's hard and has a lot of value.

Suggesting here that we write a blog on it.

[2017-01-24 06:19] chealsye commented on #425
Oh, yes, that's true that knowing the journal is another gap!

I agree that the simplest option is to display the RoMEO color. Do you think we should display the color or just interpret the color and show them an understandable result? Actually including the colors may potentially be confusing for those unfamiliar (and most likely will be) and ultimately are symbolic and extraneous when including

[2017-01-24 19:46] natalianorori opened #485 "Some users are using the button to make ebook requests. How should these be handled?"
Hi! Thanks for filling an issue! Here are some tips on writing great issues.

## Bug report template

### Expected Behavior
*What did you expect it to do? - remove this note before posting*

### Actual Behavior
*What's it doing? - remove this note before posting*

### Steps to Reproduce this bug
*Please include any info about the version of the tool you're using and your system. - remove this note

[2017-01-24 19:51] natalianorori opened #486 "How should we handle requests of article's written by deceased authors, with no co-authors.?"
Here is an example of such request: https://openaccessbutton.org/request/pYLtsAvbh6vJsP9qq author is deceased, there were no co-authors.

[2017-01-25 04:37] natalianorori opened #487 "What if I can't find the authors email, but I have their office phone number?"
would it be innapropiate to call and ask their secretary for their email address? as a last resource perhaps? @JosephMcArthur

[2017-01-25 09:48] JosephMcArthur opened #488 "Feedback on proposal from Dissem.in on guiding authors on what to deposit"
https://www.eleves.ens.fr/pads/p/dissemin_institutions

[2017-01-25 09:51] wetneb commented on #488
And this one: https://www.eleves.ens.fr/pads/p/dissemin_crawling

[2017-01-25 09:57] markmacgillivray commented on #488
What sort of feedback are you expecting? And where do you want me to put it?

[2017-01-25 10:00] wetneb commented on #488
@markmacgillivray as you want! inline or here, or via email…

[2017-01-25 12:16] JosephMcArthur opened #489 "Update of API documentation"
- [x] simplify some copy on the page - Me
- [x] add in DOI / PMIC / Title? / Citation ? info - @markmacgillivray
- [x] give an example doi / url / etc to use to test

[2017-01-25 18:54] markmacgillivray commented on #439
OK, these settings have all been done. May take a while to propagate, so assigning to Joe who can then follow up with medium again if necessary, in a day or so.

[2017-01-26 18:33] JosephMcArthur commented on #444
This is an imminent issue as @natalianorori needs to keep scrolling down.

[2017-01-27 01:36] natalianorori opened #490 "Alternatives to finding author's emails"
As you know, I’ve been working with the request system daily for almost a month. During this time, I have learned a lot about the system and have found different alternatives that could help us handle requests more efficiently.

One of the main challenges we face while handling requests is finding author’s emails. Some times we can be lucky enough to find the email easily by just doing a google se

[2017-01-27 19:09] JosephMcArthur opened #491 "Flag request if usertype is other"
This will cause issues with emails that're sent, we should add a flag here for a moderator.

[2017-01-28 13:46] JosephMcArthur opened #492 "Add an example url on the homepage & /request/new"

[2017-01-28 13:53] JosephMcArthur commented on #432
- [ ] I'd suggest we think about a way to make clearer why we need this information (i.e just for requests). I think some brief copy would be fine. - @chealsye

[2017-01-28 14:25] JosephMcArthur opened #493 "Split "find it" box from search bar (on at least) mobile"
This would make the instruction text in the bar more fully displayed on mobile as the find button could drop down under it.

While we're doing this lets:

- [ ] add alt text to it

[2017-01-29 02:30] chealsye commented on #488
My biggest concern is using ROAR to tell authors that they can archive something because of their institutional Open Access policy. Are you identifying the rights on the type of policy? Some of the policies do have agreements that supersede any publisher contract, but most authors will not view it that way and won't be comfortable (if they know what the publisher policies are!). A Harvard style po

[2017-01-29 17:50] JosephMcArthur commented on #112
Need to:

- [ ] output a list of sources in share - @markmacgillivray
- [ ] align above list with #181 sheet
- [ ] test
- [ ] turn on

[2017-01-29 17:58] markmacgillivray commented on #112
Share search is now possible. We need to match the sources names in share with our own list of preprint servers. Attached is the list as a txt but it is actually a csv so can be used in google sheets etc - github just does not upload csv for some reasn
[share_sources.txt](https://github.com/OAButton/discussion/files/737696/share_sources.txt)

[2017-01-29 18:24] JosephMcArthur commented on #439
@chealsye our medium URL is now https://blog.openaccessbutton.org/.

tested openaccessbutton.io, redirects perfectly.

We're all done here!

[2017-01-29 18:24] #439 closed

[2017-01-29 18:28] JosephMcArthur commented on #432
@chealsye part of this change has been pushed live without your approval on new t&c's copy, can you take a quick look?

[2017-01-29 18:30] JosephMcArthur commented on #214
we're all good here!

[2017-01-29 18:30] #214 closed

[2017-01-29 18:34] chealsye commented on #432
@JosephMcArthur Why did you have to push it live? Why didn't you communicate you wanted it done within a day if you weren't okay waiting for me to do it?

I was literally writing a sentence to communicate this when I received this notification. I had a new account window open. When I refresh it there are no differences, nor when I logout and log back in, so I cannot take a look at what you just ad

[2017-01-29 18:45] JosephMcArthur commented on #432
it wasn't what I asked you to do yesterday, it was a change to the t&c spoken about above & that has been there a while. I realised after we pushed that I didn't think you'd seen this, hence the comment. The following text is what I think you maybe haven't seen:

[2017-01-29 18:48] JosephMcArthur commented on #77
We now have ineedthisdoi.org too, which this can be set up on

[2017-01-29 18:56] chealsye commented on #432
@JosephMcArthur Do you mean this change "Not responding to the above, just noting for myself that we could remove tickboxes for terms assumed to be okay on saving details."?

Is that quoted information in the terms or on the create an account page? Neither page for me has any changes.

[2017-01-29 19:04] JosephMcArthur commented on #432
it's on the create an account page. You may need to do a hard refresh to have it show up (shift + refresh) as always with copy changes.

[2017-01-29 19:14] markmacgillivray commented on #488
@wetneb as @chealsye has mentioned, my main concerns would also be around what you hope to achieve with the data you are able to extract. We (at Cottage Labs) have already previously done what you are describing, in roughly the same way, both for ourselves internally and as a demo for University of Nottingham who were considering updating their sherpa/romeo and opendoar systems. Opendoar is like R

[2017-01-29 19:21] JosephMcArthur commented on #479
I can't replicate this on 50.1.0 (which happens to be my version)

[2017-01-29 19:22] markmacgillivray commented on #479
Hi @chealsye sorry I forgot to get back to you on this, I have tested on the 50.1.0 version of firefox on mac and it works now. Can you check again? And let me know if you are on a version other than mac, just in case?

[2017-01-29 19:25] JosephMcArthur commented on #476
Are we good to close this @natalianorori

[2017-01-29 20:26] chealsye commented on #479
@markmacgillivray I can now see the details in firefox, thanks!

[2017-01-29 20:26] #479 closed

[2017-01-29 21:42] JosephMcArthur commented on #425
Thanks for the above @chealsye. I'd suggest we don't have the color in the text at all. I think this is what you're suggesting above, but just making sure that is clear.

I didn't realise that it wasn't usually the publishers PDF even when it says it is, their color description doesn't make that clear at all. Can you expand on this just so I (personally) understand? If 99% of the time it isn't the

[2017-01-29 21:54] chealsye commented on #425
Oh, yes, @JosephMcArthur! I wasn't clear with that. I meant that if we have "green" from SHERPA/RoMEO then we display "You can archive the submitted and accepted version!"

It is very, very rare for a publisher to be permitting the publisher's PDF (not including when the article is published Open Access and has a CC license, of course). I've read hundreds of copyright transfer agreements for my jo

[2017-01-29 22:09] JosephMcArthur commented on #425
This is so useful @chealsye, thank you. So, am I to understand from this that even if we have Sherpa Romeo info & we do a good job of getting the author to understand what they need to deposit & they do that - it still might be wrong because we can't factor in embargo periods?

In case this isn't coming across in the above, I'm actively groaning while writing this.

[2017-01-29 23:21] #437 closed

[2017-01-29 23:24] markmacgillivray commented on #463
this has been fixed

[2017-01-29 23:24] #463 closed

[2017-01-29 23:48] JosephMcArthur commented on #473
We should also have a box for story rating as part of moderations. If a story is good, we'll display on /request

[2017-01-30 00:20] JosephMcArthur opened #494 "change email sending back to .org, from .io"

[2017-01-30 00:21] JosephMcArthur opened #495 "Make sure request system emails come from requests@ourdomain"

[2017-01-30 04:11] chealsye commented on #425
@JosephMcArthur Yes, but not quite! Not all hope is lot because of embargoes! But we'd need to know the journal publisher. For the major publishers we can use default policies (although tbf the default policies may be new in the last year or three years and not apply to previously published research but whatever). So, for example, maybe we have a green journal from Taylor and Francis. The author c

[2017-01-30 05:27] chealsye commented on #432
Oof. That is a big sentence. The old page looked a bit cleaner... but the sentence works. Perhaps the 'I understand' can be removed or removing 'I agree' and beginning with 'By signing up'

My suggestion for why we need details sentence was going to be

But my concern now is having the "I" sentences follow. Or this sentence could go above the details entry?

I'd really like it if we'd consider the

[2017-01-30 07:53] JosephMcArthur opened #496 "Breakdown what we need help with on the request / help page"
Is it finding an author email, or certain policies, or what?

[2017-01-30 08:33] JosephMcArthur commented on #432
Okay, the page now has the copy changes you suggest & a suggest refinement of my own (combining the I read / I agree statement)

We could also say "by the button" & remove "accessible". I'm in favour of those changes.

[2017-01-30 08:36] JosephMcArthur commented on #432
Scratch that, I've put the last two suggestions in to see how the statement now looks. It's a lot better. Feel free to reverse.

[2017-01-30 10:09] JosephMcArthur opened #497 "Show usertype here: "This request was created on Sunday Jan 29, 2017 by alhornor who said:""

[2017-01-30 11:03] JosephMcArthur opened #498 "Changes to the received page"
## 1

- [x] change

to

approved @chealsye ?

## 2

- [x] Can we suggest what a good publically accessible URL is? For example, a copy on your author page or pre-print or something in a repo - @chealsye

## 3

- [x] Shall we split the page in two along the following lines:

1. If the article is online somewhere. This can take the first paragraph (and some of the second) with the URL box. We can to

[2017-01-30 15:31] JosephMcArthur opened #499 "New request system embeds"
![image](https://cloud.githubusercontent.com/assets/4953703/22428739/15e9714c-e700-11e6-9c52-86a1d42c2e36.png)

- [ ] remove logo
- [ ] make story focused / tell a embeding users story
- [ ] make a light tone generally

Perhaps something like:

[2017-01-30 16:12] JosephMcArthur opened #500 "Continue to work on new /request"
The idea of this rebuild it to:
- [ ] incorporate the mapping & tie to reqeusts
- [x] centre the page about our now good user stories
- [x] properly highlight what the request system is
- [x] make it clearer how others can support the system & requests
- [x] set the stage for a faster moderation workflow
- [x] close #444
- [x] Set the stage for request communities
- [x] make the page prettier
- [

[2017-01-30 23:42] natalianorori commented on #476
yes! closing

[2017-01-30 23:42] #476 closed

[2017-01-30 23:45] chealsye opened #501 "Submit request button not clear"
The button to submit requests is not clear to all users.

The problem was originally reported on Monday by Rickypo on Twitter.

![screen shot 2017-01-30 at 18 33 36](https://cloud.githubusercontent.com/assets/9299248/22446481/f9e8ab1e-e71a-11e6-94a6-0d63d39fc245.png)

At first I thought it might be a bug and went to re-create it, and even though I was able to click the box and submit it did not fe

[2017-01-31 04:18] chealsye commented on #498
@JosephMcArthur Does this page currently exist?

[2017-01-31 08:07] JosephMcArthur commented on #501
Let's move forward on changing the dialogue. Thanks again for flagging.

We're probably going to make this page look more like the plugin too, which should help.

[2017-01-31 08:13] JosephMcArthur commented on #498
Yup, it's as discussed in #337 & some emails. It's the page that everyone on the team finds hard to get to because only authors get the link. To reach it go to any request (in admin), go to details & then hit responder. That'll take you to the page for that request.

Here is what it currently looks like:
![image](https://cloud.githubusercontent.com/assets/4953703/22456939/302fc47e-e78d-11e6-93d7-a

[2017-01-31 08:50] JosephMcArthur opened #502 "Account page rejig"
- [x] half account page to have additional details & plugin download higher (this will make text entry nicer & increase visibility of plugins)
- [x] remove blue background for text entry

[2017-01-31 13:13] JosephMcArthur opened #503 "Allow author to validate they're the author of a paper through login"
Aim here to make "contact us if you're the author" more actionable & not need our involvement. Seems our new /request page will make it much easier for authors to see if they're in the system

So, instead of contact us if you're the author we'll ask them to login with their email (where we can then verify they have that address). If their address matches the address in the target field then they'l

[2017-01-31 15:57] natalianorori opened #504 "we should get a new "status" for requests that fail, but are not necessarily "refused""
currenlty, the only way to close a request is by marking them as either "received" or "refused"
It would be good to get a new status to close requests that were not refused, but  couldn't be processed for other reasons (no email, dead author, etc.)

I am keeping failed requests on "help" status until we figure out the appropiate way to close them.
@JosephMcArthur

[2017-01-31 16:06] JosephMcArthur opened #505 "bcc requests@openaccessbutton.org on all request system emails"
Simply to make it easier to catch errors in actual use

[2017-01-31 16:09] JosephMcArthur commented on #504
This is essentially the same as #480

[2017-01-31 16:21] JosephMcArthur opened #506 "All request system emails look as though they're coming from test system"
Openaccessbutton.io is being sent as oab.test.cottagelabs.com.

This was first noticed today (after pushing new email updates). Happens on the new emails & others that weren't changed by updates. Can't confirm yet if this was changed by updates made on Sunday though.

[2017-01-31 16:24] natalianorori commented on #504
should I close this ones and move my comments to #480?

On Tue, Jan 31, 2017 at 11:09 AM, Joseph McArthur <notifications@github.com>
wrote:

[2017-01-31 16:28] natalianorori commented on #503
I think this is a good idea, but what if the author has different email addreses and the one they enter doesn't match the one we have? Perhaps we should ask them to enter the email address we specifically used to contact them.

[2017-01-31 16:34] markmacgillivray commented on #506
Sorry, should be fixed @JosephMcArthur plz try again

[2017-01-31 16:37] JosephMcArthur commented on #506
okay, we're back! @natalianorori

@markmacgillivray, is there anything we should be putting in place to stop this happening again (& any any idea of the damage?)

We know broken emails when out to at least 4 folks. @natalianorori , can you drop them a note to say sorry?

[2017-01-31 16:40] markmacgillivray commented on #506
No it is just a convenience I had put in for testing and not changed when we did the switch on Sunday night. Probably when the new email templates were uploaded it then did not match properly. There is now a check in place so it will only send that way on dev, and not on live.

[2017-01-31 16:42] JosephMcArthur commented on #506
Okay great, thanks @markmacgillivray / @natalianorori for quick flagging / troubleshooting & fix.

We're operational again.

[2017-01-31 16:42] #506 closed

[2017-01-31 17:18] chealsye commented on #501
- [ ] @chealsye communicate to Rickypo how we improved this for more clarity once we do

[2017-01-31 17:19] JosephMcArthur opened #507 "improved bookmarklet install instructions"
The install instructions & gif here (http://www.spritzlet.com/) is pretty great, mainly point 1 is what we can learn from.

Can we make this bit right for us?

Also useful for #469

[2017-01-31 17:41] natalianorori commented on #506
Great! Thanks for fixing this fast Mark! I'm gonna get back to work after lunch and apologize to our 4 users for the mix up

[2017-01-31 22:32] natalianorori commented on #504
We should also get a new status to differentiate our "help" requests that have not been managed yet from the ones that have been managed, but haven't find the author's email.

for example, once we notify the user that we can't find the author's email and that is the reason their request is taking longer, changing their request status from "help" to something else would be useful to avoid confusion

[2017-02-02 00:31] natalianorori commented on #505
@JosephMcArthur we need to find or open another email address to bcc this too, since @chealsye is getting all these emails and it can get confusing.

[2017-02-02 14:29] JosephMcArthur opened #508 "How to handle (often good) stories with typo's"
This seems to happen a fair bit & it's a shame! Often these stories are actually good ( e.g https://openaccessbutton.org/request/F4hgxMEGSgNQgrNke ) and correcting a few words would make a big difference I expect.

I could be wrong, but Natalia, I'd imagine fixing this wouldn't need much time (especially if your browser has a spell checker). However, do we have the rights to fix this, do we need t

[2017-02-02 15:22] JosephMcArthur opened #509 "2 Instances of find system point folks to the wrong article"
# 1

From: http://dl.acm.org/citation.cfm?id=1710138&dl=ACM&coll=DL
To: http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.433.6725

Why: ???

# 2

From: http://science.sciencemag.org/content/347/6221/500
To: http://scholarworks.gsu.edu/phy_astr_diss/55/

Why: Same title, but the first was a news article

[2017-02-02 15:24] JosephMcArthur commented on #509
One idea, would doing a comparison of abstracts (where possible) be a useful way to catch issues?

[2017-02-02 18:26] JosephMcArthur opened #510 "Validating a data / article smoshing page"
@svmelton has all the details. The general idea here is to surface our ability to link articles their corresponding datasets via a page on the site that doesn't require use of the whole request system workflow.

[2017-02-02 19:14] natalianorori opened #511 "following up with author emails"
The request system has been active for over a month, and it is getting important to talk about how we will be following up with authors that haven't replied to our emails (according to our workflow, that's something that we should already be doing).

I checked our drive and the github emails folder and there is nothing there yet, I don't know if we have drafts of these emails in other locations.

[2017-02-02 19:17] JosephMcArthur commented on #510
Note: MVP for this might just be a google form.

[2017-02-02 19:40] natalianorori commented on #490
adding a note to this,

there are some journals that only give you author's initials, or their last name with their first name initial. This makes it harder to track down their emails since we don't even have their name

[2017-02-02 19:48] natalianorori commented on #508
This is a struggle I had as well. We wouldn't be changing the idea, nor the words its just a typo,  so I am not sure if it's necessary to notify the users unless bigger changes to the story need to be made.

It is important to note that we have people from all over the world using the button, people who's first language is not English so typos will be pretty common in future requests.

So I'd say

[2017-02-02 19:52] natalianorori commented on #487
this is the same as #490

[2017-02-02 19:52] natalianorori commented on #485
nudging on this, I have several already @JosephMcArthur

[2017-02-02 20:02] natalianorori commented on #485
https://openaccessbutton.org/request/irfcAqSLeaBwBwDGv example

[2017-02-03 14:18] JosephMcArthur opened #512 "[UI convention] Tick exclusive choice with several choice tick"
@jibe-b commented on [Fri Feb 03 2017](https://github.com/OAButton/odb/issues/62)

Please forgive the approximative vocabulary I might use.

When entering a new request on https://openaccessbutton.org/request/new then entering a DOI
the next step is to tick either the request for
[ ] article
[ ] data
and the tick boxes _behave_ like unique-choice boxes, though _looking like_ multiple-choice boxes.

[2017-02-03 14:30] markmacgillivray commented on #512
This is because originally it was possible to select both, but then it was decided to only allow one or the other, and to see how that goes. It could be changed to unique selectors now, but this will become obsolete once the new request UI changes to be more like the extension, which should be done soon.

[2017-02-03 18:49] natalianorori opened #513 "We need an email that's "the request system doesn't do that""
for ebook requests, and subscription requests like the one we got today: : https://openaccessbutton.org/request/wmd8LwAsmyofdS4Jy

@chealsye @JosephMcArthur

[2017-02-04 11:01] JosephMcArthur opened #514 "Understand / conceptualize how we enable communities to manage / personalize the request system"
Here a community can be thought of as any group that has a specific interest in a subset of requests or users in the system. For example:
A library wanting to manage it’s users who can request any type of research
A groups of librarians from different institutions wanting to free research in library journals
A journal wanting to manage requests involving its journal (especially from any widgets we

[2017-02-04 16:13] JosephMcArthur commented on #458
Assigning @chealsye to refine copy

[2017-02-04 18:29] JosephMcArthur opened #515 "Search from on screen-selection when using bookmarklet / plugin"
This is one way that the Google Scholar plugin works, which seems to be extremely popular. This could be quite useful as a way to request from a reference list, although to really make that useful we'd need to think about using some functionally from Lantern (licence guessing).

This would also need us to close #474

Not sure if we should be doing this, but, it's an idea worth storing!

[2017-02-04 22:19] JosephMcArthur commented on #429
UpdateL
* I've got us set up with an accounts & added team members who need to be on the system
* I've tested a variety of our email addresses. All of these seem to be going into the system okay
* I've taken a shot at getting our domain set up on the system, still awaiting verification
* I've played around with responses in the system - looks professional
* I've added our social accounts to the sy

[2017-02-05 11:02] markmacgillivray commented on #450
Not possible - user signs in to machine, but not browser.

[2017-02-05 11:02] #450 closed

[2017-02-05 11:03] markmacgillivray commented on #452
Avoided - user will use anonymously, we will affiliate accounts by their email address at a later date.

[2017-02-05 11:03] #452 closed

[2017-02-05 11:03] markmacgillivray commented on #456
Not necessary, we will relay ILL requests through the library server

[2017-02-05 11:03] #456 closed

[2017-02-05 11:27] JosephMcArthur commented on #429
Update:

* written (sending) message
* don't need github docs, nothing to document yet
* domain is verified, as are other emails we need monitored.

[2017-02-05 12:55] markmacgillivray commented on #455
This is possible but does not appear to be allowed. There are options in the primo search where it seems institutions can have access to do primo searches and remote searches, but I don't seem to get anything useful back from those searches, so perhaps are not allowed.

If we have another library use our tool though, and if we are whitelisted to query their catalogue, then we could query across li

[2017-02-05 13:12] markmacgillivray commented on #449
We know we can't get trackable info back immediately because we are just POSTing to a script that will collect data and run the ILLs at a later date. However, we will be asking the user for their institutional ID / email address, and from that we can look up their ILLs and know when they are fulfilled, with a cron job.

For this we need either access to an API key that allows this lookup, or an ad

[2017-02-05 13:14] markmacgillivray commented on #451
Sign in is not necessary - we will be collecting their institutional ID / email address though.

[2017-02-05 13:14] #451 closed

[2017-02-05 13:16] markmacgillivray commented on #448
Closing, now being followed up in next milestone by ongoing issue #449

[2017-02-05 13:16] #448 closed

[2017-02-05 19:42] markmacgillivray commented on #457
Done - but currently just relays an email, we need to chase the library for the endpoint to send this to, can easily change any time.

[2017-02-05 19:42] markmacgillivray commented on #454
Done, works.

[2017-02-05 19:42] #454 closed

[2017-02-05 19:43] markmacgillivray commented on #453
Populates title if possible, but gets user to confirm, and asks for institutional ID email. Also currently asks for a story, but that could be ignored.

[2017-02-05 19:43] #453 closed

[2017-02-06 10:37] #429 closed

[2017-02-06 17:38] markmacgillivray commented on #458
@JosephMcArthur is it still worth having this AND the zendesk help functionality? I may leave this for now, but then if we decide not to stick with zendesk, can implement this (and probably any useful zendesk features) if we set some time aside for it.

[2017-02-06 17:40] JosephMcArthur commented on #458
We still need this I think.

On Mon, 6 Feb 2017 at 17:38 markmacgillivray <notifications@github.com>
wrote:

[2017-02-06 17:40] markmacgillivray commented on #458
ok

[2017-02-08 11:57] JosephMcArthur opened #516 "move dev site to dev.openaccessbutton.org"

[2017-02-09 08:52] JosephMcArthur opened #517 "Show more user names on /admin"
So @chealsye can more easily reach out to users

[2017-02-10 04:46] chealsye commented on #517
This means the first and last names (when provided). Although really just first is fine.

[2017-02-10 04:49] chealsye commented on #508
Just chiming in - I agree that if it is just a typo it can be corrected without notification.

[2017-02-10 05:03] chealsye opened #518 "Search not picking up SSRN copy, DOI search sending to wrong article"
I ran into a problem with a request from 2013 (came across it when tracking down uni requests for a librarian).

[The Button request](10.1016/j.bushor.2011.01.005) appears normal. However, there are problems when searching for both the url and doi from the Button. The doi (10.1016/j.bushor.2011.01.005) says the article is available, but it actually sends you to a whole different article with a dif

[2017-02-10 10:21] JosephMcArthur opened #519 "Design Checklist for Feb 23rd"
- [x] small changes to pages to make them look niceer e.g @chealsye request to make the page look nicer
- [ ] /request rethink & general thoughts on request workflow
- [ ] Gifs
  - [ ] bookmarklet install for #507
  - [ ] Gif for using the button on chrome / & making a request
  - [ ] Gif for using the browser button / & making a request
- [x] general thoughts on /account
- [x] discussion on socia

[2017-02-10 10:25] JosephMcArthur opened #520 "if on login or sign up page don’t display other login / sign up tab"

[2017-02-10 10:26] JosephMcArthur opened #521 "Replace old logo on plugins / bookmarklet & make header text dark blue"