[2016-10-13 16:07] markmacgillivray commented on #279
There is a file in the templates folder called footer.html, in there you can find the advocacy link and remove it, and edit any other footer content you desire. Similarly there are other templates in there that can also be edited.

[2016-10-13 16:14] chealsye commented on #279
I attempted to do that last night before posting it on github. When I open footer.html in the templates folder it is blank.

[2016-10-13 16:24] markmacgillivray commented on #279
Here is the footer file with content in it on the develop branch on github:

https://github.com/OAButton/oab_static/blob/develop/templates/footer.html

Are you looking at the file locally or on github? If local, try doing a git
pull (although that should be up to date, because that should be done
before any pushes anyway, but just to check).

On Thu, Oct 13, 2016 at 5:14 PM, chealsye <notification

[2016-10-13 16:48] chealsye commented on #279
I was looking at the file on github.

Thank you. Removed it.

[2016-10-13 16:48] #279 closed

[2016-10-14 06:27] JosephMcArthur commented on #278
Fixed this, was indeed an issue above.

[2016-10-14 06:27] #278 closed

[2016-10-14 06:29] JosephMcArthur commented on #271
Just added a break line to the offending quote.

[2016-10-14 06:29] #271 closed

[2016-10-14 09:35] JosephMcArthur commented on #217
This also needs to be on the new request making page

[2016-10-14 09:37] JosephMcArthur commented on #118
This seems to be working in many cases, suggest we close and report bugs where required.

[2016-10-14 09:38] markmacgillivray commented on #217
What does?

[2016-10-14 09:41] JosephMcArthur commented on #187
Am seeing things like gmail on /request still, can we get an update?

[2016-10-14 09:52] JosephMcArthur commented on #217
Okay, have added the new prompt to the new request page and new request making page.

Mark, is the prompt "How would getting access to this research help you? This message will be sent to the author." in the dev plugin?

[2016-10-14 09:55] JosephMcArthur commented on #123
Okay, no longer seeing duplicate URL's from a user & my comment on stories is not longer applicable. Closing for now however #187 remains an issue.

[2016-10-14 09:55] #123 closed

[2016-10-14 09:58] markmacgillivray commented on #217
As far as I know yes. In the story box:

http://oab.test.cottagelabs.com/request/new

[2016-10-14 10:01] markmacgillivray commented on #187
The requests that are there are not fully filtered yet. I still have issues loading all the old records. It is not the main concern just now though, as per previous emails about loading data

[2016-10-14 10:10] JosephMcArthur commented on #217
I just added them. I'm just referring to the plugin / bookmarklet now.

On Fri, 14 Oct 2016 at 10:58 markmacgillivray <notifications@github.com>
wrote:

[2016-10-14 10:11] markmacgillivray commented on #217
I think that was already in that box, I put it in earlier. It is already in the plugin, yes.

[2016-10-14 10:17] JosephMcArthur opened #280 "On homepage split "seen on" logos so their responsive"

[2016-10-14 10:22] markmacgillivray commented on #280
Did the designer have these logos separately? I asked before when putting
them up there, but all I could find was one whole image which I cut that
out of. To implement designs like this long term, we need the individual
images provided so that I can quickly use them where necessary - it is too
slow a process to have to chop out the relevant bits. I could do it in this
case with these company names

[2016-10-14 10:40] markmacgillivray commented on #275
Can this be closed now? We have the dev site aligned, and we know what the issue was with master.

[2016-10-14 10:41] markmacgillivray commented on #272
Copy done, design changes can come in a later round, for now the design matches better across pages and changing them all would take more time than is currently available. Will unassign myself as I am trying to track what still needs done by me.

[2016-10-14 10:44] markmacgillivray commented on #260
It can. Ongoing testing to become a thing, but this particular issue seems resolved. Will leave open but unassign from me and milestone for the time being.

[2016-10-14 10:45] markmacgillivray commented on #208
Unassigning myself as nothing for me to do right now, more of an issue for later, already in backlog.

[2016-10-14 10:47] markmacgillivray commented on #240
@JosephMcArthur awaiting answer on this. unassigning myself for now, let me know if really wanted.

[2016-10-14 10:49] #118 closed

[2016-10-14 10:49] markmacgillivray commented on #157
Admin users can now change details on request page

[2016-10-14 10:49] #157 closed

[2016-10-14 11:05] JosephMcArthur commented on #136
Just seen this live, looks good. Made a change to the line order but I think we're good to close here.

[2016-10-14 11:05] #136 closed

[2016-10-14 11:08] markmacgillivray commented on #270
Fixed. Where there is only one filter value of a given type, it should not display at all (because with only one type it can have no useful effect in the result list). Because this was not happening, it was possible to still see and click the filter link over and over again.

[2016-10-14 11:08] #270 closed

[2016-10-14 11:09] markmacgillivray commented on #277
Done

[2016-10-14 11:09] #277 closed

[2016-10-14 11:10] JosephMcArthur opened #281 "1/2 page styling for sign up / in page & potentially other pages"
This is a holding issue following discussions here:
![image](https://cloud.githubusercontent.com/assets/4953703/19385586/277b0810-9207-11e6-9178-423b9028c5b1.png) (from
#136 )

I can probably do this styling, so assigning myself.

![image](https://cloud.githubusercontent.com/assets/4953703/19385579/172aadbc-9207-11e6-8f4f-c10e3ac2451e.png)

[2016-10-14 11:13] JosephMcArthur commented on #260
Actually going to close it, just so we can track progress. Will boot up new issues for testing & what not.

[2016-10-14 11:13] #260 closed

[2016-10-14 11:14] JosephMcArthur commented on #157
Can you make me an admin on the test site?

[2016-10-14 11:14] JosephMcArthur commented on #275
Given discussions via email yesterday - yes

[2016-10-14 11:14] #275 closed

[2016-10-14 11:17] JosephMcArthur commented on #258
Have closed many, awaiting proof reading of legal to close this.

[2016-10-14 11:55] #268 closed

[2016-10-14 11:56] markmacgillivray commented on #235
Unassigning me for now, no obvious code requirement yet, just tracking what I have to do right at the moment. Can reassign me later if needed.

[2016-10-14 11:58] markmacgillivray commented on #267
@JosephMcArthur what should I be doing with this one?

[2016-10-14 12:05] JosephMcArthur commented on #267
When the plugin / website request page (we need a better name for this) opens on something that is:

* on our black/filterlist --> show a nice message suggesting they should check out the instructions
* if our system can find no title or DOI --> allow for manual input or to report gracefully (e.g #274)

This is all shown in #226, specifically here: https://github.com/OAButton/backend/issues/226#is

[2016-10-14 12:09] JosephMcArthur commented on #272
Trying to test this. Mark, can you clear my account details for joe@righttoresearch.org / jose@sparcopen.org / joseph.mcarthur.10@gmail.com OR let me know why having a plus in the address stops the email sending. I use "+" to fool these sign up forms into thinking I have a new account but still getting emails.

Once I can double check copy, we're good to close.

[2016-10-14 12:19] markmacgillivray commented on #267
ok thanks for the reminder

On Fri, Oct 14, 2016 at 1:05 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-14 12:37] JosephMcArthur opened #282 "increase form font size to 20px"
I believe this code comes from the CL repo.

[2016-10-14 12:48] markmacgillivray commented on #282
I don't know what you mean. Which form? All forms? There is no code from the CL repo driving the UI now, it is all in the oab_static repo. The CL repo only drives the API.

[2016-10-14 12:53] JosephMcArthur commented on #282
Yeah, all forms, like email submission & sign up.

I think the code for it lives in a static.cottagelabs file.

<img width="1277" alt="screenshot 2016-10-14 13 50 10" src="https://cloud.githubusercontent.com/assets/4953703/19387974/3ef6a02c-9215-11e6-8667-c14c6934dfe1.png">

[2016-10-14 13:03] markmacgillivray commented on #282
In that case it will just be the default bootstrap size. This can be
overridden on the /static.oabutton.css file. 20px sounds kind of large
though. Also usually it is better to dynamically size text using em rather
than px. I can try some different scales if you want.

On Fri, Oct 14, 2016 at 1:53 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-14 13:29] markmacgillivray commented on #272
Plus sign was causing an unexpected issue, fixed now. You should be able to make accounts with joe+whatever@blah.com and they will come through to you.

[2016-10-14 15:24] chealsye commented on #256
OK -- all the problems have been fixed now and the team page is up. Thank you both.

[2016-10-14 15:24] #256 closed

[2016-10-14 15:29] chealsye commented on #235
@JosephMcArthur *second nudge* I need what information you want to be included. Not sure how much we are saying.

[2016-10-14 16:14] JosephMcArthur commented on #272
Great! That works now.

@markmacgillivray have made a pull request to close this - just want to make sure I'm not making for issues than I fix.

[2016-10-14 16:23] chealsye commented on #272
Yeah, it's fine to close.

[2016-10-14 16:28] chealsye commented on #272
None of my copy. This is how it looks when I view it -- the only change I see is removing the API key and additions that weren't my copy to the fields.

![screen shot 2016-10-14 at 11 25 41](https://cloud.githubusercontent.com/assets/9299248/19394984/f89b1644-9200-11e6-941f-ab0684a62263.png)

[2016-10-14 16:40] chealsye commented on #272
But fine close.

[2016-10-14 16:47] JosephMcArthur commented on #235
Let me get back to you on this.

On Fri, 14 Oct 2016 at 16:29 chealsye <notifications@github.com> wrote:

[2016-10-14 17:02] JosephMcArthur commented on #251
Have we thought about if people hit pages like /account, it might make sense to redirect to their equivalents directly? I think if they land on the homepage what is above makes sense.

[2016-10-14 17:10] markmacgillivray commented on #251
We can do that too. All I need to know is which page the main domain should
be redirected to, i.e. the one explaining the move. Then I can redirect
pages to their equivalents if that is how you want it. Just let me know
once the choice is made and I can update the settings when we are ready to
go live.

On Fri, Oct 14, 2016 at 6:02 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-14 22:27] markmacgillivray commented on #280
Ah, found them in the assets folder, which was not there three weeks ago, when I last updated the front page probably. Will use them.

[2016-10-14 22:33] markmacgillivray commented on #226
Unfortunately I think some of the new stuff here may not be usable. We cannot overlay the word count onto the textbox, because the user has to be able to see in it and type in it. But we no longer have an email box, and the big bottom submit box works well as an indicator of when submission can be made, and looks good I think.

I can put in the share success and share request links though, will do

[2016-10-15 11:08] JosephMcArthur commented on #226
Okay, the email box & prompt not being present is a-okay.

@chealsye has copy above for the text in these [here](https://github.com/OAButton/backend/issues/226#issuecomment-252813089) which is good for now. Although, I don't think we have text for the prompts (other than what the designer made).

That text was different because it was coming up in different cases. The 2nd is just always there, inc

[2016-10-15 11:35] JosephMcArthur commented on #272
All the above changes should be in now. However, @chealsye there is an error message you may not have seen.

Any suggested changes to that? I imagine we can make that shorter.

[2016-10-15 11:38] JosephMcArthur commented on #227
@chealsye can you make a version of 2 (the current version on the front of the site) where the whitespace around the hand is all black?

[2016-10-15 11:39] JosephMcArthur commented on #217
Great, then we're good to close!

[2016-10-15 11:39] #217 closed

[2016-10-15 11:40] JosephMcArthur opened #283 "Add story prompt word checker to /request/new"

[2016-10-15 16:22] JosephMcArthur commented on #235
Okay, moved this out of the launch milestone as I'm just not going to be able to turn around the info required.

[2016-10-15 16:34] JosephMcArthur commented on #213
Responding to @chealsye's blocked comment on teamsnippet & doing structural HTML work here. @chealsye that should mean you only need to worry about copy here.

@markmacgillivray we've spoken about filtering for data vs articles on this page. What would be useful to add to the code to set the scene for implementing this later? You mentioned adding classes?

[2016-10-15 17:01] markmacgillivray commented on #213
Yes for things relevant to data you could wrap them in an element with a
class called data. Same for article stuff, but use a class called article.

Some of the old code on this sort of page, and on the about page, could do
with improving. It could be simpler. However for now if you want to proceed
with copy, then yeah just wrap in classed elements.

On 15 Oct 2016 17:34, "Joseph McArthur" <notifi

[2016-10-15 17:13] JosephMcArthur commented on #213
Would that be:
` <div class = "data">
CARD CODE AS NORMAL
</div>
`

The about / support pages code is so complex & fragile. Perhaps when launches are all over we can refactor those pages & do this page while we're at it.

While not critical, it does keep our code base editable, enable contributions & save time in the long run which is good. I'll start an issue for it.

[2016-10-15 17:16] JosephMcArthur opened #284 "Refactor code structure on support / about"
As mentioned in #213

For support / about no addition features are really required (I don't think), merely having the code be simpler would be a big win. That said we still have issues with anchors still sometimes leading to headers not being visible (like in #82)

For resources, it would be good if that page could be filtered. But, filtering is kind of what I understand the about / support code t

[2016-10-15 17:22] markmacgillivray commented on #213
Yes, although no spaces around the equals sign. Also it can be a div but
doesn't have to be. So if there's specific paragraphs, links, or whatever,
anything that is an element can have a class attribute added to it, and if
data or article is one of the class attributes then it'll work.

On 15 Oct 2016 18:13, "Joseph McArthur" <notifications@github.com> wrote:

[2016-10-15 18:09] JosephMcArthur commented on #213
@markmacgillivray I have a pull request so you can check my code.

https://github.com/OAButton/oab_static/pulls

[2016-10-15 20:22] chealsye commented on #227
@JosephMcArthur Where is the original file (Photoshop or Illustrator) of those icons? The logo I have under repo is fuzzy when I try to work with it.

[2016-10-15 20:32] JosephMcArthur commented on #227
https://github.com/OAButton/backend/blob/master/icons/EPS/icon_OAB.eps

On Sat, 15 Oct 2016 at 21:22 chealsye <notifications@github.com> wrote:

[2016-10-15 21:16] chealsye commented on #227
Here you go.

![icon_oab_black](https://cloud.githubusercontent.com/assets/9299248/19413438/0a673b3c-92fb-11e6-997a-5f9aea86edf2.png)

Let me know if you need me to put it somewhere.

The single original logo should be on a transparent and then can just be placed on a black background as well.

[2016-10-15 21:25] JosephMcArthur commented on #227
Sorry, my description wasn't as clear as it could've been. Give the hand a black outline, similar to in 1, but to fill the space around it that's currently white (so it would be a rather thick line).

[2016-10-15 21:25] markmacgillivray commented on #226
The user, on the plugin, will never see the metadata that we try to extract from the page. So "not the right article" has no purpose there, if that is what you meant it to be for. In which case, I will just not put it on the plugin.

Similarly in the case of the first one "but I see one right there" - there is no functionality in the plugin to extract data from the page, or to receive it from the

[2016-10-15 21:28] markmacgillivray commented on #272
As an aside, when I am developing functionality, I have to put something in
these places, such as that error text. If I put nothing in there, it is
very hard to track what is being triggered on the page. Also, if I make it
something relevant, it is easier to edit it later, and actually it can be
directly edited by anyone with access to the repo, so a larger explanation
rather than just "ERROR HERE

[2016-10-15 21:35] chealsye commented on #272
@JosephMcArthur

"Some information is missing. Please confirm you have completed all the fields and checked the boxes. Then save again." is a bit shorter and tighter.

[2016-10-15 21:59] JosephMcArthur commented on #226
You're talking about not even displaying the title of the article the users is on here, yes? So a user can visually confirm that the plugin has found & is searching for the right thing. We know that from the backend alone this can go wrong, and it doesn't seem like this will be infrequent enough for this not to be an issue (correct me if I'm wrong).

It has a clear purpose, to allow a user to flag

[2016-10-15 22:05] JosephMcArthur commented on #281
Not making a whole issue for this, just leaving a note. I went to hit enter on the sign-up page after entering my email, and nothing happened. I expected this to submit to form.

[2016-10-15 22:08] JosephMcArthur commented on #272
this is in & tested (the message comes up). Closing now, any further changes (unless something has been missed above) can be made as new issues. Design changes are included in #281 and can be made as capacity becomes available.

[2016-10-15 22:23] JosephMcArthur commented on #272
Sorry, I've missed something here. While testing #265 (which worked so nicely) I noticed some text about sign up we've not honed yet.

#### text that displayed for me after playing around with multiple accounts & downloading / installing the dev plugin on chrome

Do you want to save the new API key caae0f5ed26f5166caffcbffa78cdd into your plugin?

Button text: Yes, save the new API key to my plugi

[2016-10-15 22:30] JosephMcArthur commented on #265
confirmed this works nicely in chrome.

[2016-10-15 22:30] #265 closed

[2016-10-15 22:39] JosephMcArthur opened #285 "Adjust copy so that /request/new isn't new request page, just oab in a webpage"
I realise we've been calling /request/new a "make a request page", and the current (minimal) copy suggests this too. But, does it not do basically everything the plugin does anyway? Give it a URL, it'll try & find stuff, if that doesn't work make a request.

[2016-10-15 22:45] JosephMcArthur commented on #285
we should probably also link this page from the download section

[2016-10-15 22:48] markmacgillivray commented on #285
I don't understand - what is it you want me to do with it?

On 15 Oct 2016 23:45, "Joseph McArthur" <notifications@github.com> wrote:

[2016-10-15 22:49] JosephMcArthur opened #286 "Gracefully handle folks on Mobile who sign up for oab"
I'm conscious that folks who sign on up mobile currently get a 2nd rate experience, as they can't immediately do anything native to them.

Now, I have an for a lightweight mobile app but it isn't going to happen soon. Until then, could we handle this nicely through copy / emails? Perhaps we can mention that we have version for ff / chrome etc & offer them the change to get an email with download l

[2016-10-15 22:51] markmacgillivray commented on #286
What would a mobile app do? You can't have plugins on mobile browsers. So
presumably someone would still have to leave their browser to go to the
app. If this is the case, a mobile app would be no better than having them
go to the new request page.

On 15 Oct 2016 23:49, "Joseph McArthur" <notifications@github.com> wrote:

[2016-10-15 22:53] markmacgillivray commented on #272
It could just say "your plugin has been authorised" if you want. I think
that text is injected by the plugin, so no you can't find it in the
oab_static repo.

On 15 Oct 2016 23:23, "Joseph McArthur" <notifications@github.com> wrote:

[2016-10-15 22:55] JosephMcArthur commented on #285
Tagged you for this: https://github.com/OAButton/backend/issues/285#issuecomment-254015588 but realised I could probably take a stab at it myself. So now you have a [pull request](https://github.com/OAButton/oab_static/pull/27) instead.

But I'm also interested on your take on this, do you agree?

[2016-10-15 23:04] JosephMcArthur commented on #286
Indeed. The ONLY thing it would add is allow you to use "share" links
(which exist on android & iOS) to simplify the workflow.

### Without app

* Hit paywall :(
* change windows
* navigate to oab
 * maybe login
* navigate to new request page
* change windows back to paywall
* get url
* change windows to request page
* insert link
* use new request page

### with app

* (prior) install app
* hit p

[2016-10-15 23:14] markmacgillivray commented on #286
Hmm. If it is possible to make an app that introduces a "share to OAB" link
to the browser, then that "share to" could go straight to the web page.
That would keep the mobile app extremely simple, it would need barely any
maintenance.

On Sun, Oct 16, 2016 at 12:04 AM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-15 23:15] markmacgillivray commented on #285
Ah right I see what you mean. Yeah can accept that pull request.

On Sat, Oct 15, 2016 at 11:55 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-15 23:18] JosephMcArthur commented on #286
Makes sense, as long as the URL box was then filled on the users arrival.

On Sun, 16 Oct 2016 at 00:14 markmacgillivray <notifications@github.com>
wrote:

[2016-10-15 23:22] markmacgillivray commented on #226
Hmm, yes, we would not want the user to share the request if it is wrong.
And actually, we possibly do not want users to share requests that are
still to be moderated by OAB team anyway, do we?

It probably makes sense not even to have the share buttons on the plugin.
When the plugin creates a request it gives the user a link and it also
opens the request, and we prompt them to go and look at thei

[2016-10-15 23:24] markmacgillivray commented on #286
Yes, we can pass the url of the page they were on, which can populate the
URL box on the new request page, and that will trigger the scrape and
availability check, so we can give them the full functionality just by one
click of a "share to oab" button.

Shall I look into making such an app that adds a "share to oab" button to
android? Not now, we have plenty other things on, but in November I can

[2016-10-15 23:33] JosephMcArthur opened #287 "Explore technical feasibility of lightweight mobile apps"
All discussion & background on this is in #286.

Worth remembering that even if a mobile app is technically easy, it still requires design / copy / testing time & changes to already existing systems & ongoing maintenance. We must keep whatever we do here crazy simply & honed.

[2016-10-15 23:34] JosephMcArthur commented on #286
have moved all this discussion of apps to #287. Not keep on us leaping into this, but it seems like we've stumbled on a simple way to provide a good experience here.

[2016-10-15 23:38] markmacgillivray commented on #226
I found a loading spinner in the icons/PNG folder actually, I'll use that too.

[2016-10-15 23:42] JosephMcArthur commented on #226
And actually, we possibly do not want users to share requests that are
still to be moderated by OAB team anyway, do we?

The moderation is primarily for messages to authors. There is certainly an assumption here that folks who share & have that level of engagement tend not to be the ones who don't get how to use this & leave bad messages. I'm yet too this assumption not help up.

Except in a succe

[2016-10-16 00:59] chealsye commented on #227
Ooohhh. I was thinking it looked terrible, but I was like Joe wanted it... maybe he'll see the error of his ways once there is a visual ;)

So, it doesn't quite work like that. He didn't just make the lock and then put the hand in there with thick white lines. The white bit is actually cut out completely from the lock. No amount of thickening the border would have given you the result you want. Se

[2016-10-16 01:01] chealsye commented on #227
![oab_icon_orangeblack](https://cloud.githubusercontent.com/assets/9299248/19414421/6e280858-931a-11e6-91ca-a9356a47d0a9.png)

The color looks too orange on that one. Somehow it got changed... re-opened the eps, grabbed the color code, and redid it. So hopefully this looks right.

[2016-10-16 01:58] markmacgillivray commented on #226
The plugin has been updated with icons now, I coloured the orange ones black  so don't need those redoing. I could not get the icon loading image to work, so used my own spinning loading one that I already have. Still doing a bit more to the plugin before making a new release, but nearly there, then you can all check the content etc.

[2016-10-16 02:15] chealsye commented on #226
![cogs](https://cloud.githubusercontent.com/assets/9299248/19414738/a9640a3e-9324-11e6-8304-64b4c26a9f7c.png)
![spinner](https://cloud.githubusercontent.com/assets/9299248/19414739/a9684220-9324-11e6-8b9d-1f3b2de3f68d.png)

Here's the spinner and the cogs. If you need something else out of that design (or a different size) just let me know. Pulling them out just takes a minute. I couldn't find the

[2016-10-16 02:31] chealsye commented on #286
@JosephMcArthur What do you need from me right now? Just an email to mobile users? Or also something else?

[2016-10-16 02:33] chealsye commented on #285
@JosephMcArthur - what do you need from me? Didn't quite follow an action.

[2016-10-16 03:10] chealsye commented on #272
Is there a reason the plugin needs to say anything at all to the user? Was this a problem because you were signed into the plugin you downloaded but then on the website you were under a different email?

[2016-10-16 03:18] markmacgillivray commented on #272
If someone installs the plugin from chrome they are directed to go to the
site to get authorised the first time. So it has to say something to
confirm to them that this has happened. Also if someone wipes their
browser, or something like that, they'd be directed to the site to get
authorised. But it could be something as simple as "OK you're authorised".

On 16 Oct 2016 04:10, "chealsye" <notifica

[2016-10-16 04:33] markmacgillivray commented on #267
Done, blacklisted sites now trigger a message saying no and linking to instructions page. Handling missing info will be done on the request page.

[2016-10-16 04:33] #267 closed

[2016-10-16 04:50] chealsye commented on #276
@JosephMcArthur The bottom three items should be you or @markmacgillivray. Pretty good chance I'll break something if I mess with the request page myself.

OK there's a lot here - apologies about that, but let me know if bits are confusing.

Current page for an individual request:

![screen shot 2016-10-15 at 22 46 22](https://cloud.githubusercontent.com/assets/9299248/19415243/4f432724-9338-11e6-

[2016-10-16 06:04] markmacgillivray commented on #276
I actually just pushed some changes to the request page. I have gone back and added as much of this copy as I can. You will see I have moved the share buttons anyway, so they are no longer in the one big button under support. The facebook one automatically includes the URL but no text, there does not seem to be a way to send text to facebook via their sharer link. The twitter one includes text and

[2016-10-16 06:33] markmacgillivray commented on #141
Done.

[2016-10-16 06:33] #141 closed

[2016-10-16 06:34] markmacgillivray commented on #187
The filter is in place now. Can we close this issue? I think it would be good to start a google spreadsheet that has the URLs we want to filter, then later I can add an auto-call that will update the blacklist from the spreadsheet. Re-open if necessary.

[2016-10-16 06:34] #187 closed

[2016-10-16 09:48] JosephMcArthur opened #288 "Allow junk pages to be added to the filter list on the fly"
It's been suggested (#187) that this could be done via a Google sheet that automatically feeds the filter list.

[2016-10-16 09:48] JosephMcArthur commented on #187
Happy to close, have added a follow-on issue at #288

[2016-10-16 10:08] JosephMcArthur commented on #286
I think we should:

- [ ] Have copy (that we display only when folks are on mobile) telling people that they can use oab on a webpage on mobile & that we have lots of desktop apps.
- [ ] Have copy for emails that folks can send themselves to download the browsers apps next time they're by a pc.
- [ ] Have copy for a button for the above email

Then end goal here is ensuring that people who sign up

[2016-10-16 10:10] JosephMcArthur commented on #272
Words like authorized still probably don't mean much to people. I'd suggest we try and just be clear about what it means to a user. In that case "OK you're authorised" becomes "OK you're ready to use the chrome plugin". Not saying the latter should be copy, just an example of how we can change technical words into meaningful info for a user.

[2016-10-16 10:12] markmacgillivray commented on #286
Where? On the account page, after they sign in?

On 16 Oct 2016 11:08, "Joseph McArthur" <notifications@github.com> wrote:

[2016-10-16 10:14] JosephMcArthur commented on #243
@markmacgillivray can we get this in asap? Lots of pages on the site are supported by email & we should lock in and test those before the new site goes up ideally!

[2016-10-16 10:15] markmacgillivray commented on #243
Yes it's next on my list.

On 16 Oct 2016 11:14, "Joseph McArthur" <notifications@github.com> wrote:

[2016-10-16 10:15] JosephMcArthur commented on #286
Yes, in the part of the page where folks normally get the plugins.

On Sun, 16 Oct 2016 at 11:12 markmacgillivray <notifications@github.com>
wrote:

Where? On the account page, after they sign in?

On 16 Oct 2016 11:08, "Joseph McArthur" <notifications@github.com> wrote:

you

just

https://github.com/notifications/unsubscribe-auth/AAuXCCVH1nLXVUd2lFKHYKqwnEHt7IMnks5q0feegaJpZM4KX1gR

—
You are re

[2016-10-16 10:29] JosephMcArthur commented on #276
@JosephMcArthur, let me know what you think about this. I think its lacking some pizazz...

I agree, it is lacking something, but, it's a great start.

- [ ] adjust support c2a.

I did that originally, technically it only may be sent. I did mean to remove it though.

- [ ] Remove may for will.

I think a statement is important, but I agree we can make it shorter. I think two sentences and a link t

[2016-10-16 10:31] JosephMcArthur commented on #276
This can be done, but you have to sign up to the FB dev program.

[2016-10-16 10:37] JosephMcArthur commented on #285
The title of the page currently doesn't represent what it does. It talks only about making a request, not that you can also find stuff.

[2016-10-16 11:28] JosephMcArthur commented on #154
Okay, this issue needs a bit of an update.

- [ ] Send name needs to be "Open Access Button"
- [ ] Should come from requests@openaccessbutton.org. FYI: This address is registered to one of our google apps accounts, incase this matters.

[2016-10-16 11:32] JosephMcArthur commented on #263
In case this isn't clear, this is for articles in the request system. We've also discussed reviewing copy for the article request system. Assuming we can do this far more easily once #243 is finished.

[2016-10-16 11:36] JosephMcArthur commented on #243
So you're aware, once this in we're planning to start a bunch of issues relating to individual emails that need to be sent on certain q's.

[2016-10-16 11:38] JosephMcArthur commented on #264
@markmacgillivray I expect it would be helpful if you could do a version of this that gives the info needed for functions. Then Chealsye can clean up & hone.

[2016-10-16 13:55] JosephMcArthur opened #289 "How can we test location gathering via the plugins / bookmarklet?"

[2016-10-16 13:59] JosephMcArthur opened #290 "Enable request search to search story text"

[2016-10-16 14:00] JosephMcArthur opened #291 "Improve styling / copy on request / map embeds"
For people to use these they need to be uber pretty & slick. This is currently not the case.

[2016-10-16 14:09] markmacgillivray commented on #289
Just use it, it will try to get location. I can add something to the
request page UI so that as admin you can see if location was received or
not. Is that good enough?

On 16 Oct 2016 14:55, "Joseph McArthur" <notifications@github.com> wrote:

[2016-10-16 14:15] JosephMcArthur commented on #289
That would be fantastic. Doesn't need to sexy, just something where we can
test if it worked.

On Sun, 16 Oct 2016 at 15:09 markmacgillivray <notifications@github.com>
wrote:

[2016-10-16 14:16] JosephMcArthur commented on #289
Oh, and can you make megan / chealsye / me / natalia admins on the test
system?

On Sun, 16 Oct 2016 at 15:15 Joseph Mcarthur <joe@righttoresearch.org>
wrote:

[2016-10-16 14:32] JosephMcArthur commented on #285
Also, I think we can have a better c2a on the page.

- [ ] change save to something more like "Make Request"

[2016-10-16 14:39] chealsye commented on #276
The reason I think "If you have a right to share it" should be removed is because "Can you provide this content? If you have the right to share it, we'd love to hear from you. Please contact us to discuss providing a copy." has repetition. We don't need both of the last two sentences.

The discussion was about who could provide us a copy, who'd have the ability to provide that link. There's a diff

[2016-10-16 14:41] JosephMcArthur commented on #285
I think we may also want to be clearer that the user should past the article URL into the page to start the process.

We could do this through:
* greying / hiding other fields until this is done
* through copy in the bar

[2016-10-16 14:47] chealsye commented on #276
@JosephMcArthur I'll have a think more on adding some pizazz to the text later today.

Thanks for clearing up about the may/will. It's true that it may be used and not definitely - but the will is just emphatic, more sharper, which is useful when asking someone to take action.

I'll work on bottom two sentence text either tonight or tomorrow. This can be one of our blogs in the next couple of week

[2016-10-16 14:50] JosephMcArthur commented on #276
May to will has changed.

[2016-10-16 15:00] JosephMcArthur commented on #285
& just following up from a quick discussion on chat with Mark. We'll display sharing messages if the page is successful.

We'll also have this page grab location.

[2016-10-16 21:57] chealsye commented on #285
The best way to communicate this is problem to reframe it (maybe not call it a request? Find and Request?) and make it into two steps. Have them enter the url in on one page and if the Button cannot find it, then the other fields appear or if that isn't possible the next page loads and asks for the rest of the info.

[2016-10-16 22:37] chealsye commented on #285
@markmacgillivray I've been testing out the browser request to get screenshots and I just want to say it's delightful to see it working so well - fantastic work! I think the ability to use it in the browser is going to be a big help with getting and retaining users.

[2016-10-16 23:20] chealsye commented on #236
@JosephMcArthur Instructions copy and some graphics are here: https://docs.google.com/document/d/1W9t4uZgPyC6wSSnNvJ7WIRddK2oYAW3rzaivKyzKcjs/edit#

Let me know if this is satisfactory and we can begin putting it up and get this closed.

[2016-10-17 01:57] chealsye commented on #264
I started a draft a week ago, but it was lower on my list of needed copy so it's not done. It would be helpful @markmacgillivray if you could provide a brief paragraph of that gives info needed for functions. Or if you have screenshots/links of the process that works too!

Originally I interpreted this issue as needing copy for the email that would be sent to the author. Do you need this and the o

[2016-10-17 02:33] chealsye commented on #272
Hmm… yes, authorised still feels technical and doesn't feel meaningful.

What about simply something like

For an error when the installed plugin and account don't match (which I imagine won't be frequent) I think similar what Joe has already suggested can work well.

[2016-10-17 03:23] chealsye opened #292 "Auto Email: Signup"
[All email drafts here.](https://docs.google.com/document/d/1zdBpebZ64WsJ9T1-4xxuN8o4Ob0qRiWwFVW1Ig2eAdE/edit#)

This is the copy for the email that should send when users sign up for the Button.

It needs to be coded for the user's respective confirmation link and login code to appear in the email. Those items are bolded.

--

SUBJECT: Start Using Your Open Access Button

Hi, there!

Thanks for u

[2016-10-17 03:34] chealsye opened #293 "Auto email: Sign up without first use in a month"
[All email drafts here.](https://docs.google.com/document/d/1zdBpebZ64WsJ9T1-4xxuN8o4Ob0qRiWwFVW1Ig2eAdE/edit#)

This is the copy for the email that should send when users sign up for the Button, but do not use it within a month.
##

**SUBJECT:** Get Research with your Open Access Button

Hi, there!

Thanks for signing up for the Open Access Button. We've noticed you haven't used the Button yet.

[2016-10-17 03:36] chealsye opened #294 "Auto email: Haven’t used in 1-2 months"
[All email drafts here.](https://docs.google.com/document/d/1zdBpebZ64WsJ9T1-4xxuN8o4Ob0qRiWwFVW1Ig2eAdE/edit#)

This is the copy for the email that should send when users haven't used the Button in 1-2 months.
##

**SUBJECT:** Use your Open Access Button again!

Hi, there!

We noticed you haven't used the Open Access Button in a couple months. How was your previous Button experience?

The next ti

[2016-10-17 03:39] chealsye opened #295 "Auto email: When someone supports a request, but doesn’t download for 3 days"
[All email drafts here.](https://docs.google.com/document/d/1zdBpebZ64WsJ9T1-4xxuN8o4Ob0qRiWwFVW1Ig2eAdE/edit#)

This is the copy for the email that should send when a user supports a request, but does not download/use the Button for 3 days.
##

**SUBJECT:** Try the Open Access Button

Hi, there!

Thanks for recently supporting an Open Access Button request. It's people like you that help make the

[2016-10-17 03:54] chealsye commented on #285
Does Find and Request Research make it more clear on the main requests page?

![screen shot 2016-10-16 at 22 12 21](https://cloud.githubusercontent.com/assets/9299248/19423379/ca24440e-93ed-11e6-8871-12c9f7d5e5c2.png)

@JosephMcArthur is this text helpful enough?

![sdsd](https://cloud.githubusercontent.com/assets/9299248/19424955/cb843a44-93fb-11e6-9f14-62d3fa015b73.png)

I toyed around with call

[2016-10-17 03:58] chealsye opened #296 "Change "Contribute to requests" to "Support Requests" in the website header"
@JosephMcArthur - We decided on support, right?

[2016-10-17 09:58] JosephMcArthur commented on #296
Sure. Have also changed download to sign up, as there isn't actually anything being downloaded.

[2016-10-17 09:58] #296 closed

[2016-10-17 12:11] markmacgillivray commented on #295
Note there is no /download route on the website, so the link in this email
would not work. Download currently happens from the account page, which is
at /account

On Mon, Oct 17, 2016 at 4:39 AM, chealsye <notifications@github.com> wrote:

[2016-10-17 12:15] markmacgillivray commented on #292
Note that a login email should not contain any other information than that
relevant to getting logged in. For example this email contains a link
recommending the user track their ongoing requests at their account - but
if the user were to follow that link at that time, then they would get
redirected to a login request page, which would start the login process all
over again. Keep these ones simple

[2016-10-17 12:15] chealsye commented on #295
OK. Corrected.

[2016-10-17 13:05] JosephMcArthur commented on #243
There is now an example template for emails into oabstatic email folder

[2016-10-17 14:18] JosephMcArthur opened #297 "Make no sign-in required for button in a browser"

[2016-10-17 14:20] JosephMcArthur commented on #292
links should be buttons, example styling is here: https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design.

[2016-10-17 14:38] markmacgillivray commented on #297
As soon as Megan is done testing I can change the new request page for this.

On Mon, Oct 17, 2016 at 3:18 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-17 14:50] JosephMcArthur commented on #297
Unless they want to make a request of course :)

On Mon, 17 Oct 2016, 3:38 p.m. markmacgillivray, <notifications@github.com>
wrote:

[2016-10-17 15:48] JosephMcArthur commented on #285
Have now changed the title to "what do you need" & we're expecting the page to display on the URL box at first.

[2016-10-17 16:20] markmacgillivray commented on #285
The title change is fine, but don't bother changing other content in the
new request page just now - once Megan is finished testing I'm going to
change it, and the different functional process may require new content
anyway.

On 17 Oct 2016 16:48, "Joseph McArthur" <notifications@github.com> wrote:

[2016-10-17 16:43] markmacgillivray opened #298 "The wonderful world of email templates"
Particularly for @chealsye and @JosephMcArthur whilst progressing through the email templates functionality today, I have some overarching questions for us to consider, not about one specific template or one specific functionality, so I will put them all here in one issue, so we can quickly get answers.

I may add more questions as comments as I proceed.

1. is it necessary to email a user when th

[2016-10-17 17:45] JosephMcArthur commented on #298
1. This makes sense for now.
2. Makes sense.
3. Generic email is a-okay
4. Great.

[2016-10-17 19:11] JosephMcArthur opened #299 "Instructions for how to download our data on /resources"

[2016-10-17 19:29] JosephMcArthur opened #300 "When user is signed in, remove sign-up box (and maybe put in /request/new box)"
On the frontpage the sign-up box still appears even when you're signed up.

Would be nice if this disappeared & it's place you could just have /request/new.

This feedback comes from a user test @meganwaps did. Great work.

[2016-10-17 19:57] markmacgillivray commented on #300
Can hide the signup, but if /request/new is going to allow people to search
without being logged in, it won't make so much sense to only show that when
logged in.

On Mon, Oct 17, 2016 at 8:29 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-17 19:59] JosephMcArthur commented on #300
I think it's just a nice touch in this case, I agree that with the info we
have now it doesn't make sense to only display if logged in!

Something to think about later on.

On Mon, 17 Oct 2016 at 20:57 markmacgillivray <notifications@github.com>
wrote:

[2016-10-17 20:17] JosephMcArthur opened #301 "Systematically testing the find system"
*\* Moving over from email *\*

I think we should aim to test about 250 articles. Those articles would come from:
- the 20 top journals, measured by Impact Factor (Chealyse will get us the list) & high profile/volume journals that might be get caught by this. E.g PLOS one, eLife.
- 20 Open access journals & 20 closed access journals from each of the top 5 publishers

and in that group we need to h

[2016-10-17 22:16] markmacgillivray commented on #300
Done

[2016-10-17 22:16] #300 closed

[2016-10-17 22:16] markmacgillivray commented on #297
Done

[2016-10-17 22:16] #297 closed

[2016-10-17 22:32] markmacgillivray commented on #290
Done

[2016-10-17 22:35] chealsye commented on #296
@JosephMcArthur the requests isn't capitalised. Could you change it to Support Requests?

[2016-10-17 22:35] JosephMcArthur commented on #292
Hi folks, not a bunch of info above so I"m going to try and do some guessing. @chealsye you're trying suggest copy for the email that gets sent when people first sign up, right?

What I'd suggest is that we don't have that email be the one people get when they sign into their account. The first step of that process is a general step folks may do often to sign in. In which case, something simpler &

[2016-10-17 22:37] JosephMcArthur commented on #296
yes, done.

On Mon, 17 Oct 2016 at 23:35 chealsye <notifications@github.com> wrote:

[2016-10-17 22:38] JosephMcArthur commented on #290
Any advice on how to test this?

[2016-10-17 22:40] markmacgillivray commented on #290
The top request in the search list has a story, and that story has the word
story in it. Type story into the search box and it will filter to show
requests with the word story in their story, and that top one will still
show

On Mon, Oct 17, 2016 at 11:38 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-17 22:43] JosephMcArthur commented on #290
Only single words seem to work, yes?

searching "story" brings back too, searching "this is a story" doesn't.

Also, this may be because I used it while you were changing things, but
I've managed to make a duplicate request.

On Mon, 17 Oct 2016 at 23:40 markmacgillivray <notifications@github.com>
wrote:

[2016-10-17 23:06] chealsye commented on #292
Yes, this is the copy I am suggesting for when people sign up. When I sent you the drafts you told me to add them to github.

Simpler is fine. But this is the current email being used is the following:

![screen shot 2016-10-17 at 08 19 38](https://cloud.githubusercontent.com/assets/9299248/19458502/7e07fab8-949a-11e6-87b4-9c27529c37db.png)

I included what I did, because it's been used for a few

[2016-10-17 23:36] chealsye commented on #285
I do like having the search on the front page. That's great! But I do think this is confusing for the user. What's the different between signing up and searching? From the top text it sounds like they need to sign up in order to unlock articles… but then they can just search instead? From the user perspective I'm thinking: um. what do I do?

Should the sign up be removed?

--
I just tested the sea

[2016-10-17 23:49] markmacgillivray commented on #285
The URL should be copied in for you, that must be an error. Can fix in the
morning.

I think it's a bit confusing too, and actually I don't think that whole
section looks too good. There are already sign up links in the top right on
the nav, and I think it'd be better just not repeating that with an email
box further down. I'd also suggest just making the search bar bigger,
across that whole secti

[2016-10-17 23:51] markmacgillivray commented on #285
The "you want to create a request?" Is what we had before. Now that the
page structure has changed, yes, the copy should change. But I didn't want
to just change the copy to something more suitable.

On 18 Oct 2016 00:49, "Mark MacGillivray" <mark@cottagelabs.com> wrote:

The URL should be copied in for you, that must be an error. Can fix in the
morning.

I think it's a bit confusing too, and actu

[2016-10-18 00:00] JosephMcArthur commented on #285
Not sure how I feel about the search bar being the first call to action both because we've not really user tested, or technically tested it super well. There are probably copy ramifications throughout too.

For tomorrow, I'd be tempted to keep sign up as is, and develop a search bar-centric landing page for logged in users over the next week.

[2016-10-18 00:01] markmacgillivray commented on #285
OK, change front page back to how it was for now. For the new request page,
take tomorrow to check it is good enough. I have other things to do
tomorrow anyway so can switch to the new site on Wednesday.

On 18 Oct 2016 01:00, "Joseph McArthur" <notifications@github.com> wrote:

[2016-10-18 00:07] chealsye commented on #285
@JosephMcArthur - So we do new site and announcement on Wednesday then?

[2016-10-18 00:18] JosephMcArthur commented on #285
@chealsye happy with these changes? https://github.com/OAButton/oab_static/commit/7bf6de62429f5f1da22d644568dd1ae4eab1f53a

[2016-10-18 03:48] chealsye commented on #285
@JosephMcArthur Yup!

[2016-10-18 05:21] chealsye commented on #285
Just an FYI - the Find and Request Research text on /request is too big for the button :/

![screen shot 2016-10-18 at 01 11 29](https://cloud.githubusercontent.com/assets/9299248/19465290/f3c11e70-94d0-11e6-8b6c-bf013d2d6ea1.png)
![screen shot 2016-10-18 at 01 11 36](https://cloud.githubusercontent.com/assets/9299248/19465291/f4a9e3ee-94d0-11e6-9e16-5997e1a1e30f.png)

Should we do Find & Request

[2016-10-18 09:23] JosephMcArthur commented on #285
Took both suggestions. and is now &, and the button is taller. However, the build is failing at the moment: https://github.com/OAButton/oab_static/commits/develop

[2016-10-18 09:25] JosephMcArthur opened #302 "We can come aboard the codeship?"
Hey Mark, occationally @chealsye & I push builds that fail a codeship test. I'm assuming that if we're on the account driving these tests i'll tell us what's up & let us remedy (right now clicking the red x just says we're not authorized)?

Can we be added to the account?

[2016-10-18 09:31] JosephMcArthur opened #303 "Impactstory now has a great OA resolver too"
From Heather:

This sounds like there are a few improvements over what we're using, including I assume those included in http://blog.impactstory.org/find-and-reward-open-access/.

I think a use endpoint for this would be ideal. They have some interesting things going on, including:
- Straight to PDF links, this seems super handy for us
- Looking at pre-print repos (sounds good, I'd like to know a

[2016-10-18 09:37] JosephMcArthur commented on #69
@meganwaps this should be in with base, but can you just validate that (check the base aggregation lists & do a few checks on the live system to ensure we're picking up papers.)

[2016-10-18 09:38] JosephMcArthur commented on #145
Given we want less & less on the homepage, seems like having this on the blog is fine.

[2016-10-18 09:38] #145 closed

[2016-10-18 09:40] markmacgillivray commented on #303
We can do all the same things already, apart form searching datacite for data, because we just have not done that one yet. BASE / dissemin already returns PDF links, and I already have code for finding PDF links on journal pages if desired, and we already have a CL app for calculating the licence of something.

So whilst technically possible in numerous ways, at some point there is some strategic

[2016-10-18 09:42] markmacgillivray commented on #302
I could add you - if you both sign up to codeship and give me your account names I can add you to the project. But it wouldn't help - the clashes occur when there is a discrepancy between something on the server and something in the new code to be pushed, and that can't be fixed from codeship. Regarding the recent failures, I have just pushed a commit to fix that merge conflict.

[2016-10-18 09:43] JosephMcArthur commented on #302
Got it, okay, then I'm not keen on being on it if it wont help :)

On Tue, 18 Oct 2016 at 10:42 markmacgillivray <notifications@github.com>
wrote:

[2016-10-18 09:43] markmacgillivray commented on #264
Moving to later milestone for easier overview

[2016-10-18 09:44] JosephMcArthur commented on #302
What's the best way to resolve merge conflicts? Just ping you, or can we do something ourselves?

[2016-10-18 09:47] markmacgillivray commented on #285
Have fixed the merge conflict, and removed the box from the front page. Removing myself from assignment, as at the moment it is just copy changes due here I think

[2016-10-18 09:49] markmacgillivray commented on #154
The address currently used for mails from openaccessbutton is admin@openaccessbutton.org - do you want that changed so the email is always requests@openaccessbutton.org? Or do you want admin to remain the default one? For using this particular requests address just for certain emails, it will be possible to set that via the templates, so just checking if you want the default changed.

[2016-10-18 09:51] markmacgillivray commented on #154
Should username/story be inserted in the email? If we do that it is less obvious that there is a public page where other people are seeing things, and where others can be adding support. I think having the email link to the page, and prodding the author to go there, gives a better sense of the public nature of the request, so they may be more likely to consider action, rather than just thinking it

[2016-10-18 09:52] markmacgillivray commented on #154
For changing the email templates to be html, putting in buttons and other layout features etc, I doubt I will have time for. Is anyone else going to do this before launch, or do we just go with flat text emails for now? I will be getting back to you later today with info on the email templating.

[2016-10-18 09:52] JosephMcArthur commented on #272
Given we're now discussing copy which lives in the plugin, moving to the mini-milestone for plugin releases.

[2016-10-18 09:53] JosephMcArthur commented on #154
For requests only, sending via requests@openaccessbutton.org would be ideal.

[2016-10-18 09:53] markmacgillivray commented on #226
Can this one be closed now? I don't think there is anything else for me to do, so unassigning for the time being.

[2016-10-18 09:53] JosephMcArthur commented on #154
Just do what you can to get them in, and we can make them pretty later.

[2016-10-18 09:55] JosephMcArthur commented on #154
I think, to be honest, we have to do both. I think its important that the emails have a personal touch immediately, especially since this isn't clear "at a glance" from request pages right now.

[2016-10-18 09:58] JosephMcArthur commented on #226
Can't close yet, we need to see / test all the UI's.

On Tue, 18 Oct 2016 at 10:53 markmacgillivray <notifications@github.com>
wrote:

[2016-10-18 10:00] markmacgillivray commented on #292
I don't care what the copy is. It is not intended as insult when I give commentary on what would work better. It does not preclude any of your reasoning for having added or changed something, from a version that I did not write in the first place - the intent of writing copy now is to make things better, not for it to be what it was, or to be what I prefer, or to be overriding what you suggested.

[2016-10-18 10:02] JosephMcArthur opened #304 "Easy testing emails"
Mark, can we have a button on the admin UI somewhere that sends an email (linked to a testing template) to the logged in user when we ask it too? This feels like an easier way to test basic email formatting etc than loading it into an action specific template.

[2016-10-18 10:09] markmacgillivray commented on #292
Actually, come to think of it, putting all that content into email templates is probably not something I should do - now that I rethink it, it sounds like an attempt by me to state what content should be in an email template. I will finish the example one, and share that, and leave the writing of any other email template content to other people, so that I am less likely to be unintentionally insul

[2016-10-18 10:55] markmacgillivray commented on #302
I get notifications about failures from codeship, so then I check. You
could ping me, but by the time you do I will probably have already seen an
email from codeship. Then it is just a case of me fixing as quick as
possible, which is usually pretty quick. This morning I think I was asleep
when the conflicts arose, and it was due to me changing the front page in
ways that we then decided not to kee

[2016-10-18 10:59] markmacgillivray commented on #154
Unassigning myself from copy issues - I should not be involved in these decisions at present, so tracking technical ones that I can make progress on.

[2016-10-18 11:12] markmacgillivray commented on #264
There is now an example.txt email, and also an author_request.txt email, which is an example of how an author request email could be written, and it would get sent to the author email address when the status of a request changes from moderate to progress.

[2016-10-18 11:12] markmacgillivray commented on #264
https://github.com/OAButton/oab_static/blob/develop/emails/author_request.txt

[2016-10-18 11:13] JosephMcArthur commented on #302
Got it, okay, then I think this can be closed. You're all over it, thanks.

[2016-10-18 11:13] #302 closed

[2016-10-18 11:16] markmacgillivray commented on #223
Where should this point to, to close the issue? In relation, I would now recommend using medium.com to write the blog instead of having it on the site. This will make blog content easier to maintain for non-technical people, then copy will only have to change on oab_static when it is about the site itself, which, after the main launch should become less common. I think the only concern of not havi

[2016-10-18 11:17] markmacgillivray commented on #223
If we use medium.com then blog.openaccessbutton.org can point there if you want, or openaccessbutton.org/blog, or probably both.

[2016-10-18 11:22] markmacgillivray commented on #243
Done an example.txt that explains how to use, and also an example one to send to author when status changes to progress. I will later be making it possible to test that one, so the feature can be seen in action, but there is already an issue about making it possible to test emails from the admin area, so closing this one now.

[2016-10-18 11:22] #243 closed

[2016-10-18 11:24] markmacgillivray commented on #298
example.txt and author_request.txt both now in the emails folder of oab_static, describing principles discussed above. Specific questions on what emails should exist and when they should be triggered will now be driven by the issues that are about the particular emails in question.

[2016-10-18 11:24] #298 closed

[2016-10-18 14:54] markmacgillivray commented on #214
Mentioned on another issue, I now think medium.com would be a better approach for blog content. Or some other blog platform that we can direct a subdomain or path to. Alternatively, all the content of the individual blog posts can be manually inserted into one big index file, and that way all blog content will appear on the index page instead of on individual pages. Blog links to individual entrie

[2016-10-18 22:52] JosephMcArthur commented on #285
@chealsye can you suggest / directly change copy for this?

https://www.dropbox.com/s/tfdosz2egiy7bu1/Screenshot%202016-10-18%2023.52.01.png?dl=0

[2016-10-18 23:07] JosephMcArthur commented on #292
* I have put in a login email template here: https://github.com/OAButton/oab_static/blob/develop/emails/login.txt. Mark, I didn't see variables for the codes & login links. @markmacgillivray can you slot those in?

* I have a template for an email that should be sent when a user fills in their account details (username / full name / affiliation etc): https://github.com/OAButton/oab_static/blob/dev

[2016-10-18 23:12] markmacgillivray commented on #292
The system is not currently sending any emails. The templates that are blank are ones that I started doing but then decided against it. They could be triggered by certain events, as their names roughly indicate, and there are other such events that could trigger things too.

For the two that you have created, is it OK to edit their content at all or should I use them exactly as is without change o

[2016-10-18 23:57] #258 closed

[2016-10-19 00:28] JosephMcArthur commented on #213
@chealsye this pages structure is now merged & live at http://oab.test.cottagelabs.com/resources. I made the odd copy change, but nothing decent - leaving that with you.

[2016-10-19 00:29] markmacgillivray opened #305 "Check the map embed code works on new site"

[2016-10-19 01:03] JosephMcArthur commented on #289
I'm an admin now, and can make others admins. Can see how to test location too (via request pages, if we have it it'll show in the admin section).

[2016-10-19 01:03] #289 closed

[2016-10-19 05:00] chealsye commented on #285
I wrote that copy. But it was for when someone supports a request instead
of creating one (I believe creating was added). This text in your
screenshot will *only* appear when someone begins a search and then are
asked to signup/login, right? We'll need to explain why they need to. I'm
trying to draft something, but will have to finish it in the morning. This
is OK enough. But would like change it.

[2016-10-19 10:28] JosephMcArthur commented on #276
Hey @chealsye any thoughts on the bottom of the page's copy & pizazz for the support section?

[2016-10-19 10:28] JosephMcArthur commented on #285
Yes Chealyse, that is probably the case.

[2016-10-19 10:37] JosephMcArthur commented on #213
I've just made enough changes here so that it doesn't block release. @chealsye checking them to make sure you're happy would be great but if you can't invest time at this stage this is not longer blocking us and you can invest elsewhere.

Close when you're happy.

[2016-10-19 10:44] JosephMcArthur commented on #154
Mark can you make variables for

- [ ] user full name
- [ ] user affiliation
- [ ] user type (student etc)

please?

Also, this should not block release of the site.

[2016-10-19 10:45] JosephMcArthur commented on #264
This was a user email, but I think since we're sending them directly to the page this is fine.

[2016-10-19 10:45] #264 closed

[2016-10-19 11:25] markmacgillivray commented on #154
OK I have updated the emails/example.txt to list what user variables the system could provide. I will use that email example as the place to list variables that can be used, so when you request some in an issue they will be added there if they can be done.

[2016-10-19 11:42] JosephMcArthur commented on #154
Thank you! I've slotted these into my placeholders however the email won't yet work in all contexts.

[2016-10-19 11:46] markmacgillivray commented on #154
If you use a variable that does not exist, I can make it so that the email
still sends, so just try writing any email content to roughly make sense
even if a variable was missing. Or with earlier emails to a user account
that may not have say a username or fullname, just don't use them on those
emails, and just use them for later messages where we can more likely
expect those variables to exist (e

[2016-10-19 11:58] markmacgillivray opened #306 "For requests that need help, add a specific cta on the request page for what is missing"
Also, having loaded the old requests, it seems that the email may exist but be zero length, so ensure the email box shows and can be edited into

[2016-10-19 12:18] JosephMcArthur commented on #292
Login email should have all the links needed. @markmacgillivray you should be good to switch this out for the current email.

- [ ] put in login email

Some things I thought about while putting in the links & copy but don't need to be changed right now:

* I put "open access button" in the email subject so that the email stands out. Can reverse.
* "we look forward" line suggests we haven't yet don

[2016-10-19 13:08] JosephMcArthur commented on #274
have made copy on this page less bad for right now.

[2016-10-19 13:09] JosephMcArthur commented on #236
okay, spoke with @chealsye. Have decided that really long instructions are helpful but not what we need right now. I have:

* drafted some basic, key info only instructions. I have them at /instructions & on the account page next to the place to download buttons. I have added titles to these sections. @markmacgillivray any visual tweeks you can make & checks you can run here would be appreciated.

[2016-10-19 14:05] JosephMcArthur commented on #274
We have a bug form on the page now.

Questions should be fine. @markmacgillivray tell me if others are useful.
https://docs.google.com/forms/d/15KWEat3SeRjU0o9nnnI6PyHQP6EF0gjodRBzf0KsdB0/edit

@chealsye copy is your call, I've just given a starter here that I hope isn't too awful.

[2016-10-19 14:23] markmacgillivray commented on #272
Update it with what?

[2016-10-19 14:29] JosephMcArthur commented on #272
Do you want to save the new API key caae0f5ed26f5166caffcbffa78cdd into your plugin?

to

to

As long as I'm understanding the above correctly.

Is there any other copy we haven't discussed above coming from the plugin?

[2016-10-19 14:33] JosephMcArthur commented on #154
@markmacgillivray i've changed contact@openaccessbutton.org to requests@openaccessbutton.org. The latter is linked to our gapps account & contact@openaccessbutton.org gives a failure when you email it.

[2016-10-19 14:46] chealsye commented on #272
Your plugin is now ready to use! isn't accurate, is it? This is the account registration page. The plugin isn't yet installed, right?

So, shouldn't it be

[2016-10-19 14:54] JosephMcArthur commented on #272
That message will _only_ display when it is ready. So you'll click to download it, then when you return to the page it'll display that message.

[2016-10-19 15:00] chealsye commented on #272
Okay, thanks for clarifying.

[2016-10-19 15:00] JosephMcArthur opened #307 "Wait to display install / getting started options until after account details are completed"
Not sure if this is a good idea or not. Thoughts @markmacgillivray / @chealsye / @meganwaps

[2016-10-19 15:08] chealsye commented on #307
I think it makes the most sense to display the installation options after they complete their account details. One step at a time.

[2016-10-19 15:16] chealsye commented on #213
It's fine for now. Two of the boxes aren't colored right or there's an empty space - not a big deal though. But the content is fine. They've been brought together. But a redesign of the resources page may want to be considered in the future.

[2016-10-19 15:16] #213 closed

[2016-10-19 15:30] chealsye commented on #292
-It's fine.
- What sign off do you want instead? The point of the Button is to get them research. Yes, there are going to be outliers that are just curious or people who successfully got an article through the browser but now are signing up to complete a request, so, sure, it's been done... but do you want some generic valediction?
-That's fine.
-No, it isn't 100% right. But the signup and login p

[2016-10-19 15:35] chealsye commented on #274
It's fine.

[2016-10-19 15:38] chealsye commented on #154
@JosephMcArthur I don't quite understand what you need from me here.

[2016-10-19 15:51] markmacgillivray commented on #307
I think it better to keep the instructions on the instructions page, and
not on the account page at all. When the user has completed their account
details and sees buttons for relevant plugins etc, we can have a button
there too that goes to the instructions page. No need for duplication.

On Wed, Oct 19, 2016 at 4:08 PM, chealsye <notifications@github.com> wrote:

[2016-10-19 15:57] chealsye commented on #276
I have no pizazz to add. There was too much other copy to be doing right now.

[2016-10-19 16:13] chealsye commented on #285
I want to keep this simple - but this message pops up when the research is findable and they aren't seeing the request stuff yet, so I think they need extra info on why they need an account. What about this? Too long?

[2016-10-19 17:17] JosephMcArthur commented on #292
Closing for now so we can track biggest issues. This seems a-okay for now. Reopen if needed.

[2016-10-19 17:19] #276 closed

[2016-10-19 17:19] JosephMcArthur commented on #285
This is in.

[2016-10-19 17:19] #285 closed

[2016-10-19 18:07] #274 closed

[2016-10-19 18:16] JosephMcArthur opened #308 "When asked to sign in to make a request from /request/new you have to re-enter your details once you have sign in"
Would be much easier if it remembered

[2016-10-19 18:20] JosephMcArthur commented on #308
have assigned this for the next milestone, but realise it might be hard. An estimate of difficulty would be useful.

[2016-10-19 18:25] markmacgillivray commented on #308
You do if you follow the link rather than use the code, yes. I have thought
about passing the data through cookies, which may work, but have not tried
yet. However because we have cookie management already in the login app, it
may be simple if it works. But it's a matter of whether I have time to get
to it or not, so next milestone is fine for now.

On Wed, Oct 19, 2016 at 7:20 PM, Joseph McArthur

[2016-10-19 19:10] JosephMcArthur opened #309 "when not logged in, display a message that's responsive to what's available on /request/new"
e.g So if the article is available, ask if you want the data.

This probably just needs to happen in the headline.

#### Article found

#### Data found

#### Neither found

This works well if you're logged in, but doesn't if you're not

[2016-10-19 19:12] JosephMcArthur opened #310 "cleaner tickboxes on small screens"
This is frustrating: https://www.dropbox.com/s/o0wwxxs5ma6iulu/Screenshot%202016-10-19%2020.10.06.png?dl=0

Would be good if they were on the same line at least partially

[2016-10-19 21:06] JosephMcArthur opened #311 "request page telling me I can't make a request"
Getting the generic error message come up. This is happening on chrome & Mac.

[2016-10-19 21:13] JosephMcArthur opened #312 "Bullet points formatting extremely poorly on mobile (and oddly on desktop)"
They seem to hang to the left of their container.
### Desktop

e.g http://oab.test.cottagelabs.com/terms
### Mobile

![screenshot_20161019-221049](https://cloud.githubusercontent.com/assets/4953703/19537769/237bd38e-9649-11e6-912f-1640333f343b.png)

[2016-10-19 21:24] JosephMcArthur opened #313 "minor fixes to resources page"
- [ ] missing card in one or two spots
- [ ] odd missing color

[2016-10-19 21:27] JosephMcArthur commented on #292
reopening until we have the email tested

[2016-10-19 21:41] JosephMcArthur commented on #311
can't add support either - that's on an existing request on android

[2016-10-19 21:44] JosephMcArthur opened #314 "add an enter button on request/new"
Not saying we should do this, just opening for discussion on future.

Was just using it on mobile where pressing enter is less obvious / clear.

[2016-10-19 21:45] JosephMcArthur opened #315 "tidy mobile version of request page"
holding issue for later, it's not a big deal there are just bits that could be tidier.

[2016-10-19 21:45] JosephMcArthur opened #316 "search bar on /request has text not visible on mobile"

[2016-10-19 21:46] JosephMcArthur commented on #315
may consider hiding embed button

[2016-10-19 21:56] markmacgillivray commented on #311
Fixed the new request page. Add support will take longer, probably has to be done tomorrow.

[2016-10-19 22:04] markmacgillivray commented on #309
Changed.

[2016-10-19 22:04] #309 closed

[2016-10-19 22:07] markmacgillivray commented on #310
Fixed

[2016-10-19 22:07] #310 closed

[2016-10-19 22:12] markmacgillivray commented on #312
Fixed. For unknown reasons, the site css that had been added to the old site, and was copied across for the new site, had this in it. I don't know why whoever added it to the old site css in the first place did so, there were a few oddities on there after various people worked on it. Removed now. If it was used to make something work on those page with all the cards etc, and if that code is still

[2016-10-19 22:19] JosephMcArthur commented on #312
Still seeing the bug for numbers

[2016-10-19 22:20] JosephMcArthur commented on #312
realising I didn't specifc numbers above, it's in the phone, but of course it's hard to see due to the error itself!

[2016-10-19 22:25] markmacgillivray commented on #312
It does now work for me, just sent you a screengrab. Can you check you're seeing the newest page? Add ?1=2 to the url

[2016-10-19 22:25] JosephMcArthur commented on #312
Sorry, you're right! Thought I'd hard refresh but potentially not.

[2016-10-19 22:44] JosephMcArthur opened #317 "Only allow the user to make either a article or data request on /request/new"
Can currently do both at once. Should only allow one at a time as different stories should be given*.

This leads to:
* both new requests coming up at the bottom of the page, which then doesn't forward
* that allows you to make infinite new requests for the url.

* in the long term, this is debatable, but it's the design decision we have currently made in other places.

[2016-10-19 22:45] JosephMcArthur opened #318 "/request/new currently only shows one request even if a data & article request exist"
url to reproduce: http://www.nature.com/nature/journal/v536/n7615/full/nature19068.html#abstract

[2016-10-19 23:27] markmacgillivray commented on #318
Fixed

[2016-10-19 23:27] #318 closed

[2016-10-19 23:27] markmacgillivray commented on #317
Done

[2016-10-19 23:27] #317 closed

[2016-10-20 07:51] JosephMcArthur opened #319 "Plugin Copy changes"
This is a holding issue to catch bits of plugin copy that may need adjusting

#### Shown when you first open ii & haven't visited /account

[2016-10-20 07:51] JosephMcArthur opened #320 "Spinner on pluggin is pixelated"
It can also take a few seconds, and I can see that making people worried.

I wonder if a bit of copy here would be a good move. So you'd have the spinner and

@chealsye any thoughts?

[2016-10-20 08:03] JosephMcArthur opened #321 "Plugin didn't take API Key"
### Expected Behavior

Plugin accepting API key, and getting a confirmation message

### Actual Behavior

account page seems to not send the key, I get no confirmation message & can't save details.

Am told

### Steps to Reproduce this bug

* Hardware versions: Mac
* Software versions: Chrome
* Steps to reproduce:

 1. Download plugin
 2. Open it on an article or two
 3. Go to account page. Have l

[2016-10-20 08:07] JosephMcArthur opened #322 "Button Buttons: Mouseover effect & increase clickable area"
* Currently the plugin buttons are only active around the images, this seems counter-intuitive.
* Would be nice if there was a mouseover effect (perhaps tinting).
* I think the text from the mockups is useful for these, I can see it not being clear to a user.

[2016-10-20 08:09] JosephMcArthur opened #323 "Plugin text fonts & size"
The header looks right, the body text doesn't. May also want to increase font sizes.

[2016-10-20 08:11] JosephMcArthur commented on #226
@markmacgillivray can you send over a screenshot of the blacklist page, or send over the URL suffix that will evoke it?

[2016-10-20 08:13] JosephMcArthur opened #324 "Clicking button buttons don't send you to the link"
The link is there, I can alt-click & copy it. Just can't click the actual button.

[2016-10-20 08:58] JosephMcArthur opened #325 "Copy & Screenshots for the chrome store"

[2016-10-20 10:22] JosephMcArthur opened #326 "On restart, plugin stops other plugins appearing"
This may be an artefact of all dev plugins, would seem reasonable, but logging none the less.

### Expected Behaviour

* all plugins load at once

### Actual Behavior

* our plugin appears with a orange background around the icon
* removing the plugin allows other plugins to appear

### Steps to Reproduce this bug
*Please include any info about the version of the tool you're using and your system.

[2016-10-20 11:24] JosephMcArthur commented on #251
@markmacgillivray , if we redirect from opendatabutton.org is it possible & feasible to have an info box at the top of the site with a line or two on the change?

That feels like it could take care of call of this, and we can just straight redirect all pages (except the occasional page that has no equivalent, in which case we redirect to homepage)

[2016-10-20 11:27] markmacgillivray commented on #251
Probably, I'd have to test and add a little js to the page to catch some
sort of signifier, then display a hidden div. If someone can write the
content for that div and put it in with style="display:none;" and some id
like id="fromopendatabutton" then I can test a way to trigger it.

On Thu, Oct 20, 2016 at 12:24 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-20 11:30] JosephMcArthur commented on #251
Suggest content while @chealsye wakes up:

[2016-10-20 11:33] markmacgillivray commented on #251
Actually the blog is still an open question too...

On 20 Oct 2016 12:30, "Joseph McArthur" <notifications@github.com> wrote:

[2016-10-20 11:33] JosephMcArthur commented on #251
Keeping it as is for now, the new blog is up on dev.

[2016-10-20 11:34] JosephMcArthur commented on #251
This new bit of text is in the header file, and should be building now. Copy is changeable, just needed something representative.

[2016-10-20 11:38] markmacgillivray commented on #251
Having just tried to look at the blog on mobile, I find I cannot scroll
down pages any more. Any idea what caused that? The account page still
scrolls fine, so it can't be a general issue with the site code.

On 20 Oct 2016 12:34, "Joseph McArthur" <notifications@github.com> wrote:

[2016-10-20 11:40] JosephMcArthur commented on #251
happening on desktop for me too - it'll be the code I just put in.

[2016-10-20 12:13] JosephMcArthur commented on #154
Okay, I've taken a look at this & have changed my mind a bit.

* No buttons, this email is also ready quite programmatic & I think having buttons make it seems even more so. Tasteful links list fine. I have started this process and html-ified the email.
* We need to split at least the original email for data & articles. The systems & information needed are too different.

[2016-10-20 12:30] JosephMcArthur commented on #251
Okay, the bar you requested is in, scroll is back & everything seems to be acting as you'd expect.

[2016-10-20 12:54] markmacgillivray commented on #251
OK I'm at the uni for a few hours, then will get as many issues closed as
possible

On 20 Oct 2016 13:30, "Joseph McArthur" <notifications@github.com> wrote:

[2016-10-20 13:11] chealsye commented on #320
Why is it pixelated? If you need a different size, let me know.

That bit of copy is fine.

[2016-10-20 13:27] JosephMcArthur commented on #154
Okay, now:

* both versions contain the info needed, I think, in html.
* there are some missing links where I need to put those in, but I've tried to signify where links would be good
* I've tried to write copy that walks a fine line between generic & specific. However, I do use {{fullname}} which not all users will have (even if they've fully signed up previously). @markmacgillivray please advise

[2016-10-20 14:27] markmacgillivray commented on #320
I couldn't use the orange one so I scaled up the small grey one that I had
already used on the website. The orange one does not spin, and the image
did not respond to CSS instructions to spin it. I'd need that orange one
turned into an animated gif to be able to use it. I can make a larger scale
of the grey one anyway, so I'll use that if we can't get a spinning orange
one.

On 20 Oct 2016 14:11,

[2016-10-20 17:55] markmacgillivray commented on #154
It is possible to deliver text and html in an email so that users who refuse html see a perfectly good text version. I actually prefer text versions when they are available. if you want to do this, it would be relatively simple to ensure the email system can send both types at the same time, and would be better to do now than later. But it does mean you would have to write and maintain .txt and .h

[2016-10-20 18:02] markmacgillivray commented on #154
I do agree though that even in the html just using the links is better than putting buttons in - I think the buttons end up looking a bit tacky.

Re. the author_request_data.html one again though, and what to do about lacking a fullname etc, if you really want to word it like this where the fullname is required, the only option is that I can provide either fullname or username if they exist (which

[2016-10-20 18:07] markmacgillivray commented on #154
The above are some of the reasons I made the author_request example more generic - the only really specific information about data in there is the OSF stuff, and actually the author does not need to know about that in the email - in the email we are asking them to do something, to go to a link where they will learn more (the request) and to go somewhere else to give us content. That means we have

[2016-10-20 18:35] JosephMcArthur commented on #154
**so many things to respond to & consider**

It seems we agree that html links are better, but plain text is needed. I hope writing the extra .txt should be okay. Lets get this in if it's easy.

On the public site's admin we could edit the text of the email before it sent, that's what I was referring too mainly here. Will that not be possible this time?

Okay, if {{fullname}} can fall back to {{us

[2016-10-20 18:47] JosephMcArthur commented on #154
I think I've got a fairly nice away around this now, which is also inclusive of articles & data.

[2016-10-20 19:31] markmacgillivray commented on #154
Via admin it is possible to load up an email template and edit it then send it. (this will be testable soon), and the idea was also that certain email templates would be triggered when status changes or other events occur. But that does not mean that there is any functionality to STOP an email being sent when a particular event occurs just because a particular email was already sent from admin.

T

[2016-10-20 19:34] JosephMcArthur commented on #154
Okay, go manual.

[2016-10-20 19:35] markmacgillivray commented on #154
OK will prioritise manual emailing

[2016-10-20 19:37] JosephMcArthur commented on #154
To be clear. This means that:
* we'll moderate each email when a request is submitted
* we'll follow up with authors manually (it won't go automatically)

and links like hold / received / refused won't generate emails - they'll go to the request page and a confirmation message (or next action) will be seen there

[2016-10-20 19:46] markmacgillivray commented on #154
Yes, it was/is

* new request gets status help if necessary info missing
* new request or helped request automatically goes to status moderate
* someone has to manually move from moderate to progress
* progress triggers an email to the author (but now it won't, someone will send one manually before they change the status)
* author clicks a hold or refuse link, status automatically changes to hold

[2016-10-20 19:53] markmacgillivray commented on #154
By was/is I mean the auto-email process that was intended, that is being written into the email template system functionality now, for the new system, would have been as above, but now whilst we keep automatic emailing turned off the stuff in brackets won't happen.

Some of the email automation was already in place in the old system, but it did not use templates, so the emails could not easily be

[2016-10-20 20:23] JosephMcArthur commented on #154
Should we have an email to requestors / supporters for this?

Email for this discussed above. Copy for an email to users telling them their request is in progress is in.

No email needed for authors. Email for requestors in /emails.

while manual this is too hard, no copy written.

email for this created.

[2016-10-20 20:34] #236 closed

[2016-10-20 20:39] JosephMcArthur commented on #221
from #154 this won't happen now

[2016-10-20 20:39] #221 closed

[2016-10-20 20:45] JosephMcArthur commented on #313
fixed.

[2016-10-20 20:45] #313 closed

[2016-10-20 20:49] JosephMcArthur commented on #282
using em sounds better. Essentially I think text in form boxes should be as large as text on the page - maybe a hint smaller. If we think the text on our page is big enough to be readable easily, our form text should be just as big. Especially since we tend to up instructions in it.

[2016-10-20 20:51] JosephMcArthur commented on #240
Nope, if we make a change I think it should be adding search.

[2016-10-20 20:51] #240 closed

[2016-10-20 20:51] JosephMcArthur commented on #240
p.s I may change my mind here, but shutting this now as i feel its unlikely.

[2016-10-20 21:02] markmacgillivray commented on #311
Add support fixed.

[2016-10-20 21:02] #311 closed

[2016-10-20 21:04] JosephMcArthur commented on #255
@markmacgillivray can we use the same approach here as in #251?

[2016-10-20 21:14] markmacgillivray commented on #255
I have never had access to teambutton.org so first someone would have to point that domain at my server IP

[2016-10-20 21:19] markmacgillivray commented on #154
Yeah sorry I missed the one where if the new request needs help then we should email the request creator. But we cannot email supporters, there won't be any.

[2016-10-20 21:37] JosephMcArthur commented on #154
Made one!

[2016-10-21 07:56] JosephMcArthur commented on #321
just corrected the dev site URL in the plugin, but still couldn't make it work. Have seen there is a message in there as follows:

But that has yet to display.

[2016-10-21 07:58] JosephMcArthur commented on #272
This is another message that can display:

Instead, perhaps

[2016-10-21 08:05] JosephMcArthur commented on #319
#### on total error of api

#### when someone else has started a request

#### when a request has been made successfully

We have opened it up in a new tab for you. If your browser blocked it, you can open it here.

[2016-10-21 08:07] JosephMcArthur commented on #319
#### submit box (at zero words)

I'm wondering if here we shouldn't call it a story anymore? That's a bit odd, no?. "reason" might be clearer to a broad segment of people. That is essentially what we're asking for here.

[2016-10-21 08:20] markmacgillivray commented on #321
Someone has commented out the chromeinstall div - without it, the plugin errors out. Why does it need to be commented out?

[2016-10-21 09:16] JosephMcArthur commented on #272
Okay, the confirmation message is always shown. So, suggesting we remove the "now".

[2016-10-21 09:30] JosephMcArthur commented on #321
fixed. But now buttons are back.

[2016-10-21 09:30] #321 closed

[2016-10-21 10:06] JosephMcArthur commented on #323
body should be roboto

[2016-10-21 18:57] JosephMcArthur opened #327 "make stories on request pages not required"
from @meganwaps user test today with NA

[2016-10-21 19:04] JosephMcArthur opened #328 "Don't allow user to make a request without completing all sign up details"
User test with NA showed this can happen. The point of getting people to sign in / up is as we need those details to do a request.

[2016-10-21 19:24] markmacgillivray commented on #327
I'm confused by this - do you mean when creating a new request, or when adding support to an already existing request? In each case I thought stories ARE required, and I am not sure where it says they are not.

[2016-10-21 19:26] markmacgillivray commented on #308
What pop up?

[2016-10-21 19:51] JosephMcArthur commented on #308
The info bar allowing users to go back to the page they were on

[2016-10-21 19:52] JosephMcArthur commented on #327
Sorry, this is 100% not clear enough. When adding support, leaving a story should be optional.

[2016-10-21 19:53] JosephMcArthur commented on #327
We may want to expand the "optional" note a bit to say something like:

[2016-10-21 19:59] JosephMcArthur commented on #120
This works now!

[2016-10-21 19:59] #120 closed

[2016-10-21 20:20] JosephMcArthur opened #329 "Make clear DOI isn't required (only title) on /request/new"
This could be delt with via copy (e.g adding "(optional, but useful)") or in later editions we could do this more directly via the UI.

[2016-10-21 20:36] markmacgillivray commented on #327
Done

[2016-10-21 20:36] #327 closed

[2016-10-21 22:28] JosephMcArthur commented on #304
We have a UI in at /admin!

[2016-10-21 22:28] #304 closed

[2016-10-21 22:49] JosephMcArthur commented on #154
All of these templates can now be tested from /admin. The emails needs to be test & refined, however this issue could be closed and that taken care of in specific issues.

[2016-10-21 22:51] JosephMcArthur commented on #292
FYI, this now now being send from admin. Now emails will come from either admin or requests.

[2016-10-22 11:43] JosephMcArthur commented on #223
Can we point to openaccessbutton.org/blog for now. That can close this, and we can use the other issue to discuss if this should actually go to medium.

[2016-10-22 11:45] JosephMcArthur commented on #214
Moving this comment over from #223 to keep all discussion of where to host the blog here.

[2016-10-22 13:22] markmacgillivray commented on #292
Signup email now uses new template, tested and works

[2016-10-22 13:22] #292 closed

[2016-10-22 13:25] markmacgillivray commented on #306
Made this more obvious, and controlled what can be shown depending on status and user

[2016-10-22 13:26] markmacgillivray commented on #233
New admin interface is up, does not export yet, but uses different code from old, so this is no longer valid

[2016-10-22 13:26] #233 closed

[2016-10-22 13:49] markmacgillivray commented on #251
The alert message that @JosephMcArthur added can now be triggered by adding ?odb=true to the URL. This will be done automatically if anyone goes to an opendatabutton.org address - they will be redirected to the equivalent page on openaccessbutton.org, but with that parameter added, and they will see the explanatory message.

[2016-10-22 14:24] markmacgillivray commented on #328
Have tried adding to this, but must be tested before going live

[2016-10-22 14:46] markmacgillivray commented on #308
Popup no longer shows if account not yet complete. Request page also checks for values and redirects if not present. Still an issue to make it possible to work by cookie when someone follows the link url

[2016-10-22 14:46] markmacgillivray commented on #328
As in it works for me, but do we need more user testing? Someone should have a go at least. Will assign to @JosephMcArthur ;)

[2016-10-22 15:24] markmacgillivray commented on #151
Added to API now, so future request will be round to 3. Also whenever old data is imported it will be rounded to 3 as well.

[2016-10-22 15:24] #151 closed

[2016-10-22 15:24] markmacgillivray commented on #151
http://gis.stackexchange.com/questions/8650/measuring-accuracy-of-latitude-and-longitude

[2016-10-22 15:35] markmacgillivray commented on #326
Can't recreate this. Mine all come in as normal.

[2016-10-22 15:39] JosephMcArthur commented on #251
Just reopening as we need to :
- [ ] allow the message to be closeable & add that to the request page message too.
- [ ] move it out the top bar (possibly) so it's under.

[2016-10-22 20:50] markmacgillivray commented on #320
New one made.

[2016-10-22 20:50] #320 closed

[2016-10-22 21:46] markmacgillivray commented on #226
Altering the plugin and plugin README now to provide a way to see this.

[2016-10-22 21:47] markmacgillivray commented on #322
All done, available in the next release that I will push in a few minutes.

[2016-10-22 21:47] #322 closed

[2016-10-22 21:48] markmacgillivray commented on #324
Fixed for next release.

[2016-10-22 21:48] markmacgillivray commented on #326
Tried this on my linux machine and on mac, still can't recreate.

[2016-10-22 21:49] markmacgillivray commented on #326
I'll assign this back to @JosephMcArthur - you'll need to screengrab it, or talk to me about it at some point, as I can't replicate.

[2016-10-22 21:56] markmacgillivray commented on #323
I don't think we can use google web fonts in the extension. Roboto is one of those, not sure about Monserrat. Font size increased. Font is sans serif throughout though, so looks similar to site. Is this OK? Assigning back to Joe to confirm and close if OK.

[2016-10-22 22:09] markmacgillivray commented on #272
There did not appear to be copy for all the sections of the part of the plugin that interacts with the page, but I have tried to use what appears to be the final statements from all of the above, plus a couple more to match in and complete the set. Here is everything it says:

Your plugin is installed! Just associating it to your account for you...

We couldn't connect your account and plugin, som

[2016-10-22 23:26] JosephMcArthur commented on #226
It mentions a master branched needed to test this, but that branch doesn't exist.

[2016-10-22 23:34] JosephMcArthur commented on #319
#### Total error code pictured I think

<img width="374" alt="screenshot 2016-10-23 00 32 51" src="https://cloud.githubusercontent.com/assets/4953703/19623187/5b118bec-98b8-11e6-8438-1b5009a54fcb.png">

[2016-10-22 23:36] JosephMcArthur commented on #323
Just glanced, looks fine & if we can't do any better then so be it! Certainly a bit improvement.

[2016-10-22 23:36] #323 closed

[2016-10-22 23:41] JosephMcArthur commented on #272
@markmacgillivray i added

Will the "@" be okay in the text? I saw you had to put "/" in front of some characters.

If it's okay, I'm closing. @chealsye if you have second thoughts on any copy please reopen.

[2016-10-22 23:41] #272 closed

[2016-10-22 23:45] markmacgillivray commented on #226
What mentions a master branch?

[2016-10-22 23:47] markmacgillivray commented on #226
Ah, no, it says what the defaults for each variable will be depending on whether on master or develop branch. Right now there is no master branch, but there will be as soon as we are happy to make the real release version - I will push that into a master branch.

It doesn't say how to push those variables to the plugin though, I will add that now. It was there before but I must have removed it whe

[2016-10-22 23:48] JosephMcArthur opened #330 "background on cogs isn't transparent"
<img width="374" alt="screenshot 2016-10-23 00 32 51" src="https://cloud.githubusercontent.com/assets/4953703/19623250/6debf818-98ba-11e6-9bea-0bc03f93bb77.png">

[2016-10-22 23:50] JosephMcArthur opened #331 "Error codes don't seem that helpful for user or us"
Are they functional in any way? I've only seen 0, which "feels" like it's not real.

[2016-10-22 23:52] markmacgillivray commented on #226
Updated the README

[2016-10-22 23:54] JosephMcArthur opened #332 "For login emails, set send name as "Open Access Button""
Same as we have done with other emails

[2016-10-23 00:07] JosephMcArthur commented on #251
The above changes are now in.

@chealsye can you close when you're happy with the copy here.

[2016-10-23 00:09] JosephMcArthur commented on #306
reopening as @chealsye needs to make / approve copy for this

[2016-10-23 00:12] JosephMcArthur commented on #328
This seems to work, but needs copy @chealsye

#### text

#### button

[2016-10-23 00:17] JosephMcArthur commented on #308
Copy for this message was:

but due to #328 the first sentence wouldn't apply in some cases. I've changed it, but @chealsye if you don't agree or want something different entirely do say.

[2016-10-23 00:28] markmacgillivray commented on #330
Actually it is, but for some reason I can't get it to show any better than that. If anyone with better design skills can make a better version, please do so. I'll unassign myself, but reassign if I am needed to add it into the code.

[2016-10-23 00:30] markmacgillivray commented on #331
We don't expect users to often see errors, but if they do, it is worth knowing the code. However if it does not fit with copy preferences, it can be removed.

[2016-10-23 00:31] markmacgillivray commented on #332
Done.

[2016-10-23 00:33] markmacgillivray commented on #262
Bookmarklet can be viewed and tested here:

http://oabb.test.cottagelabs.com/

code is currently in new repo called bookmarklet, but actually may be easier to keep it in the oab_static repo. For now it is fine in its own repo.

It should have all the functionality, but some styling still probably needs done, particularly I have not checked the error styling. I also have not actually tested using i

[2016-10-23 00:35] JosephMcArthur commented on #326
Okay, it seems the orange background may be expected: http://stackoverflow.com/questions/22551316/chrome-extension-icon-has-a-yellow-orange-highlighted-background-border

[2016-10-23 00:35] markmacgillivray commented on #272
The @ should be fine.

[2016-10-23 00:36] markmacgillivray commented on #326
Weird it doesn't do it on mine, I could be using an old browser. But if it is from 2013... anyway if it is expected, and yes the description does seem to match what you experienced, then we can close this I think

[2016-10-23 00:39] markmacgillivray commented on #308
Note that functionality has already changed to only show that message after the user has completed their details

[2016-10-23 00:42] JosephMcArthur commented on #326
Would be great if @meganwaps @chealsye @natalianorori could try and recreate this.

[2016-10-23 00:46] JosephMcArthur commented on #331
It's not so much I'm averse to showing a code. It's just that 0 as an error code doesn't feel real. I know it's silly, but 321 would feel more real.

[2016-10-23 09:29] markmacgillivray commented on #326
Ah ha, this does happen now on my mac, probably a newer version. So yes, it goes orange and shows a warning about developer extensions, which I accept, then it loads the other extensions and the colour goes back to normal. This is OK, just the dev extension warning which won't show up once it is installed normally.

[2016-10-23 09:32] JosephMcArthur commented on #326
Great, closing.

[2016-10-23 09:32] #326 closed

[2016-10-23 09:45] JosephMcArthur opened #333 "Run weekly check on all requests via the find system"
This is so that we pick stuff up that becomes available on the fly, and can deliver it to users

[2016-10-23 10:14] JosephMcArthur opened #334 "add a email all button"
- [x] @markmacgillivray make button
- [x] check mailgun account limits

[2016-10-23 10:17] JosephMcArthur commented on #226
@markmacgillivray need screenshot

[2016-10-23 10:24] markmacgillivray commented on #226
The error screenshots would all look as the screenshot you already added to #319 - the only difference is the text. Here are the current texts:

BLACKLISTED (THE WORD instructions IS A LINK TO /instructions):
Sorry, the page you are on is not one that we can check availability for. See the instructions for help.

UNAUTHORISED:
Unauthorised - check your API key is valid. Go to ACCOUNT_URL  and sign

[2016-10-23 10:28] JosephMcArthur opened #335 "Launch Checklist"
- [ ] Move over ODB domain
- [ ] Start request data run
- [ ] update blog
- [ ] final test of all systems on dev ( @meganwaps & me )
- [ ] re-test everyting on live ( @meganwaps & me )

[2016-10-23 10:39] JosephMcArthur opened #336 ""See your requests button" on the account page"
Link to filtered search on /requests

[2016-10-23 10:40] JosephMcArthur commented on #319
#### go to instructions page

The error screenshots would all look as the screenshot you already added to #319 - the only difference is the text. Here are the current texts:

BLACKLISTED (THE WORD instructions IS A LINK TO /instructions):
Sorry, the page you are on is not one that we can check availability for. See the instructions for help.

UNAUTHORISED:
Unauthorised - check your API key is vali

[2016-10-23 10:49] JosephMcArthur opened #337 "Put up /requests received page"

[2016-10-23 10:56] JosephMcArthur opened #338 "make text on plugin buttons appropriate when find system throws back different response"

[2016-10-23 11:25] markmacgillivray commented on #338
Fixed

[2016-10-23 11:28] JosephMcArthur commented on #226
Have moved the above over to the copy issue. Now closing this.

[2016-10-23 11:28] #226 closed

[2016-10-23 11:28] markmacgillivray opened #339 "File a bug - remove from plugin?"
Just thinking, and looking at some other plugins. Do we really need the "file a bug" link at the bottom of the plugin / bookmarklet? We have the bug page on the site, we have links from the plugin to instructions and account page and so on for when different sorts of issue can arise, and from there the user can create a bug - so we could add content to the account and instructions page on the site

[2016-10-23 11:30] JosephMcArthur commented on #339
Yes. Let's just link the bug page from appropriate error messages. Given our ever decreasing footer size, I'm not averse to a "bugs" link there.

[2016-10-23 11:32] JosephMcArthur opened #340 "On forms, allow hitting enter to submit the form"
move from #281 to keep it clean.

I went to hit enter on the sign-up page after entering my email, and nothing happened. I expected this to submit to form. For power users though could be nice.

[2016-10-23 11:34] JosephMcArthur commented on #281
Move the above comment to #340 to keep this clean.

The changes needed to do this could have impacts on many site pages, which would need consideration.

Would suggest before really moving forwards on this we have @meganwaps ask people's opinion of the sign up pages during user tests. So far I've only ever seen people rate the process as "very easy".

[2016-10-23 11:44] JosephMcArthur commented on #334
Mailgun account now has a credit card, and I've checked pricing. Seems like not an issue to send really high volumes.

[2016-10-23 11:54] JosephMcArthur opened #341 "Button options for download"
Ideally, we should show just one or two options on each platform - not them all. The rules:

* Where we have a plugin, show that & button in a browser
* Where we don't have a plugin, show the bookmarklet & button in a browser
* On mobile, show button in a browser & #286

@markmacgillivray if this isn't possible right now showing more is okay. We should just move in this direction.

[2016-10-23 12:02] JosephMcArthur commented on #339
Removed it from the bottom of the plugin.

- [ ] add links to Forbidden / Error / unknown error - @markmacgillivray

[2016-10-23 12:06] JosephMcArthur commented on #183
@markmacgillivray first step here is to know how these are generated currently.

[2016-10-23 12:55] JosephMcArthur opened #342 "When zoomed out map on frontpage falls out of alignment"
To replicate go to the frontpage and set your browser zoom to <100%

[2016-10-23 13:05] JosephMcArthur opened #343 "On sign up page, display email that we've sent a message too"
- I just sign up with an error in my email & I couldn't tell, just got confused as to why the email took so long.
- I also got distracted while going to my inbox & forgot what email I'd sent it too so didn't know where to check.

Both of these two things seem like things that could happen to users. Both would be solved by displaying the email we've just the message too on the screen. Could be like

[2016-10-23 13:10] JosephMcArthur opened #344 "Analytics check"
Mark, do we have:

- [x] Analytics on the website - @markmacgillivray
- [x] & successfully feeding into an account - Me
- [ ] link / open tracking in mailgun - @markmacgillivray

Linked to #335

[2016-10-23 13:15] JosephMcArthur commented on #332
still seeing this

![image](https://cloud.githubusercontent.com/assets/4953703/19626476/096afae4-992b-11e6-99a2-82b63622ff76.png)

Quite possible my inbox is just remembering the name admin though. @svmelton @natalianorori can you do a quick test?

[2016-10-23 13:42] JosephMcArthur opened #345 "Approve retiring messages on /advocacy & /support"

[2016-10-23 13:48] JosephMcArthur opened #346 "Successful requests ticker doesn't work"
### Expected Behavior

* when changing a request to received successful request ticker goes up

### Actual Behavior

* it doesn't

### Steps to Reproduce this bug

* make a request successful
* go check

[2016-10-23 13:54] JosephMcArthur opened #347 "search bar doesn't pick up paper keywords"
### Expected Behavior

_What did you expect it to do? - remove this note before posting_
- searching grinding should pull out this request: http://oab.test.cottagelabs.com/request/58fLBjEhMkmTPtpmd

as grinding is one of it's keywords
### Actual Behavior
- doesn't come up
### Steps to Reproduce this bug
- go to /request
- search grinding

[2016-10-23 13:57] JosephMcArthur opened #348 "Supported a request with a story. My username & support came up but story didn't"
### Expected Behavior

* expected my story to be used. Otherwise, how will an author know *cries*

### Actual Behavior

* Saying I support it, but doesn't say way.

### Steps to Reproduce this bug

* support a request with a story

[2016-10-23 13:59] JosephMcArthur commented on #306
@markmacgillivray ironically it's unclear here what actually needs help

![image](https://cloud.githubusercontent.com/assets/4953703/19626827/5496ca6a-9931-11e6-9a65-72874581933d.png)

[2016-10-23 14:01] #251 closed

[2016-10-23 14:03] JosephMcArthur opened #349 "When opening embed window on request pages twitter button disappears."
@markmacgillivray have you tested the embeds? Just wondering if this is linked to #305

This can be moved out this milestone once the above Q is answered.

[2016-10-23 14:09] JosephMcArthur opened #350 "on /request item page the button is white & goes grey. Should be blue & go orange."
at least to match others on the site

[2016-10-23 14:17] JosephMcArthur opened #351 "For tickboxs on /account allow clicking the text to tick the textbook"
I seem to want to be able to do this, but can't. Feels like other services allow this.

[2016-10-23 14:29] JosephMcArthur opened #352 "Move /request/new onto the front page for all users"
after some progress on find system & #333

[2016-10-23 14:40] JosephMcArthur opened #353 "make all links on /resources open in a new tab"

[2016-10-23 14:53] JosephMcArthur opened #354 "redirect /contact to /about#contact"
this allows us to delete /contact, which is currently confusing.

[2016-10-23 14:56] JosephMcArthur opened #355 "do we need both cc-by image & statement in the footer?"
they both go to the same place & say the same thing

[2016-10-23 15:00] JosephMcArthur opened #356 "Link Twitters or other prefered link from team person names on team page"

[2016-10-23 15:26] JosephMcArthur commented on #301
Here are 100 great articles to test: https://www.authorea.com/users/8850/articles/125400/_show_article

The article list can be found here: https://www.authorea.com/users/8850/articles/125400/master/folder/Raw%20table%20data

[2016-10-23 15:28] JosephMcArthur opened #357 "On request/new error message disappears to fast"
I can't reads so fasts.

[2016-10-23 15:34] JosephMcArthur opened #358 "when looking to support an existing request the request page it goes to is undefinend"
### Expected Behavior

* I get to the request for that article

### Actual Behavior

* takes me to /request/undefined

### Steps to Reproduce this bug

* Run http://www.nejm.org/doi/full/10.1056/NEJM199901143400207 through the /request/new page

[2016-10-23 15:36] JosephMcArthur commented on #358
The plugin couldn't find the existing request on this URL too

[2016-10-23 15:36] JosephMcArthur commented on #358
my request url is http://oab.test.cottagelabs.com/request/uXGQEZJaJYRPA6PBm

[2016-10-23 15:38] JosephMcArthur commented on #338
Need to check that this will adapt when we're asking them to support a request

[2016-10-23 15:43] JosephMcArthur commented on #338
Should be

Is this also fixed on the bookmarklet?

[2016-10-23 15:45] JosephMcArthur opened #359 "sign up / login button on plugin isn't "our blue""
Could there be a mouseover too?

[2016-10-23 15:53] JosephMcArthur commented on #324
This appears to be back.

[2016-10-23 15:58] JosephMcArthur opened #360 "When not signed in on plugin, request buttons take you do blank page"
This is complicated by #324, but usually I can right click & copy link where they're present.

### Expected Behavior

* Tell me to get an account, or something like that.

### Actual Behavior

* taking me to blank page

### Steps to Reproduce this bug

* http://www.nejm.org/doi/full/10.1056/NEJM199901143400207 with plugin.

[2016-10-23 16:10] JosephMcArthur opened #361 "Display sign up message in plugin only when user tries to make a request"
Currently, I think we're displaying this all the time.

Perhaps, we should only display it when the user wants to make a request (i.e they click the button but don't have an account). That would close #360.

However, this might mean users don't connect their account to their plugin even if they have one. E.g:
* they sign up
* they click install chrome & get taken to the store off site (not sure if

[2016-10-23 16:15] JosephMcArthur opened #362 "article icon is a bit messed up"
The "lines" of the document are an irregular shape, and while it's not "wrong" the data icon is uniform and it looks out of place

Original file: https://github.com/OAButton/backend/blob/master/icons/EPS/icon_article.eps

[2016-10-23 16:22] JosephMcArthur commented on #319
#### when you make a request

Please take a moment to go and view the request, and provide any additional support that you can.
We have opened it up in a new tab for you. If your browser blocked it, you can open it here

Here goes to the request page

[2016-10-23 16:26] JosephMcArthur commented on #328
This isn't working on the plugin & I expect bookmarklet

[2016-10-23 17:24] JosephMcArthur opened #363 "Plugin counter changes"
* I wasn't sure if you could submit after the first 5 words. Not suggesting a change, just a datapoint
- [ ] parts of the counter don't always count. E.g "5 more words" is still 5 until it switches. This is a bit confusing.
- [ ] Eventually, the message stays the same no matter how many words you right.

Many of the above issues can be dealt with through #319. However, they could be solved in othe

[2016-10-23 17:27] JosephMcArthur opened #364 "Add a spinner / submit message on request submit"
It can sometimes take a little while for the plugin to finish making a request & giving you the next screen. This left me wanting a spinner or something to reassure me it wasn't an error. Do we want to tell them not to close it yet?

So, for example, you may have a small spinner on the left &

where the submit button was.

[2016-10-23 17:31] JosephMcArthur opened #365 "Unclear why there is no location for this request"
http://oab.test.cottagelabs.com/request/9wXFSWMcTLaFeWE2W

[2016-10-23 17:40] markmacgillivray commented on #364
Small spinner added for loading. Will close now to track what is done, but won't be available until a push later.

[2016-10-23 17:40] #364 closed

[2016-10-23 17:50] markmacgillivray commented on #362
I did not use the one you linked to because it looked worse, so I went with the current one, where yes they are different but that makes it look more like an article - having them regular looks more like data. I can change it to whatever image you want, but I need a png image with transparent background suitable for display at about 200px width. These are not things I can do much better than I hav

[2016-10-23 17:53] markmacgillivray commented on #328
This is impossible to control at the plugin or bookmarklet. We can hide the links so that a user cannot GET either of those things until after they provide their full details (which, as I mentioned before, is how the account page worked until someone changed it. But, someone could still get the plugin from the chrome store, sign up, not complete those fields, and still submit a request. the best w

[2016-10-23 17:57] JosephMcArthur commented on #306
Prompt changed to

[2016-10-23 18:00] JosephMcArthur commented on #306
Closing to keep track of key areas, but reopen if needed @chealsye

[2016-10-23 18:00] #306 closed

[2016-10-23 18:02] markmacgillivray commented on #360
I think that message should always show if the user is not signed up / has not attached their account to their plugin. It doesn't clash with the issue of the buttons being visible and opening nothing because I am fixing that. Now that we are not telling people about API keys at all it makes sense to change the wording so I have changed it to end after "signup or login now".

I will unassign myself

[2016-10-23 18:04] JosephMcArthur commented on #328
I'm not sure when it was like this, but I'm all for it going back. I think I've made that clear in #307 which is in the next milestone.

Hopefully, this isn't how my request earlier came across. All I want is for the error code displayed to not be 0.

We can move this to a later milestone & address then. I expect we can let a user make it, and ask them to finish sign up later.

[2016-10-23 18:04] markmacgillivray commented on #361
As commented on the other issue, I think the message should stay all the time but I have removed the wording about the API key. The buttons will no longer click to nowhere, and will say "unavailable" if nothing is available and the user has no api key yet.

[2016-10-23 18:05] JosephMcArthur commented on #154
Closing this now. Issues with emails can be dealt with individually.

[2016-10-23 18:05] #154 closed

[2016-10-23 18:08] JosephMcArthur commented on #365
To be clear, it's unclear because others had it!

[2016-10-23 18:08] markmacgillivray commented on #331
Removed codes, show link to bug page instead.

[2016-10-23 18:08] #331 closed

[2016-10-23 18:09] markmacgillivray commented on #338
This is ambiguous though - support article or support data is possible. Is that OK to use instead?

[2016-10-23 18:11] JosephMcArthur commented on #360
Okay, if this specific issue is fixed grand.

[2016-10-23 18:11] #360 closed

[2016-10-23 18:12] JosephMcArthur commented on #349
If they don't work. Then hide them entirely for now.

[2016-10-23 18:13] JosephMcArthur commented on #338
I think support article / data is worse, you can't support an article.

To my taste adding the extra word with the icons isn't needed, but for the sake of a word better to be clear than allow for misunderstanding.

[2016-10-23 18:15] markmacgillivray commented on #338
That will make the wording longer than the size we have to fit it in though, at current font sizes. It is harder to autoscale the size of those buttons because of the layout. Putting in too many words will make it look bad. If saying "support request" is good enough, that kind of undermines the point of having text in those buttons in the first place - e.g. if it is obvious from the icon what they

[2016-10-23 18:18] JosephMcArthur commented on #362
getting this now

[2016-10-23 18:18] JosephMcArthur commented on #330
getting this now

[2016-10-23 18:23] markmacgillivray commented on #338
For now I have gone with starting out at "Unavailable". If there is a request it will say "Support TYPE" unless the user has no api key, in which case it still says unavailable and they are seeing the sign up message anyway. If there are no requests and user is not signed up it stays at "Unavailable" but if the user is signed up it changes to "Request TYPE".

[2016-10-23 18:23] markmacgillivray commented on #338
I'll unassign to track other issues needing doing, reassign if there is a workable alternative.

[2016-10-23 18:25] markmacgillivray commented on #359
It is now

[2016-10-23 18:25] #359 closed

[2016-10-23 18:26] markmacgillivray commented on #339
Done

[2016-10-23 18:26] #339 closed

[2016-10-23 18:28] markmacgillivray commented on #332
Sorry, fixed - I accidentally set it against the old ODB settings, not OAB, and I had an email from the admin system showing the expected value so thought it was working. Works now.

[2016-10-23 18:28] #332 closed

[2016-10-23 18:28] JosephMcArthur commented on #362
Ta-da!

![icon_article_black](https://cloud.githubusercontent.com/assets/4953703/19628502/eb3a2118-9956-11e6-86d7-0a002e6b6691.png)

[2016-10-23 18:29] JosephMcArthur commented on #330
Ta-da (again)

![icon_broken](https://cloud.githubusercontent.com/assets/4953703/19628506/f64458c6-9956-11e6-81ee-e966088638f8.png)

[2016-10-23 18:33] markmacgillivray commented on #362
Ah, I should also have said I shaded them to #333333 so that they looked better on the orange backgrounds - can you make one like this coloured to #333333 ?

[2016-10-23 18:34] JosephMcArthur commented on #345
The messages are:

I've grammer & spell checked them. So hopefully while not as good as they can be they're not a disaster. Closing but reopen if desired @chealsye

[2016-10-23 18:34] #345 closed

[2016-10-23 18:35] markmacgillivray commented on #330
Cool, fixed

[2016-10-23 18:35] #330 closed

[2016-10-23 18:38] JosephMcArthur commented on #319
Okay, lots of alternatives to be put in.

to

- [ ] > some test

[2016-10-23 18:39] markmacgillivray commented on #286
@JosephMcArthur I don't have time to finish this for current release. We either have to move to later milestone or delay release. I'll unassign just to track what I can work on for now in this milestone.

[2016-10-23 19:09] markmacgillivray commented on #363
This has been fixed, there was an error after 20 words. it does stay at five more words, because that is just the suggestion of how many more to write. These could be changed, but probably has to be a later milestone, this is the text that was agreed to already, I believe. We are running out of time to keep making changes (really we are out of time already). Unassigning myself as no technical issu

[2016-10-23 19:11] markmacgillivray commented on #344
Yep there are analytics on the site, I don't know what you mean by link / open tracking in mailgun.

[2016-10-23 19:29] #363 closed

[2016-10-23 19:33] chealsye commented on #362
![article_333333](https://cloud.githubusercontent.com/assets/9299248/19628878/079f6320-9936-11e6-9cbb-2b8896c634af.png)

@markmacgillivray This is #333333. Let me know if it needs resizing though.

[2016-10-23 19:35] JosephMcArthur commented on #344
for mg.openaccessbutton.org we now have open tracking and link tracking in html messages.

[2016-10-23 19:35] #344 closed

[2016-10-23 19:36] JosephMcArthur opened #366 "Make all email messages html by default"
This enables tracking, which is important in knowing where things are going wrong in the request system.

- [x] change
- [x] test
- [ ] deploy

[2016-10-23 19:39] JosephMcArthur commented on #286
Appreciate the heads up & not just moving it back. I'm happy to move it back.

[2016-10-23 19:40] markmacgillivray commented on #362
This one is not on a transparent background, sorry, Size and foreground colour is fine though. If you can make the background transparent I can use it.

[2016-10-23 19:40] markmacgillivray commented on #362
@chealsye just adding your name to ensure it notifies you of my previous comment

[2016-10-23 19:41] chealsye commented on #362
![article_33333](https://cloud.githubusercontent.com/assets/9299248/19628920/22b1376e-9937-11e6-9141-36426b472ae9.png)

Sorry. Of course I can make it transparent - just was saving too quickly.

[2016-10-23 19:43] markmacgillivray commented on #362
OK thanks that is in the repo now. @JosephMcArthur is that this issue ready to close?

[2016-10-23 19:45] JosephMcArthur commented on #349
** spoiler ** it doesn't work.

Am currently hiding button & moving this.

[2016-10-23 19:46] JosephMcArthur commented on #362
Yup, assuming it goes in okay!

[2016-10-23 19:46] #362 closed

[2016-10-23 19:50] JosephMcArthur commented on #361
shortened this message in #319. Until we have some more user testing this is all just taste, so I'm happy to close for now.

@meganwaps if you could pay attention to this message in future user tests that would be great.

[2016-10-23 19:50] #361 closed

[2016-10-23 19:51] JosephMcArthur commented on #341
If it isn't possible, as long as we're not showing something the user literally can't download then you're good to move this to 4.

[2016-10-23 19:55] markmacgillivray commented on #358
These links have been fixed now.

[2016-10-23 19:55] markmacgillivray commented on #324
Fixed again

[2016-10-23 19:55] #324 closed

[2016-10-23 20:01] markmacgillivray commented on #365
Unknown, it just worked for me. We know that sometimes the browser fails to find your location - there is nothing we can do about that, but we now have it coded so at least that does not cause a failure, we just don't get location. This is the first one I have seen on the new plugin where we did not get it though. But I think we should close this issue as there does not seem to be any ongoing prob

[2016-10-23 20:01] #365 closed

[2016-10-23 20:13] JosephMcArthur opened #367 "Monitor Location availabilty"
Saw the hint of an issue in #365 but not time for a deep investigation. It worked most of the time, so pushing to a later issue to be monitored.

[2016-10-23 20:13] JosephMcArthur commented on #365
Fine to close. Have suggested we monitor it here #367.

[2016-10-23 20:15] JosephMcArthur commented on #338
Just chatted online briefly (we thought we weren't getting each other here.

* unavailable text is staying as we need to make clear to the user that the button won't do anything but as login text is always present there could be no visual way to do this.
* changing to support request as this is clearer than support article / data. However both agree that this could be handled better by using the o

[2016-10-23 20:20] JosephMcArthur commented on #319
Am currently putting these in... please hold any changes

[2016-10-23 20:24] markmacgillivray opened #368 "Add DOM passing to the availability query"
Only sent on request submit, but if sent on availability would reduce load time. Update backend to look for it too. Then also consider storing the dom, but with some refresh, so that we can reduce need to keep looking up pages.

[2016-10-23 21:14] JosephMcArthur commented on #319
Okay, all the changes are in a PR here as I don't want to count on my coding skills here.

@markmacgillivray would appreciate a review before merging. https://github.com/OAButton/unified-extension/pull/27/files

[2016-10-23 22:51] JosephMcArthur commented on #305
linked to #349 I expect

[2016-10-23 23:21] JosephMcArthur commented on #338
On 1.5 it was saying that I couldn't request data after I'd made an article request:

<img width="385" alt="screenshot 2016-10-24 00 19 42" src="https://cloud.githubusercontent.com/assets/4953703/19630299/acc3807c-997f-11e6-9e95-002573cd585a.png">

but allowing me to make a request for other articles.

<img width="402" alt="screenshot 2016-10-24 00 16 06" src="https://cloud.githubusercontent.com/a

[2016-10-23 23:26] JosephMcArthur commented on #319
- [ ] @markmacgillivray can you remove the request id number from the message a user sees when they're clicking on their own request? It's line 156 of main.js

[2016-10-23 23:26] #356 closed

[2016-10-23 23:31] JosephMcArthur opened #369 "When clicking the button on a paper where you've done something twice different responses are seen"
Mark, filing a bug here. However, this is starting to get rather niche I expect (which is great for testing, not great for releasing). If this is fast to fix, great, if it isn't you can move to a later milestone. That assessment is with you.

### Expected Behavior

* Every time I click on an articles I've already done something with I'll get the same message & be linked to my request

### Actual B

[2016-10-23 23:36] JosephMcArthur commented on #367
Just did:
* http://oab.test.cottagelabs.com/request/5iE52hXg6WK7Nk6HN
* http://oab.test.cottagelabs.com/request/z2qqcsGgeaqFo3vRK

on 1.5 & neither had location. This one did:

* http://oab.test.cottagelabs.com/request/3WWF8f7Z5AFydsdYz

but I don't 100% know the version.

[2016-10-23 23:43] JosephMcArthur commented on #325
@chealsye in case you're in any doubt, the plugin now looks like what the plugin will look like.

[2016-10-23 23:46] JosephMcArthur commented on #335
Joe, little reminder:
* https://docs.google.com/spreadsheets/d/1vmGu0wPgpgMGHOBeJzq9lhbXAZuYRF1nc1cffQZTb3g/edit?ts=580539f5#gid=1751613084
* https://docs.google.com/document/d/1Zp-sf_JqNMw8keXD11pnTGUOqbGf-7QZugNrxPo-7AA/edit#

you need to do another test of mobile, just to make sure.

[2016-10-24 02:22] #329 closed

[2016-10-24 02:48] chealsye commented on #325
Screenshots

![screen shot 2016-10-23 at 22 12 57](https://cloud.githubusercontent.com/assets/9299248/19632226/9a19a620-9972-11e6-8282-8279a780d5c2.png)

![screen shot 2016-10-23 at 22 40 23](https://cloud.githubusercontent.com/assets/9299248/19632231/a0a9553a-9972-11e6-8e9e-e9f33afcd216.png)

![screen shot 2016-10-23 at 22 39 51](https://cloud.githubusercontent.com/assets/9299248/19632243/b6e2ae6

[2016-10-24 02:55] chealsye commented on #325
Copy

@JosephMcArthur Good to close unless you want some edits

[2016-10-24 03:14] chealsye opened #370 "Email to all users telling them to update"
{{SUBJECT Update Your Open Access Button}}

Hi, {{useremail}}!

We have exciting news - there's a new Open Access Button. You can update your Button right now through your account page: https://openaccessbutton.org/account/

The new Button is simpler and more efficient, and you can now find and request both articles in data in one great service. Once you update your Button, give it a try and let u

[2016-10-24 03:15] chealsye commented on #370
@JosephMcArthur Here's a draft for this email. Happy for you to tweak wherever needed -- exhausted eyes while writing it. I wasn't sure what the functionality of emails are, so I went with plain text - @markmacgillivray, please do adjust as you need.

[2016-10-24 06:32] JosephMcArthur commented on #370
Moving to launchchecklist issue to keep things clean, but this looks great.

[2016-10-24 06:32] #370 closed

[2016-10-24 06:45] JosephMcArthur opened #371 "Can we track (or guess) current or previous bookmarklet users"
I would like to email them special instructions.

[2016-10-24 06:46] JosephMcArthur opened #372 "Unsubscribe links in user emails"
For transactional emails needed to make things works, we don't need this. But for "publicity" emails we should probably have it.

[2016-10-24 07:12] markmacgillivray opened #373 "Add a refresh email templates button to admin"

[2016-10-24 07:27] markmacgillivray commented on #319
Done and pulled PR, closing issue

[2016-10-24 07:27] #319 closed

[2016-10-24 07:51] markmacgillivray commented on #338
Fixed.

[2016-10-24 07:51] #338 closed

[2016-10-24 08:11] JosephMcArthur commented on #341
* Seems like cl & ff classes need to be updated to not show up on mobile.
* Bookmarklet placeholder I have won't show on small screens.

Adding xs-hidden s-hidden classes to ones with cl or ff causes them to forget the browser specificity.

[2016-10-24 08:26] #369 closed

[2016-10-24 08:28] JosephMcArthur commented on #312
seems to be back only on mobile, not just small screen.

[2016-10-24 08:34] JosephMcArthur commented on #341
@markmacgillivray nudge

[2016-10-24 08:39] JosephMcArthur commented on #312
@meganwaps @chealsye @svmelton @natalianorori can you check the formatting of bullets on oab.test.cottagelabs.com/about#press?

[2016-10-24 09:27] JosephMcArthur commented on #358
this is back in 1.7 & on current /request/new page

[2016-10-24 10:03] #368 closed

[2016-10-24 10:15] markmacgillivray commented on #358
Fixed in the plugin but still to get to the website UI

[2016-10-24 10:28] markmacgillivray commented on #358
Fixed again again again

[2016-10-24 10:47] markmacgillivray commented on #373
Done

[2016-10-24 10:47] #373 closed

[2016-10-24 10:56] markmacgillivray commented on #334
Added an option to the email to field

[2016-10-24 10:56] #334 closed

[2016-10-24 11:02] markmacgillivray commented on #334
Changed it to the bcc field

[2016-10-24 11:19] markmacgillivray commented on #371
Yes the bookmarklet shows its own plugin type so we will see users who submitted something with it

[2016-10-24 11:19] #371 closed

[2016-10-24 11:21] markmacgillivray commented on #357
Increased to 5s

[2016-10-24 11:21] #357 closed

[2016-10-24 11:23] markmacgillivray commented on #346
Fixed

[2016-10-24 11:23] #346 closed

[2016-10-24 11:23] markmacgillivray commented on #314
Done already

[2016-10-24 11:23] #314 closed

[2016-10-24 11:24] markmacgillivray commented on #303
Unassigning for now, no clear need for it. Leaving issue open for later review.

[2016-10-24 11:26] markmacgillivray commented on #189
Not sure what the last thing about a gmail URL means

[2016-10-24 11:28] markmacgillivray commented on #194
I think if this happens or not is beyond a technical question, and is something that would rely heavily on the copy we decide for it. I would say it should go on the request page, not the plugin itself. For now will unassign me and assign Joe so decision can be made in later sprints, then assign to whoever has to deal with it first

[2016-10-24 11:32] markmacgillivray commented on #220
Having multiple data requests for one paper is a very big change to the current process - it was known when we did the open data button that this would be an issue, and that potentially we have no way to ever "close" a data request on a particular paper - it is always possible that more or different data may be wanted by a different user, and we do not know when all data for a given paper is exhau

[2016-10-24 11:46] markmacgillivray commented on #336
Added

[2016-10-24 11:46] #336 closed

[2016-10-24 11:48] markmacgillivray commented on #307
OK this has been changed to only show after the user has provided their details. I think that is all that is left on this issue so I am closing, but re-open if anything outstanding.

[2016-10-24 11:52] markmacgillivray commented on #341
Done. User sees firefox or chrome plugin button if on that browser, although for now ff is disabled and says coming soon. If neither of those, then bookmarklet shows. However if on mobile then a mobile blurb shows instead of any of these. In all cases the use in your browser option shows.

[2016-10-24 11:52] #341 closed

[2016-10-24 12:04] markmacgillivray commented on #354
@JosephMcArthur  Why redirect? Is there anything at /contact that you want to keep? If not, can't we just delete it?

[2016-10-24 12:05] markmacgillivray commented on #352
This is something that will mean changing the copy of the front page, so I will unassign myself as it cannot be actioned by me until it is very clear what and how it should be inserted into the front page.

[2016-10-24 12:06] markmacgillivray commented on #350
@JosephMcArthur what button?

[2016-10-24 12:08] markmacgillivray commented on #348
Fixed

[2016-10-24 12:08] #348 closed

[2016-10-24 12:53] JosephMcArthur opened #374 "Refactoring & Commenting the plugin & bookmarklet code"
This is a holding issue for @markmacgillivray to think about what can be done to make it easier for him to maintain the plugins & bookmarklet moving forwards. Time to refactor & comment without bug fixing or enhancements is important.

[2016-10-24 13:49] JosephMcArthur commented on #307
the section doesn't come up without refreshing, which clearly isn't workable. untill this is fixed we have to move this back to 3.5

[2016-10-24 13:49] chealsye commented on #312
The bullets look fine to me. There are some parts of the images section I should have already done -- I'll get it done sometime today.

[2016-10-24 14:06] markmacgillivray commented on #307
Changed it to show after save too.

[2016-10-24 14:06] JosephMcArthur commented on #286
Copy in now is:

[2016-10-24 14:09] JosephMcArthur commented on #328
moving here as we should fix copy.

[2016-10-24 14:10] JosephMcArthur commented on #191
Certainly need to reengage with them on this.

[2016-10-24 14:13] JosephMcArthur commented on #307
ahem.

![image](https://cloud.githubusercontent.com/assets/4953703/19649110/70e57cc2-99fc-11e6-9901-3208613adaba.png)

[2016-10-24 14:16] JosephMcArthur commented on #307
okay the page was just super odd for me. Going to try a private browser.

[2016-10-24 14:20] JosephMcArthur commented on #328
current text

[2016-10-24 14:23] JosephMcArthur commented on #307
@markmacgillivray  okay, save details now doesn't work for me

[2016-10-24 14:25] JosephMcArthur commented on #214
I think I'm happy to move the whole blog to medium (but not now, later)

[2016-10-24 14:32] markmacgillivray commented on #307
I hid them for after logout now too. Save button works fine for me

[2016-10-24 14:49] JosephMcArthur opened #375 "Turn "view your request" into a button & on same line as text."
Current below
![image](https://cloud.githubusercontent.com/assets/4953703/19650469/61bbba7c-9a01-11e6-8075-7cd3bc2c2308.png)

I could be convinced the button is overkill.

[2016-10-24 14:54] JosephMcArthur commented on #358
This will NOT stay closed >:(

Supporting: http://www.nejm.org/doi/full/10.1056/NEJMoa1504720 should add your support to: http://oab.test.cottagelabs.com/request/CLMPrDLk3Bwrd4ejB but it doesn't. This is with the plugin 0.2.1.

[2016-10-24 14:56] JosephMcArthur opened #376 "space in front of URL on /request/new leads to no requests being found"
Test URL:  http://www.nejm.org/doi/full/10.1056/NEJMoa1504720 should find 2 requests.

Just put a space in front and while details will be found, requests won't be. Since most copy will be done from URL bar's where this is hard I'm not expecting this to be a major issue. Just logging for good measure.

[2016-10-24 14:59] JosephMcArthur opened #377 "on /request/new you can be told to support a request you already support"
don't consider a major issue, just logging for fullness. The request page itself tells you that you have already supported.

[2016-10-24 16:34] markmacgillivray commented on #358
This seems to be working for me. The availability check on that URL takes a VERY long time, like two minutes, which appears to be mostly spent waiting for dissemin to return. But when it does return, I see the links to the support request and clicking it works. However you may be seeing problems because there are actually multiple requests for this article in the dev system, because at various poi

[2016-10-24 17:09] JosephMcArthur commented on #358
Thanks for reopening this, I missed that. Also, thanks for clearing out the test data. Also, more info here, I'm still on 2.1. Worked through most of the ten requests we had, my results were:

* http://oab.test.cottagelabs.com/request/ZJXdCX65oD2xNKiCP was found by the find api \o/
* http://oab.test.cottagelabs.com/request/3u3xARjRsQoJzeniZ. Supported it, but was sent to undefined. The page now se

[2016-10-24 17:10] svmelton commented on #312
The bullets look fine to me on mobile, full, and small screen on Chrome, Safari, and Firefox.

[2016-10-24 17:14] markmacgillivray commented on #358
OK, they will all have to be reviewed tomorrow, then the plugin retested, then the bookmarklet finished. That puts the site release out to Wednesday at the earliest.

[2016-10-24 17:15] JosephMcArthur opened #378 "Emailing from request system doesn't replace variables or copy across email of author"
Figured out the workflow now, but I can't get it to work as described.

[2016-10-24 17:15] JosephMcArthur commented on #312
Thanks folks, this appears to be a personal issue on my end!

[2016-10-24 17:16] JosephMcArthur commented on #378
Tried it on a couple of requests, including:
* http://oab.test.cottagelabs.com/request/T4hokmZdzGBASGsvK
* http://oab.test.cottagelabs.com/request/3u3xARjRsQoJzeniZ

[2016-10-24 17:18] JosephMcArthur opened #379 "Missing fields on old data"
E.g these requests have no stories when I expect they did.

Tried it on a couple of requests, including:

* http://oab.test.cottagelabs.com/request/T4hokmZdzGBASGsvK
* http://oab.test.cottagelabs.com/request/3u3xARjRsQoJzeniZ

[2016-10-24 17:19] JosephMcArthur commented on #358
Okay. I'm going to try and restart my mac & use a cleaner install of chrome. @chealsye @meganwaps can you try this?

[2016-10-24 17:23] markmacgillivray commented on #378
Yes this seems to have stopped working. Will check tomorrow.

[2016-10-24 17:28] markmacgillivray commented on #379
Nope, neither of them have stories. None of the ten old requests have stories. There's nothing else we can do about that, so closing this issue. Re-open if necessary.

[2016-10-24 17:28] #379 closed

[2016-10-24 17:30] markmacgillivray commented on #351
This is not possible - some of the text next to those tickboxes are already links, e.g. to the terms. We can't have links inside links. Reassigning to Joe, perhaps there is a content discussion to be had, or else just close if it is OK as is.

[2016-10-24 17:31] markmacgillivray commented on #307
Unassigning myself, nothing else I can do here - @JosephMcArthur maybe you want to get someone to do some more testing of this page

[2016-10-24 17:32] #351 closed

[2016-10-24 17:38] JosephMcArthur commented on #358
Okay, just did the above & still no luck.

[2016-10-24 17:43] JosephMcArthur commented on #307
This is working well for me now. But just in case...
@meganwaps @svmelton @natalianorori can you try and sign up with new accounts (just put a +1 on your email if you've already used it).

[2016-10-24 17:50] JosephMcArthur commented on #328
Okay, we can address this without new plugin requirements by catching it during moderation.

- [ ] catch in moderation
@natalianorori you will need to keep an eye out for this, it will look like emails not having user details in preview. This needs to go in the moderation guide

- [ ] fix in moderation
@chealsye you make an email that can be sent asking users to go to their account page & fill in

[2016-10-24 17:51] svmelton commented on #307
It works well for me.

[2016-10-24 17:57] JosephMcArthur commented on #255
What's your server IP?

[2016-10-24 17:58] markmacgillivray commented on #255
178.62.93.81

[2016-10-24 18:01] markmacgillivray commented on #328
There is currently no functionality on the request page to allow for the user details to be added later. Also, having the user add them to their account later will not populate them into requests they have already made. All these things could be done, but they are no more simple than the option of not allowing them to make one unless they have completed details. This should already be impossible f

[2016-10-24 18:14] JosephMcArthur commented on #328
Okay, given the new hiding of the plugin download box while users sign up I don't think the above is likely to happen.

Bigger fish to fry, closing for now. If @natalianorori sees issues in real requests, we can address.

[2016-10-24 18:14] #328 closed

[2016-10-24 18:18] JosephMcArthur commented on #367
Above links won't work. Data has been deleted.

[2016-10-24 18:19] meganwaps commented on #367
I took a photo of the issue in case others can't get the same issue we're having, Joe.
![screen shot 2016-10-24 at 11 18 30 am](https://cloud.githubusercontent.com/assets/5968703/19658147/b92e416a-99db-11e6-8bd5-e6702a3acde6.png)

[2016-10-24 18:20] JosephMcArthur commented on #367
Yup, data was deleted on purpose to test #358

[2016-10-24 18:21] meganwaps commented on #301
I'm on it, should I add these to the existing technical testing guide?

[2016-10-24 19:52] meganwaps commented on #307
This is working fine for me as well.

[2016-10-24 19:53] chealsye commented on #358
@JosephMcArthur Could you give me a link that already has a request? I can't support my own... so having trouble testing this.

[2016-10-24 19:55] meganwaps commented on #358
I just tried to get this to work by supporting Chealsye's most recent request, Once I click on the 'Add your Support' button, nothing happens. It just looks like this forever.
![screen shot 2016-10-24 at 12 54 19 pm](https://cloud.githubusercontent.com/assets/5968703/19661574/1b7bd1f4-99e9-11e6-9c38-b95b23dc1716.png)

[2016-10-24 20:58] JosephMcArthur commented on #307
Great, this is done then.

[2016-10-24 20:58] #307 closed

[2016-10-24 21:04] JosephMcArthur commented on #358
@chealsye  you can find the links to the original articles on request pages (they're the links for the titles)

http://oab.test.cottagelabs.com/request/3u3xARjRsQoJzeniZ. Supported it, but was sent to undefined. The page now seem to have 2 supporters (but not extra story) & the plugin tells me I have supported it.
http://oab.test.cottagelabs.com/request/twpusXfduyaCPGm9e same again.
http://oab.tes

[2016-10-24 21:07] JosephMcArthur commented on #358
I looked at this and it worked a-okay, can you try on some others?

[2016-10-24 21:21] chealsye commented on #358
@JosephMcArthur Ah okay. I tried the links you included above, but all the ones I tried didn't have a request. Will try with others from the page.

[2016-10-24 21:39] chealsye commented on #358
Tried to support http://www.cell.com/current-biology/abstract/S0960-9822(15)01167-7

got the undefined error.

![screen shot 2016-10-24 at 17 29 47](https://cloud.githubusercontent.com/assets/9299248/19664949/be4e3954-9a10-11e6-9da9-c065a7b49b86.png)

![screen shot 2016-10-24 at 17 29 59](https://cloud.githubusercontent.com/assets/9299248/19664946/bbdd6ed8-9a10-11e6-9e1c-d004e7629480.png)

[2016-10-25 01:08] chealsye commented on #241
Copy and screenshots are in #325.

[2016-10-25 06:27] JosephMcArthur commented on #378
It's working again??? and it's wonderful.

[2016-10-25 06:43] JosephMcArthur commented on #358
@meganwaps we'd also need some info on browser to do this.

[2016-10-25 06:51] JosephMcArthur commented on #378
Still fairly inconsistent, doesn't work here http://oab.test.cottagelabs.com/request/3RYnBAuWjk9MmhNSY

[2016-10-25 11:30] markmacgillivray commented on #358
I have updated the plugin to 0.2.2 and made a new release as well. I have changed it so that it no longer shows a message about "you have already supported" or "you created". Instead, if the user did support or create, the big orange button just says "view request" and clicking that takes the user to the request page.

Other functionality is the same - if the item is already available, the button

[2016-10-25 11:47] markmacgillivray commented on #378
This should be fixed now - click the email button from a request when you are admin. It takes you to the admin area and pops the email area open. Select a template - you should see the content of the template in the box. Then below the box there should be a light blue button that you can click to populate the template with the variables relevant to the request you were viewing. Hit it and the cont

[2016-10-25 11:48] markmacgillivray commented on #262
Code for bookmarklet has been moved into oab_static repo, because it will be easier to serve it from within the live site URL anyway. The separate bookmarklet repo has been marked as deprecated (and I marked a few others too, we should review at some point and delete many of them).

[2016-10-25 12:08] JosephMcArthur commented on #358
Okay, I think the undefined bug is good to shut here. I've tested it on a few papers & they worked. I can see the view request thing working too - and that's a nice enhancement.

The remaining issue highlighted here is:

which still doesn't find the existing request. I can see you've used a t&f in your example above, and it worked for me so this doesn't happen for all t&f papers. Just wondering wh

[2016-10-25 12:14] markmacgillivray commented on #262
Bookmarklet page at oabb.test.cottagelabs.com now includes a button that can be dragged to the toolbar to create a bookmarklet. This assigns the bookmarklet to an account on the dev system, but it would not be your own account.

I have temporarily changed the account page to always show the bookmarklet button, and have added to it so that if you use that one instead you will get a bookmarklet that

[2016-10-25 12:25] markmacgillivray commented on #358
Ah - this is not an error, this is a problem.

The request page you link to has the URL as follows:

http://www.tandfonline.com/doi/full/10.1517/14656566.2016.1159298

Whereas when you are looking at that same article, you are probably seeing something like what I see, which is:

http://www.tandfonline.com/doi/abs/10.1517/14656566.2016.1159298?journalCode=ieop20

Note that it has a query parameter

[2016-10-25 12:44] JosephMcArthur opened #380 "Duplicate story boxes & other issues after making a request"
### Expected Behavior
- once I've made a request via the plugin, if I try and make another while it's still open I'm either told:
  - I can't
  - it lets me do it
### Actual Behavior
- another textbox appears, but no ability to submit.
- previous message doesn't disappear

I think, although I haven't confirmed, that making a request via the bookmarklet & then trying to click the other button will

[2016-10-25 13:01] JosephMcArthur commented on #262
Okay, I've had some fun with it doing bits on chrome. I have to run for an hour or so, but some notes:

- [ ] I'm yet to be asked for my location despite making & supporting requests
- [ ] A few links aren't colored correctly (e.g after making a request)
- [ ] the title & logo are slightly out of alignment.
- [ ] I didn't see an example of the bookmarklet taken via the test page working - but from

[2016-10-25 13:11] markmacgillivray commented on #262
Just assigning some things to you where I think I am waiting for your response, to keep track of where things are at. I am also out this afternoon, so may not be able to answer until about six. With this one I am not sure what action you want me to take next, or if you intend to test more.

[2016-10-25 13:25] JosephMcArthur opened #381 "Request not found as paper URL is different for different users"
All discussion on this is from here: https://github.com/OAButton/backend/issues/358#issuecomment-256016773

This is mearly a holding issue, should we want to drop notes & thoughts on this topic.

[2016-10-25 15:03] JosephMcArthur commented on #358
Thought I tested the link changing - sorry.

Okay, I'm happy to close this. All I'd suggest is we monitor this issue. I have a place to drop thoughts or sighting of the issue at #381.

[2016-10-25 15:03] #358 closed

[2016-10-25 15:16] JosephMcArthur commented on #378
It still doesn't work for the request I gave above. However, it does work in other cases e.g http://oab.test.cottagelabs.com/request/kdFZe93596WNfC65u

[2016-10-25 15:19] JosephMcArthur opened #382 "OA Week Release Retrospective"
An issue to drop notes in prior to a discussion.
- What can we do better?
- What went well, what didn't?
- Anything we should change in future?

This is for all @OAButton/team

[2016-10-25 15:25] JosephMcArthur commented on #262
- [ ] error image doesn't work

<img width="357" alt="screenshot 2016-10-25 16 24 26" src="https://cloud.githubusercontent.com/assets/4953703/19692392/ae299bbc-9acf-11e6-8433-2a5ccf8ac199.png">

[2016-10-25 15:30] JosephMcArthur commented on #262
This is changing as I work, are you able to directly push updates to it? If so, that's pretty good.

[2016-10-25 18:15] JosephMcArthur commented on #358
Do you mean when you went to the articles those requests are for, and
clicked the button, you couldn't find a request at all?

Are you using the new 2.1 plugin btw?

On Mon, 24 Oct 2016 at 22:21 chealsye <notifications@github.com> wrote:

[2016-10-25 18:18] JosephMcArthur commented on #255
but once that happens it would work?

On Thu, 20 Oct 2016 at 22:15 markmacgillivray <notifications@github.com>
wrote:

[2016-10-25 18:19] markmacgillivray commented on #378
Ah, the one that you linked to that doesn't work is one of the old ones - the user account for it is a user on the live system, and there is no matching user account on the dev system.

I can add a catch for that, so that if it is tried on a request from a user who does not have an account (which may be possible once we import all the old blocks as requests) then it will not just fail to work - ho

[2016-10-25 18:22] markmacgillivray commented on #358
@JosephMcArthur who is that last comment aimed at? Doesn't seem to make sense in the context

[2016-10-25 18:23] markmacgillivray commented on #255
Once teambutton.org points to my server, and once we push the dev changes to live, then teambutton.org pages will redirect onto openaccessbutton.org.

[2016-10-25 18:23] markmacgillivray commented on #154
Yes, it was/is

* new request gets status help if necessary info missing
* new request or helped request automatically goes to status moderate
* someone has to manually move from moderate to progress
* progress triggers an email to the author (but now it won't, someone will
send one manually before they change the status)
* author clicks a hold or refuse link, status automatically changes to hold

[2016-10-25 18:23] JosephMcArthur commented on #262
I'm still testing, but leaving notes incase you weren't around long.
On Tue, 25 Oct 2016 at 14:11 markmacgillivray <notifications@github.com>
wrote:

[2016-10-25 18:24] markmacgillivray commented on #154
It is possible to deliver text and html in an email so that users who
refuse html see a perfectly good text version. I actually prefer text
versions when they are available. if you want to do this, it would be
relatively simple to ensure the email system can send both types at the
same time, and would be better to do now than later. But it does mean you
would have to write and maintain .txt and .h

[2016-10-25 18:24] natalianorori commented on #328
I'll keep an eye for this during moderation of real requests, and add a note about it on the manual

Sent from my iPhone

[2016-10-25 18:25] markmacgillivray commented on #307
This page already had functionality to control what content was shown when
- is something now displaying when you don't want it to? The install
options did not show until signup had been completed - is this no longer
the case?

On Fri, Oct 21, 2016 at 8:02 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-25 18:26] JosephMcArthur commented on #350
add your support

On Mon, 24 Oct 2016 at 13:06 markmacgillivray <notifications@github.com>
wrote:

[2016-10-25 18:30] markmacgillivray commented on #350
Oh it is the login button that you only seen when not signed in. Fixed.

[2016-10-25 18:30] #350 closed

[2016-10-25 18:38] natalianorori commented on #307
Just tried and worked for me as well!

[2016-10-25 18:45] JosephMcArthur commented on #354
/contact has existed for a long time, and I'm just cautious about deleting
such a standard page. There is nothing there I want to keep. Happy to be
told this is silly and just have it deleted.

On Mon, 24 Oct 2016 at 13:04 markmacgillivray <notifications@github.com>
wrote:

[2016-10-25 18:49] JosephMcArthur commented on #321
That was me! Just didn't want the button to show on the test site yet (as
it would lead to the old plugin atm which we don't want folks to use)

On Fri, 21 Oct 2016 at 09:20 markmacgillivray <notifications@github.com>
wrote:

[2016-10-25 18:58] markmacgillivray commented on #321
I think this issue has become obsolete anyway, since further changes have been made - the buttons are there and show when expected, and we now know how to hide the plugin button in a way that does not break the page. So now that the earlier error does not occur, the api key matching should be reached fine, as it appears to be.

[2016-10-25 18:59] markmacgillivray commented on #328
Again this is odd, if you mean the user is signing up but seeing the link
back to the request, that did not happen previously. The content must have
been edited in ways that has broken this. Either that, or the user signed
up and then manually went back to the new request page without filling in
all their details - in which case there is nothing we can do to stop them.
I could add a check to the n

[2016-10-25 19:00] natalianorori commented on #312
Just checked on my phone and they are displaying poorly. Bullets on top of each other and little to no space between the points.

[2016-10-25 19:02] chealsye commented on #214
What changed your mind?

On Oct 24, 2016 10:25 AM, "Joseph McArthur" <notifications@github.com>
wrote:

[2016-10-25 20:00] JosephMcArthur commented on #214
hadn't factored in the requests into how our site will be viewed by search engines. I also thought that given we self-host everything, an external blog would give us more power in situations like this to do comms. It also reduces the amount of work we need to do generally, and I'm a fan of being strategically lazy. Frankly,

[2016-10-26 02:39] chealsye commented on #214
I'm definitely on board with Medium instead - but was curious what changed your mind.

[2016-10-26 02:42] chealsye commented on #312
Hmm. I checked the site on my phone again and it looks normal although the bullets get cut off a bit, but all formatted quite well. But it is concerning you both are having issues and likely some users will, too...

[2016-10-26 02:53] chealsye opened #383 "Main page signup box disappears when logged in"
@markmacgillivray @JosephMcArthur
## Sign up box/action/copy on the main page disappears if you're logged in, which leaves a gap in the page.
### Expected Behavior

Should the box be disappearing? Is this intentional? If so, what can we put in this space instead?

![screen shot 2016-10-25 at 22 50 25](https://cloud.githubusercontent.com/assets/9299248/19711726/bc0f8ae4-9b05-11e6-90d3-6a06856861cc.

[2016-10-26 02:58] markmacgillivray commented on #383
Yes, it's intentional. I was under the impression this was the expectation after the decision not to show the URL box for the find search on the front page. There was actually supposed to be a graphic to go in that area rather than a sign up box, but as far as I know it has not been produced yet.

[2016-10-26 09:12] JosephMcArthur commented on #214
Okay, well, I guess a few more thoughts.

There are lots of factors, and to some degree I was & still am on the fence. But at this point in time the balance of pro's / con's is on Medium's side. Given this is a highly reversible move & there isn't a huge cost either way, I'm favouring trying something new.

[2016-10-26 09:13] JosephMcArthur commented on #312
@natalianorori & @chealsye screenshots please.

Reopening while we look into this.

[2016-10-26 09:28] markmacgillivray commented on #312
Note that it is possible to spend forever looking for layout inconsistencies across all devices and all browsers. Given that we know it appears as expected, even in some cases for the same people who are seeing it wrong some of the time but not all the time, I'd say don't worry too much about this sort of thing.

[2016-10-26 09:45] JosephMcArthur commented on #375
Fixed in 2.3 release to fix #358

[2016-10-26 09:45] #375 closed

[2016-10-26 12:58] chealsye commented on #312
![screenshot_20161026-074200](https://cloud.githubusercontent.com/assets/9299248/19726742/6302cfec-9b5a-11e6-9bc7-b7394044185b.png)

The bullets get partially cut off.

[2016-10-26 14:42] meganwaps opened #384 "Bookmarklet on Safari-visuals/no instructions"
After tinkering with the bookmarklet on Safari (Version 8.0.7 (10600.7.12)) yesterday afternoon, I've yet to been able to make a request using it.
First off, if I was a first time user this would be incredibly confusing as there's no real instructions apart from the 3 instructions listed underneath the options.
Second, the text on the bookmarklet does not appear within the text box for 'Request ar

[2016-10-26 14:50] JosephMcArthur commented on #384
1. This hasn't really come out of user tests afaik, and there isn't much we can do about it now. Would suggest you continue to keep an eye on this in future tests.
2. This is probably the same as a bug I reported in #262
3. Not sure about this one, you might want to pull up your cpu / ram etc usage before / during / after button use

[2016-10-26 14:51] meganwaps commented on #384
I'm doing a user test with Graham in a little over an hour, I might slide this in just to see his thoughts/if he can get it to work.

[2016-10-26 14:54] markmacgillivray commented on #384
Number 2 I can fix, number 1 if a problem must be the case across everything we're supposed to have user tested already, number 3 doesn't make much sense - can you clarify what you mean by having many links to check, why that would make a difference, and why you think the bookmarklet is making safari slow? And how do you mean having it pulled up in a tab? Are you using the bookmarklet from the boo

[2016-10-26 14:59] JosephMcArthur commented on #262
Just realised I've done my testing on Chrome - where we're not making this availiable.

*headdesk*

[2016-10-26 15:02] meganwaps commented on #384
Sorry for not being more specific Mark.
I mean I have many links to paywalled articles to test.
The bookmarklet is not even getting installed in my bookmarks bar, it's just popping up within the confines of the test page, but I cannot install it to my bookmarks bar, making it impossible to use.
This is where the lack of instructions becomes an issue, because if this is happening for everyone, how

[2016-10-26 15:09] markmacgillivray commented on #384
Ah OK thanks for the extra info @meganwaps

You should install the bookmarklet from your account page at oab.test.cottagelabs.com/account

You will see a button called OAButton bookmarklet - click and hold down the click, then drag it to your bookmarks bar. Yes, this needs more instructions at this point, I believe @JosephMcArthur and @chealsye are supposed to be coming up with something for the a

[2016-10-26 15:11] meganwaps commented on #384
@markmacgillivray you are a gentleman and a scholar! We're in business now.

[2016-10-26 15:16] JosephMcArthur commented on #384
Install Instructions would already be in, but my local repo isn't showing the same code as the account page so I was holding off. There will be one or two lines about installing, with links out to better guides for most browsers:

* http://www.howtogeek.com/231775/how-to-install-and-use-bookmarklets-in-microsoft-edge/
* https://crossbrowsertesting.com/faq/how-do-i-install-bookmarklet-google-chrome

[2016-10-26 15:39] natalianorori commented on #312
Just checked again from my desktop and phone and they're displaying normally for me this time

[2016-10-26 15:41] natalianorori commented on #312
It's looking fine for me now

Sent from my iPhone

[2016-10-26 16:51] meganwaps commented on #312
I cannot see everything at once in the bullet portion, but I can easily maneuver to see/read everything.
![image](https://cloud.githubusercontent.com/assets/5968703/19735753/b884953e-9b61-11e6-8949-e2e0e73566b1.jpg)

[2016-10-26 18:15] JosephMcArthur opened #385 "Firefox Bookmarklet Update"
- [ ] asked for location, but is said the site I was on was asking, not the bookmarklet. Hope this can be addresses, it's confusing.
- [ ] seems to ask for the address twice if you submit a request. Once when you open the bookmarklet, once when you're submitting.
* was able to open links, unlike previously. Could also make requests & other functions.
* still occasional formatting issues (links a b

[2016-10-26 19:03] meganwaps commented on #384
Okay after further use, it's working beautifully! The only thing is that almost every time I click on the bookmarklet, Safari asks if I trust the application. I've checked my security and privacy settings and nothing seems to be amiss. Is anyone else getting this message on Safari when they click the bookmarklet? @natalianorori @chealsye
![screen shot 2016-10-26 at 12 01 18 pm](https://cloud.githu

[2016-10-26 19:13] markmacgillivray commented on #384
Unfortunately with a bookmarklet there's no way to set it to have default access to your location. It's going to ask every time, or at least every time you first use it in a given website. But if you're seeing that, then it's working!

[2016-10-26 19:17] markmacgillivray commented on #385
About the location thing, yes, it's always going to look like it's the website that's asking, because technically it is - the bookmarklet gets injected into the page you are looking at. There's no way round this, apart from the discussed option of just not getting location data from bookmarklet users. There could be alternatives, like grab it once when they visit their account page and just assume

[2016-10-26 19:19] JosephMcArthur commented on #385
I think with the bookmarklet we should look for alternatives long term.
What you've suggested there is a good fix, I'd be happy with it, but
clearly not something to do now.

On Wed, 26 Oct 2016 at 20:17 markmacgillivray <notifications@github.com>
wrote:

[2016-10-26 19:46] natalianorori commented on #384
Just tested it and it works great for me!!

[2016-10-26 19:53] JosephMcArthur commented on #384
when you say it works, did you test:
* finding an article
* make a request (& validating it turned up on the site)
* supporting a request (& validating it turned up on the site)
* being taken to someone else's requests
* getting from the account page
all without errors?

Sorry to be anal, we just all have different definitions of "working" means.

[2016-10-26 20:04] natalianorori commented on #384
sorry, didn't add enough details
- I found articles
- made a request and made sure its up on the site
- supported some requests, was taken to other people's request
- read more into the requests that were made
- was able to sign in from different browsers (chrome and safari) and got
the validation codes fast on my email
- updated and used the new bookmarklet
- used both the browser and the bookmar

[2016-10-26 20:25] JosephMcArthur commented on #384
\o/ holy hell, we've built something that work good \o/

[2016-10-26 21:43] markmacgillivray commented on #262
The bugs above should be fixed as far as possible. I think we can't do any more about the location requesting - I don't get asked either, it seems, but perhaps occasionally. Maybe it just remembers more... Anyway, everything else should be OK. Layout issues may still crop up, we should just fix them as they get reported now.

I have left the checkboxes unchecked so you can go through and test if y

[2016-10-26 21:43] markmacgillivray commented on #378
Done as described above, as done as it is possible to be.

[2016-10-26 21:43] #378 closed

[2016-10-26 21:44] markmacgillivray commented on #385
@JosephMcArthur The above about location are unfixable until we decide what to do about location from bookmarklet overall, and the third is fixed. I'll close this issue, but reopen if you have followup

[2016-10-26 21:44] #385 closed

[2016-10-26 21:54] markmacgillivray commented on #262
There is now a div in the site account page where a blurb about how to drag the bookmarklet button to your bookmarks bar works

[2016-10-26 21:59] markmacgillivray commented on #340
Added. It was annoying me too.

[2016-10-26 21:59] #340 closed

[2016-10-26 22:17] meganwaps commented on #383
@chealsye @markmacgillivray Just letting you both know that feedback I was given from multiple user tests indicated that showing the 'Sign up' box after already logging in was quite confusing and could be off-putting for new users. I agree it does look a bit naked, but I'm sure it will look nice once a lovely graphic goes in.

[2016-10-26 22:21] meganwaps commented on #384
@JosephMcArthur I've tested all those aspects as well, with no issue! I just had a quick question, if you are not logged in on the test site will the bookmarklet not work? I've noticed if I go a while (2+ hours) without checking my status on the site, the bookmarklet will give me the 'thinking' ring without any further information. Normally going to the site and logging in again will fix everythin

[2016-10-26 22:25] markmacgillivray commented on #384
The bookmarklet will keep working whether you're logged in or not. Older versions would sometimes hang, but if you delete it from your bookmark bar and get it again from /account it shouldn't hang anymore and also now auto updates itself

[2016-10-26 22:38] JosephMcArthur opened #386 "Bookmarklet asks for location either not enough, or too much"
_bus pun_
- on Firefox, it seems to ask twice for locations if you're supporting / creating requests
- on Chrome, it seems to not ask that much (or at all)

@meganwaps can you try and explore this problem. E.g adding in Safari & giving more depth to my descriptions. More data is needed before Mark can take this on.

[2016-10-26 22:39] JosephMcArthur opened #387 "Bookmarklet not closing"
X doesn't seem to work on Chrome & FF.

@meganwaps, can you flesh this out?

[2016-10-26 22:43] JosephMcArthur commented on #262
@chealsye have given you a final todo above. When we have an issue for that this can be closed.

[2016-10-26 22:45] markmacgillivray commented on #387
This definitely works for me on the newest version

[2016-10-26 22:45] JosephMcArthur commented on #384
Afaik, this is all finished so closing. @meganwaps correct if I'm wrong.

[2016-10-26 22:45] #384 closed

[2016-10-26 22:45] markmacgillivray commented on #387
Just tried it again, still working

[2016-10-26 22:47] markmacgillivray commented on #387
Ooh, but there may be a bug where if you open the bookmarklet on a page, then close it, then open it again on the same page, it never goes beyond the spinner and the x button doesn't work at that point... technically people should not do this, they use the bookmarklet then move on, but should look into this in the morning.

But, if you are actually not able to close even the first time, that is pr

[2016-10-26 22:56] meganwaps commented on #387
@JosephMcArthur @markmacgillivray 'X' not working on Safari either.

[2016-10-27 06:28] JosephMcArthur commented on #287
@meganwaps before we explore new apps here, I'd like us to explore the use of bookmarklets on mobile.

Can you have a play on your own phone, it should be possible to get the bookmarklet onto your browser. Once we've figured that out, lets have 5 user tests with it vs a slide show of how the mobile app could work as discussed in #286

[2016-10-27 06:31] meganwaps commented on #387
@markmacgillivray I'm unable to 'X' out on Safari even when the button isn't on the 'spinner'. It has occurred every time I've used it in Safari. I usually have to just exit the tab.

[2016-10-27 06:35] meganwaps commented on #287
@JosephMcArthur I can try on my phone right now before bed, discuss the rest in our stand up tomorrow?

[2016-10-27 07:05] JosephMcArthur commented on #333
Why:
* "Search once, looks forever" (or, nicer wording) feels like an appealing feature
* can help turn non-sign up users into signed up users
* deals with embargo's well (minor)
* reduces load on request system (minor)

[2016-10-27 07:18] JosephMcArthur commented on #335
@markmacgillivray I'm being told by the chrome store:

Can you make that happen plz?

[2016-10-27 07:19] JosephMcArthur opened #388 "Use of Analytics in the chrome plugin"
I have the option to add analytics, not sure if we need them. To close this issue we need to be aware if we need them.

[2016-10-27 07:21] JosephMcArthur commented on #325
Chealsye, do we have images at this size too:
- [ ] Small tile - 440x280:
- [ ] Upload new imageLarge tile - 920x680: (optional)
- [ ] Upload new imageMarquee - 1400x560: (optional)

[2016-10-27 08:40] markmacgillivray commented on #387
I've just tested on safari and firefox with a new bookmarklet and the X button works for me on both. I think for now we'll have to go with it as is, and if you can get a video of the issue occurring, I can try to resolve later.

[2016-10-27 23:29] markmacgillivray commented on #335
New https security sets force https using hsts, which is nice when in use, but annoyingly when you want to cancel it to repoint the domain somewhere else, there is no way to do so without leaving the old domain up and hoping everyone eventually visits it. So I have left opendatabutton.org pointing to a page that says go to openaccessbutton.org, and that is as good as is possible.

[2016-10-28 08:57] markmacgillivray commented on #335
I have installed a plugin direct from chrome store now, using the button on our /account page. I am going to move on to getting the old data copied over.

[2016-10-28 08:58] markmacgillivray commented on #325
@JosephMcArthur I published the new plugin on chrome store as requested last night, but it does not appear to have these images etc yet.

[2016-10-28 08:59] markmacgillivray commented on #305
Checked, it does, it is driving the map on the front page.

[2016-10-28 09:00] markmacgillivray commented on #223
Done.

[2016-10-28 09:00] #223 closed

[2016-10-28 09:01] markmacgillivray commented on #218
The nav bar on mobile seems better on most pages but bad on the front page - just a note to myself; some content on the page seems to be forcing the width of the nav bar to stay too wide.

[2016-10-28 09:50] markmacgillivray commented on #335
I checked restart blocking, not a problem when installed officially from chrome. Also have done sanity check of plugin and site, seems fine. Would be good to get someone else go through it though.

[2016-10-28 09:51] markmacgillivray commented on #335
Request data run has been improved and will be running at various points throughout the day and over the weekend.

[2016-10-28 10:19] JosephMcArthur commented on #218
Is the logo's at the bottom, there in issue for this.

However, I think the site's sidebar, even on otherpages, is subpar. Having
to scroll to reach options is a fairly poor UX.

On Fri, 28 Oct 2016 at 10:01 markmacgillivray <notifications@github.com>
wrote:

[2016-10-28 10:24] markmacgillivray commented on #218
Yes, other things need doing too - was just reminding myself to look at this. But yeah, it will be those logos. i'll use the chopped up ones when I have a few minutes to fix it up.

[2016-10-28 10:47] JosephMcArthur commented on #382
Some quick notes:

* Testing each version takes too long. Automated testing via browserstack?
* I'm Unaware of major technical barriers - needs to have issues that reflect this
* Unaware of size of issues, estimation important?
* Unclear definition of what "working" is.
* Wasn't good at managing scope creep in weeks leading up to release.

[2016-10-28 10:49] JosephMcArthur commented on #305
Sorry, this is the embeds for the map & request pages. Neither of those work when embedded on other pages.

[2016-10-28 11:00] markmacgillivray commented on #382
Adding / responding to notes:

* I'm not sure automated testing will help in our case - the breaks come from either new functionality (which breaks the same on any browser) or content changes (which break things accidentally but not necessarily because of browser compatibility. The only place where testing on different browsers really paid off was for the bookmarklet, and browserstack-style testin

[2016-10-28 11:04] markmacgillivray commented on #218
@JosephMcArthur is this really an issue that should start with assignment to me? If I go ahead and make changes to mobile nav bar experience then I am making changes to site content, how it appears to users, making decisions on layout etc. These are all things I am capable of doing, and I have a good idea of how to improve the mobile nav bar, but is this an acceptable order? Or should an issue lik

[2016-10-28 11:07] markmacgillivray commented on #337
@JosephMcArthur although this is what I intend to do next on my task list, it is also actually an issue which should perhaps be reconsidered in relation to the 3.5 milestone review. Is it OK for me to just make such a page, even with old content, or should it start with Chealsye doing some copy? If it does not start that way, is it clear how anything that I do will fit in to other plans for copy /

[2016-10-28 11:08] markmacgillivray commented on #337
@JosephMcArthur as this issue has the Blocked: Copy label, should it really be assigned to me yet? I do want to get on with it, but if that is not suitable for the team overall, then I can work on other things.

[2016-10-28 11:11] JosephMcArthur commented on #337
Given timelines, I think in this case it makes more sense to get up a page
with functionally working (with old content) and then we'll work within
those restrictions to improve copy where possible.

On Fri, 28 Oct 2016 at 12:07 markmacgillivray <notifications@github.com>
wrote:

[2016-10-28 11:18] JosephMcArthur commented on #382
@meganwapes can you set up an hour for the Chealsye / Mark / Natalia & I to talk about this in the next two weeks.

- [ ] arranged retrospective meeting

[2016-10-28 11:24] JosephMcArthur commented on #218
So, a couple of things here:

* we haven't yet done a user test on mobile, this is something we must
change.
* Currently the way our nav bar works is so far from the norm that I don't
think we have to justify changes through usertesting. As you say, you have
a good impression of what a better navbar looks like, and a basic
implementation of this is likely to be good enough to close this issue.

Th

[2016-10-28 11:36] markmacgillivray commented on #305
Which emebds? The only map embed we have on the site now is the one on the front page - I don't know of any other maps we are currently using. For the request pages, we have the embed widgets although they do not include a map - they didn't work in dev but since I have moved everything to live I have tested and updated them, and as far as I can see they do work. On the dev branch, and as visible o

[2016-10-28 11:38] markmacgillivray commented on #349
Fixed on dev, embed button is showing again and clicking it does not hide the twitter button. We already have another issue open about the embed button specifically, so closing this one.

[2016-10-28 11:38] #349 closed

[2016-10-28 11:41] markmacgillivray commented on #218
OK. I am better at coding than I am at drawing - if everyone is OK with it I'd rather just make a new navbar on the dev site, put in what I think makes sense there, and then it can be tested / copy altered, etc. I'm just being specific about these things to try to ensure I don't upset anyone else by going ahead and doing things on the dev site, where they can be reviewed.

I'll make an alternative

[2016-10-28 11:42] markmacgillivray commented on #218
I'd rather be able to use the dev site to do development (which I am good at) than to have to resort to drawing (which I am bad at)!

[2016-10-28 12:22] markmacgillivray commented on #280
Done on dev, no testing needed (they're split, they respond on mobile, that as exciting as it gets), will close.

[2016-10-28 12:22] #280 closed

[2016-10-28 13:38] JosephMcArthur commented on #218
Go straight to coding then. To be clear, this doesn't have to be at all
fancy. Assign to Megan for testing & me for review, do both of us at once.

On Fri, 28 Oct 2016 at 12:43 markmacgillivray <notifications@github.com>
wrote:

I'd rather be able to use the dev site to do development (which I am good
at) than to have to resort to drawing (which I am bad at)!

—
You are receiving this because you

[2016-10-28 13:39] JosephMcArthur commented on #305
I'm referring here to the map embed code for displaying on other sites.
This is what OSF funded us to do, and I want to display it on the resources
page. That code can be found commented out on the resources page currently.

On Fri, 28 Oct 2016 at 12:37 markmacgillivray <notifications@github.com>
wrote:

Which emebds? The only map embed we have on the site now is the one on the
front page - I don'

[2016-10-28 13:40] markmacgillivray commented on #305
Ah, I see - I didn't know it was also on the resources page. It does work - I just never knew to update it there. Will add now.

[2016-10-28 13:42] markmacgillivray commented on #218
Sure, I don't think it will be fancy - just a fullscreen menu list. I just want to be clear that everyone is happy with the intent of action and roles :)

[2016-10-28 13:47] markmacgillivray commented on #305
Hmm, hold on - I just had a look, and now I remember the map on the top of the resources page too, sorry, forgot about it. However, it is also working, and not commented out. I had a look through the page just now but don't see any other commented out sections that look like they need updating. Can you link to where in the file you want me to fix?

https://github.com/OAButton/oab_static/blob/devel

[2016-10-28 22:26] JosephMcArthur opened #389 "Not seeing blacklist response when opening plugin on openaccessbutton.org"
Instead seeing make request

[2016-10-28 22:29] JosephMcArthur opened #390 "Users need to refresh account page to sync chrome extension with account, but arn't told this."
They're only told when they first open the plugin, which isn't ideal. Seems better to handle when they're in the sign up process.

When they click the "get my open access button", can a bit of text show up telling them to refresh the page, or similar? Open to other ways of solving this @chealsye @meganwaps @markmacgillivray

Feels like something is needed though.

[2016-10-28 22:35] JosephMcArthur commented on #262
Okay, making the above todo into a new issue. Isn't helpful to keep this big one around for that.

[2016-10-28 22:35] #262 closed

[2016-10-28 22:36] JosephMcArthur opened #391 "Logo & Title out of alignment on Bookmarklet?"
This seems to happen even when the site CSS isn't being a pain.

[2016-10-28 22:52] JosephMcArthur commented on #387
Okay, it just shut for me on Safari. Didn't try it twice. More testing needed, but yes, hints that this is infact okay.

[2016-10-28 23:16] markmacgillivray commented on #391
Have centre aligned now, which looks same as plugin. However, it does still look like there is an issue with the header whitespace not aligning with the right side of the plugin window.

[2016-10-28 23:17] markmacgillivray commented on #390
I'm not sure if there is a technical solution to this. The plugin does not necessarily trigger on inline install because it is already on the /account page, rather than going to the /account page. I will look into it, but if not possible then some further explanatory text would be required - which perhaps would be useful anyway, I'm not sure that the install buttons are very clear as to what they

[2016-10-28 23:23] markmacgillivray commented on #389
Aaargh I removed the default blacklist when working on the code to update it via google spreadsheet, and have since replaced it, but due to this have now noticed that the fix to the plugin to show the error image properly also actually removes the error text. I'll have to make a new version, and we'll have to update chrome store (not too big a deal because it auto updates anyway, but still) - will

[2016-10-28 23:50] markmacgillivray commented on #391
Tried some other pages and now title spilling over into second line. Annoying and fiddly! Will try more bookmarklet css when I get time.

[2016-10-28 23:51] markmacgillivray commented on #389
Tested this and it works now with the bookmarklet, so when we push a new version to chrome and it updates for users, they will see it as expected. for now, they will already get stopped, but will get no explanatory text. I have made a new live release version on the extension repo, ready to go to chrome.

[2016-10-29 09:02] JosephMcArthur opened #392 "Add a space on story prompt text between sentances"
From @chealsye - just didn't want to forget.

[2016-10-31 09:21] JosephMcArthur commented on #203
This might now be called Humanities Commons, or, there is something called humanities commons we should look into.

[2016-10-31 14:45] JosephMcArthur opened #393 "Remove random "Open Data Button" header on redirect page"

[2016-10-31 14:55] JosephMcArthur commented on #383
Moving this back to once we've put more work into the find system, then this is worth implementing.

[2016-10-31 14:56] JosephMcArthur commented on #241
@chealsye can you check requirements for screenshot sizes?

[2016-10-31 15:04] meganwaps commented on #382
@JosephMcArthur no problem!

[2016-10-31 15:09] JosephMcArthur commented on #286
@chealsye please do change the above copy if you'd like

Assigning Mark to ask how hard to "send yourself an email" thing is. If it isn't easy, I suggest we close.

[2016-10-31 15:10] JosephMcArthur commented on #312
Can you test the scale of this issue on Browserstack please? Just try & replicate and see how many devices it affects

[2016-10-31 15:29] markmacgillivray commented on #393
Removed a header. @JosephMcArthur is it right now?

[2016-10-31 15:37] JosephMcArthur commented on #367
Make sure we have the lat & log of a request. This can be seen via the admin interface for requests. Click +detail to see. Either it'll be in orange, or wont be.

We want to know the 70% of NEW requests that we have location data for.

[2016-10-31 15:42] JosephMcArthur commented on #393
Tested, it's good.

[2016-10-31 15:42] #393 closed

[2016-10-31 15:44] chealsye commented on #325
440x280

![plugin_440](https://cloud.githubusercontent.com/assets/9299248/19860497/466219ac-9f5f-11e6-92af-c62be3575a6e.png)
![screenshot1_440](https://cloud.githubusercontent.com/assets/9299248/19860499/46738cc8-9f5f-11e6-8081-f2bb5fa6fdec.png)
![paywall2_440_stretch](https://cloud.githubusercontent.com/assets/9299248/19860502/49ca4fa6-9f5f-11e6-9937-acb782715ecf.png)
![paywall2_440](https://clou

[2016-10-31 16:28] chealsye commented on #325
Here's a 920 of the plugin
![pluginrequest_920](https://cloud.githubusercontent.com/assets/9299248/19862077/47580a96-9f65-11e6-8d42-675df6fe795c.png)

Here's a marquee size
![buttonmarqueechrome_1400](https://cloud.githubusercontent.com/assets/9299248/19862078/4a5c2ca4-9f65-11e6-82ee-39dfaa26d92e.png)

I don't think its ~amazing~ but I have limited time today. Can make something else if you have a

[2016-10-31 18:18] chealsye commented on #391
As I told @JosephMcArthur earlier I couldn't test out the bookmarklet, because my Safari browser wasn't functional. I was able to get the Button installed on my work laptop today and saw the alignment issue. This is assigned to me, but I don't think this is something for me to fix.

@markmacgillivray Open Access Button is text and not an image, right? Is it black or the dark blue from our style gu

[2016-10-31 19:30] markmacgillivray commented on #391
Hi @chealsye thanks for the screenshot, this makes it clearer what was meant by being out of alignment. Which version of the plugin did you install? Are you using a manually installed development one or did you install from the chrome store?

The header text is text rather than image, yes. I believe the colour is black, as was the old one. Are you expecting it to be dark blue?

[2016-10-31 20:54] meganwaps commented on #367
All of the requests since Friday have their location, I checked on two separate browsers as well.
Here's the spreadsheet, I'll add to it every day or whenever new requests are submitted.

https://docs.google.com/spreadsheets/d/1GKk_Y3wzeXLisMaC-mdS3Zx3tu_uhAoG-q05dKVjZJw/edit?usp=sharing

[2016-10-31 21:08] JosephMcArthur opened #394 "Identify the value of integrating various sources"
We currently have base & core powering the find system. We should now try and vastly expand that. However, it's valuable to ask in what order. The ones currently on our radar as listed in separate issues (under #167 issue / epic). The most important of those are:

- [x] #68
- [x] #70
- [x] #109
- [x] #111
- [x] #114
- [x] #196
- [x] #203
- [x] #69
- [x] #108
- [x] #110
- [x] #112
- [x] #197
- [x]

[2016-10-31 21:32] meganwaps commented on #394
Bring it on!

[2016-11-01 14:40] chealsye commented on #391
@markmacgillivray This was the bookmarklet on Safari. I installed it from the website.

Black isn't in our style guide, so it is surprising to me.

[2016-11-01 15:11] meganwaps commented on #367
We've got 2 requests as of right now that don't have locations, we also have 1 request with an untitled article and a broken link.
https://openaccessbutton.org/request/saGBPhgdAny8A35iQ

[2016-11-01 19:53] meganwaps opened #395 "Broken Request Link"
One of the requests has a link that does not work.
Upon clicking the article title, we should be taken to the requested article, however this link just leads to a broken link on our site.
https://openaccessbutton.org/request/saGBPhgdAny8A35iQ

I've included the link, in order to reproduce this bug, you just need to click on the link titled 'Untitled Article'. This is odd because on the requests pa

[2016-11-01 20:47] JosephMcArthur commented on #325
Can we get one at 1280x800 too please?

Some notes on that from the store:

[2016-11-01 21:30] markmacgillivray commented on #395
This user created the request on the site, and they did not type in a URL in the find box - they typed in the title of the article!

This must have slipped through the usability testing. We will need an alternative way to make it more obvious that the user should put in a URL there, not an article title. From the technical perspective, I could also block things that don't appear to be URLs and fla

[2016-11-02 10:19] JosephMcArthur commented on #382
from #395

[2016-11-02 11:45] markmacgillivray commented on #395
Sticking with the protocol of not adding things to the milestone once it's started, this couldn't be done until the next sprint at the earliest. How long it would take is less relevant than what other things likely couldn't get done within a sprint where we prioritise this over any other issues.

It's a small technical change, but if everything we release is going through some sort of test / conte

[2016-11-02 11:56] JosephMcArthur commented on #395
I'd assigned this to the next milestone for you Mark. @meganwaps it would be good if you could respond to the user before that though.

You mention a good point, this "bug" could represent a feature people actually want. @meganwaps it would be good if you could try and work a question on this into user tests.

[2016-11-02 19:13] meganwaps commented on #395
I'll contact that user right now.

[2016-11-02 19:22] meganwaps opened #396 "Explore bringing back the map."
This issue is so we can explore the possibility of being able to re-release our map which showed where requests were from for our next mini milestone.

Every single user I tested who had previously used the button expressed a desire to see that map back on our website, and I'd like to try to respect those people who have been with us from the very beginning.

@markmacgillivray, what would it take

[2016-11-02 20:15] meganwaps opened #397 "Plugin not supplying correct article"
I'm testing the new version 1.0.3 of the plugin and have discovered that it is not supplying the correct article for a request.
This has happened to me a few times before, but this time is especially troubling since this is one of my test articles which I use because it has always been correct in the past.
This occurred on Chrome v 54.0.2840.71 on Mac OSX Yosemite v 10.10.4.

This is the original

[2016-11-02 20:16] JosephMcArthur commented on #396
Immediate thoughts / background that come to mind here are below:

* the information the map used to show has now been shown at a scale far larger by Sci-hub. However, sci-hub doesn't do stories.
* The map people think of before showed paywalls hits. We have consciously de-prioritised this information on the website in favour of requests, which are more actionable by the community. We can still sh

[2016-11-02 20:17] meganwaps commented on #397
The same result occurs now using the bookmarklet on Safari.

[2016-11-02 20:18] JosephMcArthur commented on #397
I have assigned this to the next milestone, which is all about the find system (which this relates to).

[2016-11-03 00:31] markmacgillivray commented on #397
Note that if you are using the 1.0.3 bookmarklet you are using the latest dev version, so you will get answers back from the dev api - this is good, and a good way to test. But, if you then switch to using the bookmarklet, be sure that you are also using a dev version of the bookmarklet - if you are using it as installed from the live site, then you will actually get answers back from the live API

[2016-11-03 00:36] markmacgillivray commented on #396
It would depend what it means to bring back the map - it is actually already there, at the bottom of the front page, and the top of the resources page, and is embeddable on any website elsewhere by anyone who would like to do so.

But this is just a visual of the location dots on the world map - it does not show any more information, but it could.

I think if users want it, then it should be done,

[2016-11-03 02:46] chealsye commented on #262
@JosephMcArthur You created an issue for this - #391 in which after seeing the problem I said it wasn't something I could fix. It's text and not an image.

[2016-11-03 10:55] markmacgillivray commented on #392
@JosephMcArthur @chealsye I don't see anywhere that the story prompt text is lacking spaces. Can you be more specific about where this problem is?

[2016-11-03 11:16] markmacgillivray commented on #392
Never mind, found it.

[2016-11-03 11:16] #392 closed

[2016-11-03 11:18] markmacgillivray commented on #391
Changes have been made on the dev bookmarklet, so for now my contribution here is done. Normally this means I would assign it to whoever has to work on it next, so it is clear who is responsible for moving it forward, however after discussion at the meeting on Monday, it is no longer clear that assigning is acceptable. @JosephMcArthur I am unassigning myself so I can keep track of what things I ac

[2016-11-03 11:20] markmacgillivray commented on #389
@JosephMcArthur this also is currently assigned to me, but I am no longer capable of actioning it. Normally I would therefore assign to whoever I think is carrying it forward (and if my choice is wrong for reasons I was unaware of, that person could assign to the correct person). So for now I am just unassigning myself, as I cannot lead this issue further. Again, something to discuss tonight.

[2016-11-03 11:31] markmacgillivray commented on #253
Fixed

[2016-11-03 11:31] #253 closed

[2016-11-03 13:36] markmacgillivray commented on #337
I have put up a page for this, although functionality in the backend is still in progress. However for now, there is a page where ALL content that it would display can be seen, every step of the way (which of course would only display relevant sections depending on article type and stage in process). This should make it easy for now for anyone to look at the copy that is in there, and write up wha

[2016-11-03 13:37] markmacgillivray commented on #337
By the way to see the response page, go to any open request when logged in as admin, and you will find in the details section there is now a "responder" button that will take you to the response page for that request - this is the page the authors would receive a link to when we email them.

[2016-11-03 18:38] JosephMcArthur commented on #382
General thoughts:

* We were 2 weeks late on release (kinda), but the release seems (major) bug-free. This was in line with the decision we made to have our v3 release be good, not timely (rather than the other way around, our usual approach)
* I don't know how to deal with bugs in agile
* We need clarity on what different signals (labels / assignment) mean to different people
* We need to engage

[2016-11-03 18:40] meganwaps commented on #382
Some of my thoughts I'd like to discuss during the meeting:

-Lack of communication at times, or underestimating how long my work will take.
-Sense of urgency on my part. (I didn't have it until Joe lit a fire under my butt)
-Lack of fanfare
-No response beyond Joe regarding the user testing. I'd like feedback from everyone ideally.
-Time difference, I'm willing to stay up or wake early to get thi

[2016-11-03 18:45] JosephMcArthur commented on #382
@markmacgillivray Do you have anything you'd like to improve from this release?

[2016-11-03 18:46] JosephMcArthur commented on #382
@natalianorori are you able to take some notes from this? Perhaps booting up a Gdoc & posting here would be helpful

[2016-11-03 18:47] JosephMcArthur commented on #382
Other thoughts:
* Mark & I occasionally IM'ed, which was useful. Others may benefit from this and we could try and move those chats into a more open space

[2016-11-03 18:49] markmacgillivray commented on #382
I'd like to make sense of how everyone expects github issues to work during a sprint, to clarify who gets assigned things, and how bugs are handled, and to ensure we all agree that any contributions are about moving the project forward (assume positive intent).

[2016-11-03 18:53] JosephMcArthur commented on #382
Call Notes here: https://docs.google.com/document/d/197wuP6dlCXa0XWD5vbwo2NLSuiuyqIXCvxVu7M70ioY/edit

[2016-11-03 18:58] JosephMcArthur commented on #382
To put something in the what went well column:
* We user tested things before they went out!
* We are still working on the product & releasing bug fixes and improvements
* We have a solid dev / live split & deployment process

[2016-11-03 19:15] chealsye commented on #382
-Lack of clarity/communication at times
-Help needing getting lost amount long threads
-Feeling like things needed to be immediately done when they weren’t a known task
-There were a lot of little, sudden things needed right before launch that weren’t known/discussed prior and seemed to pop up
-Plugin was ready 18/19 days after promised, which left us also we little experience
-Often I felt like I

[2016-11-04 02:04] chealsye commented on #392
@markmacgillivray Should I be seeing the fix? Because I just used the plugin on Chrome and the space in the prompt is still missing.

![screen shot 2016-11-03 at 22 02 18](https://cloud.githubusercontent.com/assets/9299248/19992104/60cb755e-a211-11e6-86f3-cc043d9362f4.png)

[2016-11-04 03:22] chealsye commented on #325
![request_1280x800](https://cloud.githubusercontent.com/assets/9299248/19993458/436a2658-a21c-11e6-98e8-01e1e0cc2d41.png)

Here's this one at 1280x800.

I tried doing other things with that size, incorporating different stages of the Button... but it looked awful. Like a messy collage. :/

[2016-11-04 03:38] chealsye commented on #286
@JosephMcArthur I feel stupid, but I cannot find the image sizes for Firefox. I can easily find them for Chrome, but not Firefox...

[2016-11-04 03:38] chealsye commented on #241
@JosephMcArthur I feel stupid, but I cannot find the image sizes for Firefox. I can easily find them for Chrome, but not Firefox...

[2016-11-04 09:46] markmacgillivray commented on #392
@chealsye it is in the latest code in the develop branch of the plugin, so to see it you'd have to install the develop version of the plugin from the main code of the develop branch.

Do you usually only install from releases rather than the code directly? If so this is a question for how we declare something ready to test - I could label issues with a release label that indicates which release th

[2016-11-04 10:31] markmacgillivray commented on #218
Improved mobile nav is now available on the dev site. Ready for testing. Will assign to @meganwaps and @JosephMcArthur  - let me know if that is the wrong thing to do.

[2016-11-04 10:37] markmacgillivray commented on #286
I looked into this, at the moment only admin accounts can trigger emails sending, so there would be a bit of work to circumvent that or to put in a whole new route to support any user triggering this email function, but also making sure only the user could email themselves. It could be done, but would have to go into a later milestone to fit this additional work. I think though that at the later p

[2016-11-04 10:42] markmacgillivray commented on #374
Bookmarklet now uses the same core oab.js and ui.js files as the plugin. Apart from those, the bookmarklet README file explains how it calls them via includer.js, which itself is just a few lines of code that also pulls in some css.

The Plugin code itself follows the structure of a chrome extension, documented in the chrome extension documentation. The main functional code in oab.js and ui.js inc

[2016-11-04 10:42] #374 closed

[2016-11-04 10:44] JosephMcArthur commented on #218
Just looked as I was on the dev site anyway! Thoughts:

- [ ] Colours / icon's could be a bit nicer, but you already know this
* This implementation fixes the UI issues I think. I showed it a few people here and their reaction was complete apathy (in contrast to sadness at the current version)
* A smoother animation for it might be nice, but, that isn't needed. As long as it looks clean & is fast

[2016-11-04 10:45] JosephMcArthur commented on #218
Just looked as I was on the dev site anyway! Thoughts:

- [ ] Colours / icon's could be a bit nicer, but you already know this
* This implementation fixes the UI issues I think. I showed it a few people here and their reaction was complete apathy (in contrast to sadness at the current version)
* A smoother animation for it might be nice, but, that isn't needed. As long as it looks clean & is fast

[2016-11-04 10:45] JosephMcArthur commented on #218
Just looked as I was on the dev site anyway! Thoughts:

- [ ] Colours / icon's could be a bit nicer, but you already know this
* This implementation fixes the UI issues I think. I showed it a few people here and their reaction was complete apathy (in contrast to sadness at the current version)
* A smoother animation for it might be nice, but, that isn't needed. As long as it looks clean & is fast

[2016-11-04 10:50] JosephMcArthur commented on #286
Agree, if this wasn't dirt simple then it's better to just fix the problem.

[2016-11-04 10:50] #286 closed

[2016-11-04 10:53] JosephMcArthur commented on #337
I have taken a first pass at copy for this, and will continue to do bits as I have time. I'm trying to make sure each part has the info required for the system - but not so much that it sounds good. @chealsye, if you can ensure the later that would be great. Assigning.

[2016-11-04 10:54] JosephMcArthur commented on #374
Fantastic, thanks for adding the documentation <3.

On Fri, 4 Nov 2016 at 10:42 markmacgillivray <notifications@github.com>
wrote:

[2016-11-04 11:01] markmacgillivray commented on #218
@JosephMcArthur how about now?

[2016-11-04 11:04] JosephMcArthur opened #398 "on mobile left align all footer sections"

[2016-11-04 11:06] JosephMcArthur opened #399 "Change homepage tagline?"
Suggested change:

to

Seems simpler and is less words. "with the Open Access Button" is implied, imo. This will help it fit on Mobile & set the stage for moving the search bar onto to front page.

@chealsye your call on approving this

[2016-11-04 11:07] markmacgillivray commented on #337
@JosephMcArthur @chealsye later today I can finish the functionality for the actual submission on this, but to do so I will start hiding the sections so they actually function. You will still be able to see all the text though by looking at the underlying page code, which is in the repo, at:

https://github.com/OAButton/oab_static/blob/develop/content/response/item.html

(or if you pull a local co

[2016-11-04 11:11] JosephMcArthur commented on #218
This is all my taste..

- [ ] remove box around hamburger icon
- [ ] simplify hamburger icon (just 3 lines, not 4 dots & lines)

and generally, the colour scheme feels like its too dark. Contrasts pretty deeply with the nav bars generally design. Wondering if white background, black text & orange / blue lines would be nicer?

[2016-11-04 11:23] markmacgillivray commented on #218
How about now? Matches better with our nav colours I think. Changed the icon, does it look clearer now?

[2016-11-04 11:23] markmacgillivray commented on #218
@JosephMcArthur pinging you just to see if you're still looking at it and can give a quick response

[2016-11-04 11:31] markmacgillivray commented on #282
Form font size has been set bigger, to more closely match page text size. @JosephMcArthur assigning to you to have a look and close.

[2016-11-04 11:43] JosephMcArthur commented on #218
Perfect. If @meganwaps can test this on a few mobiles (with browserstack) we're good to close.

[2016-11-04 11:49] JosephMcArthur commented on #282
Looked quickly:
* has this been done on mobile?
* it looks messy on the sign up info section

generally assigned megan to take a deeper look.