[2017-06-29 09:52] JosephMcArthur commented on #749
Works for me.

On Wed, 28 Jun 2017, 19:12 allanaaa, <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-06-29 16:56] svmelton commented on #638
@natalianorori Cool! All the authors I've spoken to said that story was important to them—much more important than name, and slightly more important than profession.

[2017-06-29 17:09] allanaaa commented on #749
Page content is saved; @markmacgillivray can you mark https://github.com/OAButton/website/blob/develop/content/sources.html for deletion in the next update?

[2017-06-29 17:17] JosephMcArthur commented on #749
done

On Thu, 29 Jun 2017 at 18:10 allanaaa <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-06-29 17:23] allanaaa commented on #749
Thanks!

[2017-06-29 17:23] #749 closed

[2017-07-03 04:04] chealsye commented on #736
Can we get this finalized ASAP? The original suggestion of line breaks could've been implemented in May and would an improvement, but would be good to settle on the proposed changes.

[2017-07-03 07:43] JosephMcArthur commented on #736
changes are on dev, please give it a test on dev and let me know what you
think.

On Mon, 3 Jul 2017 at 05:04 chealsye <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-07-03 09:14] JosephMcArthur opened #751 "Another example of false positives"
http://dx.doi.org/10.1093/jts/os-XIII.49.29

Our case study at Hudderfield found this one. So, @me get back to them when shut!

[2017-07-03 09:19] jibe-b opened #752 "[Legal] French obligation for data producers to answer to a request within one month"
Just a bit of information about the French context: a producer of data that is funded by the state has to answer within one month to a request for release of data.

In case the data producer does not answer, the CADA commission can be asked to act as a mediator.

Source : p26 of http://prodinra.inra.fr/ft?id={97224C30-C56B-4CC2-8F78-41C7E1AF5148}

Text of law:
https://www.legifrance.gouv.fr/affich

[2017-07-03 09:39] JosephMcArthur opened #753 "Check Regional Repo aggregators are getting into OAB"
- [ ] CARL / ABRC
- [ ] Asia OA
- [ ] JAIRO-JPCOA-DRF
- [ ] CIRG-CAS-CHAIR

[2017-07-03 16:23] chealsye commented on #736
Okay... this is different than what I suggested, but it is fine. A period was missing from a sentence and I added it.

[2017-07-05 00:56] chealsye opened #754 "SHERPA/RoMEO not showing up on submission pages"
As noted in today's call, I haven't seen a submission page that included info from SHERPA/RoMEO, including for articles I know the journal was in the SHERPA/RoMEO. Here are three examples:

**Example 1**
Request: https://openaccessbutton.org/request/cCtXndRPZri4kNBmt
Submission Page: https://openaccessbutton.org/response/cCtXndRPZri4kNBmt
Journal: Nonprofit and Voluntary Sector Quarterly
SHERPA/Ro

[2017-07-05 11:08] JosephMcArthur commented on #722
can't add this sheet successfully: https://docs.google.com/spreadsheets/d/1brsgt8u4Nv97lLdT-TGXWYhJW5uq-4OauDULJJXtRw4/edit#gid=0

[2017-07-05 15:39] JosephMcArthur commented on #483
Probably linked to #754

[2017-07-05 15:43] JosephMcArthur commented on #719
@chealsye I think

Where the user's name was put in better context was interesting to me. Currently we use the users name kinda out the blue and while I'm sure someone could work out that's the requestors name it's not as obvious as it could be.

& the use of only one link in the email was interesting and has some pros.

[2017-07-05 15:48] JosephMcArthur commented on #745
@natalianorori Natalia, is this something we can test in the Mturk process?

[2017-07-05 15:52] JosephMcArthur commented on #229
@chealsye if we ran this through legally checking workflow I've sent you (for links only, with articles) does this seem like a good path forwards?

[2017-07-05 15:53] JosephMcArthur commented on #483
@chealsye could we engaged with a group of librarians, like we're currently planning with the request moderators, to help with this?

[2017-07-05 15:57] JosephMcArthur commented on #483
Like, I'm kinda of thinking we could take the current sherma romeo dataset & turn that into a google sheet. Then, add in a list of journals that we don't have info for (pulled from big TOC sources we pulled for the DOAJ sources) and ask people to fill stuff in as needed. We could highlight ones with requests currently associated.

That sheet could be sent to shera-romeo periodically for them to do

[2017-07-05 15:59] JosephMcArthur opened #755 "Rename of "request stories""
Our us of "request stories" to describe the user input we get isn't very clear to people. Are there better phrases or ways to describe what we're asking for from users?

[2017-07-05 16:02] JosephMcArthur opened #756 "Test if authors want to be able to simply attach a file to an email"
People like not having to leave their emails, and learn new sites. We originally tried to have the site work like this but never got it done. Now, it's worth seeing if offering this is actually good!

We can manually prototype this by just manually accepting & uploading whatever is sent to us.

To do this we need:
- [ ] to have some email copy for it - @chealsye
- [ ] to have a cohort we can send

[2017-07-05 16:04] JosephMcArthur opened #757 "Testing if including information on what can be shared in an email increases deposit rates"
@chealsye has the score here! What's needed here is:

- [ ] to select some requests to do this with & edit those messages to have legallity info - @natalianorori
- [ ] draft legality templates for the above - @chealsye

[2017-07-05 16:06] JosephMcArthur opened #758 "Author's emailing users directly (after Googling them)"
This is a problem as it deflates our success rate and means we can't share with EVERYONE.

There seem to be several approaches to fixing this...
* (maybe) making clear to authors why they shouldn't do this
- [ ] asking users to notify us when an author does this
- [ ]  understanding why authors do this

Here we can discuss how we want to handle this issue.

[2017-07-05 16:08] natalianorori opened #759 "send Natalia email notifications when a story is marked as "fail""
So that when volunteers mark a story as "fail" I can double check

[2017-07-05 16:13] JosephMcArthur opened #760 "Test sending from a personal .edu domain"
We need to know if this increases our request systems KPI's. To do this we need:

- [ ] results from #634 as this gives a baseline for "personal" email system sending.
- [ ] a cohort of requests to use

cc @natalianorori

[2017-07-05 16:17] JosephMcArthur opened #761 "Test our spam rating"
We can test the spam rating of our emails against a number of services. Alongside our feedback from authors, data on DNR's & actual spam flags this can help inform how we're doing here.

Examples of services include:
https://www.google.co.uk/search?q=spam+tester&oq=spam+tester&aqs=chrome..69i57j0l5.4318j0j7&sourceid=chrome&ie=UTF-8

- [ ] run our current email thought some of these services - @nat

[2017-07-05 16:21] natalianorori opened #762 "When the author name box is left blank, replace name with "colleague" tag on email template"
The system currently leaves a blank space when the author's name box is left empty. It should replace the blank space with the word "colleague". Tested it on dev.

[2017-07-05 18:22] natalianorori opened #763 ""admin notes" box fails to save changes made"
There is no button to save admin notes directly, and when I press the "save changes" button the information I submitted on the admin notes box does not get recorded. This is on live @markmacgillivray

[2017-07-05 22:04] chealsye commented on #483
Potentially. But that is asking labor for free labor, so its success would depend on low commitment and/or the Button providing enough to the librarian (partly why I wanted a librarian notification system so librarians are getting something out of the relationship). However, I had my own such datasheet of education policies that weren't in SHERPA/RoMEO, so perhaps others do and would want to colla

[2017-07-05 22:54] JosephMcArthur commented on #483
Could you share the spreadsheet with me? I'd love to see what you thought was important to keep. I'd bet you're not alone in having this sort of data!

[2017-07-05 23:34] JosephMcArthur commented on #754
Note, I need to look at the API calls for this & see if journal info is present. Mark has shown me how to do this somewhere...

[2017-07-06 09:30] markmacgillivray commented on #756
The things we would particularly want to know, that we did not know before, is how many people are able to successfully email a file? Because we do not have control of the mail server the author uses, we cannot know what sort of restrictions are placed upon what they are allowed to send as attachments. So it would be useful if this could somehow be tested with some users who we know are using part

[2017-07-06 12:03] jibe-b opened #764 "[Moderation] Cache story-validation mapping for automatic validation"
Among the fields to validate through moderation, the story field is the most subjective one.

In the case of repetitive/automatised requests for articles, a user could reuse the same story several times, provoking an overload of moderation requests.

Is the validation status of a story cached? In this case, the cache could be used to pre-fill the validation status of the story, reducing the charge

[2017-07-06 12:24] jibe-b opened #765 "[feature] Request for a paper and all cited papers"
For one paper, [OpenCitation](http://opencitations.net/) enables to get the papers that are cited.

A user may be interested to have access to the full-text of a paper and the full-texts of all papers cited by the first publication.

### Scenarii

1. User requests full-text of a publication & all cited papers are
2. User reads an open access paper & OAB checks OpenCitation and pops-up "Among the p

[2017-07-06 12:28] jibe-b opened #766 "[Terms] Automatic request for paper"
Users are proposed to request for one article at the time of attempting to access its full-text.

One may also want to make batch requests for articles.

For example, [OpenCitations](http://opencitations.net/) could lead to an availability check and OAB request of all publications within the OpenCitations graph. cc @essepuntato

What is the policy of the OAButton team, especially the system-admin+

[2017-07-07 05:12] markmacgillivray commented on #763
Fixed on dev

[2017-07-07 05:12] #763 closed

[2017-07-07 05:15] markmacgillivray commented on #762
Added on dev, please test and see if it is what you want.

[2017-07-07 05:25] markmacgillivray commented on #748
All the links to the Polish repo are provided by BASE. It thinks they are open access. I suspect that BASE included this Polish repo, then something happened at the Polish repo to get them shut down or otherwise to stop them serving the copies they had, and so now all those pages on the Polish repo still return, but all they return is a link to science direct. They don't actually include a link to

[2017-07-07 05:28] markmacgillivray commented on #746
This sciencedirect URL also just returns from BASE the Polish repo that links back to the front page of science direct. I don't see the HAL one come out at all. I am not sure what you mean about the missing linkage around "-".

[2017-07-07 06:33] markmacgillivray commented on #722
Added ability to cancel jobs, and fixed the CSV download error you got.

I don't have access to your google sheet example of the one where you got errors uploading it - I asked for permission, give me that and I will check. What errors did you get? The problem with it seemingly going down was a sorting problem on the display of old jobs, because the big nearly complete jobs were bottlenecking thin

[2017-07-07 06:45] markmacgillivray commented on #722
Ah thanks, so that one was the spiral gsheets one, most of which have worked. I think your errors would have been the UI errors then, unless you remember seeing other specific error messages. Later today, once the system has worked through some of the reruns I have kicked off, I will look for any specific failings.

[2017-07-07 07:34] JosephMcArthur commented on #722
Okay, so I'd suggest closing this then and having other problems be other issues!

[2017-07-07 07:34] #722 closed

[2017-07-07 07:41] JosephMcArthur commented on #748
I've put it here: https://docs.google.com/spreadsheets/d/1f3dyU0xmCh2fgEMgNY1yHSXqyB0j6WZ_WDeS2AS669M/edit#gid=0. Sorry to be dumb, but is that the correct blacklist?

[2017-07-07 08:09] JosephMcArthur commented on #766
Hey Jibe! What we're trying to do with #440 is enable an easy bulk processing system for people (this is designed as mediated by spreadsheets, but I expect a bulk api endpoint may be made). I expect they could do it _now_ though via the API if they're tech-savvy.

In short, we're pro-this & trying to get our moderation & processing systems to a point where we could actually really handle this. We'

[2017-07-07 08:12] JosephMcArthur commented on #764
This is a great idea. I mentioned it [here](https://github.com/OAButton/discussion/issues/440#issuecomment-300296948) but never actually made an issue for it.

The validation of a story status isn't cached - I don't think.

[2017-07-07 08:37] jibe-b commented on #764
As the moderation process is growing with @natalianorori 's work, let's do it!

May I ask for indications on how it can be done? I don't promise I will do it but if you tell me
1. where stories and results of moderation  are stored
2. where the preprocessing of a request is done (where middlewares live act)

I may hack a middleware that uses the cache. And don't hesitate to remind me I said this (

[2017-07-07 08:38] JosephMcArthur commented on #746
So, the paywall link should go to the Hal link. However, it doesn't. When I submitted this I think that page just found nothing, but may have been caught in #748.

I thought it may have been because of the "-" in the title.

[2017-07-07 08:56] markmacgillivray commented on #333
OK there is now an option on dev admin to generate a job from any requests that have not yet been received, between two dates which default to start of current week and today (and can be edited before submission). Please try using this to test some batch jobs on old requests on dev. If happy, and if bulk jobs are generally working OK, we can enable them on live soon, then you can try this on live.

[2017-07-07 09:53] jibe-b commented on #766
Hence #764 ;)

Thank you for answering on the position of the OAB team on this.

Each mechanism has pros and cons, I would prefer a REST API, which indeed would be made much more acceptabde if associated with a UI enabling Srpadsheet import.

[2017-07-07 09:55] JosephMcArthur commented on #766
cc @markmacgillivray for the above

[2017-07-07 09:58] jibe-b commented on #440
Love this idea, :+1:  :+1:  :+1: !

[2017-07-07 10:01] markmacgillivray commented on #766
@JosephMcArthur is there anything you want done here right now?

We have bulk availability checking now via the API (behind the spreadsheet bulk upload), though not yet allowed for anyone who is not an OAB admin. Our UI automatically creates a request whenever an availability check finds nothing, so if you want the bulk availability check can also have an option to do the same thing, and then that

[2017-07-07 10:05] jibe-b commented on #764
I will wait for #766 as progress may be done in the meantime https://github.com/OAButton/discussion/issues/766#issuecomment-313640995

[2017-07-07 12:28] JosephMcArthur commented on #766
Right now, as much as I love this idea, we've got an uncertain funding future so adding lots of moderation work right now isn't a great idea. But, this should certainly go into the backlog.

[2017-07-07 13:47] jibe-b opened #767 "[Question] How often are the various DOI/URL mapping databases synchronised?"
There is the OAB DOI-URL database, there is oadoi.org and a few other.

How often are they synchronized with one another?

PS: I do consider the "archiving by author, harvesting by BASE/CORE, harvesting by oadoi.org" but I guess there are DOI-URL mapping which are specific to your database, isn't it?

cc @hpiwowar (oadoi) impactstory/oadoi/issues/21

[2017-07-07 17:06] JosephMcArthur commented on #767
For us, whenever they're called. We do it all on the fly.

On Fri, 7 Jul 2017 at 14:47 jibe-b <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-07-07 17:55] natalianorori commented on #762
tested on dev and working

[2017-07-07 17:55] #762 closed

[2017-07-09 04:05] chealsye commented on #483
The spreadsheet is from over 4 years ago. I don't still have access to our department's shared files. The spreadsheet would've just included the journal name, publisher, archiving policy, and archiving policy. It wouldn't have had all the details needed for SHERPA/RoMEO though, such as links and the ISSN.

[2017-07-09 06:52] chealsye commented on #719
@JosephMcArthur New users aren't required to share their name, right?

[2017-07-09 06:54] chealsye commented on #760
@JosephMcArthur What exactly is required of me? Obviously to send emails! ;) But what do I need to do? What am I sending? When?

[2017-07-09 06:56] chealsye commented on #229
@JosephMcArthur Yes!

[2017-07-09 07:14] chealsye commented on #758
@JosephMcArthur I'm not sure we want to muddle communications with users for this. It will be a low amount of authors who take this initiative and likely only when it is for a researcher or librarian at a specified uni they could potentially track down. Authors are likely doing it because they either think we are spam or know they cannot legally share (at least the copy they want to share). It cou

[2017-07-09 07:44] JosephMcArthur commented on #760
You'll need to coordinate with @natalianorori to get a cohort of requests to work on & track those (including, obviously, that users get notified still). Then, you'll need to generate the email message for your requests in the backend & copy that into your personal email account and send it.

Ideally, you'd be able to install a little tracking app into your account so that we can get your open rat

[2017-07-09 07:47] chealsye commented on #760
@JosephMcArthur Thanks! What would be a tracking app for me to install? I've never used one.

@natalianorori Can you send me this info over email? Or perhaps we might need to schedule a bit of time to chat this week? I've never dealt with the request system, so not sure if I'll need training to see those requests and generate the messages.

[2017-07-09 07:50] JosephMcArthur commented on #760
What email client do you use on the .edu email - I'll pick one. Also, what is the actual email address?

[2017-07-09 07:51] chealsye commented on #760
Outlook and cmbowley@eagle.fgcu.edu

[2017-07-09 08:10] JosephMcArthur commented on #760
Hmmm, we may want another few controls here for cmbowley@gmail.com & cmbowley@openaccessbutton.org, although I'm not 100% sure. We haven't tested sending from a personal email yet. We want to make sure we are actually understanding the impact of a .edu domain vs our domain, and just sending via a personal account.

Can you try and work on the basis of including those controls?

There would also be

[2017-07-09 16:57] chealsye commented on #760
I'm not sure what you mean by - work on the basis of including those controls?

i have a @ucl.ac.uk email as well. It technically is ucrhcbo@ucl.ac.uk, but now appears as "chealsye.bowley.14@alumni.ucl.ac.uk" in received emails.

Personally, I'm not a believer in the .edu domains having much of an effect, but willing to be wrong and help.

[2017-07-09 21:22] JosephMcArthur commented on #760
Plan to also think about sending enough emails to power those groups
sufficiently.

On Sun, 9 Jul 2017 at 17:57 chealsye <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-07-09 22:02] chealsye commented on #756
Added required copy to the [version 3 of the first email author draft](https://docs.google.com/document/d/1mhUCeqjGYY14cnR9-OBlT2ujYF8FSMHkAfOi6dpfKD8/edit).

[2017-07-09 22:03] chealsye commented on #760
@JosephMcArthur Sorry still not 100% clear to me. Do you mean planning to also send an equal amount of request emails from those other proposed email addresses?

[2017-07-09 22:28] chealsye commented on #757
Some basic templates:

**General Info**
Many researchers are unsure if they can legally share a copy of their articles. We have good news! All major publishers permit either archiving the submitted or accepted version to a repository. You can check your journal policies in [SHERPA/RoMEO](sherpa.ac.uk/romeo/).

_Don't send us PDFs_
Unfortunately, most publishing agreements don't allow sharing the f

[2017-07-10 06:38] JosephMcArthur commented on #760
yup

On Sun, 9 Jul 2017 at 23:03 chealsye <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-07-10 09:55] JosephMcArthur commented on #167
moving to projects

[2017-07-10 09:55] #167 closed

[2017-07-10 10:01] JosephMcArthur commented on #175
moved to project

[2017-07-10 10:01] #175 closed

[2017-07-10 10:14] JosephMcArthur commented on #431
Can do all the above now. All github epics are now issues. No longer using zenhub.

[2017-07-10 10:14] #431 closed

[2017-07-10 11:15] JosephMcArthur opened #768 "stories rated with "fail" shouldn't show on /request"
test: https://openaccessbutton.org/request/cz4jEoKmPdFsaNbGL & https://openaccessbutton.org/request?source={%22query%22:{%22filtered%22:{%22query%22:{%22bool%22:{%22must%22:[{%22query_string%22:{%22default_operator%22:%22AND%22,%22query%22:%22*cancer*%20%22}}]}},%22filter%22:{%22bool%22:{%22must%22:[{%22exists%22:{%22field%22:%22story%22}},{%22query%22:{%22query_string%22:{%22query%22:%22story:*%2

[2017-07-11 21:35] JosephMcArthur opened #769 "A dev request system"
So, we're quickly learning that doing a/b tests as part of the request system is harder than we'd like. Currently, the key challenges are:
* Identify requests to use
* sending all the requests
* tracking requests back & getting our key stats

What @natalianorori and I discussed was trying to set up a dev request system separate from the main site that excels at doing A/B testing of emails. We disc

[2017-07-11 21:38] JosephMcArthur commented on #688
this is on live!

[2017-07-11 21:38] #688 closed

[2017-07-11 21:40] JosephMcArthur commented on #666
@natalianorori did you manage to test this?

[2017-07-11 21:44] JosephMcArthur commented on #635
we've shipped this! yay

[2017-07-11 21:44] #635 closed

[2017-07-11 22:02] markmacgillivray commented on #754
Dev site updated with changes to show Sherpa statements. Here is one on dev where it checks Sherpa but cannot find anything, so shows the sherpa_unknown message:

http://dev.openaccessbutton.org/response/A8mW6tKoMYgevByjw

Just update the live site with the current dev branch content to get this on live, if it seems like the fix you are looking for.

[2017-07-11 22:08] chealsye commented on #754
Could I see an example of a deposit page with SHERPA/RoMEO info?

[2017-07-11 22:14] jibe-b opened #770 "[moderation interface] "save changes" button not working (at least partly)"
As moderator admin,

clicking "Save changes" does little effect, provoking the loss of entered fields.

(reproduced two times with two different browsers, Firefox and Chromium)

- author's name field is kept
- title field is lost
- journal field is lost
- DOI field is lost
- story rating is kept
- admin notes are lost

[2017-07-11 22:16] JosephMcArthur commented on #770
+1 had this same issue today on:
https://openaccessbutton.org/request/HkHK7nc8Po3QPBB9e

On Tue, 11 Jul 2017 at 23:14 jibe-b <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcar

[2017-07-11 22:23] JosephMcArthur commented on #676
@natalianorori do these emails display the title and/or story.

@markmacgillivray where can we added people to the list of people that get sent these? I'd like to get them, and I guess others would!

[2017-07-11 22:24] JosephMcArthur commented on #682
Should be able to move forwards on this now @markmacgillivray

[2017-07-11 22:24] jibe-b commented on #770
again, lost form, except author's name (hopefully ;) )

[2017-07-11 22:26] JosephMcArthur commented on #333
Thanks @markmacgillivray.

I'm going to:
- [ ] Run a batch of old request via the system
- [ ] test that data via mturk to see where we get answers wrong
- [ ] add incorrect links to the blacklist
- [ ] re-run & hope that those links are filtered
if yes: we're good to run.

This can then be repeated weekly, or however often we'd like and we'll know we're only sending top quality stuff.

[2017-07-11 22:29] markmacgillivray commented on #754
Yes, if you create a request on dev that is in a journal that you know has a sherpa color, and that is on a web page from which we can extract the journal title (or if you create a request then manually add a suitable journal title in the admin area) then when you look at the response page you should see the appropriate green/yellow/red section.

[2017-07-11 22:31] JosephMcArthur opened #771 "Is using Twitter to contact authors about requests possible?"
from: https://github.com/OAButton/discussion/issues/490

Many (but... not that many) authors have Twitter. Could we use this to get in touch.

The scope of this issue is to test if this is effective, rather than implement a production system.

[2017-07-11 22:31] markmacgillivray commented on #676
I can manually change the code to send to more people. But it would make more sense to send such notifications to a notifications address, and then the people interested could monitor that address...

[2017-07-11 22:32] JosephMcArthur opened #772 "Would posting requests in pubmedcomments / pubpeer / hypothesis / scienceopen comments help reach out to authors"
from: https://github.com/OAButton/discussion/issues/490

The scope of this issue is to test if this is effective, rather than implement a production system.

[2017-07-11 22:32] JosephMcArthur commented on #490
this is a big, now out of date issue. Broken off other peices into smaller issues.

[2017-07-11 22:32] #490 closed

[2017-07-11 22:34] JosephMcArthur commented on #676
Interesting, then we could just add people to a forwarding list there? Is
that what you're thinking?

J

On Tue, 6 Jun 2017 at 17:05 Natalia Norori <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_

[2017-07-11 22:40] chealsye commented on #754
I was told by @JosephMcArthur that the SHERPA/RoMEO integration was live and should appear to authors. Is there no way for us to know of an example where this is the case?

I could create a new request - but I don't know if it would work. I'm seeking a live example where this is working. The three examples I started this issue with all are in SHERPA/RoMEO and are recent requests we should've been

[2017-07-11 22:44] JosephMcArthur opened #773 "Testing more email subject lines for author outreach"
Current subject line: Someone needs access to your article, share it to increase your impact

Current ideas:

- [ ] Article Request

_Thought is that this is very vanilla, and doesn't sound spammy_

- [ ] A question: e.g “Can you share your article?”

_Common for headlines to lean on curiosity, will that work here?_

- [ ] [researchgate subject line]

_they've tested this... let's see how it perfo

[2017-07-11 22:47] markmacgillivray commented on #770
I have updated dev api, and tested on dev, and seems to be working fine. Please try on dev and let me know if still an issue.

[2017-07-11 22:49] JosephMcArthur commented on #770
To be clear, did you update to fix the problem or is this a separate update?

[2017-07-11 22:49] JosephMcArthur commented on #754
Here is an example of it working on dev: https://dev.openaccessbutton.org/response/YCXfZiZrm2TAovAkN.

[2017-07-11 22:53] markmacgillivray commented on #754
If we know a journal title for an article, it will show up in the admin area of the request page. If it is not there, it can be manually added by an admin. If we have the journal title and the item is in Sherpa, the various correct colour statements should show up on the response page. This is true on dev, but may not be on live - I just made a change to dev, as mentioned above, so a push to live

[2017-07-11 22:54] JosephMcArthur commented on #754
Just made a push, lets see!

[2017-07-11 22:54] chealsye commented on #754
"You can legally give us the accepted version of your article!"

That's it? No linking to the SHERPA/RoMEO record? Or further explanation about how/why we know that and they should listen to us?

[2017-07-11 22:55] markmacgillivray commented on #770
Is what a separate issue? The request change history appeared to be blocking some saves from being executed, so I made a fix to that. Now, when I edit as an admin on a request page on dev, things save as expected and the fields that are changed show up in the history list. So, as far as I know, what is described on this issue does not happen on dev, at least not now.

[2017-07-11 22:55] JosephMcArthur commented on #770
@jibe-b this should be on live now (as I just pushed it, cc @markmacgillivray).

[2017-07-11 22:57] chealsye commented on #754
Looks like those requests I flagged do include the SHERPA/RoMEO info now, which is great! But I really think we need to link out to the SHERPA/RoMEO record or provide additional information why they should trust us. Additionally, my eyes totally glance over that important information and I think it is worth considering the design of the deposit page.

[2017-07-11 22:57] markmacgillivray commented on #770
No, this won't be on live. I made a change to the API, not the website. If this issue was on live, it may still be on live, unless we update the API. Please test on the dev site and let me know.

[2017-07-11 22:57] natalianorori commented on #770
I am working in the system now and I can save all changes.

On Tue, Jul 11, 2017 at 4:55 PM, Joseph McArthur <notifications@github.com>
wrote:

[2017-07-11 22:59] markmacgillivray commented on #676
Yes you could do whatever you want, forward certain emails to certain people, all have them all forwarded, all just share the login to the mail account that receives the notifications - whatever you would normally like to do with managing emails.

[2017-07-11 23:01] JosephMcArthur commented on #719
a note from issue #754 that I agree with:

The new designs above don't fix this.

[2017-07-11 23:04] JosephMcArthur commented on #754
Totally agree, and have moved that last comment to a place where it can be considered in the redesign. The copy used is yours, but if you'd like to add links or something like that I assume we can do that (it'll need some dev time but probably worth it).

The bug causing the issue above is closed now though. Design issues are in #719, issues for grabbing journal names & missing sherpa data are in

[2017-07-11 23:04] #754 closed

[2017-07-11 23:07] JosephMcArthur commented on #770
Hmmm, well, the dev system seems to be working

[2017-07-11 23:09] jibe-b commented on #770
saving still fails on the UI.

but thanks for being working on this :)

[2017-07-11 23:10] JosephMcArthur commented on #676
this makes sense to me. Thoughts, @natalianorori?

[2017-07-11 23:10] JosephMcArthur commented on #770
Can you link the requests you're trying on, then we can try and replicate on those same requests!

[2017-07-11 23:13] JosephMcArthur commented on #657
Assigned @markmacgillivray to look into this now we have some data on it

[2017-07-11 23:14] jibe-b commented on #770
taking a random one https://openaccessbutton.org/request/qKTem6vkfZfvHm3qb

[2017-07-11 23:16] chealsye commented on #719
Since I'm not allowed to reply to #754 and this is the most applicable issue for suggesting changed.

I'm aware that it is the copy *based* on the copy I suggested in #425 to interpret RoMEO colors, but that copy was provided *only* for interpretation and not for full communication to an author. We need to also communicate to an author what the information is and/or why they should trust us on the

[2017-07-11 23:21] JosephMcArthur commented on #770
On: https://openaccessbutton.org/request/qKTem6vkfZfvHm3qb an attempt to change the DOI leaves me unable to click "saved changes". Upon click, nothing happens. Changing the author name works as expected.

On dev, trying to change the DOI field on: https://dev.openaccessbutton.org/request/gDfu3geNhpdWxjTAY works as expected.

@markmacgillivray I'd suggest we ship that change to live ASAP.

[2017-07-11 23:23] jibe-b commented on #770
On the prod UI, clicking several times (or possibly wait, I can't decipherate) does activate "save changes", which fails partly.

[2017-07-11 23:29] JosephMcArthur commented on #694
@chealsye this may be helpful for the V3 email

[2017-07-11 23:30] JosephMcArthur commented on #695
@chealsye this may be helpful for the V3 email

[2017-07-11 23:32] JosephMcArthur commented on #651
done via jisc case study

[2017-07-11 23:32] #651 closed

[2017-07-11 23:34] JosephMcArthur commented on #767
Closing this... but if I haven't answered fully or you'd like to follow up please please please reopen.

[2017-07-11 23:34] #767 closed

[2017-07-11 23:37] JosephMcArthur commented on #287
Closing this, I think we've successfully explored & now would have to make a call on if to take forwards.

[2017-07-11 23:37] #287 closed

[2017-07-11 23:40] JosephMcArthur commented on #465
oadoi cracked this, so no reason for us to compete.

[2017-07-11 23:40] #465 closed

[2017-07-11 23:42] JosephMcArthur commented on #655
will deal with this inside jisc case studys, so closing this

[2017-07-11 23:42] #655 closed

[2017-07-11 23:42] JosephMcArthur commented on #732
I've done all the hard work here, moving forwards to communicate out!

[2017-07-11 23:43] #736 closed

[2017-07-11 23:47] JosephMcArthur commented on #715
done & it's working well

[2017-07-11 23:47] #715 closed

[2017-07-11 23:49] JosephMcArthur commented on #747
on live!

[2017-07-11 23:49] #747 closed

[2017-07-11 23:51] #176 closed

[2017-07-11 23:53] JosephMcArthur commented on #148
@jibe-b you've been amazing recently at contributing... anything we could've put in this guide to make your life easier?

[2017-07-11 23:55] JosephMcArthur commented on #714
@markmacgillivray is your understanding that request updates don't get sent to supporters? Mine was that this does happen.

[2017-07-11 23:58] jibe-b commented on #148
I'd say the most efficient is the reactivity on gitter/github :)

But I guess someone new to OAB may want to know "where the data goes after contribution": a few words on the internal use of the metadata harvested about articles, statistics, etc. Are they regularly released as open data, are they pushed to BASE, etc (this is both something I suggest telling to new people and what I'd like to know)

[2017-07-12 00:03] JosephMcArthur commented on #148
Have updated the contributing guide to signal clearly that we'll try and be reactive & how best to talk to us ( in this context ).

I'm not sure the contributing is the right place for

as I bet others would want to know. @chealsye perhaps a blog? To answer the question, when people give us content we put it in Zenodo.

[2017-07-12 00:07] #388 closed

[2017-07-12 00:09] JosephMcArthur commented on #377
page doesn't exist now, closing

[2017-07-12 00:09] #377 closed

[2017-07-12 00:15] JosephMcArthur commented on #726
@natalianorori bump

[2017-07-12 00:19] JosephMcArthur commented on #477
I can live with not know _who_ made changes. @natalianorori my understanding is that even the current "prettyness" of the system is okay. Therefor, I think this can be shut.

My assumption is, going forwards, anything that we figure out we want to track in #578 can be displayed here

[2017-07-12 00:19] #477 closed

[2017-07-12 00:19] JosephMcArthur commented on #769
This is relevant, and may simplify #587

[2017-07-12 00:31] JosephMcArthur commented on #587
@markmacgillivray I've reviewed progress here and updated our checklist of progress here: https://github.com/OAButton/discussion/issues/587#issuecomment-301732745.

In our next sprint, can we get to a point where that info is exportable? That's needed for #769, but stuff about tracking mailings for requests on the production system isn't strictly needed for now (so, there is less work).

[2017-07-12 09:59] jibe-b opened #774 "[feature] add "evidence"/source field associated to author's name/email fields"
Adding such (optional) field would enable (for the motivated people) to keep track of where we can find name (usually the notice page) and email (notice page or ).

These URL being available could enable to write parsers to extract the email adress.

[2017-07-12 10:03] jibe-b opened #775 "[enhance] UI for admin: pre-open"
Suggestion:

if user is logged annd has nole _admin_,

Then some javascript could be executed to
- when clicking on a request in https://openaccessbutton.org/request? open two links in two tabs:
     + request
     + link to the paper's notice
- pre-reveal the "admin form"

[2017-07-12 10:07] JosephMcArthur commented on #775
We'd like to try and move moderation to /request, with the "quick actions"
for sending eventually, and collect all data needed for requests via other
means / checks. This seems like a really good idea in the short term though
- I'd be in favour of implementing this. @jibe-b, if you wanted to
contribute that I'm happy to test & provide feedback (I'm sure Natalia
would be too).

J

On Wed, 12 Jul 20

[2017-07-12 10:08] jibe-b commented on #775
I ain't no javascript king but I tried to hack

html:
[code]

[code]

This is bad codes, that doesn't work on my side, use it at your own risks, even though it didn't break anything on my side.

[2017-07-12 10:11] JosephMcArthur commented on #775
Fancy putting in a pull request onto dev? I know literally nothing about javascript (except more or less what it can / can't do), but we can test it out there & see how it works / feels!

cc @markmacgillivray

[2017-07-12 10:13] jibe-b commented on #770
+ add link built with Author's name: ex `https://searx.me/search?q=<author>`

[2017-07-12 10:14] jibe-b commented on #775
hum, need some improvements: I had to remove cross domain policy (REALLY BAD) and this code tries to do something which is NOT possible ^^

[2017-07-12 10:15] jibe-b commented on #775
Indeed, any issue I open may lead to a PR at some point, just need time to improve it

[2017-07-12 10:16] JosephMcArthur commented on #775
Got you... probably best not to submit now then ;) I guessed you'd probably be fine making PRs, but I wanted to make sure the invitation was there.

[2017-07-12 10:20] jibe-b commented on #775
The invitation was there since the code is in the open ;)

But if it's fine with you I'l be glad to discuss live at some point in order to make you and I get better how each of us work.

My email: user701@orange.fr

[2017-07-12 10:26] JosephMcArthur commented on #775
Absolutely, was going to suggest that myself! Check your inbox.

[2017-07-12 14:03] jibe-b opened #776 "[bug] on request pages meaning it doesn’t show!"
For the request https://openaccessbutton.org/request/caW8k4MEv7YdnsvT8

the UI doesn't display everything.

JS console errors contains:

[code]

[2017-07-12 22:01] jibe-b opened #777 "[tutorials] Proposition: add (bootstraptour) tutorials to the UI"
bootstraptour.com is a javascript library that enables to write tutorials easily and follow them step by step on the UI.

I wrote one as a mockup (and a way to dive deeper into javascript) for the homepage

and will go on with a tutorial for the Admin UI

An example for the UI:

[code]

[2017-07-13 06:34] chealsye commented on #148
@JosephMcArthur Do you want a blog post addressing other items?

This sounds like a FAQ for new team members and volunteers may be useful.

[2017-07-13 06:49] chealsye commented on #694
Commenting to say this feedback has been incorporated into [V3 draft](https://docs.google.com/document/d/1mhUCeqjGYY14cnR9-OBlT2ujYF8FSMHkAfOi6dpfKD8/edit) and/or comments.

[2017-07-13 06:51] chealsye commented on #695
Do you want an alternative of the email for when there isn't a known user name and/or occupation?

[2017-07-13 11:02] JosephMcArthur opened #778 "Test use of a formal signature in emails to authors"
Big institutions tend to use big email signatures with phone numbers, addresses & privacy / legal signs offs in their emails. We have a short sign off, that is just polite but probably detracts for our legitimacy.

What might a longer sign off look like here?

e.g:

[2017-07-13 13:11] JosephMcArthur opened #779 "test requesting newly published work"
Can pick a journal with favourable deposit policies, and test emailing people on they day their work was published or something similar.

The aim here would be to understand the requests systems success under favourable settings, and where the version of an article given didn't matter. This allows us to understand how important that part of the processes is in our success numbers.

[2017-07-13 13:12] JosephMcArthur opened #780 "test if supporting requests matters"
We have a hypothesis that this will help with follow up & generally having things be successful. However, it isn't clear if that's the case!

Need to figure out how to test this. If it doesn't matter, we can remove or deprioritise.

[2017-07-13 13:14] JosephMcArthur opened #781 "Understand what % people still have the author manuscript (aka a version we need)"
This has been highlighted to us as a possible issue in the request system - and right now we don't actually have a good answer!

[2017-07-13 13:45] JosephMcArthur commented on #776
@markmacgillivray I'm guessing this comes from the last push - can you take a look?

[2017-07-13 14:17] jibe-b opened #782 "[doc] question: who can push to develop branch?"
In https://github.com/OAButton/website /README.md

`Anyone can commit to develop branch to test changes`

Who is everyone?

(doing my own FAQ ;) )

[2017-07-13 14:21] JosephMcArthur commented on #782
Ah, maybe not anyone, just core members of our team. Most need to make a PR.

[2017-07-13 14:21] jibe-b commented on #777
In Chromium-browser,

`javascript:(function(){$('head').append('<link href="https://cdn.jsdelivr.net/bootstrap-tour/0.11.0/css/bootstrap-tour.min.css" rel="stylesheet">');$('head').append('<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>');window.setTimeout(function(){all=$('*');for(i=0;i<all.length;i++){if(!all[i].id){all[i].id

[2017-07-13 14:22] jibe-b commented on #777
[add this bookmarklet to your favorites](javascript:(function(){$('head').append('<link href="https://cdn.jsdelivr.net/bootstrap-tour/0.11.0/css/bootstrap-tour.min.css" rel="stylesheet">');$('head').append('<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>');window.setTimeout(function(){all=$('*');for(i=0;i<all.length;i++){if(!al

[2017-07-13 14:42] jibe-b commented on #782
Hopefully, somehow ;)

I guess it should be stated clearly for newcomers.

[2017-07-13 14:42] JosephMcArthur commented on #782
+1

[2017-07-13 15:02] jibe-b opened #783 "[bug] request listed in the UI but leads to 404"
https://openaccessbutton.org/request/Wnewjn77gyiZihfES

[2017-07-13 15:13] jibe-b opened #784 "[UI-UX] improve UX of moderators by showing admin form and open paper link immediately"
When moderating, clicking on the link pointing to the article takes time…

and clicking on the "Admin" button to open the form is quite tedious.

Here is a hack of a bookmarklet that does it:

`javascript:(function(){lk=document.getElementById('titlelink');window.open(lk);document.getElementById('showadmin').click()})()`

Pitfalls:
- one has to add it to bookmarks
- the papers page is opened and t

[2017-07-13 15:25] jibe-b opened #785 "[bug] MAJOR BUG: filling of form during moderation is NOT recorded"
Here is what I did (and it could have been any moderator I guess):

- click "notify me" because the subject interest me (alot)

- fill the admin form in https://openaccessbutton.org/request/Ne7KDFe4rsWExXydh with Name, email address, Journal, DOI
- validated story
- clicked "send to author"

Received the email stating: "Your request is in progress

[code]

This email does not contain the informati

[2017-07-13 15:25] jibe-b commented on #785
ping @JosephMcArthur @natalianorori

[2017-07-13 15:28] JosephMcArthur commented on #785
@markmacgillivray can you take a look at this ASAP?

[2017-07-13 15:31] jibe-b commented on #785
I wonder if this is linked to the reappearence of many requests I filled and sent yesterday OR on tuesday.

Does someone do a second check of requests before sending requests?

If no data is kept, then the requests sent might simply look bad as no data was kept.

[2017-07-13 15:33] natalianorori commented on #785
Jibé, did you press "save changes" before clicking the " send to author" Button?

[2017-07-13 15:35] jibe-b commented on #785
@natalianorori no, for none of them. :cry:

[2017-07-13 15:35] jibe-b commented on #785
I read "Make sure to save the author's name in the "author name" box and save changes after doing so." in
https://docs.google.com/document/d/1jmyBiDtONn2QWc0WMmAYTw06wXusGTLnAlqDXR_uGJQ/edit#

[2017-07-13 15:37] jibe-b commented on #785
There definitely is a collision between the "action button" and the "save" button.

Action button should save the form, shouldn't it? If not there should be an indication "all data added to the form and not saved will be lost", I guess.

[2017-07-13 15:37] jibe-b commented on #785
I am really sorry for the quite big number of requests that were incomplete :/

[2017-07-13 15:40] markmacgillivray commented on #785
I don't think there is anything I can fix here. The action buttons do not save information - that requires a click on the "save" button. I could make the action buttons also trigger a save first, but that would cause unnecessary delay and the point of the action buttons as I understood them was to do quick actions.

I think it is a process decision, and possible a need for better instructions for

[2017-07-13 15:41] natalianorori commented on #785
@jibe-b In order for information to be recorded you need to save changes after filling all information. This also helps you review that everything you entered is correct before pressing the "send to author" action button.

You are right, the save button is manual but if you don't press it changes don't get saved and the action button won't save the form if it finds information missing.

 Do you ha

[2017-07-13 15:42] jibe-b commented on #785
@markmacgillivray @natalianorori Sadly "save" still fails https://github.com/OAButton/discussion/issues/770 (I just tried again)

[2017-07-13 15:42] natalianorori commented on #785
@markmacgillivray you are right, this is a process decision. We decided that we need to save changes before pressing the button in order to make sure all information entered is correct, so I'd like to keep things as it is. I give emphasis to this on the instructions and I also sent a message to all volunteers in our group yesterday explaining that we need to save changes firsts.

[2017-07-13 15:43] JosephMcArthur commented on #785
@markmacgillivray Why would a save cause unnecessary delay? Surely it is slower for a user to save, then click the button?

[2017-07-13 15:44] natalianorori commented on #785
@jibe-b what request are you having trouble saving changes to? Can you send me the link?

[2017-07-13 15:45] markmacgillivray commented on #785
@JosephMcArthur because a save is not always required. If the action button has to do a save first, then it has to do it every time, which makes the action button slower, which detracts from the point of the action button (to do admin fast).

[2017-07-13 15:47] markmacgillivray commented on #785
@JosephMcArthur and the action buttons in the request page are supposed to be precursors for action buttons directly on the /request listing page, where saves will not be possible. So, if the workflow concept of the action button changes to being something that we always expect requiring an edit and save to occur first, then action buttons on the /request page would be infeasible.

[2017-07-13 15:52] JosephMcArthur commented on #785
I think we're thinking about speed in very different ways here. Surely the "save" you're talking about is taking fractions of a second or a bit more where the user doesn't need to be doing stuff. Even if they didn't put in an input, this feels trivial (it's quick as it removes the need for several pages / clicks / training - not because it's 1 second vs 2 seconds). However, needing to train people

[2017-07-13 15:57] markmacgillivray commented on #785
Well, looks like you and @natalianorori have to discuss and decide - it does not seem to fit with her comments above about wanting to save explicitly, and would not allow an administrator to check the changes they make before executing an action.

[2017-07-13 16:00] JosephMcArthur commented on #785
We shall, @natalianorori happy to discuss here or offline (I know we have some time tomorrow, yes?). @jibe-b also interested in your thoughts as a new user of the moderation system.

@markmacgillivray I don't understand why this wouldn't allow for checking? Use the code needed to save (which presumably flags errors of some sort) and stop the action if it errors?

[2017-07-13 16:02] natalianorori commented on #785
@JosephMcArthur My only concern with making the "send to author"button save changes at the same time is that it doesn't give us a change to double check our entry. But I agree with you that it might be hard to train people to save changes before pressing. We thought about buttons to work a certain way when I was the only one working on the system, but as we bring more people over our needs might c

[2017-07-13 16:02] markmacgillivray commented on #785
It's not a save error. If there is a save error, yes the action can cease. But also, that means writing the code to manage that. The point is that Natalia says she wants to check WHAT she saves, not IF it saves. The code cannot know if what is saved is what the user wanted. The only way to do that is to have the user save, then the user looks at it, then the user clicks an action button, which is

[2017-07-13 16:07] JosephMcArthur commented on #785
When you say "double check our entry" @natalianorori, what does that mean here? Do things often change after they've saved?

[2017-07-13 16:21] natalianorori commented on #785
not often, but remember we are dealing with names an email addresses in here. I re read what I enter to avoid typos. We could just ask people to re read things carefully, but lets be honest not everyone is going to do that. The "save changes" button makes people do it.

[2017-07-13 16:23] natalianorori commented on #778
I agree with the long signature, perhaps we could add the button's twitter handle as well? @JosephMcArthur

[2017-07-13 16:25] JosephMcArthur commented on #778
+1 on twitter, high follower count for sure shows legitimacy.

[2017-07-13 16:25] JosephMcArthur commented on #778
This is easy to test & implement while tackling an issue I think is probably still quite significant, I'm currently considering it relatively high priority test.

[2017-07-13 16:27] JosephMcArthur commented on #785
I wish I had as much faith in people - it probably wouldn't make me double check to be honest.

[2017-07-13 16:42] natalianorori commented on #785
If you don't think it's going to make them double check we can just remove it and have the UI entry save all changes. We are going to have typos every once in a while and probably would still having them even if we keep the "save changes" button.  On the other hand, if people forget to save changes the system sends out unfilled templates, which might be worse than a typo.

[2017-07-13 16:42] chealsye commented on #778
What do you need from me?

[2017-07-13 16:47] JosephMcArthur commented on #778
thoughts, if ya'got'em :) perhaps some ideas for copy & structuring the signature too.

[2017-07-13 16:50] chealsye commented on #778
The email signature is a fine idea. It is long, but it is different being a signature. I wouldn't write the signature copy this way, but if this is how you want to explain the Button and SPARC that's fine.

[2017-07-13 17:04] jibe-b commented on #770
@natalianorori in https://github.com/OAButton/discussion/issues/785#issuecomment-315118096 you asked me

All requests I tried manually,

on Chrome and Firefox

on two different machines.

Does this bug reproduce on your machines? The configurations of my browsers is sometimes a bit chaotic but when it comes to saving a form, I wouldn't bet on a configuration issue.

[2017-07-14 04:27] natalianorori commented on #477
@JosephMcArthur I would like to know who made changes in the future, but due to the limited amount of dev time we have right now, I wouldn't focus on this now.

[2017-07-14 04:36] natalianorori commented on #769
@JosephMcArthur we wouldn't have to notify users requests have been sent if we use old requests instead of newly submitted ones.

[2017-07-14 04:40] natalianorori commented on #714
Is there a way for us to see who supported each request? like their contact
info? at the moment we can only see the amount of supporters for each
request.

On Tue, Jul 11, 2017 at 5:55 PM, Joseph McArthur <notifications@github.com>
wrote:

[2017-07-14 04:50] natalianorori commented on #666
its working! closing.

[2017-07-14 04:50] #666 closed

[2017-07-14 09:20] JosephMcArthur commented on #769
Good point. Any thoughts about moving forwards, as we'll run out of our backlog soon.

[2017-07-14 09:22] JosephMcArthur opened #786 "Prettify change log for requests"
Follow on from #477

[2017-07-14 09:22] JosephMcArthur opened #787 "Track who made changes to requests "
Follow on from #477

[2017-07-14 09:23] JosephMcArthur commented on #477
Got you, makes sense @natalianorori. I've made stub issues for points not covered by this but can be dealt with later - so closing.

[2017-07-14 09:24] JosephMcArthur commented on #714
Hmmm, not in the UI right now it seems. What's that useful now?

[2017-07-14 11:12] JosephMcArthur opened #788 "ask people who receive articles via the request system to share the news or thank the author"
This would be good for us, and the author. This could be as easy as tweeting the paywalled & available link or something like that.

We'd only need a short line in the email for this, or perhaps on the request page.

[2017-07-14 13:57] natalianorori opened #789 "Have an option to send request to author without notifying the user"
users have been complaining about
- receiving too many notifications from the button when they create a lot of requests
- receiving notifications for requests they don't care about anymore, which are usually pretty old.

two options come to mind:
- Having the user check a box saying that they don't want to receive confirmation emails from us.
- Having an option in the entry box in the admin UI tha

[2017-07-14 15:37] natalianorori commented on #788
We can create a "tweet it"link with  a pre-fill twitter status. It would take the user just a second to share and help us track it easily.

- I think that it would look better on the request page. Users have to go on it to check the paper they received is correct anyways, and sometimes don't go back to the email

@JosephMcArthur

[2017-07-14 15:41] natalianorori commented on #714
@JosephMcArthur It would be useful because if I have the contact info I could manually notify supporters when requests are received/refused. request updates are not automatically sent to supporters and I know this process could be automated later, but since its not a priority we have to find a quick solution and manual moderation is what comes to my mind.

[2017-07-14 21:42] JosephMcArthur commented on #196
Note, this has recently been updated to V2

[2017-07-14 21:52] JosephMcArthur commented on #196
Note, it has some clear examples of picking up works potentially legal works (not RG anyway...) that we miss. e.g http://aip.scitation.org/doi/pdf/10.1063/1.1349893

[2017-07-14 21:57] jibe-b opened #790 "[doc] question: is dev.openaccessbutton.org/request?url=<DOI> fine to make a request?"
http://github.com/dissemin/dissemin redirects users to dev.openaccessbutton.org/request?url=<DOI> to make requests. Is it fine to use the dev instance?

I myself have problems with logging in the dev instance, so I am unsure about it.

[2017-07-14 21:58] JosephMcArthur commented on #790
nope, needs to be production (although dev is fine for testing). Dev site is periodically cleared (for one reason or another).

[2017-07-14 21:59] jibe-b commented on #790
Ok, I change this immediately on dissemin.

[2017-07-14 21:59] #790 closed

[2017-07-16 12:50] JosephMcArthur commented on #440
- [ ] Checking for OA now works on our admin site. Now need to add ability to start requests (for admins)

[2017-07-16 12:57] jibe-b commented on #770
On the admin form, after addition of some infos

clicking "Save the changes"
- fills "title" with the content that was added to "journal"
- hence loses publication's title

Seen on https://openaccessbutton.org/request/xbPMRbLqZoJGDaSNW

[2017-07-16 13:02] jibe-b commented on #770
Plus : "title" fields doesn't support quotation marks:

`Purported latest bone of a plated dinosaur (Ornithischia: Stegosauria), a "dermal plate" from the Maastrichtian (Upper Cretaceous) of southern India
`

is cut at the first quotation mark.

[2017-07-16 13:03] JosephMcArthur commented on #703
Note... life here is a lot better for me personally now we have the cookie clearer.

[2017-07-16 13:08] JosephMcArthur commented on #587
@markmacgillivray for the weekly check I know you've added a tag for "closed by weekly check" so we can still generate stats on how often authors respond.

I've realised that sometimes we're going to close requests by using the admin link system because we've missed something in the find system - and we don't want to confuse that with authors responding.

- [ ] Can we add a tickbox on the UI & tag

[2017-07-16 13:10] JosephMcArthur commented on #587
Also, @markmacgillivray can we output statistics on the request systems open / click rate in any sensible way (e.g between two dates or globally) rather than per request? I'd settle for being able to export that data and doing this via a sheet - but I can't get this from mailgun without techy help it seems.

- [ ] output global open / click rates for request.

[2017-07-16 13:10] jibe-b commented on #770
Reproducing bug: content added to the "journal" field again replaces the content stored in "title" field.

[2017-07-16 13:11] JosephMcArthur commented on #770
+1 https://github.com/OAButton/discussion/issues/770#issuecomment-315607658. I'd reproduced this prior but thought I'd accidentally put something in the wrong box!

[2017-07-16 13:26] JosephMcArthur commented on #707
Note, I think this will help address #703 as many people spoke about altering account details or being confused.

[2017-07-16 13:30] jibe-b commented on #770
This https://github.com/OAButton/website/blob/40f0f8f6afbd8ab13c7b0e5104377eeb9100aa62/content/request/item.html#L111 seems fine. So it must be the API.

[2017-07-16 13:33] jibe-b commented on #770
@JosephMcArthur May I ask you to point me to the API code where data is handled?

cc @markmacgillivray

[2017-07-16 13:43] JosephMcArthur opened #791 "on full screen, get extension button on /account fails to install"
Same issue that we fixed on the frontpage, but here. @markmacgillivray

Should be a quick fix.

[2017-07-16 13:47] JosephMcArthur commented on #703
Some things from users here who had trouble. There were other fixable issues (confusion about one-use only & wanting to check login info which are now separate issue):

# 1

# 2

# 3

# 4

# 5

# 6

# thoughts

- [ ] Can (if someone clicks on an expired link) we give a helpful error message? Currently nothing happens and they're dropped on the page to put in their email.
* Currently, on the dev si

[2017-07-16 13:48] JosephMcArthur commented on #770
This is all @markmacgillivray, sadly I can't help!

On Sun, 16 Jul 2017 at 14:33 jibe-b <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-07-16 13:49] jibe-b commented on #770
In between I started reading https://github.com/CottageLabs/api/blob/b010d83f7852a6d7b97bbb7ae981038b75489155/apps/clapi/server/endpoints/service/oabutton.js

No problem @JosephMcArthur ;)

[2017-07-16 13:52] jibe-b commented on #770
` cat oabutton.js | grep '.*title.*'| grep '.*journal.*'` on https://raw.githubusercontent.com/CottageLabs/api/b010d83f7852a6d7b97bbb7ae981038b75489155/apps/clapi/server/endpoints/service/oabutton.js indicates it is not basic mistake in storing in the wrong field.

[2017-07-16 13:58] jibe-b commented on #770
Neither does it seems to be when returning the data after a GET request.

neither _title_ nor _journal_ fields are processed here https://github.com/CottageLabs/api/blob/b010d83f7852a6d7b97bbb7ae981038b75489155/apps/clapi/server/endpoints/service/oabutton.js#L141

[2017-07-16 14:02] JosephMcArthur commented on #791
nope nope nope, actually just having this issue globally

[2017-07-16 14:03] jibe-b commented on #770
Possible track: _journal_ field is not handled the same way than _title_ in https://github.com/CottageLabs/api/blob/b010d83f7852a6d7b97bbb7ae981038b75489155/apps/clapi/server/endpoints/service/oabutton.js#L175

_title_ is set by the admin.

_journal_ seems to be retrieved from internal.

[2017-07-16 14:03] JosephMcArthur commented on #791
not we have a PR for this here https://github.com/OAButton/website/pull/35 which is when we thought it was fixed

[2017-07-16 14:07] JosephMcArthur commented on #703
@allanaaa I've made some changes to the login email and /account here. Can you take a look at code & let me know if all looks okay copy wise?

+ @svmelton if you could dig through the above comment and see if there is anything I'm missing in terms of how we'd address I'd be interested.

[2017-07-16 14:22] jibe-b commented on #770
It gets clearer. Saving works fine for:

- new author's name
- new email address
- new article title
- new DOI
- new story
- anything in fact but a new journal name

New journal name is saved in the _title_ field.

[2017-07-16 14:29] jibe-b commented on #770
OK, here it is:

- after having been filled, the admin form passes all variables

https://github.com/OAButton/website/blob/40f0f8f6afbd8ab13c7b0e5104377eeb9100aa62/content/request/item.html#L113

But the API does not consider _journal_ as a variable https://github.com/CottageLabs/api/blob/b010d83f7852a6d7b97bbb7ae981038b75489155/apps/clapi/server/endpoints/service/oabutton.js#L175

[2017-07-16 14:37] jibe-b opened #792 "[feature] add check that no field is empty before sending to author"
As the UI requires to click on _save changes_ before sending to the author and some moderators want to go too quickly (me for example), there is a need to check that the form is really full (except journal for the moment).

It will be done in

https://github.com/OAButton/website/blob/master/content/admin.html

and adds a message to https://github.com/OAButton/website/blob/develop/content/request/i

[2017-07-16 15:06] markmacgillivray commented on #770
Please note that issues should be tested on the DEV site, not the live site.

The PR issued here:

https://github.com/CottageLabs/api/pull/18

is superfluous for this reason, the dev code has already been changed to take account of the journal field.

If an error is arising on the journal field from the admin UI of the DEV site, then please look for the issue in the develop branches of the oabutto

[2017-07-16 15:23] jibe-b commented on #770
@markmacgillivray Ok, I'll take this into account for the next round. I ain't no expert ;)

And right, I missed your statement https://github.com/OAButton/discussion/issues/770#issuecomment-314593596, my mistake.

It gave me the opportunity to dive in the code of the Cottage Labs API so for me it's already fine.

One problem: I can log to dev.openaccessbutton.org but not when on dev.openaccessbutt

[2017-07-16 15:40] jibe-b commented on #770
Test done on the dev website. The journal field is saved and returned the right way :)
Thank you @markmacgillivray for having taken care of this.

[2017-07-16 15:46] jibe-b commented on #770
@JosephMcArthur what's your way of dealing with issues: I want to close this one.

[2017-07-16 15:58] markmacgillivray commented on #770
No problem!

For closing issues I usually leave them open for @JosephMcArthur to check over then he closes them, unless it is something straightforward. There has been a bit of discussion on this one, so probably wait for Joe to review and close.

[2017-07-16 16:09] jibe-b commented on #770
May I ask you @markmacgillivray how the CLapi stores the _journal_ field then?

I don't get how it is done.

[2017-07-16 16:26] markmacgillivray commented on #770
Similar to how you did in your PR, if you look in the dev branch at the line here:

[2017-07-16 16:30] markmacgillivray commented on #770
Similar to how you did in your PR, but if you look at the code in the develop branch it will not show up there yet. The latest changes are on the dev API but have not yet been pushed back to github.

At this line here:

https://github.com/CottageLabs/api/blob/develop/apps/clapi/server/endpoints/service/oabutton.js#L277

what is currently being served on the dev API includes two more lines that acc

[2017-07-16 16:31] jibe-b commented on #770
Is the _dev_ branch private?

[2017-07-16 16:42] markmacgillivray commented on #770
No they're the same thing. The dev API runs the develop branch. It's just that the repo does not yet have the latest code in it. I update the code directly where it runs the dev API, then it is tested via the dev UI. Once all confirmed working as expected, i update the develop branch. Commits to develop also update what the dev API is running. Once we're happy with that, a merge from develop to ma

[2017-07-16 16:47] jibe-b commented on #770
This way I would have found the commit you made to store the journal field :)

[2017-07-16 17:07] wetneb commented on #770
@markmacgillivray IMHO it would be much easier to contribute to the OAB if the latest code of both frontend and backend was available in a single github repository. In general, I think the separation between the website and the CL API is quite confusing (and makes it harder to run OAB locally), but I guess that is a design decision that is hard to overturn now.

The Open Science Framework can be a

[2017-07-16 17:08] markmacgillivray commented on #770
Sure, there can be (and are, at different points in time) many branches. But there is no need for a develop and a test branch unless we have need of a develop and a test branch, which we don't. You would not have needed to look at all if you had been testing against the dev API instead of the live one - that isn't your fault, I'm just highlighting that it does not matter what branches we use, it j

[2017-07-16 17:14] wetneb commented on #770
@markmacgillivray I am not talking about branches, just about using a single Git repository for everything.

That is my point: this setup acts as a deterrent… When I first learned about the OAB a few years ago, I could not find where the code actually was, so I did not contribute, and I suspect others are in the same situation.

[2017-07-16 17:15] jibe-b commented on #770
For sure, @markmacgillivray as you say you've been the only one contributing to the code it's conflicting with your workflow.

I am interesting in helping developing the OAB and it includes the backend. Could we setup a visio discussion soon?

I would suggest adding a continuous integration step, with tests done on a test server instead of the dev instance.

Then adding automated tests will make i

[2017-07-16 17:18] jibe-b commented on #770
@wetneb I guess that was mostly an answer to my message ;)

And, hum, until now I was one of those ones that were _deterred_ from diving into the code because it was not available in a standard way.

I think OAB & CLapi would benefit from this small change so I openely push for it :)

[2017-07-16 17:20] wetneb commented on #770
@jibe-b Oh yeah I was surprised too that @markmacgillivray was so quick off the marks. Ok I understand his answer better, thanks ^^

[2017-07-16 18:13] jibe-b opened #793 "[admin-UI] add an alert when viewing a request for which an email has already been sent."
Small tweak: in a userscript:

            prefix = 'btn_';
            for (i=0;i<all.length;i++){
                if (!all[i].id){
                    all[i].id = prefix +i;
                }
            }

[2017-07-16 18:32] markmacgillivray commented on #770
I wrote a very long response to this, but I think it better to get to the point: I disagree, but I don't want to discourage contribution. So if anyone wants to take on the idea of combining the repos up, feel free - that would certainly be one way to make a large contribution, and the oabutton API code can go anywhere you choose... but there are a lot more points to consider than just which repo i

[2017-07-16 18:36] jibe-b commented on #770
@markmacgillivray Would you have a bit of time this week? I will discuss with Joe and Natalia tomorrow and I am sure I would understand your vision much better if we could discuss. My email: user701@orange.fr

[2017-07-16 18:53] JosephMcArthur commented on #793
Why this this useful vs just having a request in progress?

On Sun, 16 Jul 2017 at 19:13 jibe-b <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-07-16 18:57] jibe-b commented on #793
Hum, I didn't check well enough the status of requests on Tuesday so I sent a few ones for a second time. With this inside a userscript running on openaccessbutton.org/request/* it prevents me from doing this. Mostly for personal use I guess but it may be practical to advise this to any moderator that would do the same type of error.

[2017-07-16 23:35] markmacgillivray commented on #776
I have fixed on the dev site, there are no examples but it is straightforward, so would fix the display of the problematic record on live once we make a push to live.

[2017-07-16 23:35] #776 closed

[2017-07-16 23:40] markmacgillivray commented on #791
The code from that PR is already in our code. If this issue is occurring again, then it is something that requires a different solution.

[2017-07-16 23:41] markmacgillivray commented on #769
Is the request here for me to enable admins to upload a spreadsheet of requests data that would update the requests on the live system?

[2017-07-16 23:49] markmacgillivray commented on #768
Fixed on dev, will fix live display as soon as website dev branch is merged to master

[2017-07-17 00:02] markmacgillivray commented on #682
Done on dev, ready to test there, will go on to live site when live API is next updated.

[2017-07-17 00:13] markmacgillivray commented on #791
See #657

[2017-07-17 00:17] markmacgillivray commented on #791
Now opens the url separately.

[2017-07-17 00:17] #791 closed

[2017-07-17 00:25] markmacgillivray commented on #657
Added a fix which is on dev site now, which catches errors on accounts that seem to be missing profile first name info, but should still allow the plugin to match up with the user account. This should fix the particular problem once the dev site is next merged into live.

[2017-07-17 00:34] markmacgillivray commented on #440
It is possible, but I don't have time left to code up that UI.

[2017-07-17 07:13] JosephMcArthur opened #794 "Having OAB clickable on ALMA"
Details sent to @markmacgillivray , opening this to track.

[2017-07-17 07:14] JosephMcArthur opened #795 "search widget for library pages"

[2017-07-17 07:24] JosephMcArthur commented on #440
That's a-okay. Would be happy with a bit extra functionality right now. I
should probably layout the full pipeline of stuff I think is needed to add
requests.

... so, here goes.

I think if we just added the ability to generate request ID's (or, half
baked requests) on #769 and having spreadsheet editing we''ll be able to
take everything from here (adding stories, moderating, sending etc etc).

I

[2017-07-17 07:25] JosephMcArthur commented on #682
@natalianorori can you look at this today?

[2017-07-17 07:32] JosephMcArthur commented on #769
For

Yes, that's basically what I'm asking for your thoughts on specifically. However, there is also obviously a more general problem here that your advice on solving would be valuable if you have thoughts.

[2017-07-17 07:35] JosephMcArthur commented on #657
I feel like this is going to be hard to replicate on dev. @markmacgillivray how is the fix caught & is there anything displayed to a user?

- [ ] when deployed, test with users who've had issues

[2017-07-17 07:47] JosephMcArthur commented on #676
@markmacgillivray can we get:

- [ ] request title
- [ ] request for article / data
- [ ] request link (i.e the paper link)
- [ ] request story
- [ ] author email
- [ ] author name
- [ ] requestor first name

added to these request emails (in a vaguely useful way to see).

With that info moderators will know if they can jump on quickly to get a request sorted. This will help with moderation times

[2017-07-17 07:48] #768 closed

[2017-07-17 07:50] JosephMcArthur opened #796 "Run York catalog data"
Details elsewhere, this is for tracking

[2017-07-17 07:52] JosephMcArthur commented on #793
Can you send me a screenshot of how this would appear?

[2017-07-17 07:57] JosephMcArthur commented on #703
- [ ] Once the above are discussed, mainly,

and implemented, do another couple of weeks of monitoring - me

[2017-07-17 07:58] JosephMcArthur commented on #618
@markmacgillivray you're good to do this anytime. Just please give some heads up so we don't clash with blogs / announcements

[2017-07-17 07:59] JosephMcArthur commented on #704
@svmelton you're looking at these most. If you can give me names for fields that would be more useful for you, I can implement.

[2017-07-17 09:44] markmacgillivray commented on #769
I don't think I understand why so much of this happens off the site in the first place, but I have not been involved in this work, so perhaps do not have much to add to the discussion. I think if I wanted to send different emails to different people as some sort of test of the efficacy of the emails, I would just do it via the site, but pick some way to group requests into testing sets. For exampl

[2017-07-17 09:46] markmacgillivray commented on #440
Why would you want to generate request IDs? Request IDs are generated when a request is created - what is the use of having a request ID with no info attached to it?

[2017-07-17 09:48] JosephMcArthur commented on #769
It's just a case of doing those things are hard and don't give us the numbers needed right now. The average test is going to need a few hundred requests at least, and that will take a long time on the site without the ability to get the metrics we need (like open rates on a request by request basis).

Yup, hence trying to think of a simpler (more flexible) route.

[2017-07-17 09:50] JosephMcArthur commented on #440
I'm guessing it's easier to generate a request with no info, than it is to build a UI that can add a story to them all (or, perhaps individual stories) with the right accounts. Basically, I'm trying to keep this to the absolute minimum required.

[2017-07-17 09:51] markmacgillivray commented on #440
Hmm, I don't think I understand. Can discuss later.

[2017-07-17 13:09] JosephMcArthur commented on #783
should be fixed now, right @markmacgillivray ? Caused by lack of profile, which now have a check for.

[2017-07-17 13:18] markmacgillivray commented on #783
Nope, different thing fixed, still to look at this one.

[2017-07-17 13:27] JosephMcArthur commented on #794
- [ ] talk about it

[2017-07-17 14:03] markmacgillivray commented on #587
Add a tickbox to the receiver page for when an admin provides a file or URL but ALSO wants to be able to say "this is not from an author"

[2017-07-17 14:04] markmacgillivray commented on #587
And the "not from an author" needs to be on the request export page too.

[2017-07-17 16:45] allanaaa commented on #703
The code indicates you want the placeholder text in the input box to read "Enter your login code"
I'm seeing
![prob](https://user-images.githubusercontent.com/28012148/28279015-1ffd44f8-6aed-11e7-9460-f595d22d4f1c.PNG)
... which is weird because I can't find the "Delivering to" text on the dev or master /account pages anywhere ....

Otherwise, looks good - just clarified that the login code is in

[2017-07-17 17:20] natalianorori commented on #726
I didn't have the same problem on dev, tested it already.  Not sure what happened the first time I tried. @JosephMcArthur we can close this

[2017-07-17 17:22] natalianorori commented on #682
send thanks authors_thanks_article.html to author
 if article success: send emails/requestors_request_success_article.html to requestors.
 change status to "received"

Just tested it. I submitted a URL as a user, put up a test email address I have for requests in the author's email box and my personal email address as the requestor. When I submitted the link the request status changed to received,

[2017-07-17 17:28] allanaaa commented on #703
Login email: fixed typo of "preferred." Entered a linebreak between email text + signature, as per @chealsye's request.

[2017-07-17 17:31] #726 closed

[2017-07-17 17:36] markmacgillivray commented on #703
the "Delivering to" statements are not part of oabutton per se, they are part of the login system that oabutton uses. They update the placeholder text to indicate the status of the email, which was previously requested as a way to indicate to oabutton users where in the process of logging in they were. So it overwrites the default "enter your login code" placeholder text.

[2017-07-17 17:37] markmacgillivray commented on #703
"preferred" is not necessarily a typo, it is the English spelling. Whether it is a typo or not would depend on whether or not we use American or English spelling on oabutton content, for consistency.

[2017-07-17 17:46] markmacgillivray commented on #682
It seems there are some things missing here. For example, stuff can now be received from authors OR from admins. There is also a request from @JosephMcArthur for a tickbox to show that although an admin is providing the received content, that it is not actually content from an author.

Presumably this means that we should not actually be sending thanks to the author in some cases? And also, if it

[2017-07-17 17:46] allanaaa commented on #703
I had no idea about "prefered"! I had understood Canada and UK to be of a
piece on this one. My (biased, of course) Google search results are
indicating most people see "prefered' as a misspelling. (Also
https://en.wiktionary.org/wiki/prefered)

On Mon, Jul 17, 2017 at 1:37 PM, markmacgillivray <notifications@github.com>
wrote:

[2017-07-17 17:47] allanaaa commented on #703
It doesn't sound like we can wipe the placeholder that our login system pushes, so, I think the copy is fine as-is.

[2017-07-17 17:48] JosephMcArthur opened #797 "Make it clearer what status a request is in"
- [ ] on /request/* add the request status to the page
* think about how to make this clear on /request
- [x] Give moderators a direct link to requests to moderate (could put this on the UI).

Adding myself to expand.

[2017-07-17 17:49] markmacgillivray commented on #714
Request supporters do get emailed by the admin one-click actions that you already defined, and also by the automation of emails to received requests currently being discussed in #682

[2017-07-17 17:52] markmacgillivray commented on #682
Also, did you refresh the email templates on the dev system? There is a button on the admin page for refreshing templates that was previously requested as part of this workflow - if new emails have been written / edited, but nobody has refreshed the templates in the system, then a test that tries to use an email that has not been uploaded into the relevant system (dev or live) could fail, because

[2017-07-17 17:55] markmacgillivray commented on #703
I don't mind which spelling we use, just thought it might be useful to know!

For the placeholder text, we don't have to allow the login system to push the email status into the box at all if you don't want it, but it does do that because that was requested as a solution to users not knowing that an email had been sent to them, so removing it again would seem counter to previous user tests.

[2017-07-17 19:10] JosephMcArthur commented on #714
That's what I thought, phew.

[2017-07-17 19:10] #714 closed

[2017-07-17 20:06] jibe-b opened #798 "[org] bring issues, milestones, projects back to OAButton/website"
@JosephMcArthur you told me about milestones but as issues can't be opened on OAButton/website, it is a bit tricky.

I suggest bringing back issues and projects to the main repo and keep the discussion repo for the purpose its name suggests: discussion ;)

[2017-07-17 20:52] jibe-b opened #799 "[enh] strip /^doi[:=]/ from URL in http://oab.org/request?url=<URL>"
This http://dev.openaccessbutton.org/?url=doi%3A10.1038%2Fnenergy.2017.129 fails

Pattern /^doi[:=]/ would avoid the error message.

[2017-07-17 21:06] jibe-b opened #800 "[admin-ui] keep backlog away from moderators"
It's soooooooooo frustrating!

(self-assigned)

[2017-07-17 21:10] natalianorori commented on #800
I still need to get access to all requests (as the manager) so not sure how that'd work.

[2017-07-17 21:11] jibe-b opened #801 "[feature] "too lazy" button allowing to submit while not logged in"
someone looks a paper with doi <DOI>

goes to https://openaccessbutton.org/ and searches for DOI

and doesn't neither login nor indicate s.he wants a request.

I suggest adding a button "Too lazy? We can record it for you…"

and cache the fact that the user already clicked "too lazy" and the second time replace this button by a message: "yeah, you're lazy but it's better you sign in"

[2017-07-17 21:14] jibe-b commented on #800
Ah right. So this will make you a _super_ admin ;)

But I have no clue yet how roles are handled by the API… I'll have a look.

[2017-07-17 22:15] JosephMcArthur commented on #682
Good points [here](https://github.com/OAButton/discussion/issues/682#issuecomment-315828413) Mark. Self-assigned to answer.

[2017-07-17 22:20] JosephMcArthur commented on #703
Thanks for the edits @allanaaa they look good to me. We use US spelling, so good catch.

So, for the expired notification, I'm gonna suggest a dismissable info/alert box (as we want them to be able to put in their email as usual). So, the copy for that should be something like:

@allanaaa I think the above sucks. Alternatives?

[2017-07-18 03:49] chealsye commented on #703
@allanaaa, it wasn't a typo. @markmacgillivray, thanks for jumping in and mentioning the English spelling! @JosephMcArthur, our style is to use British spelling, not US. This has been our official communications policy since inception and reiterated by you multiple times with the exception of the institutional service description, which you decided in March should be US spelling instead due to the

[2017-07-18 06:56] jibe-b opened #802 "[tests] what is the build command?"
I try to serve the website locally for tests.

May I ask what commands are to be passed to build the website and to serve it?

`npm build` doesn't do the job

but nginx with a config file to point to localhost seems to serve the website.

[2017-07-18 07:19] JosephMcArthur opened #803 "on Edge, download for chrome shows, not the bookmarklet"

[2017-07-18 07:20] JosephMcArthur opened #804 "Add internet explorer to install instructions"

[2017-07-18 07:29] JosephMcArthur commented on #798
The discussion repo contains the milestones / projects / issues and things
to coordinate work on across other repos - which almost always involves
discussion. Because it (was) so hard to track all those across repo's (and
we've always had many repos) we just try to centralize those on one repo.
We tried Zenhub to allow issues to sit in their correct repos, but it never
really felt that good.
On Mo

[2017-07-18 08:29] markmacgillivray commented on #802
node build.js

Our nginx configs are in the repo too, you would need to use parts like:

https://github.com/OAButton/website/blob/develop/oab_nginx#L69

down to

https://github.com/OAButton/website/blob/develop/oab_nginx#L83

However NOTE that if you use the site locally, it is still going to be talking to the remote API - either dev or live, depending which branch you use, so be careful if you ac

[2017-07-18 09:12] jibe-b commented on #802
Ok, thanks for `node build.js`.

Indeed, a local instance of the client _has_ to be associated to a local
instance of the backend. CLapi seems to be a meteor app so I'll try
later to serve it too.

I get the point for non-tech people. Adding continuous integration won't
break this, just add better testing ;)

[2017-07-18 11:01] markmacgillivray commented on #802
Umm, i don't understand what you're trying to do. A local instance certainly does NOT have to be served by a local copy of CL API. It's a static website! The whole point of it is it can easily be served from anywhere without backend complexity, because it can already talk to the CL API that already exists.

Also we already have CI on the API - that's exactly what we do by committing to develop, an

[2017-07-18 11:03] markmacgillivray commented on #802
The workflow for editing the static site exists to serve the team that edit it most. If we're going to change that, then it needs to be discussed with the team, and someone has to be willing to take on the development and running of a different kind of website. If you're interested in doing that, that's great, but you'll need to understand a bit more about how a website relates to a separate API -

[2017-07-18 11:15] markmacgillivray commented on #802
Also, whilst CL API is a public repo and anyone is free to try using it, it's not something that is designed to be run locally. That's not the point of it. It's not a generic library. It's a specific thing that runs an API that does stuff we need it to do.

The value of it being open source is that if anyone did worry about CL having full control of something they relied on, they could know that i

[2017-07-18 14:38] markmacgillivray commented on #770
@jibe-b @wetneb as it has now come up in other issues, I think it is necessary to clarify a few things - this is long, but not intended to put people off, just to clarify.

oabutton website and the CL API are purposefully in two different repos because they are different things. They do not serve the same purpose. The API is not the backend to a website. Having them all combined up, like the OSF r

[2017-07-18 15:00] wetneb commented on #770
Hi @markmacgillivray. Sorry if that felt like an attack, I was just trying to give you some feedback about how external contributors could feel more welcome in the OAB, based on the experience I have of contributing to open source projects, and the issues I personally had when I first looked at the OAB. If the team prefers that set up, that is perfect! You are of course free to run your project as

[2017-07-18 15:10] jibe-b commented on #802
@markmacgillivray thank you for detailing your opinion on this.

The day you will hack something on the [OpenStreetMap website](https://github.com/openstreetmap/openstreetmap-website/tree/master/app) you may change things in the [database](https://github.com/openstreetmap/openstreetmap-website/blob/master/db/structure.sql) and possibly the [API](https://github.com/openstreetmap/openstreetmap-websi

[2017-07-18 15:19] markmacgillivray commented on #770
@wetneb don't worry, the feedback is useful, if we could make it easier by putting the code all in one repo then that would be a good solution, but i thought some of the other points had become relevant. I'd still be happy for anyone to do more frontend dev particularly, but it's just not clear how combining the code or running a local copy of the entire API would make that easier. It seems it sho

[2017-07-18 15:27] markmacgillivray commented on #802
I have contributed to plenty repos, bit still don't see why having the API and the frontend in one repo is beneficial UNLESS the frontend requires the backend in order to be served. The oabutton website is not like openstreetmap - it is a static site that uses an API. It is not served by the API code at all, nor does it need the API or a database to be running in order to be viewable.

So modulari

[2017-07-18 15:40] jibe-b commented on #770
@markmacgillivray Thanks for being clear on the way you see this. Sorry for taking so much of your time on this.

I don't agree with some of your statements but that's a matter of forking, doing it differently, pushing back, isn't it?

The issues I opened were based on expectations that I have and I self-assign myself anything that is not on the dev team roadmap.

I do have push permission to OAbu

[2017-07-18 15:42] natalianorori commented on #770
@markmacgillivray Today I was trying to save the journal name and article title on this request: https://openaccessbutton.org/request/FjXQfa5s2r425mpnj on my first try, none of the information got saved. I notified @JosephMcArthur and he pushed some changes. On my second try, the article title got saved but the journal name didn't.

[2017-07-18 15:43] markmacgillivray commented on #770
It won't until we update the API. If Joe is happy for that to go ahead, can do tonight.

[2017-07-18 15:44] jibe-b commented on #770
Note that codship has [badges](https://documentation.codeship.com/general/account/new-user-signup/#adding-status-badges-to-your-repo) to provide information on the continuous integration process. Something a bit anoying with codiship is that there is no file in the repo like with with travis or gitlab-ci, so a newcomer like me can't find so much information on the tests that are passed… so long as

[2017-07-18 16:03] markmacgillivray commented on #770
@jibe-b sure, forking and pushing back can be useful. But so far i still don't understand why you seem to be doing things that appear to be making it harder for yourself instead of doing other things.

Why fork the API and run it locally just to edit a separate, static website? If you want to develop the website, that's great. Push to develop and you'll be able to see your changes. You don't even

[2017-07-18 16:15] jibe-b commented on #770
True point, you don't know my goal, I don't either. I can just write about methods that _I_ consider and already experienced as valuable – and I'me the only one that should be affected by my opinions.

At least you know my expectations, and you may follow any (for the moment really limited ;) ) steps I make.

Indeed your work is valuable, and the log is full of the high quality commits you have ma

[2017-07-18 16:43] jibe-b opened #805 "[style] make date ranges visible on request UI"
The date range slider has no caption and is not easy to handle.

Yet, the interval is available, though the contrast is not optimal.

![image](https://user-images.githubusercontent.com/6146483/28328846-204bb38a-6be8-11e7-8e0a-926d58e47285.png)

(selecting the text)

![image](https://user-images.githubusercontent.com/6146483/28328874-346bced6-6be8-11e7-8b5a-9175818db080.png)

self-assigned.

[2017-07-19 19:32] svmelton commented on #751
Just got this note via Zendesk:

Hello -- I just wanted to report that the OA button is sometimes pointing to password-protected repositories (such as from http://www.tandfonline.com/doi/full/10.1080/09644016.2017.1343766 to https://repository.abertay.ac.uk/jspui/handle/10373/2720).

Thanks!

[2017-07-19 22:06] natalianorori commented on #762
can we push this to live asap? @JosephMcArthur

[2017-07-20 07:41] JosephMcArthur commented on #762
should be on live now! cc @markmacgillivray

Is it not working?

[2017-07-20 11:53] markmacgillivray commented on #762
It looks like the code is up on live, it should work just the same as it did on dev...

[2017-07-20 14:38] JosephMcArthur commented on #792
I'd really love to see this!

[2017-07-20 14:49] JosephMcArthur commented on #770
Folks, I'll review the above asap. But sadly we still have an issue.

so, we've pushed were thought to be fixes to the API & website here - but apparently are still seeing this issue. I've again replicated the issue of adding a journal overwriting the title data on both dev & prod.

cc @markmacgillivray this really need to get pushed.

[2017-07-20 15:29] markmacgillivray commented on #792
This means you'd have to be happy with not being able to send when some info is missing though - like, what if something doesn't have a DOI, it if we haven't found an author name? As long as we have an email, it would still be possible to send a reasonably sensible request - that's why those fields are not already required fields.

[2017-07-20 15:34] jibe-b commented on #792
or maybe we add to each field a checkbox "send even if empty"

[2017-07-20 16:59] markmacgillivray commented on #770
OK, was a misuse of field name on the site js, has been fixed now along with some layout fixes for the bigger save button. @JosephMcArthur you can test on dev then merge the dev site to master as soon as you are happy, no changes needed to the API, so it should start working on live as soon as you merge.

[2017-07-20 19:20] natalianorori commented on #770
still can't save article title on live
It seems that when I open the article URL, the system changes the article title field and adds the journal name there instead.
and once I try to change it and write back the correct article title and press save changes, nothing happens. So we are ending up with requests with journal names instead of article titles
ex: https://openaccessbutton.org/request/Dk84

[2017-07-20 19:21] markmacgillivray commented on #770
I haven't put it on live, it's on dev for testing

[2017-07-20 19:24] natalianorori commented on #762
tested on live and working, thanks Mark.

On Thu, Jul 20, 2017 at 5:53 AM, markmacgillivray <notifications@github.com>
wrote:

[2017-07-20 22:01] JosephMcArthur commented on #770
Should be on live now!

On Thu, 20 Jul 2017, 20:21 markmacgillivray, <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-07-21 19:28] markmacgillivray commented on #192
Stats updated on dev. Not exactly as above, because some of the stats don't quite make sense in the newer context of most things being possible without logging in now. Also I have not made it necessary to log in to view this page - it provides no administrative or other functionality, and contains no private info - if you still do want it to require login, please clarify if you mean login required

[2017-07-21 19:30] #794 closed

[2017-07-21 19:34] markmacgillivray commented on #192
Note that although this is on dev, it IS using the figures from live, to give a clearer indication of things.

[2017-07-21 19:45] JosephMcArthur commented on #192
Thank you Mark! This is looking much better. Some things below in response to places were more info looks like it's needed.

- [ ] Yes, let show these as total figures (not %s) & their change in the past week.

It would be helpful to be able to show:
* Requests with stories
* Requests moderated
* Requests successful
per week.

[2017-07-21 19:57] allanaaa commented on #703
Alternatives:

[2017-07-21 20:11] markmacgillivray commented on #192
What does requests moderated actually mean? There are requests at the "moderate" status, but after that there are requests received or refused, both of which are already shown. The only thing in between is requests in progress. Or do you want a count of everything at any status AFTER moderate? These could reasonably easily be added as overall counts, but not broken down per week, as requests can c

[2017-07-21 20:40] JosephMcArthur commented on #770
@jibe-b / @natalianorori we think this is fixed now. Please re-open if you see the issue reoccuring.

[2017-07-21 20:40] #770 closed

[2017-07-21 21:35] markmacgillivray commented on #192
I have added the table of plugins/bookmarklets users are using all-time and in last week (but we have no figures for last week - they will show when we do). I have also added a line chart for successful requests over time by week, and have added the count of requests with stories.

I think that is everything except the requests moderated, which I think is just the inverse of what we are already sh

[2017-07-21 21:46] JosephMcArthur commented on #804
@allanaaa can you take a look at https://dev.openaccessbutton.org/bookmarklet_install#ie give it a try & suggest any copy edits?

Also, can you replicate for Edge / Firefox? I have hidden some initial sections for this already.

[2017-07-21 21:56] markmacgillivray commented on #803
Have tried adding a fix on dev, because:

https://webmasters.stackexchange.com/questions/83804/why-does-the-internet-think-microsoft-edge-is-google-chrome

Edge tries to identify itself as chrome, amongst other things.

Can someone with Edge try the dev site and see what comes up now?

[2017-07-21 21:56] markmacgillivray commented on #803
Will assign to @JosephMcArthur but reassign to anyone with Edge.

[2017-07-21 22:01] JosephMcArthur commented on #803
@allanaaa you should be able to test this while you work on #804.

Use browserstack for crossbrower testing. The login is in lasspass.

[2017-07-21 22:02] markmacgillivray commented on #676
OK, I have tried stringifying the whole request object into the email text, it is on dev now, so try it and see how it goes - you should then have all the info about any request.

[2017-07-21 22:02] JosephMcArthur commented on #804
it may actually make sense for these to be separate pages. Easier to share, and will look less intimidating. I'd suggest that.

[2017-07-21 22:08] JosephMcArthur commented on #804
Okay, have broken them up and left notes for you @allanaaa in each.

[2017-07-21 22:23] JosephMcArthur commented on #192
Great, we're getting close here.

- [ ] Show website & api & bulk differentiated in table.

Also, when we have the old version of the page these numbers were higher, if memory serves, so what does "all-time' mean?

- [ ] answer that

- [ ] show new requests (with stories) per week

[2017-07-21 22:23] #524 closed

[2017-07-21 22:35] markmacgillivray commented on #192
I have added a plugin tag to bulk jobs that will say they were done as bulk. Website and API did not used to differentiate, however now the website will. API uses are not included in the table - they are not explicitly declared, and will just be the remainder.

The numbers were not higher, just different. The current live stats page shows "higher" numbers but what it is showing is a count of peopl

[2017-07-21 22:40] JosephMcArthur commented on #192
Great, can't see these in the table yet but I'm assume they will be soon.

It would be nice if they were :)

Here, sorry, I'm talking about website & plugin numbers.

[2017-07-21 22:48] JosephMcArthur commented on #785
Just to make sure the path forward is clear here, what I'd like to see is for clicking an action button to save any changes in the form before taking the action.

@jibe-b, are you going to take another shot at your PR in the near future, seems like you were close! If not, I'll ask Mark to handle.

[2017-07-21 22:49] JosephMcArthur commented on #657
@markmacgillivray I know we had a few mix ups, so before I email a bunch of users is this fix on live?

[2017-07-21 22:55] markmacgillivray commented on #192
Yes website, bulk etc will not appear until we push to live and wait a while.

Added API counts to table.

Added new requests with stories over time by week.

I'm talking about website and plugin numbers too. That is what I mean - current numbers on live are higher, but they are showing for the last 10000 queries, whereas the new stats on dev are querying the live stats but across all 3500000, the

[2017-07-21 22:59] markmacgillivray commented on #657
Yes it is on live

[2017-07-22 08:44] JosephMcArthur commented on #657
Okay, sent notes to a a few users about this. Fingers crossed.

On Fri, 21 Jul 2017 at 23:59 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-07-22 19:03] markmacgillivray commented on #587
I have added a not from author checkbox to the response page.

Also added DNR, mail, and request change history to the export page.

Created a /import page where requests can be imported again after certain fields have been edited. The import page gives information about what and how to import.

I have added to the fields that can be exported from requests.

NOTE: there is a problem with the "refu

[2017-07-22 19:04] markmacgillivray commented on #769
Having discussed with @JosephMcArthur we believe this is achievable with the imports, exports, and bulk admin jobs. Imports and exports have been updated, as detailed in relevant issues. This is just a note to say that creation of requests from bulk admin jobs is next on the list of things to do, then this should be possible too.

[2017-07-22 19:05] markmacgillivray commented on #192
@JosephMcArthur can this be closed now?

[2017-07-22 19:07] JosephMcArthur commented on #192
yes, I'll keep looking at the page bug we're in smaller issue territory now!

Thanks for getting this together!

[2017-07-22 19:07] #192 closed

[2017-07-22 20:52] JosephMcArthur commented on #587
- [ ] on /import give a strong warning to export the database before import (incase you screw something up)

I think this is okay. If one author refuses, I don't know why we'd need to list the next one who'd refuses (don't they currently just see a thanks for getting back to us page anyway?).

This isn't needed, and in fact is desired I think!

[2017-07-22 20:53] JosephMcArthur commented on #587
Any word on https://github.com/OAButton/discussion/issues/587#issuecomment-315608276 @markmacgillivray

[2017-07-22 20:56] JosephMcArthur commented on #587
Sorry, ignore that, can see mail stats on export.

[2017-07-22 21:04] JosephMcArthur commented on #587
@markmacgillivray  I'm not immediately seeing:

or

in the exports.

I'm guessing that's because they can all happen multiple times? Can we get the most recent timestamp in a sheet?

[2017-07-22 21:06] markmacgillivray commented on #587
We don't store the date and time an email was entered onto a request, or the time things were moderated or closed. You could find it though by looking through the change history export for the ID of the request you are interested in, then looking for a change to the status field to the value you are looking for.

[2017-07-22 21:06] markmacgillivray commented on #587
Once you export the changes, it should be pretty easy to sort that in excel and find the relevant times.

[2017-07-22 21:07] JosephMcArthur commented on #587
My next question is of course, can we store it :)

On Sat, 22 Jul 2017 at 22:06 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-07-22 21:09] markmacgillivray commented on #587
it is stored, in the change history.

[2017-07-22 21:17] markmacgillivray commented on #587
There is an error that is intermittently crashing dev - it is not directly related to this issue, but is caused by occasional attempts to download the changes. Note that it is not because of anything wrong in the writing of the code for this issue, it appears to be a problem in the framework. It is being investigated, this note is just to let you know if you seem to see a changes export hang, and

[2017-07-22 21:41] JosephMcArthur commented on #657
Note: I've emailed a few users... now we wait.

[2017-07-22 22:03] markmacgillivray commented on #587
I think the intermittent export error is fixed - please go ahead and test this now.

[2017-07-22 22:05] JosephMcArthur commented on #587
One thing I've just noticed, exporting all requests on live gives only 10001 results. That's obviously missing a few.

[2017-07-22 22:10] markmacgillivray commented on #587
That is already fixed on dev, should go up to 100000 now

[2017-07-22 22:11] JosephMcArthur opened #806 "leave things as we found them in sheets"
Currently, we overwrite the sheets people give us with our own results. Would be nice if they were just added to the right of whatever is given to us.

if there were multiple things in the sheet that we might take as inputs, then we'd just that the first row with a header that matches our needs.

[2017-07-22 22:11] JosephMcArthur commented on #587
Wooooooooo.

On Sat, 22 Jul 2017 at 23:10 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-07-22 22:17] JosephMcArthur commented on #440
- [ ] breakout what we currently have into a separate page (rather than a part of admin). No styling needed, just KISS as we have now.

- [ ] make the above page viewable to all when / if it stops crashing the api for unknown reasons

[2017-07-22 22:17] JosephMcArthur opened #807 "Investigate some missing stories"
On our stats page it says we only have ~3250 stories. This is odd as we'd have imported about 8.5k from the old system, and have got many since.

Case in point:
* Data requests with stories = 47
* Data requests without stories = 906

Those numbers include a huge number of old data requests (from when stories were very mandatory) which still exist (i.e weren't purged for some reason like being dupl

[2017-07-23 12:33] JosephMcArthur commented on #440
Mark, when started requests via the spreadsheet upload can we have an option to start turkers (or not) on them when that works.

[2017-07-23 12:43] JosephMcArthur commented on #648
Note, Mark, the plan is to start getting Journals & maybe even author names eventually with this.

[2017-07-23 16:18] JosephMcArthur opened #808 "When searching catalogs, add negative result as well as positive"
as with availability (e.g link or "No").

Linked to #440

This helps know if it's working.

[2017-07-23 16:23] markmacgillivray commented on #808
But we don't search every catalogue. We stop once we have found something. So we can't show yes/no for every catalogue, this information is not stored. We only know where we did find it, and after that, other catalogues are not searched. We could record which ones we did search up to the point we stopped, but this will not show you where it was and where it was not. And seems like extra work for l

[2017-07-23 16:53] markmacgillivray commented on #808
Oh wait, thought you meant the main availability check. If you mean library catalogues, yes can do that for the ones we do search (which is chosen by the uploader, not fixed)

[2017-07-23 16:57] JosephMcArthur commented on #808
Yes, was talking about Library catalogs. Of course, this only needs to be
displayed when someone ticks the catalog in question.

On Sun, 23 Jul 2017 at 17:53 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <ht

[2017-07-23 17:51] markmacgillivray commented on #808
it now shows "not available" or a combination of "Journal subscribed;In repository;In library"

[2017-07-23 17:51] #808 closed

[2017-07-23 18:08] markmacgillivray commented on #440
I have separated this out to its own page on dev, but still requires admin login. Are you wanting to let any user upload unlimited bulk jobs with no controls?

[2017-07-23 18:09] JosephMcArthur commented on #440
Yes, although it'll be slow at first (we won't advertise publicly till
there is a decent UI) and we shouldn't do that until it's more stable.

On Sun, 23 Jul 2017 at 19:08 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mc

[2017-07-23 18:26] markmacgillivray commented on #783
Fixed - an error arose from the old nginx config and the use of a "new" page for requests which we don't use any more. Removed the old page file and changed the nginx config.

[2017-07-23 18:26] #783 closed

[2017-07-23 18:32] markmacgillivray commented on #440
OK, for now will unassign myself, it is separated and the only way to find out if that underlying bug is really solved is just to keep running a few jobs. All have been fine since I fixed last night.

The way it currently works is fine for admins but probably not for anyone to use - particularly the wait for job history does a check of all old jobs, whereas we probably don't want to bother with th

[2017-07-23 18:44] markmacgillivray commented on #703
It is not possible to differentiate between expired and invalid logins, so I have put a message into it which is now viewable on dev, as below:

Sorry, your login has expired. This may have happened because you have not signed in for a while, or because you tried to sign in with a token or a link that you have used before, or because it expired (they must be used within 30 minutes), or because you

[2017-07-23 18:59] markmacgillivray commented on #618
@JosephMcArthur technically free cloudflare is only for personal sites - do you want to run it through my personal account or set up an account for it and pay the 20 dollars per month for the basic site coverage? Also it goes by root domain rather than subdomain so can't do for dev separately from live, although once creating a config for the domain root we can use different page rules for differe

[2017-07-23 20:00] markmacgillivray commented on #769
Have added a link to the /bulk page job history listings called Request. Click it to confirm how many requests will try to be created, then agree to create requests, noting the msg that says if we did not have at least a url or a doi provided or found during the availability check phase, requests will not be created for those. If you agree, it will go off to try to create as many as it can, then p

[2017-07-24 08:42] JosephMcArthur commented on #618
We can't afford to add any running costs right now, so would have to be
personal.

On Sun, 23 Jul 2017 at 19:59 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_

[2017-07-24 08:58] JosephMcArthur commented on #703
Thanks @markmacgillivray .

I used:

Sound okay @allanaaa?

If so, please close!

[2017-07-24 09:04] JosephMcArthur commented on #440
Thanks, Mark. I'll just keep using it and monitoring / reporting things!

[2017-07-24 09:14] JosephMcArthur commented on #769
Will requests made on dev make requests on dev?

On Sun, 23 Jul 2017 at 21:00 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-07-24 09:26] markmacgillivray commented on #769
Yep. I already made a couple

[2017-07-24 09:28] JosephMcArthur commented on #769
Fab! Same with import data, right? It'll only affect dev. Sorry for the
super obvious questions, but these things play with fire ;)

On Mon, 24 Jul 2017 at 10:26 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe

[2017-07-24 09:29] markmacgillivray commented on #769
Yes

[2017-07-24 09:32] JosephMcArthur opened #809 "Some datasets to run through oasheet"
- [ ] altmetric top 100's
- [ ] systematic analysis
- [ ] reference lists
- [ ] cancer studies list
- [ ] sci-hub doi list

from https://github.com/OAButton/discussion/issues/440#issuecomment-294529916

+

- [ ] https://www.authorea.com/users/8850/articles/125400/master/folder/Raw%20table%20data

[2017-07-24 09:34] JosephMcArthur opened #810 "Make /bulk publically viewable"
When ready (i.e we've not had an API crash in a while!).

May need to add some simple copy to the page if it goes live without full designs.

Following from https://github.com/OAButton/discussion/issues/440

[2017-07-24 09:34] JosephMcArthur commented on #810
Assigning myself to decided when to push live.

[2017-07-24 09:35] JosephMcArthur commented on #440
I'm actually going to close this. I think it's served it's purpose (& more).

Will bump further steps into new issues.

[2017-07-24 09:35] #440 closed

[2017-07-24 09:38] JosephMcArthur commented on #703
Note: I've asked @svmelton to start emailing users as I did at the start of the issue with these new changes in. Will ask her to continue until I say otherwise.

[2017-07-24 09:39] JosephMcArthur commented on #657
Closing, and will reopen with specific issues.

[2017-07-24 09:39] #657 closed

[2017-07-24 09:44] JosephMcArthur commented on #676
@natalianorori can you test the above? would love to get this shut!

[2017-07-24 09:45] JosephMcArthur commented on #704
@markmacgillivray is there anything you can do simply to improve how these land in our inboxes? They're pretty ugly and it can be hard to decipher, a little work would probably go a long way.

[2017-07-24 09:58] JosephMcArthur commented on #210
@nemobis yeah we probably just don't show that as it's not actually readily available.

[2017-07-24 09:58] #210 closed

[2017-07-24 10:03] JosephMcArthur commented on #483
From a technical perspective, what we'd need here is for a spreadsheet to be able to feed info into our shera.romeo checker. It would probably need only two fields, journal name and sherpa remeo colour.

After that, how we fill the sheet is another problem but at least it lets us experiment with that.

[2017-07-24 13:30] #703 closed

[2017-07-24 20:44] JosephMcArthur commented on #809
@svmelton can you give me a hand gather in the above?

If you can deliver me Google sheets of:
- [ ] All altmetrics top 100"s
- [ ] the references in the most recent ICC (big climate change report)
- [ ] https://www.authorea.com/users/8850/articles/125400/master/folder/Raw%20table%20data
- [ ] the top 1000 papers (by citation)
- [ ] anything linked out here: http://www.nature.com/news/the-top-100-

[2017-07-25 14:16] svmelton commented on #809
@JosephMcArthur Yup! Can you point me towards the template you'd like these in?

[2017-07-25 14:20] JosephMcArthur commented on #809
If you can give me sheets that have columns of urls, dois, titles or
citations (whatever readily available, but with a preference for things
towards the left) that's perfect. Any other info is helpful (like, sources)
but they're the main thing.

On Tue, 25 Jul 2017 at 15:16 Sarah Melton <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://ri

[2017-07-25 15:09] JosephMcArthur opened #811 "Allow an identifier to pass in / out of /bulk unchanged (can use a simpler number)"
I've just found that in my analysis workflow the title matching (which I thought I tested going in / out the sheet and seeing it as being unchanged) in fact isn't... which is going to cause major headaches.

I really need to be able to match data easily going in & out. I think a simple UID column would work really well.

Doesn't need to be required.

[2017-07-25 15:12] markmacgillivray commented on #811
What does this mean?

[2017-07-25 15:14] JosephMcArthur commented on #811
Can we add a column to the input of /bulk that is just a column of numbers that doesn't change in any way & is just outputted?

That would solve my problem.

[2017-07-25 15:20] JosephMcArthur commented on #811
@markmacgillivray can we bump this into this sprint? Need to get this soon (currently going to have to do like 500 by hand I think!)

[2017-07-25 16:19] JosephMcArthur commented on #811
To be clear, this means I can put in something like

| title                                          | UID |
|------------------------------------------------|-----|
| a thing                                        | 1   |
| a thing revoked                                | 15  |
| you'll never guess what we found about a thing | 45  |

and it'll come out with that UID column in the results unchan

[2017-07-25 20:02] allanaaa commented on #803
Still linking to Chrome, sorry! (Or, the Chrome webstore link shows in the bottom bar of the browser; the link doesn't actually load.)

[2017-07-25 20:03] allanaaa commented on #804
FF is done; IE should be done shortly.

Unfortunately, you have to trick Edge into using bookmarklets.
http://www.makeuseof.com/tag/17-essential-bookmarklets-microsoft-edge-ie11/
http://www.itworld.com/article/2954526/personal-technology/how-to-manually-install-bookmarklets-in-microsoft-edge.html
https://www.queryxchange.com/q/27_37986517/microsoft-edge-browser-does-not-support-javascript-bookmark

[2017-07-25 20:05] allanaaa commented on #804
re: Option 3 (Reading List), if you close the error message and click the Button again it gets frozen on an unmoving buffer-wheel.
![oabnope2](https://user-images.githubusercontent.com/28012148/28591267-18445a78-7153-11e7-93f5-2fa37d2b9d4c.PNG)

[2017-07-25 23:02] markmacgillivray commented on #704
On dev I have altered the format of the feedback form email - I have not actually looked at it, but give it a go and see what you think.

[2017-07-26 07:38] JosephMcArthur commented on #811
Could also do this by just saving the file used initially and presenting that (assuming row orders don't change). That would be fine for me for now.

[2017-07-26 11:01] markmacgillivray commented on #811
This could still do with some work re. how it presents answers, but it is working now - also, you won't have to rerun your old jobs if you just want to match them against something you already had in your sheet.

Try downloading the CSV results of a job on the bulk page, you will now see that it output whatever fields were input when you uploaded to start the job, and THEN it starts with our MATCH

[2017-07-26 11:02] markmacgillivray commented on #811
btw if there are any problems, I am out until 5pm today, so won't be fixing anything until tonight at the earliest.

[2017-07-26 20:45] markmacgillivray commented on #795
I have added a file to dev, in the static folder, called oabutton_widget.js. At the top it explains how it can be used. BEFORE it is given to anyone though, we should push to the live site and they should use it by calling it from the live site, not the dev site.

However, to demonstrate, here is an example of it being called from the dev site and working on a different domain:

http://holder.test

[2017-07-27 11:01] JosephMcArthur commented on #795
This is hella cool @markmacgillivray

Some notes:
- [ ] remove data from this view.
* The link when a title / citation isn't found probably wouldn't work

cc @chealsye. This is the embed type thing that people have requested.

[2017-07-27 11:07] JosephMcArthur opened #812 "Missed linkages on oa? journal"
http://journals.lww.com/neponline/Fulltext/2017/01000/Students,_Technology,_and_Teaching___Findings_from.16.aspx from Astrid

[2017-07-27 14:50] JosephMcArthur opened #813 "Improve mobile install instructions"
- [ ] tell them to use the frontpage
- [ ] suggest they use "add to homepage"
- [ ] suggest they bookmark?
- [ ] get a short URL to aid usage (e.g oabttn.io) and let people know that can just do oabttn.io/aurl

[2017-07-27 20:09] natalianorori commented on #745
just sent out a test batch to mturk @JosephMcArthur

[2017-07-27 20:10] JosephMcArthur commented on #745
Wooooo!

On Thu, 27 Jul 2017 at 21:09 Natalia Norori <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-07-28 12:16] JosephMcArthur opened #814 "export of users doesn't contain sign up time or email"

[2017-07-28 14:50] jibe-b opened #815 "[feature] distinguish between "Success" and "Got a pointer""
Whether an author uploads a paper or s.he or an admin enters a link to an already available full-text, the indication is the same `Success! This item has been made available!`

A status should be added: "Pointer entered to the database". It is a gain, but sensibly different from an author actually releasing the full-text of an article.

[2017-07-28 15:19] allanaaa opened #816 "Email validation giving false error"
I wanted to push along a request that needed an author email. I supplied the address given on the article page, but got an error.
![uh](https://user-images.githubusercontent.com/28012148/28723981-8a735344-7386-11e7-9e4b-41ab4774bd15.PNG)

Are we validating with a regular expression? Is it perhaps catching up on the periods strewn throughout this address?

[2017-07-28 15:41] allanaaa commented on #816
Never mind, I tried it on a totally normal email address for another request and that gave me an error too.

[2017-07-28 15:51] JosephMcArthur commented on #816
Hmmm... well that's a problem if I ever saw one! Can you test on the dev site too please? @allanaaa

[2017-07-28 15:51] JosephMcArthur commented on #816
and link to specific requests

[2017-07-28 15:56] allanaaa commented on #816
Sure! The one above is https://openaccessbutton.org/request/Wom2YgYKrndrpFizu

[2017-07-28 15:57] markmacgillivray commented on #816
Mailgun started charging for validation checks last night. I knew about this and meant to mention to Joe at our last meeting, but forgot. However I thought it would keep working fine, but it turns out that because payment did not used to be required, we never actually used to send the oabutton mailgun api key along with the requests at all - so now, because we are not authenticating, we are not ge

[2017-07-28 15:59] allanaaa commented on #816
On dev, the email address I entered didn't appear to be accepted (nothing happened on the page), but when I refreshed the request it had moved on to moderation status.
https://dev.openaccessbutton.org/request/sAuT7ubAcaCXG8ouN

[2017-07-28 16:16] markmacgillivray commented on #816
Probably your dev test clashed with me making the change. You should find that it works now as expected on dev. Live has been changed but takes about ten minutes for it to deploy to all the cluster machines, so try that in ten minutes too and it should work. I have checked the mailgun account and it is registering validations from today now, so appears to be working already. Have a look, then clos

[2017-07-28 16:33] allanaaa commented on #816
https://openaccessbutton.org/request/Wom2YgYKrndrpFizu

Same visual when entering this email: nothing happens when the Save button is pressed, but on refresh the email appears to have been saved.

https://openaccessbutton.org/request/LBSgRo9JDGmsgcuk3
![oab1](https://user-images.githubusercontent.com/28012148/28726894-0459ac1c-7391-11e7-950a-c3348dcdd24f.gif)

[2017-07-28 20:37] natalianorori commented on #778
I would like to test this next week if possible, thoughts on this? @JosephMcArthur?  Would like to have a template up on the system to start testing.

[2017-07-28 20:42] natalianorori commented on #758
I agree with that, but I also would like to note that the amount of authors contacting users directly might not be as low as we think. I don't have exact numbers, but there have been some users reaching us out letting us know that they got hte paper directly from the author and that they don't wish to bother them again

I think that in the future, it might be worth asking users for feedback (eithe

[2017-07-28 22:28] markmacgillivray commented on #816
If the email is valid then it won't show anything - it just accepts it.

[2017-07-28 22:35] chealsye commented on #758
My reason for thinking the numbers are low is because it is too difficult for someone to figure out who a person is. It is easy to identify a librarian if you know their uni and name, but it is next to impossible to identify a student which is our greatest amount of requests.

Do you know if that user *also* emailed the author themselves after making a Button request? I know advocates who do both,

[2017-07-29 18:05] jibe-b opened #817 "[moderation] clicking "broken link" status action doesn't seem to do its job"
The following request has a doi not resolved oadoi.org/10.3945/acjn.116.146837

https://openaccessbutton.org/request/r3oTwAH4y5jRMDCkJ

but clicking "broken link" in status action button doesn't modify the status of the request after reload.

[2017-07-29 18:07] jibe-b commented on #785
:+1: for making clicking "save" not reload the page :)

[2017-07-29 18:08] jibe-b commented on #752
To be discussed at OpenCon cc @wetneb @JosephMcArthur

[2017-07-29 18:27] jibe-b commented on #782
Done at commit https://github.com/OAButton/website/commit/b52542e2049330d45905065865b2ef3dac581cf0

[2017-07-29 18:27] #782 closed

[2017-07-29 21:51] natalianorori commented on #817
It doesn't modify the status, but it does send out an email to the user fyi :)

[2017-07-29 23:23] wetneb commented on #752
oh you applied too! great!

[2017-07-29 23:49] jibe-b commented on #817
Ok, thanks for the info!

I suggest to update it to:

- display "an email has been sent to the user who requested to indicate the link was broken"
- change status to "bad request"

Unfortunately, one user received the emael two or three times as I was reproducing the strange behaviour^^

[2017-07-30 14:49] JosephMcArthur opened #818 "change how the job history content is calculated, and increase the timeouts"

[2017-07-30 15:38] JosephMcArthur opened #819 "Improvements to tmurk FT checker"
- [x] If no title is available, show link or other instructions
- [x] make FT available / unavailable a
- [x] improve field ID's & export order

[2017-07-30 15:41] jibe-b opened #820 "[feature] enable to provide authors's info and request, not related to a paper"
One user may want to ask an author to release full-text in OpenAccess, using dissem.in.

Instead of asking for a specific publication, the user should provide information to identify the author.

This would principally be an association of the processes of OAB and dissem.in

[2017-08-01 13:19] #811 closed

[2017-08-01 13:20] JosephMcArthur commented on #806
closed in #811

[2017-08-01 13:20] #806 closed

[2017-08-01 13:26] JosephMcArthur commented on #816
This sounds fixed now, so closing!

[2017-08-01 13:26] #816 closed

[2017-08-01 13:27] JosephMcArthur commented on #769
Haven't tested this yet, but closing for now and will reopen with bugs.

[2017-08-01 13:27] #769 closed

[2017-08-01 13:30] JosephMcArthur commented on #587
closing, pending issues raised in testing.

[2017-08-01 13:30] #587 closed

[2017-08-01 13:40] natalianorori commented on #676
@markmacgillivray  @markmacgillivray just tested it on dev, didn't get a notification

[2017-08-01 13:47] JosephMcArthur commented on #676
- [ ] @natalianorori when these are fixed can you set up a filter / forwarding system in your email so they can get passed to me too (and others, when desired)?

I can walk you through it.

[2017-08-01 13:51] natalianorori commented on #676
I think I know how to do it, its by turning on automatic forwarding on
gmail right?

On Tue, Aug 1, 2017 at 8:47 AM, Joseph McArthur <notifications@github.com>
wrote:

[2017-08-01 13:52] JosephMcArthur commented on #676
Yeah, for some pre-set filter (e.g from a certain email or with a certain
subject)

On Tue, 1 Aug 2017 at 14:51 Natalia Norori <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mc

[2017-08-01 13:57] JosephMcArthur commented on #804
- [ ] @allanaaa can you change the gif to be from FF.

Otherwise, looks good. I presume you've tested these step by step (rather than lifting from elsewhere without testing).

FF is good enought to go live, so replacing link on /account.

[2017-08-01 14:16] JosephMcArthur commented on #804
also remember to upload gifs to the repo. otherwise users get security warnings about page content.

[2017-08-01 14:59] JosephMcArthur commented on #704
This looks much better @markmacgillivray.

Assuming these changes will apply to all our forms I'm closing.

[2017-08-01 14:59] #704 closed

[2017-08-01 15:45] allanaaa commented on #804
Whoops! Images fixed.

Browserstack doesn't seem to allow copy-pasting in Safari, so I can't install the bookmarklet. If someone is on a Mac, can you grab the second gif for the page, following the instructions?

https://dev.openaccessbutton.org/bookmarklet_install_safari

[2017-08-01 18:33] JosephMcArthur commented on #804
You shouldn't need to copy & paste anything, drag and drop works fine on my
Safari. Why are you suggesting that ( + your gif looks like a very old
version of safari)

On Tue, 1 Aug 2017 at 16:45 allanaaa <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org

[2017-08-01 18:41] allanaaa commented on #804
It's the only safari available on browserstack. (5.6.1 or something?) Sorry
I'm not more Mac-useful....

On Aug 1, 2017 14:34, "Joseph McArthur" <notifications@github.com> wrote:

[2017-08-01 18:56] JosephMcArthur commented on #804
... that's so dumb. They're on version 10.

There is now a gif in static you can use.

On Tue, 1 Aug 2017 at 19:41 allanaaa <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcart

[2017-08-02 10:45] JosephMcArthur opened #821 "Run only certain sources in /bulk"
for example run only share, or only base, or only oadoi.

[2017-08-02 10:46] JosephMcArthur opened #822 "Differential splash page & FT link in API"

[2017-08-02 10:49] JosephMcArthur commented on #822
only if required.

[2017-08-02 11:15] JosephMcArthur commented on #560
to close this we want to:

- [ ] resolve handle / doi's to their URL's
- [ ] have the redirect sheet working

[2017-08-02 11:17] JosephMcArthur opened #823 "get datadump from opendoar"
Needs:
- [ ] repo name
- [ ] URL of repo
- [ ] supporting tech

[2017-08-02 11:18] JosephMcArthur opened #824 "check resolved URLs for broken links, if found don't return"

[2017-08-02 11:27] JosephMcArthur commented on #461
This issue is now about scaling what's done in #560.

## Previously suggested in #642

from #592

### Mark's response

# Path forwards

Scaling our human moderated approach with https://github.com/OAButton/discussion/issues/461#issuecomment-301752843.

To do that I need to:
- [ ] test dataset with a mix of DOI's, URLs, title as inputs. In that I also need to look at data that shows a tradeoff betw

[2017-08-02 11:27] JosephMcArthur commented on #642
closing as suggested in https://github.com/OAButton/discussion/issues/461

[2017-08-02 11:27] #642 closed

[2017-08-02 11:28] JosephMcArthur opened #825 "Look through ILL data and extract any patterns helpful for reducing errors"

[2017-08-02 11:47] JosephMcArthur opened #826 "on /account show an error if someone tries to enter a login code (or anything that isn't an email)"
Seeing people enter login codes into /account when it should be emails (and URL's too). This should be easy to fix...

If URL: If you're trying to search for an article, use the <a href = "/">homepage</a>.
If not an email: That doesn't look like an email! If you're trying to enter your login code use the tab you sent the email from.

@markmacgillivray can we do this easily?

[2017-08-02 17:04] JosephMcArthur commented on #795
Just tried to install by inserting

[code]

But it didn't work. I tried to upload the whole js file to the server but the server didn't allow that.

Am I missing something in the install process, or can we make it simpler?

[2017-08-02 17:15] JosephMcArthur commented on #795
Couldn't make it work here either: https://josephmcarthur.github.io/playground/ using the same code as http://holder.test.cottagelabs.com/oab.html

[2017-08-02 17:21] JosephMcArthur commented on #795
Got this working, but it got blocked by my tracking blocker!

[2017-08-02 20:05] jibe-b commented on #817
Reminder to myself: add an admin note like "already sent the broken url notification"

[2017-08-03 00:31] chealsye commented on #795
I'm glad to see progress on this! Thanks for the work both of you - just let me know if you need anything and when it is ready to share with the wider library community. Or if you want me to get Kristy to play with it first!

[2017-08-03 08:03] JosephMcArthur commented on #795
Lets get Kirsty to play with it :) Very Alpha, but good enough to play
with. Lets ask her to install it & see if she has any feedback.

J

On Thu, 3 Aug 2017 at 01:31 chealsye <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <h

[2017-08-03 19:24] svmelton opened #827 "Plugin account syncing issue"
Yesterday we received a note from a user that they were getting the "Something is up" error message when they tried to connect their account and plugin.

[2017-08-03 20:47] JosephMcArthur opened #828 "Consider explicitly saying we don't use researchgate / academia.edu on /about"
thoughts @chealsye?

[2017-08-04 15:26] jibe-b opened #829 "[feature] in admin form, add "request made less than 4hrs ago" as incentive"
As a short term goal is to have requests moderated less than 4 hours after they are made,

I suggest:
- adding an indication "made less than 4 hours ago" as long as it's the case, as an incentive to the admin
- and when moderated, keep a "request moderated in less than 4 hours" in order to highlight the effort made

[2017-08-05 17:06] JosephMcArthur opened #830 "Include download links for results from /bulk"
If we do this, in a MVP release of /bulk we may not need a results page.

[2017-08-07 17:13] natalianorori commented on #745
We did two tests to try to extract journal names using mturkers, however, I realized that even though we tried to make our instructions as clear as possible after our first try, mturkers are still having a hard time finding the journal name. They either:
- leave the question blank
- fill in the publisher's name instead of the journal name
- fill in the article title instead of the journal name

Yo

[2017-08-08 09:18] markmacgillivray commented on #826
I've added a step to check that the input is an email address, and if not it highlights the input field in red and changes the placeholder to "Enter your EMAIL address please". Also, if the user has already requested a token, they would already be seeing the login code box even if they had opened a new web page, so shouldn't need to worry about that. For giving them a specific message about going

[2017-08-08 09:54] markmacgillivray commented on #823
Emailed to you

[2017-08-08 09:54] #823 closed

[2017-08-08 09:55] markmacgillivray commented on #827
I don't think there is much I can do here right now, without some further information, or replication of the problem.

[2017-08-08 10:04] JosephMcArthur commented on #826
Yes, although it doesn't currently work

Issues:

* When you enter adsfa or similar that text doesn't disappear so you can't
see the placeholder. But, it does go red (you just wouldn't know why)
* When you do the above the spinner just continues infinitely below.
* If you then enter your email it won't submit

On Tue, 8 Aug 2017 at 10:18 markmacgillivray <notifications@github.com>
wrote:

--
Josep

[2017-08-08 10:18] markmacgillivray commented on #814
Fixed on dev, have a look

[2017-08-08 10:19] markmacgillivray commented on #796
Tested, progress but not working yet. Waiting for feedback from York.

[2017-08-08 10:27] JosephMcArthur commented on #814
Yes, although it doesn't look like the first & last name are coming around
correctly either. I just signed up with
joe+uniquenameiveneverputinbefore@sparcopen.org and can't see the first /
last name coming out in the export.

J

On Tue, 8 Aug 2017 at 11:19 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.

[2017-08-08 10:27] markmacgillivray commented on #824
Added a HEAD request for all resolved URLs, if returns 404, then don't return the URL, but saves it in a key called "broken".

[2017-08-08 10:27] #824 closed

[2017-08-08 10:34] markmacgillivray commented on #814
OK I added those.

[2017-08-08 10:36] markmacgillivray commented on #826
OK try now

[2017-08-08 10:36] JosephMcArthur commented on #814
tested, looks good.

[2017-08-08 10:36] #814 closed

[2017-08-08 10:39] JosephMcArthur commented on #826
first two issues sorted, but I still can't enter my email and submit.

[2017-08-08 10:47] markmacgillivray commented on #826
how about now? I am just going out, so won't be checking again until we talk at 2pm, but let me know if still any issues and can fix then.

[2017-08-08 10:49] JosephMcArthur commented on #826
Sadly no, still the same issue.

On Tue, 8 Aug 2017 at 11:47 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-08-08 10:50] markmacgillivray commented on #826
ok try again :)

[2017-08-08 10:59] JosephMcArthur commented on #826
:O works on FF & Chrome & Edge. On IE (windows) you need to click out the
box to see the pre-fil but I expect that's browser behaviour.

You can enter something like joe@right which is obviously not an email as
there is no tld, but I think what we have now will fix the issues we're
actually seeing.

Let's change the profile to:

and close.

On Tue, 8 Aug 2017 at 11:50 markmacgillivray <notificatio

[2017-08-08 11:18] markmacgillivray commented on #826
OK, changed the wording and added a more stringent check. Considered using the full email validation here too, but as that now costs money and here we are really just catching typos / user error rather than worrying about actual invalid addresses, better not.

[2017-08-08 11:18] #826 closed

[2017-08-08 11:43] markmacgillivray commented on #818
Changed when job history is calculated, still to check timeouts

[2017-08-08 13:47] markmacgillivray commented on #818
Check how the trigger to request from bulk jobs works - is it waiting for progress data? Does not work now since the change to progress check, so look into it.

[2017-08-09 12:45] JosephMcArthur opened #831 "make emails sent for /bulk editable in static & send on dev as they would on live"
@markmacgillivray the latter suggestion is to have the status checks done ever 15 minutes as they would on live & confirmation emails be sent.

Just want to be able to passively test / edit these as we do day to day testing.

[2017-08-09 17:39] svmelton opened #832 "False positive"
From a user on ZenDesk:

A search for this article - 'The effect of the driving restriction policy on public health in Beijing' directs to a link and says 'this article is available! - but the link goes through to a paywalled version: http://link.springer.com/10.1007/s11069-016-2602-8

[2017-08-10 07:53] JosephMcArthur opened #833 "Set up automated auth for live site certs"

[2017-08-10 07:54] markmacgillivray commented on #833
At the moment certs still need manually generated every three months because using an old version of certbot when it originally came out where there was an issue with the autorenewal. Need to reconfigure with the newer certbot capabilities to autorenew every three months instead.

[2017-08-10 09:43] JosephMcArthur opened #834 "Installing search bar widget as one line or i-frame"
I think having it as one line would make it feel less scary to install & an iframe is likely to be less frightening for people (as they're familiar).

I'd love to understand the trade-offs of these options further.

[2017-08-11 15:02] JosephMcArthur opened #835 "on chrome / android the login cookie warning puts you in an infinate loop"
I'll just keep pressing okay, and the message keeps coming up. When I prevent the page from showing dialogs this stops but it's unclear if the actual function of that popup is complete.

[2017-08-12 16:20] chealsye commented on #828
I'm 100% for this and would like to do it. Want me to draft a statement that we could discuss and tweak to be added to the about page?

[2017-08-12 16:26] JosephMcArthur commented on #828
Please!

On Sat, 12 Aug 2017 at 17:20 chealsye <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-08-14 06:22] JosephMcArthur opened #836 "Can we submit data to Zenodo?"

[2017-08-14 10:49] markmacgillivray commented on #818
Timeouts at 10 minutes, should be OK, open new issue if large sheets still fail, and particularly if they fail in less than 10 minutes.

[2017-08-14 10:49] #818 closed

[2017-08-14 12:51] markmacgillivray commented on #831
This is in place, create an email template called bulk_complete.html and push it into the emails folder on the dev branch, then go to admin and click refresh templates, then go to the bulk page and upload a little job (like a couple of DOIs) then wait fifteen minutes, you should get an email based on the template.

[2017-08-14 13:08] markmacgillivray commented on #796
Works against York, assinging to @JosephMcArthur to run a bulk job

[2017-08-14 13:51] JosephMcArthur commented on #831
I've already done this twice with the same results. Doesn't send the template I put in.

Also, what would be the {{ }} for the job title, if there is one.

[2017-08-15 12:58] JosephMcArthur opened #837 "Get journal info for all requests"
This may be a duplicate... but I can't find the original issue if it existed.

[2017-08-15 12:59] JosephMcArthur commented on #837
@natalianorori made a comment on #745 that is about this: https://github.com/OAButton/discussion/issues/745#issuecomment-320723522.

[2017-08-15 13:01] JosephMcArthur opened #838 "Displaying "suggested" author names from /scrape for moderators"
The /scrape api sometimes picks up author names. Can we display these as suggestions for moderators?

Ideally, a suggestion should be clickable, and when clicked put into the author box (or something like that).

[2017-08-15 15:42] rossmounce opened #839 "OAB email (password-free system) went straight to hotmail junk"
Hi! Thanks for filling an issue! Here are some tips on writing great issues.

### Expected Behavior
I OAB'd an inaccessible article. I filled-in my email address as f*******@live.co.uk (redacted for privacy)
Checked my email, should find an email from OAB.

### Actual Behavior
Hotmail directed the OAB email straight to junk!

### Steps to Reproduce this bug
Report article that is not archived, whe

[2017-08-15 16:02] markmacgillivray commented on #839
Hi @rossmounce ! Could you send me the email that went to your junk so i can see what headers Hotmail added to it? mark@cottagelabs.com

[2017-08-15 16:02] JosephMcArthur commented on #839
Sigh, we know this happens for some (I believe our help text suggests
checking spam first). We started sending login emails on our .io domain for
a while when we had issues with .org but switched back when they were
resolved.

Considering the .org domain is used for the request system and potentially
flagged as spam from time to time it may be a good idea to switch
permanently for login emails. Ma

[2017-08-15 16:05] markmacgillivray commented on #839
There's no reason why the .io domain would work any better than the .org. The previous use of .io was because we couldn't access the .org to configure it. Having mail not go to junk is exactly what we pay an intermediary service for email delivery for though, so once i look into it I'll open an issue with them to get them to sort it.

[2017-08-15 17:14] rossmounce commented on #839
Have forwarded email to Mark. Fwiw I clicked "not spam" which will hopefully (?) help Microsoft to learn that this sender isn't sending spam!

[2017-08-15 20:07] JosephMcArthur opened #840 "Prioritise /api better"
- [x] Move /request to the 3rd point
- [ ] document to bulk api

[2017-08-16 09:42] markmacgillivray commented on #839
Thanks, I have checked and all our configurations are as they should be, so I have contacted our mail service provider and opened a new issue to see if they can let us know why hotmail identifies this as spam.

@JosephMcArthur the new issue is registered against your account, so let me know when you get an email saying they've responded to it.

[2017-08-16 14:28] svmelton opened #841 "When supporting a request, taken to an undefined page"
After submitting support for a request via the plugin on Chrome, the window that popped up was https://openaccessbutton.org/request/undefined.

[2017-08-16 20:41] chealsye commented on #828
We could cut “like it would be in a repository” though.

[2017-08-18 11:42] JosephMcArthur opened #842 "finish styling on Ill pages"
Mostly there, just need to work on response pages & clean up a few bugs

[2017-08-18 11:43] JosephMcArthur opened #843 "set up demo forms for ill"
Got the general structure down, now just need to play with making pages. What's done avoids us needing any of Mark's time!

[2017-08-18 11:46] JosephMcArthur opened #844 "set up availabilities page for libraries"
I expect that for use in /deliveroa it's going to be useful to have an availabilities page that's different.  That's as it'll be viewed only for articles, and not need data. Also, mostly links will be copy pasted. So, we'd consider:
* larger text
* copy to clipboard buttons
* no data included

Not 100% sure this is needed, so should do some user testing.

[2017-08-18 11:47] JosephMcArthur commented on #834
We can do iframes, but there would be less control over formatting.

@markmacgillivray what's the easiest way to have a page on our site without the normal templating where we can just embed the search bar?

[2017-08-18 11:49] JosephMcArthur opened #845 "refine content for /embed_oa"

[2017-08-18 11:49] JosephMcArthur opened #846 "refine content for /deliver_oa"

[2017-08-18 11:51] JosephMcArthur opened #847 "refine content on next gen ILL"

[2017-08-18 12:05] JosephMcArthur opened #848 "Add login workflow on /oasheet"

[2017-08-18 12:06] JosephMcArthur opened #849 "add generation of unique url on file generation for deliveroa"

[2017-08-18 12:06] JosephMcArthur opened #850 "add generation of unique url on embed when logged in"

[2017-08-18 12:08] #796 closed

[2017-08-18 12:08] JosephMcArthur commented on #804
@allanaaa would be great to get this finished up asap if you can

[2017-08-18 12:26] markmacgillivray commented on #834
I just added one, and added an example of use to the embed_oa page

[2017-08-18 12:30] JosephMcArthur commented on #834
Prefect!

[2017-08-18 12:30] #834 closed

[2017-08-18 13:50] JosephMcArthur commented on #748
@markmacgillivray I think given there is more than one link from totally random pages doing this (I just picked a random science direct link) it seems more likely to be something to do with those pages than the polish repo - no?

/scrape suggests we grab the title of "sciencedirect" from the pages, which when searched on the polish repo leads to the sciencedirect redirect page we're seeing.

[2017-08-18 13:57] allanaaa commented on #804
Whoops, they're all done except Edge. Edge still gives me those error messages, as above, so should that be opened as a separate issue?

[2017-08-18 13:59] JosephMcArthur commented on #804
So, no install method leads to a working bookmarklet in edge?

[2017-08-18 14:01] JosephMcArthur commented on #804
But the guides for IE, Safari, FF are fine?

[2017-08-18 14:03] allanaaa commented on #804
The other three are fine!

It can be installed in Edge, but the Button is breaking.
I can draft the install instructions now for either of those options (import from another browser, or add to reading list) for now but you'd need to figure out what in the code is causing the error messages.
I haven't tried the third-party "EdgeManage" solution yet, was waiting to hear back about whether you wanted

[2017-08-18 14:05] JosephMcArthur commented on #804
No third party solutions. Can you just remove edge from /account and we'll
close this.

On Fri, 18 Aug 2017 at 15:03 allanaaa <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mca

[2017-08-18 14:16] allanaaa commented on #804
Done.

[2017-08-18 14:16] #804 closed

[2017-08-18 14:47] JosephMcArthur opened #851 "add support for alma pages on /scape (for plugin, mostly)"
- [x] get a dom record
- [x] add functionality on the scraper
- [x] get someone to test (and note any relevant version info)

[2017-08-22 06:45] JosephMcArthur opened #853 "generate stats sections needed for alpha's"

[2017-08-22 07:25] JosephMcArthur opened #854 "upgrade to oadoi v2"

[2017-08-22 08:34] #854 closed

[2017-08-22 08:40] #840 closed

[2017-08-22 08:40] JosephMcArthur opened #855 "Document the bulk api endpoint"

[2017-08-22 08:47] markmacgillivray commented on #839
Still following up with the mail provider as to best configs, compared to their recommended configs... for now we have changed login emails on dev site to come from the subdomain, so once this is tested and working we will change settings on live.

[2017-08-22 10:51] markmacgillivray commented on #196
MS academic title search is now working on dev. search by DOI is not yet possible - they don't appear to allow extended metadata attributes as search parameters. Title search is enough to close this now though.

[2017-08-22 10:51] #196 closed

[2017-08-22 10:53] JosephMcArthur commented on #819
done, currently in testing!

[2017-08-22 10:53] #819 closed

[2017-08-22 14:15] #848 closed

[2017-08-22 14:49] svmelton commented on #748
I think that this issue, flagged on ZenDesk, may be related:

"Hi OA Button,

I just wanted to let you know about a few issues I've been having with the button. I've noticed that links to open papers will not open by a normal click, I have to open in a new tab. This has been true on my personal laptop and also all the UCLA Library's lending laptops. For an example I'll use http://www.sciencedirect

[2017-08-22 15:55] JosephMcArthur commented on #853
from tags come out in availabilities now

[2017-08-22 15:55] #853 closed

[2017-08-22 15:58] #850 closed

[2017-08-22 16:36] JosephMcArthur commented on #819
all good

[2017-08-22 16:37] #831 closed

[2017-08-22 16:37] #849 closed

[2017-08-22 16:37] JosephMcArthur commented on #844
@markmacgillivray suggests we can use the from: tags to alter content on the page & display messages.

[2017-08-22 16:45] JosephMcArthur commented on #803
this is fixed on /account and while looking we caught another unrelated bug on the homepage!

[2017-08-22 16:45] #803 closed

[2017-08-22 16:47] markmacgillivray commented on #803
OK, fixed on homepage

[2017-08-22 17:14] markmacgillivray commented on #748
Phantom get of sciencedirect pages no longer returns ANY useful content...

[2017-08-23 10:37] JosephMcArthur opened #856 "Consider Google & FB powered login"
The CL API now has this, just need to figure out how to implement for us.

Questions:
- [x] how to get the data we need - Mark
- [x] how to display - Me

Closing this would mean we'd need to do much less on the passwordless system & address many issues there (occasionally people can never get our emails out of spam, or have other weird things happen)

[2017-08-23 10:41] JosephMcArthur commented on #856
I suppose to display we'd just want buttons on /account under the email box. Then, when they're clicked the normal auth windows open, and people land on the account page. I guess we can pull some standard data like first name / second name from the auth systems and display the sign-up boxes as usual?

So... not much required except some nice-ish buttons?

[2017-08-24 09:58] JosephMcArthur commented on #795
- [ ] update searchbox to have better text for a patron
- [ ] figure out a subtle way to show this is made by us

[2017-08-25 08:51] JosephMcArthur opened #857 "Have iframe code default to 100% width"
Will allow for better styling by default for most use cases & provide a clear option for users on how to adjust for them

[2017-08-25 08:52] JosephMcArthur opened #858 "provide some instructions on customising iframe embed"
In feedback on embedoa there has been mention of difficulty styling embeds from iframes. This is a pretty common iframe complaint.

[2017-08-25 08:55] JosephMcArthur opened #859 "chatbot duplicates messages"
On messages where we're returning links from /availabilities we often send back many responses to one input, often multiple times over. In the logs, it suggests we only send one.

First step to addressing is adding a UUID to the logs & message so we can test better.

[2017-08-25 09:06] JosephMcArthur opened #860 "Transient "we don't work here right now" find response type"
Occasionally pages stop working on /find as they're changed, e.g #748. This occurs to users as bugs, and these can take time to fix where in the mean time users have a confusing experience.

Implementing a response that we could control via a sheet to tell a user there is a known issue would mitigate issues here. This is very similar to current blacklists functionality, and may just need a differe

[2017-08-25 09:40] JosephMcArthur opened #861 "Add proper copy to chatbot"

[2017-08-26 09:17] JosephMcArthur commented on #841
on new plugin, this will no longer happen!.

[2017-08-26 09:17] #841 closed

[2017-08-26 09:17] JosephMcArthur commented on #827
on new plugin, this will no longer happen!.

[2017-08-26 09:17] #827 closed

[2017-08-26 09:18] JosephMcArthur commented on #721
got a new version, will bump chat into other issues!

[2017-08-26 09:18] #721 closed

[2017-08-26 09:18] JosephMcArthur commented on #614
on new plugin, this will no longer happen!.

[2017-08-26 09:18] #614 closed

[2017-08-26 09:19] JosephMcArthur commented on #582
done in the new version 💯

[2017-08-26 09:19] #582 closed

[2017-08-26 09:20] JosephMcArthur commented on #521
on new plugin, this is done 🥇

[2017-08-26 09:20] #521 closed

[2017-08-26 09:20] JosephMcArthur commented on #422
no need for this on new plugin! 💯 👍 🥇

[2017-08-26 09:20] #422 closed

[2017-08-26 09:31] JosephMcArthur commented on #410
done!

[2017-08-26 09:31] #410 closed

[2017-08-26 09:39] JosephMcArthur commented on #410
https://chrome.google.com/webstore/detail/jikfkabibndjbkfpabehfdofibhpojhb/publish-delayed?authuser=1 💯

[2017-08-26 14:34] JosephMcArthur commented on #809
lots of cool lists here I think! http://brdb.warrington.ufl.edu/sjdb/journal.html?issn=0028-4793&title=New%20England%20Journal%20of%20Medicine&publisher=New%20England%20Journal%20of%20Medicine

[2017-08-27 11:00] JosephMcArthur opened #862 "can't submit requests on ios as submit button doesn't work"
on ios, request pages don't submit once you've put in a story. Reported by a user and replicated on browserstack with doi.org/10.1108/IJBPA-05-2017-0023. To replicate, try and submit a request on ios.

- [x] fix
- [x] test on browserstack
- [ ] close zenhub ticket

At the below point in the process

![image](https://user-images.githubusercontent.com/4953703/29749247-27c3165c-8b1f-11e7-91d5-d47ed29

[2017-08-27 11:02] JosephMcArthur opened #863 "specific embedoa instructions by platform"
Suggestion from an early user that I think is a wonderful idea. Would need to have tabs or some nice way of displaying it.

Instructions for at least one very popular plateform are in zendesk. May be worth these being the default.

[2017-08-27 11:03] JosephMcArthur opened #864 "pass plugin errors to the /feedback"
add a parameter called code, then show some stuff.

@markmacgillivray where you can reuse copy from the existing plugin that would be good!

[2017-08-27 11:04] JosephMcArthur opened #865 "Port the chat bot to telegraph & twitter and other places"
For the anti Facebook people out there (like me...)!

[2017-08-27 11:10] JosephMcArthur opened #866 "test all the stats from tools"
Make sure that:

- [x] uses from the frontpage show
- [x] /bulk uses show
- [ ] we can see uses from iframe embedoa
- [ ] we can see uses from different installs of /embedoa
- [x] we can see uses from illiad deliveroa
- [x] we can see uses from chatbot
- [x] need to test on new plugins ( bookmarklet / plugin / ff )

[2017-08-27 11:10] JosephMcArthur opened #867 "track requests made from different plateforms"
Currently, we're using URL parameters onto the API to track platform usage for availabilities. Would be good to pass these through to requests too so we can track that.

- [x] pass tracking
- [ ] have a way to get data out & process

Need to test similarly to #866

[2017-08-27 11:13] JosephMcArthur opened #868 "fancy illiad install instructions"
- [x] give some email text they can send to a tech person to install it
- [x] give email message for them to put in their templates
- [x] check illiad generic add-on install instructions

[2017-08-27 11:13] JosephMcArthur opened #869 "get the illiad add-on in their "store""

[2017-08-27 11:15] JosephMcArthur opened #870 "Say what version (pre-print / post-print) we're sending for ill staff on availabilities"

[2017-08-27 11:17] JosephMcArthur opened #871 "Link the roadmap for tools in models"
Can link to issue labels through the modal

[2017-08-27 11:18] JosephMcArthur opened #872 "URL encoding issues on illiad"
+ are used instead of spaces on illiad, which causes us to not recognise titles

[2017-08-27 11:20] JosephMcArthur opened #873 "Iframe in linked to content on availability page for deliveroa"
Ill staff always have to check content before sending, so we can make this easier by just showing it.

[2017-08-27 11:21] JosephMcArthur opened #874 "Missing error management on: https://openaccessbutton.org/?url=10.1145%2F2908080.2908114"
Should display option to say the link is wrong etc etc as it does on most pages

[2017-08-27 11:22] JosephMcArthur opened #875 "Make a place on /account & the website to talk to the bot"
We at least want to:
- [ ] change the messages the show on mobile on /account
- [ ] have a gif of it working

and maybe
- [ ] a more aggressive pop-up on general site pages (or a least on the frontpage) inviting people to chat with you

[2017-08-27 11:28] JosephMcArthur opened #876 "Remove data responses on availability for deliveroa"
This will help keep the page simple and clean for ILL staff who are only interested in articles

[2017-08-27 11:30] JosephMcArthur opened #877 "When we can't find something by title or citation enable a user to add more info to their search"
I'm not super happy with how we handle when we can't find titles or citations. Would love to improve the workflow here as people will be using it more. I'm not totally sure what can be done though.

[2017-08-27 11:31] JosephMcArthur opened #878 "Add copyable template emails for ill staff using illiad on availabilities"

[2017-08-27 11:32] JosephMcArthur opened #879 "Add in time delayed feedback messages and other error catching (like false positives)"

[2017-08-27 11:33] JosephMcArthur opened #880 "On availability page for ill staff show the citation of the article we found"
Staff have to triple check what they send. It's possible #873 may close this.

[2017-08-27 11:37] JosephMcArthur opened #881 "Enable download of content direct from availabilities page"
On illiad we could pass the transaction id and name the file this.

[2017-08-27 11:38] JosephMcArthur opened #882 "Consider adding more inputs to the chat bots"
For example DOI's & titles. This expands the bot outside it's current use case (of being a quick way to use on mobile).

[2017-08-27 11:49] JosephMcArthur commented on #836
closes #190 #191

[2017-08-27 11:54] JosephMcArthur commented on #560
For the record, Mark & I spent about half a day planning this fully (it's complex af) this week.

[2017-08-27 11:55] JosephMcArthur commented on #844
okay, this issue is a monolith and I'm closing in favour of smaller things. We've set up the structure for this though though https://github.com/OAButton/discussion/issues/844#issuecomment-324082866

[2017-08-27 11:55] #844 closed

[2017-08-27 11:55] #845 closed

[2017-08-27 11:57] JosephMcArthur opened #883 "generate & test ff file for new plugin"

[2017-08-27 11:58] JosephMcArthur opened #884 "a link that works on the frontpage doesn't on embedoa"
http://www.jstor.org/stable/20865428?seq=1#page_scan_tab_contents

[2017-08-27 12:01] JosephMcArthur opened #885 "figure out a subtle way to show embedoa is made by us"
don't want this to be "in your face", but something simple so that people who see it & want plugins or the widget can get it. Could potentially do it on the search spinner?

[2017-08-27 12:03] JosephMcArthur commented on #795
Moving some of this to #885 & #884 to keep this focused & small.

To close this is only needs https://github.com/OAButton/discussion/issues/795#issuecomment-31833

[2017-08-27 12:09] JosephMcArthur commented on #648
@natalianorori  @markmacgillivray bumping this to the backlog, to keep us focused on shipping our alpha's for now. If needed, we can run this manually for bulk jobs.

[2017-08-27 12:13] JosephMcArthur commented on #821
@markmacgillivray bumping this to the backlog, I don't think this is 100% needed right now

[2017-08-27 12:19] JosephMcArthur commented on #851
Note, we have the dom & will be able to do this. We also have testers lined up.

One issue, the plugin currently wouldn't know how to return a response when given a title it can't find a URL for. Not sure what to do about that, what do you think @markmacgillivray?

[2017-08-27 12:23] JosephMcArthur opened #886 "consider parts of the website flow that should be improved for new plugin"
most of this will simply be trying to speed stuff up & tidying formatting on pages & adding messages during loading I think.

[2017-08-27 12:30] JosephMcArthur opened #887 "try and get the loading spinner to be the app icon"

[2017-08-27 12:31] JosephMcArthur commented on #887
this is probably less important than #886

[2017-08-27 12:37] JosephMcArthur commented on #732
bumping to backlog as we're already making complex infrastructure changes. Best not to had fire to the flames with a different issue.

[2017-08-27 14:10] JosephMcArthur opened #888 "fix bugs with speadsheets I've sent Mark that don't work"
Most of these issues seems to be with sheets made to be csv's by Microsoft excel on a mac

[2017-08-27 17:59] nemobis commented on #725
https://github.com/elifesciences/sciencebeam might have better output (found via https://elifesciences.org/labs/5b56aff6/sciencebeam-using-computer-vision-to-extract-pdf-data via https://twitter.com/petersuber/status/893511046899654656 )

[2017-08-27 18:23] JosephMcArthur opened #889 "making requests from /bulk doesn't work. Shows no feedback."

[2017-08-27 21:39] JosephMcArthur opened #890 "make a nice 404 page"
@markmacgillivray is there an easy way to make a template for this that I can then fill in?

[2017-08-28 08:23] JosephMcArthur opened #891 "Make a new download workflow for the bookmarklet"
Can probably put it in a modal on the homepage (although the downside of that is no direct link).

[2017-08-29 10:51] #842 closed

[2017-08-29 11:27] JosephMcArthur commented on #534
not done in new design

[2017-08-29 11:27] #534 closed

[2017-08-29 11:31] JosephMcArthur opened #892 "bookmarklet styling"
This is the suggested approach from Sam, which I think looks good (clean, nice simple use of color and obviously clickable buttons). All the icons should be in the repo from last time we did this (they're reused)

![received_10159402607405500](https://user-images.githubusercontent.com/4953703/29818744-a37698d6-8cb5-11e7-8876-081a719f4303.png)

[2017-08-29 17:26] JosephMcArthur commented on #872
An example:
* Openaccessbutton.org-created URL: https://openaccessbutton.org/?url=Effect%20of%20Saxagliptin%20on%20Renal%20Outcomes%20in%20the%20SAVOR-TIMI%2053%20Trial
* ILLiad Addon-created URL: https://openaccessbutton.org/?url=Effect%2Bof%2BSaxagliptin%2Bon%2BRenal%2BOutcomes%2Bin%2Bthe%2BSAVOR-TIMI%2B53%2BTrial

[2017-08-29 17:27] JosephMcArthur commented on #868
I now have draft email text from Renee at UoV for what can be sent.

[2017-08-30 13:41] JosephMcArthur commented on #884
Ah, it turns out that currently nothing works in embed oa!

[2017-08-30 14:37] markmacgillivray commented on #676
We previously decided that we don't send emails to @natalianorori every time a request is created because there would be too many emails. However I just tried creating a request and putting a story into it, and on dev that does send an email (I added myself to it as well, to check) and the email does include the whole request info, with the JSON object formatted to show each piece of info per line

[2017-08-30 14:42] markmacgillivray commented on #748
We now know that sciencedirect renders an empty page where the only available title is ScienceDirect - and this happens to title match against the same item in BASE every time, hence why we go to that same Polish repo. So that repo is fine, BASE is fine, just the new science direct pages give no title or anything else useful when rendered by our system.

We already use phantom to render the pages,

[2017-08-30 14:43] markmacgillivray commented on #890
Just make a page in the content folder called 404.html and put whatever you want in it.

[2017-08-30 14:54] markmacgillivray commented on #884
Error with the UID passthrough we introduced at the end of last week. Fixed now.

[2017-08-30 14:54] #884 closed

[2017-08-30 14:56] markmacgillivray commented on #876
Not sure what I can actually do about this. The deliveroa users are just using any one of the various other tools we already provide, right? At the moment, none of those explicitly provide data responses anyway - the API does provide data responses in the result, but the UIs don't do much with them. Most things now just redirect to the site which defaults to creating an article request anyway, and

[2017-08-30 15:00] markmacgillivray commented on #862
Can you get browserstack to tell you why it does not submit?

[2017-08-30 15:04] JosephMcArthur commented on #862
With Inspect & the network tab?

On Wed, 30 Aug 2017 at 16:01 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-08-30 15:06] markmacgillivray commented on #859
The code you have:

https://github.com/OAButton/fb-messenger-bot/blob/master/app.py

looks fine except on lines 106 and 119 you try to + global uuid

Just + uuid

That should add the uuid that you have defined on line 104 to your log statement and to your text response to the user.

[2017-08-30 15:08] markmacgillivray commented on #795
@JosephMcArthur which comment does this still need? Following the link does not show me a comment that is clearly still needing work - the tickboxes are all ticked.

[2017-08-30 15:09] markmacgillivray commented on #862
I don't know if that works on browserstack or not.

[2017-08-30 15:16] markmacgillivray commented on #864
Added functionality to feedback page to show the bug form if it is passed an error code from the new plugin. This will insert the error code into the form and hide the question that asks the user for that, but enables the user to provide other info about the error event, then we can see what they say.

[2017-08-30 15:16] #864 closed

[2017-08-30 15:19] JosephMcArthur commented on #795
I'd like to remove the text that talks about requesting data here, to keep it just about articles. Need this to be simple & focused.

[2017-08-30 15:25] markmacgillivray commented on #867
All requests are created on the site now - nobody creates them anywhere else. I have updated the /request page on the site to passthrough URL params called "from","plugin", or "embedded", so any other thing like our plugins or embeds that pass any of those through will get picked up if they trigger a request BY INCLUDING THEM.

So it is now a case of adding those things where you want them to be p

[2017-08-30 15:27] markmacgillivray commented on #795
Where is "here" though? If library widgets are iframing our website, then they show what the website shows. Still not sure what you mean...

[2017-08-30 15:32] markmacgillivray commented on #874
Fixed on dev, this will show on live when next updated

[2017-08-30 15:32] #874 closed

[2017-08-30 15:38] markmacgillivray commented on #872
Fixed on dev, needs an API update to get on live.

https://dev.openaccessbutton.org/?url=Effect%2Bof%2BSaxagliptin%2Bon%2BRenal%2BOutcomes%2Bin%2Bthe%2BSAVOR-TIMI%2B53%2BTrial

https://dev.openaccessbutton.org/?url=Effect%20of%20Saxagliptin%20on%20Renal%20Outcomes%20in%20the%20SAVOR-TIMI%2053%20Trial

[2017-08-30 15:38] #872 closed

[2017-08-30 15:46] markmacgillivray commented on #889
The "request" buttons should work now on dev, returning a confirmation statement with an explanation of what will happen next, and then you can choose whether to create or not (sometimes there are none to create so the statement shows zero)

[2017-08-30 15:46] #889 closed

[2017-08-30 15:52] markmacgillivray commented on #888
Mac uses different line breaks, tried adding a replace for them, try one of your sheets again and reassign to me if they still do not work

[2017-08-30 17:01] JosephMcArthur commented on #876
DeliverOA users will be on URL's with parameters like "illiad", and you
said we could change the structure of the page based on that? In those
cases, I'd just like to remove the UI responses about data there.

If this was only on the successful availabilities version that would be
fine.

On Wed, 30 Aug 2017 at 15:56 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant D

[2017-08-30 17:08] JosephMcArthur commented on #862
yes I can, but did didn't see any clear failures or things like that. Clicking the submit button just didn't seem to cause a response I could see.

When clicked the text of the button went black, but nothing else happens. This is with or without any text in the box.

<img width="968" alt="screenshot 2017-08-30 18 04 37" src="https://user-images.githubusercontent.com/4953703/29885223-ff8a682a-8dad-

[2017-08-30 22:39] markmacgillivray commented on #876
Ok, so on the pages on the site - that's what i still wasn't sure about, where you meant by "here". Yeah we should be able to change the pages by the URL params they add, so will try that.

[2017-08-30 23:24] markmacgillivray commented on #876
How are these deliveroa users going to be on those URLs though? Does this mean the part where you give them a URL to view in their system in an iframe or a redirect or something, and at that point you'll just make sure to give them a URL that includes the param we check for?

If so, I have added a check on the main site page (where availability checks start from) and on the request index page (whe

[2017-08-30 23:24] #876 closed

[2017-08-30 23:25] markmacgillivray commented on #876
You can see this working on this page:

https://dev.openaccessbutton.org/request/2LHAhmCudR8QEEA4Y?data=false

(without the data=false param it shows "I actually wanted the data" up the top)

[2017-08-30 23:29] markmacgillivray commented on #795
OK is this also solved by what I have done for #876 ? If so, can close this one too.

[2017-08-31 01:11] markmacgillivray commented on #887
Loading spinner is now the app icon, and code has been simplified further yet should still work with bookmarklet - testing with bookmarklet and changing bookmarklet style is next on list, but prob won't get to it until Saturday. The latest code in the phoenix branch of the plugin repo should work as you'd like for the plugin - the oab icon itself changes in the chrome navbar and becomes a spinning

[2017-08-31 08:17] JosephMcArthur commented on #859
I think I added global as it crashed without. The logs for the crash with global are below

[oab-chatbot-logs-1504167391313.txt](https://github.com/OAButton/discussion/files/1266320/oab-chatbot-logs-1504167391313.txt)

[2017-08-31 08:23] JosephMcArthur commented on #887
it's WONDERFUL. Only tested on one article then uploaded to chrome store (to see the animation). If whatever simplifaction you did you think needs more testing than that let me know and I'll get that done.

[2017-08-31 08:23] #887 closed

[2017-08-31 08:26] JosephMcArthur commented on #867
Not quite following you.

So, this means that (for example) we'll be able to tell requests made from plugin users, or a particular embedoa widget.

I think the answer to this is let's always pass them through.

[2017-08-31 08:30] JosephMcArthur commented on #888
tried a few, all worked great.

[2017-08-31 08:30] #888 closed

[2017-08-31 10:41] JosephMcArthur commented on #876
That's great for request pages but it doesn't work yet when we show that an
article is available oa (as far as I can tell).

Once that works we just have to put that param in the standard deliveroa
URLs and we're good to shut.

On Thu, 31 Aug 2017, 00:26 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.or

[2017-08-31 10:52] markmacgillivray commented on #876
Ah something else was stripping the data param but it works now:

https://dev.openaccessbutton.org/?url=10.1145%2F2908080.2908114&data=false

[2017-08-31 10:56] JosephMcArthur commented on #795
So, if we add the param ?data=false (or whatever it was) to the widgets
code, it won't display any UI responses to do with data? If so, lets add
that in and close this (after I test).

On Thu, 31 Aug 2017, 00:29 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <ht

[2017-08-31 10:56] JosephMcArthur commented on #876
Perfect. I can probably get this added to deliveroa stuff mostly.

On Thu, 31 Aug 2017 at 11:52 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-08-31 10:57] JosephMcArthur commented on #890
okay, done. But, it doesn't do what I'd expected, for example shifting https://dev.openaccessbutton.org/dafa to /404.

[2017-08-31 10:57] JosephMcArthur commented on #856
Had a few more users have trouble this week, so decided I'd just push this forwards rather than dig into their issues fully!

Have added buttons on /account and copy for this now how I'd be happy for them to ship (but hidden them). Tried to alter code to make it work but couldn't find it in CL API.

One question, how would these people show in exports? Do we get their email?

[2017-08-31 11:01] markmacgillivray commented on #795
Yes, but if we add it to the widget then nobody using the widget will see data info, regardless of whether they are library users or not

[2017-08-31 11:06] JosephMcArthur commented on #795
That's fine

On Thu, 31 Aug 2017 at 12:01 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-08-31 11:16] markmacgillivray commented on #795
Actually the widget does not send people to the website - it does it via the API and builds the answers itself. I have added a param that can be passed in to show data results or not, and it defaults to false.

[2017-08-31 11:16] #795 closed

[2017-08-31 12:12] JosephMcArthur commented on #725
Strikes me though that if you have the PDF, you probably don't need the email (for our use case).

[2017-08-31 12:14] JosephMcArthur commented on #574
We've now got a chatbot on Facebook messenger, and could probably port this to twitter fairly easily. That would allow us to close this, although I agree that adding in hashtags and things like that would be very cool (we often get the discipline of the paper, and could just manually curate the list for some to see if it even matters)

[2017-08-31 12:21] nemobis commented on #725
Joseph McArthur, 31/08/2017 15:12:

I might be confused about OAbutton's use case: for Wikimedia, what
matters is first and foremost having a free license, and secondarily
public permanent access.

For OAbutton, I don't know whether you also handle private sharing. On
<https://openaccessbutton.org/about> I see a sentence about archiving in
Zenodo/OSF so I suppose having the published version isn't

[2017-08-31 12:30] JosephMcArthur commented on #725
matters is first and foremost having a free license, and secondarily
public permanent access.

I've lost you a bit. Usually, for papers public access is a pre-requisite to open licensing. Sorry if I'm being dense.

<https://openaccessbutton.org/about> I see a sentence about archiving in
Zenodo/OSF so I suppose having the published version isn't enough. (It's
rather easy for me to be at some univer

[2017-08-31 14:23] JosephMcArthur opened #893 "new plugin ignores article blacklists"
e.g when clicked on facebook / openaccessbutton.

When clicked, we could open http://openaccessbutton.org/instructions unless you have a better idea.

[2017-08-31 17:24] markmacgillivray commented on #893
Actually the plugin would not go as far as creating a request for a blacklisted URL - it is just that on dev, with a debug plugin, all the requests are tests so are not checked against the blacklist. However, because there is no plugin UI now, I thought the idea to send them to the instructions page was good, so I have set it to do that if the API returns a 400 code (which is what it does when bla

[2017-08-31 18:21] markmacgillivray commented on #856
I have unhidden those buttons and tested - google works as expected on oauth via my account once I added the OAB dev and live sites as valid oauth redirect targets. We should consider setting up an oab google dev account for this, but is OK on mine just now.

For facebook, that has to be actually made live before other people can use it, and presumably we already have an OAB facebook dev account b

[2017-08-31 18:21] markmacgillivray commented on #856
Assigning to @JosephMcArthur to progress for now.

[2017-08-31 18:52] JosephMcArthur commented on #856
handled with Mark, so assigned back for anything final.

[2017-08-31 18:54] JosephMcArthur commented on #856
oh my the buttons are lovely... thanks for doing that

On Thu, 31 Aug 2017 at 19:21 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-08-31 19:13] markmacgillivray commented on #856
oauth logins done! Remember we may now get some login problems from users where if they login with google or facebook but the email addresses they used for their accounts there do not match the one they used when signing up with oabutton - in this case they will get logged in to what is basically a new oabutton account. There is no way to avoid this.

[2017-08-31 19:14] #856 closed

[2017-08-31 19:26] JosephMcArthur commented on #893
@allanaaa I've written some fresh copy for this page. Can you review?

[2017-08-31 19:52] JosephMcArthur commented on #857
on dev

[2017-08-31 19:52] #857 closed

[2017-08-31 20:33] JosephMcArthur commented on #858
I'd actually like to not encourage use of the iframe. So, not going to write these for now and instead invest time in writing instructions for the script version.

[2017-08-31 20:54] markmacgillivray commented on #892
Done, available on dev to test on the bookmarklet test page:

https://dev.openaccessbutton.org/static/bookmarklet/index.html

[2017-08-31 21:02] JosephMcArthur commented on #885
I did this partly by globally changing oabutton_widget to openaccessbutton_widget so that it'll be clearer in the code it's us.

Have also done as suggested above. This is on dev.

[2017-08-31 21:02] #885 closed

[2017-08-31 21:09] JosephMcArthur commented on #629
this still happens with the new bookmarklet, atleast on firefox

[2017-08-31 21:19] JosephMcArthur commented on #629
`
XML Parsing Error: mismatched tag. Expected: </img>.
Location:
Line Number 1, Column 386:  (unknown):1:386
SyntaxError: An invalid or illegal string was specified  includer.js:25
	<anonymous> https://dev.openaccessbutton.org/static/bookmarklet/includer.js:25:1`

that's what I get from the console

[2017-08-31 21:31] JosephMcArthur commented on #625
is covered in #629

I tested this on my machine and it seems quick and to work. Replicated on browserstack.

I can replicate this in the new bookmarklet. Simply by going to the test page you can see the bookmarklet doesn't do anything more than show the spinner (but it doesn't spin).

Console tells me the following
![image](https://user-images.githubusercontent.com/4953703/29946137-060149c8-8e9c-1

[2017-08-31 21:33] JosephMcArthur commented on #892
This (even on browserstack) is simply redirecting me (it actually feels kind of shocking, as you see it pop up, try and read them get sent away). Nothing we can really do about that right now though, and it's good news of course.

Two questions:
* what did you do when it shows errors?
* what did you do when we don't work on the page (i.e it's blacklisted)?

[2017-08-31 21:54] markmacgillivray commented on #625
Sorry haven't updated the Imperial one at all yet

[2017-08-31 21:56] JosephMcArthur commented on #625
I used the new bookmarklet for this, not the imperial one.

On Thu, 31 Aug 2017 at 22:54 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-08-31 22:07] JosephMcArthur commented on #891
I guess it could also open a tab, like the examples (but currently they're not the nicest UX) on the homepage. That would also mean we'd have to do it differently on different pages, whereas a modal is page agnostic.

I made an example of a modal here: https://dev.openaccessbutton.org/test_bookmarkletinstall . I suppose the modal could update the URL with some hacking.

Would love some feedback fr

[2017-08-31 22:51] JosephMcArthur commented on #863
got a framework for this now, and instructions are inbound.

[2017-08-31 22:51] #863 closed

[2017-08-31 23:01] JosephMcArthur commented on #866
we've lost the ability to insert user ids into the widget code at some point

[2017-08-31 23:09] JosephMcArthur commented on #866
just added tracking to requests made from the chatbot (I hope)

[2017-08-31 23:11] JosephMcArthur commented on #866
- [ ] For the iframe, once I see the widget code working with user id's I'll just add a fake one on the iframe that Mark can catch.

[2017-08-31 23:14] markmacgillivray commented on #866
Looks like your edits to the page have broken the js that inserts the code into the different things - you can see on the dev tools that it is throwing an error where it tries to set the cliocode ones. So, did you remove something with the ID "cliocode"?

[2017-08-31 23:24] JosephMcArthur commented on #866
Duh, I accidently added the code from deliveroa that put uid's in urls for
clio. That seems to have interfered with this. Removed it, and now things
look fine.

On Fri, 1 Sep 2017 at 00:14 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.o

[2017-08-31 23:30] JosephMcArthur commented on #866
okay now the iframe uses my ID. Will need to switch on live but should be good enough to test

[2017-08-31 23:31] markmacgillivray commented on #866
Why do you want the iframe to use an ID? No real user is going to be passing an ID via the iframe.

[2017-08-31 23:34] JosephMcArthur commented on #866
so that we can tell how much the iframe is being used at all (as my understanding right now is that we couldn't tell that from general usage without some means of tracking). I'm not expecting a user to switch out those ID's.

[2017-08-31 23:45] markmacgillivray commented on #866
But that is what the "from" parameter was for, that has already been added to clio etc.

[2017-08-31 23:45] natalianorori commented on #676
I got the notification as "request updated with story", the email does include the whole request info but it is really hard to interpret quickly, what you get to your email is basically the log that is also displayed in each request in the button's site.

[2017-08-31 23:47] JosephMcArthur commented on #866
yup, but the iframe for embedoa is a totally different thing and by the looks of how you implemented tracking the from para won't work there?

[2017-08-31 23:54] markmacgillivray commented on #866
It passes the from param to /availability on the API, so that we have something in "from" like we do from other things calling. It reads "from" from an incoming "uid" param, but that can be anything you want.

So if all you are wanting is to know someone is using the iframe, then just set uid:"iframe" instead of using your user ID.

It already also sets "plugin":"widget" so then you will know it i

[2017-08-31 23:56] JosephMcArthur commented on #866
got you, changed it to "iframe" in the iframe. THANK YOU.

On Fri, 1 Sep 2017 at 00:54 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-09-01 00:07] #676 closed

[2017-09-01 00:21] JosephMcArthur commented on #886
Some more detailed thoughts & updates:
- [x] when a request is being made, show some text

- [ ] when a request is being made, show a cleaner loading page (where the footer isn't taking over the whole page) - @markmacgillivray

[2017-09-01 03:10] natalianorori commented on #545
I think this was achieved with the new onboarding docs for volunteers, let me know if you agree @JosephMcArthur

[2017-09-01 07:57] JosephMcArthur commented on #545
yes! aces

[2017-09-01 07:57] #545 closed

[2017-09-01 09:32] JosephMcArthur commented on #893
note to self I want to add a gif to this page

[2017-09-01 09:57] JosephMcArthur opened #894 "add sign in with twitter"
A lot of our users love twitter, adding that would be good for them

[2017-09-01 10:02] JosephMcArthur commented on #866
@markmacgillivray I think the next action here is yours. The stats page, or export data, needs to be updated to include param's (or, if you can tell me the query to get things out the API). To close this I just need a way I can pull this data out.

[2017-09-01 13:33] JosephMcArthur opened #895 "make the text of "This article is available!" smaller on embedoa & add final copy in widget"

[2017-09-02 07:35] JosephMcArthur opened #896 "when bulk requests are made, have them made by the user who started the bulk job"
currently, they're shown as made by an anonymous user. This is okay, however, in a larger job makes it hard to be able to be sure which requests are created as part of the job when exporting.

[2017-09-02 07:36] JosephMcArthur opened #897 "export requesting user first & second name alongside other request data"

[2017-09-02 07:39] JosephMcArthur opened #898 "reprocess all old requests against our new journal catching & sherpa romeo"
From exports, it looks recent updates to the request system's ability to catch journal info is vastly superior. However, this hasn't been reflected in earlier requests so they lack journal info & then also sherpa data.

Can we reprocess old requests against our current system to update journal info & sherpa records.

[2017-09-04 08:31] JosephMcArthur opened #899 "Tried to add an article URL as admin, given error, but article is added"
Response page: https://openaccessbutton.org/response/7nkyXHahzNEWqzowB
Tried to add : http://fad.macmate.me/McFadden_Lab/Mcfadden_Papers/2012/Botte_Chem_Revs_2012.pdf

and was given an error (told to contact us & give the URL)

[2017-09-04 15:31] natalianorori commented on #778
Joe and I decided that this would be a great candidate for our next test, I'd like to deliver it by the end of this week/beggining of next week.  Any extra thoughts on the final copy for the signature? @chealsye @JosephMcArthur

[2017-09-05 03:00] natalianorori commented on #757
we've had many authors giving us the accepted manuscript version of their papers, which we can't publish most of the time due to journal policies. I have followed up with these authors, but its hard enough to get them to reply once so not all of them follow up with my replies. I consider it extremely important adding this information to our next email (I know we said we are leaving this implementa

[2017-09-05 11:56] JosephMcArthur commented on #877
Some ideas from FSU:
* show a list of options if we're not sure
* allow boolean search
* provide some guidance on title searches (some folks are trying partial titles & authors, which I expect is less likely to be successful than full title alone)

[2017-09-05 11:57] JosephMcArthur commented on #877
Note to self, this is going to become the next find system priority after < false positives. A LOT of users are talking about it.

[2017-09-06 16:29] jibe-b opened #900 "OAB and unavailability of literature if boycott"
Just to share you a thought: with the upcoming boycott of Elsevier by German universities, there is an open window to address authors:

"hurry up, upload your article to an open archive, soon German researchers will stop citing your article!"

and by the way, to German researchers will soon be specific clients, with stories like "my university cancelled its subscription to Elsevier, so…"

just tho

[2017-09-07 07:12] markmacgillivray commented on #859
Ah ha, you've got an "import uuid" but then of course your code assigns your uuid to uuid! So you actually overwrite the uuid module when trying to write your uuid, causing an reference error. So, global still should not matter, but you should call your uuid something else, like try using:

myuuid = uuid.uuid4().hex

At line https://github.com/OAButton/fb-messenger-bot/blob/master/app.py#L104

Tha

[2017-09-07 07:27] JosephMcArthur commented on #859
That did it! Ace, I'll look into what's happening then.

On Thu, 7 Sep 2017 at 08:14 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-09-07 07:35] markmacgillivray commented on #851
I have updated the extract code to know how to find the title on an alma page. For a library check it would find the title then check the library catalogue and return in the usual way about whether or not it could find stuff. Also, for library or otherwise, it tries to get the title when trying to resolve, and would try to go from title to DOI then do a check for that. In either case, if it can't

[2017-09-07 07:38] JosephMcArthur commented on #851
Before I send this out to libraries, will this work on the dev plug
already?

On Thu, 7 Sep 2017 at 08:35 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarth

[2017-09-07 07:44] markmacgillivray commented on #866
How does the chatbot identify itself? Does it use the plugin param? Is it using the dev API at the moment?

[2017-09-07 07:46] markmacgillivray commented on #866
Ah the plugin is using the live API and uses the "from" param.

https://github.com/OAButton/fb-messenger-bot/blob/master/app.py#L76

If you change that line to use the dev API for now at https://dev.api.cottagelabs.com/service/oab, and change it to use the "plugin" param instead of "from", and set the value as "chatbot" then you will see it on the dev stats page once you use it again.

[2017-09-07 07:56] markmacgillivray commented on #866
I have added "plugin","from","embedded" as export fields to requests and availabilities. These will only show something once there is some data to show in them though.

Also the stats page on dev is now showing the dev data, so will show chatbot uses as mentioned above, and also at the bottom will list any "embedded" terms and their count, and any "from" terms and their count - again though, nothi

[2017-09-07 07:57] markmacgillivray commented on #866
@JosephMcArthur I will assign to you for now to test, let me know what else you need and reassign if necessary, will do whenever I can

[2017-09-07 07:59] markmacgillivray commented on #851
I've not looked at the library plugins at all since we updated the main plugin, as far as I can remember. But anything using the dev API should work, any page that gets passed across from a URL that we can't do much with will have its DOM content searched, and then that should cause the title to be found on those alma pages. You'd have to get someone to test it with a title in it that we know they

[2017-09-07 08:02] JosephMcArthur commented on #866
Okay, so the chatbot popped up once I used it! Yay.

What's the intended use of the "embedded" tag, I think we've only used plugin & from so far right? But, my understanding here is that if someone uses an embeddable widget with their user ID, we'll be able to see here?

[2017-09-07 08:03] JosephMcArthur commented on #866
oh & what is "oab" in the table?

[2017-09-07 08:34] JosephMcArthur commented on #748
on the off chance, it's useful, here is a perhaps useful API: https://www.page.rest

[2017-09-07 12:51] markmacgillivray commented on #866
oab is the test bookmarklet page on the dev site. The widget (the embed) uses the embedded param to pass back the url of the page it was embedded in.

[2017-09-07 12:52] markmacgillivray commented on #866
It also sets "plugin":"widget"

[2017-09-07 13:23] markmacgillivray commented on #899
It appears to be erroring out because it is trying to send an email template that you have not uploaded into the system. Remember if you introduce new email templates into the repo, you have to refresh templates on the admin page. Try that, and see if it sends. I have added some catches, but either way we need the system to know about templates in order for that notification to work, so better put

[2017-09-07 13:30] markmacgillivray commented on #896
Hmm according to the code the requests are already created by the admin user that wants them. Do you have an example where that did not happen?