[2014-08-28 15:26] markmacgillivray opened #1 "API register needs to accept a GUID too"
For identifying the difference between different devices the user is on

[2014-09-02 12:55] mtb-za opened #3 "What do we want to return from OA_Status?"
Just to open up a bit of discussion about what information we want to get back from OA_Status.

As I understand it, this is to give people actually useful stuff yes? So what should we be giving people?

Offhand, I think that what might be useful is:
* an OA link (if found)
* author's email
* DOI for additional searching

What do we think?

[2014-09-09 07:17] hrickards opened #4 "OAuth Authentication"
As part of the mobile app, we're integrating OAuth Authentication (so Facebook, Twitter, etc). Rather than trying to shoehorn this into the existing API registration method, what do you think about another API oath registration method? It would be very similar, but rather than email and password would take provider and user id.

[2014-10-01 13:55] JosephMcArthur opened #10 "Bug reporting"
Need a system for capturing bugs simply from inside the plug-ins. On the website we'll just use email.

[2014-10-13 13:38] mtb-za opened #16 "Padding at top of page"
The in-page anchor tags I am using are jumping to the wrong part of the page (see the current oabutton.cottagelabs.com/about/ ).

We need something like
       body { padding-top: 70px; }
in the css file, according to http://getbootstrap.com/components/#navbar-fixed-top in order to make that work properly.

[2014-10-14 07:30] hrickards opened #19 "Return a list of all stories"
That we can show all stories on the map (afaik at the moment we can only get details for an individual story from it's id, rather than a list of all stories)

[2014-10-14 13:49] mtb-za opened #24 "[UI] [Website] Over-ride default Bootstrap nav-pill class style"
I have used the default .nav-pill class from bootstrap ( http://getbootstrap.com/components/#nav-pills ). We need to change their default blue to something in our palette.

Just making an issue so that it does not get lost.

[2014-10-14 20:29] davidecarroll opened #25 "blog should be openaccessbutton.org/blog to fit hyperlinks in app"

[2014-10-15 09:49] davidecarroll opened #28 "navigation tools for map"
the map looks great, could we have navigation tools

[2014-10-16 16:38] JosephMcArthur opened #33 "Stick up a openaccessbutton.org/instructions/paywall page with these images on them."
https://www.flickr.com/photos/dullhunk/6885585302/in/pool-open-access-irony-award

https://www.flickr.com/photos/dullhunk/6875273607/in/pool-open-access-irony-award

https://www.flickr.com/photos/dullhunk/8653757940/in/pool-open-access-irony-award

https://www.dropbox.com/s/r52iuaygzwkxz46/Screenshot%202014-10-16%2017.38.06.png?dl=0

[2014-10-16 16:43] JosephMcArthur opened #34 "Bookmarklet instructions page to be seen after first log in"
Mock up and copy here. https://www.dropbox.com/s/op8brcfcfmsap7p/Screenshot%202014-10-16%2017.42.46.png?dl=0

[2014-10-18 18:53] davidecarroll opened #36 "blurring location data"
We have already discussed blurring location data to protect our users privacy, in the mobile app we are blurring to 11km. Is a similar degree of blurriness possible on the web?

[2014-10-18 19:09] JosephMcArthur opened #37 "Can we host files for download on the server? (e.g PDF resources)"

[2014-10-20 00:07] JosephMcArthur opened #39 "Need to switch up the words on action buttons on the pages"

[2014-10-22 17:48] mtb-za opened #47 "Stories on map not visible"
Not sure if this is intentional or if I am missing something, but I am not seeing any points on the map. Searching for a story does not return anything, even for one that I know I logged.

https://openaccessbutton.org/stories looks like it is just an empty map. I am also not seeing any points in the app's map.

[2014-10-23 09:19] mtb-za opened #48 "Removal of wishlist items?"
I am just wondering if we should consider allowing items to be removed from the wishlist. It is possible that people may get a copy from elsewhere, or they may decide that they do not need it for some reason.

Just opening this for discussion really.

I know that the wishlist features are not finalised yet, but I can see the wishlist getting really long quickly....

[2014-10-23 18:06] markmacgillivray opened #52 "Add username taken and suggestion hints via js during signup, not just as error afterwards"

[2014-10-25 14:06] mtb-za opened #54 "SSL version vulnerability?"
via bugs@oab.org

---

I tested your server, and you are using a vulnerable version of OpenSSL.
Test results:
https://www.ssllabs.com/ssltest/analyze.html?d=openaccessbutton.org

---

Not sure about this, but passing it on, as I have with the other e-mails I have received.

[2014-10-30 14:07] mtb-za opened #55 "Internal Server Error on Story link"
via bugs@oab.org

---

Martin Bentley tweeted a link here: https://twitter.com/astonsplat/status/527773907533570048

... and that link points to this address: https://openaccessbutton.org/story/8b3a9bd0deea4cc5842864c707a64eb0

... which returns

Internal Server Error

The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an e

[2014-11-04 11:03] mtb-za opened #56 "Firefox Addon gets wrong metadata"
Not sure if this is an issue with the Firefox addon or with the backend, but since the addon gets the metadata from the backend, I am opening the issue here.

I hit a paywall at [http://onlinelibrary.wiley.com/doi/10.1111/1365-2478.12078/pdf](http://onlinelibrary.wiley.com/doi/10.1111/1365-2478.12078/pdf) so naturally I hit the Button. For some reason, the metadata it shows is for a different pape

[2014-11-07 19:09] JosephMcArthur opened #57 "Write the readme :)"

[2014-11-07 19:14] JosephMcArthur opened #58 "Get the data displaying on the map"

[2014-11-07 19:15] JosephMcArthur opened #59 "Polish the story pages and incorporate the data"

[2014-11-08 12:23] JosephMcArthur opened #61 "Start to search BASE via API for papers."
Ensure that if there is a version available in base for a paper behind a paywall we can get it!

[2014-11-24 10:16] mtb-za opened #64 "Issue resetting password"
Via bugs@oab.org:

---

I really like the idea but I am starting to feel like Charlie Brown as every attempt to log in is foiled with an internal service error. At least WHEN I can get THAT far. I have to do a password reset to get to the internal service error.  I have had this problem on Firefox on Ubuntu Linux & both Firefox & Chrome on Mac OSX Mavericks.  I don't do windows.  Any help would be

[2014-11-24 21:50] davidecarroll opened #65 "Displaying "last paper" (something catchier) on the home page"
adding recently added articles to the front page on the carousels would be a nice way to gamify people using it and it would be another interesting way to visualise the problem as we move forwards

I'm guessing it could be done in some way but could it be done in an visually interesting way?

[2014-11-25 11:45] davidecarroll opened #66 ""contribute metadata" option when we don't scrape it"
as we've had problems scraping metadata from certain papers (T+F for example). As an interim measure until the scraper library is built up could we have an option to contribute metadata?

a-la mendeley (see screenshot)
![screen shot 2014-11-25 at 11 45 07](https://cloud.githubusercontent.com/assets/4964180/5182309/9063609a-7498-11e4-8d53-5672f25f7d55.png)

[2015-01-17 16:11] davidecarroll opened #67 "changing username"
a few users have contacted enquiring about a changing username feature. is this possible?

[2015-01-28 08:52] JosephMcArthur opened #68 "Integrate OpenAire"
Openaire is a repo aggregation service run by the EU. https://www.openaire.eu/ for general info and details on the API appear here - http://api.openaire.eu/

[2015-02-18 22:40] mtb-za opened #69 "Integrate arXiv"
A major source of physics and mathematics pre-print papers in the the [arXiv](http://arxiv.org).

They have an API, which can return an Atom feed. It looks like it might be possible to search by DOI, if there is one associated with a record. This could be a good place to search for some types of paper.

The API docs are here: http://arxiv.org/help/api/user-manual

I have asked on their API mailing

[2015-02-18 22:42] mtb-za commented on #68
If we want something that the API can not currently do, then we are welcome to ask them. The API is not finalised as yet.

It sounds like we can do what we want (which is get a link to a page which will hopefully have an open copy).

[2015-02-19 16:49] mtb-za commented on #69
This looks like it will be doable:
http://export.arxiv.org/api/query?search_query=doi:10.1103/PhysRevD.89.085017

I am not sure if there is a sensible way to limit hitting them only if we suspect that the paper might have a pre-print there or not, but it would be courteous to think about.

It looks like we may be able to serve the pdf directly, since it is included in the response, just btw, but I

[2015-02-19 16:56] mtb-za opened #70 "Integrate PubMedCentral"
PubMedCentral has a large corpus of biomedical research. They also have an OA Subset, which can be searched via API. This only includes genuinely OA stuff: "Some journals use the label "open access" for an article that is available free at time of publication, but is still subject to traditional copyright restrictions. Such articles are not part of this subset."

http://www.ncbi.nlm.nih.gov/pmc/to

[2015-02-19 17:14] mtb-za commented on #70
Their internal search function uses a link along the following lines:
http://www.ncbi.nlm.nih.gov/pmc/?term=10.1186%2Fs12955-014-0151-y%5BDOI%5D

I am not sure if we would be allowed to use this. I will follow-up with them to confirm. It is also very likely that I am missing something in the API docs.

[2015-02-19 19:25] mtb-za commented on #70
@JosephMcArthur pointed out that searching their open section will not be too useful, because people already have access to those. (Which I somehow missed.) Although, that subset may not include versions of papers that are available, even if not genuinely open, because it seems to only take things that are CC or similar. I think I should still email to confirm whether they think it would be useful

[2015-02-20 04:05] hrickards opened #71 "Blog feed doesn't seem to return any posts"
See https://www.openaccessbutton.org/blog/feed

[2015-02-26 19:22] mtb-za commented on #68
@markmacgillivray If you can have a look at their api and see if we want to ask them for anything extra, that would be good.

[2015-03-04 19:42] mtb-za opened #72 "Reduced Interactivity Option"
I have been having an interesting chat with someone via bugs@oab.org

Essentially he feels that the Button is too intrusive, what with requiring a story to be entered and is therefore distracting him from finding his research. His request is essentially for a reduced interactivity mode that would essentially just log the paywall in the background, and let him carry on. It seems that he is not usin

[2015-03-04 20:00] moorepants commented on #72
I'm the person that brought this up.

For the user story, I usually have a few research projects I work on at any given time. If I could have a list of pre-written user stories for my major research topics and have one as the default, then you could reduce having to type the same thing over and over again and select from dropdown or just let the default user story fly.

[2015-03-06 10:02] JosephMcArthur commented on #72
Would an autofill option work maybe? This might be simpler than making a
new interface while still filling the user story.

On 4 March 2015 at 20:00, Jason K. Moore <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition <http://righttoresearch.org>

Co-Lead/Founder: Open Access Button <http://openaccessbutton.org>
Twitter: @Mcarthur_Joe
Skype: joseph_

[2015-03-07 21:39] davidecarroll commented on #72
i like the idea of an autofill

what do you think jason?

thanks,
david

On 6 Mar 2015, at 10:02, Joseph McArthur <notifications@github.com> wrote:

David Carroll
Open Access Button Project Lead david@openaccessbutton.org
Jabber: davidecarroll@dukgo.com
@davidecarroll
----
My public key fingerprint is 4FFB C540 1284 57FC 5971 2B1A 57DC 89F4 C3F0 BEB3.

[2015-03-12 23:24] mtb-za commented on #72
I think that an autofill should work. The window would still appear, but this is probably OK, since it will just be while you record a paywall quickly.

[2015-04-13 17:08] mtb-za opened #73 "Linking other repositories - APIs for DSpace and ePrints"
Hi all,

It looks like there are standard APIs for both DSpace and ePrints (which seem to be the most common repository software).

In theory then, if we get a way of using this correctly for each of these, we can probably add new repositories very easily.

I am not sure that most repos will have workable DOI information for pre-prints, but it should allow us to search them using their metadata.

[2015-06-04 08:25] HLWiencko commented on #71
It looks like the feed contains the latest post. I don't see anything when I subscribe in Feedly, but looking at the feed itself does show the latest post. At the moment MAX_FEED_ENTRY_AGE in settings.py is set to 2592000, which is about 30 days.

I'll submit a pull request changing it to 6 months and see how we get on?

[2015-09-14 18:18] mtb-za opened #77 "Link to paper through OAButton?"
With the recent kerfuffle about Elsevier giving some "top Wikipedia editors" access to things, @menzenski suggested the following, in (this blogpost)[http://www.menzenski.com/Some-Thoughts-On-WikiGate/]:

This seems like something that would not be too difficult to do, but is probably harder than I imagine.

Thoughts? It would be reliant on people using the links like that, but it might be possibl

[2015-09-14 18:53] markmacgillivray commented on #77
Yes this can be done, it's essentially how the bookmarklet operates, and
can be done by a URL link. But, the URLs have to be distributed to people
somehow. Where is the intended target for such URLs to be written? It seems
to me that it doesn't solve a problem beyond that which the bookmarklet
already tackles.
On 14 Sep 2015 19:18, "Martin Bentley" <notifications@github.com> wrote:

[2015-09-17 19:54] CAYdenberg commented on #77
@menzenski suggests putting these links in Wikipedia articles, either by the writers instead of the closed-access link, or by a bot that scans for closed-access links. Of course, it could generally be used anywhere someone wants to link to a closed-access source (which still properly cites and credits the source).

One limitation of the OA Button is that people have to "install" it to use it (yes,

[2015-11-07 10:31] wetneb commented on #77
@markmacgillivray @JosephMcArthur just found out about this GitHub issue. We would be keen to distribute such URLs on http://dissem.in/, as explained in an email to the team.

[2015-11-13 11:35] markmacgillivray commented on #77
I still like this idea and will see if we can work it into the current
development. However there is still an issue of getting people to use the
links - what I meant there was not so much about "how" they use them, but
about how they will know such links even exist to be used. Some sort of
outreach seems necessary. So although using these links may not have the
technical on-boarding barrier of ins

[2015-11-13 23:25] wetneb commented on #77
Yes, of course! But I expect people on dissemin to be already interested in open access and willing to do something for it, so it would be quite easy to explain in a short phrase why they should also use the OAB. So I would not worry too much about the social on-boarding barrier: the current technical barrier (not being able to use this feature in the first place) is much greater.

[2015-12-27 14:58] #57 closed

[2015-12-29 15:19] #10 closed

[2015-12-29 15:20] JosephMcArthur commented on #25
the blog does appear at /blog, so assuming this can be closed.

[2015-12-29 15:20] #25 closed

[2015-12-29 15:33] JosephMcArthur opened #78 "[UI] [Website] Footer misaligned on mobile (aka small screen)"
See:
<img width="384" alt="screenshot 2015-12-29 15 33 19" src="https://cloud.githubusercontent.com/assets/4953703/12036828/82004782-ae41-11e5-9605-dcd404d3a5c8.png">

[2015-12-29 15:35] JosephMcArthur opened #79 "Map doesn't display on small screens"
This is the case on Android and small screens, on /action.

[2015-12-29 15:37] JosephMcArthur opened #80 "On small screens, menu bar needs to be scrolled to show all options"
it seems to extend to full lenght, as expected, then retract. Very odd UI.

[2016-01-03 17:25] JosephMcArthur opened #81 "Having register + download both on block for signing up is silly"
Remove "register"

[2016-01-03 17:27] JosephMcArthur opened #82 "side bar on pages like support/about still sends people to the wrong place"
If not covered by #16 and #24 this needs to be figured out and fixed!

[2016-01-03 17:30] JosephMcArthur opened #83 "Link to download firefox add on is still a raw file, not via the firefox store."
This is pretty criminal, lets fix it.

Link should be https://addons.mozilla.org/en-GB/firefox/addon/openaccessbutton/?src=search

[2016-01-03 17:30] JosephMcArthur opened #84 "Stick up a header asking people to download the Open Data Button"

[2016-01-03 17:32] JosephMcArthur opened #85 "Put up a graphic asking people to download the open data button on our slider"
@mtb-za you'll need to ask Chealsye to do a slider for this.

[2016-01-18 12:16] mtb-za commented on #82
What do you mean by this? That it does not go to the top of the page?

[2016-01-18 12:17] JosephMcArthur commented on #82
When you click it, you don't arrive at the right hash

On 18 January 2016 at 12:16, Martin Bentley <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur
Linkedin <http://link

[2016-01-18 12:19] JosephMcArthur commented on #82
e.g share and code stick you at the bottom of the respective pages.

Clearly also an issue that https://openaccessbutton.org/support goes to
https://openaccessbutton.org/support#fund automatically for some reason.

On 18 January 2016 at 12:17, Joseph Mcarthur <joseph.mcarthur.10@gmail.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-L

[2016-01-18 12:29] mtb-za commented on #79
Is this a bug or working as designed? Just pinging @markmacgillivray to check that I am not missing anything before I try to fix it.

[2016-01-18 12:52] mtb-za commented on #80
The menu height is set to "auto", which is what is causing this. Tracking down where it is enforced now.

[2016-01-18 12:59] JosephMcArthur commented on #79
If this is working as designed, I'd like it designed differently ;)

On 18 January 2016 at 12:29, Martin Bentley <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur
Linkedi

[2016-01-18 13:35] mtb-za commented on #80
I am not sure what the best way to fix this is.

I have made a change in the bootstrap files themselves, limiting it to 20em, which seems to work in my emulator.

[2016-01-18 13:41] mtb-za commented on #79
:P

I will see what I can do. Not sure if it will display well, which is why I thought that it may have been left off.

[2016-01-18 13:53] mtb-za commented on #82
I will see what I can do about this, although I seem to recall trying and failing when I first set it up, because of how I was doing the navigation in the first place. Essentially, each of those is only one page, with the sections not being shown staying hidden until the menu item is clicked. There is probably a better way to do this, so I will have a look.

I think that that one was because there

[2016-01-18 13:58] JosephMcArthur commented on #82
I seeeeeeeeee. If the simple fix for /support is to write a page that
summarizes the section, I'm all for that. Same for /about.

Then all we have left to fix is that it doesn't got to the top of the page!

On 18 January 2016 at 13:53, Martin Bentley <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder:

[2016-01-18 14:10] mtb-za commented on #82
Does not need to be a full page even, just some copy as a landing section on those pages.

[2016-01-18 14:15] JosephMcArthur commented on #82
Yeah, okay. We'll do that then yes? I'll draft some copy for it.

On 18 January 2016 at 14:10, Martin Bentley <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur
Linkedin <

[2016-01-18 14:19] mtb-za commented on #82
Oh my word that was a stupid bit of thinking on my side.

Fixed the scrolling on both pages.

Apparently having a "scrollTo" command is a bit of a daft idea in this instance, since the anchor to scroll to is a long way down the actual page.

Once we have some copy, I can make the last (I think fairly minor) edit in order to close this.

[2016-01-18 14:22] JosephMcArthur commented on #82
Amazing. May take me a while to do copy, but I'll do it before launch.

On 18 January 2016 at 14:19, Martin Bentley <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur
Link

[2016-01-18 14:23] mtb-za commented on #82
Just tested with some placeholder text, it will be really easy.

Going to close this issue and make a new one, I think, since they are not really related.

The scrolling is fixed.

[2016-01-18 14:24] mtb-za opened #87 "Add a landing section to the About and Support pages - Need copy"
Discussion started in #82 which included that we do not want to go directly to funding in support.

This is a minor edit that just needs copy in order to be made to work.

[2016-01-18 14:31] mtb-za commented on #87
There is a message for where this edit needs to happen on the respective pages, in case someone else needs to edit the copy. (And so that I remember what the heck I need to do once it is completed.)

[2016-01-19 09:16] mtb-za commented on #84
Does this need to be done immediately, or is this something that will go live later?

[2016-01-19 09:18] JosephMcArthur commented on #84
Go live later, but it would be great to get it ready. Could test now, and
then just comment it out or leave good instructions here.

On 19 January 2016 at 09:16, Martin Bentley <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <

[2016-01-19 21:06] mtb-za commented on #85
@markmacgillivray: Can you confirm that this just needs to be saved to the `portality/static` folder in order to work?

Or should we put this on flickr or something else?

[2016-01-19 21:22] markmacgillivray commented on #85
Yes you can put it in static and refer to it from the pages via
/static/yourfile.jpg or whatever.
On 19 Jan 2016 21:06, "Martin Bentley" <notifications@github.com> wrote:

[2016-01-19 21:40] mtb-za commented on #61
According to the meeting today, we have got this more or less done, yes? Close this?

[2016-01-25 09:45] JosephMcArthur opened #88 "Remove advisory board from about page"
Just comment it out, we'll want to bring it back one day

[2016-01-25 09:47] JosephMcArthur opened #89 "on about page, remove "team" header or whatever is causing the whiteout"

[2016-01-25 10:07] #78 closed

[2016-01-25 10:07] #80 closed

[2016-01-25 10:07] #83 closed

[2016-01-25 13:42] alexgiann opened #90 ""Thanks" tab duplicates on the About page"
I had an issue with the “Thanks to” tab. All tabs look fine when you open them but if you click on the "thanks to" one and then go to any other tab, the text of the “Thanks” tab is duplicated on the bottom of the other tabs you open. It only happens with this one as far as I have noticed, the others go away just fine.

[2016-02-02 22:32] alexgiann opened #91 "The buttons on the side menu on about and support page don't match changes in the page."
The buttons on the side menu on the about page [https://openaccessbutton.org/about] and the support us page [https://openaccessbutton.org/support] are not matching the changes in the page when you click through them.

Example: I can click on the "volunteer" button and get the text but the page is not changed. I can however manually add the page https://openaccessbutton.org/support/ [#volunteer] an

[2016-02-11 17:46] JosephMcArthur commented on #87
Text for this:
https://docs.google.com/document/d/1HDdVZYc6X3WiTBW0ORMo_BTtIvwC88GO5pqlqGkKdAs/edit

This should be good to go, but I'd like to push all this live more or less
at once.

On Monday, 18 January 2016, Martin Bentley <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition <http://righttoresearch.org>

Co-Lead/Founder: Open Access Button <ht

[2016-02-17 12:37] JosephMcArthur opened #92 "Finish advocacy changes"

[2016-02-17 13:07] JosephMcArthur opened #93 "Move Openaccessbutton.org"
#(end of next week)

Point domain at new servers. for plug-ins, api.openaccessbutton.org will find new api. This will allow new website changes to go live. Firefox plugin will read from old api for a while, and will be changed with firefox 46 goes live.

[2016-02-17 13:09] JosephMcArthur opened #94 "Catch data from old chrome and firefox users data going to openaccessbutton.com/api"

[2016-02-18 10:55] JosephMcArthur opened #95 "Generate osf.openaccessbutton.org for grant report"
This will demonstrate data cleaning and new features applied to OAB before they can get pushed live due to firefox issues.

[2016-02-18 10:57] JosephMcArthur opened #96 "Can we use Altmetric API (premium) to pull articles associated with an article"
This could be pulled with content mine facts and hypothesis comments to give reader a clearer picture of what might be behind a paywall and if they want to buy.

[2016-02-19 18:54] svmelton opened #97 "Issue with expandable cards on /advocacyresources"
The expandable cards on https://openaccessbutton.org/advocacyresources need some love—they currently are not styled correctly and are not expandable. We'll need some help with Javascript.

[2016-02-19 19:00] svmelton opened #98 "Issue with sidebars on /advocacy"
Currently an issue with the sidebars (labeled "Helpful Guides") on the advocacy page: https://openaccessbutton.org/advocacy_staging. The second sidebar doesn't collapse the sections—this is another Javascript issue. The footer is also not displaying correctly.

[2016-02-20 20:38] JosephMcArthur opened #99 "Remove mention of donations through Medsin on support pages"

[2016-02-21 11:04] JosephMcArthur commented on #56
@Steven-Eardley is this good to close with changes made so far?

[2016-02-21 11:06] JosephMcArthur commented on #55
These are completely redone in new "request pages" - no point addressing this.

[2016-02-21 11:06] #55 closed

[2016-02-21 11:09] JosephMcArthur commented on #54
@markmacgillivray are we okay here?

[2016-02-21 12:59] Steven-Eardley commented on #56
Yes, closing this because the Firefox add-on in question is has been deprecated, pending release of the cross-browser extension. That'll have metadata bugs of its own :wink:

[2016-02-21 12:59] #56 closed

[2016-02-22 10:08] mtb-za commented on #16
I have fixed this. The issue was me being thick about where exactly I was sending stuff.

[2016-02-22 10:08] #16 closed

[2016-02-22 17:57] JosephMcArthur commented on #91
Think I've fixed this in /about. @alexgiann can you verify this?

[2016-02-22 18:03] alexgiann commented on #91
Nope. Still not getting the proper link when I click through the side menu. I tried it on different browsers too (+incognito) but nothing changed. :( @JosephMcArthur

[2016-02-22 18:05] JosephMcArthur commented on #91
Gah, I confused this with another bug. Okay, haven't fixed this!

[2016-02-22 18:07] JosephMcArthur commented on #89
Fixed I hope

[2016-02-22 18:07] #89 closed

[2016-02-22 18:07] JosephMcArthur commented on #88
and like magic, it's gone

[2016-02-22 18:07] #88 closed

[2016-02-22 18:08] JosephMcArthur commented on #99
Gone! Pending donation system from the all powerful NVF

[2016-02-22 18:08] #99 closed

[2016-02-22 18:14] JosephMcArthur commented on #39
Joe, this is to change homepage action button text.

[2016-02-23 09:02] mtb-za commented on #91
Just to clarify, this is to do with updating the URL when clicked?

Right now, this is expected behaviour, but I can probably change it. Just need to look where and how.

[2016-02-23 09:10] JosephMcArthur commented on #91
Yes, that's how I've understood it. Would be good for the URL to change on
click.

On 23 February 2016 at 09:02, Martin Bentley <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_m

[2016-02-23 09:23] mtb-za commented on #90
This is weird. I have no idea why it is doing this.

Everything seems to check out, code-wise. Can someone else take a look as well? Maybe I am missing something.

[2016-02-23 12:31] mtb-za commented on #90
Seems to be fixed.

[2016-02-23 12:31] #90 closed

[2016-02-23 12:32] mtb-za commented on #91
It now changes on click.

@alexgiann: Please reopen this if I have misunderstood this.

[2016-02-23 12:32] #91 closed

[2016-02-23 12:49] mtb-za commented on #87
Have done this for both pages.

[2016-02-23 12:49] #87 closed

[2016-02-23 12:50] mtb-za commented on #91
Duplicate of #60.

[2016-02-23 12:53] mtb-za commented on #82
I have a suspicion that my fix for #91 (and #60) has caused a regression here, and we are seeing this again.

Could someone confirm?

[2016-02-23 13:07] mtb-za commented on #82
Solved by throwing more javascript at the problem. In this case, a forced scroll to `(0,0)`.

[2016-02-23 13:07] #82 closed

[2016-02-23 13:24] mtb-za opened #100 "Check all the links work correctly"
If someone (or multiple someones) can just go through and click all the things at some point and let me know here if something is not working.

Just give the text, where it is and where it should point to in this thread, please.

[2016-02-23 13:56] mtb-za commented on #81
@markmacgillivray Has this gone live yet? If yes, I did not actually fix it, because I am still seeing both.

[2016-02-23 15:14] mtb-za commented on #91
So something broke badly on these earlier. This is just a note that we are never touching these pages *ever* again.

[2016-02-25 19:13] mtb-za commented on #98
Are we expecting a second sidebar there? It looks like it is duplicating the content.

This will cause it to break because it is matching on the first div with the correct ID. If you check, the second sidebar is opening and closing the section above correctly.

Are we planning another load of content here? If not, then the fix is simply to delete it. If we are, then we need to change the ID of the

[2016-02-25 19:19] svmelton commented on #98
Thanks for checking! Yeah, we wanted a second sidebar with different content there.

[2016-02-25 19:30] mtb-za commented on #97
I will get on this as soon as I can access the etherpad. It is not loading the actual page content for me right now.

I do see that there are some Bootstrap cards that have been commented out, just as an aside.

[2016-02-25 20:17] svmelton commented on #97
Yup! I added those in as a possible alternative to the other cards, but Joe wasn't sure about their ability to open independently in mobile.

[2016-02-26 05:55] JosephMcArthur commented on #97
It's fine to use those now. See here:
https://docs.google.com/document/d/1h3sMqdm3zqOJdII_7GSsjVGtojoWCiSksqKM8ZdhCm0/edit?ts=56bd1476#

On Thursday, 25 February 2016, Sarah Melton <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition <http://righttoresearch.org>

Co-Lead/Founder: Open Access Button <http://openaccessbutton.org>
Twitter: @Mcarthur_Jo

[2016-02-26 11:29] mtb-za commented on #98
OK, great. I will get onto it today if the etherpad loads properly.

[2016-02-28 10:15] mtb-za commented on #98
I can still not load into the etherpad properly, so I am uploading new pages to a new branch, which will hopefully be able to replace the current content correctly. Just copy them into the etherpad.

[2016-02-28 11:45] mtb-za commented on #97
This has been moved to https://openaccessbutton.org/resources/

[2016-02-28 13:41] mtb-za commented on #97
These are fixed, although I am pushing a new css file now to alter the bootstrap buttons and nav-pills to use one of our blues instead of the default.

Buttons will also go orange on hover.

This page still needs copy.

[2016-02-28 13:41] #97 closed

[2016-02-28 15:27] JosephMcArthur commented on #94
n/a anymore

[2016-02-28 15:27] #94 closed

[2016-02-28 15:28] markmacgillivray commented on #54
We are now fine, some weaker encrypts in use, but this is a safeguard for older browsers that may not support newer stuff. Could review in future and change the ones we allow again.

https://www.ssllabs.com/ssltest/analyze.html?d=openaccessbutton.org

[2016-02-28 15:28] #54 closed

[2016-02-28 18:19] JosephMcArthur opened #101 "support/about don't go to top of page initially"
When sidebar is clicked, this works.

I can replicate this bug on chrome and mobile chrome. Can't do it with ff.

[2016-02-28 18:19] JosephMcArthur opened #102 "On mobile/small screen: move sidebar for support/about BELOW header on landing page."

[2016-02-28 21:17] #92 closed

[2016-02-29 10:58] mtb-za commented on #98
This has been fixed.

Closing for now. It might still need new copy.

[2016-02-29 10:58] #98 closed

[2016-02-29 19:51] JosephMcArthur opened #104 "Put up OAB Story and ODB slider"
Following: https://github.com/OAButton/backend/commit/abb94068a16df5f3c9929421f5347ed660045376

[2016-02-29 21:13] JosephMcArthur opened #105 "Story page gives internal server error"
https://openaccessbutton.org/story/0e4ff4371a7d47e898c432e809f9fa34 gives internal error.

User: https://twitter.com/erica_pool

[2016-03-02 02:52] chealsye commented on #104
Added in the corrected quote slider from Himmelstein to Pollock. https://github.com/OAButton/backend/commit/0c89f4c33ec97fb5b1288ee8e1a0b47db03a64b1

[2016-03-02 12:48] JosephMcArthur opened #106 "Minor Resource page improvements"
- [x] Alter colors of headers on resources page from orange to blue
- [x] Add in color bars to resources pages for why/how/what headers (panels I think they're called)

[2016-03-05 16:15] #58 closed

[2016-03-05 16:15] #47 closed

[2016-03-17 13:00] mtb-za commented on #104
Can I delete the Himmelstein ones then? (So Rufus Pollock is the right attribution?)

Are these being used anywhere yet? I want to drop them in a new folder within `portality/static/`, but do not want to break anything yet.

[2016-03-17 13:33] chealsye commented on #104
Martin,

Yes, the Himmelstein ones can be deleted. The Pollock one is being used on
the ODB website slider.

Best,
Chealsye

On Thu, Mar 17, 2016 at 8:00 AM, Martin Bentley <notifications@github.com>
wrote:

[2016-04-03 16:23] JosephMcArthur opened #107 "Search OpenAire for Papers"
Add a /use endpoint

[2016-04-03 16:24] JosephMcArthur opened #108 "Search OneRepo for Papers"
Add /use endpoint

[2016-04-03 16:24] JosephMcArthur opened #109 "Search La Referencia for papers"
Add a /use endpoint

[2016-04-03 16:25] JosephMcArthur opened #110 "Search Zenodo for papers"
add a /use endpoint

[2016-04-03 16:26] JosephMcArthur opened #111 "Search Figshare for papers"
I've seen people put pre-prints and author versions here, would be interesting to see how would be good to search for these.

[2016-04-03 16:28] JosephMcArthur opened #112 "Intergrate with Share"
Could we use this to close #110 and #69 and others Share feeds from?

[2016-04-03 16:30] JosephMcArthur opened #113 "See how we can find data behind papers from Data Dryad"

[2016-04-03 16:30] JosephMcArthur opened #114 "Integrate with ePMC and PubMed Central to get papers"
Add as a /use endpoint

[2016-04-03 16:34] JosephMcArthur opened #115 "Can we programmatically hit "Copy Request Buttons" and get back the paper for user?"

[2016-04-03 16:36] JosephMcArthur opened #116 "Find a sane way to implement a system of finding pre-prints from paper metadata"
Pre-print list here (generated in house): https://docs.google.com/spreadsheets/d/1zYOy6bcydDZ9G56FKmDzg_pexTarVsJR5hH0KiQGt_I/edit?usp=drive_web

[2016-04-03 16:40] JosephMcArthur opened #117 "Layout technical plan to associate a paper with key institutions"
- [ ] Funders
- [ ] Publisher
- [ ] Journal
- [ ] University

[2016-04-03 16:58] JosephMcArthur opened #118 "Layout technical plan for automated email gathering?"
- [x] What UI changes are needed?
- [x] Implement in the plug-ins or backend (backend is my preference)
- [x] What's the 80/20 implementation? Are some sites going to be really easy, which are going to be hard?

[2016-04-03 17:03] JosephMcArthur opened #119 "Explore "Associated Materials" concept"
We've long discussed how it would be cool to surface:
- [ ] Content Mine Facts,
- [ ] Hypothes.is comments,
- [ ] Altmetric materials

to a user in they can't get access to a pape to help inform a buying decision.

How might this be possible? Would it even be useful?

[2016-04-03 17:10] #95 closed

[2016-04-03 17:11] #93 closed

[2016-05-22 18:01] JosephMcArthur opened #120 "Have the plugins understand pubmed pages"

[2016-06-21 11:23] #19 closed

[2016-06-21 11:23] #36 closed

[2016-06-21 11:24] #64 closed

[2016-06-21 11:24] #71 closed

[2016-06-21 11:24] #79 closed

[2016-06-21 11:34] #59 closed

[2016-06-21 11:34] #4 closed

[2016-06-21 11:34] #1 closed

[2016-06-22 02:23] chealsye opened #121 "API doc page not found"
https://openaccessbutton.org/docs results in "Oh no! We couldn't find the page you were looking for!"

This page is linked to through the "Check out our API docs" button below Make Progress on the OAB homepage.

/docs needs to be fixed or the API button link be changed.

[2016-06-22 02:28] chealsye opened #122 "API doc page not found"
https://openaccessbutton.org/docs results in "Oh no! We couldn't find the page you were looking for!"

This page is linked to through the "Check out our API docs" button below Make Progress on the OAB homepage.

/docs needs to be fixed or the API button link be changed.

[2016-06-22 02:43] chealsye opened #123 "Clean up OAB action page"
https://openaccessbutton.org/action

Following issues for the action page

1. The first button (orange rectangle 'button') below "x people need access to research" has no headline text and just simply "or contact us directly."

Suggestions:
Headline the button with: Contact us
Linked text below: Get in touch on Twitter, Facebook, or email us directly.

url to hyperlink Twitter = https://twitter.co

[2016-06-22 02:58] chealsye opened #124 "OAB Request Page"
https://openaccessbutton.org/request

The OAB request page displays ODB requests.

If we're not using the requests page for a click through map or to highly stories, could we get rid of the requests page or quiet it for now?

[2016-06-22 10:04] JosephMcArthur opened #125 "Note code licence on footer"

[2016-06-22 10:05] JosephMcArthur opened #126 "Move API code into an OAB repo or at least describe location in readme"

[2016-06-22 10:08] JosephMcArthur opened #127 "Header bar and landing screen are bad on mobile"
Nav bar doesn't function well and general appearance is sloppy. I'd suggest at least:

- [x] hiding slider
- [x] logo and name appear on same line

[2016-06-22 10:11] JosephMcArthur opened #128 "Story page fixes"
- [x] Give some context about what they're looking it?
- [x] remove email from story in favour of username
- [x] if username is "other" don't display text here. Has been requested by "a other" is really weird
- [x] Story widget has broken image link.
- [x] Long links can break the box : https://openaccessbutton.org/story/zNkLuvdXuMwjCbtw4. Can we display the paper title instead?
- [x] Are the actu

[2016-06-22 10:12] JosephMcArthur opened #129 "No favicon's on openaccessbutton.org"

[2016-06-22 10:14] JosephMcArthur opened #130 "Navbar links are in a weird order for open access button"
I'd suggest: take action, requests, support, about, blog, login, download

[2016-06-22 10:47] JosephMcArthur opened #131 "Duplicates and other junk on /action pages"
The stories don't seem to be filtering out URLs which should get hidden (e.g google or our own site). I know about the duplicate story logging issue, can we make a quick-ish fix at all?

[2016-06-22 10:47] JosephMcArthur opened #132 "opendatabutton stories display user email, not username"
e.g https://opendatabutton.org/story/smGoSHjWYNRR2BwWq

[2016-06-22 10:48] #81 closed

[2016-06-22 10:50] JosephMcArthur opened #133 "Request page box header missing"
The bottom box should read "about this page" as a header.

[2016-06-22 10:51] JosephMcArthur opened #134 "Vary size of area for stories on request pages depending on number of stories"

[2016-06-22 10:52] JosephMcArthur opened #135 "Fix story & request search"

[2016-06-24 16:27] markmacgillivray commented on #122
dup of #121

[2016-06-24 16:27] #122 closed

[2016-06-24 16:31] markmacgillivray commented on #125
Footer can be edited from the static content sites, so I'll leave that to you guys to do, just so I don't commit to master and cause a merge conflict with all the other ones you've already been working on. At the top level of the oab_static and odb_static repos there is a file called index.html and down near the bottom there is the definition of the footer.

[2016-06-24 16:33] markmacgillivray commented on #126
In which readme, in which repo? This one? Or the oab_static and odb_static ones? It may be better just having the link to the code mentioned in the API docs page. But actually, although the code is open source, it is not actually the sort of thing that would be of use to anyone to view, unless they want to start contributing. But again, such people would have to at least be using the API, so may a

[2016-06-24 16:33] #126 closed

[2016-06-24 16:34] markmacgillivray commented on #121
And link to API code to solve #126

[2016-06-24 16:35] markmacgillivray commented on #132
This is because these users have not yet chosen a username for themselves, I think. So we have to display something. The signup docs do say we will display email address if no username is present. So we could just close this, or I could change it not to show anything if no username present. Let me know.

[2016-06-24 16:36] markmacgillivray commented on #132
@JosephMcArthur just pinging you re. my previous comment

[2016-06-24 16:38] #133 closed

[2016-06-24 16:40] markmacgillivray commented on #130
You have control of these too, as with the request about changing the footer. From the static repos, via the index.html page. Near the top of the body section you will see the nav links.

[2016-06-24 16:41] markmacgillivray commented on #130
Re this one and the footer one that I assigned to you, I don't mind doing them later, but first it would be better if you and Chealsye can merge all your develop changes into the master branches for oab_static and odb_static, then I will make some changes later tonight. Or else make them yourself in your Develop / or other branches, and they will become live when you push to master.

[2016-06-24 16:46] markmacgillivray commented on #128
What do you want the context to say? If they have come to the story from the action page, it makes sense. If there is a request, it links to it. But if not, then what?

Email gets displayed when there is no username, as per other issue about this problem. Let me know if you want me to display nothing instead of email if no username present.

Points 3 and 4 I can fix.

Links are only shown if there

[2016-06-24 16:46] markmacgillivray commented on #128
@JosephMcArthur pinging you re the above

[2016-06-24 16:47] markmacgillivray commented on #125
Maybe the code licence should just be mentioned in the API docs though, where the code is linked from as I suggest in issue about API docs page, which I will create.

[2016-06-24 16:49] markmacgillivray commented on #134
I think it already does vary. But the columns on the right, with the text, are longer - so they stay longer. I could put the text columns underneath, but then if there are lots of stories nobody will see the text unless they scroll down. Hence why they are laid out in the current fashion - it is the only way to bring them nearer the top on a wide screen, and to push them below the more important s

[2016-06-24 17:11] JosephMcArthur commented on #129
fwiw, it's on develop.

[2016-06-24 17:53] JosephMcArthur commented on #124
The actual request pages are using the oab skin too.

[2016-06-24 19:22] JosephMcArthur commented on #125
Okay

[2016-06-24 19:22] #125 closed

[2016-06-24 19:23] #130 closed

[2016-06-24 19:26] JosephMcArthur commented on #123
Have cleaned up buttons and hidden stories till they're working better.

[2016-06-24 19:27] JosephMcArthur commented on #131
I've hidden this till the issue is resolved.

[2016-06-25 16:35] markmacgillivray commented on #135
For now the search functionality is just being used to provide the status filtering on the left hand column, so actually the search box on the top is not necessary. Later, a more interactive UI into requests as a whole may be better as a separate page. For the request and story pages at present, I have hidden the misleading search boxes and left the status filter choices on the request pages. Ther

[2016-06-25 16:35] #135 closed

[2016-06-25 16:36] markmacgillivray commented on #134
I've checked, it does vary. Nothing further to do on the technical side here, unless you let me know about changes to content.

[2016-06-25 16:38] markmacgillivray commented on #132
Nothing further can be done here either until choice about what you'd like displayed, so reassigning to @JosephMcArthur

[2016-06-25 16:39] markmacgillivray commented on #129
Appears now

[2016-06-25 17:23] markmacgillivray commented on #128
3 and 4 done, still need answers for others, so reassigning

[2016-06-25 17:31] JosephMcArthur commented on #128
Fwiw, I think the context probably need to be more than I can think about now. So ignoring for now.

[2016-06-25 17:40] JosephMcArthur opened #136 "Download page needs significant changes"
- [x] No download box present on homepage anymore
- [x] Text on download page is confusing

[2016-06-25 17:53] markmacgillivray commented on #127
Have removed logo but put title on the nav strap, and improved the nav layout so it drops down nicely under that. Removed slider and altered button display so it makes sense now to read down the page and get the button / do other things. Edited for oab and odb.

[2016-06-25 17:53] #127 closed

[2016-06-25 17:54] markmacgillivray commented on #124
This is actually just an error in the content the request displays, but the listing works properly. The fix is already done for another issue, and will be pushed to live imminently. Closing this one.

[2016-06-25 17:54] #124 closed

[2016-06-25 17:56] JosephMcArthur commented on #129
They don't seem to appear on request pages, thats on open access and open data button.

[2016-06-25 18:01] markmacgillivray commented on #129
Ah yes there is a bug there, they show on other pages but not the request or account pages. I will need to work on a more complex solution for that.

[2016-06-25 18:07] JosephMcArthur commented on #134
I'd suggest we move the "What's Open Data, and why should I care?" on ODB under the story box, so it's full width. Then, we could have "How else you can help" and "share this request" next to the stories (same width) but follow the screen on scroll, so they're always present. This would still have the page look nice and have key actions in view regardless of how many stories are present.

[2016-06-25 18:08] markmacgillivray commented on #121
Fixed for now with docs holding page on both sites, actual docs to come soon, but prob not until next sprint. Will close this issue, a new one for creating API docs can be added.

[2016-06-25 18:08] #121 closed

[2016-06-25 18:10] markmacgillivray commented on #131
Will prioritise this as next task for me to do, and to fix the duplication problem. But right now I have to be elsewhere.

[2016-06-25 18:13] markmacgillivray commented on #134
That would be bad for mobile though, it would make the add support option come away down under the list of stories, which could potentially be long although is not yet for any requests. Current layout ensures ordering of key content on small and large screens. "What's open data and why should I care" section could be pushed under the stories list and to full width though. @JosephMcArthur let me kn

[2016-06-25 18:19] JosephMcArthur opened #137 "Account page changes"
- [x] Account page doesn't use our colors
- [x] Move big red logout button below the API key
- [x] In sidebar, make clear what API key is for.
- [x] Have a big CTA for downloading the actual plugins.
- [x] Can we sense what browser they're using, and display only the relevant plug-ins?
- [x] Upon first login, can we send them to a specialized "account set up (username/usertype)", "download" page,

[2016-06-25 18:24] JosephMcArthur opened #138 "Increase button sizes on homepage"
I've done it on one (the bottom right) for OAB. Just changing the bootstrap class.

[2016-06-25 18:25] JosephMcArthur commented on #137
Assigned to myself while I work on what they should be.

[2016-06-25 18:44] JosephMcArthur opened #139 "Footer alignment"
Should be all left justified

[2016-06-25 19:14] JosephMcArthur opened #140 "Homepage adjustments"
- [x] #138
- [x] reduce number of buttons (don't need api docs for e.g)
- [x] fix attribution on quotes. On small screens they come out of alignment
- [x] Make first button an ask to download
- [x] Give buttons mouseover action
- [x] #136 needs a download action at the bottom.

[2016-06-27 11:18] #100 closed

[2016-06-27 11:54] JosephMcArthur opened #141 "Social share buttons on request pages"
Should:
- [ ] be autofilled with request link @markmacgillivray
- [ ] Twitter / Facebook
- [ ] have a completing autofilled message @chealsye

[2016-06-27 11:58] JosephMcArthur commented on #120
@Steven-Eardley should we think about this as part of the rebuild?

[2016-06-27 12:01] JosephMcArthur opened #142 "Install and A/B testing service on the websites"

[2016-06-27 12:23] JosephMcArthur opened #143 "Increase site speed"
- [x] The following publicly cacheable, compressible resources should have a "Vary: Accept-Encoding" header:
https://openaccessbutton.org/
https://openaccessbutton.org/content/index
https://openaccessbutton.org/footer.html
https://openaccessbutton.org/header.html
https://openaccessbutton.org/static/oab.css
https://openaccessbutton.org/static/oabutton.css
https://openaccessbutton.org/static/oabutto

[2016-06-27 13:23] JosephMcArthur opened #144 "Tidy repos"
- [x] How can we make clear a lot of code lives in CL Repo's? Can that just be moved here?
- [x] Move dev notes from the pad to the wiki here
- [x] Label issues
- [x] Retire old repos
- [x] Close out of date issues & milestones
- [x] Moved old issues

[2016-06-27 13:29] JosephMcArthur opened #145 "Utilize awesome twitter stuff on site"
For example, like we do on SPARC homepage: http://sparcopen.org/. Could this be social proof on the homepage?

[2016-06-29 09:31] JosephMcArthur opened #146 "Blog updates"
- [ ] Title bigger on landing page
- [ ] Split the landing page for the blog. 9/12 blog, 3/13 twitter feed?
- [x] Ensure all blogs have an excerpt (@chealsye)
- [ ] Increase font size on the blog, make the width narrower (to increase readability). E.g https://medium.com/art-marketing/meet-the-men-keeping-the-typewriter-alive-in-india-6c8191963aaf#.a9ihnrb0v

[2016-06-30 13:06] Steven-Eardley commented on #120
I'll keep it in mind, but it's for testing near the end of the process.

[2016-06-30 13:08] JosephMcArthur commented on #120
Thanks!

On Thu, 30 Jun 2016 at 14:06 Steven Eardley <notifications@github.com>
wrote:

[2016-06-30 13:13] markmacgillivray commented on #120
And probably any understanding of pages should move to a backend function,
and be as generic as possible, and the plugins should call it
On 30 Jun 2016 14:12, "Steven Eardley" <notifications@github.com> wrote:

[2016-06-30 13:15] JosephMcArthur commented on #120
+1

On Thu, 30 Jun 2016 at 14:13 markmacgillivray <notifications@github.com>
wrote:

[2016-06-30 19:47] markmacgillivray commented on #143
Points 1 and 2 done (for OAB and ODB). The creativecommons redirect chain is served by them not us, but could be avoided by changing the URL to their images that is in the content, in the top level index file. The redirect from www to non-www is needed and was added at your request to catch people going to the wrong place, so cannot be got rid of unless you want to lose that functionality. The 8 j

[2016-06-30 20:03] #143 closed

[2016-06-30 20:04] JosephMcArthur opened #147 "Reduce image sizes to smallest reasonable size"

[2016-06-30 21:26] #104 closed

[2016-06-30 21:26] #37 closed

[2016-06-30 21:30] JosephMcArthur commented on #128
If we don't have an email say "a user"

[2016-06-30 21:32] #3 closed

[2016-06-30 21:34] #105 closed

[2016-07-01 07:46] JosephMcArthur opened #148 "Need a contributors.md"
Instructions: https://mozillascience.github.io/working-open-workshop/contributing/

[2016-07-01 07:57] #39 closed

[2016-07-01 07:58] JosephMcArthur commented on #134
Discussed approach with this with @markmacgillivray yesterday. Floating support requests follow on large screens, but page appears as it currently does on mobile.

[2016-07-01 07:59] JosephMcArthur commented on #132
If no email display "a user"

[2016-07-01 09:13] JosephMcArthur commented on #123
This is linked to #131

[2016-07-01 09:20] JosephMcArthur commented on #136
So, from my understanding of how this works I'd suggest the following.

- [ ] Make a new page "downloading". Functionally this is similar to what we have now.
- [ ] Get some simple copy together on how to sign up. All copy can be specialized for this (e.g right now the CTA on the button is "authenticate" which could be clearer...)
- [ ] Hitting download there would link to the onboarding workflow

[2016-07-03 00:28] chealsye commented on #146
Excerpts added to all blogs now

[2016-07-03 01:15] chealsye commented on #140
@JosephMcArthur What do you mean by "fix attribution on quotes"? Is it a formatting issue? I believe the quote attribution to each person is correct.

I don't know how to give buttons mouseover action (change colour when hovered?) -- think @markmacgillivray may need to take that. Also, I removed the API docs button, but that makes two buttons in a three column space. It moved the second button int

[2016-07-03 06:47] #106 closed

[2016-07-03 06:52] #138 closed

[2016-07-04 00:40] chealsye commented on #137
I could change the colors on the page, but cannot find the correct page in github...

But the other tasks I don't know how to complete.

[2016-07-04 00:44] chealsye commented on #147
I can reduce the slogan images to 200x200, which works with the currently used image width. Where do I upload images? @JosephMcArthur

[2016-07-04 01:25] chealsye commented on #123
"Suggestions:
Headline the button with: Contact us
Linked text below: Get in touch on Twitter, Facebook, or email us directly.

url to hyperlink Twitter = https://twitter.com/OA_Button
Facebook = https://www.facebook.com/openaccessbutton
Email us directly = https://openaccessbutton.org/contact

Get connected Change "Sign up to our mailing list here" to simply "Sign up to our mailing list" and chan

[2016-07-04 08:30] JosephMcArthur commented on #123
Nope, they're not needed!

[2016-07-04 08:31] JosephMcArthur commented on #147
On Github.

It's worth saying that on the read me of /oab_static. Images and files can
just be uploaded to the repo and linked from there.

On Mon, 4 Jul 2016 at 01:44 chealsye <notifications@github.com> wrote:

[2016-07-04 08:34] JosephMcArthur commented on #37
Just upload to github...

[2016-07-04 08:56] JosephMcArthur opened #149 "Same account (via app) can "support" a request more than once"
_From @JosephMcArthur on March 16, 2016 19:24_

_Copied from original issue: OAButton/odb#52_

[2016-07-04 08:56] JosephMcArthur opened #150 "Requests created on button open rather than submission"
_From @dhimmel on April 9, 2016 20:45_

I believe requests are being created prior to pressing submit. The result is that I have multiple open data requests for the same piece of content in https://opendatabutton.org/account:

![multiple open data button requests](https://cloud.githubusercontent.com/assets/1117703/14406319/62df5600-fe59-11e5-9716-4f504a2b14e8.png)

Not sure exactly how this happen

[2016-07-04 08:58] JosephMcArthur opened #151 "Blur location before display on map and in data accessible via API"
_From @JosephMcArthur on February 19, 2016 10:53_

@Steven-Eardley is passing the location data precisely - so the API needs to blur it.

_Copied from original issue: OAButton/odb#16_

[2016-07-04 08:58] JosephMcArthur opened #152 "Will ODB know the difference between someone who's email we have via a request page and or via download?"
_From @JosephMcArthur on February 19, 2016 10:52_

_Copied from original issue: OAButton/odb#15_

[2016-07-04 08:58] JosephMcArthur commented on #152
Discussed with Mark. We'll had a tag to show where you signed up

[2016-07-04 08:58] JosephMcArthur commented on #152
_From @markmacgillivray on March 3, 2016 12:35_

It knows if the block story supporting the request came from the web page or the plugin, but not whether a user signed up via the site or via the plugin. Is that enough?

[2016-07-04 08:58] JosephMcArthur commented on #152
It's okay if we don't know if a user signed up via the pluggin or website.

What I need to know is if they originally signed up via a request page or
via a download page. With the later, we can assume they will then download
and use ODB. However, with the former, that assumption probably does hold -
but we want to push them too. So, it would be good to know the difference.

On 3 March 2016 at 07:3

[2016-07-04 09:05] JosephMcArthur opened #153 "OAB and ODB Requests Spreadsheet"
_From @chealsye on July 3, 2016 18:10_

Could I get spreadsheets of both Open Access Button and Open Data Button requests with author emails? OAB requests just since the last update.

_Copied from original issue: OAButton/oab_static#15_

[2016-07-04 21:30] #147 closed

[2016-07-08 16:31] JosephMcArthur opened #154 "ODB Request Changes"
- [x] Send name needs to change to Open Data Button on all emails
- [x] Links for holding the request are just raw, they need to be in buttons
- [x] Link to data from request page is to file on our server, I think, needs to be from OSF
- [x] You should need to be logged in to validate content (couldn't see if this was the case)
- [x] On hold should be "This content is expected in x days" on reques

[2016-07-08 20:39] GrantRVD commented on #140
What's the build command we should be using to test modifications to the site format or functionality? @JosephMcArthur kindly pointed me to a related repo which suggests meteor is the builder used. I have meteor installed, but it's not detecting the meteor configuration in this project - I notice that `.cfg` is in the ignore file, so perhaps I just need to create a local meteor project and that'll

[2016-07-09 10:18] JosephMcArthur commented on #140
@markmacgillivray for the first paragraph above.

[2016-07-09 15:24] JosephMcArthur opened #155 "How does the Google Scholar Button find Library Links?"
From the Scholar Button page: Library links work best when you're on campus. To configure them for off-campus use, visit Google Scholar Settings at https://scholar.google.com/scholar_settings (you may need to login with your library password or to set up your browser to use a library proxy; please visit your library's website or ask a local librarian for assistance).

If there is a system were we

[2016-07-09 15:29] JosephMcArthur commented on #155
Some more info here: https://scholar.google.co.uk/intl/en/scholar/libraries.html

[2016-07-09 16:06] JosephMcArthur opened #156 "Great paper for including in requests system"
Erin's article would be a fab edition to the emails - https://elifesciences.org/content/5/e16800/article-data

[2016-07-10 09:50] JosephMcArthur opened #157 "Request system enhancements for admin users"
- [ ] Allow subject to be changed via request page
- [ ] Allow cc to be changed via request page

[2016-07-11 01:18] GrantRVD commented on #146
I can make the remaining changes here pretty easily on the generated pages, but I need a bit more info about the website/app generator. I asked about this on #140 and will probably get a response there, but just noting for this particular issue that I need to know which files and templates are used to generate the blog page.

[2016-07-11 02:05] markmacgillivray commented on #140
The website is not meteor, and has no build command. It is just static file content served by javascript requests to the server. To test locally all you have to do is configure your web server to serve the folder. But you can also just commit to develop and see the changes on the test site, without having to configure anything locally at all.

The site content repos are:

https://github.com/oabutt

[2016-07-11 14:28] markmacgillivray commented on #150
These are stories (blocks) rather than requests. So yes they are created on button open rather than on click, as intended. But stopping duplicate story for a URL per user should be implemented anyway. Secondarily, this also indicates the lack of clarity to a user on what is the difference between request/blocked/story

[2016-07-11 14:38] dhimmel commented on #150
Yes! What the heck is a story :confounded:

[2016-07-11 17:33] GrantRVD commented on #140
Thanks for the clarification, @markmacgillivray. It now makes a lot more sense, knowing that the content is actually in a separate repo I previously didn't know about. Some of the changes I'm adding a simple CSS additions, while others require changes HTML files, and I notice at least several of the files in the static directories are the same between this repo and the other two you linked. Which

[2016-07-11 18:24] JosephMcArthur commented on #140
Reasonably sure it's the other repos.

[2016-07-13 09:02] JosephMcArthur opened #158 "Create a /use root for Muse: An Open Access monograph aggregator"
This is has been funded, but sounds useful. Not 100% sure if it's useful though so tagging as a question.

http://www.infodocket.com/2016/07/12/the-mellon-foundation-awards-938000-grant-to-fund-muse-open-a-new-oa-platform/

[2016-07-13 10:48] markmacgillivray commented on #144
Code can't just be moved. Having a fork here is possible, but given that is not what gets deployed it would make even less sense to have one sitting here doing nothing. The code that needs to be here is here though, so I think we are OK on this point. If someone wants to contribute to the API stuff, they would prob make their own fork and submit a pull request anyway, so again little point having

[2016-07-13 10:59] JosephMcArthur commented on #144
What does this repo's code actually do now? I think if we can't move the code at least working to signal where that code is via the read me here (which is sort of starting to become the landing point for the project on github) would be good. Similarly, adding readme's to the relevant places in the CL repo would be useful. If we can't move the code making it more transparent would be helpful - even

[2016-07-13 11:40] markmacgillivray commented on #144
Deleted all code from the backend repo and updated the README to point to CL API and separate repos for ODB and OAB frontends, as well as the plugins they already linked to, and the new plugin for when it is ready. Closing again, re-open if necessary.

[2016-07-13 11:40] #144 closed

[2016-07-13 11:53] markmacgillivray commented on #150
Have updated blocked API to not accept a block from a user who has already been blocked on it. Also updated UI to thank user for support instead of asking for support if user has already been blocked on the URL. The larger problem of what are blocked/story/requests, and what they mean to users, should be considered in the wider ongoing discussion about them. Will be pushing the update to live late

[2016-07-13 11:53] #150 closed

[2016-07-13 11:53] markmacgillivray commented on #149
This is no longer possible due to update just made to blocked API.

[2016-07-13 11:53] #149 closed

[2016-07-13 11:57] markmacgillivray commented on #132
Changed, to deploy this afternoon.

[2016-07-13 11:57] #132 closed

[2016-07-13 12:17] markmacgillivray commented on #129
Fixed, to deploy to live later today

[2016-07-13 12:17] #129 closed

[2016-07-13 12:19] markmacgillivray commented on #101
Can't see the problem. Works fine for me.

[2016-07-13 12:19] #101 closed

[2016-07-13 12:19] JosephMcArthur opened #159 "Set up an issue template that gives useful tips on writing a good issue"
Useful because I write bad issues which helps no one. Also helps other contribute.

[2016-07-13 12:20] JosephMcArthur commented on #148
Good example: https://github.com/atom/atom/blob/master/CONTRIBUTING.md

[2016-07-13 12:23] markmacgillivray commented on #84
? I don't know what this means. Is it to put a banner on openaccessbutton.org? Seems we are already well past ODB launch, but adding this to openaccessbutton.org is just the usual page edit via the github repo, and push to branches to test then deploy live. No coding required.

[2016-07-13 12:24] markmacgillivray commented on #24
This must be out of date by now.

[2016-07-13 12:24] #24 closed

[2016-07-13 12:26] markmacgillivray commented on #85
This is just a content edit. Can be done in the oab_static repo, put the appropriate file in the static folder, then link it in the slider where desired. Will leave open but remove myself from assignment.

[2016-07-13 12:29] markmacgillivray commented on #123
Not sure what I can do with this one, and #131 covers the relevant points for me, so unassigning to keep track of what I need to do.

[2016-07-13 12:30] markmacgillivray commented on #128
Done, to go live this afternoon

[2016-07-13 12:30] #128 closed

[2016-07-13 12:35] JosephMcArthur opened #160 "Align readmes for oab_static and odb_static"
They're currently different and more confusing than needed.

[2016-07-13 12:36] JosephMcArthur commented on #123
@markmacgillivray this issue lives here until #131 is shut. Then I can unhide stories from the page.

[2016-07-13 13:36] JosephMcArthur commented on #34
This issue was moved to OAButton/unified-extension#22

[2016-07-13 13:36] #34 closed

[2016-07-13 14:48] JosephMcArthur opened #161 "Funder label"
At some point, it'll probably be useful to start tagging different issues with the funder who's paying for it.

[2016-07-13 14:54] JosephMcArthur opened #162 "Make /CottageLabs/api repo more friendly"
- [ ] What URL can the docs be found at? Readme needs clarifying
- [ ] Mention OAB in the read me, and direct folks to the main readme for info (just incase folks get sent there by someone else)
- [ ] Joe to add more here

[2016-07-13 16:59] JosephMcArthur opened #163 "Investigating SFX (OpenURL?) integration"

[2016-07-13 17:00] JosephMcArthur opened #164 "Track download and usage statistics by institution in UK"

[2016-07-13 18:07] markmacgillivray commented on #154
@JosephMcArthur need some more info on this:

* what send name do you mean? what do you want it changed to?

* where you say "on hold should be more" - where do you mean? Where do you want it to say how long it is on hold for? Do you mean on the request page where the status shows as on hold? The problem with showing any counter here is that the author can put it on hold again, so the info would a

[2016-07-13 18:09] markmacgillivray commented on #151
The API does not, but the map is not accurate enough to view precise locations. It would be possible for someone using the API to get the precise locations out though. @JosephMcArthur do you want the data we store (and therefore subsequently share via the API) to be fuzzified as soon as we receive it, instead?

[2016-07-13 18:38] markmacgillivray commented on #137
@JosephMcArthur the account page does use the colours on the top nav, e.g. the logo, but not in the rest of the page. The content there is just generic so far, there is not anything that specifically needs a branded colour, it is just informational. It doesn't strike me as being highly incongruous to the rest of either site when browsing onto the account page though, which is why it was kept quite

[2016-07-13 18:49] markmacgillivray commented on #136
CTA button changed to "Sign in". Will go live soon. Just now the "Download" link goes to the login page, and on that page it does say "sign in / register / download" and under that it says that once you sign in you can get your button. There already is the big "Download" button at the top right of the nav for users who are not signed in, and it should disappear for users that are signed in (fixing

[2016-07-13 19:16] JosephMcArthur commented on #151
Yes. Can we fuzzify everything that can be accessed via the api or map
(from this point on and everything we've got thus far). My only hesitation
here is that very precise locations could be helpful for us to tie requests
to different universities.

Historically we've done this to one or two decimal places I think, so you
can't tell much more than which city it's coming from. Issues in old repos
w

[2016-07-13 19:32] JosephMcArthur commented on #154
Have edited the description above to be clearer answering bullet one. For bullet two, this is a fair point. "on hold" isn't clear language though, could we say "expected soon"?

OSF file fix sounds good. Thanks.

For the links in emails, if you have to encode the buttons in HTML this issue will be helpful: https://github.com/RightToResearch/OpenCon-Website/issues/71 . In my last comment I have dec

[2016-07-13 20:06] JosephMcArthur commented on #137
If it's not hard to change the colors, it would be good.

I think data could be useful here. Mark, can you run the numbers on:
- [ ] What % of people haven't assigned themselves a username and usertype
- [ ] What % of people haven't logged their API key into a plugin
- [ ] What & of people haven't logged a use on the button

You're right, it is a small process but one we've had a lot of complaints

[2016-07-13 23:13] JosephMcArthur opened #165 "Code testing bots"
Would it be useful to install Travis / Code Climate or other little thingys (for lack of a better word) in the repos? We used to have them and they seem like a staple in many repos for other projects.

[2016-07-14 06:14] JosephMcArthur opened #166 "Embed agile processes in our workflow and have a contributor friendly set of repositories."

[2016-07-14 06:36] markmacgillivray commented on #165
This may or may not be useful for the plugin code repos, that is up to @Steven-Eardley

For the CL API, automated testing does run to some extent during development, and we do use auto-deployment via codeship which tests the builds before they are deployed. There is nothing on the repo indicating this though. Over Summer we are focussing on developing the CL API testing infrastructure further. We

[2016-07-14 06:40] markmacgillivray commented on #166
Note, there is no such thing as "all key agile processes". The point of agile is to use what is most appropriate for the team and the task at hand. Quite often I see people doing "all teh agile things", having overlooked the fact that the initial purpose of agile was to strip down to what is necessary - not to follow what is common. SImilarly, whilst a contrbutor-friendly set of repos sounds good,

[2016-07-14 06:41] markmacgillivray commented on #162
Docs, tests, readme etc for CL API are our focus for the summer, so these things should improve in the next couple of months.

[2016-07-14 07:14] markmacgillivray commented on #165
For the CL API, I have just added a codeship badge to the README, which indicates if our builds and deployments are passing.

[2016-07-14 07:20] JosephMcArthur commented on #166
Haha, yes. all teh kei agile processes isn't a thing indeed. This was mainly me testing "epics" on Zenhub. In my head it just means make sure we have things like stand-ups, a half decent idea of a product backlog and those sorts of things. Certainly not looking to go nuts here though.

With contributions, we've had a great handful of code contributions in the past and I want to make it as simple a

[2016-07-14 07:30] JosephMcArthur commented on #162
Ace, great to hear, assigning to you!

Where this affects repo's OAB is using I'm more than happy to help out with Readme's and things like that.

[2016-07-14 07:31] JosephMcArthur commented on #165
What to do here is totally in you and @Steven-Eardley hands, I don't know enough about it.

I had a feeling you probably already did automated testing during development. I'm more than happy to buy anything here if needed too or take a while to set things up myself on the repos (would probably aid the understanding).

Where it's easy to add badges I expect it would contribute towards #166.

[2016-07-14 07:45] markmacgillivray commented on #131
OK, some old messy ones have now been cleared up. The system now refuses duplicates of URLs from the same user, and automatically tags some blocks/requests as test, even if the user account submitting them is not a test account, but if they URL was on CL or OAB sites or google chrome etc, and similarly if the email address is a CL one or a Joe one.

[2016-07-14 07:45] #131 closed

[2016-07-14 07:56] JosephMcArthur commented on #131
Thanks, Mark. This sounds much better. If needed can I send you URLs / Emails that need to get filtered? Or, could you stick a box in the UI somewhere I could drop them?

[2016-07-14 08:02] markmacgillivray commented on #131
Yeah for now just send to me. I can rerun whenever necessary now.

On Thu, Jul 14, 2016 at 8:56 AM, Joseph McArthur <notifications@github.com>
wrote:

[2016-07-14 08:30] JosephMcArthur opened #167 "Increase # of papers and datasets we can find for users automatically"
As a researcher (without access) I want to find the OA version of a paper because I want to read it (and I don't have a subscription to this journal)

As a researcher I want to find the data supporting a paper because I want to know if I can trust it or build on the conclusions

[2016-07-14 09:10] markmacgillivray commented on #134
Removed "how else to help" section, it really just duplicates the content of "share this request" but less useful. Added the donate button to just below the "share this request" button. Moved the "what is open data" blurb to above stories, and made it plus the stories themselves full width. On small screens the "what is open data" section will disappear - the aim being that on small screen people

[2016-07-14 09:10] #134 closed

[2016-07-14 10:45] JosephMcArthur opened #168 "Text mine for data availability sentence"
@JosephMcArthur commented on [Tue Apr 26 2016](https://github.com/OAButton/odb/issues/60)

Heather (ImpactStory) thinks the quickest approach to finding data behind papers (where it's availiable at publication) would be a reg-ex. Considering out intergration with Content Mine that seems like a good path forwards to make sure we're finding data where it's linked in the paper (even behind a paywall)

[2016-07-14 10:45] JosephMcArthur opened #169 "Adding a DOI field in requests"
@dhimmel commented on [Sat Apr 09 2016](https://github.com/OAButton/odb/issues/58)

Having each request linked to a URL and not a DOI seems like it will be susceptible to linkrot. Additionally, it's much easier to get metadata for a DOI. Also searching for requests by DOI makes more sense than search by URL, since there are many URLs for a single article.

I get that it would be undesirable to onl

[2016-07-14 10:46] JosephMcArthur opened #170 "Use case: As a publisher I want to know when our authors aren't sharing data inline with our policies"
@JosephMcArthur commented on [Mon Apr 04 2016](https://github.com/OAButton/odb/issues/57)

From PLOS. MVP is cc/send/notifiy publisher email in data request to author

---

@JosephMcArthur commented on [Tue Apr 26 2016](https://github.com/OAButton/odb/issues/57#issuecomment-214623362)

BMC also interested. Even potentially sticking ODB on their pages, where the badge would be if an author had open

[2016-07-14 10:46] JosephMcArthur opened #171 "Figure out how to use Data Dryad to find data supporting papers (from paper itself)"
@JosephMcArthur commented on [Sun Apr 03 2016](https://github.com/OAButton/odb/issues/56)

[2016-07-14 10:46] JosephMcArthur opened #172 "Figure out how to use Zenodo to find data supporting papers (from paper itself)"
@JosephMcArthur commented on [Sun Apr 03 2016](https://github.com/OAButton/odb/issues/55)

[2016-07-14 10:47] JosephMcArthur opened #173 "Figure out how to use Figshare to find data supporting papers (from paper itself)"
@JosephMcArthur commented on [Sun Apr 03 2016](https://github.com/OAButton/odb/issues/54)

[2016-07-14 10:47] JosephMcArthur opened #174 "Assessing datatransparency and availability from different studies included in a meta-study at once"
@PeterGrabitz commented on [Fri Feb 19 2016](https://github.com/OAButton/odb/issues/18)

I would love the ODB to be able to have a look at different studies included in a meta study. How many studies that were included made data available?

[2016-07-14 11:33] JosephMcArthur commented on #161
Have done this now for issues in our backlog. I'm happy to close now.

[2016-07-14 11:33] #161 closed

[2016-07-14 11:35] JosephMcArthur opened #175 "As a researcher I'd like to be able to request access to an articles or data so I can get access to it"

[2016-07-14 11:44] JosephMcArthur opened #176 "Make tools more user friendly"
This is a poor epic title, will fix later.

[2016-07-14 13:37] markmacgillivray commented on #52
The new system returns an immediate alert on pressing the new username button if it is taken. This is solely a process on setting the new username, so does not put users off doing anything else in the signup process, like the old one did. I am also adding better layout to the account page when a user has just signed up which should improve the user experience of this. We could do it so that it che

[2016-07-14 13:37] #52 closed

[2016-07-14 14:09] markmacgillivray opened #177 "Update ODB status check for plugin"
Now that we have the ability to get data back from authors, need to update the ODB status check so that people using the plugin to go to pages we have received data for will be shown that we have the data. Then will need to check with @Steven-Eardley that the plugin knows how to display the response usefully (should do).

[2016-07-14 14:10] markmacgillivray opened #178 "Check request creation from story"
Creating a request automatically from a block seems to cause it to not record the type properly, when submitting tests. Check where it is going wrong.

[2016-07-14 19:02] markmacgillivray commented on #152
New changes to the account page during signup have made this irrelevant now. If a new user, whether via coming to download or via wanting to support a request, they are taken through the steps of giving us info like username etc, then prodded to download the plugin, then given instructions, then shown their lists of stories and requests once they have any. So either way we lead them through the st

[2016-07-14 19:02] #152 closed

[2016-07-14 19:04] markmacgillivray commented on #137
New changes to the account page during signup:

If a new user, they are taken through the steps of giving us info like username etc, then prodded to download the plugin, then given instructions, then shown their lists of stories and requests once they have any.

We will know whether or not they have downloaded it (well, we know they clicked the link to go and get it, at least, and later we can che

[2016-07-14 19:06] markmacgillivray commented on #136
I think this one can be closed now, with improvements to the account page giving a workflow, and the authenticate button now saying sign in. We can still add more blurb to the starting "login" page, but for now it says that they should login, and can then get their button, so is fine as the starting point I think. I will close this issue now, and later if new words are wanted on the login page the

[2016-07-14 19:09] markmacgillivray commented on #165
Assigned this one to @Steven-Eardley now so he can let us know if he needs any code testing bots etc for the extension repo. It won't need deployment, and maybe automated tests is not so useful either, but waiting to check with him. If not, we can probably close, now that we have a badge on the CL API repo, which does make more use of these features.

[2016-07-14 19:54] Steven-Eardley commented on #165
I've been rather lax in putting unit tests in the extension thus far - I'd be happy to add some (e.g. for essential transactions with the API - but care will need to be taken that these are discarded). It might help the ongoing development work as keeping extension and API in a compatible state with each other is paramount. I'll open a unit tests issue on the extension repo.

[2016-07-14 19:54] #165 closed

[2016-07-14 19:59] markmacgillivray commented on #165
@Steven-Eardley the backend now automatically hides any blocks or requests with a key called test and the value true. So you can create ones with that value during tests, on either the dev or live API, and it wouldn't disturb what users see. Also it now only accepts one block per URL per user so you'd have to take that into account when trying to create test records. I think you can also delete co

[2016-07-15 07:37] JosephMcArthur commented on #137
Mark, can I see / test this before it goes live. One thing I've also just noticed is that

- [ ] Login page offers you chance to put in security code, but no code is sent. Either remove box for code or send the code ;)

[2016-07-15 07:53] markmacgillivray commented on #137
Yep I've got some more changes to finish, I'll add the security code, then
show you on dev. Got a flight today too though, so may be later today

[2016-07-15 07:55] JosephMcArthur opened #179 "Neaten Contact us page"
- [x] Make header smaller
- [x] Put in a contact form?
- [x] Icons for social
- [x] Make it friendly
- [x] Remove some emails
- [x] put it on /about as a new section?

[2016-07-15 08:04] JosephMcArthur commented on #136
@chealsye can you put together some copy for the page login/download page? Here is what I'd suggest.

"We use a password-less login system, just provide your account email address and you will receive an email to confirm you are who you say you are." and "Just provide your email address and we will send you a validation link. Then once you are logged in for the first time we will ask you for a few

[2016-07-15 08:05] JosephMcArthur commented on #152
Will we dump them back on the request page they were trying to support after sign up?

[2016-07-15 08:07] markmacgillivray commented on #136
Getting lots of little icons in an oab style would help with the content
too - just like the examples you shared. Who/how to proceed with that?

On 15 Jul 2016 09:04, "Joseph McArthur" <notifications@github.com> wrote:

[2016-07-15 08:10] JosephMcArthur commented on #136
What types of Icons @markmacgillivray, ones like in the Slack image? This feels like it could be a new issue, but I'm more than happy to get them made for us.

P.s this is the magic email slack users get.

<img width="842" alt="screenshot 2016-07-15 09 06 02" src="https://cloud.githubusercontent.com/assets/4953703/16867765/9797993a-4a6b-11e6-8d6f-f60578c01bd8.png">

 Can I suggest:

- [ ] Use nice

[2016-07-15 08:42] JosephMcArthur opened #180 "Nav bar for OAB site changes depending on if you're on /login or other pages"
Thought for quite a while I was going insane here, but it does change.

On login there are missing headers and the font weight is different.

[2016-07-15 08:42] markmacgillivray commented on #136
Yeah, they're not urgent, but just more graphic representations to support
the text explanations. Useful across the site, and in the emails we send
out.

HTML templating for emails hasn't been done at all yet but should be.

We have the little hands / fists graphics, more things like that is what i
mean, and yeah like in the slack email etc.

How were we going to do site graphics stuff? Are you ge

[2016-07-15 08:43] markmacgillivray commented on #180
Yes, could be since the static site pages were updated - the logged in
areas are separately controlled at the moment.

On 15 Jul 2016 09:42, "Joseph McArthur" <notifications@github.com> wrote:

[2016-07-15 08:45] JosephMcArthur commented on #136
We have cash to support this, so can get someone in. Stick this in another issue (along with some first ideas on what you'd like) and I'll go via my folks first (as I assume they'll be cheaper) but if that doesn't work we'll move onto yours. If there is other things like this you'd like, just say, I'll source it.

[2016-07-15 08:48] JosephMcArthur commented on #180
Thought as much. Assigned to you. I'd suggest:

- [ ] Style from login page
- [ ] Headers from static pages

We should document this somewhere:

- [ ] Add a note about this in static repos (anywhere, I'm overhauling in #160 )

[2016-07-15 08:49] markmacgillivray commented on #180
Sure, will fix. The fact that they're separate should change in near future.

On 15 Jul 2016 09:48, "Joseph McArthur" <notifications@github.com> wrote:

[2016-07-15 08:52] JosephMcArthur commented on #180
Depending on how near the near future is, I'm happy to wait if it saves a few minutes. Just boot up another issue for merging those systems and tag this there.

[2016-07-15 09:02] JosephMcArthur commented on #85
@chealsye can you take a stab at this? You've probably got a better grip on the file needed.

Can you also - [ ] update the readme to include a not on how to add sliders

[2016-07-15 09:05] JosephMcArthur commented on #102
Let's actually just move it below the first header (which says "support")

I could also be convinced this isn't a good idea.

[2016-07-15 10:10] JosephMcArthur commented on #84
Closed by: https://github.com/OAButton/oab_static/pull/16 which is now in @markmacgillivray court.

[2016-07-15 12:41] JosephMcArthur opened #181 "Hunt down OAI-PMH links for Pre-print repositories"
If we find OAI-PMH links for any pre-print repositories CORE will add them, and we'll be able to serve them to users. Not many groups appear to have thought about pre-print aggregation, so investing a bit of time here would make sense.

The Process:
* Go here: https://docs.google.com/spreadsheets/d/1zYOy6bcydDZ9G56FKmDzg_pexTarVsJR5hH0KiQGt_I/edit#gid=1494155948
* Email groups without any OAI-PMH

[2016-07-16 10:34] markmacgillivray opened #182 "Graphics to support text explanations"
For example as a first attempt, the getting started instructions is about nine lines long. It would be good if we had a set of graphics that could go next to each of the actions (or related sets of actions). There is likely to be more of this work on an ongoing basis - any time we make site content it should be presented in a nice mix of text and graphical instructions, and we should have a person

[2016-07-16 10:37] markmacgillivray commented on #136
See #137 for latest state of this.

[2016-07-16 10:37] markmacgillivray commented on #137
@JosephMcArthur go to test.cottagelabs.com/login and create a new account with an email address that you have not already used on our test system. This will take you through the login process "workflow". Let me know if you are happy with it and then I will make it live. (as mentioned it could do with some nice supporting graphics but those can be added later)

[2016-07-17 09:09] #178 closed

[2016-07-17 09:14] markmacgillivray commented on #48
This is no longer relevant so closing it. We have block stories just now, then requests for things that people want, but those requests are for everyone who needs something, and being blocked is a support of that request. So a user sees their blocks (although this may change to just being a counter stat for the oab team) and they see their requests, and the status of those requests can be viewed.

[2016-07-17 09:14] #48 closed

[2016-07-17 09:15] markmacgillivray commented on #145
Can you give more detail on what you want? I am starting to think about how to provide more info / indication of activity on the site, and this could be useful. The sparcopen page has a panel that shows peoples tweets about open access. Is that what you mean? If so, what would be the twitter content you think would be relevant to display for OAB?

[2016-07-17 09:15] markmacgillivray commented on #145
No urgency on this by the way, just going through all the issues.

[2016-07-17 21:31] chealsye commented on #85
@JosephMcArthur OK I made a graphic slide in (static/odbforoabsite.png), but when I went to update index.html I messed it all up. The OAB slider currently uses text whereas the ODB slider uses images. I'm not sure what to do to make the image work in the OAB slider, when I tried to use a slice of the code from the ODB slider it messed up the whole slider on the site...

[2016-07-18 13:16] JosephMcArthur commented on #84
@markmacgillivray anything blocking you here?

[2016-07-18 13:17] JosephMcArthur commented on #102
@markmacgillivray anything blocking here?

[2016-07-18 13:17] JosephMcArthur commented on #123
Will look at this later in the week.

[2016-07-18 13:17] JosephMcArthur commented on #139
@GrantRVD how're you doing here?

[2016-07-18 13:18] JosephMcArthur commented on #140
@GrantRVD how're you doing here?

[2016-07-18 13:18] JosephMcArthur commented on #141
@GrantRVD is this still something you're on?

[2016-07-18 13:18] JosephMcArthur commented on #146
@GrantRVD can you update here too?

[2016-07-18 13:19] JosephMcArthur commented on #151
@markmacgillivray was the above clear? To be clear reclassing this a bug and retitling.

[2016-07-18 13:26] markmacgillivray commented on #84
Wasn't sure if you still want it, and where. As a banner across the top of
the front of the oab site?

On 18 Jul 2016 14:16, "Joseph McArthur" <notifications@github.com> wrote:

[2016-07-18 13:29] JosephMcArthur commented on #84
I still want it, see my last comment. I want a quick ?code review? as
development doesn't line up with master.

On Mon, 18 Jul 2016 at 14:26 markmacgillivray <notifications@github.com>
wrote:

[2016-07-19 16:55] JosephMcArthur opened #183 "Change SEO settings to give better links via google search"
These aren't the most important things to have people click/know from search.

Should change.

<img width="602" alt="screenshot 2016-07-19 17 53 38" src="https://cloud.githubusercontent.com/assets/4953703/16958750/cd463f8e-4dd9-11e6-97e6-168cba4ce0a6.png">

[2016-07-19 17:56] JosephMcArthur opened #184 "Set up awesome labels"
- [x] Put on all repos we use
- [x] In some cases need to OAB-ify (e.g product)
- [x] Keep labels for things like "help wanted"

See labels:
https://www.zenhub.com/blog/task-boards-github-labels/?utm_source=mailchimp&utm_medium=email&utm_campaign=ebook4

[2016-07-19 21:31] JosephMcArthur commented on #137
@chealsye can you look? We need copy edits on this, but it feels much much better. It's still fast.

@markmacgillivray this feels good broadly, but may need to make some minor changes and what not. Where to download wasn't 100% clear (it offered chrome on only one page).

Anyway, this isn't all the feedback I have but it's all the time I have right now. Generally, better. Not quite ready for live

[2016-07-19 21:34] markmacgillivray commented on #137
Yes it only shows you the link to the version matching the browser you are
using.

On 19 Jul 2016 22:31, "Joseph McArthur" <notifications@github.com> wrote:

[2016-07-19 21:35] JosephMcArthur commented on #137
Wonderful.

On Tue, 19 Jul 2016 at 22:34 markmacgillivray <notifications@github.com>
wrote:

[2016-07-20 05:15] chealsye commented on #137
@JosephMcArthur Is this the same copy as #136 ?

[2016-07-20 05:18] JosephMcArthur commented on #137
Think so, the steps are just broken down a bit. We can make copy at each
stage nicer.

On Wed, 20 Jul 2016, 6:15 a.m. chealsye, <notifications@github.com> wrote:

[2016-07-21 16:08] JosephMcArthur commented on #85
Okay. Thanks for trying Chealsye. We could try a text slider, which may be easier, or since #84 will soon be done just forget about this. I'm ambivalent either way.

[2016-07-21 21:13] JosephMcArthur opened #185 "Upon scroll stories break out of column and stretch infinitely to the right"
E.g Go to: https://opendatabutton.org/action and scroll down to load more stories. This is on Chrome at least.

[2016-07-21 21:19] JosephMcArthur opened #186 "Story count gone on open access button /action"
The count for "People need access to research" is gone :'(.

Code is here: https://github.com/OAButton/oab_static/blob/master/content/action.html

[2016-07-21 21:23] JosephMcArthur opened #187 "Pages to filter out"
- [ ] Twitter.com
- [ ] chrome://history/
- [ ] dropbox.com
- [ ] mail.google.com
- [ ] netflix.com
- [ ] google.com/maps
- [ ] youtube.com
- [ ] calendar.google.com
- [ ] addons.mozilla.org
- [ ] history.com
- [ ] bbc.co.uk
- [ ] google.com

Can these be stored on a list which the plug-in could pull from too? For example, to serve a "this doesn't look like an article" type thing.

[2016-07-21 21:28] JosephMcArthur commented on #187
Also, can I suggest we keep this as a running issue and just plonk sites here as needed?

[2016-07-21 21:29] JosephMcArthur commented on #123
@markmacgillivray this looks so much better, which is great. The thing we really now have left to solve is that duplicate URL's are still being shown from (what I assume is) the same user. This feels like not a big challenge to solve, but let me know if it is.

Once that's done, and we're in the habit of cleaning #187 these lists will be much better.

[2016-07-22 12:28] markmacgillivray opened #188 "Stories, blocks, requests, oh my"
We have too many concepts.

Originally, the OAB recorded the fact that people were blocked when trying to access an article. This was good - it allowed exposure of a problem that led to advancement of the OAB project and also of access to academic material in itself. Then we thought it would be good to extend that by having stories about why people wanted to get round blocks so they could do somet

[2016-07-22 17:19] JosephMcArthur opened #189 "Expand Admin functionality for requests"
- [x] Allow us to edit subject line
- [x] Allow us to see test requests in /request
- [x] Allow us to change author email requests are being sent too.
- [ ] Generate a Gmail URL for the message with the subject line and sender. This allows us to A/B test sending via a bulk email server vs personal.

[2016-07-23 16:33] markmacgillivray opened #190 "Add a "check osf" cron job"
The sending of data to OSF relies on a page scrape to find the URLs back to the data. Sometimes this can be slow, and there is a 5 second delay on the response page at present to hope to catch the updated page. But a regular job should be added to go and check that page for new URLs, and then to update requests that may have missed them the first time round.

[2016-07-23 16:47] JosephMcArthur opened #191 "Deposit into OSF via the API"

[2016-07-23 16:48] JosephMcArthur commented on #136
Copy from Chealsye which I still needt o review and edit: https://docs.google.com/document/d/1JmFsUslUKKlutU0gSqFdUXtAz3-M2j8cdVaRbxQwMjc/edit?usp=sharing

[2016-07-23 17:10] #85 closed

[2016-07-24 17:33] JosephMcArthur commented on #136
Okay, have reviewed the text and made edits. Mark, you should feel free to get these up whenever. I'd like one more glance before we push live.

I'm still not 100% sold on the login and download pages being the same. But this a step in the right direction.

[2016-07-24 20:57] JosephMcArthur commented on #61
@markmacgillivray we can shut this, yes?

[2016-07-24 21:09] JosephMcArthur commented on #118
@markmacgillivray we've done much of this issue in our chat about #188. However, I'm suggesting that for this sprint we aim to:
- [ ] Implement easy forms of email gathering for some pages
and hopefully finish the first comment on this issue.

[2016-07-24 21:22] #146 closed

[2016-07-24 21:22] #139 closed

[2016-07-24 21:24] #84 closed

[2016-07-24 21:26] #140 closed

[2016-07-24 22:05] JosephMcArthur opened #192 "Output & Analyse key metrics"
Mark, we may need to chat about this one but I'll do my best here.

You've seen the key metrics [document](https://docs.google.com/presentation/d/15hR80_kle9nxGDrJqvGVe6JoibDpZL-Oe6DQmCSU0BE/edit#slide=id.p) . Right now, we can ignore JISC service data. Our figures shouldn't take anything into account that's a test or not shown on our UI (i.e is a duplicate or a filtered site).

The key metrics re

[2016-07-28 15:57] markmacgillivray commented on #188
On discussing this, we have agreed essentially the above. There was a change to include the email address in the information we collect from the user in the button on the page, as it seemed to make sense that that is the one place we really need content to progress with, and the user may be better placed to gather it than we can. However, I have since reviewed the ODB content to date, and think th

[2016-07-28 16:00] markmacgillivray opened #193 "Create new dev request endpoint for SE to test against"
@Steven-Eardley is going to test next week 4th August the new plugin against the dev api.

So I need to have the route at dev.api.cottagelabs.com/service/oab/request delivering the new expectations for the plugin.

Also dev.api.cottagelabs.com/service/oab/validate

[2016-07-28 17:45] JosephMcArthur commented on #188
Thanks again, Mark. My concerns here are:

* Sample size
* We know there are issues in making it through the plugin and inputting
emails currently.
* We haven't asked people who've registered blocks why they haven't made
requests.

and so I'd suggest essentially the same course of action as before.
Although, I'd suggest we also:

* Ask everyone who made a block, but not a request, why.
* turned al

[2016-07-28 17:48] markmacgillivray commented on #188
It's not a technical problem to get emails, it was just Steve and I
thinking of the user workflow. Although I do agree about the sample size. I
think I'll run a scrape on every URL we have a block for, and find out how
many have email addresses at all. Then we can get an idea if we're likely
to have users finding emails or not.

On 28 Jul 2016 18:45, "Joseph McArthur" <notifications@github.com> wr

[2016-07-29 11:29] markmacgillivray opened #194 "Getting feedback from users - is this the thing you wanted?"
We have gone round a few different ideas of how to get feedback from users regarding whether or not the thing we send them to is the content (article, data, whatever) they wanted, and/or gives them access to the thing they wanted (google scholar search page, etc). This has become confusing, because we want to do as little user tracking as possible, and because sending them to a page where they MAY

[2016-08-01 09:43] JosephMcArthur commented on #194
@markmacgillivray Do we need to deal with this in this sprint, or can it wait till the next?

[2016-08-02 13:58] #33 closed

[2016-08-02 15:14] markmacgillivray commented on #136
Ah, there is new text here, I have made the new login/download process live, so this is now working, but will add this text in. Will move this issue into current milestone

[2016-08-02 15:14] markmacgillivray commented on #137
This is done.

[2016-08-02 15:14] #137 closed

[2016-08-02 15:15] markmacgillivray commented on #123
Hmm, thought I removed these, will check. Moving to current milestone.

[2016-08-02 15:17] markmacgillivray commented on #102
Ah I don't think I did this one, was it initially assigned to someone else? It is a content fix. I can make the change now though, will move to current milestone for clarity.

[2016-08-02 15:19] markmacgillivray commented on #191
I doubt this will be completed this sprint, but can have it as a hanging enhancement to keep working on as we discuss with them - until there is the API endpoint on their side, this cannot be completed on our side.

[2016-08-05 11:52] JosephMcArthur commented on #179
the actual fix here is just re-linking to https://openaccessbutton.org/about#contact

[2016-08-05 11:53] JosephMcArthur commented on #179
While doing this the faq link in the footer needs ot be https://openaccessbutton.org/about#faq

[2016-08-06 09:28] JosephMcArthur opened #195 "Send Requests in SHARE"
Share will accept our requests as part of the research cycle - we should send our moderated requests into the system.

Pushing our requests into outside systems will help our requests be seen as a standard part of the research ecosystem - and therefor be filled.

[2016-08-06 11:03] JosephMcArthur opened #196 "Investigate use of Microsoft Academic as an alternative to Scholar"
They have an API that's usable under an NC licence. Potential replacement for scholar?

[2016-08-06 11:04] JosephMcArthur opened #197 "Where will US agencies repositories be aggregated?"
From the White House Directive they're now all setting up repo's. Some will go into Pubmed (yay) but where will others go and will we be able to interface with them?

[2016-08-06 11:06] JosephMcArthur opened #198 "Intergration with Hypothesis"
- [ ] Comment over corresponding author emails when we have them
- [ ] Comment links to data and articles from our requests and repositories in general

[2016-08-06 11:09] JosephMcArthur opened #199 "Change sign up to include Name & Affiliation."
For data requests, some more information on who's requesting will be useful for Authors. We may consider adding in folks Full Name and Affiliation at sign up. We might also want to add industry to our dropdown list of user types.

[2016-08-06 11:12] JosephMcArthur opened #200 "Citation Scrapping"
It's been suggested many times that we use OAB to grab citations when we're on a page - this could help contribute to projects who need these. We could use Citelet (from COS) to do this.

[2016-08-06 11:14] JosephMcArthur opened #201 "Add Author metadata to badge image file"
We should add some image metadata to badge file we send authors. It should have

- [ ] URL of data
- [ ] Name of author
- [ ] URL of request
- [ ] The fact OAB issued it

[2016-08-06 11:20] JosephMcArthur opened #202 "Add "I'm not the right person" to request options for authors"
Often corresponding authors will get asked for stuff that other authors on the paper don't have. It would be nice to give them a simple option to forward the request onto another person (in a way we can track).

[2016-08-06 11:20] JosephMcArthur opened #203 "Evaluate the use of MLA core repository for OAB (and if we already harvest it)"

[2016-08-08 12:37] markmacgillivray commented on #191
Moved this out to further milestone

[2016-08-08 12:37] markmacgillivray commented on #188
Continuing in next sprint

[2016-08-08 12:39] markmacgillivray commented on #177
This is read once new extension can be deployed, closing this one, will be triggered again by the extension dev if necessary, but should just be testing at that point.

[2016-08-08 12:39] #177 closed

[2016-08-08 12:41] markmacgillivray commented on #118
Moving to next sprint along with #188

[2016-08-08 12:42] markmacgillivray commented on #187
Moving to next milestone, keep as running issue, some of these are already in, will add more, and make an admin area addition where they can be managed

[2016-08-08 13:46] meganwaps opened #204 "Testing 1,2,3."
Hi Joe.

[2016-08-08 13:49] JosephMcArthur commented on #204
- [ ] Put together 10 paywalls and papers that we can use as testing papers for the tools. These should detail the expected responses
- [ ] Test the new plugin with 5 people on hangouts. Ensure they can complete core functions

[2016-08-09 10:12] JosephMcArthur opened #205 "Comms with partners"
- [ ] Imperial
- [ ] COS

[2016-08-09 10:23] JosephMcArthur opened #206 "Site changes for Re-OAB Launch"
Related to #188 Combining our various take action pages into one to focus site vistors on what we'd like them to do.

Style of /action on ODB is good. Add in the map and "people need access to research / What can you do to help" boxes from /action on OAB.

[2016-08-09 10:25] JosephMcArthur opened #207 "Changes stories to requests"
Question on if we need to ask users before doing this. Potentially change without emailing the author.

[2016-08-09 10:31] JosephMcArthur commented on #199
Could still keep people's usernames as what is displayed on the site - and only use full name for emails to authors.

Could we also add a ORCID ID to sign up?

[2016-08-09 10:38] JosephMcArthur opened #208 "Optional "give us more info" form as part of a request page"
All optional:
- [ ] ORCID's for corresponding author
- [ ] Name for corresponding author
- [ ] Disipline of paper
- [x] Email of author

[2016-08-09 10:40] markmacgillivray commented on #194
We have the permission from the plugin to see the URL. So DO send a check request - if the URL is of a page we have a request out for, ask the user if the content is there.

[2016-08-09 11:04] JosephMcArthur commented on #107
Duplicate of #68

[2016-08-09 11:04] #107 closed

[2016-08-09 11:04] JosephMcArthur commented on #61
@markmacgillivray adding to the current issue and tagging you to ensure we can close.

[2016-08-09 11:07] JosephMcArthur commented on #66
Adding to this sprint as it's essentially the same #208 . If we don't get this info from the plugin we should get it there.

[2016-08-09 11:11] JosephMcArthur commented on #116
This is a subsection of #181 . Currently working on this by getting them into Core. For others, SHARE will take them.

[2016-08-09 18:31] JosephMcArthur commented on #203
They just got a big grant: https://news.commons.mla.org/2016/08/09/humanities-core-receives-neh-grant/

[2016-08-10 13:48] markmacgillivray commented on #205
Started via email and slack. Will close the issue, the discussion will be ongoing, and probably will kick off new specific issues as we proceed.

[2016-08-10 13:48] #205 closed

[2016-08-11 12:02] markmacgillivray opened #209 "Sign in page is not obviously also a sign up page"
Change text to make it clear the user can sign in OR sign up, immediately. Get rid of the small print, make it more obvious. This is on the /account page when not logged in.

[2016-08-11 12:05] pennybphd commented on #181
Going through [OAI compliant register](http://www.openarchives.org/Register/BrowseSites?sortBy=repoName) to find and check base URLs. Could use info to improve Wikipedia [Preprint](https://en.wikipedia.org/wiki/Preprint) page.

[2016-08-11 12:51] JosephMcArthur commented on #209
You've seen the copy changes for this right?

sent from my phone, please excuse any typos.

On 11 Aug 2016 1:02 pm, "markmacgillivray" <notifications@github.com> wrote:

[2016-08-11 16:39] markmacgillivray commented on #209
Somewhere yes. But also a note to remind me of the particular issue Steve
has with it, for making it obvious for people signing up when installing
the plugin.

Mark

On 11 Aug 2016 13:51, "Joseph McArthur" <notifications@github.com> wrote:

[2016-08-13 11:44] wetneb opened #210 "Integrate doai.io?"
Hi there! :-)
I wonder if you would consider adding doai.io to your sources? We cover many sources now, including ResearchGate :-) We're working on a new version by the way, with a proper API, to be launched later this year. It would be great if we could point people to the OAB for an extension that supports doai.io.

Anyway, I'd be happy to work with you on backend-related issues. Is there an up-

[2016-08-13 17:35] chealsye commented on #207
I don't think we need to ask users. The stories were submitted alongside the paywall flag, displayed publicly already. It's effectively just a shift of display and naming, right? If we do choose to email the author we should verify it's a quality story, of course.

[2016-08-13 17:38] chealsye commented on #199
I think this is a great move if it is optional. We can ask existing users to strengthen their requests and/or user profile by providing their full name and institutional affiliation. Going forward make it option fields with registration. I think most users will be fine with this. Some may not be and it's good to allow them the continued option of basic username. Using ORCiD is a fantastic idea. Wi

[2016-08-14 11:16] markmacgillivray commented on #210
What do you mean by scraping paywalls? I don't think we do that at all. The button is triggered by the user, when they are on a page that they want to use it on - which is probably a paywall, but we don't identify it as such. We actually already have a doai-type service of our own, although as I understood it, Joe was going to talk to you about that and it has not been advertised to anyone yet. We

[2016-08-14 18:47] wetneb commented on #210
About scraping: I thought at some point you were using quickscrape to retrieve metadata from the page where the users pushed the button. I remember seeing quickscrape logs in the UI, but maybe that was something else?

doai.io includes ResearchGate whereas dissem.in does not (and that's quite a big difference in terms of coverage). We did not want to include it in dissem.in because we wanted to en

[2016-08-24 12:33] JosephMcArthur opened #211 "Getting more done in GitHub with ZenHub"
Hola! @JosephMcArthur has created a [ZenHub](http://www.zenhub.com) account for the **OAButton** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=Z

[2016-08-24 12:34] #211 closed

[2016-08-25 11:09] JosephMcArthur commented on #191
Leaving this here as a note on what Metadata we should try and make sure gets submited: https://twitter.com/jaclark/status/768510585990361088

[2016-08-27 19:47] JosephMcArthur commented on #207
Pretty sure I agree with you here Chealyse. We should notify folks via email that this might be happening though, which we can do en-mass.

[2016-08-27 19:50] JosephMcArthur commented on #136
Did you add in the text Mark?

[2016-08-27 19:52] JosephMcArthur commented on #181
I think that would be a great idea, hoping we don't count as having a conflict of interest?

[2016-08-29 11:50] JosephMcArthur opened #212 "Move issues from unified extension into here"
Once current plugin sprints are compete. Because sometimes less is more.

[2016-08-29 11:51] #193 closed

[2016-08-29 20:22] JosephMcArthur opened #213 "Combine ODB and OAB resources pages"

[2016-08-29 20:24] JosephMcArthur opened #214 "Show all blog content on /blog"
Don't see why we should make people click... can still hyperlink the titles to give people a permanent URL to share.
##### Strech goal
- [x] Speaking of sharing, wouldn't hurt to drop some share buttons into our blog page template

[2016-08-29 20:47] JosephMcArthur opened #215 "Replace G+ symbol with Github"

[2016-08-29 20:53] JosephMcArthur opened #216 "Quickly condensable things in the footer"
- [ ] Team Button doesn't need to be in the footer (we're retiring it as request pages are doing that faster than ever expected)
- [ ] Legal can leave the footer and go in about us (or under contact). To close, remove from issue and leave big note in about page.
- [ ] Code statement can be moved to same line as CC-BY statement. So it could read "This work is licensed [licence image]. Our code is o

[2016-08-30 10:21] JosephMcArthur opened #217 "Changing story prompt to give better stories"
From @chealsye

"The prompt: "Tell your story - why were you blocked? What were you trying
to do at the time?"

SO many stories are just saying "trying to access x." A different prompt
could generate more real stories about why they need access. I'll have a
think, but wanted to flag it when it came to mind."

@chealsye have you had any other thoughts on this?

[2016-08-30 10:25] markmacgillivray commented on #217
I added "Why do you need access to this content? Please tell us your story! We'll share this with the author, so a good story will convince them why they should share their work!" to the current development, at http://oabe.test.cottagelabs.com/html/main.html. But any other suggestions welcome!

[2016-08-30 10:30] JosephMcArthur commented on #217
I think we need to be more concise. The reason it's structured this way
currently is to narrow down the types of responses we get. We could
structure the input box to make this more obvious, or try other ways of
doing this. For data requests, it's likely that we need to give people more
space to ask these questions.

We've had to think a lot about these sorts of questions for OpenCon, I
wonder if

[2016-08-30 10:33] markmacgillivray commented on #217
Yes I agree we need to be more concise. I just added text to get the thought of being more convincing across. The other texts on the plugin demo, as discussed yesterday, will be changed to visual imagery. But we still need to say something in the text box, hence yeah any further suggestions welcome.

[2016-08-30 10:48] JosephMcArthur commented on #217
Mark, can you pull a list of all stories please and send it as a CSV? I
want to take a look and send it over to folks to see if we can find a
better prompt.
On Tue, 30 Aug 2016 at 11:33 markmacgillivray <notifications@github.com>
wrote:

[2016-08-30 11:13] markmacgillivray commented on #217
[stories.txt](https://github.com/OAButton/backend/files/444674/stories.txt)

[2016-08-30 11:15] markmacgillivray commented on #217
there are about 6300 stories in the above text (csv) file. I have filtered out ones that are already marked as test, but there could well be some in there that are still gibberish. Another clean of the stories will take place when we move to the new system. But that collection should be pretty good for getting an indication.

[2016-08-31 10:22] JosephMcArthur commented on #217
# Major update

## Background

Current prompts:
![screenshot 2016-08-31 11 14 59](https://cloud.githubusercontent.com/assets/4953703/18124923/3198ab9e-6f6c-11e6-8935-16f468e4fac4.png)

The ideal case here is that a user finishes the sentence, few actually do. It's designed this way to:
1) allows us to merge it smoothly into emails
2) allow us to tweet it
3) allow us to display it on request pages

[2016-08-31 10:25] JosephMcArthur commented on #217
Also, have asked Nicole Allen to help here based on her work doing questions for OpenCon.

[2016-08-31 10:31] markmacgillivray commented on #217
Giving dropdown options or allowing people to reuse stories seems like a bad idea to me. If what we expect here is unique information, then it should not be possible to answer with generic messages. If it is, then people are just going to answer with generic messages. If people are just answering that way anyway, we would be better getting rid of the idea of a story altogether and just providing a

[2016-08-31 11:06] JosephMcArthur commented on #217
I agree with your actions above Mark, including:

- [ ] I would actually remove the "with this I can" approach altogether
- [ ] do not link out to an explanation of "why" the story is important
- [ ] during moderation of the new request, we should create a status called "story update", and the moderator could set it to that which triggers an email to the user to come back to their request page and

[2016-08-31 11:17] markmacgillivray commented on #217
We could reject some words, but that is very tricky. e.g. we cannot reject the word "test" - some people will be wanting access to run tests with the content, science experiments are tests! So perhaps better not to reject words. But the strength bar idea is good, and can be augmented over time, so we could start with basing just on length then add or subtract score based on words used, so rather t

[2016-08-31 11:30] JosephMcArthur commented on #217
Maybe I'd change my wording of reject to "flag". So, for instance, if the word paywall is in there we could show something when they submit the 1st time like:

"We find stories with the word paywall don't work. You might instead think about:
- Story tip one
- Story tip two
- etc

However, if you're sure you can just hit submit again!". Then they could either change or do nothing, and we'll accept

[2016-08-31 12:09] JosephMcArthur commented on #217
Mark, for the Stories.txt file, what sort of stuff is in it? Is this recent + old, just recent, just old etc? I think this would be a great thing to ship the next version with (we can debate if it's feasible) and I want to see if there is a pattern in the stories. If there is any systematic bias in the sample you've given, knowing now would be great.

[2016-08-31 12:11] markmacgillivray commented on #217
It's everything that has a story of any length more than zero, from new,
old, old old, all we have.

On 31 Aug 2016 13:09, "Joseph McArthur" <notifications@github.com> wrote:

[2016-08-31 15:11] JosephMcArthur commented on #217
Great. I now have spilt that dataset into a few parts.
- All (6400)
- Unique stories (est 4500)
- Duplicate stories (est 1800)

and added tests for the number of words, string length and the occurrence of things like test / paywall.

The next step would be scoring each story (relatively fast, but not trivial). This should give us a reasonable evidence base to work from in developing this bar. This

[2016-08-31 19:18] markmacgillivray commented on #182
front page of new dev at oab.test.cottagelabs.com now just uses the oabutton logo itself. That is probably fine for there. But the getting started could do with some. Also on login a symbol to sign up ./ login would be good. Plus on requests, whether exploring or creating, would be good if we have some symbol for a request. There are also some statuses of requests, which it may be nice to visualis

[2016-08-31 19:19] markmacgillivray commented on #182
we have bootstrap glyphicons and font-awesome icons too of course, so the real value of this would be to have our own set of action icons and graphic visualisations to go with things like the getting started instructions. Some oabutton theme.

[2016-09-01 02:37] chealsye commented on #217
What about simply asking "How would getting access to this research help you?" I think it prompts a more meaningful response than "trying to get access to x" and is concise.

[2016-09-02 09:29] markmacgillivray commented on #217
"How would getting access to this research help you?" sounds good.

The getting started instructions that the user sees when they sign up could say "giving a good answer to that question is more likely to convince an author to share the content with us" or something like that. So we tell the users they should do this, but the plugin itself stays concise.

[2016-09-02 13:21] JosephMcArthur commented on #215
- [ ] Simple mouseover for all icons

[2016-09-02 13:22] JosephMcArthur commented on #182
Okay, we've been asked for a prioritised list of jobs here.

1) Frontpage / site graphics
 - [ ] Tiny icons for support / about links?
 - [ ]  Download header bar
 - [ ]  Login header bar
2) Sign up process / instructions graphics
 - [ ]  Email graphic (e.g Slack graphics)
 - [ ]  Simple email template(s) including buttons etc
3) Plugin graphics
 - [ ]  Article + Data graphic
 - [ ]  Success, requ

[2016-09-02 13:57] JosephMcArthur commented on #182
@markmacgillivray can you take a first look at the above and give any input before I send it along to the designer. I should be able to sit with the designer throughout to provide fuller input.

[2016-09-02 14:51] JosephMcArthur opened #218 "Improve mobile nav bar experiance"
Many folks are investing heavily in making their mobile nav bars much better.

For example https://www.hillaryclinton.com/

It's not common for the hamburger to become a cross when clicked (which is nice I think) and for the nav bars to take up large sections of the screen. The former I think would be great for us, the later is debatable. Just wanted to start an issue where we could collect though

[2016-09-03 06:21] JosephMcArthur commented on #113
Duplicate of #171

[2016-09-03 06:21] #113 closed

[2016-09-03 06:25] JosephMcArthur commented on #112
Api is here: https://osf.io/api/v1/share/data/help/#!/SHARE/get_share_search

Closing this closes #110, #69, #70, #111, (maybe #111 and #173 ) and #171 I think.

[2016-09-03 06:43] JosephMcArthur commented on #73
Now, I'd suggest we just notify other aggregators and get them to aggregate (think COS, CORE, Openaire etc). So far, I know CORE will take anything with an PMH link. Now OSF say they're happy to do others via Share.

This was originally connected to #181, but I think it's closeable now as it's not needed by us.

[2016-09-03 06:43] #73 closed

[2016-09-03 16:44] JosephMcArthur opened #219 "Sign in email issues"
- [ ] Currently, emails get threaded in some systems (e.g Inbox). Could we add a date to the subject line so that is less likely to happen? @markmacgillivray this seems like a quick & easy fix.
- [x] When I sign in, I seem to get 2 emails at once. Is this something others can replicate @chealsye @meganwaps @natalianorori . To replicate, simply sign into the site. You should receive two emails, but

[2016-09-03 17:01] JosephMcArthur opened #220 "The what & when of requests."
1) One thing that COS flagged immediately upon seeing our implementation of the Open Data Button is that we're not clear enough for authors on WHAT is actually required. Often you don't need the data for a whole paper, but more a certain figure, experiment or other sub-component. I think for things like the website, this level of specificity isn't needed, however, for authors it would be invaluabl

[2016-09-04 10:33] chealsye commented on #219
@JosephMcArthur I just tested it and I only got one email, not two.

[2016-09-04 21:32] JosephMcArthur commented on #192
Have made some semi-major changes to the document. It:

* Simplifies the user flow and user types. Major change is removal of the idea of "advocate" as a separate user type. Now, instead of a user just being someone with the plug a user is just someone using any part of the service.
* Makes modeling easier
* Makes words like user, sign up etc mean closer to how they're used by others.
* Updates fo

[2016-09-04 21:35] JosephMcArthur commented on #181
This is slightly out of scope for this issue. But, to track progress somewhere. Today I:

* Cross-referenced this list in Base and OpenAire (added SHARE earlier)
* Removed some bogus entries
* Added a OpenDOAR column and searched some
* Computed aggregation coverage.
* Spoke to some COS people about this

[2016-09-04 21:49] JosephMcArthur commented on #188
@markmacgillivray, I'm happy to close this. If you're not, please reopen.

[2016-09-04 21:49] #188 closed

[2016-09-05 09:44] JosephMcArthur commented on #181
In terms of getting these aggregated, we should:

- [ ] Suggest them to base: https://www.base-search.net/about/en/suggest.php
- [ ] Suggest them to OpenAire
- [x] Suggest them to COS

[2016-09-06 09:57] markmacgillivray commented on #216
Done, slightly differently to aid layout on small screens.

[2016-09-06 09:57] #216 closed

[2016-09-06 09:59] markmacgillivray commented on #209
New site style fixes this

[2016-09-06 09:59] #209 closed

[2016-09-06 09:59] markmacgillivray commented on #61
BASE API is connected in the backend, will be searched as soon as new plugin goes live

[2016-09-06 09:59] #61 closed

[2016-09-06 10:05] markmacgillivray commented on #199
These fields have been added to the new signup page, although it will not grab info automatically if people provide an orcid - this could be done, but users have control of how much info they can make public on orcid, and not many people have it yet, so there is not sufficient coverage to make it worth querying. Later we can add this if we see many more people using it though.

[2016-09-06 10:05] #199 closed

[2016-09-06 10:07] markmacgillivray commented on #207
This issue then requires no further work - the data will change over when the new plugin and new site are up. So I will remove it from this milestone but not close it, because someone will need to put together an email to all users when we actually do the changeover. Perhaps this is a general issue we should create anyway - email everyone when we make the next release.

[2016-09-06 10:07] markmacgillivray commented on #186
Back in new version

[2016-09-06 10:07] #186 closed

[2016-09-06 10:08] markmacgillivray commented on #191
Moving to next milestone as it keeps going

[2016-09-06 10:09] markmacgillivray commented on #123
Now happening as part of new site dev, moving on to next milestone for further checks

[2016-09-06 10:12] markmacgillivray commented on #154
Some of this remains relevant on new site dev, so moving onto next milestone

[2016-09-06 10:12] JosephMcArthur commented on #207
This is on @chealsye 's todo in other places, so this is actually fine to close.

[2016-09-06 10:12] #207 closed

[2016-09-06 10:13] markmacgillivray commented on #66
Moving this onto next milestone, and after we check remote sources (if there is a DOI etc) we can show full metadata on new request page, and allow users to edit it there

[2016-09-06 10:14] markmacgillivray commented on #190
Still todo

[2016-09-06 10:14] markmacgillivray commented on #187
Moving

[2016-09-06 10:15] markmacgillivray commented on #185
Fixing in new site

[2016-09-06 10:17] markmacgillivray commented on #136
The new account / signup / signin page is now quite different, I have made all sections of it viewable right now and informed Chealsye, it is available at /account on the dev site. If any of this is still relevant (perhaps the email content part) it can be added, so keeping this issue open but waiting for further feedback.

[2016-09-06 10:17] markmacgillivray commented on #151
todo

[2016-09-06 10:19] markmacgillivray commented on #118
Still to do large scale analysis

[2016-09-06 12:40] markmacgillivray commented on #217
The prompt has been changed in the dev plugin, and a button UI to indicate word length and how good that is has been added

[2016-09-06 12:40] #215 closed

[2016-09-06 12:44] markmacgillivray commented on #160
odb static will become obsolete once new site is live. oab static one is best, so closing this now

[2016-09-06 12:44] #160 closed

[2016-09-06 12:44] markmacgillivray commented on #160
oops sorry wasn't even assigned to me! re-open if you are still working on it, but oab_static looks pretty good now on the readme

[2016-09-06 12:50] markmacgillivray commented on #72
New functionality tracks that a user checked availability of a given page as soon as they click the button. No further information is needed for this simple task, and a login is not even required. So we can now collect more stats on people hitting the button, although we may not know for sure that it IS a paywall. We will be filtering out junk too now though, so at least records of availability sh

[2016-09-06 12:50] #72 closed

[2016-09-06 13:47] markmacgillivray commented on #192
The number of sign-ups we have (that's the same as total emails from the whole system)
The number of users we have (emails which we know downloaded the app)
The number of active users we have (people who've logged a block in the past month)
The number of inactive users we have (people who've logged a block it in the past 1-3 months)
the number of former users we have (people who've  logged a block

[2016-09-06 13:48] markmacgillivray commented on #192
Is it easy to get a sheet of sign ups + a timestamp of when they signed up? Would like to make a chart...

[2016-09-06 13:49] #102 closed

[2016-09-06 13:53] markmacgillivray commented on #192
Users broken down by plugin version they most recently used

[2016-09-06 13:59] JosephMcArthur commented on #204
This is largely done, closing now!

[2016-09-06 13:59] #204 closed

[2016-09-06 18:34] JosephMcArthur commented on #145
Perhaps it could take tweets of folks who found what they needed, can we make an account that would feed this with favourites or something like that?

[2016-09-09 01:36] natalianorori opened #221 "confirmation email Issue"
When uploading data to the website, I received not 1 but 24 confirmation emails from admin@openaccessbutton.org, has this happened to anyone else? @JosephMcArthur

[2016-09-09 01:38] natalianorori commented on #219
@JosephMcArthur I tested it in google chrome and only got one email as well

[2016-09-09 01:52] natalianorori opened #222 "How to deal with out of office and holiday emails"
What can we do to find out if the author is out of office or on a holiday? How can we make sure that the email got to the right person instead of an unused email address?  @JosephMcArthur

[2016-09-09 07:07] JosephMcArthur commented on #221
Never happened to me at that scale. This might be linked to #219 .

[2016-09-09 07:26] JosephMcArthur opened #223 "blog.openaccessbutton.org"
- [ ] Unsecured
- [ ] Leads to a CL api call

[code]

Should redirect to /blog

[2016-09-09 07:44] JosephMcArthur commented on #182
Have just updated master list to reflect that we're aiming to push the site far ahead of plugin

[2016-09-09 09:46] JosephMcArthur commented on #221
Okay, some background on this from what Natalia sent me.

Wondering if it was pressed many times.

[2016-09-09 13:45] JosephMcArthur commented on #182
Other new big things:

- [ ] Getting Started Graphics

[2016-09-09 13:48] hemprichbennett opened #224 "Wording of the open data requests doesn't allow requests not from articles"
Currently the ODB is worded entirely for seeking data from a specific publication. Though likely the most common sort of data request, it isn't the only type. E.g.:

I was after information from a constantly-updated public dataset which hasn’t been tied to a specific publication, although I’m sure many papers have been written off of it in the past. The format of the ODB template inherently implie

[2016-09-09 16:01] JosephMcArthur commented on #217
Current version in designs: How would getting access to this research help you? This message will be sent to the author.

[2016-09-09 16:10] natalianorori commented on #221
I actually didn't press the button 24 times. I just pressed it once.

After this happened , I did a second test and uploaded docs again with another test request, this time I pressed the button about three times and got no confirmation email at all.

[2016-09-10 16:49] JosephMcArthur opened #225 "New Frontpage redesign"
We've been given a concept for the frontpage refined from our existing elements. We have design files for each of these elements

![front page ux](https://cloud.githubusercontent.com/assets/4953703/18412110/c30438e0-777e-11e6-979e-41daf81039c8.png)

[2016-09-10 16:51] JosephMcArthur opened #226 "New Refined Bookmarklet/Plugin-UI"
Again, the designer has given suggestions on our dev Plugin-UI. We can discuss which of these suggestions we can/can't/will/won't implement.

![button ux](https://cloud.githubusercontent.com/assets/4953703/18412125/224b8862-777f-11e6-871e-e1be5fea5ad8.png)

Some notes on this. He suggests not having a sign in page at all, and instead simple having a user put their email address in on the submit pa

[2016-09-10 17:10] markmacgillivray commented on #225
Looks nice. Where do I get the elements? Can you send them to me?

[2016-09-10 17:12] JosephMcArthur commented on #225
Everything is here: https://www.dropbox.com/sh/onquy2ny2ag4dr7/AADsjB9eQgYjrolzRIiEVNwSa?dl=0. I'm currently uploading it to Github.

I'm not sure I'd suggest we do _everthing_ here, but it's certainly a step above what we've got now.

[2016-09-10 17:13] markmacgillivray commented on #226
This is pretty much what we already have in the dev plugin anyway. We already don't have a sign in page - if they have an account they are signed in, if they don't they can sign in on the site with exactly that, just one email. There is little point putting that in the plugin, because we HAVE to take them to the site anyway to get their API key into their plugin the first time round after they sig

[2016-09-10 17:20] JosephMcArthur commented on #226
Icons are now up in this repo. The design of the button generally here is very nice, and it would be good to implement that.

Hard to see on the test site atm, but does the article come up at the top? That is a pretty good suggestion I think we should take. Same with the removed of "file a bug", better to just do context dependent links like "but i see one right there".

Here is also a suggestion

[2016-09-10 18:28] markmacgillivray commented on #225
My only concern is still whether it is too widget-centric rather than request-centric. We'd need to know what actually goes in that "gif" hole, because without something sensible we are just filling space for the sake of the design rather than the functionality of it. The walkthrough gif thing could be good here. Overall it presents better than I expected though.

[2016-09-10 21:32] JosephMcArthur commented on #225
I think we're imagining a walkthrough in the gif spot. Until the new plugin launches, it could just be the logo or something else inoffensive.

In terms of widget-centricity, I agree, it's a concern. My way to address it would be:
* a context dependant landing page. If you land on mobile, we'll show you text/images for that, if you land on PC we'll show you that. All can mention the institutional

[2016-09-11 20:59] chealsye commented on #217
I think the additional of "This message will be sent to the author." is
very helpful. Yes, it makes the prompt longer, but it hopefully will
incentive users to provide a meaningful story.

On Fri, Sep 9, 2016 at 5:01 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-09-12 03:44] JosephMcArthur commented on #217
This should be on the request pages too, where "will" should probably change to "may".

@chealsye any luck on finding folks to rate stories?

[2016-09-12 03:48] JosephMcArthur commented on #182
Got another session (probably the last for now) lined up with the designer this Wednesday.

In that session, I'll ask him to think about:

- [ ] For institutions page
* graphics in my last comment
- [ ] Request pages / request landing page
- [ ] Error from the backend plugin page / icon
- [ ] A rejig of our style guide

[2016-09-12 03:53] JosephMcArthur opened #227 "Proposed refined Logo design"
Upon looking at our logo the designer immediately noted "this should only have two colors" and produced the below.

![icon_oab](https://cloud.githubusercontent.com/assets/4953703/18424121/4e5f61d2-78a4-11e6-8d83-53b22ec16f67.png)

I must say, I like it's cleaner aesthetic, certainly fits where we're trying to go. Leaving it here as at the back of my mind I know we're thinking about adjusting our n

[2016-09-12 03:57] JosephMcArthur commented on #224
Hi Dave, thanks for this! We'll have a think about how we could support this and leave any thoughts here.

[2016-09-12 04:22] #184 closed

[2016-09-12 04:39] JosephMcArthur opened #228 "Take Articles from Researchgate where Sherpa Romeo says we can"
This is somewhat connected to #210 because of the Researchgate link.

Researchgate is clearly full of stuff, but the legality of it is questionable. Perhaps we can use things like Sherpa Romeo to figure out when we can use it.

This would be a departure from only using repositories, and needs thought, but something to consider.

[2016-09-12 04:44] JosephMcArthur opened #229 "Allow user submitted links to fulfil requests"
We've discussed this briefly, but time to make an issue. We've discussed using request pages to ask folks to manually search sources (like author pages & data repos) to help find things where current automatic search falls down.
### How it could work
#### Articles
- Immediately (i.e before moderation) we have a call to action on request pages for searching Scholar and Google for versions on author

[2016-09-12 14:03] JosephMcArthur commented on #192
#### New definitions:

##### Churn

* Not used tools or logged in for 6 months
or
* Not used current version of plugin for 2 months

- [ ] Code these into the model
- [ ] update defintions in presentation

[2016-09-12 14:04] JosephMcArthur opened #230 "Decide date for plugin dev freeze to allow smooth FF roll out."

[2016-09-12 14:04] JosephMcArthur opened #231 "Deal with FF Corruption"

[2016-09-12 18:14] JosephMcArthur commented on #228
This is that list: http://www.sherpa.ac.uk/romeo/PDFandIR.php?la=en

[2016-09-12 19:16] JosephMcArthur commented on #231
@markmacgillivray we can't seem to find the file for this. cc @meganwaps

[2016-09-13 17:31] chealsye commented on #227
It hurts my eyes.

On Sun, Sep 11, 2016 at 11:53 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-09-13 17:31] chealsye commented on #217
It's proving harder to expect. I've started reaching out to individuals I
know to get it going.

On Sun, Sep 11, 2016 at 11:44 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-09-13 17:53] JosephMcArthur commented on #227
Any particular reason for that?

On Tue, 13 Sep 2016 at 18:31 chealsye <notifications@github.com> wrote:

[2016-09-13 18:00] chealsye commented on #227
Orange is already a rough color and the white curve around the finger is
harsh to my eyes.

On Sep 13, 2016 1:30 PM, "Chealsye Bowley" <chealsye@gmail.com> wrote:

[2016-09-13 20:29] JosephMcArthur commented on #225
@chealsye supports a request panel

[2016-09-13 20:37] JosephMcArthur commented on #225
@markmacgillivray we're currently assuming this is the homepage strucure move forwards

Some notes on the design:

* Copy on this page isn't suggested.
* Contribute is currently "explore requests". This term should actually be used over "explore requests" IMO
* About page should be in the nav
* The extra footer section here isn't required in this build

[2016-09-14 05:15] meganwaps commented on #231
@markmacgillivray @JosephMcArthur any luck finding the FF code?

[2016-09-14 12:19] markmacgillivray commented on #231
I talked to Steve about this. The latest firefox version was actually generated from the oab-chromeaddon, which was a port of the old code into a newer-ish chrome framework, but still with the old code inside it. So still the potential for errors from old code becoming invalid in there. The generated file must originally have been created by Steve and uploaded to the FF store by Joe (Steve says he

[2016-09-14 15:08] JosephMcArthur commented on #231
I think this is that file: https://www.dropbox.com/s/9azqwhmnka5hesy/odb_firefox_0.8.7.xpi?dl=0

[2016-09-15 12:22] JosephMcArthur commented on #225
Here is an updated version of this with an about section, which aims to get at the request stuff, and a optional section for institutional stuff.

 ![front page ux](https://cloud.githubusercontent.com/assets/4953703/18549604/65c7df0c-7b47-11e6-95b7-d83597db729d.png)

[2016-09-15 12:24] JosephMcArthur commented on #226
Update here with a suggested page for when the backend throws errors.

![button ux](https://cloud.githubusercontent.com/assets/4953703/18549644/adbc3204-7b47-11e6-886f-676309248868.png)

[2016-09-15 12:25] JosephMcArthur commented on #227
Some more exploratory stuff here.

![icon redesign 1](https://cloud.githubusercontent.com/assets/4953703/18549685/d5ce63c0-7b47-11e6-845c-8a8dcbcc3c9c.png)

[2016-09-15 12:27] JosephMcArthur opened #232 "/request redesign suggestions"
Below are what the designer has suggested for our request landing page & the request page itself.

### Request Landing

I'm quite pro this style. However, I would suggest some additions:

* a stronger call to action / explanation at the top as a separate panel.
* A filter for request type (data vs articles)
* A button to subscribe to requests from certain fields.

![request landing page ux](https:

[2016-09-15 12:32] JosephMcArthur commented on #232
I'll probably return to this at a later date with more thoughts & I should probably split the issue tbh.

[2016-09-15 12:49] JosephMcArthur commented on #231
@markmacgillivray @meganwaps any update on manually installing this? I'm told it's unsigned.

[2016-09-15 19:33] JosephMcArthur commented on #223
Ah, I see. This is a general odd thing as https://random.openaccessbutton.org/ gets the same response.

[2016-09-15 19:53] JosephMcArthur opened #233 "User Export on Admin interface only exports 5 addresses when requested"
as above

[2016-09-15 21:38] chealsye commented on #225
@markmacgillivray How much of this design mockup are you using for the new design for next week and next month? Are we using that book image? That logo? Tab icons?

I think, if Joe agrees with my copy, we could keep it to that minimal one block/panel AND include requests. But we need to figure out another colour likely for one of the dark blues or move the features on grey block up.

[2016-09-15 21:51] JosephMcArthur commented on #225
For next week we should remove the "packages" bit, and replace it with the about bit.

[2016-09-16 02:22] chealsye commented on #225
I'd love a how to gif, but perhaps it'd be better to wait until things are finalised.

In the mean time formatting it in the centre is a simple solution… but something there would be best. What user stats do we have?

[2016-09-16 08:24] meganwaps opened #234 "Broken link on current site"
During a test tonight we discovered a link, I believe the 'support us' link, becomes broken if a user clicks the back button, then clicks on the same link again. It leads to a different link, I believe 'Join Us'. Will re-watch interview to clarify which links are broken.

[2016-09-16 17:11] chealsye commented on #225
@markmacgillivray FYI - all the copy for the website is in this Google Drive folder: https://drive.google.com/drive/folders/0B3zC2zJzpxoIRm9KS1pKcFVfT3c
@JosephMcArthur has to clear copy still, but the team page can go up whenever.

[2016-09-16 17:45] chealsye commented on #227
I'm still partial to 1. I feel like anything that is just the lock isn't unique to OAB.

[2016-09-16 17:45] chealsye commented on #226
Really liking these!

[2016-09-18 09:19] markmacgillivray commented on #225
The old book image in the repo is 1.4MB large. That does not seem like too good a way to build a first page experience, particularly when @JosephMcArthur you were so concerned about page load speed in the past. I can try editing the image and reducing the quality down as far as possible, but that could have some effect on visual quality, of course. This is probably because we are still just mockin

[2016-09-18 09:25] markmacgillivray commented on #225
Hmm, actually the old book image does not seem to match what is in the mock up - it may be the original image used to generate the mock up, but it has different filters added to it, to lighten and fuzzify it, it seems. In order to use this I would need the altered image, cropped to size and scaled to the focal point we want to actually use on the site. Otherwise I will be spending ages altering im

[2016-09-18 10:48] JosephMcArthur commented on #225
Happy with the copy.

Will try and get the image for you tomorrow.

[2016-09-19 10:19] JosephMcArthur commented on #141
#232 has suggestions for how to implement this.

[2016-09-19 10:19] JosephMcArthur commented on #66
#232 has suggestions for this

[2016-09-19 10:22] JosephMcArthur commented on #212
Okay, that repo only has a very small number of issues that are closable before the next release. Happy to close this now.

[2016-09-19 10:22] #212 closed

[2016-09-19 10:28] JosephMcArthur opened #235 ""For Institutions" Page"
To showcase our ideas & plans around OAB for institutions we should put together a page for it.

We need to get:
- [ ] Copy (@chealyse / Joe )
- [ ] Design (Joe)
- [ ] Code

&
- [ ] feedback on the product of the above from the target

[2016-09-19 10:28] JosephMcArthur commented on #182
Okay, this issue has more than fulfilled it's purpose. Some things still to do but I'm going to make a new issue for them!

[2016-09-19 10:30] JosephMcArthur opened #236 "Getting Started / Instructions Graphics and/or walkthroughs"
Need to have some FABULOUS instructions for the new tool. There are several approaches to this which I'll layout in future comments.

[2016-09-19 10:34] JosephMcArthur commented on #214
Where does /blog live in OAB_Static?

[2016-09-19 10:37] JosephMcArthur commented on #217
Closing this issue for now, as I think we've made good progress on this. To move forwards here I'd suggest:

* @chealsye you keep trying to get things scored
* @meganwaps you get folks to feedback on this prompt specifically during testing

Any feedback we get can be as a new issue.

[2016-09-19 10:39] JosephMcArthur commented on #182
Wait, I don't have confirmation from @markmacgillivray that the new prompt & designer are in! Sorry!

[2016-09-19 10:44] JosephMcArthur commented on #217
Wait, sorry, I don't have confirmation from @markmacgillivray  this is in the new build yet.

[2016-09-19 13:33] chealsye opened #237 "Quotes on map difficult to read"
The quotes over the world map (currently on the test site) are difficult to read. It isn't impossible to read the quotes and attribution, but this should be easy to read for users.

Some possible solutions:
* Outline the text
* Bold the attribution
* Add a bar behind the text (opaque would definitely fix it, but more transparent would look better)
* Fade the colour of the map?
* Reorient the map i

[2016-09-19 13:36] JosephMcArthur opened #238 "Security codes & links doesn't allow login on test"
On both Chrome & Firefox & Andriod inputting email will often lead to email being sent, but upon trying to use links or code the site tells you that the it's expired.

Verified by @meganwaps.

The response is quite irregular. When the email is sent, it's fast. However, sometimes when you put in your email it immediately tell you the link has expired from that page.

#### Discussion on issue so far

[2016-09-19 13:40] meganwaps opened #239 "'Check your email' message on test site-too small"
Noticing that the alert to check one's email for a validation code is quite small, and the gray coloring inside the text box is difficult to read- on top of that, the message itself disappears if someone clicks inside that text box. Suggest a prompt with more visibility.

[2016-09-19 13:48] JosephMcArthur commented on #239
I suggest it appears to the right of the login button on desktop, or below on mobile. How the error messages currently appear.

[2016-09-19 13:51] JosephMcArthur commented on #225
Mark has pushed major revisions to this page now, which are close to this mockup. I count this issue as complete and suggest other issues are made for smaller changes (which are welcome).

Congrats to all on this, it's a big job!

[2016-09-19 13:51] #225 closed

[2016-09-19 13:56] JosephMcArthur commented on #231
My suggestion here is that we write a quick note about this on the blog (@chealyse) and link that from the current Firefox button on account / download pages. Or, we can simply remove that button for now.

[2016-09-19 13:57] JosephMcArthur commented on #185
On new request pages this doesn't seem to happen. Happy to close.

[2016-09-19 13:57] #185 closed

[2016-09-19 14:00] JosephMcArthur commented on #237
To add to this, on my screen the 3 dots overlap text on some quotes.

see: https://www.dropbox.com/s/xs0ces9uunrt7rz/Screenshot%202016-09-19%2015.00.02.png?dl=0

[2016-09-19 14:03] chealsye commented on #237
@JosephMcArthur We're not looking at the same thing. No wonder you didn't see a problem! Your screenshot is definitely easy to read with the exception of the dots.
![screen shot 2016-09-19 at 10 02 44 am](https://cloud.githubusercontent.com/assets/9299248/18634725/53a51d60-7e50-11e6-9598-9470ca580003.png)

[2016-09-19 14:04] chealsye commented on #237
Vote that we change to the design on Joe's screenshot. It's cleaner and beautiful.

[2016-09-19 14:07] JosephMcArthur opened #240 "Add final "Download" Bar on homepage"
As seen here: https://www.dropbox.com/s/2eepti6eaf9id09/Screenshot%202016-09-19%2015.06.38.png?dl=0

[2016-09-19 14:09] JosephMcArthur commented on #237
Lol, yes that's really hard to read. Okay, I think you need to do a hard refresh on the test site: https://wiki.scratch.mit.edu/wiki/Help:Hard_Refresh. That should get your looking at what I'm looking at.

[2016-09-19 14:14] #182 closed

[2016-09-19 14:14] JosephMcArthur commented on #206
Many done, much closable.

[2016-09-19 14:14] #206 closed

[2016-09-19 14:17] JosephMcArthur commented on #66
This is also essentially the same as #208

[2016-09-19 14:20] JosephMcArthur commented on #180
No longer happening on dev site.

[2016-09-19 14:20] #180 closed

[2016-09-19 14:30] JosephMcArthur commented on #230
Okay, for Chrome we can freeze about 5 minutes before we want to put up. HOWEVER, Chrome & FF are now linked. FF needs 2 weeks to review, and that's if we get everything right first time.

I've got a date in the diary for release at October 18 (cc @OAButton/team ) . A few days before OA Week. That means dev freeze on the plugin for Monday the 3rd. Which is at the end of THIS sprint.

That suggests

[2016-09-19 14:33] JosephMcArthur opened #241 "Ready Plugin for submission"
This is a holding issue to codify #230 and to keep thoughts on what needs to be done during this sprint (thoughts that aren't #226 ).

[2016-09-19 14:45] JosephMcArthur commented on #214
Haha, okay, does it just manually generate from here? https://github.com/OAButton/oab_static/blob/master/content/blog/index.html

As in, they way to close this is the just to copy all of the old content into the file, and keep doing that from now on?

[2016-09-19 14:47] JosephMcArthur opened #242 "Request page redesign"
### Request page

This style is a fairly radical departure from what we have now. I have my doubts about it, but this is what he suggests we think about. Obviously, we can take it or leave it, or take bits and leave others. Up for discussion.

![request editing page ux](https://cloud.githubusercontent.com/assets/4953703/18549725/15308fd4-7b48-11e6-8390-7f520cd1cef6.png)

Forked from #232

[2016-09-19 14:57] JosephMcArthur commented on #194
Part of me feels like I've only just understood this, or the broad implications of it. Judging by more current discussions

doesn't seem to be happening. Which, I think right now is a good thing. I think we should fulfil this functionality through request pages (in #229 I think). Not 100% opposed to doing this via the plugin at some point, but I don't think we can do it now.

Moving into backlog f

[2016-09-19 15:09] JosephMcArthur opened #243 "Get copy for emails into static repo"
I thought it was already there, but it isn't. This would be EXTREMELY useful!

[2016-09-19 15:18] JosephMcArthur commented on #118
Planning to shift this to post-plugin dev freeze #230 as I expect it should happen on the backend - not the plugin.

[2016-09-19 15:43] JosephMcArthur opened #244 "Hide & seek with the Site's Stylesheet"
I can't find the stylesheet in oab_static. Would be helpful to be able to edit that there, or have clear links in the repo's readme to files which live elsewhere.

[2016-09-19 15:54] JosephMcArthur opened #245 "Submit FF plugin on Tuesday 12 Latest"
Following #230 and #241

[2016-09-19 15:55] JosephMcArthur commented on #241
- [ ] @markmacgillivray to review submission guidelines
- [ ] @chealsye to have developed copy / screenshots for page

[2016-09-19 16:00] chealsye commented on #237
No issue remains with legibility.

[2016-09-19 16:00] #237 closed

[2016-09-19 16:02] JosephMcArthur opened #246 "rename /backend, /unified-extension and /oab_static to be non-dev friendly"
Will help facilitate contributions & have them accurately reflect what they do. Assume it will also break many links and maybe code though. So interested in assessing how much of a pain it is.

[2016-09-19 16:02] chealsye opened #247 "Move map/quote slider dots down"
The slider dots for the map quotes cut off some of the attribution. We need them moved down just a bit to prevent this cut off.

![screen shot 2016-09-19 at 12 00 47 pm](https://cloud.githubusercontent.com/assets/9299248/18639156/c1a49e84-7e60-11e6-9bb1-4b57e503651b.png)

[2016-09-19 16:03] chealsye opened #248 "Changing Site Font from Raleway to ?"
I'd like to move away from the Raleway font. Any support or suggestions? Should everything be in Montserrat? Is a font change something Mark needs to do?

[2016-09-19 16:14] JosephMcArthur commented on #230
Okay, the milestones & issues now reflect the above. I.e this sprint is for breaking issues on the website & finishing dev & testing on the plugin. The launch prep is for submission of the plugin and nice to have website changes.

So, if we stick to those we should be fine here. I'm closing.

[2016-09-19 16:14] #230 closed

[2016-09-19 16:17] chealsye commented on #248
Yes, I can edit PSD files.

[2016-09-19 16:22] JosephMcArthur commented on #248
This is a page for Montserrat with suggested pairings - https://fonts.google.com/specimen/Montserrat

[2016-09-20 10:13] JosephMcArthur opened #249 "filters on /request don't actually filter"
Buttons toggle colour on click, but seemingly not much else.

[2016-09-21 10:44] JosephMcArthur commented on #236
The layout I currently have in mind for this page is below, from dropbox's homepage (when you're not signed in).

<img width="1280" alt="screenshot 2016-09-21 11 42 24" src="https://cloud.githubusercontent.com/assets/4953703/18707991/7aa85b74-7ff0-11e6-9dab-77211eb5d9c3.png">

I image we can use screenshots for the images & just walk folks through step by step. Hopefully, we can also include some

[2016-09-21 10:49] JosephMcArthur opened #250 "Move icons / images out of mock-ups into separate files"
They're in the PSD as separate files, but have asked the designer to pull them out for us.

[2016-09-21 13:57] JosephMcArthur opened #251 "What should we do with OpenDataButton.org?"

[2016-09-21 21:45] meganwaps opened #252 "Cannot log-in on test extension"
Just ran a user test with someone who currently uses the button and we discovered that she couldn't even log in on the test extension or on the test site:
This user was on a Mac with the latest iOS installed
Using the most recent update of Chrome
In order to reproduce, install the extension using the instructions in the Unified_extension README.md
The user had also just recently downloaded the sta

[2016-09-21 21:47] meganwaps commented on #251
My suggestion would be to redirect users to the new site which integrates the two, keep it up for a few months after the launch and then shut it down after the New Year?

[2016-09-21 21:48] meganwaps commented on #247
In the test I just ran we also discovered that some of the quotes were being cut off, some letters were almost completely cut in half on the far right.

[2016-09-22 16:54] natalianorori commented on #251
I agree with Megan, perhaps we could also add a little explanation that states that both of the sites are merging as well

[2016-09-22 18:34] #159 closed

[2016-09-22 18:38] JosephMcArthur commented on #238
May be connected to #252 if that's expected to work.

More info for the above. I'm on Mac 10.11.6 (15G1004) & Version 53.0.2785.116 (64-bit) for Chrome. Can't get it to work on my phone (Android), FF, or Safari (on a guest account).

Can @OAButton/team test the system, let us know if they get the same issue, and if so comment in your computer & browser versions. Ideally by the end of the week.

[2016-09-22 19:05] JosephMcArthur commented on #248
Okay, he suggests Monserrat as header font with Roboto Light as the body font!

@chealsye can you edit the style guide to match this. Then we can close this.

[2016-09-22 19:06] JosephMcArthur commented on #250
@markmacgillivray these have all been put here: https://github.com/OAButton/backend/tree/master/Assets

[2016-09-22 19:39] #179 closed

[2016-09-22 19:44] #234 closed

[2016-09-22 19:48] JosephMcArthur opened #253 "On Navbar, "sign up" tab should be orange on mouseover"

[2016-09-22 19:50] meganwaps opened #254 "Favicon image is wrong, needs to be resized."
The favicon image, when using the test site, is really stretched out.
It should be resized.
(for reference, test site is on the left, we shouldn't use the old image on the right because that's just the image for open access)

![screen shot 2016-09-22 at 12 48 01 pm](https://cloud.githubusercontent.com/assets/5968703/18763631/153d725a-80c3-11e6-9f91-ab14309ef959.png)

[2016-09-22 20:51] JosephMcArthur commented on #245
Turns out <5 days is now the norm for add-on review (https://blog.mozilla.org/addons/). Also, the process is generally simpler. Some policies which may be helpful are here: https://developer.mozilla.org/en-US/Add-ons/AMO/Policy/Reviews

[2016-09-22 21:56] markmacgillivray commented on #238
Let me know if you're trying on different chrome devices rather than just
one - I do have it strictly set at the moment to be per device, but
possibly having that check plus that browser capability to share settings
across devices is making it refuse your login sometimes. This can be fixed
easily once we identify just what the issue is. FF has this capability too,
so may be worth someone testing w

[2016-09-22 22:44] JosephMcArthur commented on #238
Earlier I tried Safari on a guest login on my Mac. That didn't work. I just
tried "Browse as Guest" on Chrome, same versions, also no luck. Tried with
two emails & using the link & code but still no luck. My login has always
expired.

On Firefox, I just cleared my cache, history & entered ingonito. Put in a
fresh email (with a plus in it) and tried to login. The first click told me
my login had ex

[2016-09-23 05:05] natalianorori commented on #238
I tried Safari and Chrome on my mac and I couldn't log in either. I got a "Link has expired message" as well. Never got the email.

I logged in from Safari onmy phone and got the email, however when I clicked the link I got the link has expired message as well.

I used my personal email all the times I tried logging in

Im on Mac 10.11.1 (15B42) Version 9.0.1 (11601.2.7.2) for safari and Version 5

[2016-09-24 01:00] chealsye opened #255 "Take down teambutton.org"
We need to take down teambutton.org since we are discontinuing the initiative. Should it re-route? Or just go ahead? Put up a notice?

[2016-09-25 03:09] chealsye commented on #248
Roboto will provide a better look. Awesome!

Do you mean the original design guide we got two years ago?

[2016-09-25 14:26] JosephMcArthur commented on #248
Nope, I'd work on the one in this thread.

On Sun, 25 Sep 2016 at 04:09 chealsye <notifications@github.com> wrote:

[2016-09-25 15:28] chealsye commented on #248
Ah sorry. Forgot that was up there! Will locate the file and update it.

[2016-09-25 16:18] chealsye commented on #248
I updated both fonts in the style guide and uploaded it to the repo. I know the designer suggested Roboto Light, but I think it is too thin for our site and would recommend keeping Roboto Regular. I'm also going to send the team an email with the style guide and instructions for installing Roboto, so they are aware and we can keep consistency.

[2016-09-25 16:18] #248 closed

[2016-09-25 16:31] chealsye commented on #248
Here are two screenshots of Roboto Light and Roboto Regular. Here you can see the weight difference between the two. I think Roboto Regular will be better for the Button site. I think too thin of font could be potentially difficult to read.

![screen shot 2016-09-25 at 12 02 45](https://cloud.githubusercontent.com/assets/9299248/18816641/ea9cc946-831b-11e6-9065-9eb6d4f5dddc.png)
![screen shot 2016

[2016-09-25 21:59] chealsye opened #256 "New team page code needed"
The new team page needs to be added to the OAB test site. Unfortunately, I'm not able to create it. I can handle putting the names in, but the photos make it more complicated and I could really mess it up. @markmacgillivray, could you take this?

The team page draft is in a Google doc: https://docs.google.com/document/d/1T-r7OJ9Q-a82wciLUlVHvY9AEhXRQOBn2LL2arIX1Nk/edit
Team photos are here: https:

[2016-09-25 22:08] chealsye commented on #214
Just let me know how we can/want to make the blog work. Definitely want that sorted soon. Will we be including all the previous blog content from the wordpress (which is also in the OAB medium account too)?

[2016-09-26 09:22] #250 closed

[2016-09-26 09:37] JosephMcArthur commented on #214
@chealsye to "post a blog live" do you simply copy the title into https://github.com/OAButton/oab_static/blob/master/content/blog/index.html?

If we can get archived stuff up, that would be good, but I don't consider it a priority. I'd consider just adding a note at the bottom of the page suggesting folks view our Archived content on Medium.

[2016-09-26 13:13] meganwaps commented on #238
In doing a user test on Friday, the user was actual able to make it past the initial page where they are asked to supply their email address and authenticate. The next page, however, would not let this user save their details, meaning the sign-up process could not be completed.

[2016-09-26 13:49] meganwaps commented on #238
-[ ] @markmacgillivray Could you possibly send us screenshots for the areas of the site that we are unable to access?

[2016-09-26 15:53] chealsye commented on #214
@JosephMcArthur I don't know. I've never posted a blog through github. But I don't think it'd be a simple copy and paste, the paragraphs would need to be added and that's just one very huge line within github. I miss Wordpress every time we think about the blog.

[2016-09-26 18:39] JosephMcArthur commented on #238
Can you let us know the set up for the user who got past the first page?
Hardware / software versions etc.

On Mon, 26 Sep 2016 at 15:12 Megan Kapidzic <notifications@github.com>
wrote:

[2016-09-27 16:05] JosephMcArthur opened #257 "Mock-ups for Journal & Library version of Open Access Button user testing"

[2016-09-28 03:35] chealsye commented on #238
Google Chrome Version 53.0.2785.116 (64-bit)
OS X Yosemite Version 10.10.5 (14F27)

I know, Joe, I need to update.

[2016-09-28 04:15] chealsye commented on #251
Have it redirect to a specific page explaining the merger for x months, not the main OAB site. Include a sign up button on that page.

[2016-09-28 04:15] chealsye commented on #235
@JosephMcArthur What info do you want this page to initially cover?

[2016-09-29 09:12] JosephMcArthur opened #258 "Close pull requests on oab_static"

[2016-09-29 09:18] JosephMcArthur opened #259 "Get titles for requests to put in place of URL's"

[2016-09-29 09:20] JosephMcArthur opened #260 "Test Dev.API is able to find articles from Core/base"

[2016-09-29 09:22] JosephMcArthur opened #261 "Remove checkbox for opt-in to mailing list"

[2016-09-29 09:27] JosephMcArthur opened #262 "Return of the Bookmarklet"
@JosephMcArthur commented on [Mon Jun 20 2016](https://github.com/OAButton/unified-extension/issues/10)

@markmacgillivray has said that "Regarding the old bookmarklet, this should fit with what Steve is doing for the new extension, so that most of it can be used as a bookmarklet too."

If possible, I'd be happy to dedicate a bit of extra time here if it generated a bookmarklet too. Then we get al

[2016-09-29 09:37] JosephMcArthur opened #263 "Send Articles to Zenodo, not OSF"

[2016-09-29 09:41] JosephMcArthur opened #264 "Emails to be sent upon a request being made"

[2016-09-29 17:53] markmacgillivray commented on #231
Presumably it is OK to close this, now we have two weeks to go until new version, and no fix for the old FF. The dev site just shows a msg saying new plugin coming soon.

[2016-09-29 17:53] #231 closed

[2016-09-29 17:57] markmacgillivray commented on #214
The easiest way to have a blog would be to put the blog somewhere else - e.g. on medium or wordpress or wherever people prefer. Then we can just point blog.openaccessbutton.org to the blog, and have openaccessbutton.org/blog redirect there.

Over the years I have tried various iterations of this, having the blog built in, etc. But in the end it usually comes down to just using whatever the project

[2016-09-29 18:01] markmacgillivray commented on #252
A current live user would not be able to login on the test extension - the test extension reads from the dev site and the dev data, which does not include the live user accounts. So probably this is not an error, it is just that the user cannot use the test extension because they do not have a dev account. This is resolvable in future user testing by having the user sign up in the dev site first -

[2016-09-29 18:01] #252 closed

[2016-09-29 18:05] JosephMcArthur commented on #214
Can we still write posts in markdown? If so how? That's pretty easy tbh!

We thought about moving to medium before but it will mean Google thinks the
site isn't active - which seemed like to much of a cost.

On Thu, 29 Sep 2016, 6:57 p.m. markmacgillivray, <notifications@github.com>
wrote:

[2016-09-29 18:07] markmacgillivray commented on #238
I have changed the UI process for this, to perhaps make it a bit clearer. I have also altered how the login UI code behaves when it sends requests to the API - some browsers do not properly handle the response codes, so now I show the login token section regardless of API response code. This is not ideal but perhaps the only way around shoddy browser implementations.

There may still be further is

[2016-09-29 18:14] markmacgillivray commented on #214
Yeah markdown should still be possible, I will test. Would just be a case of writing markdown in the file instead of html, and giving it a .md suffix instead of .html. Or if doing a bit of both, make it a .html file with some html in it, and wherever you want to use markdown you would use an opening <markdown> tag then write your markdown then close with a </markdown> tag. The new site generation

[2016-09-29 18:17] markmacgillivray commented on #238
I just got some login error info - thanks to whoever tried that! It still appears to be an issue with accepting the hash from the URL, but this is progress

[2016-09-29 18:23] JosephMcArthur commented on #238
That was me. Tried the link and code, neither worked on android.

Not commenting on actual changes right now, just testing. Sounds good
though.

On Thu, 29 Sep 2016, 7:17 p.m. markmacgillivray, <notifications@github.com>
wrote:

[2016-09-29 18:36] chealsye commented on #214
@JosephMcArthur

Can we still write posts in markdown? If so how? That's pretty easy tbh! **We differ in opinion here. Where would it be written? Because when editing the blog directly it's just one massive line of text per post.**

We thought about moving to medium before but it will mean Google thinks the
site isn't active - which seemed like to much of a cost. **What do you mean by this?**

[2016-09-29 18:54] JosephMcArthur commented on #214
Just figured out point one on chat.

Point two. Google uses the frequency of site updates as a part of ranking,
so it's useful to have content go on your own site.

J

On Thu, 29 Sep 2016, 7:36 p.m. chealsye, <notifications@github.com> wrote:

[2016-09-29 19:03] meganwaps commented on #238
Just tried to login on the test site using
Chrome Version 53.0.2785.116 (64-bit) and
OS X Yosemite Version 10.10.4

I was sent an email after entering my email address, but when I clicked on the authentication link:
![screen shot 2016-09-29 at 11 58 35 am](https://cloud.githubusercontent.com/assets/5968703/18968092/8430231e-863c-11e6-9945-d3da70d3d842.png)

After clicking on the link I was redirec

[2016-09-29 20:33] markmacgillivray commented on #238
Hi thanks this is good, I'm getting the error data I need from your
attempts. Will investigate further.

On 29 Sep 2016 20:03, "Megan Kapidzic" <notifications@github.com> wrote:

[2016-09-30 10:41] markmacgillivray commented on #238
OK I have investigated the further information I received from the tests yesterday, and I think login may now be fixed, and also have a simpler UI workflow. Please all try again when you get a chance and record any more issues here.

[2016-09-30 10:59] markmacgillivray commented on #238
Ah, but there may be issues with the email addresses you all use having been incorrectly logged in the dev system, which may still make things look like errors for you all, so please wait until I remove those from the system, I will update this issue again once done.

[2016-09-30 11:08] markmacgillivray commented on #238
OK the old accounts have been cleared now, try again whenever suits

[2016-09-30 11:15] JosephMcArthur commented on #238
[YES. I CAN LOGIN (on my normal Chrome set up, not tested further)](https://youtu.be/DhrfhjLd9e4?t=12s)

However, I couldn't save my details / download after that.

[2016-09-30 11:16] markmacgillivray commented on #238
Good! Save details / download is disabled at the moment, no problem there.

[2016-09-30 11:25] JosephMcArthur commented on #238
Fab. This is working far more smoothly. The email is delivered faster than I can switch tabs, and the links / code entry seems fast. Just tried on my phone and that worked too.

I think more UI changes on this & other parts of the process would be done, but if @chealsye @meganwaps @natalianorori can confirm that the email code system is working for them then we're golden to close this.

[2016-10-01 22:55] #261 closed

[2016-10-02 22:20] #254 closed

[2016-10-02 22:25] markmacgillivray commented on #244
If you mean the css stylesheet, there is only one, called oabutton.css, and it is in the /static directory of oab_static (at least it is on the new site, in the develop branch).

The site font is currently Raleway which is a google font. Using a google font also requires a link in the site header, this is currently set in the head.html template in the /templates folder of the dev site. It can be c

[2016-10-02 22:25] #244 closed

[2016-10-02 22:32] markmacgillivray commented on #239
Added a message below the box, in black.

[2016-10-02 22:32] #239 closed

[2016-10-02 22:34] markmacgillivray commented on #219
Does a different subject line stop them threading? Is this still an issue now that login works better, and only one email seems to be sent? It is not so easy to add a date to the subject line because we are also making a template system to create the emails, so having one part come from a template and another part generating a timestamp adds a complexity.

[2016-10-02 22:47] markmacgillivray commented on #249
Fixed

[2016-10-02 22:47] #249 closed

[2016-10-03 10:42] JosephMcArthur commented on #244
Got it, thanks! Have adjusted fonts site wide (on develop) to be Monserrat (headers) & Roboto for body.

[2016-10-03 10:45] JosephMcArthur commented on #219
Yes, now sign in seems smoother this feels like it matters less. Certainly isn't worth dev time if it's not easy. Closing.

[2016-10-03 10:45] #219 closed

[2016-10-03 10:51] #247 closed

[2016-10-03 13:03] markmacgillivray commented on #242
Didn't follow this too closely, but have redone the request page, functionality still in progress

[2016-10-03 13:10] #238 closed

[2016-10-03 13:17] markmacgillivray commented on #264
When creating a new request, trigger the email that asks the user to go and review their new request.

[2016-10-03 13:23] JosephMcArthur commented on #214
- [ ] Add a bottom on the right for linking out to our medium site

[2016-10-03 13:24] markmacgillivray commented on #214
Markdown autogeneration currently not working - must just be due to the changeover to new generation code, not a big deal to fix. Will update as soon as fixed.

[2016-10-03 13:27] markmacgillivray commented on #251
Assigning to me to do the domain pointing

[2016-10-03 18:43] chealsye commented on #251
@markmacgillivray, where are you redirected it to?

[2016-10-03 18:47] markmacgillivray commented on #251
As described, a page that explains the merger, offering them a sign up /
sign in. I'll just call the page odb or something. Unless you want to write
a more comprehensive blog post explaining the merge? If so just let me know
the blog page name once you write it. Redirects just take a few minutes.

On 3 Oct 2016 19:43, "chealsye" <notifications@github.com> wrote:

[2016-10-03 18:53] chealsye commented on #251
OK - I asked, because you unassigned me from the issue and I thought you might just be redirecting to an already existing page, such as just the homepage instead of a new page. The text for a new page is going to need to be created. It won't be a blog post.

[2016-10-03 22:11] markmacgillivray commented on #251
OK makes sense for you to make a page first, then let me know when you want the URL directed.

[2016-10-04 18:51] JosephMcArthur opened #265 "Use Inline install for Chrome"
@JosephMcArthur commented on [Mon Jul 04 2016](https://github.com/OAButton/unified-extension/issues/20)

Described here: https://developer.chrome.com/webstore/inline_installation

---

@Steven-Eardley commented on [Mon Jul 11 2016](https://github.com/OAButton/unified-extension/issues/20#issuecomment-231726243)

Can-do. There are some extra steps required (e.g. getting the ID of it once its loaded

[2016-10-04 18:51] JosephMcArthur opened #266 "Add "I can't find an email" function to ODB plug-in"
@JosephMcArthur commented on [Mon Jul 04 2016](https://github.com/OAButton/unified-extension/issues/16)

_From @JosephMcArthur on March 3, 2016 17:15_

This would allow us to hunt down an email later, but still allow people to request. Could give the status "email needed"

_Copied from original issue: OAButton/odb#36_

---

@Steven-Eardley commented on [Mon Jul 11 2016](https://github.com/OAButton

[2016-10-04 18:52] JosephMcArthur opened #267 "Plug-in opening on things which aren't articles"
@JosephMcArthur commented on [Sat Jun 18 2016](https://github.com/OAButton/unified-extension/issues/6)

---

@JosephMcArthur commented on [Sat Jun 18 2016](https://github.com/OAButton/unified-extension/issues/6#issuecomment-226932332)

- [x] How do we handle this?

---

@JosephMcArthur commented on [Mon Sep 12 2016](https://github.com/OAButton/unified-extension/issues/6#issuecomment-246239045)

De

[2016-10-05 11:27] JosephMcArthur opened #268 "Start a request (from the website) page"
Adding as this is something we've discussed wanted to deliver, but don't have down in issues.

As we know, this page can functionally be similar to the plugin and request pages. However, there might be some significant UI differences. My concern for this page is how we handle things if the paper / dataset is already availiable.

[2016-10-05 11:33] JosephMcArthur opened #269 "Allow individual users to make bulk requests"
## Notes
- This should probably be via the website, rather than the plugin (see #268 )
- Would address #174
- Could work by having multiple URL's pasted into a box, with one story supporting those.
## Use case
- A researcher doing a systematic review or looking at a bibliography wants to find access to all articles because to cite their OA versions or simply read them.

[2016-10-05 11:37] #266 closed

[2016-10-05 11:58] JosephMcArthur commented on #226
Commented on this now!

![button_ux_commented](https://cloud.githubusercontent.com/assets/4953703/19112197/71bfd80a-8afb-11e6-9eda-9eb90858ab3b.png)

[2016-10-05 20:36] JosephMcArthur opened #270 "Clicking filters multiple times on the request page leads to filter tab being added several times"
### Expected Behavior

Clicking "Articles" many times only leads to the filter being applied once

### Actual Behavior

Clicking "Articles" many times only leads to the filter being applied many times

### Steps to Reproduce this bug

* Hardware versions: Mac
* Software versions: Chrome
* Steps to reproduce:
 * Go to /request
 * Click any filter
 * Click that filter again

[2016-10-08 00:14] chealsye commented on #182
@JosephMcArthur Where are the icons at?

[2016-10-08 00:21] chealsye opened #271 "Fix slider quotes from being cut off"
The quote slider on the homepage cuts off some quotes. Either the quote needs to come in or the width of the slider be expanded.

![screen shot 2016-10-07 at 20 15 59](https://cloud.githubusercontent.com/assets/9299248/19208665/28043b58-8ccb-11e6-935e-16897c3bb130.png)

[2016-10-08 01:31] chealsye commented on #136
Copy done - @markmacgillivray, can you change the download login/signup pages to the following?

[ ] @JosephMcArthur, can you look over this before Mark changes the pages? I know this is super reduced from what we've had - but I don't think we need the extra bits. I'd probably do it differently if the login/download page wasn't the same, but I think this simple approach works for both.

Download p

[2016-10-08 02:22] chealsye opened #272 "Update User Registration Page"
Here's some suggested tweaks to the user registration page. @markmacgillivray, could you do this? Let me know if anything isn't clear.

![screen shot 2016-10-07 at 21 58 04](https://cloud.githubusercontent.com/assets/9299248/19209506/7d63266e-8cd9-11e6-94a4-51698466dc08.png)

-Change background colour to light grey
-Change logout and save your details button colour to light blue
-Remove Hello
-Cha

[2016-10-08 03:14] chealsye commented on #235
@JosephMcArthur *nudge* ^

I can get this done on Sunday.

[2016-10-08 03:15] chealsye commented on #232
@JosephMcArthur - What do you need from me for this issue?

[2016-10-08 03:21] chealsye commented on #255
@JosephMcArthur - have you added it as blocked copy because you think it needs to have a notice? On the current site or a redirect?

[2016-10-08 13:50] JosephMcArthur commented on #255
I think the site itself needs a note about it being decommissioned, and
being worked directly into the main site.

On Sat, 8 Oct 2016 at 04:21 chealsye <notifications@github.com> wrote:

[2016-10-08 13:50] JosephMcArthur commented on #255
We also need some comms for people who signed up.

On Sat, 8 Oct 2016 at 14:49 Joseph Mcarthur <joe@righttoresearch.org> wrote:

[2016-10-08 13:51] JosephMcArthur commented on #182
In backend files, under Icons.

On Wed, 31 Aug 2016 at 20:19 markmacgillivray <notifications@github.com>
wrote:

[2016-10-08 14:26] JosephMcArthur commented on #272
On top of this, my suggestions are:
- [ ] move logout below save your details (if have it at all)
- [ ] since the user hasn't downloaded the plugin at this point to remove the API key.
- [ ] remove orcid, it's not useful at this point for users to have them.
- [ ] have "name" instead be "full name"
- [ ] have "select your proffesion" be "select the profession which best describes you"

With those

[2016-10-08 14:27] JosephMcArthur commented on #136
Looks good, like the more minimal approach. All I'd consider it having "Sign in" or "Sign up" depending on if you click login or download.

[2016-10-08 14:31] JosephMcArthur commented on #136
The only thing I might suggest adding to the version for download is a sentence under the "sign up" button that mentions they'll then be able to use the button.

[2016-10-08 21:46] JosephMcArthur commented on #221
@meganwaps can you try and replicate this please?

[2016-10-08 21:48] JosephMcArthur commented on #246
@markmacgillivray what happens if I do this? Will lots of stuff break?

[2016-10-09 00:00] markmacgillivray commented on #246
It won't break stuff terribly, but autodeployment from oab_static would stop working. That is easy to reconfigure though. However anyone with remote repos trying to push back to github would find it no longer works if the name has been changed. That is only really relevant to us anyway, and is not a huge problem either, but would be better not to do it when there is lots of development going on. o

[2016-10-09 01:35] chealsye commented on #136
Is it actually possible to have the page differ if they are logging or downloading? Both links going to the same page, so I thought it was a one sized fits all page.

[2016-10-09 01:40] chealsye commented on #272
I'm OK with either width -- but I wanted the API/logout separate from the registration form. If both are removed, that's fine. I do think the current registration page with the full width bars is too wide.

![examples 4](https://cloud.githubusercontent.com/assets/9299248/19216955/8a852d30-8d9f-11e6-840e-bf6ad05eadd8.png)

[2016-10-09 08:27] JosephMcArthur commented on #272
Except on small screens, where full width makes sense :)

[2016-10-09 18:49] chealsye commented on #268
Would the the request from the website require a users email address? Is the Button capable of having a request submitted through a form, searched, and then emailed that day if it is indeed available? I'm not sure how the tech works for the request on the website.

[2016-10-09 19:06] JosephMcArthur commented on #268
Simply, yes, it is now.

On Sun, 9 Oct 2016 at 19:49 chealsye <notifications@github.com> wrote:

[2016-10-09 20:53] meganwaps commented on #269
This would be especially useful for someone using an online system such as Mendeley to manage their research or bibliographies. If they've compiled a list but cannot get access, they could hopefully export that list and make bulk requests. This could also potentially provide us with exceptional data about what categories/subjects our users need the most.

[2016-10-09 22:36] chealsye commented on #242
@JosephMcArthur Do we need the phone number? I'm very iffy on that. Otherwise I think this is different, but it could work well. I like that it is both for the author and users to help. It's friendlier, invites sharing. Have some tweaks and new copy, but want to give it a try. If after user tests and initial launch it isn't working like we want we can revisit and tweak.

Updated copy @markmacgilli

[2016-10-09 23:59] markmacgillivray commented on #242
Note at the moment the request page does not look like this at all. It was
previously questioned that this style was desirable. I do not think we
should use an overlay style, and also we do not have sufficient information
to make this work - we have no user profile pictures, and actually no
reason to collect author information at all; we only need email addresses.
We have no subject information ei

[2016-10-10 00:01] markmacgillivray commented on #272
Why make something half width if we have nothing else to use the space for?
API key can be removed. So can logout button, but then nobody can log out.

On Sun, Oct 9, 2016 at 9:27 AM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-10 00:04] markmacgillivray commented on #136
The simpler style with less info here is good, still not sure why to make
things half width if we have nothing else to use the space for, but apart
from that, it is tidy. However one of the reasons we have so much more text
at the moment is because the previous version without so much explanation
was considered not informative enough. Hopefully now with better
functionality and neater layout that

[2016-10-10 00:39] chealsye commented on #272
White space can be good. As a user I think the current registration screen is overwhelming and too large. Right now I can't think of a user registration on another site that takes up a full screen on a laptop. I modeled my copy after Slack at Joe's suggestion, which set up steps are centered and not full width.

Logout should definitely stay then, below save your details. Would like it in orange.

[2016-10-10 01:01] chealsye commented on #136
I commented about the width on the registration details issue.

This is the copy I want to go forward with. I agree with Joe about adding a second sentence in. I'd like to also link to the directions. I'll get you the 1-2 sentence addition by tomorrow evening. However, I don't believe there is a different version for the download/sign up page. Both the sign up and login page is the exact same, so

[2016-10-10 06:26] JosephMcArthur commented on #272
I agree, whitespace is good.

I assume we can have the logout button on latter pages, like the account
page?

Joe

On Mon, 10 Oct 2016 at 01:39 chealsye <notifications@github.com> wrote:

[2016-10-10 09:46] markmacgillivray commented on #136
Can make this live then close this issue once DNS problems today are resolved

[2016-10-10 09:47] markmacgillivray commented on #272
Can change this and close once current DNS issues are solved.

[2016-10-10 09:49] markmacgillivray commented on #268
I don't think there is particular copy needed for this, is there? There is a functional new request page now, and I will add to it a check to see if already available or already requested, and where either is true, a statement saying so with a redirect link is all that is needed.

[2016-10-10 09:53] markmacgillivray commented on #66
Closing this one as we have multiple issues dealing with this now

[2016-10-10 09:53] #66 closed

[2016-10-10 09:56] markmacgillivray commented on #232
Without more metadata we cannot do much more with the /request page. Subscribing to requests from certain fields is possible but is functionality we have not discussed - what is the purpose of it? as in, the actual known user requirement that it solves? The question of what metadata is actually useful is starting to come up now in multiple places, so that has to be answered first I think. See issu

[2016-10-10 10:00] markmacgillivray commented on #208
This is now coming up in a few different places - what metadata is actually necessary? Asking for more, even as options, may seem good but it also complicates the UI, hides true functionality, and makes it more obvious when we do NOT have certain information.

All we actually need is a URL to the article, an email address to send requests to, and an article title and request stories to humanise th

[2016-10-10 10:02] markmacgillivray commented on #240
We already have this up near the top on the right now - a box saying to sign up and get a plugin. Is it worth replicating at the bottom again? Seems like overkill.

[2016-10-10 12:26] JosephMcArthur commented on #268
I imagine some copy on what a request is on this page might be helpful, as well as supporting copy with the text entry fields to ensure we're getting good data.

[2016-10-10 12:28] JosephMcArthur commented on #259
@markmacgillivray can you confirm when this is working?

[2016-10-10 12:31] JosephMcArthur commented on #243
@markmacgillivray can emails be done in Markdown / HTML or do we have to use the other notation that some email systems use? The one with /n for new line and things like that.

[2016-10-10 12:33] JosephMcArthur commented on #242
Agree with much of Marks assessment here, happy to close this for now. Any further changes to the site can be done from what's on the test server.

[2016-10-10 12:33] #242 closed

[2016-10-10 12:37] JosephMcArthur commented on #232
Yes, this design is more something to shoot for - rather than something we can build now. Later, I think it will become important for folks in the community to be able to powerfully sort requests to things relevant to them.

I'm going to close this issue now - in favour of small specific issues from what we've already built.

[2016-10-10 12:37] #232 closed

[2016-10-10 12:38] JosephMcArthur commented on #229
Realising this is functionally similar to what we allow authors to do already.

[2016-10-10 12:41] JosephMcArthur commented on #214
Have discussed & worked through things made this process hard for @chealsye. We now have scripts that will turn gdocs in HTML (incase Markdown doesn't work) and a local system that she can use that's nicer than the web editor.

[2016-10-10 12:45] JosephMcArthur commented on #169
@markmacgillivray just seen this on #268

[2016-10-10 12:48] markmacgillivray commented on #214
Hmm, I have never seen a document editor to html converter that did what
was expected. I don't think you could rely on one to make a web page that
looks like you expect. Markdown does not work at the moment but can be made
to work, if that is the solution we want to go for. I am not sure what the
web editor you mention means - do you mean editing on github itself? If so,
the idea of github is to p

[2016-10-10 12:51] JosephMcArthur commented on #28
Discussed in meetings that having people interact with the map is no long that desirable, and as such am closing this.

[2016-10-10 12:51] #28 closed

[2016-10-10 12:57] markmacgillivray commented on #169
We can collect DOIs and could use them for display purposes where a title is not present (although now we can almost certainly get a title for every page anyway). But we cannot use DOIs instead of URLs, not even in the case of items that have DOIs - DOIs always resolve down to some URL, and when the user is on a web page and using the button, they are viewing a specific URL, not a specific DOI. Wh

[2016-10-10 12:58] markmacgillivray commented on #268
OK, that can be added to the new request page at any time.

On Mon, Oct 10, 2016 at 1:26 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-10 12:58] markmacgillivray commented on #259
It is working, I will update you at the meeting about getting them for old
data.

On Mon, Oct 10, 2016 at 1:28 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-10 12:59] markmacgillivray commented on #243
html yes, plus handlebars for putting in variables. Maybe markdown.

On Mon, Oct 10, 2016 at 1:31 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-10 13:00] markmacgillivray commented on #229
There is a question here then around who we let fulfil a request - does it
even need to be the author?

On Mon, Oct 10, 2016 at 1:38 PM, Joseph McArthur <notifications@github.com>
wrote:

[2016-10-10 13:11] chealsye opened #273 "Provide new Button usage stats"
I received a question on Twitter asking how many paywalls we've recorded and in how many countries. I was able to answer the first question, but not the second. I'd like to be able to provide this information as well as any other updated usage stats.

When things slow down a bit - can we get updated stats? Number of paywalls/requests, countries, articles, data.

[2016-10-10 13:12] markmacgillivray commented on #273
What does country mean? We record the location of a user where we can, but
that does not mean that the service they are trying to access is in the
same country as them.

On Mon, Oct 10, 2016 at 2:11 PM, chealsye <notifications@github.com> wrote:

[2016-10-10 13:16] chealsye commented on #273
It may not always be accurate, but we can give a decent estimate based on where they are accessing from. Where the Button is being used is important information. Since we no longer have a working map this is information that users (particularly those that are wanting to promote the Button, which is the case for the person who asked the question) are interested in and cannot find themselves.

[2016-10-10 13:41] markmacgillivray commented on #273
OK so it is the country of the user, not the country of the paywall. We can
get that.

On Mon, Oct 10, 2016 at 2:16 PM, chealsye <notifications@github.com> wrote:

[2016-10-10 14:09] dhimmel commented on #169
I disagree. Let's imagine an article has several URLs --- one for the abstract, one for the full text, one for author information, and one for the supplementary data. I think users will find it frustrating if requests to any of those four URLs are not treated as the same article.

DOIs have agencies that are responsible for keeping links active. DOI registrants agree to abide by certain convention

[2016-10-10 14:20] JosephMcArthur commented on #272
I think most copy changes here are important - but design changes can wait.

[2016-10-10 14:21] JosephMcArthur commented on #136
Copy changes here are good & important, design changes can wait for later issues.

[2016-10-10 14:21] markmacgillivray commented on #169
We can retrieve DOIs, and I am not against making them our primary identifier from a technical perspective. But, it is definitely the case that what we offer now is a service to find the content of a thing at a specific URL - we don't guarantee that different things at different URLs will be identified as the same thing.

We could do this, but as we do not limit to pages with a DOI, it would have

[2016-10-10 14:23] #245 closed

[2016-10-10 14:31] JosephMcArthur commented on #229
As discussed, Data - no. Article, yes.

On Mon, 10 Oct 2016 at 14:00 markmacgillivray <notifications@github.com>
wrote:

[2016-10-10 14:32] JosephMcArthur commented on #259
Just tried it! Working nicely.

[2016-10-10 14:32] #259 closed

[2016-10-10 14:46] chealsye commented on #268
The request via the website pages currently look like this:
![screen shot 2016-10-10 at 9 58 17 am](https://cloud.githubusercontent.com/assets/9299248/19239885/05440546-8ed6-11e6-84b2-b2bb4df75dcb.png)
![screen shot 2016-10-10 at 9 57 49 am](https://cloud.githubusercontent.com/assets/9299248/19239888/08e7cf16-8ed6-11e6-9e12-d1fd4e542d7c.png)

These are my suggestions - bring down the boxes from th

[2016-10-10 15:06] JosephMcArthur commented on #256
@chealsye can you get as much of the new copy up as you can without needing the styling? That'll make it easier for Mark to come in later and just add photos + stops this blocking up moving forwards

[2016-10-10 15:08] JosephMcArthur commented on #255
I have moved this to the launch clean up milestone. This site can be easily edited to display a message, and it shouldn't hold up other work on getting the new site out the door.

[2016-10-10 15:09] JosephMcArthur commented on #251
@markmacgillivray do you need David to do the redirect - or can you do it with the access you have?

[2016-10-10 15:10] markmacgillivray commented on #251
The domain name points to my server now so from there I can redirect it
without accessing the DNS settings.

On 10 Oct 2016 16:09, "Joseph McArthur" <notifications@github.com> wrote:

[2016-10-10 15:11] JosephMcArthur commented on #208
As per discussion, moving this back into the backlog. All of the above is useful - but not essential.

[2016-10-10 15:15] chealsye commented on #256
@JosephMcArthur It would be easier for @markmacgillivray to add the photos in first. The names have to be formatted under, so it would make more sense for the photos to be there. But yep happy to do the rest!

[2016-10-10 15:20] JosephMcArthur commented on #256
So, photos can be added by anyone the same way files are added. Would certainly be helpful if you could do that part.

Then, we could just part of an open source template for the page e.g https://startbootstrap.com/template-overviews/round-about/ (actual code here: https://github.com/BlackrockDigital/startbootstrap-round-about/blob/master/index.html starting at around line 76) . That has 90% of wh

[2016-10-10 15:22] chealsye commented on #256
Fine. I'll learn how to do it.

[2016-10-10 15:28] JosephMcArthur commented on #256
Ace, if you have trouble ping me. This is also something I can probably try
and do if you have too much other stuff on.

On Mon, 10 Oct 2016 at 16:22 chealsye <notifications@github.com> wrote:

[2016-10-11 04:47] chealsye commented on #226
@mark do you have an example of a bug form?

@mc this is labeled as blocked: copy. Is there anything else you need from me?

Pre-filled social media messages
Success
T: The @OA_Button got me access to the research I needed! Need articles or data? Create your own request: [link]

FB: The Open Access Button got me access to the research I needed! [link]

Need articles or data? Create your own reques

[2016-10-11 05:57] mc commented on #226
Not sure, i hope the email adress is being atleast verified?

[2016-10-11 07:13] markmacgillivray commented on #226
@chealsye no, I don't have an example of a bug form. Also I think you have tagged the wrong people in your comment.

[2016-10-11 07:46] JosephMcArthur commented on #226
@mc yes, the email is being verified! Thanks for actually responding to the tag :)

@markmacgillivray / @chealsye Mark, we've spoken about setting up a bug form before - I think it would be nice although that's all it is. I'll make an issue for it, and for now sending people to repo's or bugs@openaccessbutton.org will be a-okay.

[2016-10-11 07:52] JosephMcArthur opened #274 "Implement a Bug form"
It would be good to make a bug form that streamlined us getting info about bugs. I imagine a form that captured:

* Browser / Hardware info (optional: automatically)
* Description of the issue
* email of the descriptor
* what system (website / plugin etc) the bug is found on
* how we can reproduce the bug
* what they expected the system to do
* any images

would be useful. Some of this could be do

[2016-10-12 10:00] JosephMcArthur opened #275 "oab_static index.html doesn't align with what's on the master / dev sites"
Both the master & dev branches no longer seem to align with what's on the website e.g https://github.com/OAButton/oab_static/blob/master/content/index.html is not what's on the site currently.

[2016-10-12 14:16] JosephMcArthur opened #276 "Copy changes to request page"
- [x] Add your support. The reason I have this here is because we don't make totally clear what this actually means, and what will happen when you do.
- [x] Bottom text block
- [x] Text in story box should be as in #217
- [x] Should remove donate text until that page works

[2016-10-12 19:09] JosephMcArthur opened #277 "Turn on request page search query"

[2016-10-13 16:01] chealsye opened #278 "Fix the color of the quotes on the home page"
It looks like the quote cut off has been fixed (yay!) but the quote color has changed to a near impossible to read blue. Just needs to get changed back to white.

![screen shot 2016-10-13 at 10 59 19](https://cloud.githubusercontent.com/assets/9299248/19356700/5255047e-9134-11e6-9905-65a9191e401b.png)

[2016-10-13 16:02] chealsye opened #279 "Remove advocacy from footer"
Advocacy needs to be removed from footer. Couldn't figure out how to do it myself.

![screen shot 2016-10-13 at 10 59 32](https://cloud.githubusercontent.com/assets/9299248/19356737/6f819a6c-9134-11e6-9ffb-5acd7fdd230d.png)

[2016-10-13 16:04] markmacgillivray commented on #278
I believe the quote colour has occurred after your commits, not mine.
Because there is presumably an error further up the page where the content
alignment is being thrown off, this could potentially also be affecting any
content below it, by allowing css definitions to cascade to parts of the
page where they should not be. Please check the edits made to the content,
and once those are fixed I can