[2017-02-11 12:51] markmacgillivray commented on #510
But wouldn't this just be the "find" page? If you put an article in there, and we find some data, it says we found data.

[2017-02-11 12:56] JosephMcArthur commented on #510
This is to create those linkages, rather than expose them.

On Sat, 11 Feb 2017 at 12:51 markmacgillivray <notifications@github.com>
wrote:

[2017-02-11 15:34] markmacgillivray commented on #517
Done on dev - first and last name will display on user listing in admin page, where available.

[2017-02-11 15:34] #517 closed

[2017-02-11 15:35] markmacgillivray commented on #420
Fixed on dev, ready to go to live once current dev enhancements are confirmed

[2017-02-11 15:35] #420 closed

[2017-02-11 15:36] markmacgillivray commented on #441
This is done on dev, it now mimics the plugin

[2017-02-11 15:36] markmacgillivray commented on #444
Fixed on dev, ready for live.

[2017-02-11 15:36] #444 closed

[2017-02-11 15:38] markmacgillivray commented on #466
Done on dev, ready for review and release to live

[2017-02-11 15:38] #466 closed

[2017-02-11 15:38] markmacgillivray commented on #496
Done on dev, will leave open for review

[2017-02-11 15:39] markmacgillivray commented on #493
Done on dev

[2017-02-11 15:39] #493 closed

[2017-02-11 15:39] markmacgillivray commented on #500
I think done.

[2017-02-11 15:44] chealsye commented on #517
Thanks, Mark!

[2017-02-11 16:04] chealsye opened #522 "Button discovering non-OA articles in repositories"
Two recent requests were either from a repository or incorrect pointed a user there when the article was not available. I came across them when trying to find users to contact about their Button experience.

The first was a 2010 article that has a [record](https://biblio.ugent.be/publication/827711) in the University of Ghent's repository, but is only available full text to those at the uni. An IR

[2017-02-11 16:12] markmacgillivray commented on #522
This is a known problem, and is as you describe. The articles ARE open, by the definition, but are NOT accessible to someone without the relevant login. I have already been looking for ways round this, but it is impossible - because the articles meet the definition of open, the sources that we use to check for existence in repositories also count them as open, and do not indicate whether or not a

[2017-02-14 04:40] chealsye opened #523 "Setting up a librarian notification system based on author email address"
I reached out to a librarian about working with one of his faculty members to fulfill a request. He asked, "Is there any way to set up email notifications for custom searches?" Would there be a way for us to automate this for librarians who sign up so they'd be notified of new requests associated with their uni?

If so, I'd like to note that we need to be able to make it effectively capture @fsu.e

[2017-02-14 18:29] markmacgillivray commented on #523
@JosephMcArthur has previously mentioned to me that librarian groups would be useful - this seems separate to the "can I get email notifications for custom searches" though, as email notifications may be more generally useful for any user - and easier to do.

But yes, both are good ideas, just a matter of prioritising when we want to add new features.

[2017-02-14 18:57] chealsye commented on #523
What do you mean by librarian groups? @JosephMcArthur @markmacgillivray

Yes, the custom searchers could be useful more generally. I imagine it would be most used by librarians who want alerts for research request at their university or advocacy groups/citizen science groups that want alerts based on a keyword.

[2017-02-14 19:03] JosephMcArthur opened #524 "Breakdown of transfer from old stories to requests"
Aim of the issue to have a breakdown of where we didn't use data in the live system due to it being duplicated, or not having user data or other issues.

[2017-02-14 20:25] JosephMcArthur commented on #523
The general idea of notifying anyone based on custom searches is extremely helpful here. The librarian groups thing was really more for #514 where I was using [this](https://www.librarypipeline.org/lis-publications/green-open-access/) as an example of a "library group" during our discussions.

I rate this as a high value addition to /request btw!

[2017-02-15 10:19] JosephMcArthur opened #525 "Allow users to archive / delete requests"
From Andrew @ Imperial: I'd appreciate being able to cancel / delete requests that are no longer needed, or that I've entered by mistake for whatever reason.

[2017-02-15 10:56] JosephMcArthur commented on #525
Follow up info:

* Some requests are time-limited so are no longer useful after a certain date. More or less the same reason we ask users if an ILL request is time-limited.
* I'm not sure how I've accidentally requested an item more than once, but I clearly have done so! It is possible the OAB UI didn't obviously tell me or confirm a request had been submitted, so maybe I re-submitted it thinking

[2017-02-15 21:03] markmacgillivray commented on #505
With the next update you can actually control this from the email template - if you put in a {{BCC someone@oabutton.org}} then it will go to that bcc address - so you can pick the address you want it to go to, and pick what email templates you want a bcc on as well. I will remove myself from this issue, and leave it to you to decide.

[2017-02-15 21:48] markmacgillivray commented on #473
trying to match the stories back to records is unfortunately difficult by story - I have run it on live, but it could only match 507 of them. A fuzzy query could be used, but risks putting the wrong rating on some stories, if indeed it manages to find more. There are nearly 1000 rated stories, so there must be nearly 500 not matching.

Unfortunately, as the "what makes a good story" exploration wa

[2017-02-15 21:59] markmacgillivray commented on #115
Updating this discussion - we can, yes. But it would depend on how the button is displayed on the repositories in question, and also how we would find the relevant pages to hit that button.

Do you have an example of this button on a web page where you would want it to be triggered?

If repos use the same format or some same way to identify that button, of if pressing it sends a msg to some endpoi

[2017-02-15 21:59] #457 closed

[2017-02-15 22:13] markmacgillivray commented on #492
This does not make so much sense now that the placeholder text says the user can provide a URL, DOI, PMID, etc and soon also citation - an example of all would be messy, and an example of a url would hide the fact that the others can be done too.

However on the /find page (which was the /request/new page) there is a blurb in orange on the right that says "search for what you need........" - perha

[2017-02-16 11:28] JosephMcArthur opened #526 "Do we need a distinction between researcher / academic?"
For my taste they're similar enough to be simplified down to researcher, objections @OAButton/team?

[2017-02-16 14:09] svmelton commented on #526
I think we should simplify them, particularly because there are a number of non-tenure track researchers who do the same work but might not be considered "academics" by their institutions.

[2017-02-16 14:13] alexgiann commented on #526
Also all academics are researchers as part of their job description so it's not false to call them that.

[2017-02-16 14:15] chealsye commented on #526
+3 researcher is a best catch all. We need as few options as possible and academic can be an, erm, loaded term at times.

[2017-02-16 14:28] natalianorori commented on #526
+4 , let's stick with researcher

[2017-02-16 14:32] JosephMcArthur commented on #526
Assigning @markmacgillivray to make the required change.

[2017-02-16 17:28] JosephMcArthur opened #527 "PMID's & Requests"
## Original ticket

When making a request via the link: https://openaccessbutton.org/request/new and filling in title and reason that I need the article I press submit and the request comes up as "untitled" and also the title field is suddenly blank.

Any idea why this happens? I am usinf google chrome on a windows computer.

Also my situation is that I don't have the authors' email or DOI for som

[2017-02-16 17:51] markmacgillivray commented on #527
Note that although this is assigned to me, I can't do anything until operational decisions are made about how we should handle this in our request management workflow. But once you decide that, just let me know what to do -  I will unassign myself for now as I can keep better track of what I need to do that way, and just assign me once there is action I can take.

[2017-02-16 19:27] markmacgillivray commented on #192
There is now a date range slider on the /request page. With this and the other options on the page, it should be possible to answer the various analysis queries - e.g. find all requests of particular status created since date X, or all requests created by particular user profession, etc.

Please review and let me know if anything else is necessary.

[2017-02-16 20:35] markmacgillivray commented on #494
Done

[2017-02-16 20:35] #494 closed

[2017-02-16 21:37] markmacgillivray commented on #77
This has been done, there is a description at ineedthisdoi.org of how it works (basically same as cx.ctg.li).
Please review then when we make the next update to live we can start using these too - of course the ineedthisdoi.org homepage can be customised somehow too.

[2017-02-17 00:15] markmacgillivray commented on #525
Done on dev, admins can already delete requests, and so too now can request creators. Will go live whenever we push the latest dev site, and update the api

[2017-02-17 00:15] #525 closed

[2017-02-17 01:16] markmacgillivray commented on #424
Done, on dev.

[2017-02-17 01:16] #424 closed

[2017-02-17 07:36] JosephMcArthur commented on #77
Great! Let's close this out for now!

[2017-02-17 07:38] JosephMcArthur commented on #333
Any progress here @markmacgillivray ?

[2017-02-17 07:38] JosephMcArthur commented on #458
To make clear why, an easy

makes me happy closing #107 which is important.

[2017-02-17 07:41] JosephMcArthur commented on #527
If it's not possible to have URL's, then we shouldn't show links on the request page. However, are we not able to track down / guess a URL? If we are, we should, if we're not, then don't show the link.

Is that the only decision needed here?

[2017-02-17 07:42] JosephMcArthur commented on #495
I've seen requests coming from "donotreply" addresses, this shouldn't be the case. How do we fix that?

[2017-02-17 07:47] #469 closed

[2017-02-17 07:47] JosephMcArthur commented on #468
- [ ] v.1 of this is just to send a notification to natalia

[2017-02-17 07:59] JosephMcArthur commented on #115
- [ ] @markmacgillivray , can you work with Imperial to answer Q's in the top 4 parts. Please start a new thread with them.

For the later two:

We'd record the creation of a request, yes. How we'd know if it was fulfilled with hopefully be shown from above. I think it might be a bit tricky though.

Authors will be expecting things via the route I assume, and it may be easier for them to fulfil. I

[2017-02-17 08:01] JosephMcArthur commented on #513
Once this email is sent, a request should be closed.

@chealsye is it okay if @natalianorori takes a first draft here?

[2017-02-17 08:02] JosephMcArthur commented on #510
@svmelton any progress here?

[2017-02-17 08:09] JosephMcArthur commented on #508
Okay, so, we've decided we'll change them.

The next question is, if / how we correct them en-mass (for past ones, at least since oaw2016)?

@markmacgillivray if we edit stories in a sheet (with ID's) and give them to you to upload will they overwrite?

[2017-02-17 08:11] JosephMcArthur commented on #480
duplicate

[2017-02-17 08:11] #480 closed

[2017-02-17 08:13] JosephMcArthur opened #528 "Differentiating help status on requests"

[2017-02-17 08:13] JosephMcArthur commented on #504
- [ ] @markmacgillivray can we make a new status for "closed"

Natalia moving your other comment to #528

[2017-02-17 08:14] JosephMcArthur commented on #523
- [ ] We'll need an email(s) to go with this @chealsye

[2017-02-17 08:16] JosephMcArthur commented on #505
We'll set up a new requests email account to remove confusion for chealsye & go from there. I need to do that.

[2017-02-17 08:17] JosephMcArthur commented on #516
Just saw progress on this, thanks @markmacgillivray ! Leaving you to close when ready!

[2017-02-17 08:22] JosephMcArthur commented on #462
@markmacgillivray is this fixed by new search?

[2017-02-17 08:29] JosephMcArthur commented on #473
A fuzzy query would probably be okay, surely if it's close that's okay?

Yes

Yes

Not sure, your call. We just shouldn't show it.

Yes, we have to show something. I think right now we can't just "boost" good stories to the top.

I don't think we can request stories after the fact.

[2017-02-17 08:36] JosephMcArthur commented on #511
@natalianorori you found the drafts for this right?

[2017-02-17 08:38] JosephMcArthur commented on #494
@markmacgillivray I trust that you updated the settings that had it erroring previously.

[2017-02-17 08:53] markmacgillivray commented on #508
Yes

[2017-02-17 09:48] markmacgillivray commented on #473
A fuzzy query might be ok, but it would take a lot of testing to find out. It would probably be more efficient to just type in the 500 ratings to their related requests manually, if someone has the time.

For the other points, I can update the request listings

[2017-02-17 09:51] JosephMcArthur commented on #473
Got you, we'll just re-rate.

On Fri, 17 Feb 2017 at 09:48 markmacgillivray <notifications@github.com>
wrote:

[2017-02-17 09:52] markmacgillivray commented on #473
OK, stories rated 3 or greater, will now show their story as the big quote, but if less than three, it just does not show the story - still shows title and info about the user, etc, so that works OK. For now too, while not many stories are rated, it will also show stories that have no rating - this can be changed any time.

[2017-02-17 10:46] #473 closed

[2017-02-17 10:47] JosephMcArthur commented on #482
We'll need a bit of copy to provide feedback to the user on their error here

[2017-02-17 10:47] #516 closed

[2017-02-17 10:52] JosephMcArthur commented on #475
Okay, so, I'd suggest that we send requests without them and use this as a way to test if stories are ACTUALLY important for authors. We've always assumed they are, but lets get some empirical evidence. Other groups (e.g researchgate) don't use stories.

We'll need a new email template that tests this & allows requests to be sent without a story. This can also be used where the story is weak.

Ass

[2017-02-17 10:52] markmacgillivray commented on #504
OK, I have added this on dev, to the request page, where "closed" can now be selected as a status param by an admin. I will unassign me for now, if you later decide what actions it should cause, reassign and I can progress.

[2017-02-17 10:54] JosephMcArthur commented on #491
There is a broader thing to think about here.

"other" is a significant usertype for us (as seen in user states), is there a way we can reframe this catch all in a more compelling way? I don't really have ideas but I'm hoping @OAButton/team does!

[2017-02-17 11:03] JosephMcArthur commented on #491
FYI, institutions associated with other are:

ASBMB (1)
Anna University, Chennai (1)
Beacon Medical Group (1)
Captain (1)
Crystal Palace Physio Group (1)
Curoverse (1)
Curtin University (1)
Disney (1)
Escola Superior de Gestão e Tecnologia de Santarém (1)
Euromonitor International (1)
Glocalize (1)
Great Ormond Street Hospital (1)
Hipertextual (1)
Imperial College London (1)
Independent (1)
Jisc (

[2017-02-17 12:33] JosephMcArthur commented on #502
@chealsye FYI we've made a few basic changes to this which bring it more in line with what's been discussed. It's not perfect, but it's better & shippable. More soon.

[2017-02-17 12:33] #502 closed

[2017-02-17 12:35] JosephMcArthur commented on #487
Right now, yes. In future, probably not. Lets hold off on doing this now but systematically track how often we can find it vs their email (i.e we need a box in the spreadsheet we can tick when we find it)

@natalianorori let me know when this is built into our docs & I'll move this into our backlog to consider in 1+ year.

[2017-02-17 12:35] JosephMcArthur commented on #486
My understanding is we've done what is needed for this. Closing.

[2017-02-17 12:35] #486 closed

[2017-02-17 12:47] JosephMcArthur opened #529 "Using ORCID to identify authors"
## Initial email

## C's response

## Me response

## C's response

[2017-02-17 14:23] JosephMcArthur commented on #490
Okay... here goes a brain dump of ideas, good & bad.

### Mterk pages where we can't scrap author emails

By using humans (at scale) we can find emails not accessible to scraping.

### #529

### Make searching manually faster

@natalianorori, what searches do you always run to get these emails? Can we make that faster by giving you links for those searches pre-made (e.g running title through googl

[2017-02-17 14:25] JosephMcArthur commented on #481
So, in summary. @markmacgillivray the changes you suggest that would allow this to be done smoothly should be put in.

[2017-02-17 17:42] natalianorori commented on #511
yes, here: https://docs.google.com/document/d/1fJQojk_xma7DV2SQfJfJEbRSRM79Z6APBUFwFQDsfQI/edit

[2017-02-17 17:45] natalianorori commented on #475
I agree with this. I will work on a template and send it to you both @chealsye @JosephMcArthur

[2017-02-17 17:47] natalianorori commented on #426
+1 with Chealsye

[2017-02-17 17:51] natalianorori commented on #504
Closed status could be use when
- The author is deceased
- The request is for something the oa button cannot get (ebooks, subscriptions to websites)
- none of the co authors can be found after a few months

This is all that comes to my mind at the moment, but as we continue managing requests new situations may emerge

[2017-02-17 17:54] natalianorori commented on #485
So we decided that the best thing to do is to tell the user that the button does not do that, but giving them alternatives. ex, if they ask for an ebook, we can give them links to open educational resources websites.

No template is needed for this at the moment since the requests are few and I can send the email manually

[2017-02-17 18:15] #485 closed

[2017-02-17 18:18] svmelton commented on #510
@JosephMcArthur Not yet—I'd like to chat about this a little more because I'm a little fuzzy on it

[2017-02-17 18:27] svmelton commented on #418
@JosephMcArthur Just checking—am I tagged here to work on the documentation?

[2017-02-17 18:37] JosephMcArthur commented on #418
Yup!

On Fri, 17 Feb 2017 at 18:27 Sarah Melton <notifications@github.com> wrote:

[2017-02-17 19:49] JosephMcArthur commented on #347
Search on the new /reqeust page seems better, how're we doing here @markmacgillivray

[2017-02-17 19:51] markmacgillivray commented on #347
It is still the same issue - if we have the keyword, the search will find it, but if we were not able to extract the keyword in the first place, search will not find it. So you can only search on keywords we know. Now that there is a filter option, that may help make it more obvious which keywords can be searched, so perhaps we can close this anyway.

[2017-02-18 00:51] chealsye commented on #475
Thanks, @natalianorori.

[2017-02-18 00:55] chealsye commented on #511
Is there any documentation about the request workflow?

[2017-02-18 01:01] chealsye commented on #523
Will this just be a notification every time there's a new request with the corresponding author with a domain they specified? Or just any custom search? Just want clarity of how it'll work so I can draft an email.

[2017-02-18 01:02] chealsye commented on #513
Okay, fine...

[2017-02-18 01:08] chealsye commented on #491
I imagine the best thing to do is replace "other" with something general like user - or potentially have another email draft with a differently structured opening sentence.

[2017-02-18 01:10] chealsye commented on #482
Where is this copy going?

[2017-02-18 05:26] chealsye commented on #503
What copy needs changing? Is it "Can you provide this content? If you have the right to share it, we'd love to hear from you. Please contact us to discuss providing a copy." or something else?

[2017-02-18 10:07] JosephMcArthur opened #530 "When loading, if user tries to close bookmarklet will hang"
Note, I've replicated this in the past, it's a relatively common thing to see.

[2017-02-18 10:10] JosephMcArthur opened #531 "Journal search algorithm / Subscription identifier not functioning as hoped"
This was a known bug on delivery, however, we have more test cases now. Clearly we need a route to handle this.

[2017-02-18 10:12] JosephMcArthur opened #532 "Update version notes / download page with changes"
Need to update index with improvements / issues etc

One note, including this success case would good:

[2017-02-18 10:14] JosephMcArthur opened #533 "Consider adding border to bookmarklet"
Issue raised:

There may be other ways to handle this, but something to discuss.

[2017-02-18 10:16] JosephMcArthur opened #534 "Improve bookmarklet accessibility through colour use"
Issue:

Obviously this will start to move away from our live version if we change it. Perhaps a white background with _just_ the icon color changing could be a good thing to test?

[2017-02-18 10:18] JosephMcArthur opened #535 "Add "powered by" statement & bar"
Issue:

This is seen in mockups, but lost in actual bookmarklet. It's something we should have.

Perhaps, "powered by the Open Access Button & Imperial Library". Would suggest inclusion of the library as obviously their systems are powering much of it!

[2017-02-18 10:20] JosephMcArthur opened #536 "bookmarklet click through not working"

[2017-02-18 10:21] JosephMcArthur opened #537 "Find system picking up wrong article"

[2017-02-18 10:24] JosephMcArthur opened #538 "How to deal with "non-articles""
Issue from testing:

I realise we're not able to be able to add significant functionality to really interact with other types of media powerfully, however, perhaps changing the copy of our "this isn't an article" type responses could be useful. For example, suggesting they use the full ILL system?

I think how to handle this is an open question.

[2017-02-18 10:26] JosephMcArthur opened #539 "Suggested copy changes"

[2017-02-18 10:29] JosephMcArthur opened #540 "Pre-populating article title"
I thought we were doing this already, but I guess in some cases we're not.

We should just clarify a response to this, or, fix any issues.

[2017-02-18 10:35] JosephMcArthur opened #541 "Switching out username for email"
As expected, they've suggested this. What they're suggesting makes sense for final version, but perhaps not for testing (as we need emails for debugging by _us_)

I think we should just update documentation here to speak to that.

I think this will be closed by #532, but I know we'd discussed this in depth before so wanted to make a separate issue to allow more discussion.

[2017-02-18 10:38] JosephMcArthur opened #542 "Answer some questions"
### 1

- [ ] done

### 2

- [ ] done

### 3

#115

[2017-02-18 10:42] JosephMcArthur opened #543 "How to deal with OA articles"
This is essentially a version of the same question we've had for a long time, i.e, what to do when an article someone is clicking on is open access. Considering CL has all the tech in-house to solve this issue is it time to brought this to bear on things like the above? Obviously, the benefits for the public version would also be pretty nice.

Fwiw, I expect all that would be too much work to do i

[2017-02-18 10:44] JosephMcArthur opened #544 "Improve output for ILL system & link up to Imperial relay script"
As discussed over email.

[2017-02-18 14:04] markmacgillivray commented on #532
What does this mean? I don't know what "update index" refers to.

[2017-02-18 14:05] JosephMcArthur commented on #532
Have updated the issue title. I was just talking about the homepage / download page we have for the bookmarklet.

[2017-02-18 14:06] JosephMcArthur commented on #503
That's it, just need suggested copy for if authors can use the login
system.

On Sat, 18 Feb 2017 at 05:26 chealsye <notifications@github.com> wrote:

[2017-02-18 14:07] JosephMcArthur commented on #482
Somewhere around the email box on request pages I expect.

On Sat, 18 Feb 2017 at 01:10 chealsye <notifications@github.com> wrote:

[2017-02-18 14:07] JosephMcArthur commented on #523
I think just doing it broadly for a custom search makes sense right now.

On Sat, 18 Feb 2017 at 01:01 chealsye <notifications@github.com> wrote:

[2017-02-18 14:09] JosephMcArthur commented on #511
Yup: https://github.com/OAButton/discussion/blob/master/Design%20%26%20Management%20docs/Request%20System%20Management.md.

If some you need isn't there, or clear, let us know & @natalianorori will work on it. This'll also be worked on in the next sprint.

[2017-02-18 14:10] JosephMcArthur opened #545 "Refine request management handbook for others using the request system"
@natalianorori this should lean on what we've already made but help library staff trying to moderate the system do that. Can be pretty simple!

We'll also want to round up other info on the system for this (e.g the flow charts)

[2017-02-18 17:27] JosephMcArthur opened #546 "How can we make data requests more attractive?"
Here is a list of things that researchers say would motivate them to share data, so, how can we align what we're doing here (or, where are we already aligned)!?

![image](https://cloud.githubusercontent.com/assets/4953703/23095298/5b177a4e-f5ff-11e6-9a64-95f63d95d56f.png)

Cite: https://twitter.com/emckiernan13/status/822127545927815170

[2017-02-18 18:27] JosephMcArthur commented on #546
Nudge theory would suggest we should just try and convey it as cool / normal: http://freakonomics.com/2013/04/03/the-tax-man-nudgeth-full-transcript/.

Therefor, we should find a way of saying stuff like "most researchers share their data, it's expected!"

[2017-02-19 00:08] svmelton commented on #546
Seems like this could be another place to strategically partner with libraries, since a lot of the motivation seems to come from wanting assistance preparing data. Not every library has a data management person, but increasingly more do.

[2017-02-19 00:09] svmelton commented on #491
+1 for user. I think those types of institutions are too diverse to capture them accurately.

[2017-02-19 02:15] markmacgillivray commented on #467
Done, on dev. If an email being entered into the request page matches the address of the current user, the address of the creator of the request, or the address of anyone who supports the request, or the address is on our blacklist, when the save button is pressed no save happens and the email address is removed. A help message appears below the email box saying one of:

Sorry, {{EMAIL}} matches t

[2017-02-19 02:18] markmacgillivray commented on #482
This has been added on dev, and now it will not accept an email address that is invalid, including if it does not actually go anywhere, or if it is on our blacklist. When someone tries to save, the email address is checked, and if invalid it will be removed and the save will not happen and a message under the email box will say:

Sorry, {{EMAIL}} is not a valid address.

In addition, if it looks l

[2017-02-19 02:36] markmacgillivray commented on #503
Hmm, thinking through this, it is not possible to do.

regarding @natalianorori point - If the author was viewing the page and also was the person with the email address we already had for the request, then they would also have already received the request email asking them to respond, so they'll have the responder link.

So we would only be considering cases where an author is looking at the page

[2017-02-19 05:52] chealsye opened #547 "Article is already available button linking to wikilist rather than archived article"
When 10.1016/j.lisr.2010.12.002 is entered into the Button's search it says the article is available. However, "This article is already available!" button links to https://en.wikibooks.org/wiki/Introduction_to_Library_and_Information_Science/To_Do_List, which is a wikibooks list of LIS books. The result should instead be linking to http://www.oclc.org/content/dam/research/publications/library/2011

[2017-02-19 09:49] JosephMcArthur commented on #467
Passing over to @chealsye to approve / edit copy

[2017-02-19 09:50] JosephMcArthur commented on #482
On to @chealsye to review copy for these

[2017-02-19 09:54] JosephMcArthur commented on #503
Okay, this makes sense. Lets close for now, but, in think we may need to reopen in the distant future once / if we build more ways for authors to find requests e.g:
* by seeing a request in share
* by an intergration with orcid which showed requests on their profile
* by displaying request links through hypothesis comments on papers
etc

[2017-02-19 09:54] #503 closed

[2017-02-19 14:56] chealsye commented on #482
Both Sorry, {{EMAIL}} is not a valid address. and 'Did you mean BLAH?' are fine and friendly.

[2017-02-19 14:56] #482 closed

[2017-02-19 15:27] markmacgillivray commented on #495
The settings have that address in them, I have changed it for requests to be requests@oab - what about other emails?

[2017-02-19 15:34] #497 closed

[2017-02-19 15:37] markmacgillivray commented on #491
profession of type "other" will now be automatically substituted with "user" when substituting values into email templates.  I think this closes the issue, so will unassign myself, but leave open for you all to review.

[2017-02-19 15:55] JosephMcArthur commented on #491
Should probably be email templates & the website, is this the case?

[2017-02-19 15:56] JosephMcArthur commented on #495
login emails and other notification style emails (e.g weekly check) should come from donotreply

[2017-02-19 15:57] #495 closed

[2017-02-19 15:59] markmacgillivray commented on #491
I have more programmatic control on the website, so where the profession is other it just does not show it (e.g. on the request search results and on the request page itself, where it was just added for the issue where you asked for it to be shown, it does not show if other)

[2017-02-19 15:59] #491 closed

[2017-02-19 19:56] JosephMcArthur opened #548 "Allow filter by location"
We may want to allow filtering by individual country, or, region.

[2017-02-19 20:06] JosephMcArthur commented on #528
currently we ask folks to help us get the title & also emails

[2017-02-19 20:33] JosephMcArthur commented on #500
okay! 7 / 9 done here! Good show.

[2017-02-19 20:33] #500 closed

[2017-02-19 20:34] JosephMcArthur commented on #507
@chealsye this might be a small copy change we can make that would make a big impact!

[2017-02-19 20:35] JosephMcArthur commented on #501
currently not planning to ship a change to the submit button text in Monday's release BUT, we've removed about 70% of the page content. So... should be clearer for sure.

[2017-02-19 20:36] JosephMcArthur commented on #441
@chealsye you can now see the new find page. If you're happy to close this please do so.

[2017-02-19 20:39] JosephMcArthur commented on #403
@natalianorori are you seeing significant issues with folks not submitting the right kind of stuff?

[2017-02-19 20:42] JosephMcArthur commented on #432
We further simplied this for the release on Monday! Now includes copy changes suggested above.

[2017-02-19 20:42] #432 closed

[2017-02-19 20:47] #492 closed

[2017-02-19 20:48] #526 closed

[2017-02-19 20:48] JosephMcArthur commented on #526
changed on dev, shipping asap

[2017-02-19 20:52] JosephMcArthur commented on #512
closed on dev

[2017-02-19 20:52] #512 closed

[2017-02-19 20:53] JosephMcArthur commented on #315
done on dev

[2017-02-19 20:53] #315 closed

[2017-02-19 20:54] JosephMcArthur commented on #305
these are actually working

[2017-02-19 20:54] #305 closed

[2017-02-19 20:55] JosephMcArthur commented on #445
attempted on dev

[2017-02-19 20:55] #445 closed

[2017-02-19 20:56] JosephMcArthur commented on #67
Now we use first / last names these are unlikely to change. For now closing this as we haven't had a request in a very very very long time.

[2017-02-19 20:56] #67 closed

[2017-02-19 20:58] JosephMcArthur commented on #316
now less important, text is changed.

[2017-02-19 20:58] #316 closed

[2017-02-20 01:06] markmacgillivray commented on #458
The bug form page is functionally in place, and I have made the dnr form as the first example. I will complete the others from the google doc soon. it is extensible, so now you can fairly easily add new forms by just copying the structure in the page.

I have made the DNR page itself just do only the email DNR, but then it says thanks and asks if the user will complete our survey. If they click th

[2017-02-20 02:59] markmacgillivray commented on #458
The bug form page is now complete, any further editing or new forms can now go direct in the /bug page. All I need to know now to close this issue is what is supposed to be done with the bug data once we receive it.

[2017-02-20 03:27] chealsye commented on #458
@JosephMcArthur @markmacgillivray Sorry for not getting to this issue earlier. Do you need me to read through the form to double check copy?

[2017-02-20 03:31] chealsye opened #549 "Receiving two verification emails after signing up"
Yesterday and today I was using the dev site. When I signed up for an account instead of receiving a single verification email I received two. I only hit 'enter' one time. This happened again tonight.

![screen shot 2017-02-19 at 22 22 14](https://cloud.githubusercontent.com/assets/9299248/23110930/e71b9d6a-f6f2-11e6-9ba8-069add0398c6.png)

[2017-02-20 03:56] chealsye commented on #501
I don't think any of the changes (although good for user overall) do not improve the clarity for the submit button.

[2017-02-20 03:57] #441 closed

[2017-02-20 04:10] chealsye commented on #467
Suggested edits:

Just added the period.

 Side question: What is "please see below" referring to?

Punctuation change.

[2017-02-20 04:15] chealsye commented on #490
If you know the author's institution, why couldn't you locate their email and have to guess it?

[2017-02-20 04:21] chealsye commented on #546
+1 Sarah
We cannot cover most of these incentives, but we could do our best to partner with librarians.

How many data requests do we even presently have? I'd say having a solid story where someone wants to make use of the data and is citing is will be a greater incentive, but it'll have to be a more powerful story than an average article request. At the very least I think we need a different requ

[2017-02-20 04:27] chealsye commented on #499
Where do these appear? I haven't seen one in ages.

Are you pulling in me for light tone copy? Can I suggest design changes?

[2017-02-20 06:01] chealsye commented on #538
Could we deal with it separately public Button vs uni service? And wouldn't it also depend how thorough of a service a uni has?

[2017-02-20 07:10] JosephMcArthur commented on #501
Can you suggest updated copy for the button then please?

On Mon, 20 Feb 2017, 03:56 chealsye, <notifications@github.com> wrote:

[2017-02-20 07:35] JosephMcArthur commented on #538
We can certainly do it differently depending on public vs uni. And yes, it
probably would depend on the ILL service we're dealing with.

On Mon, 20 Feb 2017 at 06:02 chealsye <notifications@github.com> wrote:

[2017-02-20 07:35] JosephMcArthur commented on #499
You can currently get them from request pages, there is an "embed" button.

At this point both design and copy changes are super helpful.

On Mon, 20 Feb 2017 at 04:27 chealsye <notifications@github.com> wrote:

[2017-02-20 07:51] JosephMcArthur commented on #458
Yes please @chealsye. Feel free to suggest extra / fewer Q's, options, and of course copy changes.

- [ ] copy approved

@markmacgillivray this is wonderful progress, but I don't think quite ready to ship today. Some questions. In the current set up:
* can we link directly to a form type (e.g via url #). This allows us to close #411
* can these forms be embeded in other pages so folks like authors

[2017-02-20 08:20] JosephMcArthur commented on #549
@chealsye have you seen things like this before, or seen it on the live site?

[2017-02-20 10:32] JosephMcArthur commented on #504
Is this in the management document?

[2017-02-20 10:33] JosephMcArthur commented on #505
done this!

[2017-02-20 10:33] #505 closed

[2017-02-20 11:12] markmacgillivray commented on #467
OK, copy changed. Please see below refers to the note further down the page that says if they are the author to please contact us.

[2017-02-20 11:17] markmacgillivray commented on #458
yes you can link directly to a form type, it explains how in the comments on the bug page.

The forms cannot be embedded in other pages - you should link to the form you want from a given page, using the form type as the #, and passing any necessary params as url params. Also explained in the comments of the bug page.

Particular forms can be hidden, they don't have to appear in the select bar, bu

[2017-02-20 11:23] JosephMcArthur commented on #411
To close add http://oab.test.cottagelabs.com/feedback#uninstall & above code to the chrome plugin

[2017-02-20 11:25] markmacgillivray commented on #411
Wouldn't we be better adding this when it is on the live site and using a URL to the live site?

[2017-02-20 11:33] JosephMcArthur commented on #458
Based on what you said above (helpful info, thanks):

- [ ] can we display the #<page> in the URL for users.
- [ ] hide remove your email from list
- [ ] hide browser extention uninstall from list
- [ ] hide you can't share from list
- [ ] submit general feedback / uninstall / dnr feedback to zendesk
- [ ] submit general bug reports to github issues & notify help@openaccessbutton.org (to make it e

[2017-02-20 11:34] JosephMcArthur commented on #411
Sorry, dur, that's what I mean! https://openaccessbutton.org/feedback#uninstall

[2017-02-20 12:32] markmacgillivray commented on #458
For the general bugs form, it just needs a bug form added to the feedback page and the user can select submit a bug" as one of the form options.

[2017-02-20 12:32] markmacgillivray commented on #458
How do I submit to zendesk? Is there an email address I can just send the JSON object to?

[2017-02-20 13:30] JosephMcArthur commented on #458
For zendesk, you can send stuff in through help@openaccessbutton.org. They also have an API if you'd prefer that: https://developer.zendesk.com/rest_api/docs/core/introduction

[2017-02-20 14:52] JosephMcArthur opened #550 "Have groups recognised in our accounts system"
Linked to #514. Breaking down here to allow for easier discussion.

Groups should be recognised by our system (i.e activate group accounts). There should be the ability for communities to make admins of their system (at /admin) and create new accounts.

[2017-02-20 14:52] JosephMcArthur opened #551 "Assign requests to groups"
Linked to #514. Breaking down here to allow for easier discussion.

Automatically have requests assigned to their system based on their particular interest. For example:
* If request is from user x, assign to community y.
* If request is in field y, assign to community x.

[2017-02-20 14:53] JosephMcArthur opened #552 "Allow groups to filter out and interact with requests they care about on /request"
Linked to #514. Breaking down here to allow for easier discussion.

Filter out and interact with requests they care about on /request. They should be able to set their own rules about if the system runs automatically or manually.

[2017-02-20 14:53] JosephMcArthur opened #553 "Allow groups to alter email copy send for their requests"
Linked to #514. Breaking down here to allow for easier discussion.

[2017-02-20 14:54] JosephMcArthur opened #554 "Allow groups to filter out and interact with stats they care about on /stats"
Linked to #514. Breaking down here to allow for easier discussion.

[2017-02-20 14:56] JosephMcArthur commented on #514
Okay, have split this issue out into several smaller ones.

[2017-02-20 14:57] JosephMcArthur commented on #553
As MVP, this could just be a copy of our current messages with say, <library>_* infront of it. Just something that makes clear *their* copy.

[2017-02-20 15:09] JosephMcArthur commented on #550
We may need a way to:
* filter on /admin by group,
* add people to specific groups,
* create groups

but this doesn't need to be instant I don't think. We'll probably have 1 or two groups for quite a long time!

[2017-02-20 15:11] JosephMcArthur opened #555 "Have users on specific domains, or signing up from certain pages, be added to certain groups"

[2017-02-20 15:35] #467 closed

[2017-02-20 15:52] JosephMcArthur commented on #514
@markmacgillivray this issue is the one for discussion right now!

[2017-02-20 16:53] JosephMcArthur commented on #514
To close this we want to:
- [ ] have @markmacgillivray layout questions that would be helpful for the team to answer
- [ ] have @OAButton/team feed into the conceptualisation of the group system
- [ ] write up the above as issues like those already done (but with more info)

Hopefully:

- [ ] speak with some external groups about that they'd want (e.g library group) - Me
- [ ] speak with folks who

[2017-02-20 23:00] chealsye commented on #507
I made a few copy tweaks and added more installation instructions based Sprintzlet, but I think it is just a temporary improvement and want to discuss further improving it / what we could include. I think we could do something similar to Sprintzlet's full directions including with gifs (not on that one page, but if people need further help).

[2017-02-20 23:14] chealsye opened #556 "Dev site frontpage search redirecting to find page, not completing"
I searched for an article on the dev site. I expected it to search for the article, perhaps not be able to find the article and/or data and prompt a story. However, instead of the search starting and being told whether the article and data was available I was redirected to /find. The search worked correctly when I resubmitted the url on /find rather than the front page.

![screen shot 2017-02-20 a

[2017-02-20 23:56] markmacgillivray commented on #556
Fixed

[2017-02-20 23:56] #556 closed

[2017-02-21 05:00] chealsye commented on #501
The problem reported by RickyPo was that he didn't know where the submit button was. He typed a 5 word story, another word or even a space would have made the button yellow and perhaps singled him to keep writing. However, it didn't. He thought there wasn't a submit button.

The button copy here has not changed.

![screen shot 2017-02-20 at 19 21 29](https://cloud.githubusercontent.com/assets/9299

[2017-02-21 05:16] chealsye commented on #498
Sorry this got lost in the bottom of my inbox :(

I am working on new paragraphs of copy, but first a couple questions/comments:

@JosephMcArthur, how should users ask questions from the page? Should there be another form? Just email?

## 1

I think journal splash page is jargon we should avoid. Working on it.

[2017-02-21 09:13] JosephMcArthur opened #557 "When scrolling down on live /request, options overlap with footer"
![image](https://cloud.githubusercontent.com/assets/4953703/23158128/e452a2bc-f815-11e6-9498-30605e35c64c.png)

kicking this into the current sprint, it's a pretty unsightly bug & I think might happen a fair bit as people explore.

[2017-02-21 09:35] JosephMcArthur commented on #501
To throw my 2 cents in, just looking at his story there is good reason he shouldn't have been able to submit - it wasn't very good. In that sense, we succeeded here on some level.

To throw one idea out, we use a lot of words in that submit button communicating how many words are left. We could move that out into more of a character count style counter? That could free up words.

We could also opt

[2017-02-21 09:39] JosephMcArthur commented on #498
Thanks for the work here @chealsye. Saw the boxes ticked!

Ah, yes, @chealsye that little help box you saw will also be on these pages once we push the above changes. So, that'll be one route. I'd be interested in your "on campus" experience here, when getting authors to submit to repos what are the most common stumbling blocks & questions. How can we most efficiently answer those?

[2017-02-21 09:46] JosephMcArthur commented on #549
Just got this on firefox 51.0.1 (64-bit) on the live site.

![image](https://cloud.githubusercontent.com/assets/4953703/23159401/8a7c37bc-f81a-11e6-8466-83976ce75af3.png)

[2017-02-21 09:51] JosephMcArthur commented on #507
This is better, but I agree it's not there yet.

We need:
- [ ] a title of the section that clearly shows this is how you get installed - @chealsye
- [ ] an install gif - me

at least.

I think they're easy to ship, and we can probably do by the end of the week.

@chealsye what questions would you like discussed (the more specific the better) & how would you like them discussed. We can flag this o

[2017-02-21 09:55] JosephMcArthur commented on #549
@markmacgillivray with the new site live the mailgun logs will be able to tell us if these double emails are requested by users or are sent even on one request. That'll be helpful here. I wonder if this was something to do with the switch from io to org. The timing seems right.

[2017-02-21 10:05] JosephMcArthur commented on #519
@OAButton/team anyone got anything they'd like us to spend some design time on?

[2017-02-21 10:09] JosephMcArthur commented on #527
My thoughts here are that if we can build any url from a PMID that points to the right article (even if that actually goes not to the page the person was coming from) that's probably okay.

[2017-02-21 10:24] markmacgillivray commented on #557
The options will continue to overlap the footer because they are fixed so they don't slide away. However I have added a white background to the div htey are in so it overlaps neatly and does not show the footer text through it.

[2017-02-21 10:24] #557 closed

[2017-02-21 10:29] JosephMcArthur commented on #557
Ah I see, that's certainly better and we should push it live.

However, would it also not be possible to have the page understand that the
bottom of the footer bar shouldn't overlap with the footer, and stop it?

On Tue, 21 Feb 2017 at 10:24 markmacgillivray <notifications@github.com>
wrote:

[2017-02-21 11:17] markmacgillivray commented on #557
I've already put it on live. There is no straightforwardly simple way that I could do without wasting a lot more time on it.

[2017-02-21 11:21] JosephMcArthur commented on #557
Understood. We'll keep it closed then!

On Tue, 21 Feb 2017 at 11:17 markmacgillivray <notifications@github.com>
wrote:

[2017-02-21 16:58] chealsye commented on #549
Ah damn after our chat on the dev call yesterday I was hoping it was just going to be the dev site.

This happened in both Chrome and Firefox - I believe. Definitely Firefox the first time and I think the second time in Chrome but I'm not 100% positive.
Computer: OS X Yosemite
Chrome: Version 56.0.2924.87 (64-bit)
Firefox: 51.0.1 (64-bit)

[2017-02-21 21:23] chealsye opened #558 "Creating direct links to request keywords and/or custom request searches"
Just now I shared a [medium piece about doctors not being able to access cancer research reported in the news](http://bit.ly/2lJuVDM). My instinct was to share a link to OAB requests with that included cancer (193 of them!) or ones marked as keyword cancer (45!), and invite people to support requests. But I cannot get direct links to that search. Could we add that as a feature? It may not be doabl

[2017-02-21 21:26] JosephMcArthur commented on #558
We used to have something like this I think, hopefully we can bring it
back! Certainly seems helpful here, great idea!

On Tue, 21 Feb 2017 at 21:24 chealsye <notifications@github.com> wrote:

[2017-02-21 21:33] markmacgillivray commented on #558
@chealsye I have just enabled the full search url state in the request page on live. This means that you can do any search on the page you want, then the URL of the page will update and you can copy/paste it to get the URL to that same result set again. It is not a tidy url like you wanted though, but it is an easy way to direct link.

Also, you can do a more tidy version by using some of the unde

[2017-02-21 21:33] #558 closed

[2017-02-21 21:45] markmacgillivray commented on #558
@chealsye I have fixed the keyword search url params too, so actually you can do it BUT note my example above was wrong, the field is called keywords. So try this:

https://openaccessbutton.org/request?q=keywords:cancer

[2017-02-21 22:13] chealsye commented on #558
Thank you! And so speedy!

[2017-02-21 22:43] JosephMcArthur commented on #489
How can we make it easy to find help? Github issues maybe?

[2017-02-22 08:06] JosephMcArthur commented on #440
Assinging @markmacgillivray since he seems to be working on thisl

[2017-02-23 09:23] JosephMcArthur commented on #507
- [ ] stratify install instructions by browser

[2017-02-23 09:30] JosephMcArthur opened #559 "Bookmarklet still asking for location on live"
Thought we had this taken out of everything but plugins

[2017-02-23 10:13] JosephMcArthur commented on #507
Small changes suggested by @BaronBlackmore (aka, Sam) to reduce a bit of information on this page (which helps the user focus on what is needed, like getting the bookmarklet):

- [ ] remove "use the button in your browser". This is now the front page & in the header.
- [ ] hide "view your requests" until you've made requests

Also, minor copy change

to:

- [ ] done

[2017-02-23 10:19] JosephMcArthur commented on #489
- [ ] I think we should consider making copy on the page narrower, it's a bit wide to read comfortably.

[2017-02-23 11:17] JosephMcArthur commented on #194
@chealsye, when you find there is a bad linkage between what you searched for & what we delivered, as a user, how would you go about reporting it?

I can't imagine how to do it smoothly, so, help would be appreciated. My current best idea is that when you press on a "article" availiable link on /find, we could change the page (or just that button / area) to a *broken link?* style button that would

[2017-02-23 13:46] JosephMcArthur commented on #112
Sources we want here: https://docs.google.com/spreadsheets/d/1TOq3nGF-L-OKwkgiojm-gp4W8WVvuUulmMP6kEOhik4/edit?usp=sharing

[2017-02-23 13:48] JosephMcArthur commented on #203
This is in share and closed by #112

[2017-02-23 13:48] #203 closed

[2017-02-23 16:50] chealsye opened #560 "Button sending users to a non-OA IR link for DOI 10.1179/030801802225002881"
I searched for DOI 10.1179/030801802225002881 and the Button told me it was available at http://nora.nerc.ac.uk/13191/. However, this item in the repository is not Open Access and requires a login to view. Since the article was published in 2013 I do not believe this is just an embargo.

[2017-02-23 18:48] markmacgillivray commented on #68
It is now possible to find the licence info and source URLs of things in openaire, and we can now cover with the bug form, so this is complete in dev and ready to go live

[2017-02-23 18:48] markmacgillivray commented on #112
Completed

[2017-02-23 18:49] markmacgillivray commented on #210
@JosephMcArthur is this oadoi now? If so, can close, it is integrated

[2017-02-23 18:52] markmacgillivray commented on #560
We do have a lot of the problem of items requiring a login to view - but that is not the same as not open access. Do you know it is not available without login AND that it is also not open access? It is in a repo called the NERC open research archive, and it is an eprints archive, and it does not say that it is closed, as far as I can see - it just says you have to login / request a copy.

Please

[2017-02-23 19:02] chealsye commented on #560
The full text is not available in the repository and it requires staff login. That is not Open Access. This particular item in this repository meets no standard definition of Open Access. We should not be sending users to this repository for this item.

If I was a first time user and searched for this article with the Button (and I did so because it was mentioned in a FiveThirtyEight piece) and co

[2017-02-23 19:19] markmacgillivray commented on #560
OK, so this is the same problem we have seen before.

The item does meet the definition of open access used by the aggregators we use - therein lies the problem. Something is considered open access if it is in a repo and is said to be open access, EVEN IF login is required to access it.

We will be returning quite a few results like this, and there is very little we can do about it, short of crawl

[2017-02-23 19:28] chealsye commented on #560
I'm aware this is a problem that has already been reported. I'm reporting this specific instance so we can correct it.

I understand why a system would think it is Open Access. This will happen for metadata only records or embargoed research output, but we can still improve the individual problem.

We can't crawl repositories ourselves to find all these little issues, but when an individual proble

[2017-02-23 19:35] markmacgillivray commented on #560
At the moment we don't have a way to override what one of our sources claims as open access - we can't yet blacklist things that we find.

To give you more background, the article you refer to was found by us in BASE, and their raw record can be seen at:

https://dev.api.cottagelabs.com/use/base/doi/10.1179/030801802225002881

There is no way from that article to identify it as open or not, other

[2017-02-23 19:38] markmacgillivray commented on #560
When you see problems like this case, or when people report them to you, would you be able to work out if the entire site not open? i.e. for this one, can you tell that nothing on that nora.nerc.ac.uk domain can be accessed without a login? And if so, would you want to be able to say that means it is not open, even if many other sources claim that it is?

If so, given that we already have a blackl

[2017-02-23 19:52] markmacgillivray commented on #560
@chealsye @JosephMcArthur I have implemented the aforementioned proposed solution on the dev api - it will not return a url as open if part of the domain is in the url blacklist google spreadsheet. I can easily disable or enable this, so if you decide this is an approach you want to take, just let me know and it can go live, and you can then add the domain names of sites you don't want to include

[2017-02-23 19:55] chealsye commented on #560
I'm not saying anything about blacklisting. This is one item. We know it isn't accessible yet we'll continue referring people. I don't know why it isn't possible to tell a system to not include a certain full url or that DOI XXX or Title Y isn't available, or to add a different url when it is found. A user (even a team member) is incapable of starting a request in this instance. The Button is not

[2017-02-23 19:55] markmacgillivray commented on #560
So for example the discovered URL in this case could be blocked by adding nora.nerc.ac.uk to the blacklist sheet, and then we would never return anything from that site as open. OR, to just block the one case of this URL, nora.nerc.ac.uk/13191 could be added to the blacklist (but note if we do this on an individual url basis, it could get looooooooong....)

[2017-02-23 20:01] markmacgillivray commented on #560
@chealsye does my last comment explain how you could do this at a repo or individual article level?

It isn't a bug. It is doing what we expect. Whether or not it is doing what we tell people it is doing depends on your definition of open. Right now, the way we return things keeps us in line with what the major aggregators we use also claim as open. If we deviate from that, we are making a specifi

[2017-02-23 20:12] chealsye commented on #560
Blacklisting whole repositories is not a solution to an individual item that requires a login (or is embargoed or is metadata-only).

I don't care if it is "looooooooong" - if the url is not correct that should removed.

It is doing what *you* expect, not what users expect. We tell people the Button connects them to open research and we request research not yet available. The Button is doing neith

[2017-02-23 20:14] markmacgillivray commented on #560
OK, so what I'm saying is that if you are happy to add individual URLs to that blacklist google spreadsheet, then they will not be served to a user as open on subsequent retries. If you also happen to find entire repositories that are not open, you can add the domain name too, and save yourself the hassle of adding individual URLs, and potentially saving users getting "non-open" links in the first

[2017-02-23 20:16] markmacgillivray commented on #560
Also, no, it is not what I expect - it is the consensus of the aggregators in the area we are working in.

What I expect is to get access without login - that is why I would propose doing our own crawling.

[2017-02-23 23:54] JosephMcArthur commented on #68
Before we absolutely close this we need to test & document it. Assigning @svmelton for that. Sarah, this works similarly to #418, but can discuss in our 1:1

[2017-02-23 23:55] JosephMcArthur commented on #112
re-opening for some testing & documentation from @svmelton

[2017-02-24 00:05] JosephMcArthur commented on #210
Nope, this isn't oadoi. However, unless I'm wrong it's largely the same source (base). Talking to Antonin about Researchgate offline.

[2017-02-24 00:06] JosephMcArthur commented on #111
@markmacgillivray a little nudge here, since we're looking at all things find system atm!

[2017-02-24 00:07] markmacgillivray commented on #210
Yeah, sorry, I know it's different, I mean is it solved by oadoi.

[2017-02-24 00:07] JosephMcArthur commented on #173
@markmacgillivray a little note here too. Our share intergration might help us think about pulling out data from there too?

[2017-02-24 00:09] markmacgillivray commented on #111
This is done too

[2017-02-24 00:11] JosephMcArthur commented on #111
Can we see a test case of it working?

[2017-02-24 00:26] markmacgillivray commented on #111
http://dev.openaccessbutton.org/find?url=Attitudes%20of%20secondary%20school%20students%20towards%20english%20as%20foreign%20language

[2017-02-24 00:29] JosephMcArthur commented on #111
That goes to the wrong place :'(

[2017-02-24 00:33] markmacgillivray commented on #111
Is it? There's no other paper findable with that name. Title search to figshare is the last thing to run. I can make it not return unless the title is an exact match, but I thought something was better than nothing

[2017-02-24 00:35] markmacgillivray commented on #111
The other titles figshare returns for that search are totally inaccurate, but that one seemed pretty good - it is the same, but without the suffix.

https://dev.api.cottagelabs.com/use/figshare/search?search_for=%22Attitudes%20of%20secondary%20school%20students%20towards%20english%20as%20foreign%20language%22

[2017-02-24 00:38] JosephMcArthur commented on #111
When I follow

I get:

https://figshare.com/articles/Life_and_its_transfiguration_in_Nietzsche_s_thought/4688905

I can see what's coming out the api... which is right. So... now I'm confused :)

[2017-02-24 00:52] markmacgillivray commented on #111
Ha, oops. Fixed. Obscure use of quotation marks on the figshare API.

[2017-02-24 02:25] chealsye opened #561 "The Button not telling me to sign in before prompting a request"
I went to search/request an article. I was told the article was not available and was prompted to start a request. I submitted the request with story and the Button wheel just turned and turned.

Turns out I wasn't signed it -- but I should have received this instead of being prompted to do a request:
![screen shot 2017-02-23 at 21 20 08](https://cloud.githubusercontent.com/assets/9299248/23287863

[2017-02-24 02:31] chealsye opened #562 "Redirected to /find page when prompted to enter in my account details"
After #561 I quickly logged in and went to make a request. I noticed that my user details were gone (which side note: SUPER annoying as a user and I wonder how many of current users will be irked by that) but was curious if I could still proceed to make requests. I clicked to start a request.

Received this error as expected:
![screen shot 2017-02-23 at 21 28 41](https://cloud.githubusercontent.co

[2017-02-24 03:51] markmacgillivray commented on #562
The "complete your details" even though you already have will be a mismatch between what we used to ask for and what we now ask for - I'll look into that. However, regarding your user details being gone, it looks like they were still there - the only missing ones were first name and last name, which are new fields we never asked for before.

[2017-02-24 08:05] JosephMcArthur commented on #111
Tried some of the above

worked like a dream.

that link now works, but I'm still having trouble getting to it from a URL / title on the site.

[2017-02-24 08:11] JosephMcArthur commented on #562
@markmacgillivray can we split the data we have for full names so that it works with first / last name & people don't have to re-file in these details.

I'm very happy to do that by hand if needed, I know it might be tricky to catch edge cases. I thought this was the plan, so think we should make it a priority to fix. This would be super annoying :'(

[2017-02-24 08:12] JosephMcArthur commented on #561
FYI, this feels important so I'm bumping to the current sprint

[2017-02-24 08:12] JosephMcArthur commented on #562
FYI, this feels important so I'm bumping to the current sprint

[2017-02-24 11:12] markmacgillivray commented on #111
Just typing in the title to the box works fine for me. Not sure what you mean about getting to it from a URL though. You mean a different URL for the same article?

[2017-02-24 11:13] markmacgillivray commented on #561
Yeah, things labelled as bug that I assign to myself are getting worked on anyway, regardless of sprint plans.

[2017-02-24 11:17] markmacgillivray commented on #562
Well, on accounts where we have the full name I could split it at first whitespace and assume the first part is first name and the second part is second name, or if no second part that we just have first name, and then still prod the user for second name. But then we may make mistakes with peoples names - is it more or less annoying to be asked your name, or to be told your name is wrong? Alternat

[2017-02-24 11:28] JosephMcArthur commented on #562
- [ ] /export is giving me all the fields needed. Needs first / last name fields.

[2017-02-24 11:51] JosephMcArthur commented on #111
I mean this URL:

and this happens with I do the title:

:'( http://recordit.co/md2fQlK7nb

still no luck.

[2017-02-24 12:16] markmacgillivray commented on #111
Yeah searching for the full title on figshare just doesn't find it - that remains a problem with their search. But, now that we don't get actually bad results from them, it seems, we can still keep figshare in and we will sometimes find stuff there.

[2017-02-24 12:18] markmacgillivray commented on #111
The last word of this example is pakistan.pdf in their system, hence the fail. If we strip the last word of any title, we could still submatch it.

[2017-02-24 12:19] markmacgillivray commented on #111
Actually will leave as is - really it is wrong metadata in figshare, so let's leave as is rather than tweak

[2017-02-24 13:08] JosephMcArthur commented on #111
Okay, so to close this we need to:

- [ ] test a few more articles @svmelton
- [ ] feedback to figshare about their title search api - @me
- [ ] do a mini-blog @chealsye

[2017-02-24 13:10] JosephMcArthur commented on #111
My understanding here is that we are not going to be sending folks to the wrong article so, it's better than nothing. However, there are improvements that could be made to their title search so we could find more. With that understanding I think it can ship.

[2017-02-24 13:29] markmacgillivray commented on #560
@chealsye thanks for logging issues, this has generated good discussion. I have talked to @JosephMcArthur and proposed an addition to this solution. It provides a way to collect the data we would need for crawling, and enables us to be more specific about when we do or do not send someone to a page that could or could not be accessible. It needs a few steps, but should be quite simple. Let me know

[2017-02-24 13:40] JosephMcArthur commented on #560
Just to be clear, even in places where we don't have this "login" issue, we can use this to increase full text link-through, closing #461. This could be a significant increase in our usability for quite a low cost.

[2017-02-24 16:28] JosephMcArthur opened #563 "Keep note of filter pages"
This can be done by exporting our usage data and looking for URL's that we wan't to notify users that the button doesn't work on.

[2017-02-24 18:04] natalianorori commented on #475
here is the draft: https://docs.google.com/document/d/1JiEQR0vI1kNPsSIIICStN_Tvx13ibrZAi7dz15Py6jc/edit

It's almost the same as our original email, minus the story. It's already on the email's folder at the drive for you to review it

@chealsye @JosephMcArthur

[2017-02-24 18:08] natalianorori commented on #490
I found the best way to locate an author's email is using email hunter https://hunter.io
They give you the format institutions use for emails by monitoring the domains, and sometimes they can even give you the exact email address of the person you're looking for. I've tested it and it works.

Otherwise, the manual search I input on google is usually " name + lastname + email" or name + last name +

[2017-02-24 18:24] natalianorori commented on #513
https://docs.google.com/document/d/1WMN9mXqAm4oLJJmlEg1-R8WvOd-28AuiO_uNZRS81ts/edit

I created a first draft here with some comments, it still needs your opinions and feedbacks. Once it is ready we can move it to the email's folder

thank you!

@JosephMcArthur @chealsye

[2017-02-24 18:35] natalianorori commented on #487
I updated our documentation and added a note on this.  https://docs.google.com/document/d/1AG8PcZ19yNmILGIPH_bBJC9eAtJlH-oDdjMLOxw4eTY/edit

[2017-02-24 19:27] natalianorori commented on #504
It is now

[2017-02-24 19:35] natalianorori commented on #403
I don't think this is a significant issue at the moment.  closing

[2017-02-24 19:35] #403 closed

[2017-02-24 21:39] JosephMcArthur commented on #504
Yay! \o/

[2017-02-24 21:39] #504 closed

[2017-02-24 21:40] JosephMcArthur commented on #487
Yay \o/

[2017-02-24 21:40] #487 closed

[2017-02-24 21:42] JosephMcArthur commented on #513
Give a few comments. Leaving the rest to @chealsye. Happy to upload when everyone is happy.

[2017-02-24 21:44] JosephMcArthur commented on #490
So, @natalianorori, how often are you able to find folks emails now, how much easier is using hunter than it was before?

What I'm trying to understand is how big of an issue this still is, and how much priority it should be getting. Clearly, there are many options, deciding how far to invest is the key!

[2017-02-24 21:52] JosephMcArthur commented on #508
@natalianorori can we make sure to document this as our policy in the handbook.

[2017-02-24 21:53] JosephMcArthur commented on #508
@meganwaps, while you're doing the buik story rating, can you try and catch some of the very worst typos in stories that are 4 & above?

[2017-02-25 01:07] natalianorori commented on #508
@JosephMcArthur It is already documented in the handbook

[2017-02-25 01:53] natalianorori commented on #490
at the moment, my first option is to use google and find the email through there, if the author is not on google, then I use hunter to come up with the institution's email format and double check it at emailtester.com , however, sometimes the address hunter gives me is invalid and I end up with no options (which is the case of most emails that are marked on the spreadsheet).

Another thing I'd lik

[2017-02-25 01:54] natalianorori commented on #490
So what I would say is that hunter helps in some cases, but it does not fix the problem 100%. Our real problem is that many journals do not give us enough information to track down authors even though we have the means to do so

[2017-02-25 01:56] natalianorori opened #564 "we need a new template to notify users when we find the missing author's email"
so that they know the request is in progress
@JosephMcArthur

[2017-02-25 03:35] chealsye opened #565 "Duplicate Student and student categories for filter by user"
Student and student are listed under filter by user on the request page. Would it be possible to merge student with Student?

![screen shot 2017-02-24 at 22 34 20](https://cloud.githubusercontent.com/assets/9299248/23327833/8dd9510a-fae1-11e6-82db-732dd0590197.png)

[2017-02-25 10:57] JosephMcArthur commented on #565
+1, same with researcher, Researcher, and academic.

On Sat, 25 Feb 2017, 03:35 chealsye, <notifications@github.com> wrote:

[2017-02-25 12:17] wetneb commented on #77
Hi! Thanks a lot for working on this, but…
It's still not we need to point our users to the OAB.
For instance, here is a case where the article cannot be found by the OAB: http://ineedthisdoi.org/10.1016/0165-1161(82)90161-3
This should point to the request page for this DOI, not a generic page where the same DOI has to be input again, I think.

[2017-02-25 12:23] markmacgillivray commented on #77
HI @wetneb I can make it so that the DOI is automatically passed into that page and it runs the search, but the user would still have to sign in and provide a story to create the request - it can't go direct to a request page for that DOI, because at the moment we require user accounts to create requests. Unless @JosephMcArthur confirms he wants this to be able to create requests without an accoun

[2017-02-25 12:27] wetneb commented on #77
okay! I was expecting it to land on something like this: https://openaccessbutton.org/request/j5L47ukCaDWeLf2ML but apparently it's only available for requests that have already been made.

[2017-02-25 12:29] markmacgillivray commented on #77
@wetneb yes that's right, they only exist for requests that have already been made. I could auto-generate one, but it depends on the wider question of allowing anonymous requests - which is up to @JosephMcArthur

[2017-02-25 12:41] markmacgillivray commented on #77
@JosephMcArthur we should shift signup prodding to after request creation - allow users to come along, search, or go through the ineedthisdoi / @wetneb system, have a request automatically created if there is not one already existing, and THEN we ask them to give us an email address and a story, and sign them up for an account. And in cases where a request already exists, we ask them for email add

[2017-02-25 13:48] JosephMcArthur commented on #490
Just looking at the stats (72 emails missing /~200 requests managed) this is still one of our major roadblocks in processing - would you agree?

[2017-02-25 14:20] JosephMcArthur commented on #507
Right. Attached is a design for the account page suggested by @BaronBlackmore. It's much tidier.

Except the instructions, which aren't finished, and the inclusion of instructions for how to show your bookmarks bar I think it's wonderful.

[image](https://cloud.githubusercontent.com/assets/4953703/23331801/5b2b1246-fb65-11e6-9ec3-b48a041b7b8c.png)

[2017-02-25 14:22] JosephMcArthur commented on #507
Note, here are two draft gifs too:

![image](https://cloud.githubusercontent.com/assets/4953703/23331833/d2b9fe30-fb65-11e6-9a0b-bcdf55eb978d.png)

![image](https://cloud.githubusercontent.com/assets/4953703/23331836/d62c29bc-fb65-11e6-9fb9-e39bf42f9fc2.png)

[2017-02-25 14:55] markmacgillivray commented on #507
OK, but we also still need to change the button and instructions depending on browser type, and device type - so the complexity of the design is how it looks good in each different case.

[2017-02-25 16:40] JosephMcArthur commented on #490
Note: After using hunter.io 72 went down to 46

[2017-02-25 16:47] JosephMcArthur commented on #490
Okay, on a call we just devised a method for using pubmed & other search places to find out authors more recent publications & finding affiliation info.

[2017-02-25 16:51] natalianorori commented on #490
new technique discovered by Joe, If you can only find initials or the name and you are on a search email, find the author’s name and see the most recent publication from them, that will get you to their most recent institution and probably their email address.  (This works with Pubmed)

[2017-02-25 17:02] JosephMcArthur commented on #564
Can you take a first stab at this please? Good catch.

cc @chealsye

[2017-02-25 17:04] JosephMcArthur commented on #490
@natalianorori

 - [ ] run this new technique over our current missing email requests & report back.

[2017-02-25 17:08] JosephMcArthur commented on #426
Seems like no! closing

[2017-02-25 17:08] #426 closed

[2017-02-25 17:11] natalianorori opened #566 "Ways on improving the first contact email we send to authors"
we are not getting many responses from authors and we have already been managing the system for over two months. The first email we send to them is the first approach they get from the bottom, Joe and I have researched some email contact techniques here https://docs.google.com/document/u/1/d/1NhF_YAtF_0PFtBtt70s093_RllL1uirFOQ2TMWhCETE/edit

and have come to the conclusion to:
- [x] add the author

[2017-02-25 17:12] JosephMcArthur commented on #192
On /stats @markmacgillivray can we start to monitor:

* request email system open rate
* request email system dnrs
* request email system response rate (only click in the email)

[2017-02-25 17:14] JosephMcArthur commented on #566
@markmacgillivray do we need to update our current template to handle the first / last name change?

[2017-02-25 17:23] markmacgillivray commented on #566
It won't be possible to do that via template because some user accounts are going to have first names and some are not. This whole name thing is becoming a bit of a problem, really, and it is still not clear why we seem to swing from being strongly pro-anonymity to asking people for their names in even more detail, and to use in even more specific ways. But anyway, the only way round this is you'l

[2017-02-25 17:36] markmacgillivray commented on #559
No, location was disabled on the site, but still on bookmarklet and plugin. Maybe it should have also been disabled on bookmarklet and I missed that, but I have disabled it on bookmarklet now. Will change when we next update live site.

[2017-02-25 17:41] JosephMcArthur commented on #559
Do you mean you've updated & it's waiting to ship, or that you'll update it next time we update?

[2017-02-25 17:44] JosephMcArthur commented on #566
Yes, that makes sense. So, a name tag an email would use the following logic, prefer:

[first name] + [last name], then if not available
[full name], then if not available
[username], then if not available
[email]

[2017-02-25 17:48] markmacgillivray commented on #559
It's updated, waiting to ship

[2017-02-25 17:48] JosephMcArthur commented on #559
@svmelton can you test on dev please?

[2017-02-25 17:51] markmacgillivray commented on #559
A dev system bookmarklet will still use the live bookmarklet code - testing it won't show the difference. Making that change is harder than it is for other pages.

[2017-02-25 17:52] JosephMcArthur commented on #559
Ah! Okay, then can you notify when we next ship & we'll live test.

[2017-02-25 17:55] markmacgillivray commented on #507
Ah, I see there is more that shows up when viewing the issue directly than in the email - that was a bit confusing. Makes more sense now. gifs are good too.

[2017-02-25 18:10] JosephMcArthur commented on #507
Yes... the github email view sometimes is a let down.

On Sat, 25 Feb 2017 at 14:56 markmacgillivray <notifications@github.com>
wrote:

[2017-02-25 19:07] JosephMcArthur opened #567 "On the find loading spinner have a cute phrase about how we're searching thousands of sources for access!"
Could link to our new /sources page?

[2017-02-25 21:25] svmelton commented on #241
@markmacgillivray Can I test this from the test site, or do I need to pull the code repo?

[2017-02-25 21:33] chealsye commented on #566
@natalianorori That doc requires permission. Could you put it into the OAB folder?

I agree with the Open Access Robot removal.

Aren't we currently *requiring* users to provide first and last names before being able to make a request?

[2017-02-25 21:57] chealsye commented on #111
@JosephMcArthur Is it all right to slate this for the week of 6 March?

[2017-02-25 22:10] chealsye commented on #507
Proposed changes and gifs look good.

[2017-02-25 22:19] chealsye commented on #560
@JosephMcArthur What am I being assigned to do?

[2017-02-26 04:13] svmelton commented on #241
Ok, I downloaded the code from the repo and tried to test.

## Testing notes:
Tested on Firefox Developer 53.0a2 (2017-02-25) (64-bit)

### Logging In:
- When I tried to copy the token from my email, the system told me the token was invalid.
- No issues with clicking the link from the email
-Logging in seemed to create a "double log in" effect:
![screen shot 2017-02-25 at 10 51 41 pm](https://clou

[2017-02-26 10:29] JosephMcArthur opened #568 "Increase visibility of request pages in Google"
Right now a quick look has those pages on page 2 (when searching by the title). When you click through it actually redirects to /request rather than including the ID. Would be good to include a better description, figure out how to have the ranking be higher & have click through go to the page.

[2017-02-26 10:32] JosephMcArthur commented on #568
## 1 - found on page 1

* https://openaccessbutton.org/request/QoLqfuHtgosy8BR3p
* https://www.google.co.uk/search?q=Does+participating+in+the+national+bowel+cancer+screening+program+have+a+psychological+impact%3F&oq=Does+participating+in+the+national+bowel+cancer+screening+program+have+a+psychological+impact%3F&aqs=chrome..69i57.244j0j7&sourceid=chrome&ie=UTF-8

## 2 - not found

* https://openac

[2017-02-26 10:34] JosephMcArthur commented on #568
Unassigning folks, I'd actually like to look into this more!

[2017-02-26 10:36] JosephMcArthur commented on #560
Your thoughts on the above would be great! Sorry, I guess that isn't clear.

[2017-02-26 14:48] JosephMcArthur opened #569 "Requests made by undefined"
Seen a few of these: https://openaccessbutton.org/request/FqFEW4nJg7Xjdrxkm

In this case I could check their account and they weren't being asked for more details

[2017-02-26 14:50] JosephMcArthur commented on #527
Is this another example of the same issue?

https://openaccessbutton.org/request/FqFEW4nJg7Xjdrxkm

[2017-02-26 15:43] markmacgillivray commented on #527
yes

[2017-02-26 15:43] markmacgillivray commented on #569
There is a fix for this ready on dev

[2017-02-26 20:55] markmacgillivray commented on #527
In dev, if we have doi, pmcid or pmid we will build a link to the resource from that. If we appear to have title or citation, the link will just not work.

[2017-02-26 23:31] natalianorori commented on #566
sorry! the doc is already on the OAB folder

[2017-02-26 23:34] chealsye commented on #566
@natalianorori I don't have permission to view the file, so I don't believe the doc is already in the OAB folder.

[2017-02-26 23:52] natalianorori commented on #566
@chealsye can you check again now? Sorry!

[2017-02-26 23:57] chealsye commented on #566
Now I can, thanks!

[2017-02-26 23:57] svmelton commented on #560
Just a note that this is similar to what I documented in #241.

[2017-02-27 00:44] svmelton commented on #111
# Testing Notes
Tested on Chrome Version 54.0.2840.98 (64-bit)

## Testing Articles
Tested 3 articles:
https://figshare.com/articles/Discover_DH_Introduction_to_Digital_Humanities_Theories_and_Methods/4287263
-No issues, pulls up article in Figshare

https://figshare.com/articles/Timeline_of_Manuscript_Exchanges_between_Malmesbury_and_Cirencester/3990543
-No issues, pulls up article in Figshare

h

[2017-02-27 01:17] svmelton commented on #68
# Testing Notes
Tested on Chrome Version 54.0.2840.98 (64-bit)

## Testing Articles
Tested:

https://www.openaire.eu/en/search/publication?articleId=od_______229::1c38c4bce0484f8997b3cebc7a2f9722
-Found article in OceanDocs, one of the repos in OpenAire

http://www.oceandocs.org/handle/1834/1299
-Found article in OceanDocs, one of the repos in OpenAire

https://www.openaire.eu/en/search/publicatio

[2017-02-27 06:34] chealsye commented on #538
Hmm okay. I think we're going to have to have multiple different forms of it. Depends how integrated the uni service is. If the uni has ILL, what system they are using, if we can still send the info or the person then has to interact with the ILL system themselves (which if this is their first time using the uni Button there's a good chance they wouldn't again if it wasn't a positive experience).

[2017-02-27 07:05] chealsye commented on #566
How are we going to gather the author's name? Is this realistic to gather with requests?

[2017-02-27 07:34] chealsye commented on #567
I'll have a think. But /sources page? When was this created and when is the timeline for it to go live?

[2017-02-27 07:47] chealsye commented on #514
@JosephMcArthur What are you asking the 'library group'?

[2017-02-27 09:04] markmacgillivray commented on #567
I wrote it over the last four days. It would be good to put it live on Monday next week.

[2017-02-27 15:05] markmacgillivray commented on #68
Title search with apostrophe may be causing an issue with the last - check

[2017-02-27 15:12] svmelton commented on #111
@svmelton will test a few more articles with paywalls

[2017-02-27 15:12] markmacgillivray commented on #111
I will look at the title errors - sarah to continue testing with more DOIs

[2017-02-27 15:44] JosephMcArthur commented on #527
Can we have it not display a link if we don't have one

On Sun, 26 Feb 2017 at 20:55 markmacgillivray <notifications@github.com>
wrote:

[2017-02-27 16:34] markmacgillivray commented on #527
Done

[2017-02-27 16:42] JosephMcArthur opened #570 "Testing citation search"
@svmelton hopefully it should be relatively clear how to go about this (and builds on your work on other similar issues).

Assuming title search testing is happening #111

@markmacgillivray I don't think this is 100% required to ship in a week, if it's buggy we may be better placed to release it with care later.

[2017-02-27 16:44] JosephMcArthur opened #571 "/sources"
@markmacgillivray has made a pages on our sources: http://dev.openaccessbutton.org/sources

This has a similar role to: #484 , but may be a way to keep it more up to date.

Assigning Mark to keep editing / writing until he feels like the info required is on the page. Then @chealsye and others can edit / rewrite where is required.

[2017-02-27 16:48] markmacgillivray commented on #571
The info required is already on the page. The only bits needing filled in are which of the underlying sources you would like to specifically mention at the "such as..." part, and links to the full source lists of the aggregators we use.

[2017-02-27 16:59] markmacgillivray commented on #570
I think we would be better placed to release things we CAN do, and deal with bugs when they're found. Otherwise we risk having yet more features that get released by other people a year after we had them, and overshadowing ours whether better or worse. We can't delay with care for too long - we keep falling into releases that contain less than we have done.

[2017-02-27 19:41] svmelton commented on #68
@svmelton will test a few more articles

[2017-02-27 19:42] JosephMcArthur commented on #68
Much love for the third person here.

[2017-02-27 19:53] JosephMcArthur commented on #68
We don't use the reactions enough!

[2017-02-27 22:28] natalianorori commented on #566
Author's name are easy to find when we have the paper, there are only a few
cases in which we only get initials, but last names are almost always
there. Most of them have professional email addresses in which the name is
shown.

However, adding the author's name would have to be a manual process at the
moment

On Mon, Feb 27, 2017 at 2:05 AM, chealsye <notifications@github.com> wrote:

[2017-02-28 00:14] chealsye commented on #514
I spoke with the librarian who made the request/suggestion for a request system, he said, "Simple email notifications like you describe would be fine. If the notifications could include a link to the OAB record and perhaps some information about the work being requested, that would be ideal. I don't think we'd need any additional functionality beyond that."

[2017-02-28 00:33] chealsye commented on #566
OK - lots of individual, manual doing. It certainly is doable, but not sustainable with large growth. I think it would be worth trying now and see if it works while requests are manageable. Hopefully shortening the email and doing the personalized touch will contribute to positive requests.

[2017-02-28 01:00] chealsye opened #572 "Unable to copy sample DOI in /find box to test the Button"
Was the intention of adding a sample DOI to the /find box to allow users to test the Button out? This was my impression because an example url was requested and this appeared with the latest update, so I thought it was for that (but I could be wrong!)

![screen shot 2017-02-27 at 19 44 35](https://cloud.githubusercontent.com/assets/9299248/23386586/3d16133e-fd25-11e6-9390-f6fd4fe3bd87.png)

Howeve

[2017-02-28 01:01] markmacgillivray commented on #572
The dev site already has clickable examples, solving this issue.

[2017-02-28 01:05] chealsye commented on #194
Hmm. Honestly, I likely a) wouldn't report it b) tweet about it. I think an average user is likely not to say anything when they encounter a problem and perhaps not use the Button again.

However! now that the little orange help Button is there I, as a user, might be inclined to actually click it. (I was quite excited when I saw it while reviewing the dev site!).

I'm confused. What do you mean by

[2017-02-28 01:06] chealsye commented on #572
Ah okay, sorry, thanks.

[2017-02-28 01:06] #572 closed

[2017-02-28 09:54] JosephMcArthur commented on #194
Okay, from above I'd suggest:

- [ ] move the help box onto all pages - @markmacgillivray

With my suggestion, apologies it was poorly written & now I think probably not valid (since we're changing the workflow generally). But, your feedback is helpful none the less in understanding how you'd think about reporting.

[2017-02-28 11:31] JosephMcArthur opened #573 "Search box UX improvements from blog"
This seems like a helpful set of tips around creating search boxes. Do they provide any guidance for how we should design our system?

https://uxplanet.org/design-a-perfect-search-box-b6baaf9599c#.yemqz9ggg

[2017-02-28 12:49] markmacgillivray commented on #573
The only extras there that we do not have are an actual search icon - we've tried different search icons in the past and currently don't have one at all. I would rather have one, and am happy to use the traditional one if this is going to be acceptable to everyone.

The only other thing is autosuggest. Our search functionality already has autosuggest capability, and a lot more besides, but we have

[2017-02-28 13:03] markmacgillivray commented on #573
Interestingly the front page of google does not use a search icon at all...

[2017-02-28 14:53] JosephMcArthur commented on #560
So, when we get this implemented it would also be good to track how many things are in each repo. Then we could start a running twitter thing of "xxx more full text links in the button today", and "xxxx login pages avoided" etc. I think that would be easy and fun to do!

[2017-02-28 15:58] svmelton commented on #111
# Testing Notes
Tested on Firefox 51.0.1 (64-bit)

## Testing With DOIs
Tested https://figshare.com/articles/Diverse_Synaptic_Plasticity_Induced_by_the_Interplay_of_Ionic_Polarization_and_Doping_at_Salt-Doped_Electrolyte_Semiconducting_Polymer_Interface/4702660 (DOI https://doi.org/10.1021/acsomega.6b00392.s001)
-No issues

Tested https://figshare.com/articles/Synthesis_and_anti-inflammatory_study

[2017-02-28 16:27] markmacgillivray commented on #111
Yep, dev site formatting could be off, it is still in progress.

Regarding the one where the DOI cannot be found - there is not much we can do about that. When a publisher is given a DOI they are contractually obligated to ensure it resolves to the content it is supposed to resolve to, but if it does not, there is nothing we can do about it. In this case, it looks like the DOI itself is wrong - cr

[2017-02-28 16:31] markmacgillivray commented on #560
The availability checks record where they found something, but it is a record of the source that told us where it was - e.g. the source would be BASE, not an institutional repo. BUT we can infer the final sources from the domain names they are on, and that could already be queried from the data. It could be added to the stats page.

We have also previously talked about the API automatically tweeti

[2017-02-28 19:36] svmelton commented on #68
# Testing Notes
Tested on Firefox 51.0.1 (64-bit)

## Testing Closed Access Articles with DOIs
Tested https://www.openaire.eu/en/search/publication?articleId=webcrawl____::852e93e30217ede163d950f1edca5592 (DOI doi:10.1145/1778765.1778849)
-Behaved as expecting, giving me option to create a request

Tested https://www.openaire.eu/en/search/publication?articleId=webcrawl____::d01e64382bb4ae44a9d974d

[2017-02-28 19:51] JosephMcArthur opened #574 "Tweet @ Button"
Moved from #560.

@markmacgillivray if it's easy to do this, lets go for it. It'll be fun!

[2017-02-28 19:53] JosephMcArthur commented on #560
Moved your tweeting comments to #574.

In terms of the system described, how would we handle Citeseer? We often send people but only link to the splash page. The fix is:

Splash: http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.221.2601
Fulltext: http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.221.2601&rep=rep1&type=pdf

Here the change is in the middle of the URL & end.

[2017-02-28 20:23] markmacgillivray commented on #560
For these we would need two more columns - "REPLACE" and "WITH", before "SUFFIX". In "REPLACE" you put in the part that needs replaced, and in "WITH" you put in what to replace with. In this case it would be "summary" and "download" - and you'd still need to put "&rep=rep1&type=pdf" into "SUFFIX".

[2017-02-28 20:26] markmacgillivray commented on #560
An alternative, possibly simpler depending how you think about it, would be to use two columns called "SPLASH" and "FULLTEXT" and in those columns you put example splash and fulltext URLs for the same article. From this I could probably discern the differences of other URLs we saw like that.

Anyway, the exact details of what goes in the spreadsheet are less important than just agreeing that peopl

[2017-02-28 20:31] JosephMcArthur commented on #560
I can't see a downside to this:

* we can stop people going to urls we know are bad for specific articles
* we can link to full text way more often
* where repo's often contain login walls (or other things which block users) we can get better at detecting this & make case by case decisions on if we still want to use them.
* we can stop us getting researchgate from places like dissem.in when they t

[2017-02-28 20:49] markmacgillivray commented on #560
It could work for dissemin, but as dissemin is just a case of one URL, I have already added a filter on it for researchgate anyway.

[2017-02-28 22:40] JosephMcArthur commented on #560
Note to @meganwaps, where to start:
* availabilities spreadsheet (as discussed)
* Looking at our sources's biggest contributors (e.g who contributes the most articles to base etc
* issues flagging this problem

 - [ ] @markmacgillivray can we have a spreadsheet to start this that aligns with what you need.

We also need a way in that sheet, or a sheet, to record URL's we've tried to look at, but f

[2017-02-28 22:49] markmacgillivray commented on #560
@JosephMcArthur can you create the sheet, that way you can put it into whatever folder you all usually use to share access across the team, then give me the link. From that I can set the API to read it, and will put in the column names we can try.

For recording that you looked at a URL but could not find a way round, just put the URL in the sheet but don't fill in any of the other fields - then l

[2017-02-28 22:54] JosephMcArthur commented on #560
So... this is the URL: https://docs.google.com/spreadsheets/d/1Te9zcQtBLq2Vx81JUE9R42fjptFGXY6jybXBCt85dcs/edit#gid=0

Can you build the sheet as you need it? Just not clear which version of the above you plan to use.

[2017-02-28 23:20] markmacgillivray commented on #560
OK I have added some column headers and put notes on them, it is not quite the same process as above, but should be pretty obvious. Try it and see - if it does not work out we can make tweaks later. Stick the nerc example in there, the one above that kicked off this issue, and once you have I will hook it to the API and we can see that the API should no longer direct us to that URL that requires a

[2017-03-01 03:44] chealsye commented on #567
Okay! So, I'm chatting with @meganwaps about this because I hit a wall with being funny and clever. She said, "I think it could be something we could change every so often to keep it fresh" and then lightbulb! what if we had multiple funny, short, cute phrases that rotated with every use? It would be fun, something different (mostly) with every request. Would that be possible, @markmacgillivray?

[2017-03-01 04:13] chealsye commented on #567
@JosephMcArthur Here's [a doc of phrasing ideas](https://docs.google.com/document/d/18yPQNgBuk33M8cgv8wRxbAOjZGw6bKDeoDmCtKRL6dk/edit). 99% credit to @meganwaps who is way funnier than I am!

[2017-03-01 08:41] JosephMcArthur commented on #560
Okay, assigning @meganwaps to take this forwards

[2017-03-01 09:15] JosephMcArthur opened #575 "On dev articles being linked to whole journals"
I'm guessing this is something to do with the DOAJ?

From

to

[2017-03-01 11:58] markmacgillivray commented on #575
Yep, this is a question of how wrong you want to be.

From DOAJ we can find that a journal is open access - that means if we told a user the article is not available and to start a request, we would be wrong, and we would be wasting time trying to request something that is already available.

Unfortunately, although we can know the journal is OA, we can not necessarily know a link to the article.

[2017-03-01 13:55] markmacgillivray commented on #569
This is no longer on dev. Let me know the priority of it and which milestone it should be completed within.

[2017-03-01 13:56] markmacgillivray commented on #571
Removed from dev. Please make strategic decision if sources page is required or not, and if so please let me know what technical content is required.

[2017-03-01 13:57] markmacgillivray commented on #566
Please do not reassign me until agree within a starting milestone.

[2017-03-01 13:58] markmacgillivray commented on #562
Unassigning me, I cannot progress it until decision made on firstname/lastname content, and sheet provided. Please move to appropriate future milestone once ready.

[2017-03-01 13:59] markmacgillivray commented on #555
Unassigning myself - please discuss assignment at milestone start meetings.

[2017-03-01 14:00] markmacgillivray commented on #549
No further progress possible, re-open if more evidence found.

[2017-03-01 14:00] #549 closed

[2017-03-01 14:00] markmacgillivray commented on #548
Please review first with team, and decide how to fit with UI, or have designer decide.

[2017-03-01 14:02] markmacgillivray commented on #575
Please make appropriate strategic decision around how to handle this - if not desirable, I will disable DOAJ lookup. Will require decision on how to present different findings on site UI and plugins and bookmarklets.

[2017-03-01 14:02] markmacgillivray commented on #543
Presumably solved by checking DOAJ, but see #575

[2017-03-01 14:02] #543 closed

[2017-03-01 14:05] markmacgillivray commented on #523
Requires decision on presentation of such information in emails and on site, and team agreement on what this functionality is for and should do. No technical progress possible at this time.

[2017-03-01 14:07] markmacgillivray commented on #518
UI decisions required here. No technical progress possible.

[2017-03-01 14:09] markmacgillivray commented on #498
Please reassign me once content and page design are confirmed.

[2017-03-01 14:10] markmacgillivray commented on #489
Page content, not my area of ownership. Please assign me when there are specific technical questions I can answer

[2017-03-01 14:11] markmacgillivray commented on #474
This is possible but requires design and content decisions for surfacing it on the UI

[2017-03-01 14:13] markmacgillivray commented on #470
Please decide content / imagery to be used here then reassign once available.

[2017-03-01 14:13] markmacgillivray commented on #471
Already done.

[2017-03-01 14:13] #471 closed

[2017-03-01 14:14] markmacgillivray commented on #440
This is technically possible now. Please decide where to be surfaced on the UI, e.g. copy and design, then reassign me once we agree a milestone to complete it in.

[2017-03-01 14:15] markmacgillivray commented on #435
Done

[2017-03-01 14:15] #435 closed

[2017-03-01 14:15] markmacgillivray commented on #428
Can probably be closed.

[2017-03-01 14:16] markmacgillivray commented on #427
Please decide copy / design changes for this. Technical capability already exists. Reassign me once ready and planned into a milestone.

[2017-03-01 14:17] markmacgillivray commented on #425
It is not clear yet from the above what I am to technically implement. Please review and confirm, then reassign once ready.

[2017-03-01 14:18] markmacgillivray commented on #414
This is mostly UI decision - where the URL should appear, accompanying content, styling etc.

[2017-03-01 14:20] markmacgillivray commented on #354
Anyone doing copy can do this

[2017-03-01 14:22] chealsye commented on #427
We never reached an agreement that this should happen. Either way this copy is the request system and no longer mine to write. @natalianorori, do you want to take it? Can @JosephMcArthur confirm that there's been an executive decision to try this out?

[2017-03-01 14:24] markmacgillivray commented on #194
This was on all pages, then moved to just account and response pages at request of @JosephMcArthur. Please confirm where help is supposed to appear. Either I can move it, or anyone who can edit the content can move it.

[2017-03-01 20:53] svmelton commented on #112
# Testing Notes
Tested with 51.0.1 (64-bit)

## Testing Open Articles by URL

- Tested https://share.osf.io/creativework/4608C-F67-2B4
Was taken to item in MLA Repo (https://hcommons.org/deposits/item/hc:11297/), a source that is found in SHARE but not in other repos as far as I can tell, so request seems to be functioning as expected

- Tested https://share.osf.io/preprint/4617D-58D-FEE
Received

[2017-03-02 01:13] natalianorori commented on #566
I agree with you Chealsye, once the system gets more request, adding the name manually will be an issue.

Since we agreed on removing the Open Access Button Robot signature, can we change it to "sincerely, the Open Access  Button" or "sincerely, the Open Access Button team" on the templates displayed by the request system so I don't have to delete the word "robot" manually?

[2017-03-02 01:25] chealsye commented on #566
Natalia, I left comments on the proposal doc you wrote for changing the way we message requests. One of the suggestions was to actually sign our names. So, instead of the robot or team, it'd be you! Of course as a standard it may not be you -- someone else will eventually need to help on requests (although tbf there could be two drafts with different signatures). But it could be a way of being mor

[2017-03-02 03:02] natalianorori commented on #566
Chealsye,

yes, I totally agree with signing with a name (in this case, my name). So I can start doing that if its ok with @JosephMcArthur . We can stick with Kind regards instead of sincerely, or if anyone has other ideas of closure phrases I am open to sugestions.

I am not sure if I can edit the templates, lets wait til Joe wakes up to see what he thinks

again, a billion thanks for helping me

[2017-03-02 03:18] chealsye commented on #566
Great! Yeah, the text can always be adjusted. What's your title? Might be worth including as context (or adjusting it a tad). I also commented on your idea of having emails from Joe - I think it could be a great, compelling follow up email that he signs. So, maybe we can get 'persona' emails going that come in at different stags; Natalia, the awesome request system manager that excites authors wit

[2017-03-02 07:24] JosephMcArthur commented on #566
Changing from what we have now to names is fine. We can eventually have it input the name of the person sending it (and their title) automagically. Happy to do the actual edit on github if people aren't comfortable (but it's possible for everyone to!).

My suggestion with author names in the email is if we can do it now, lets do it (as we think it'll be nicer). If we can't do it later, we'll chang

[2017-03-02 14:07] chealsye commented on #566
There have been no email drafts yet. I'm happy to do the first draft, but I thought I wasn't supposed to.

[2017-03-02 14:42] JosephMcArthur commented on #566
In terms of this first email I asked @natalianorori to do some general research / idea gathering on email writing & what others are doing. This was with the idea we might follow a radically different route if that makes sense, or test many alternatives.

@chealsye please always feel free to rewrite / draft things if you think they need improvement - including in this case

I'd suggest that if we h

[2017-03-02 19:15] natalianorori commented on #566
@chealsye  @JosephMcArthur  yes, The document was just general research and you are always welcomed to edit it, maybe in the future we can come up with a new template.

at the moment, I am going to start implementing the changes we agreed with, Greeting the author by it's name and signing with mine or whoever handles the request. I tried it yesterday with a few requests and got the quickest respon

[2017-03-02 19:20] natalianorori commented on #545
How should the handbook for libraries be different from ours? We currently have an onboarding document (OAB 101) which explains more about the button and our Request System Guide which focuses only on the request system.
 if we are going to have a handbook for external groups, should we include on it more general info on general stuff instead of jumping directly to the system management?

[2017-03-02 19:22] natalianorori commented on #528
I was thinking about changing the status from "help" to "hold" once we notify the user that we are missing the email. However, this would only apply to old requests since I am trying to handle the new requests on "help" status immediately. @JosephMcArthur

[2017-03-02 20:32] natalianorori commented on #566
@JosephMcArthur I tried to make the changes to the templates on github but I got a message saying that I must be on a branch to make those changes.
Could you do the edit on github for me? thanks!

[2017-03-02 20:46] natalianorori commented on #475
@JosephMcArthur nudging you on this since I am blocked and currently managing old requests (which often don't have a story)

[2017-03-02 21:00] natalianorori opened #576 "filtering requests by date"
or by year range, this would simplify managing old requests. This is not urgent or needed immediately, but would be good in the future

@JosephMcArthur

[2017-03-03 17:44] svmelton commented on #566
@natalianorori @chealsye I'll be working on author tests the next couple of weeks. Let me know if you have a draft ready to go and would like me to test and get feedback on.

[2017-03-03 17:52] chealsye commented on #566
@svmelton Thanks for the heads up, Sarah! I have 'write a draft' on my to do list tomorrow, so between back and forth editing I imagine we'll have a solid new email within a week.

[2017-03-04 18:35] svmelton commented on #570
@JosephMcArthur @markmacgillivray Are there examples of citation formatting? (I think there used to be on the test site.) I ask because there are a ton of different citation systems and they'll all be formatted differently. It would also be helpful to know which citation elements (author, title, name of publication, etc.) to test.

[2017-03-05 03:40] chealsye commented on #523
Copy for the notification is here: https://docs.google.com/document/d/1y19iEfhx8kB_FpextMJzYkIVAVpodgJXjzs8f7iwgS8/edit. @JosephMcArthur, review?

What would be the frequency of notifications? Every single time? Or grouped by a certain time frame? Should we do a simple sign up form? How will they unsubscribe from the notifications?

[2017-03-06 04:04] chealsye commented on #566
A first draft of the email is here: https://docs.google.com/document/d/1BJ-6BvCTsB2KGqaUtYnWVJylrVQSSY64UK4i6_Tz-pM/edit.

Would love feedback on it, especially @natalianorori if you think the new phrasing works with the request system as you know it. I think it would be a good idea to have a tweaked version for data.

[2017-03-06 11:15] JosephMcArthur opened #578 "Publish requests in RIO"
While speaking to @Daniel-Mietchen about requests, and wanting to make them part of the scholarly record he suggested we might be able to published a roundup in RIO.

[2017-03-06 11:36] JosephMcArthur commented on #475
I'd suggest shipping the new author email ASAP (even if not 100% happy, it
looks good) and then using that as the basis for this.

On Thu, 2 Mar 2017 at 20:46 Natalia Norori <notifications@github.com> wrote:

[2017-03-07 00:00] natalianorori commented on #566
I don't know why I can't access it, is this on the OAB folder?

[2017-03-07 03:04] chealsye commented on #566
@natalianorori It is in the Open Access Button folder under the copies (Comms and Advocacy > 2016 - Present > Copy Drafts > Emails) ... but you aren't listed as a person with access to the item, which is very weird. I've added you, but I think we need to double check your ability to view the whole OAB folder and it subfolders because something funny is happening...

[2017-03-07 04:48] natalianorori commented on #566
I am now able to, I was before but don't know what happened during the last days, weird but fixed now:)

I added comments on the email which by the way I think is such an improvement and will definetly help increase the response rate we get from authors. any comments and thoughts from everyone else are appreciated. @OAButton/team

Thank you for doing this copy @chealsye

[2017-03-07 23:04] natalianorori commented on #566
I think the template is ready, both me and @chealsye left comments and we seem to be on the same page. @JosephMcArthur can you please give us your feedback asap? so we can start using this as soon as possible

[2017-03-07 23:07] JosephMcArthur commented on #566
Look great, need me to upload?

[2017-03-07 23:16] natalianorori commented on #566
yes please!

On Tue, Mar 7, 2017 at 6:07 PM, Joseph McArthur <notifications@github.com>
wrote:

[2017-03-09 18:25] natalianorori opened #579 "Need a new email "we saw you tried to make a request but the link you sent us is broken".. etc"
For when requests link to invalid websites, or to nowhere

[2017-03-13 03:06] chealsye commented on #498
Sorry it took so long to get back to this on my to do list. I've revised the copy I previously saw and copied, which is below. Unfortunately, I am unable to view these pages though and cannot complete suggestions exactly for how to make it easier to ask a question from this page (unless you simply want to give instructions to email), or see the author view and how they share the url.

_Article req

[2017-03-13 04:10] chealsye commented on #566
@JosephMcArthur Did this get up?

[2017-03-13 04:17] chealsye commented on #511
I think for follow up emails we should try two styles:
1) Friendly nudge by Natalia, short, sweet, friendly
2) Joe's "testimony" about why he created the Button - an email suggestion that Natalia included in her ideas

[2017-03-14 03:26] chealsye commented on #499
Finally returning to this. Honestly, I say bring Sam in for the design. It needs a big redo to be pleasing.

If I were to copyedit this though I'd cut most of it. Instead making the embed say,

2 people have requested access to the article/data related to title

Add Your Support

Open Access Button does not need to be anywhere, but if it does a strip at the bottom could work.

[2017-03-14 09:52] JosephMcArthur commented on #475
Just reopening to be sure here, has it been decided & copy uploaded for an email that is similar to the new first email but just doesn't have the line about the story?

Closed if so

[2017-03-14 09:55] JosephMcArthur commented on #566
Yup! I think this can be closed, for now.

[2017-03-14 09:55] #566 closed

[2017-03-14 16:40] chealsye commented on #475
@natalianorori said in a document comment, I believe, that she would simply remove that sentence from the new email to the author. It is an easy edit for her, so the problem is currently solved but we may discover another route in the future.

[2017-03-14 18:33] JosephMcArthur opened #580 "New Look & UX"
This is a big'un. The objectives of this are to:
* make UX simpler (our friends at oadoi have shown how simple things like this can be, and we shouldn't be afraid to learn a thing or two!)
  * removing the need for a user to chose if they want articles / data before requesting (we'll guess for them). This removes several pages.
  * removing need to sign up on a page separate to a request page
  *

[2017-03-14 21:50] markmacgillivray commented on #580
# 1

* having an input box (small one line) rather than a textarea box (bigger multiline) is bad if we want to enable title and citation searching - it just is not big enough. That's why I have been going toward using textareas in the recent developments I had done.

* we still lack clarity on how it will be explained what it is that a user can put in this box - without instructions, even our own

[2017-03-14 22:18] svmelton commented on #580
# 1

* I like the blue logo tbh
* Have we done away with searching by title for the moment?
* I agree that the plugin needs to be visible.
* I'm not sure about the Request tab on the front. I think "request" might be confusing for someone new to the site. (This would be a great area to do some user testing on!)

# 2

* I think we could make the Chrome store icon a little smaller, but I like the si

[2017-03-14 22:32] markmacgillivray commented on #580
As Sarah mentioned chat, I'll just add that I hadn't noticed that. I'd agree with her that I'm not sold on chat. Without a clear use case as to why it's needed on our site, it's a gimmick. Even if we think it may lead to useful community building, if we're not clear on how or why, then all we'll end up doing is building a demand for something we'll have to maintain, with no additional benefit towa

[2017-03-15 03:49] natalianorori commented on #475
@chealsye yes, that's right. This is my suggestion and from my point of view, the easiest solution at the moment. We could see how this works and re-evaluate it in the future.

[2017-03-15 03:59] natalianorori commented on #511
I'd go with the friendly nudge, and what we can do is try sending the nudge
from my personal OA button email address ( natalia@openaccessbutton.org )
So that the author's can see we are actually real persons

On Mon, Mar 13, 2017 at 12:17 AM, chealsye <notifications@github.com> wrote:

[2017-03-15 14:17] markmacgillivray commented on #580
@JosephMcArthur front page on dev now matches the new design. I need a better quality version of our logo in the blue please!

[2017-03-15 14:20] markmacgillivray commented on #580
by the way I mean just the look of the front page when you land on it - no functionality yet, so if you try searching it will go weird. Working on that now.

[2017-03-15 15:45] JosephMcArthur commented on #580
Only commenting on areas where it seems needed (i.e places where there are Q's / differences of opinion)

# 1

I don't think a big box is an option. Perhaps we need to either:
 * have the box expand on input (if needed)
 * just search as soon as you put something in the box (I like this, it's how google does it!)

* I feel like some clever "learn more" link, as you currently have, is _probably_ th

[2017-03-15 15:54] markmacgillivray commented on #580
@JosephMcArthur I have already made it a small box that expands, see the dev site front page. I don't think it is as usable as a proper sized box, but best compromise.

We can't search immediately like google does, because we cannot do partial searches on the beginnings of inputs, and we cannot show potential results before processing the full string we are given - there is no such thing as a pote

[2017-03-15 19:44] JosephMcArthur commented on #511
For now, can we try and do follow up with authors who got our original first email (the long one) with something a lot like our new first email? I'd like to get that message out to as many authors as possible.

[2017-03-15 19:49] JosephMcArthur commented on #475
@natalianorori is it helpful to make a template for this too? Just so you don't need to remove the line each time! Will only take a second. :)

[2017-03-15 19:57] chealsye commented on #511
Ooh! That's a good idea, Joe! I'll draft something tonight and share it if
that works?

On Wed, Mar 15, 2017 at 3:44 PM, Joseph McArthur <notifications@github.com>
wrote:

[2017-03-15 20:04] JosephMcArthur commented on #511
Please!

On Wed, 15 Mar 2017 at 19:57 chealsye <notifications@github.com> wrote:

[2017-03-15 22:00] chealsye commented on #580
Overall I am SUPER excited about this new look and it is very close to what I’ve been wanting for a long time.

I’m not a fan of the font though.

#1
* I’m on the fence about the blue. It is nice in many ways, but it is a big shift and was for ODB. I personally hate the color when it is used in large spaces and think it is hard on the eyes (fine for a logo, but not for large icons or background wh

[2017-03-16 01:01] markmacgillivray commented on #580
Regarding @chealsye comment about not liking the font - I don't know which font the designer used, so the dev site is currently being done all in Roboto.

Latest progress - the dev site now has a requests page that attempts to merge the new style with the functionality we had. I have kept the different colour backgrounds to the requests, as that seems very useful, but if nobody else wants them I w

[2017-03-16 02:59] chealsye commented on #501
Returning to this... maybe "Write X words then click here to submit your request." Some people don't know you click there. Or it could just change to Click here to submit once they hit the words?

[2017-03-16 03:53] chealsye opened #581 "Request forms that don't require accounts"
Was talking with Joe about handling requests without requiring an account. I'd like to propose the following ideas for discussion and experimentation:

In the request form we simply need to ask users to provide:
- **Email address** (so we can notify them - rarely would there be an issue with providing it)
- **First Name** (Last name isn't used in request emails to author. I think we should conside

[2017-03-16 04:47] natalianorori commented on #511
thanks Chealsye!

On Wed, Mar 15, 2017 at 4:04 PM, Joseph McArthur <notifications@github.com>
wrote:

[2017-03-16 04:52] natalianorori commented on #475
yes !! here is the template
https://docs.google.com/document/d/1C3asYRSbm0a1hww1yAsi9q2R4w7LU2Dwd95fnJNCuf0/edit

thank you Joe

On Wed, Mar 15, 2017 at 3:49 PM, Joseph McArthur <notifications@github.com>
wrote:

[2017-03-16 13:12] markmacgillivray commented on #581
Isn't this already part of what we're discussing in #580? I'm putting updates there as I make changes to the dev site. At the moment I am working on the 2-3-4-5 workflow, and the idea is to create a new request as soon as a user searches for something we can't find, and that request can then be populated by the user providing data. This means that anonymous requests will get created, and that the

[2017-03-16 13:27] chealsye commented on #581
@JosephMcArthur told me to put it on github, so I put it on github.

[2017-03-16 13:34] markmacgillivray commented on #581
OK, it's now referenced from #580 as well so I'll keep adding updates there.

[2017-03-16 15:05] markmacgillivray commented on #580
2-3-4 workflow pretty much done, I need to add links to the plugin to the intermediary pages that show results / support / new request buttons.

I am now just working on automating the process of creating a request, and then showing the new request page, which includes using the new style for displaying a request. This should be finished today, then that will be all points implemented, ready for f

[2017-03-16 22:12] markmacgillivray commented on #580
2-3-4-5 workflow pretty much all done now, the new request style can be seen when viewing any current request. Creating an actual new request may still not quite or always work as expected, but is just about there. I have kept the colour themes of the different requests status, from the overall request search page, and incorporated them into the individual request page design. Admin functionality

[2017-03-17 00:54] chealsye commented on #511
Hey Natalia and Joe,

Apologies for not sending this along last night - I've created a new rule
for myself with no Button work after midnight and I didn't get to the email
in time!

Here's a draft of the email, which will be used to follow up with authors
who received the original and longer request email:
https://docs.google.com/document/d/1k3z6GOp9Cgk-KQWE3JxGuNE6EWYuJDVyhPYVegqx8bY/edit

Best,

[2017-03-17 01:37] natalianorori commented on #511
Hi Chealsye,

Thanks for the draft! I agree with the email content. However, based on Sarah's feedback, I think we should explore and discuss different options for the email title. It's important to call author's attention and avoid being confused with spam. Authors like to know the importance of their work and our title should show them that we think it is really important!
So some suggestions fo

[2017-03-17 01:50] chealsye commented on #511
Could you add comments to the document instead?

On Thu, Mar 16, 2017 at 9:37 PM, Natalia Norori <notifications@github.com>
wrote:

[2017-03-17 15:52] markmacgillivray commented on #580
The workflow is now complete - it should be possible to test by dropping in URLs to articles and seeing that it either finds them or displays links to open requests or automatically creates a new request. When the user is logged in the request is allocated to them, when not it is created anyway and the user is prompted to login / signup and take ownership.

When a request lacks title or author ema

[2017-03-17 16:08] markmacgillivray commented on #580
We also need a decision on what to do about names - proposed in #581 to just collect first names when creating a request, so given that we can create anonymous requests and then have a user sign up, what name parts do we actually need?

This seems to have gone round in circles along with the question of anonymity in the first place.

My position is still that anonymity is a weaker form of communit

[2017-03-17 16:10] markmacgillivray opened #582 "Creating anonymous requests via the plugin"
Now that we can allow anonymous requests, it could also be possible to allow anonymous requests via the plugin, and even remove all need for identification in the plugin.

So that is a decision to make.

[2017-03-17 16:14] markmacgillivray commented on #575
DOAJ lookup is still done, but if only finding a journal URL it no longer gets shown as an article URL. The data is in there for us to do something with later, but for now, if a journal appears to be open but we cannot find a link to the article, then it is still assumed to be closed. Also, I found evidence of journals listed as open in DOAJ but for which the articles cannot be found openly anywhe

[2017-03-17 16:14] #575 closed

[2017-03-17 16:19] markmacgillivray commented on #576
This is the sort of feature that is already possible in the code we have, and which I have tried to introduce at various points on dev. But we have never got to the point of having agreement on feedback as to how to move dev experiments to live, and as we know from recent experience, these attempts often do not go well with the team.

So, this is just a note to confirm this is easily done, and all

[2017-03-18 20:36] natalianorori commented on #511
It's in the comments now :)

On Thu, Mar 16, 2017 at 9:50 PM, chealsye <notifications@github.com> wrote:

[2017-03-18 20:37] JosephMcArthur commented on #582
This would allow us to show the bookmarklet without needing an account, right?

[2017-03-18 21:24] markmacgillivray commented on #582
Well, the bookmarklet is separate from the plugin, but yes the same is true there. If from bookmarklet or plugin we open a page to the new request, then users who are signed in would get their request assigned to (owned by) them automatically, and users not signed in or not yet with an account would still see the new request and the prompt to sign in / sign up to take ownership of it. Then the plu

[2017-03-18 21:34] JosephMcArthur commented on #111
Got a linkage via figshare here which is off:
* https://figshare.com/articles/Replication_induced_DNA_damage_after_PARP_inhibition_causes_G_sub_2_sub_delay_and_cell_line_dependent_apoptosis_necrosis_and_multinucleation/1569277
* http://science.sciencemag.org/content/355/6330/1152

[2017-03-18 23:21] JosephMcArthur commented on #580
Okay, I've taken a look today. Sadly I couldn't think everything through but my first wave of changes would be

# General

* Let's remove the large footer & replace with something really really tiny. Let's shoot for:

"Our code is Open Source and on Github | Blog | Twitter | Feedback | About"

# Homepage

- [ ] Lets move "Paywalls avoided. Research data, shared." up to the logo area. There is no r

[2017-03-19 11:41] JosephMcArthur commented on #287
Random note, this: http://kizu514.com/blog/manifest-json/

[2017-03-19 15:24] chealsye commented on #513
@natalianorori can you review the comments and make any needed edits and then let @JosephMcArthur know when its good to upload?

[2017-03-19 15:25] chealsye commented on #564
@natalianorori Is there a draft of this?

[2017-03-19 15:26] chealsye commented on #511
@JosephMcArthur Can you overview the proposed text? I think we're good to go unless you have suggestions and we can go with @natalianorori's subject line suggestion.

[2017-03-19 15:31] chealsye commented on #475
@JosephMcArthur is this up?

[2017-03-19 15:38] chealsye commented on #235
@JosephMcArthur Can we do this now in this next few weeks now that we will announce?

[2017-03-19 15:42] chealsye commented on #571
Noting that this edit is being used for the new Copywriter and Communications Assistant application test and not being done by me. We should have copyedits within a week.

[2017-03-19 16:28] chealsye commented on #202
This has been added to #498.

[2017-03-19 20:10] JosephMcArthur commented on #580
# Request page

I've gone back to a one column approach, but trying to keep some of what I've added.

## When just made

![request page concepts 1](https://cloud.githubusercontent.com/assets/4953703/24084330/15b1513a-0ce0-11e7-988a-8f4d5790bf17.png)

## Anonymous request

![request page concepts](https://cloud.githubusercontent.com/assets/4953703/24084324/05c4176c-0ce0-11e7-8e29-5d205eba29e9.png)

[2017-03-19 21:21] chealsye commented on #580
I'm not sure what it is, but I keep looking at your mockups, and they still lack the 'oompf' we were talking about yesterday. It is a lot of text. But they are a step in the right direction, focusing on calls to action for the user.

I'd like to hear others' thoughts regarding the background color.

Regarding anonymous requests - anonymous requests are simply people not giving us a name and affili

[2017-03-19 21:39] JosephMcArthur commented on #580
+1 step in the right direction but still lacking oompf. I don't envy Sam, I'm going to just have to ask him to figure out what oompf is, and how to add it. @OAButton/team ideas on this are worth their weight in gold.

tagging @OAButton/team

FYI, in my image the email shown is the authors, sorry that's not clear!

[2017-03-19 21:44] markmacgillivray commented on #580
I like the background colour, i think it works well.

At the moment not even user email is required for anonymous requests. We can't require it because oadoi and oabot and other services that want to create requests may not have a user email to give us.

However an anonymous user gets prompted to take ownership. This directs them via login/signup where we collect their email address. We can also a

[2017-03-20 21:36] natalianorori opened #583 "System fails to identify the last characters of email addresses"
at first I thought this was a problem with old requests only, but I had to manage requests with missing characters again today. see attachments
![screen shot 2017-03-20 at 4 32 12 pm](https://cloud.githubusercontent.com/assets/20844934/24122819/b435ee8e-0d93-11e7-9fcf-c380c9add76e.png)
![screen shot 2017-03-20 at 4 32 31 pm](https://cloud.githubusercontent.com/assets/20844934/24122820/b47760c6-0d9

[2017-03-21 15:31] natalianorori opened #584 "When I scroll down on the request page, the side bar used to filter requests isn't displayed correctly."
I've tested this in both chrome and safari. when you scroll down the side bar used to filter request isn't displayed completely, which makes it hard to filter requests when you're halfway through the list. see screenshots
![screen shot 2017-03-21 at 9 31 42 am](https://cloud.githubusercontent.com/assets/20844934/24155325/e5582996-0e29-11e7-87db-306decd9b621.png)

@JosephMcArthur @markmacgillivray

[2017-03-22 00:38] markmacgillivray commented on #534
Yes, available can link to library search - we actually also get more info about where the thing is, but that was removed from what the bookmarklet displays. To link to the library, all I need to know is the URL of their library search.

For the icon colours, they can basically be absolutely anything they want. Probably have to decide if we're going to keep the bookmarklet looking as is for this o

[2017-03-22 00:39] markmacgillivray commented on #530
Fixed this one, updated the demo page change log

[2017-03-22 00:39] #530 closed

[2017-03-22 00:39] markmacgillivray commented on #533
Did this, easy UI change, updated change log

[2017-03-22 00:39] #533 closed

[2017-03-22 00:44] markmacgillivray commented on #536
Unfortunately this can't be fixed without further info - the DOI in the URL is incomplete, so I can't tell what the original source was meant to be. The doc from Imperial doesn't say either. If it was wrong on sagepub, there is little we can do. But if we can find out the source, I can check to see if it was us extracting it wrong.

Putting this issue back to @JosephMcArthur to ask in the email to

[2017-03-22 00:49] markmacgillivray commented on #537
Has been fixed during the various source updates. Now links to the correct item at http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.695.5934

[2017-03-22 00:49] #537 closed

[2017-03-22 00:56] markmacgillivray commented on #535
Added as statement on the bottom, with bold names that are links as well. Can add as logos, but as we need to probably do a full redesign of UI, for now this demonstrates it can be done easily enough, and looks reasonable as is for now.

[2017-03-22 00:56] #535 closed

[2017-03-22 00:58] markmacgillivray commented on #541
Added as comment to the change log on index page

[2017-03-22 00:58] #541 closed

[2017-03-22 01:13] markmacgillivray commented on #540
Done

[2017-03-22 01:13] #540 closed

[2017-03-22 01:45] markmacgillivray commented on #539
Text done, need to know link to Primo that they want to use, and to complete the terms and conditions I need to know what comes after etc... - I thought this was supposed to be a link out to terms, because fitting them all in there will be clunky. For the available locally - not the right item option, after the user clicks available locally they will go off the page, if they've not already seen th

[2017-03-22 01:50] markmacgillivray commented on #561
This was solved on the dev branch, but has never yet gone to live. When we do push to live, that should fix. Unassigning and moving out of sprint but keeping open just in case

[2017-03-22 02:49] markmacgillivray commented on #544
These two are irrelevant being sent by us because if always the same they can be decided by the script at the Imperial side (we can set them to be whatever value they tell us to set them to, but that is a pretty circuitous way round) :
* The system will assume they'd like an article
* We'll request digital delivery

This is added:
We'll pass the URL the user was on into a field of your choice

The

[2017-03-22 03:28] markmacgillivray commented on #531
I have improved our search of Primo.

For the first one the journal is now found in primo search but does not have any info about where it is in the library.

The assumption from the journal Science and its result in Primo is that if it has a "library" object then it is in Imperial library - e.g they hold copies somewhere. This field does not appear for Learned Publishing - the journal of the firs

[2017-03-22 03:30] markmacgillivray commented on #536
Update - found this one during testing of the DOIs that had failed to find a sub, and I think this problem should not come up any more. When we find the sub, the blue button now just tells the user to sign in to the page they are looking at to get sub access via their library, and clicking the blue button just closes the bookmarklet. So, this can be closed as fixed, but will leave open for you to

[2017-03-22 10:29] #519 closed

[2017-03-22 10:31] #532 closed

[2017-03-22 10:39] #536 closed

[2017-03-22 16:30] JosephMcArthur opened #585 "paper title in request url for seo"

[2017-03-22 16:31] JosephMcArthur opened #586 "sensical form names so browser can autofill (e.g email / first name / last name)."
most of our fields are auto-fillable on most browsers but they don't as we have them be odd names. This would make sign up even more trival

[2017-03-22 16:32] JosephMcArthur commented on #580
![request flow v2](https://cloud.githubusercontent.com/assets/4953703/24208663/1489f7a6-0f1c-11e7-8eee-e008ab703376.png)

# Notes from @BaronBlackmore

After the user makes a request, they land on page 1, the discovery page, where they can put in their email to start a request. the bar on the right then will go up by 1.
if the user continues to request to contact the author, the signup is included

[2017-03-22 19:13] svmelton commented on #580
# Hot Takes

- I love the idea of a changing color/gradient if the request is or is not fulfilled.

- I'm intrigued by the "request levels."

- +1 on the opensyllabus idea from Joe.

[2017-03-22 23:03] markmacgillivray commented on #580
The designs with full different background colour and a banner image across the top are good. If these can be agreed asap, they can be worked into the new site.

Regarding the opensyllabus /requests page - I'd prefer to have some decision from the team on what actual functionality either the team or the user stories support. Then, if those fit a particular design that we like, we should go with th

[2017-03-23 04:11] natalianorori commented on #513
@chealsye @JosephMcArthur I made some edits. If everyone is happy with it I think its good to go

[2017-03-23 04:25] natalianorori commented on #564
here https://docs.google.com/document/d/1i3_mURvK626qAQVLGcnIqOs8XjGXiNHbSRLuUUkqKQo/edit
@chealsye

[2017-03-23 05:52] natalianorori opened #587 "stats for the request system"
We are at a point in time in which we are finally stable with the request system. @chealsye and I have worked on creating new copy for emails sent both to authors and users, and have started testing the response rate we receive by them.

 We have around 6,000 requests in the system, which can be used to test the different approaching techniques to authors and see the response rate we get from them

[2017-03-23 06:07] natalianorori commented on #576
Hi @markmacgillivray ,

Just following up with what we've talked through email here.
Basically, the main reason for me to being able to filter requests by using different commands is to prioritize requests with good stories, prioritize requests by year range or by date (newest come first). at the moment, commands that would help me would be:

- filtering requests by date
- filtering requests by st

[2017-03-23 06:25] natalianorori opened #588 "set up email alerts for whenever the system gets a new request"
to manage them as fast as possible
setting them up for my personal email ( natalianorori@gmail.com) would be the best

[2017-03-23 11:09] chealsye commented on #587
Cheers! Fantastic work, @natalianorori!

[2017-03-23 11:36] JosephMcArthur commented on #534
this looks like it: primo.hosted.exlibrisgroup.com/primo_library/libweb/action/search.do?vid=ICL_VU1&reset_config=true

[2017-03-23 11:40] JosephMcArthur commented on #544
info relayed, clsoing.

[2017-03-23 11:40] #544 closed

[2017-03-23 11:40] JosephMcArthur commented on #542
info relayed, closing for now

[2017-03-23 11:40] #542 closed

[2017-03-23 11:41] JosephMcArthur commented on #531
info relayed, Q's asked. Closing this for now. Can reopen or make a new issue based on response.

[2017-03-23 11:41] #531 closed

[2017-03-23 12:00] markmacgillivray commented on #534
I can't reach that URL - does it work inside Imperial?

[2017-03-23 12:24] JosephMcArthur commented on #534
I got it from here, erm, just google imperial library catalog & click
about. That's how I found this.

On Thu, 23 Mar 2017 at 12:00 markmacgillivray <notifications@github.com>
wrote:

[2017-03-23 12:50] markmacgillivray commented on #534
OK, but do you know if that URL works from inside Imperial? WHen I try to open it, it does not work, from the web connection I'm on.

[2017-03-24 15:01] JosephMcArthur commented on #580
# @BaronBlackmore designs

These are more polished designs for what he's suggest as our UX from the front page.

![request flow v3](https://cloud.githubusercontent.com/assets/4953703/24297293/2c97e5d6-109a-11e7-935a-ec23a1ecec73.png)

Some notes that're helpful to interpret:

* Copy is still not final
* The "level" language won't be used. It should be more about steps before the request is complet

[2017-03-24 15:15] JosephMcArthur commented on #580
@markmacgillivray regarding explorer.opensyllabusproject.org. Generally, I think the page is about:
* showing requests that are active
* describing the system
* helping people find requests they can help
* Soon: having people join / make community & projects around the system

I think the example given does a good job of that, in a pretty way that would now fit well with our style.

[2017-03-24 15:15] markmacgillivray commented on #580
Seems fine except one point - you're still saying requests with no user info won't show on the /requests page, but my previous point still stands: if they are not shown on the /requests page, there is no way for anyone to find them again, including whoever just created them. That means if that user goes away from that page before putting in their details, they will never again be able to. So anony

[2017-03-24 16:51] JosephMcArthur commented on #580
Okay, I need to take a step back here and walk this through (if only for my future self). Currently, there isn't enough information to really make a good decision here and so I want to track why a decision was made one way or another.

Here is how I'm thinking about anon atm:
* this is primarily a technical choice, to simplify UX
* anon isn't in the interest of authors.
* anon leaves us open to ri

[2017-03-28 04:01] natalianorori opened #589 "The responder's page on the website is not working"
This is really important and is a big block for the request system right now. authors are trying to deposit their links and they are redirected to an invalid URL, we have received complaints about this on zendesk. I know that the there have been some improvements on the dev site, but we need them live asap. any help on this would be useful!
@JosephMcArthur @markmacgillivray @chealsye

[2017-03-28 04:04] natalianorori commented on #511
Joe,

could you get this up for me? I want to start this follow-up tomorrow and
having the template will make it so much easier
thanks,

N

On Sun, Mar 19, 2017 at 11:26 AM, chealsye <notifications@github.com> wrote:

[2017-03-28 04:29] natalianorori opened #590 "need improved email thanking authors for depositing their article"
note to self. I'll draft it and share with @chealsye when ready

[2017-03-28 09:20] markmacgillivray commented on #196
Not of immediate concern, pushing back to backlog

[2017-03-28 09:25] markmacgillivray commented on #411
Added to plugin code

[2017-03-28 09:25] #411 closed

[2017-03-28 09:28] markmacgillivray commented on #589
Yes there are improvements coming from the dev site, but looking at the recent zendesk complaints it appears that the URL the users are now being given in the emails are to the request page and not to the responder page at all. We had discussed merging those two pages but that has not been done yet, or even decided as the best strategy, and even once we do this it will still be necessary for the a

[2017-03-28 09:29] markmacgillivray commented on #520
I don't think this is relevant to new site design.

[2017-03-28 09:29] #520 closed

[2017-03-28 09:36] markmacgillivray commented on #586
Added

[2017-03-28 09:36] #586 closed

[2017-03-28 11:24] markmacgillivray commented on #589
Seeing the response to zendesk from user called Katherine just now, I checked the link to confirm, and it does just go to the request page, not the responder page. So the email template has definitely gone wrong somewhere. Also, as the user says, the request is actually for data, but she has been asked for the article, this could be a template or procedural error, but is not an error being generat

[2017-03-28 11:34] markmacgillivray commented on #462
Fixed as long as quotes are used around the email address

[2017-03-28 11:34] #462 closed

[2017-03-28 11:48] markmacgillivray commented on #241
I think this is irrelevant now as we will be redoing the plugins and so will have to retest the firefox one. New issues can be created as that progresses

[2017-03-28 11:48] #241 closed

[2017-03-28 12:12] markmacgillivray commented on #588
Done on dev, will move to live as soon as we update

[2017-03-28 12:13] markmacgillivray commented on #521
This will relate to plugin redevelopment, not happening yet, so leaving out until then

[2017-03-28 13:19] natalianorori commented on #589
Mark,

good catch. I just fixed the link in the email's folder on the drive. We still have to re upload the email because there is a typo.  What I am going to do is send around apologies to everyone contacted with the wrong link and ask them to either respond to my email with a URL to their article, or deposit in in the receiver's page.

@chealsye and I worked on a new template to reduce the quant

[2017-03-28 15:31] JosephMcArthur commented on #458
I've updated the content here

[2017-03-28 15:42] JosephMcArthur commented on #458
are these responses going somewhere right now?

[2017-03-28 15:53] JosephMcArthur commented on #589
okay, fixed uploaded. Will need someone to re-sync emails on the admin page.

@natalianorori, whenever we push an email from now on can you test links to make sure they work?

[2017-03-28 15:56] JosephMcArthur commented on #475
this is now up, needs syncing.

@natalianorori please check it does what you expect

[2017-03-28 15:56] #475 closed

[2017-03-28 16:00] JosephMcArthur commented on #513
this is up now!

[2017-03-28 16:00] #513 closed

[2017-03-28 16:05] JosephMcArthur commented on #511
this is up! plz test @natalianorori

[2017-03-28 16:05] #511 closed

[2017-03-28 16:11] JosephMcArthur commented on #564
this is up! edits still welcome, just let me know

[2017-03-28 16:11] #564 closed

[2017-03-28 16:14] #194 closed

[2017-03-28 16:24] JosephMcArthur commented on #507
Okay, implemented many of the suggestions giving by @BaronBlackmore here. Mainly just taking stuff away.

[2017-03-28 16:52] #561 closed

[2017-03-28 16:52] #202 closed

[2017-03-28 17:16] JosephMcArthur commented on #347
this is much much better now, closing

[2017-03-28 17:16] #347 closed

[2017-03-28 17:21] JosephMcArthur commented on #522
have added this url to the black list & added a redirect for this domain to full text

[2017-03-28 17:21] #522 closed

[2017-03-28 17:23] JosephMcArthur commented on #547
have added https://en.wikibooks.org/wiki/Introduction_to_Library_and_Information_Science/To_Do_List to the blacklist. So it won't show.

However, @markmacgillivray how on earth are we linking through a wikilist?

[2017-03-28 18:02] markmacgillivray commented on #580
My update:

* The dev UI has been updated with the red style for the requests. It stands out that we do not have a style for the "successful" requests now though, so please provide one asap.

* It is not clear how the path flows for the different types of user and their potential different states. The first "unfound" design is nice, but it does not make sense for a signed in user - we already have

[2017-03-28 18:05] markmacgillivray opened #591 "Imperial dataset test"

[2017-03-28 18:06] markmacgillivray opened #592 "Fix PMC issue and filter repos where login is required"

[2017-03-28 20:31] natalianorori commented on #589
I just tested the original receiver's link we had in our first author's
request email on my own email address, and the receiver link sends people
to the same box I mentioned earlier and gives them no option to upload
anything. So I definetly can't keep send that to authors. The momentary
solution is to ask them to send their url to me so that I can upload them
to our website manually once the rece

[2017-03-28 21:16] natalianorori commented on #589
The last time we received an article through the system was on March 6.
https://openaccessbutton.org/request/2co9GGfTncpmoNDKc

On Tue, Mar 28, 2017 at 4:55 PM, Joseph McArthur <notifications@github.com>
wrote:

[2017-03-29 10:28] JosephMcArthur commented on #580
Tried to respond below, can talk more on the phone.

That should switch to a blue background & the bar on the right should just have a "go to article". I'd suggest we just hide the image at the top.

In the case of a logged in user we should be taking them to "P2", with just a box to put in their story.

Idea here was to try and keep people on the same page as it's a little less jarring. If for no

[2017-03-29 12:27] JosephMcArthur commented on #562
Have sent @markmacgillivray data to close this

[2017-03-29 17:43] JosephMcArthur commented on #458
On https://dev.openaccessbutton.org/feedback#wrong we need a box to actually tell us the URL the user was sent to, or the article the searched for.

I thought this was just grabbed automatically, but it's not actually present at all.

[2017-03-29 17:53] JosephMcArthur commented on #580
New UX is on the site, and is moving into bug testing. Shutting this.

[2017-03-29 17:53] #580 closed

[2017-03-29 17:55] JosephMcArthur commented on #591
this doesn't feel like a tidy up to me, moving out the milestone

[2017-03-29 17:58] markmacgillivray commented on #589
They appear to be fine on the live site and on dev (although will be changing how they work). It is possible the links were down temporarily for some other reason, but looking now, I can see them. Here is one

https://openaccessbutton.org/response/gWbiqdKKjaoyaYJhX

[2017-03-29 17:59] JosephMcArthur commented on #571
I have taken some key parts of this and moved onto about, closing now

[2017-03-29 17:59] #571 closed

[2017-03-29 18:02] JosephMcArthur commented on #111
Suggesting we don't ship this yet, still not looking good when I use it

[2017-03-29 18:16] natalianorori commented on #589
I just tried it and it seems to be working fine now. I will add a reminder
to myself to try these links at least once a week, to avoid this from
happening again.

Please keep me posted about any future changes, thanks for your help Mark!

On Wed, Mar 29, 2017 at 1:58 PM, markmacgillivray <notifications@github.com>
wrote:

[2017-03-29 18:23] markmacgillivray commented on #111
I removed figshare from title search, but still left it in for doi search which seems ok. So we can still say we use figshare as a source.

[2017-03-29 18:37] natalianorori opened #593 "Putting up a field for author's name in the request system"
We are now mentioning author's name in emails, and we have received a better response while doing so. I am currently recording author's names in the data spreadsheet, but would be helpful to have a field for this in the system as well.

[2017-03-29 18:38] JosephMcArthur opened #594 "Request page UI changes"
**issue not completed yet, expecting mark to see tomorrow**

# loading screen

Was a looooooooong wait. Need to get those phrases in asap

# Landing, logged out

<img width="1215" alt="screenshot 2017-03-29 18 50 25" src="https://cloud.githubusercontent.com/assets/4953703/24470120/bbc59c66-14b5-11e7-8e8e-09bc294b3b21.png">

- [ ] remove "are you the author"
- [x] switch out the box for an email bo

[2017-03-29 18:46] JosephMcArthur opened #595 "frontpage & general UI changes"
- [x] where possible always show the footer, don't allow scroll if everything on page is showing.
- [x] clicking & unclicking exampes / how it works leads to page size changing
- [ ] if footer login / account is okay, remove it from the header
- [x] "Search for requests you care about" not showing on dev on /requests

* also, I think we should consider how we space "Get the extension Examples How

[2017-03-29 18:53] JosephMcArthur opened #596 "Notify me not working"
I put in my email but nothing happens (ff, chrome).

[2017-03-29 18:56] JosephMcArthur opened #597 "currently need to login to add an author email, shouldn't need to"

[2017-03-29 19:17] JosephMcArthur commented on #593
the field should revert of Colleague if the name isn't filled.

[2017-03-29 19:41] JosephMcArthur opened #598 "lots of old requests on non-scholarly articles"
@natalianorori is seeing this. Not sure how to best address as it's not a current issue. We could, perhaps
* do a one time clean of the data manually
* add a "blacklist domain" button to the admin UI to address this inside her workflow
* just delete them each time

interested in ideas @markmacgillivray @natalianorori

[2017-03-29 20:17] JosephMcArthur opened #599 "uncompleted requests showing in /request"
e.g http://dev.openaccessbutton.org/request/oaeGzrrGrcZycqzYr

[2017-03-29 20:27] JosephMcArthur opened #600 "couldn't save a story on firefox + windows"
http://science.sciencemag.org/content/355/6331/eaal3729

[2017-03-29 20:32] JosephMcArthur commented on #583
today, or http://science.sciencemag.org/content/355/6331/eaal3729 it just have me a "g". That's the first character.

[2017-03-29 23:09] natalianorori commented on #589
I just tested this, and new templates still have a broken link. What's the
exact code to go to the response page?
https://openaccessbutton.org/response/%7B%7Breceiver%7D%7D this is the one
we have and its leading me to a broken URL: You can do both <a href = "
https://openaccessbutton.org/request/wgNTZbXGgCmi6PF5X">here</a>.</p>

On Wed, Mar 29, 2017 at 2:16 PM, natalia norori <natalianorori@gmail

[2017-03-30 06:01] JosephMcArthur commented on #589
Okay, fixed again. Please refresh templates & test

[2017-03-30 07:11] JosephMcArthur opened #601 "Have release banner only show once per person / session"

[2017-03-30 07:18] JosephMcArthur opened #602 "headers should be monserrat"
Seems to have changed on dev

[2017-03-30 07:34] natalianorori commented on #589
Checked and tested

[2017-03-30 07:37] JosephMcArthur commented on #458
Currently /feedback#bugs has a submit bar at the bottom (but it's a gform). My prefered way to fix this is to just have the form be properly done.

[2017-03-30 09:24] JosephMcArthur opened #603 "Find page UI changes"
<img width="1204" alt="screenshot 2017-03-30 08 57 19" src="https://cloud.githubusercontent.com/assets/4953703/24497043/03118bee-1532-11e7-9a90-bf21223886c5.png">

###  done

* I've moved stuff to be left aligned, and for links to be smaller
* I've changed some copy to be clearer

###  to do

- [x] make sure all stuff is left aligned, not sure I caught it all
- [x] include links to report bad link

[2017-03-30 11:59] markmacgillivray commented on #602
Applied montserrat

[2017-03-30 11:59] #602 closed

[2017-03-30 12:09] markmacgillivray commented on #600
What happened when you tried?

[2017-03-30 12:21] markmacgillivray commented on #599
Hidden

[2017-03-30 12:21] #599 closed

[2017-03-30 12:28] markmacgillivray commented on #597
Changed

[2017-03-30 12:28] #597 closed

[2017-03-30 13:19] markmacgillivray commented on #594
Have not removed "are you the author" as it is not possible to clearly identify the case where this should be removed, and it may always be possible that the author is on the page.

Also have not aligned the facebook / twitter buttons with the notify button, as they are embedded from remote sites and are fiddly to size / control, and the notify button is not always present, and I don't have time t

[2017-03-30 13:19] #594 closed

[2017-03-30 13:49] #595 closed

[2017-03-30 13:57] markmacgillivray commented on #603
I don't think we should use buttons instead of the full link. People will sometimes want to know the URL, so it should be shown on the page.

Page does not scroll if large enough window.

Long URL shows when executing.

I don't think we should link to download the plugins now that we have that on the front page. The user has already succeeded. And we don't have time to keep going back and fore on

[2017-03-30 13:59] markmacgillivray commented on #584
No longer relevant, unfixed the side bar.

[2017-03-30 14:03] markmacgillivray commented on #509
For the first one, BASE reports it as being the same thing by DOI match. So it is wrong in BASE. Nothing we can do about this, our sources will occasionally be wrong.

The second one works fine now.

[2017-03-30 18:41] #509 closed

[2017-03-30 18:42] JosephMcArthur commented on #600
Nothing, it didn't save, no error, no response. nothing.

On Thu, 30 Mar 2017 at 13:10 markmacgillivray <notifications@github.com>
wrote:

[2017-03-30 18:52] #589 closed

[2017-03-30 19:22] JosephMcArthur commented on #560
@markmacgillivray I've started to put repo's in here, is it hooked up?

[2017-03-30 19:56] JosephMcArthur commented on #569
is this now on dev again?

[2017-03-30 20:49] markmacgillivray commented on #569
Not as far as I can see

[2017-03-30 21:00] markmacgillivray commented on #560
No it isn't. As above, once you're happy with the layout of the sheet I can try hooking it up. However at the moment the sheet has URLs in columns I would not expect them in, so I don't know how to make use of it yet.

[2017-03-30 21:01] markmacgillivray commented on #600
Can you try again with a new request?

[2017-03-30 21:01] markmacgillivray commented on #600
And let me know which is the new request once you make it.

[2017-03-30 21:11] JosephMcArthur commented on #560
Where wouldn't you expect URL's? I thought we were using it okay!

On Thu, 23 Feb 2017 at 18:52 markmacgillivray <notifications@github.com>
wrote:

[2017-03-30 21:23] markmacgillivray commented on #560
The column called BLACKLIST has URLs in it, but should just contain "yes" or be empty. The URLs that are in there appear to be specific URLs that are wished to be blacklisted - not entire repositories, which was the use case we discussed. If you want to blacklist specific URLs but not the domains they are on (for example a few in that list are PMC articles, not clear why they'd be blacklisted) the

[2017-03-30 21:36] JosephMcArthur commented on #560
okay, cleaned that up and made a sheet for specific domains:
https://docs.google.com/spreadsheets/d/1f3dyU0xmCh2fgEMgNY1yHSXqyB0j6WZ_WDeS2AS669M/edit#gid=0
.

On Thu, 30 Mar 2017 at 22:23 markmacgillivray <notifications@github.com>
wrote:

The column called BLACKLIST has URLs in it, but should just contain "yes"
or be empty. The URLs that are in there appear to be specific URLs that are
wished to

[2017-03-31 06:38] JosephMcArthur opened #604 "Being told: http://science.sciencemag.org/content/293/5530/698 is OA, but isn't"
Just links back to the original version.

[2017-03-31 06:41] JosephMcArthur commented on #600
Okay, that worked. this was the request 345cb9e

[2017-03-31 06:45] JosephMcArthur commented on #584
But we've lost infinate scroll here, right? Which will end up re-opening
another bug. Doesn't need to be done instantly. I don't know what the
various trade offs here are in implementing a solution, but this one
doesn't seem workable.

On Thu, 30 Mar 2017 at 14:59 markmacgillivray <notifications@github.com>
wrote:

[2017-03-31 07:40] JosephMcArthur commented on #458
@markmacgillivray the content here is fine, but there are some questions I have above

[2017-03-31 07:42] JosephMcArthur commented on #115
I wonder if simply searching "request a copy" on repo pages, e.g https://openresearch-repository.anu.edu.au/handle/1885/64125 + https://spiral.imperial.ac.uk:8443/handle/10044/1/40350 , would be a way to both flag pages where we could do this (which we could then hit manually for now) and filter out these pages from our searches (so less false positives)? The button seems to almost always be calle

[2017-03-31 08:59] JosephMcArthur commented on #600
Same issue on chrome / android. Tested on http://dev.openaccessbutton.org/request/cFHK67riqgCPCRuXo?1=2

[2017-03-31 09:04] JosephMcArthur commented on #600
Hmmm, I'm not being kept sign in on mobile. Could that be the issue?

[2017-03-31 09:08] JosephMcArthur commented on #600
Even a page refresh is currently logging me out on Dev, android) chrome. Logged out of live site.

[2017-03-31 11:12] markmacgillivray commented on #604
According to BASE, it is OA but the link it returns for it is the DOI link, which just goes back to the article. There is a link via sfx search through Hong Kong university, but accessing that requires login. If you don't want potentially inaccessible links to show up via BASE search, the easiest thing to do would be to only use oadoi instead of BASE (currently we search oadoi then BASE)

[2017-03-31 11:15] markmacgillivray commented on #600
I see you're using http rather than https. Are you also logging in/out of the live site at any point? On https and not using the live site, login to the dev site is working fine for me on chrome and firefox on desktop and mobile.

[2017-03-31 11:24] markmacgillivray commented on #115
That Spiral example is embargoed though, which is the only reason they require login (otherwise they don#'t require login). Do you want to record embargoed things as false positives? And would requesting a copy ever get you it any sooner than waiting for the end date of the embargo? What is the point of an embargo if anyone can just request a copy? So what does it mean to filter out these pages fr

[2017-03-31 11:26] markmacgillivray commented on #584
I don't know what you mean. How have we lost infinite scroll? All I have done is just unfixed the sidebar. You just have to scroll back up to see it again. Trying to keep the sidebar fixed led to multiple problems like this one, and the one of it going under or over the footer. If the users screen is just not big enough, this is hard to avoid without also making the sidebar itself separately scrol

[2017-03-31 11:55] markmacgillivray commented on #458
The feedback form is hooked up to send emails to help@openaccessbutton.org. It does not send anything to github issues yet, but should be testable and if issues are required, they can be made by whoever receives the help address email.

I have changed the google form to an actual form on the page - the idea is you copy the other forms already there to make new ones.

For feedback#wrong has anyone

[2017-03-31 12:05] markmacgillivray commented on #560
We already have a sheet for blacklisting specific URLs. So far it has been used for blacklisting sites we don't want people to use the button on, like facebook. But you can just put any URL in there and it will be blacklisted from results too.

Note that the blacklisting is flexible - the shorter a URL you put in the blacklist, the more it will block. So facebook.com blocks all of facebook, but fa

[2017-03-31 12:31] JosephMcArthur commented on #458
Thanks! I thought that was the case but wasn't sure as the idea for this one was we'd be grabbing as many things as we can from the browser, not the user.

They'll be coming primarily from the homepage search box. So, if we can show a box with what they searched, what we sent them to, then the Q's we have now that would be perfect. I'd suggest we always show these boxes, but, just fill them with t

[2017-03-31 12:36] JosephMcArthur commented on #560
Ah, okay! I didn't realise we could just use that sheet for this too. Have added the URL's to that sheet.

[2017-03-31 12:37] JosephMcArthur commented on #604
This makes sense to me, since they're doing cleaning ontop of it (but I assume keeping it up to date too) there doesn't seem to be a downside to that. Just less errors & complexity for us?

[2017-03-31 12:42] JosephMcArthur opened #605 "page size a bit odd on some pages"
Would be more pleasing if the footer stayed at the bottom & the blue extented down on pages like this.

<img width="1226" alt="screenshot 2017-03-31 13 40 10" src="https://cloud.githubusercontent.com/assets/4953703/24550837/cfcbd1c2-1617-11e7-9e60-7adbb6faaf90.png">

[2017-03-31 12:53] JosephMcArthur commented on #600
Okay, using https fixes both the login issue & the submission issue it seems. My phone must still have our dev site defaulting to http from before we switched.

[2017-03-31 12:53] #600 closed

[2017-03-31 13:01] JosephMcArthur commented on #584
Sorry... I mistook loss of infinite scroll for running out of requests on dev *finds embarrassed emoji*

[2017-03-31 13:01] #584 closed

[2017-03-31 13:23] markmacgillivray commented on #604
it will only work on the doi search though - we also run a BASE title search which we should still do, because oadoi don't do that at all

[2017-03-31 13:25] markmacgillivray commented on #458
Can you put the question in place where you want it to be with wording / positioning etc, then I will make it link to the feedback form properly

[2017-03-31 13:44] JosephMcArthur opened #606 "false positive for http://science.sciencemag.org/content/293/5530/705"
search: http://science.sciencemag.org/content/293/5530/705
went to: http://ir.lib.hiroshima-u.ac.jp/en/00017201 (fulltext: http://ir.lib.hiroshima-u.ac.jp/files/public/1/17201/20141016130650436399/diss_ko3577.pdf)

Why: looks like title similarity

[2017-03-31 13:50] JosephMcArthur commented on #458
Should be syncing / deploying now

On Fri, 31 Mar 2017 at 14:25 markmacgillivray <notifications@github.com>
wrote:

[2017-03-31 13:54] JosephMcArthur commented on #604
That makes sense.

So, I just went to add this to our blacklist but realised if I do that we'll be telling users this isn't the type of article we work on. Obviously, fine for one of ten million billion articles, but as we use this more it's something to keep in mind.

[2017-03-31 13:57] markmacgillivray commented on #604
Yes, which I think is about messaging and how we tell users what we do consider to be an open article. e.g. it does not include things on facebook, also does not include things that are open but not accessible, may not include things on embargo etc - all things that have come up in recent weeks that there seems to be no clear concept of what we count and don't count as open (hence why I used to sa

[2017-03-31 14:01] JosephMcArthur commented on #604
So, I've seen that latest comment and will come back to it another time. It's clear to me, so I'm failing to communicate!

This seems quite different, though, this list was just meant to be URL's we didn't work on (i.d we're not going to try and search repo's for a self archived version of facebook and to weed out spam). By putting this article on the list, we'll be telling users that "this isn't

[2017-03-31 14:05] markmacgillivray commented on #604
Well, we can go back to having the URLs of things that are not open but not "blacklist" in the other sheet, but need to decide how you want that handled. The concepts we have so far are "sheet of things that are blacklisted" and "sheet of things that we want to check for fulltext url".

[2017-03-31 14:06] markmacgillivray commented on #605
Added footer pusher and lower dark blue. Will cause jumping on some pages, unavoidable, it seems.

[2017-03-31 14:06] #605 closed

[2017-03-31 14:47] markmacgillivray commented on #606
I just put this in dev and it started a request for me

https://dev.openaccessbutton.org/request/QMbwZygaP5p2XbanJ

[2017-03-31 14:48] markmacgillivray commented on #606
Did you already add the URL to the blacklist sheet?

[2017-04-01 15:22] JosephMcArthur commented on #606
No, don't think so! That's odd. The actual reason was probably because the DOI for the IR record is the journal article.

I think this thesis may actually be closely related to the paper (as in, the paper is part of the thesis). Feels like quite a tricky case to avoid (similar title, doi mentioned on IR page, same authors etc).

[2017-04-01 16:32] #603 closed

[2017-04-01 16:33] #559 closed

[2017-04-01 16:36] JosephMcArthur commented on #604
Let's go back to having two lists. One is for repo URL's we don't want to send people to, the other is for redirects we want to use to try and avoid login walls / point to full text. So, the concepts you suggest above.

[2017-04-01 16:46] JosephMcArthur opened #607 "Set up http --> https redirect on dev"
This seems sensible unless there is a reason to keep an unsecured version of the dev site for silly people like me to land on and waste everyone's time.

[2017-04-01 16:50] markmacgillivray commented on #607
No, it purposely allows both so I can check things in both situations.

[2017-04-01 16:50] #607 closed

[2017-04-01 16:51] JosephMcArthur commented on #607
(y)

[2017-04-02 16:15] chealsye opened #608 ""Welcome to our improved site!" banner cutting off page text"
The banner on the dev site that reads, "Welcome to our improved site! If you have any feedback, or notice an issue let us know here. Read about the updates here." is blocking top text on pages. On the home page it just lowers down the top links, so it is OK enough.

Would it be possible to remove this header from all pages, except the homepage?

[2017-04-02 16:17] JosephMcArthur opened #609 "full text in pmc, but we miss it"
# 1

Article: https://www.sciencedirect.com/science/article/pii/S019701861200006X?np=y&npKey=0265c897cb5d8dab4f556bbb8f1ecc64e3502f9b8811d395b0e8cd471529613c

PMC link: Pharmacological Modulation of NMDA Receptor Activity and the Advent of Negative and Positive Allosteric Modulators

# 2

paywall: https://www.sciencedirect.com/science/article/pii/S0014299911009733
full text: https://www.ncbi.nlm.n

[2017-04-02 16:27] markmacgillivray commented on #609
Fixed - new blacklisting and disabling of BASE doi search led to a blacklisting of the BASE title searches. Works now.

[2017-04-02 16:27] #609 closed

[2017-04-02 17:49] JosephMcArthur opened #610 "false positive: base fuzzy title match"
response says it came from base.

searched: http://onlinelibrary.wiley.com/doi/10.1002/ncr.187/abstract?systemMessage=Wiley+Online+Library+will+be+unavailable+on+Saturday+25th+March+from+07:00+GMT+/+03:00+EDT+/+15:00+SGT+for+4+hours+for+essential+maintenance.++Apologies+for+the+inconvenience
we found: https://dr.ntu.edu.sg/handle/10220/25927

[2017-04-02 20:21] markmacgillivray commented on #610
Fixed. It turns out that BASE quoted title match is not an exact match, just a substring match. So now I only accept a BASE title match if the title of whatever they return is actually exactly the same (lowercase a-z whitespace, at least) as the title we sent them.

[2017-04-02 20:21] #610 closed

[2017-04-02 20:25] JosephMcArthur commented on #610
What are the changes of this change having negative effects on picking up
things that might have seen before with subtly different titles? Do we know
how important that is? I know we've had complements on our fuzzy title
matches so don't want to ruin a good thing!

On Sun, 2 Apr 2017 at 21:21 markmacgillivray <notifications@github.com>
wrote:

[2017-04-02 20:29] markmacgillivray commented on #610
It will make us less likely to find some things, but if their title search is just a substring match, it is too inaccurate. I doubt we would previously have been successfully matching much via that query that we won't still (correctly) match, but it is possible for some articles - like if someone thought the article title was "My lovely article" and actually it was "Not my lovely article" then we

[2017-04-02 20:32] JosephMcArthur commented on #610
Okay great, appreciate the explanation!

On Sun, 2 Apr 2017 at 21:29 markmacgillivray <notifications@github.com>
wrote:

[2017-04-02 20:34] JosephMcArthur commented on #560
Okay, to update here. I've now done 20-ish repos, including some huge ones (e.g arvix / citeseerx / hal). Some patterns are emerging:
* there are only a few types of meta-tags normally used
* these meta-tags often lead to a login wall even if they say they go to a pdf. This means you then need to grab the URL of that page & put that on the blacklist.
* if someone uses the frontpage on the same pap

[2017-04-02 20:42] #606 closed

[2017-04-02 21:15] JosephMcArthur commented on #608
yes, done this now. I had a good reason why I wanted it on all pages, but, I can't remember so it clearly wasn't good enough & there are problems with my suggested fix for having it on all pages.

[2017-04-02 21:15] JosephMcArthur commented on #601
this dumb, closing

[2017-04-02 21:15] #601 closed

[2017-04-02 21:19] JosephMcArthur commented on #567
added a phrase here, but it's more descriptive than cute. Can add cute ones when we have a bit more time (added a descriptive one so we could link to sources)

[2017-04-02 21:33] chealsye commented on #567
Did you look at the doc we created?

[2017-04-02 21:34] chealsye commented on #608
Totally fine to have on all pages if it can be done to not cut off text.

[2017-04-02 22:32] JosephMcArthur commented on #608
Tried to get this message to display on just the homepage but couldn't do it (without breaking stuff) @markmacgillivray the note currently is hidden in the header file. Can you make it display on just the homepage please?

[2017-04-02 22:51] svmelton opened #611 "Accessibility test results"
I ran the site through an accessibility checker, and there are a few things we probably want to take care of:
http://wave.webaim.org/report#/http://dev.openaccessbutton.org/

In addition, I checked the contrast of the background and the header links, and we aren't in compliance with AA or AAA:
![screen shot 2017-04-02 at 6 48 48 pm](https://cloud.githubusercontent.com/assets/7232545/24591685/57a05

[2017-04-03 13:00] JosephMcArthur commented on #547
This is in base, that's why. Just weird. Seems unlikely that we'll find stuff here so closing.

[2017-04-03 13:00] #547 closed

[2017-04-03 13:02] JosephMcArthur commented on #474
this is shipping & seems okay (from my limited testing). Has error management, and will hot-fix where needed.

[2017-04-03 13:02] #474 closed

[2017-04-03 13:10] JosephMcArthur commented on #608
on now! Just on homepage

[2017-04-03 13:10] #608 closed

[2017-04-03 13:43] JosephMcArthur commented on #611
made black, closing

[2017-04-03 13:43] #611 closed

[2017-04-03 13:50] JosephMcArthur commented on #458
Will now autopopulate!

[2017-04-03 13:50] #458 closed

[2017-04-03 13:51] JosephMcArthur commented on #569
Should be fixed, will re-open if not

[2017-04-03 13:51] #569 closed

[2017-04-03 13:55] markmacgillivray opened #612 "Finish admin panel on new site and merge response page into request page"

[2017-04-03 14:07] JosephMcArthur commented on #612
linked to #498

[2017-04-03 14:49] JosephMcArthur commented on #583
have we lost email validation on the new site too?

[2017-04-03 15:16] markmacgillivray commented on #583
Was just working on it and admin functionality. Try it again now. I'll just push my changes so you can push changes to dev too, it seems you may be trying.

[2017-04-03 15:24] markmacgillivray commented on #612
Admin panel finished.

[2017-04-03 15:31] JosephMcArthur commented on #583
okay, validation seems to be at least partly back! asdf doesn't work
anymore :)

On Mon, 3 Apr 2017 at 16:17 markmacgillivray <notifications@github.com>
wrote:

[2017-04-03 16:00] JosephMcArthur commented on #583
is the last character stuff fixed?

[2017-04-03 16:03] JosephMcArthur commented on #567
Yup, and used one as the basis for mine, but didn't think one cute phrase alone was the right fit here for now. Will revisit soon I hope.

[2017-04-03 16:11] chealsye commented on #567
Okay, fine then.
And you decided on the following?

_Searching thousands of repositories for access!.

Give us a moment._

There's an extra period in that first sentence.

[2017-04-03 16:12] JosephMcArthur commented on #567
That's my current best bet, edits welcome! typo fixed

On Mon, 3 Apr 2017 at 17:11 chealsye <notifications@github.com> wrote:

[2017-04-03 16:14] chealsye commented on #567
We already provided our suggestions. It's fine that you didn't want a fun one.

[2017-04-03 17:06] markmacgillivray opened #613 "Record when a request comes from oadoi"
The URL we asked oadoi to use includes a from=oadoi param, we should record this somewhere, and also do this if we give similar URLs to other people.

[2017-04-03 18:50] svmelton opened #614 "Getting "request undefined" when trying to support a request"
When using the Chrome plugin to support a request, I was taken to this url: https://openaccessbutton.org/request/undefined

[2017-04-03 18:50] JosephMcArthur opened #615 "big decrease in the number of requests on the site"
Currently at 2889, we were over 6k.

I'm guessing this is to do with how we decided to hide them, no?

[2017-04-03 18:54] JosephMcArthur commented on #614
Seeing the same when asking to be notified from the site when logged out.

Get sent here: https://openaccessbutton.org/request/4H63Wx3wAB8kqnBnK%3Fsupport%3Dtrue by the redirector (when I should be https://openaccessbutton.org/request/4H63Wx3wAB8kqnBnK)

[2017-04-03 19:00] JosephMcArthur commented on #562
@markmacgillivray I think it's really important we get this fix up tonight. Just a little nudge as we're displaying a lot of emails when that's not needed.

[2017-04-03 19:27] markmacgillivray commented on #615
Yes, we're not showing requests that don't have stories.

[2017-04-03 19:44] JosephMcArthur commented on #615
I can still find ones like this though:
* https://openaccessbutton.org/request/HpNh3yvvc7smq9fez
* https://openaccessbutton.org/request/RbnmkNQzB4MqhLztN

just scrolling down /requests finds many.

[2017-04-03 19:45] JosephMcArthur commented on #598
@natalianorori have just looked at all old requests and taken out the major offending domains. But, many more may be left.

The sheet for reporting domains that we don't want to allow is here: https://docs.google.com/spreadsheets/d/1j1eAnBN-5UoAPLFIFlQCXEnOmXG85RhwT1rKUkrPleI/edit#gid=0.

@markmacgillivray it would be good if we periodically cleaned past requests against that blacklist (or, whenev

[2017-04-03 19:48] JosephMcArthur commented on #598
Have also just added the top 100 websites en-mass.

[2017-04-03 19:50] markmacgillivray commented on #615
Those ones technically do have a story, but the story is "". There weren't any like that on the dev system so I didn't filter them that way. I can alter the query to remove them as well if you want.

[2017-04-03 20:02] JosephMcArthur commented on #615
makes sense if we're not showing requests without stories.

We may need to show _everything_ to admins, as @natalianorori would like to do tests of requests without stories. Can that be done?

[2017-04-03 20:10] JosephMcArthur commented on #615
Just gut checking myself here for future joe & others. This means that we'd only be showing higher quality requests on the site, but as a team we could see _all the things_. This makes sense now, as even if we decide to process requests without stories in future just because we process doesn't mean we have to advertise & ask others to help.

[2017-04-04 00:30] svmelton opened #616 "System is using email instead of name"
Even though I'm identified by name on my account, the request page identifies me by email:
![screen shot 2017-04-03 at 7 02 57 pm](https://cloud.githubusercontent.com/assets/7232545/24637082/5ef94dde-18ac-11e7-9220-2548aa4779e8.png)
![screen shot 2017-04-03 at 8 26 06 pm](https://cloud.githubusercontent.com/assets/7232545/24637085/63804970-18ac-11e7-85a1-31584cc0bae6.png)

[2017-04-04 07:04] markmacgillivray commented on #614
This should be fixed for the support link. Don't know about from the chrome plugin though, we will have to review that when we decide to simplify the plugin, but that is not scheduled for this sprint so unallocating for the time being.

[2017-04-04 07:23] markmacgillivray commented on #616
Old requests made before we updated the system (this weekend) will still show as being made by whatever username we had at the time - for your account, "Sarah" is in the firstname, but you had no username. Firstnames do now get picked up, so future requests you make should have that shown, but your old requests will still only know you by email.

All old requests could be updated with new data, bu

[2017-04-04 08:43] JosephMcArthur commented on #562
@markmacgillivray did you run this yesterday?

[2017-04-04 08:54] markmacgillivray commented on #562
Yes, and I have checked that the accounts were updated.

[2017-04-04 08:54] #562 closed

[2017-04-04 09:07] JosephMcArthur commented on #616
We'll definitely want to update these requests asap, early in the next sprint if that's when there is time. @markmacgillivray does it make sense to do with cleaning from #598? Just wondering if we can do a "batch job" of cleaning.

[2017-04-04 09:26] JosephMcArthur commented on #489
@markmacgillivray when you get a few minutes can you document how to use our other inputs here on dev?

[2017-04-04 09:30] #527 closed

[2017-04-04 09:31] JosephMcArthur commented on #501
this is now much clearer, but for the wrong reasons :) closing this for now.

[2017-04-04 09:31] #501 closed

[2017-04-04 09:32] JosephMcArthur commented on #418
this is now covered by having examples on the frontpage which deffo work

[2017-04-04 09:32] #418 closed

[2017-04-04 09:38] JosephMcArthur commented on #77
@wetneb we've now pushed changes from your feedback above live. You should be able to do what you'd like from: https://dev.openaccessbutton.org/request?doi=DOIHERE (for test, just remove the "dev." for the live site).

Would love your feedback on the implementation, and if we could make anything better for you here!

Closing this for now, just to keep us on top of what needs doing, but don't hesit

[2017-04-04 09:38] #77 closed

[2017-04-04 09:39] JosephMcArthur commented on #434
am handling chat for api blog elsewhere, closing this for now

[2017-04-04 09:39] #434 closed

[2017-04-04 09:39] JosephMcArthur commented on #460
have got all of these working now

[2017-04-04 09:39] #460 closed

[2017-04-04 09:41] markmacgillivray commented on #77
@JosephMcArthur @wetneb note that using the /request address will bypass our own availability checks. If you want to first check that we can't find the thing either, then just use the root address. e.g. for testing https://dev.openaccessbutton.org?doi=DOIHERE

Also, please use a param to identify the requests are coming from you, such as &from=oabot

[2017-04-04 09:48] wetneb commented on #77
Great, thanks! I'll add that to our sidebar.

[2017-04-04 09:52] JosephMcArthur commented on #77
Any ETA on that? Would love to blog about it.

On Tue, 4 Apr 2017 at 10:48 Antonin Delpeuch <notifications@github.com>
wrote:

[2017-04-04 10:12] JosephMcArthur commented on #518
@chealsye I'm struggling to find this request and the link you gave seems to go to github. Don't suppose you have it to hand.

Searched on the DOI and this time it sent me to the right article, but a paywalled version. Network analysis suggest BASE is at fault

[code]

If there is an available version we can log that from the admin side if a request has been made. That's why I'm keen to track this

[2017-04-04 10:15] JosephMcArthur commented on #111
Okay, lets leave it at that.

[2017-04-04 10:15] #111 closed

[2017-04-04 10:16] JosephMcArthur commented on #507
@markmacgillivray tiny things, can you

- [ ] change username --> first name on the account page?
- [ ] put first name & last name next to each other (as shown in Sam's mockup)

[2017-04-04 10:18] JosephMcArthur commented on #563
I've just done a whole bunch of this.

[2017-04-04 10:22] markmacgillivray commented on #507
Don't know what you mean. The account page already shows first name if known, otherwise username if known. I have moved the firstname/lastname boxes next to each other though.

[2017-04-04 10:22] #507 closed

[2017-04-04 10:24] JosephMcArthur commented on #109
this no progress here

[2017-04-04 10:25] JosephMcArthur commented on #108
just checked, we still have all their sources already

[2017-04-04 10:33] JosephMcArthur opened #617 "searching whole titles on /request doesn't pull out that request, but parts of title do"
Not sure if this a bug or feature request, but as a user I'd expect searches for titles / dois / urls to pull out requests about those things.

E.g:
Request: https://openaccessbutton.org/request/Nt7t9kixbzqqKeKR8
Seach for whole title: https://openaccessbutton.org/request?source={%22query%22:{%22filtered%22:{%22query%22:{%22bool%22:{%22must%22:[{%22match_all%22:{}}]}},%22filter%22:{%22bool%22:{%22

[2017-04-04 10:43] markmacgillivray commented on #617
I don't understand the links and they don't seem to work. What exactly did you try putting in the search box?

[2017-04-04 10:57] markmacgillivray commented on #617
I've updated the search to use AND by default on multi term searches, maybe that solves your problem?

[2017-04-04 11:01] JosephMcArthur commented on #617
1 link was: "The Nature and Origins of Misperceptions: Understanding False and Unsupported Beliefs About Politics". 2nd was "Understanding False and Unsupported".

Not sure why those links didn't work... just copied from the URL bar

[2017-04-04 11:04] JosephMcArthur commented on #617
I think it may be the ":" that's not helping. On dev currently title search works except when

e.g

"ANIMAL BEHAVIOR: New Data Reveal the Sisterhood of Lions" for http://dev.openaccessbutton.org/request/LNyezcHiw48eqrgWq

The Earthquake Network Project: Toward a Crowdsourced Smartphone‐Based Earthquake Early Warning System for http://dev.openaccessbutton.org/request/so89jBy9Znvj52Rvz

[2017-04-04 11:23] markmacgillivray commented on #617
Yes : is a special character - I have added some checks to treat it as not special, and remove anything not in usual a-z alphabet from simple text searches. So

animal behavior: new data

and variations on it should now work.

[2017-04-04 11:23] #617 closed

[2017-04-04 11:33] markmacgillivray commented on #615
I could change what admins see if you want. I could also leave the count as being the big number, even though people would never see the requests without stories. @JosephMcArthur let me know, and I will make the change for admins and the count change if you want it.

[2017-04-04 11:35] JosephMcArthur commented on #615
This seem ideal. Leave count big, and allow admins to see all.

On Tue, 4 Apr 2017 at 12:33 markmacgillivray <notifications@github.com>
wrote:

[2017-04-04 11:37] JosephMcArthur commented on #588
@natalianorori let us know if you're not getting these.

[2017-04-04 11:56] JosephMcArthur opened #618 "Moving to Cloudflare"
This will bring:
* increased scalability
* dramatically decreased load times for folks outside the EU
* resistance to peaks in traffic

but is tricky to move to. It may bring up to 24 hours of downtime in some places.

Moving as of yet isn't urgent, but things are set up and ready when we think it's time to make the leap. My feeling is that doing this is at least 1/2 weeks away.

[2017-04-04 12:43] markmacgillivray commented on #615
OK, have changed so that a logged in admin sees all requests. Everyone, logged in or not, admin or not, sees the full count of requests.

[2017-04-04 12:43] #615 closed

[2017-04-04 15:48] JosephMcArthur opened #619 "http://doi.org/10.3933/ApplRheol-27-15001 leads back to paywall"
Full report: https://openaccessbutton.org/feedback#wrong?searched=10.3933%2FApplRheol-27-15001&given=http%3A%2F%2Fdoi.org%2F10.3933%2FApplRheol-27-15001

Response from API:

[code]

Seems oaDOI is throwing us off here. @markmacgillivray what would you suggested course of action be here? Anything we can fix or should we send over a report to Impactstory?

- [ ] I can add this to the blacklist, but

[2017-04-04 15:55] markmacgillivray commented on #619
Nothing we can do, if we find it somewhere we treat it as open (except the places we blacklist). We could of course add the URL to our blacklist, and potentially the whole domain, if everything they serve requires login, and that would stop us serving it to our users even if oadoi reports it as open.

But as to why oadoi reports it as open in the first place when it needs login, I guess we should

[2017-04-04 16:05] JosephMcArthur commented on #619
Not an option to blacklist the whole domain, some articles are OA. Need to ship #604 before I can add to the blacklist.

[2017-04-04 17:22] svmelton opened #620 "Getting a blank screen when searching for an article"
When searching for the article at dx.doi.org/10.1080/0361526X.2014.939324 on Chrome, I got this page:
![screen shot 2017-04-04 at 1 17 45 pm](https://cloud.githubusercontent.com/assets/7232545/24669708/70796444-1939-11e7-8156-0ccb90603db6.png)

The color indicates the request is successful, but no information shows up on the screen.

[2017-04-04 17:26] markmacgillivray commented on #620
Hmm, what chrome version, on what OS? It works fine on chrome on my linux machine

[2017-04-04 17:28] svmelton commented on #620
Chrome 42.0.2311.90 on El Capitan. I'm trying to replicate it with other requests and haven't so far, but it was definitely weird.

[2017-04-04 17:29] markmacgillivray commented on #620
Appears to work on chrome on osX too.

[2017-04-04 17:33] markmacgillivray commented on #620
Hmm my chrome is 56.0.2924.87. We may not be able to do much unless we see some more examples. Is that on live or dev? Can you try the same DOI on dev (if you already tried on live, or vice versa) and see if you see the same error?

[2017-04-04 17:45] svmelton commented on #620
I originally tested it on the live site. I just tried the same DOI on the dev site, and on Firefox I was given this screen:
![screen shot 2017-04-04 at 1 39 44 pm](https://cloud.githubusercontent.com/assets/7232545/24670498/45472b14-193c-11e7-872d-ae2ee4aedb0e.png)

On Chrome, I got this one:
![screen shot 2017-04-04 at 1 39 36 pm](https://cloud.githubusercontent.com/assets/7232545/24670504/4e8e42

[2017-04-04 17:46] natalianorori commented on #588
I am definitely not getting this

[2017-04-04 17:55] markmacgillivray commented on #620
That would make sense, the first time you try it on dev you would create the request, then when you try on chrome you'd get told it already exists.

Occasionally you'll get errors on any web page if there is some sort of network timeout - from your wifi, your ISP, intermediary servers, or our server... it's possible that first time you tried it on live that you just didn't get the response object

[2017-04-04 18:12] markmacgillivray commented on #588
Damn I got your last name wrong - have updated on dev, will push to live later tonight. Sorry about that.

[2017-04-04 18:13] JosephMcArthur commented on #588
closing again!

[2017-04-04 18:13] #588 closed

[2017-04-04 18:28] natalianorori commented on #588
thanks Mark!

On Tue, Apr 4, 2017 at 2:13 PM, Joseph McArthur <notifications@github.com>
wrote:

[2017-04-04 18:58] JosephMcArthur opened #621 "Start search for author email faster on request creation"
Me as a user: A few times now I've gone to make a request, then been asked to go find the author email. When I return the email has suddenly arrived in the form! This is great, but I'm left thinking why I was asked ;)

Can we start the search for emails behind the scene's any earlier?

[2017-04-04 20:09] natalianorori commented on #583
this is still an issue, at least with the requests I moderated today.

[2017-04-04 20:16] markmacgillivray commented on #621
Not really - it currently starts searching as soon as a logged in user looks at that page. It can't go any earlier or else we make things even slower for the initial creation of the request - just now it skips scraping so that we can more quickly create a request, and we need to do that because in the past we had clashes where multiple attempts to create the same request overlapped.

So it already

[2017-04-04 20:17] markmacgillivray commented on #620
Keeping this open to keep track just in case, but unassigning myself as no action at the moment.

[2017-04-04 20:17] markmacgillivray commented on #619
OK will unassign myself from this for now, will move on #604

[2017-04-04 20:23] markmacgillivray commented on #518
Nope, the BASE response says it is available, and says it is in repec, but gives us back the science direct link. There is nothing else to show where it should actually be. All we can do is report it back to BASE as an error, there's no other fix I could apply to errors like this one...

[2017-04-04 21:00] markmacgillivray commented on #583
I have re-ordered how emails are searched for and filtered, and put longest ones first, and dropped any that appear to be parts of others. This means that overall we should get full addresses more often, but occasionally we will just get the wrong address - or get nothing at all, in testing just now it looks like sciencedirect is blocking some of my requests again.

So I will close this for now, I

[2017-04-04 21:00] #583 closed

[2017-04-04 21:00] markmacgillivray opened #622 "If no firstname or username, show nothing on requests instead of user email"

[2017-04-04 21:20] JosephMcArthur commented on #622
use "anonymous", or a form of it.

[2017-04-04 22:08] wetneb commented on #77
@JosephMcArthur I'll check with the others at our dev meeting this week, but it's trivial to add so I could do it by Monday if they all agree.

[2017-04-04 23:20] JosephMcArthur commented on #619
Another, same deal. Pinging @jasonpriem.

[code]

Side notes:
- [ ] I can blacklist after #604
* I think I've seen this domain qje.oxfordjournals.org throwing up issues before. Just a note to self.

[2017-04-05 02:43] markmacgillivray commented on #622
Done, and user firstnames loaded into old requests where possible. However, most of the new ones that can be seen by admins did not end up with user details added into them, because they are mostly requests created where nobody has taken ownership of them. So they show up as "an anonymous user"

[2017-04-05 02:43] markmacgillivray commented on #616
These have been updated.

[2017-04-05 02:43] #616 closed

[2017-04-05 02:44] markmacgillivray commented on #598
What would you want done with these requests? If they match whatever you have in the spreadsheet, are they to be deleted? Or something else?

[2017-04-05 07:08] JosephMcArthur commented on #598
Hide at the least, potentially delete / close. Natalia what do you think?

On Wed, 5 Apr 2017, 03:45 markmacgillivray, <notifications@github.com>
wrote:

[2017-04-05 08:03] natalianorori commented on #598
I vote for either deleting them or closing them. Deleting them would be best, since they're not useful for our records. That way we can keep the closed status for requests that were valid, but had to be closed for superior reasons (dead authors, ebooks, etc)

[2017-04-05 08:15] JosephMcArthur commented on #598
Let's delete then!

On Wed, 5 Apr 2017, 09:03 Natalia Norori, <notifications@github.com> wrote:

[2017-04-05 11:15] JosephMcArthur commented on #622
99% of these seems much better. Still seeing one though: https://openaccessbutton.org/request?source={%22query%22:{%22filtered%22:{%22query%22:{%22bool%22:{%22must%22:[{%22query_string%22:{%22default_operator%22:%22AND%22,%22query%22:%22i%20need%20this%20dataset%20to%20make%20my%20project%20in%20classification%20of%20dolphin%20or%20whale%20types%20by%20sounds%20that%20they%20make%22}}]}},%22filter

[2017-04-05 13:13] markmacgillivray commented on #622
Yeah I did add the it to the /request search page too, and filtered out where usernames were email addresses, but that record had an odd format error in the field so it was not filtering it properly. I have fixed it and it is getting pushed to live now.

[2017-04-05 13:13] #622 closed

[2017-04-05 14:18] JosephMcArthur commented on #539
# From round 2

'Request a PDF though Imperial Library and the author'.
'Thank you for submitting an inter-library loan request' should read 'Thank you for submitting a Document Delivery request'.
'You will... via Library Search.' should include a link to Library Search (Primo: prod ICL_VU1)
'Terms and Conditions' should link to https://www.imperial.ac.uk/admin-services/library/find-books-articles

[2017-04-05 14:18] JosephMcArthur opened #623 "Imperial bookmarklet slow to respond on "10.21105/joss.00194""

[2017-04-05 14:18] JosephMcArthur opened #624 "Give links to actual articles via primo"
Tests

From "Testing in Mozilla Firefox 51.0.1 in Windows 7 Enterprise.
Testing in Tor Browser 6.5.1 (based on Mozilla Firefox 45.8.0) in Windows 7 Enterprise."

* "10.1007/s11128-015-1003-3" Accessible via Library Services. Clicked on actual
article page.
No When it finds an electronic version of an article, clicking 'Sign in to gain access' has no effect. Even when outside the Imperial
IP range.

[2017-04-05 14:21] JosephMcArthur opened #625 "Imperial Bookmarklet failling to open"
Examples from

* "10.1155/2015/569526" Tried to open from https://www.hindawi.com/journals
/mpe/2015/569526/
No. Button didn't open.
* "10.1155/2015/569526" Accessible via Library Services. Clicked on
ResearchGate page.
No. Failed to respond. Never stopped spinning

# from andrew

* The bookmarklet does not work at all in IE 11 - brings up the "we're looking!" box which sits there and never comple

[2017-04-05 14:27] markmacgillivray commented on #598
The only problem with deletion is it could have significant impact on the "big number". As long as you don't mind that, yeah I'll delete them.

[2017-04-05 14:28] JosephMcArthur opened #626 "https://doi.org/10.2147/oams.s120426 No OA article but OAB suggests to sign in for access."

[2017-04-05 14:29] JosephMcArthur opened #627 "https://doi.org/10.1142/s1793545816500383 No OA article but OAB doesn't find this, suggests requesting full text."

[2017-04-05 14:30] JosephMcArthur opened #628 "https://doi.org/10.1109/tpds.2015.2426179 No We have a subscription but the OAB doesn't find it."

[2017-04-05 14:34] JosephMcArthur opened #629 "https://doi.org/10.1155/2017/3795120 No OAB bookmarklet never appears"

[2017-04-05 14:35] JosephMcArthur commented on #628
* https://doi.org/10.1039/c7ra02620j No We have a subscription but the OAB doesn't find it and suggests ILL
* https://doi.org/10.1063/1.4919631 No We have a subscription but the OAB doesn't find it and suggests ILL

[2017-04-05 14:37] JosephMcArthur opened #630 "10.1016/j.smallrumres.2016.07.016 Accessible via Library Services but Sent to Primo even though available direct from website. link to Primo empty"
Same for: 10.1021/acs.iecr.6b03387 A

[2017-04-05 14:40] JosephMcArthur opened #631 "10.3390/catal6120196: Sent to Primo even though available direct from website."
Another example:
10.1155/2015/873758

[2017-04-05 14:46] JosephMcArthur commented on #598
Seems fine in this case. What are our options for "going back" from
deletion? I'm a little worried about it just incase we (read: I) make a
mistake somewhere.

On Wed, 5 Apr 2017 at 15:27 markmacgillivray <notifications@github.com>
wrote:

[2017-04-05 14:49] JosephMcArthur opened #632 "Also the ILL trigger should no push JSON to oabutton4.php rather than oabutto3.php"
@markmacgillivray not sure if this is for us, or for them. Just close if not.

[2017-04-05 14:50] JosephMcArthur opened #633 "2 science direct articles we're not catching"
e.g "10.1016/j.tecto.2017.02.002", "10.1016/j.physleta.2016.03.019"

[2017-04-05 15:13] JosephMcArthur commented on #155
answer = sfx

[2017-04-05 15:13] #155 closed

[2017-04-05 15:14] JosephMcArthur commented on #68
done & up!

[2017-04-05 15:14] #68 closed

[2017-04-05 15:14] JosephMcArthur commented on #112
done & up

[2017-04-05 15:14] #112 closed

[2017-04-05 15:15] JosephMcArthur commented on #65
in new style this sort of thing isn't really possible, however, it's done clearly on /requests.

[2017-04-05 15:15] #65 closed

[2017-04-05 15:31] JosephMcArthur commented on #620
FYI couldn't replicate. Not hearing of a broader issue. Closing, reopen if needed.

[2017-04-05 15:31] #620 closed

[2017-04-05 15:31] JosephMcArthur commented on #593
We should move this forwards for use

[2017-04-05 15:34] JosephMcArthur commented on #590
Deffo seems worth doing!

[2017-04-05 15:56] JosephMcArthur commented on #565
I think I can do this from /export, so will!

[2017-04-05 16:02] JosephMcArthur commented on #570
This is on live now, we have a bug management system to catch errors & success cases as examples. Closing for now & we'll deal with the rest on a bug by bug basis.

[2017-04-05 16:02] #570 closed

[2017-04-05 16:08] JosephMcArthur commented on #576
So, I know we tried to implement this on live but we hadn't been able to do this in a clean way. In a case like this, I'd suggest we implement for admins if we need to ship quickly.

Seems like the power - user search might work, or, we can bring in almost any implementation for admins.

[2017-04-05 16:09] markmacgillivray commented on #565
@JosephMcArthur this would be an easy one to solve programmatically, so no point you wasting time doing it manually. I can just replace the undesired ones with the desired ones.

[2017-04-05 16:18] JosephMcArthur commented on #565
Okay,
- [ ] other + undisclosed + advocate = "other" (or whatever our current capitalisation is from sign up)
- [ ] merge both students into whatever we're currently using
- [ ] merge researcher + Researcher + Academic into whatever form of researcher we're curently using
- [ ] doctor --> health professional here

Are there really no "patient" requests?

[2017-04-05 16:19] JosephMcArthur commented on #579
@natalianorori can you take a first draft & then send to @chealsye for review

[2017-04-05 16:23] markmacgillivray commented on #565
There are 18

https://api.openaccessbutton.org/requests?q=user.profession:patient

[2017-04-05 16:27] JosephMcArthur commented on #565
Doesn't look like they're coming up in the dropdown. Also, the entire sidebar filters seems to be gone on live.

[2017-04-05 16:34] JosephMcArthur commented on #489
- [ ] Put down how to make requests via the API

[2017-04-05 16:39] markmacgillivray commented on #565
Ah, that is because it maxes out at 10, but now that there are misspellings there are more than 10. I will fix that now, and the fact that they are not displaying at all...

[2017-04-05 16:44] markmacgillivray commented on #565
Ha ha, I increased the size now there is all kinds of junk showing up in it... one of the older users has called themselves a minor deity.

[2017-04-05 17:20] JosephMcArthur opened #634 "Send request system emails from our server vs a "personal" account"
Aiming to establish the complexity of doing this, and if it is helpful. Almost certainly will increase open / success rates. The next issue becomes if this "scales" and is easy enough to make work.

The complexity is in how we track metrics for these emails, and make them easy enough to send quickly.

[2017-04-05 17:23] JosephMcArthur opened #635 "How can we get moderation (or perhaps "1st response" from us) down to < 4 hours."
This is one of the biggest areas where we can cut down turn around time at the moment. How can we make this simple enough to do quickly, even just for story moderation.

[2017-04-05 17:26] markmacgillivray commented on #634
isn't this already possible? Isn't this why the admin page has a "send email" functionality?

[2017-04-05 17:28] JosephMcArthur commented on #635
One option is to just moderate stories quickly, on a simple "not good enough", "fine", "great" scale as they come in. We can then throw a response from that instantly, and reconfirm when a request has gone to an author.

We could have anyone on the team do that perhaps. Just whoever is around. Or a small group of friendly folk in the community. Anyone willing to get emails from us.

[2017-04-05 17:29] JosephMcArthur commented on #635
Screw it, not sure why I'm just limiting us to <4 hours here. Why not think about how we make it "instant" right now!

Can we also think about pre-approving people's stories if they've done 3 good'uns or 2 excellent one etc?

[2017-04-05 17:31] JosephMcArthur commented on #634
But that sends via our server / mailgun right? Those messages appear different in peoples inbox than ones sent via a personal gmail.

[2017-04-05 17:38] markmacgillivray commented on #634
Hmm so do you mean you DO want them to come from personal address? I'd think that makes people less likely to trust it - surely some random Gmail or outlook or whatever account is less likely to seem legit than one from the service that is asking you to do something? And if you just want it to seem more personal, just change the name of the requests account to Jane.

[2017-04-05 19:11] JosephMcArthur opened #636 "Use [name]@openaccessbutton.org for requests"
Yet another way to make requests more personal! Credit to @markmacgillivray for the thought.

[2017-04-05 19:12] JosephMcArthur commented on #634
So, when I say personal address I mean that we send them from within our @openaccessbutton.org gmail account interface. So, like we'd send normal email, however, the text would've been generated by our backend. All this would be trying to do is not have our email come from a mailgun or systems like it, as that mail is flagged as from "bulk" servers.

[2017-04-05 19:16] markmacgillivray commented on #634
In what way is mailgun flagged worse than a Gmail server email? The whole point of mailgun and services like it is that they are supposed to validate as well as any other mail system. The way it validates should be the same as the way a Gmail email appears to validate.

Also, we don't have to use mailgun at all - we can just configure our own mail server and probably even forward that through the