[2017-09-07 13:34] markmacgillivray commented on #892
It says sorry there was an error please click to report it, and tries to open the link to the feedback page, unless it was a blacklist error, in which case they will click or it will try to open and they will see the instructions page and the info warning saying they must have tried to use on a blacklisted place.

[2017-09-07 13:40] markmacgillivray commented on #867
The changes I just added are for anything that goes via the UI. That is, the embeds etc that we have just made, that pass a "from" or "plugin" param to the front page to do an availability check, if that check then creates a request, the request will have that param in it too. Plugins already send the plugin param to requests that they create. So, I think this is complete?

[2017-09-07 20:17] JosephMcArthur commented on #778
- [ ] give nick a heads up about this test - me

[2017-09-07 20:31] JosephMcArthur opened #901 "1st end-to-end test of dev request system"
* objective of the test is to set baseline figures for the performance of this system vs the live system. this should test #634
* They hashtag for this is `dryrun`
* run 250 requests from the backlog

[2017-09-07 22:10] JosephMcArthur commented on #896
I'm not 100% sure which job. But, I think that this one was made through bulk: https://dev.openaccessbutton.org/request/qLSLck7neLrM5iqbz while I was logged in.

[2017-09-07 22:10] JosephMcArthur commented on #892
What's the styling like? Can I see a screenshot?

[2017-09-07 22:13] JosephMcArthur commented on #867
Can we pass the params into the request export sheet? That would complete the other todo in the initial comment.

potentially relevant for #892

[2017-09-11 18:02] allanaaa commented on #893
Looks good - fixed a typo, did a bit of consistency stuff. What kind of gif do you want?

[2017-09-11 18:21] allanaaa commented on #890
I think you have to put in a manual redirect to your 404. Did a quick copyedit here, added a sentence sending people back to the homepage (in case they miss the big Open Access Button in the header).

[2017-09-12 07:04] JosephMcArthur opened #902 "SHARE returning "Chrome extension error: “Your file was not found”""
I've seen this in other places (the big sheets) and I think it points to an issue with the Share integration.

![image](https://user-images.githubusercontent.com/4953703/30312368-1e831406-9791-11e7-8353-b3ffedbd185b.png)

[2017-09-13 11:32] #846 closed

[2017-09-13 11:55] jibe-b commented on #785
I validate how it behaves now!

1. indication to save before any other action
2. "Changes saved" appearing one second is really useful :)

I thinks this issue can be closed. Thanks for the work done!

[2017-09-13 12:00] jibe-b opened #903 "[feature] pop-up when someone hits a paywall and request already made"
When one hits a paywall and a request has already made, next step is to _support_ aka indicate one more person is asking for the full-text.

needs to:
- record the page on which the OAButton plugin has been executed (where the paywall is met).
- add pop-up, saying "A request has been made to the author of this paper to upload it in an open archive. Enter your email adress and get notify when it is

[2017-09-13 12:08] JosephMcArthur commented on #785
Thanks for your help here Jibe!

[2017-09-13 12:08] #785 closed

[2017-09-13 12:08] JosephMcArthur commented on #785
Thanks for your help here Jibe!

[2017-09-13 14:12] markmacgillivray commented on #903
This would only be possible if the plugin runs on every page a user visits (in order to show there is a request for any given page a user is on, we'd have to first check against our API to find that out). It is technically possible to do this, but earlier design decisions were based on the project desire for privacy and to have a minimal intrusion into what a user does - hence, the plugin never do

[2017-09-13 14:13] markmacgillivray commented on #903
Although, just reading your comment again, you say to do this after the plugin is executed. In that case, if you're talking about just having it ask for support when someone does run through plugin in a page that we already have a request for, that already happens.

[2017-09-13 14:25] jibe-b commented on #903
I think about the first option.

It's true that it is more privacy invading, so it should probably be an opt-in feature, so that users benefit from the privacy saving design choice.

[2017-09-13 14:41] natalianorori opened #904 "responder page bugs"
- When uploading a URL, the responder's page gives you an error message even though it saves the content. If you press refresh, you'll see the content was indeed received.

-  When trying to upload content directly to the responders page as a pdf, nothing happens.

[2017-09-13 15:00] #868 closed

[2017-09-13 15:01] #861 closed

[2017-09-13 15:14] allanaaa commented on #879
I'm for a time-delayed message suggesting how to report an error - I've suggested it lines 55-57. Not sure how to time-delay in python tho.

[2017-09-13 15:20] jibe-b commented on #879
in Python:

t = 10 # seconds
time.sleep(t)

Notice though that it stops the execution, hence better to have the code executing asynchronously

[2017-09-13 15:40] allanaaa commented on #879
Great, why don't you go ahead and look at the actual code and figure out where that would fit in?

[2017-09-13 15:50] jibe-b commented on #879
'cause I'm working, right now ;)

[2017-09-13 16:06] JosephMcArthur commented on #904
The first part is a known issue which I'm working on. The later, is this on
live or dev!?

J

On Wed, 13 Sep 2017 at 15:41 Natalia Norori <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype

[2017-09-13 22:45] natalianorori commented on #904
live!
N

On Wed, Sep 13, 2017 at 10:06 AM, Joseph McArthur <notifications@github.com>
wrote:

[2017-09-14 14:32] jibe-b opened #905 "[feature] Make first character upper case in title and journal fields"
In the admin form on the website, the title and journal fields are always starting with a lower case character, which is a bit annoying.

Making it automatically upper case would save, 100ms per request moderation ;)

[2017-09-14 14:36] jibe-b opened #906 "[UI] author's email is not placed in the good input element"
`<input class="form-control" type="text" id="email" placeholder="Article author email">`

is filled with the author's email, instead of `"admin_email"` which is an element of the admin form.

[2017-09-14 21:05] jibe-b opened #907 "[UI] blue banner for data requests?"
I suggest to make use of the color code made for paper vs data requests (orange vs blue) and place a blue banner for data requests.

That would help moderators to handle paper and data requests differently.

[2017-09-15 12:37] jibe-b opened #908 "[Admin] add iframe with article's landing page"
It would save some time to moderators as no longer need to open the page of the article.

For example, for request https://openaccessbutton.org/request/NiTj5wFhAibEDyRdZ (IgNobel prize!)

cross-origin request is allowed, so the iframe

`<iframe src="https://link.springer.com/article/10.1007%2Fs10899-009-9174-4" width="100%" height="500px"></iframe>` displays the article.

When cross-origin request

[2017-09-15 13:05] markmacgillivray commented on #908
Cross origin request isn't relevant to iframes

[2017-09-15 14:15] JosephMcArthur opened #909 "after plugin install, push to new page (an instructions page maybe)"

[2017-09-15 18:53] JosephMcArthur opened #910 "turn eifl handout into libraries page"
* decide how to change sign up
* have it work like this: https://science.mozilla.org/resources
  * CTA of joining our mailing list
  * section titles
    * ILL (then split by tool / integration)
    * search (then split by tool / integration)
    * general tools (then split by tool / integration)

* background image???

[2017-09-17 20:20] jibe-b opened #911 "[involve authors] example of email to ask authors to upload article"
Here is a version of emails sent by wikipedians in relation with dissem.in to authors to incitate to upload to an open archive. Also seen on a wikipedia or open access mailing list:

https://twitter.com/cureffi/status/907643332033204224

[2017-09-18 08:26] JosephMcArthur opened #912 "Google using odd snippet for site"
![image](https://user-images.githubusercontent.com/4953703/30533867-6f64c20e-9c53-11e7-96ea-f87252eeef3e.png)

They're using text from:

[code]

which isn't great

[2017-09-18 08:27] JosephMcArthur opened #913 "If new plugin is clicked twice on the same article, the second time it'll start a request"
A caching issue, I presume?

[2017-09-18 08:29] JosephMcArthur commented on #895
- [ ] When an article isn't found, the widget doesn't display "this article isn't available". Only shows the text asking if they'd like to make a request - @markmacgillivray
- [ ] Ask users to make ILL's - me

[2017-09-18 08:53] JosephMcArthur commented on #893
@allanaaa I was thinking gifs like on slides 6 / 7 / 8 here https://docs.google.com/presentation/d/1uFHNJAqkAatLdTt-vBxoLXHpS4W6-Fo9BCupax97NVM/edit#slide=id.p (the oab usage & install gifs)

[2017-09-18 09:11] JosephMcArthur commented on #859
Attached are some annotated logs for this issue.

[oab-chatbot-logs-1505724945646.txt](https://github.com/OAButton/discussion/files/1310159/oab-chatbot-logs-1505724945646.txt)

here is quite a similar issue I found & a fix https://stackoverflow.com/questions/38402931/facebook-chat-bot-sending-same-message-multiple-times-python

[2017-09-18 10:03] JosephMcArthur commented on #866
Done some testing.
* Plugin looks good
* Website looks good
* Chatbot looks good
* Imperial didn't test
* Illiad works! with a test url like: https://dev.openaccessbutton.org/?from=illiad&url=http://journals.sagepub.com/doi/abs/10.1177/0037549715583150
* Clio works with https://dev.openaccessbutton.org/?from=clio&url=http://journals.sagepub.com/doi/abs/10.1177/0037549715583150 . This is without a

[2017-09-18 13:21] JosephMcArthur commented on #904
Can you send an example responder page where this happens?

[2017-09-18 13:22] JosephMcArthur commented on #851
Sent this off for testing. Closing for now, as sounds like all should be good here.

[2017-09-18 13:24] JosephMcArthur commented on #912
I think Google is doing this as it's just picking the first thing it sees

[2017-09-18 13:30] JosephMcArthur commented on #912
have uploaded a new snippet to dev

[2017-09-18 13:30] #912 closed

[2017-09-18 13:31] JosephMcArthur commented on #904
@markmacgillivray if there is anything you can see going wrong here it would be great to fix asap

[2017-09-18 17:26] JosephMcArthur commented on #742
this bookmarklet might be helpful: https://www.library.ucsf.edu/use/access/

[2017-09-18 20:00] natalianorori commented on #904
https://openaccessbutton.org/response/FzZQznsGynrCpgJu7 I just tested it on this request and nothing happens, page just freezes and stays that way for 15 min, when I reload it I see no data got saved. It happens on PDF. Never tried uploading .docx to the site.

[2017-09-18 20:02] JosephMcArthur commented on #904
can you send me & mark the PDF you're using

On Mon, 18 Sep 2017 at 21:00 Natalia Norori <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-09-18 20:04] natalianorori commented on #904
The PDF does not belong to the request btw, I just used it to test. so if
for any reason it uploads, please make sure to move the request back to
"progress"

best
Natalia

On Mon, Sep 18, 2017 at 2:02 PM, Joseph McArthur <notifications@github.com>
wrote:

[2017-09-18 20:09] JosephMcArthur commented on #904
@markmacgillivray when I test this the console said

`[Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check https://xhr.spec.whatwg.org/.`

[2017-09-19 03:17] natalianorori commented on #901
This is the[ google drive folder](https://drive.google.com/drive/folders/0B-F7etjqq9CxQmo5cnNKUjg1VjA) for the test, where notes and spreadsheets used to perform it can be found.

[2017-09-19 11:14] jibe-b opened #914 "[requests] make use of"
Why not organize, during the OpenAccessWeek and/or as an OpenCon satellite event a request party?

It would consist in:
- gathering moderators (most probably remotely)
- write stories and hack the email sent to the authors
- prepare A/B testing of stories and email templates (like: send 100 of each type and in 1 month, identify the ones that succeded)

and it would make use of all the requests wit

[2017-09-19 11:16] jibe-b opened #915 "[OA doi resolvers] collect unsuccessful OA doi resolving"
It could be nice if other doi resolvers such as oadoi open a "request without story" each time they fail to permit access to OA version.

Maybe is the data already kept in the oadoi and it can be shared batch.

[2017-09-19 12:08] jibe-b opened #916 "[in the name of] propose to organization to make requests in the name of their users"
Up to now, requests are made by individuals.

Batch upload and existence of increasing number of digital OA tools make several organization potential proxies between their users (which are not OAB users) and the authors of articles.

For example, an organization that provide an OpenAccess boosting DOI resolver sees its users ask for DOIs. People in this organization could then propose to their use

[2017-09-20 10:02] JosephMcArthur commented on #851
This was the result with an article which should be available. Two things,

* it should work...
* when something isn't oa we should be getting a nicer title

![test request in alma](https://user-images.githubusercontent.com/4953703/30638339-02d7a1fa-9df3-11e7-8507-45bcec030475.JPG)
![test request result page](https://user-images.githubusercontent.com/4953703/30638338-02cb2c7c-9df3-11e7-8972-6cb332

[2017-09-20 12:56] jibe-b commented on #705
Here is an article in which all authors are corresponding authors:

https://openaccessbutton.org/request/xcPxCbgPP72u2hQam

[2017-09-21 12:02] markmacgillivray commented on #895
I don't understand this - as far as I can tell that "not available" text is in the embed widget, but also the widget redirects to a new request page anyway, so that may never get seen. Also, the embedoa page now seems to have been broken, with js includes to w3schools that don't work and some layout issues too.

I have resized the text though.

[2017-09-21 12:06] markmacgillivray commented on #892
The styling is as shown in the image at the top of this issue, except instead of the "???" text the test is "Sorry, there was an error. Please click to report it".

[2017-09-21 12:37] #892 closed

[2017-09-21 13:04] JosephMcArthur commented on #895
Page formatting fixed, that was just a little mistake I made.

I'd rather not have the redirecting behavior right now without consulting users, I think many of them like the more traditional nature & will be putting this on pages they want their users to stay on. I can see a lot of uses for the auto-redirect though and I'd encourage you to keep the version of the code that powers this in a separat

[2017-09-22 05:52] markmacgillivray commented on #895
OK, have made the redirect an option on the widget, so by default it does not redirect. To make it redirect, whatever page you call openaccessbutton_widget from, set openaccessbutton_widget({redirect:true})

[2017-09-22 05:52] #895 closed

[2017-09-22 06:30] markmacgillivray commented on #866
How are you including the uid? Needs to be in an object, like {uid:MYUID}

oasheet / bulk differentiation will require some changes to how it actually works, because they ARE the same thing. Will have to pass in extra params to the backend. Will do later.

Passing back to @JosephMcArthur to test

[2017-09-22 06:33] markmacgillivray commented on #904
Very odd, have tested, and it just does not seem to do anything at all. Was definitely working last time we updated. This is some new problem. Will investigate further.

[2017-09-22 06:38] JosephMcArthur commented on #866
You coded up the uid, so I'm not sure. If memory serves it shows up like that though.

[2017-09-22 06:49] markmacgillivray commented on #866
embedoa fixed, login request put back on page.

[2017-09-22 07:11] markmacgillivray commented on #866
Added oab_site ID to our embed page script, and added a way to pass plugin name to the backend job runner, so oasheet jobs will show up as oasheet, not bulk

[2017-09-23 13:00] jibe-b opened #917 "[dododata] similar project as OAB for French gov OpenData"
A French startup is organizing a proxy process similar to the OAB to access French administrations data.

French law stipulates that data may be released if one asks for them.

source: http://www.dododata.io/#la-demarche

[2017-09-25 03:57] markmacgillivray commented on #904
I have altered how files are uploaded now, I have tested with a pdf on a request on dev and the file appeared to upload fine. Please test this with a new request on dev and let me know if the file uploads as you expect, and that the process goes as expected. If so, I can push an update to the live API to fix this issue as soon as you confirm.

Will unassign myself now and leave assigned to joe and

[2017-09-25 20:04] nemobis commented on #916
I agree this is something worth setting up/exploring. Maybe, to avoid overcomplicating it, you might want to start with something that one university is willing to actively use. If you are able to set up something, even very simple, I expect there will be interested from at least one of the universities I'm in contact with re https://lists.wikimedia.org/pipermail/openaccess/2017-September/000252.h

[2017-09-25 20:07] nemobis opened #918 "Paper deposited via Dissemin not found in OAbutton"
https://openaccessbutton.org/request/vtnszPHdByxyNJmRM claims "This article is inaccessible" but https://dissem.in/api/10.1177/0269215509104170 correctly reports that it was deposited at https://zenodo.org/record/996838

If Dissemin is among the sources as stated in https://openaccessbutton.org/about#sources , and considering it feels unlikely the Dissemin API response for this specific DOI was ca

[2017-09-25 22:00] jibe-b commented on #916
Thanks @nemobis

I was at first thinking about organizations like ImpactStory with OADOI which have logs of DOIs and can speak in the name of their users.

You make me think about the OpenURL resolvers (including SFX), which are linked to a research institution. The librarians that manage this system could take care of collecting DOIs and making requests in the name of the researchers.

And it's w

[2017-09-27 07:15] JosephMcArthur opened #919 "Missing papers from philpapers.org"
- [ ] look into this issue
- [ ] get back to reporter (email titled Re: more OA button feedback )

[2017-09-29 04:57] natalianorori commented on #901
**UPDATE: September 28th, 2017**
**Dev system stats**
We sent out the test on September 18th , 10 days ago, as of today:
Click rate: 9%  (7)
Open rate: 32% (74)
Response rate: 10 out of 74 opened. (7.4)
		   10 out of 250 sent (4%)

_Observations:_
We received content from 10 authors, of those 10 authors 5 sent us paywalled links or the publishers PDF that we can't display on the site. They have b

[2017-09-29 09:27] JosephMcArthur commented on #901
This is WONDERFUL Natalia, exactly what we needed to see here.

* Was the paywalled link the same as the one to user submitted to us? I know we had this issue early on, but thought that we'd addressed it!
* Did we have sherpa remeo info for these records? I know these are old and we've identified an issue on old records with them still not having info where they should.

Does YAMM have anything to

[2017-09-29 20:32] natalianorori commented on #899
https://openaccessbutton.org/response/SDWEGKHfZp9k5mctj# Still getting
submission error. I will test the rest of the responder's page features
later but didn't want to forget to send this one.

On Fri, Sep 29, 2017 at 12:40 PM, Joseph McArthur <notifications@github.com>
wrote:

[2017-09-30 15:05] JosephMcArthur commented on #899
Note, I just synced the templates so if it's that the issue should now be gone.

[2017-09-30 15:09] JosephMcArthur commented on #899
and another note, this is where we discuss the addition of the box that we thought was causing this issue: https://github.com/OAButton/discussion/issues/587#issuecomment-315765057. Just noting as have no time to test right now!

@natalianorori did you try and as the URL as an admin, or author?

[2017-10-02 09:52] markmacgillivray commented on #913
Clicked in quick succession? Do you mean it creates ANOTHER request? Or that it creates a request even when it should not, for something that should not have a request created?

If the problem you saw is that it creates another request, then yes, probably due to the time it takes to create a request, and if the button is clicked again in quick succession the backend will not have had time to creat

[2017-10-02 10:03] JosephMcArthur commented on #913
Steps to reproduce:
* Click on an article where we can find oa, let it open the new tab
* go back to the article, click the plugin again
* a request will be started.

How that?

[2017-10-02 10:04] markmacgillivray commented on #913
So does this still happen? I pushed changes to the phoenix branch of the plugin that I think should have already stopped this - they stop the button from sending another request.

[2017-10-02 10:05] JosephMcArthur commented on #913
Hmmm. It was. Perhaps somewhere I didn't push a release??? Let me check.

[2017-10-02 10:07] markmacgillivray commented on #913
The actual releases won't be up to date, I just pushed this to github a few minutes ago. I mean if you use a dev install of the plugin on your browser and pull the latest from git and reload it, you should have this solved.

[2017-10-02 10:10] markmacgillivray commented on #909
Added an oninstall action to open a page on the site at /instructions.

When the plugin is next updated, and your browser then next pulls the new version (or you install for the first time), this should open the instructions page. But I have not tested it - we would need to update what is on the chrome store first, then try it that way, I think.

For info:

https://developer.chrome.com/extensions/

[2017-10-02 10:11] JosephMcArthur commented on #913
just tested with plugin downloaded from pheonix using dev install. All is well.

[2017-10-02 10:11] #913 closed

[2017-10-02 10:14] JosephMcArthur commented on #909
can you make a release, and I'll get this tested today

On Mon, 2 Oct 2017 at 11:10 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-10-02 10:15] markmacgillivray commented on #629
I've tried a few ways to fix this, but it still does not work - it could be an issue with the format of the page itself rather than our booklet, given that the bookmarklet works. The console complaint is that our injected code is not valid xml, although we are not using xml. Possible the site only wants xhtml strict, but that is pretty old, and even then I am not sure why it would not still accept

[2017-10-02 10:17] JosephMcArthur commented on #629
We don't get many issues like this reported. I'm happy to treat as a one-off for now and de-prioritise having looked at it.

Is there a way we could log pages where we get this error quickly to help build up a picture of the issue?

[2017-10-02 10:18] markmacgillivray commented on #909
https://github.com/OAButton/plugin/releases/tag/4.1.4

[2017-10-02 10:19] markmacgillivray commented on #629
No, because it makes our code fail completely.

[2017-10-02 10:20] JosephMcArthur commented on #629
Got you. Then I'm going to close.

[2017-10-02 10:20] #629 closed

[2017-10-02 13:02] JosephMcArthur commented on #909
I'm not having anything happen when I install atm from the the store.

On Mon, 2 Oct 2017 at 11:18 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-10-02 15:51] markmacgillivray commented on #902
This is fixed. It was actually a combination of a problem with the redirect checker and the plugin feedback link. Both sorted now on dev. Requires an API update to live.

[2017-10-02 15:51] #902 closed

[2017-10-02 15:57] markmacgillivray commented on #909
Fixed and tested. It actually works just on reload when I am using it from the repo directly, so now that it works I can see it working - it will open instructions on the live site even when on dev though, because the site address is not known to be changed to dev at the point when this code runs (which was why it was failing). I have made a new release, @JosephMcArthur you can upload to chrome st

[2017-10-02 16:00] markmacgillivray commented on #897
Done on dev, does not need API update to push to live.

[2017-10-02 16:00] #897 closed

[2017-10-02 16:04] markmacgillivray commented on #839
@JosephMcArthur is the dev system still sending emails as you would expect when you have been testing over the last month? If so, this is probably the best we can do and can close this issue now.

[2017-10-02 16:18] markmacgillivray commented on #886
Speed increase will come along with specifying which places to search for, because I will rewrite the search process then. So another issue is probably not required.

[2017-10-02 16:22] JosephMcArthur commented on #886
can you put that on the request page when it loads (like on availability). I ticket it, but actually failed to do it if I remember

[2017-10-02 16:28] markmacgillivray commented on #862
@JosephMcArthur can you try this on browserstack again and report back what the console log says? This page has since been changed, and I have added some console logs to show how far through it gets, if it makes any progress at all. Close the issue if it works now, or reassign to me with the new info if not.

[2017-10-02 16:34] markmacgillivray commented on #886
I'm not sure where you are encountering the delay.

The request page where a request is created already has a loading spinner and says "Starting a new request. One moment please."

After that, the actual new request page is loaded, and details are retrieved from the backend. If it is at this point that you want to show a message, then it would have to be something that makes sense in the context o

[2017-10-02 17:10] markmacgillivray commented on #859
I would guess from looking at the logs, and the fact that it does not always do this, and that it did not on subsequent try for the same thing, and that the SO issue you link to mentioned a 20s timeout, that the problem is sometimes the call to our API is taking over 20 seconds so the facebook API keeps trying to resend the request (which is what their docs says it will do).

This would cause mult

[2017-10-02 21:40] JosephMcArthur commented on #909
This is now uploaded to the Chrome store. Thanks Mark.

On Mon, 2 Oct 2017 at 16:57 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-10-03 07:30] JosephMcArthur commented on #862
Still didn't work. Console message below.

![image](https://user-images.githubusercontent.com/4953703/31114195-cc60399e-a814-11e7-8a36-b6e2d37a42ba.png)
![image](https://user-images.githubusercontent.com/4953703/31114255-10e1f616-a815-11e7-9515-65ab5e647456.png)

[2017-10-03 07:36] JosephMcArthur commented on #839
I'll admit I'm not a massive fan of using the mg. domain. I don't normally see others need to do this, so it feels odd. However, I suppose if this is what works then let's do it. The only thing I'd suggest is perhaps using "email." so that it's at least clear to a user why this odd domain is being used?

Is this on the request system too?

More generally, the fact we now have oauth & a decrease in

[2017-10-03 07:39] JosephMcArthur commented on #886
The spinner can sometimes drag on for a while in my experience, that's all I'm concerned about since people are going to be entering at this page a lot from the plugin / widget / frontpage / deliveroa.

[2017-10-03 07:49] markmacgillivray commented on #862
Ok looks like the button is at least working now, just not updating the page. I'll look at that point again.

[2017-10-03 09:23] JosephMcArthur commented on #909
verified all the behaviors here on my version

[2017-10-03 09:23] #909 closed

[2017-10-03 13:26] markmacgillivray commented on #862
Actually, this is now a different problem. The button IS working. It is just not reloading the page. That was a previous problem that I had already fixed - see this version of the file from a commit before the merge problems we recently had:

https://github.com/OAButton/website/blob/0914db9537d3e1231475bc5da626a862b56a75f5/content/request/item.html#L129

It includes code to refresh the page if we

[2017-10-03 13:31] markmacgillivray commented on #859
Re. previous comment, @JosephMcArthur  let me know what you want done with this one - are you still doing the coding on this, or are you wanting me to look at it? Or is someone else doing it? If me, is it prioritised over other things? Thanks.

[2017-10-03 13:58] markmacgillivray commented on #898
Written a script for this, still to test on dev then can be run on live.

[2017-10-03 15:15] JosephMcArthur commented on #898
I know @natalianorori would love to see this asap. lmk what's needed to test.

[2017-10-03 15:16] JosephMcArthur commented on #859
This is probably a bit beyond me at this point. If you could do it that would be great, but this is relatively low priority in this milestone.

[2017-10-03 15:23] JosephMcArthur commented on #862
Okay, that did indeed fix the problem.

I don't think you need to do every file (god, I hope not at least). Probably just index / request. Any tricks you know for comparing different versions of these files easily, I'm happy to do a sweep through other files (did a manual one on files I worked on too).

[2017-10-03 15:45] jibe-b commented on #898
+1

[2017-10-03 17:58] natalianorori commented on #898
(y) Yes please! This is essential for the next test we have to run

[2017-10-06 08:55] JosephMcArthur commented on #851
Have to pause working on this for a few reasons I can't put here! Pushing to backlog for a while.

[2017-10-06 23:18] natalianorori commented on #901
Swore I had answered these, sorry it took me this long:
This is WONDERFUL Natalia, exactly what we needed to see here.

Yes, it was the same link submitted to us.

No, we didn't have Sherpa Romeo info for these records, we currently have little info on all requests, this is why we discussed we need to push #898 asap.

They said it was a temporary error with the system.

Yes, spreadsheet is here: h

[2017-10-07 11:18] JosephMcArthur commented on #901
Sent you two emails to this request: https://openaccessbutton.org/request/hXuuopYdtF25Lp22E

I seem to have only got one :/

[2017-10-09 04:06] markmacgillivray commented on #898
I ran the script on the dev site, it worked fine.

There are 382 requests on dev, 106 of them had a journal name and 66 had a sherpa color. Processing took about an hour. 276 requests were page-scraped again (the amount for which we did not know the journal name) and journal names were found for 23 (about 9%). We found sherpa colors for 17 (these could have been ones we re-scraped, or ones we had

[2017-10-09 04:54] JosephMcArthur commented on #898
Yes please!

[2017-10-09 05:07] #901 closed

[2017-10-09 05:41] JosephMcArthur commented on #862
I've just restored all the ILL forms, ill demo demo and a few other small issues.

Files I think that still need some love & care:
* Bulk - at least some code from  https://github.com/OAButton/website/commit/4ed2cf183a3c4d9d8d309dbb484e36c12a41df21 doesn't appear to be on dev atm
* Stats -  at least some code from  https://github.com/OAButton/website/commit/d389caaa9527f108566062547b9288af48773e52

[2017-10-09 05:46] JosephMcArthur commented on #899
@markmacgillivray I can't figure out what email template it wants to send atm. Does the code give you an clues?

[2017-10-10 01:15] natalianorori opened #920 "Author follow up test"
objective of the test is to test an increase in our current deposit rate by following up with authors who've been emailed before

Hashtag for the test: #followup1

Metric: deposit rate

Sample size: 995 requests (all requests in "progress" status") until september 30th, 2017
Date sent:  Monday, Oct 9 2017

Materials needed: requests (all requests in "progress" status") , google sheet with requests

[2017-10-11 10:19] JosephMcArthur opened #921 "Using Manuscript Submission Systems as a starting point for getting AAM"
This was a discussion that started on [Twitter](https://twitter.com/Mcarthur_Joe/status/917669067175137281), but is starting to warrant a place for longer form discussions I think (or at least, we'd like to keep working on this and for us that start with an issue).

The general problem to solve here is that ways of getting AAM's from authors rarely work. Authors usually don't understand the termin

[2017-10-11 10:43] rossmounce commented on #921
Lowering the barriers to getting the AAM from authors is great idea. Love it.

In my case, even though I _think_ I know what the AAM would be, finding it, especially if you're not the submitting author of the manuscript, can be an uncertain prospect sometimes. Eliminating or ameliorating that kind of uncertainty might well encourage more AAMs to appear / be deposited.

Ask around the library commu

[2017-10-11 11:08] rossmounce commented on #921
Just had a thought. What if a screenshot of the exact likeness of the manuscript tracking system was considered "copyright infringement" ? You know how publishers just love litigation & hiding in shadows... Something to consider.

[2017-10-11 14:26] jibe-b opened #922 "[RG] systematically request papers that were available on RG"
RG started to remove papers. Source: https://www.insidehighered.com/news/2017/10/11/researchgate-bows-publisher-pressure-and-removes-some-papers#.Wd4ciADBEjg.twitter

The oadoi API keeps track when the OA version was available on RG https://oadoi.org/api/v2#oa-location-object

Let's consider sending requests for these articles, so that at least a preprint is made available in an open archive.

cc

[2017-10-11 14:39] nemobis commented on #922
jibe-b, 11/10/2017 17:26:

"Was" as in at the time the data was updated? I don't remember seeing
historical locations. Would you go through the list of all known DOIs on
ResearchGate to see if they're still there, or what?

It would be useful to know what kind of message ResearchGate sends to
the user in such cases.

[2017-10-11 14:52] markmacgillivray commented on #922
If the oadoi API is confirming that what was found in research gate was an open version, then why don't we just do a GET on all those URLs, and for every one that still returns something, deposit it straight to zenodo?

[2017-10-11 16:01] wetneb commented on #922
@markmacgillivray because that's illegal?

[2017-10-11 16:33] markmacgillivray commented on #922
Is it? Openly available versions, freely accessible on the web? I mean only if oadoi can confirm that these RG URLs are to things that actually are the open versions.

It's not illegal to GET a public URL, but of course it can be illegal to do something with the content that you find there. We all know the cases of people getting in trouble for getting stuff that others left in public.

However if

[2017-10-11 16:49] wetneb commented on #922
I think there are two illegal steps: downloading and uploading.
- By mass-downloading these papers from RG you would infringe their ToS ("All information provided within the Service by the Provider and by other Users may only be accessed manually by a natural person using ordinary Internet devices.")

- By uploading the papers to Zenodo, you would infringe both Zenodo and RG's ToS:
  * Zenodo stat

[2017-10-11 17:32] markmacgillivray commented on #922
Violating ToS is different to copyright. The RG one says that info must be accessed manually by natural persons, but that can already be shown to be unenforceable (or else we, oadoi, Google, bing, internet archive, etc etc are already breaking it), and if it were enforced, the copies of stuff that i did have would still in themselves not be illegal copies (assuming oadoi can tell us this accuratel

[2017-10-11 18:53] nemobis commented on #922
Mass-downloading from ResearchGate is problematic and pointless, but
maybe a HEAD request would suffice to see if the PDF is still there.

Or you could just get a snapshot of the OAdoi data now and in a few
months, compare the URLs. I don't think there's any hurry anyway.

[2017-10-11 21:03] jibe-b commented on #922
I mistook the availability of the links to RG in dissemin's database with oadoi @wetneb
Voes the agreement with RG allow what I propose, but using records from dissemin?

There is no hurry, but the RG/Els. issue is trending, so let's maybe not let it get forgotten, before doing this.

[2017-10-12 04:54] markmacgillivray commented on #862
I looked through some of those changes, the first few I checked were all missing, across multiple files. So I used the network graph to look across all the old commits:

https://github.com/OAButton/website/network

and found this one, where master was merged into develop, which appears to be what wiped a lot of the progress in the develop branch:

https://github.com/OAButton/website/commit/5c22363

[2017-10-12 08:08] wetneb commented on #922
Our index of ResearchGate is obsolete and outdated (but yeah, if you want to make anything of it, feel free!)

[2017-10-12 09:57] JosephMcArthur commented on #921
Update here. In Scholarone, a submission platform used by ~7000 journals it seems like it is possible (and perhaps common) to email all coauthors a copy of the AAM on acceptance. In the journal I spoke to this copy was blinded for peer review, so had no authors name on it. This was true throughout their process and so you'd need to ask authors to add that in before deposit I guess. However, at oth

[2017-10-13 04:36] markmacgillivray commented on #886
I'm still not sure what I can do with this issue. The main front page and the request page both have loading spinners and messages already, the main page tells you it is searching thousands of repos, the request page tells you it is creating a request. Apart from making the backend faster, which we're going to do as soon as I can set some time to do a refactor of that, I don't know if there is muc

[2017-10-13 04:39] markmacgillivray commented on #867
As far as I can still tell, this is complete. The code again may have been missing because of the recent git issues, but it is there now, both the request and availability exports include the plugin, from and embedded fields. But because the code that collected those from the various pages was also unintentionally removed, there may not be much to show on current exports anyway.

Reassigning back

[2017-10-13 04:40] markmacgillivray commented on #625
@JosephMcArthur is this on hold re. recent email? If so, shall we move to backlog? Assigning to you to decide.

[2017-10-13 04:51] markmacgillivray commented on #899
Natalia should get an email whenever anything is received, there is no template for this, it just tells her something was received and gives her the info in the email content.

When something is received we also send an email to the author thanking them, using authors_thanks_article.html. And for anyone that requested/supported it, we send requesters_request_success_article.html.

Note that the re

[2017-10-13 07:05] JosephMcArthur commented on #625
It's fine to look at on the general bookmarklet.

On Fri, 13 Oct 2017, 06:40 markmacgillivray, <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-10-13 08:11] JosephMcArthur commented on #867
excellent! lets close

[2017-10-13 08:11] #867 closed

[2017-10-13 08:12] JosephMcArthur commented on #886
if the creating a request message is there, then I'm happy to close pending a refactor

[2017-10-13 08:12] #886 closed

[2017-10-13 14:27] jibe-b opened #923 "[bug] requests stay with status "moderate" after having been sent"
The case for these requests:

https://openaccessbutton.org/request/LptEjAxBhHxFGg3Nj

https://openaccessbutton.org/request/jtHXujYy5HqZhWuD5

That should be a trigger for me to write regression tests to prevent this type of bugs… I wish I had more time!

[2017-10-13 14:33] JosephMcArthur commented on #923
@natalianorori is this to do with sending via the YAMM system?

[2017-10-15 00:52] chealsye commented on #921
What publishers or submission systems have you found yet (besides Scholarone) that do have an attached file? I asked around and at least me and other LIS researchers haven't experienced that. But the 7000 journals with Scholarone seem promising. My main concern at this point is how many of these journals allow accepted manuscripts to be archived.

@natalianorori has reported that there seems to be

[2017-10-15 12:25] JosephMcArthur commented on #921
No others so far. Only seen two though! The other one wasn't quite as easy, but still better than what we have now imo.

Indeed. To put this into production will need some careful thought and a more complex templating approach than we now have I think.

We weren't helped with the fact that the SHERPA/RoMEO changes we made didn't apply to all requests (I thought they did), and we recently ran some

[2017-10-15 12:31] JosephMcArthur commented on #809
note. We're also running:
* ILL lists
* Nature journals
* Our own backlog

[2017-10-15 18:19] chealsye commented on #921
Would it be possible to share what the Scholarone email looks like/includes? This seems like an exciting route to take if it does mean making it super simple for authors to share their accepted manuscript and associated metadata.

My main concern though is authors continuing to provide the accepted version when legally they can only share the submitted version. By 'not getting journal info as much

[2017-10-15 19:11] JosephMcArthur commented on #921
Yes. I don't have permission to share broadly right now so I've forwarded.

I mean that we're often not able to get journal names for requests at the
moment, but those things will also become a problem before long (as we've
discussed previously :'( ).

On Sun, 15 Oct 2017 at 20:19 chealsye <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http:/

[2017-10-15 19:33] chealsye commented on #921
Thanks for forwarding along!

Ah okay. That's a worse problem than I thought. Any solutions on the horizon?

[2017-10-15 20:48] JosephMcArthur commented on #921
Nothing super immediate. We've improved our data from automatic sources
(scraping, meta-data friends). We've tried mturk, and that was often wrong
(odd, great for emails... bad for journals). Could try and get from users
or moderators, but this doesn't scale well (although we could make sure
that contributions made once applied for all URL's e.g to change this a
bit). I don't honestly have a lot o

[2017-10-18 07:58] jibe-b commented on #923
Hey @JosephMcArthur @natalianorori @markmacgillivray I am forced to report this again. It looks a bit strange, as other requests seem to see their status changed correctly but the ones I moderate do not.

[2017-10-20 07:06] natalianorori commented on #923
This is weird and definetly does  have nothing to do with the YAMM system. Requests I moderate do change their status automatically, it might be a problem linked to Jibe's account. Jibé, have you tried signing out and in to the system again?

[2017-10-20 07:10] natalianorori commented on #898
Was this script already run on live?

[2017-10-21 19:49] jibe-b opened #924 "[extract-metadata] option: use Zotero javascript"
Zotero extracts metadata (using what they call connectors) in javascript.

It could be used by OAB. It's somewhere here: https://github.com/zotero/zotero-connectors or maybe https://github.com/zotero/zotero

[2017-10-21 19:49] jibe-b commented on #924
It's done by dissemin

[2017-10-24 09:10] JosephMcArthur opened #925 "This gif on requests"
https://twitter.com/Mark_A_Hooper/status/922243245999980544

[2017-10-24 09:37] jibe-b commented on #923
I'll try to moderate one now

[2017-10-24 09:38] jibe-b commented on #923
It works fine today (status changed to "In progress" after page refresh)

[2017-10-24 23:15] natalianorori commented on #923
Glad this was fixed, if you have this issue again, feel free to reopen

[2017-10-24 23:15] #923 closed

[2017-10-24 23:18] natalianorori commented on #899
@markmacgillivray @JosephMcArthur I tested this today with my own requests on the live site and it's not happening. However, I had no idea this was an implementation we decided to push, so I have been manually notifying both the users and the authors when we receive content (since checking that what authors post is legal is also an important part of the moderation process)

Uploads is also not wor

[2017-10-25 02:00] natalianorori opened #926 "https://openaccessbutton.org/import not working on live"
I tried uploading bulk to update numbers on the requests page but upload button fails to upload. Gets stuck and takes ages @JosephMcArthur @markmacgillivray

[2017-10-25 05:59] natalianorori commented on #920
**Results**
We sent out 995 requests but 112 of them bounced. bounced requests will be moved from progress to help status once the /import function works correctly.

883 requests sent out successfully

13 deposited the correct version of their paper
3 sent publisher's pdf
1 sent researchgate copy
1 refused request
1 author replied saying he didn't have a copy
Total author responses: 19
Total recei

[2017-10-25 06:02] natalianorori commented on #778
@JosephMcArthur have you talked to Nick about this? This is an easy/small side test to run while we wait for results for bigger ones

[2017-10-25 06:17] natalianorori commented on #771
We've discussed this on a call long ago, but left it hanging. We can test this with a small number of authors who are active on twitter.

My questions/doubts below:

- How many authors for the test?
- We should see how many of these tweets we'd send and how often, to avoid seeming spammy.
- What I'm thinking about is a small mention with a link to the responder's page of the request, but need to f

[2017-10-25 06:44] jibe-b commented on #920
cc @nemobis

[2017-10-25 07:16] nemobis commented on #920
Can't this backfire?

Such followups seem a good occasion for some A/B testing. Instead of sending the same message you could test different subject lines, first line, closing links, p.s. and links. (For instance, link Dissemin; or a general purpose repository like Zenodo or OSF, or a thematic repository if your metadata includes the scientific field.)

[2017-10-25 07:38] JosephMcArthur commented on #771
I'm not sure, at first I'd suggest less of a formal test and more just trying to approach and some gut feeling based on intuition.

+1

Sounds good! I don't see an issue with a second "threaded" tweet though if needed.

I much prefer after contact through email, unless we can't find an email.

[2017-10-25 08:16] JosephMcArthur commented on #920
I think we'll probably test another follow up (so, authors get 2
follow-ups) and see the response rate, then we'll stop. After that, we'd
stop follow-ups on the same people. From doing this in other settings,
that's normally where the line between effectiveness & reasonableness
crosses.

That's the plan! This first test was purely to test the act of follow up
first (so we have a baseline to test o

[2017-10-26 02:51] chealsye commented on #771
I think this is a fine idea to test, and may work very well. We got a request from a tweet I did largely because a few more people joined in. My biggest concerns is seeming both spammy as Natalia noted, but also that we are harassing people. Small groups can be tested and likely successful, but I am concerned about the scalability of doing this. But all for testing and seeing the results! Let me k

[2017-11-02 10:56] jibe-b opened #927 "[feature] private story"
Allow to make the story visible only to:
- the author of the request
- the moderators
- the recipient of the request email

and not to visible for non logged in and non-moderators on openaccessbutton.org/request

Use-case:

Someone wants to give specific informations to the author about the expected use of the full-text, which would better not be public.

This may increase the upload rate (to be t

[2017-11-02 13:13] jibe-b commented on #927
For [this](https://openaccessbutton.org/request/6hEGebJYrjvZZSy9M) particular request, I would have liked to have a private story option.

[2017-11-03 05:37] jibe-b opened #928 "[user feedback] reduce the required length for a story"
One user made a request inside the "story" of a request: reducing the required size of a story

(in https://openaccessbutton.org/request/vHEntGvMw3B6Pcj22 possibly only visible to moderators in admin notes)

[2017-11-03 06:19] jibe-b commented on #916
Related https://twitter.com/ryregier/status/926117509216047104

[2017-11-10 20:38] natalianorori commented on #926
This is working now (and working fast)! tested it on two CSVs with 51 requests.

[2017-11-10 20:38] #926 closed

[2017-11-11 21:40] chealsye commented on #773
Is there progress on testing email subjects?

[2017-11-12 22:33] JosephMcArthur commented on #907
@lorrainechu3n

[2017-11-13 05:09] natalianorori commented on #914
@jibe-b at the moment, requests without stories are kept in our log and will be used for future testing, its kind of similar to what you proposed here.

we are doing it by sending email follow ups! always happy to share if you want to learn more about this.

[2017-11-13 05:14] natalianorori commented on #907
Doesnt 'need to be a blue banner, but +1 to have some distinction that will make it easy to spot data requests. I just sent a data request with the article email template by mistake and know this could happen to others in the system, specially new volunteers.

@JosephMcArthur

[2017-11-20 14:58] JosephMcArthur commented on #778
Have requested sign off on doing this

[2017-11-23 16:26] JosephMcArthur opened #929 "oasheet sending wrong email"

[2017-11-29 16:04] JosephMcArthur opened #930 "SignalOA-ify every site"
Would be cool to have a one-line script you could drop into any webpage to provide an OA link when it spots a article URL / DOI. Could appear as an OA badge next to the link.

Use cases would be:
* university websites (and author webpages)
* science blogs
* media outlets (I guess, although major ones would probably be kind of impossible to do)

Inspired by via.hypothesis / Signalling OA right now.

[2017-12-03 02:54] JosephMcArthur commented on #748
the refactor doesn't appear to have fixed this. All the links on this thread just kick off requests.

[2017-12-07 15:16] JosephMcArthur commented on #851
Have asked for another round of testing now!

[2017-12-07 16:17] JosephMcArthur commented on #851
Good & bad news.

@markmacgillivray I'm guessing the button cached the URL, and will just want to continue to serve the same results? The url is https://eu.alma.exlibrisgroup.com/mng/action/home.do

[2017-12-14 19:05] bsavage opened #931 "OAB finds bogus reference"
## Bug report template

### Expected Behavior
_From the main OAB page, entered url of http://this.com/test_

https://openaccessbutton.org/?url=http%3A%2F%2Fthis.com%2Ftest

### Actual Behavior
_OAB should not have found anything but returned the following article reference:_
http://research.sabanciuniv.edu/34037/

### Steps to Reproduce this bug
Enter this in browser:
https://openaccessbutton.org/

[2017-12-15 15:27] bsavage opened #932 "Formalize OAB API by leveraging standard specification"
## Feature request

An api specification format such as swagger 2.0 would be useful for standardizing doc
and for formalizing the api.
There are opportunities to allow users to not only to interact with a nice gui into the documentation but
try out api operations interactively if the to-be-defined spec was freely hosted on an interactive site host (e.g., swaggerhub).  Would serve a variety of use

[2017-12-22 08:04] JosephMcArthur commented on #932
Thanks for posting this @bsavage!

@markmacgillivray would love your thoughts here, although I know you've got a bunch on at the moment and shipping the new build of find & ILL tools is priority.

Just to be clear (I'm not super familiar with Swagger). This is about better documentation, rather than changing the API itself. Is that right?

[2017-12-22 20:27] bsavage commented on #932
@JosephMcArthur
Yes, to present the api in a more structured, standard way - for potential use case benefits above.  The API is not required to change.  Some consideration might be given to hosting the doc at a swagger-aware host (either a freemium one, or by standing up one) - a less optimal alternative (in terms of consumers) is to generate static html pages or simply provide the spec as a link

[2017-12-22 20:52] markmacgillivray commented on #932
I'm not against someone changing the API docs if desired, but it is not something I would want to contribute time to, as I don't feel the benefits are worth the effort.

Particularly in the case of the OAB API:

* there are only 8 public endpoints and it is very easy to get up to speed with
* it can already be easily tried out regardless of what format the docs are in - tools to try APIs have to b

[2017-12-25 11:59] markmacgillivray commented on #748
The new code definitely can read metadata out from the first example page, which the old code could not do. However, it does not yet seem to be getting used properly by oab pages. This is just an update to remind me where I am up to investigating this.

[2017-12-25 11:59] markmacgillivray commented on #833
This is actually unnecessary as #618 will provide ssl

[2017-12-25 11:59] #833 closed

[2017-12-25 12:00] markmacgillivray commented on #821
New code ready for this, but not yet on dev. Note to self - update dev to show this.

[2017-12-25 12:08] markmacgillivray commented on #560
Testing on my local system this works now - the DOI of this example is considered inaccessible. Once I update dev with this, will assign to joe to test.

[2017-12-25 12:18] markmacgillivray commented on #931
When we get a 404 we do still process it because it is possible for a user to search for an article at a URL which is only available via login and for that URL to return 404 if the user is not logged in.

Unfortunately, yes, because there is an article in existence with 404 not found as the title, we now redirect to that article.

It is not common for an inaccessible article to return 404 because

[2017-12-26 03:34] natalianorori opened #933 "Extract article year from journal page"

[2017-12-26 03:37] natalianorori opened #934 "new dropdown button in admin UI: article too old"
adding a new dropdown option in the admin UI that sends a template for when the article is too old, prior to 1995. We can't make these articles open access due to old publishing agreements so we'd have to close these requests.

[2017-12-26 03:39] natalianorori opened #935 "new dropdown button in admin UI: author email not found"
for when its impossible to find authors emails, add a dropdown option that notifies the user and automatically closes the request.

[2017-12-26 03:42] natalianorori opened #936 "add a drop down list for types of stories"
for our users to use. There are a lot of similar stories, and it would be good to have a drop down list with the most common ones.

I have rated about 400 stories, and these are the most common types we are getting for users:

1. for my thesis
2. For research
3. I am a physician, I am trying to save lives
4. To learn more about my disease/ A family member has a disease I’d like to learn more about

[2017-12-26 13:03] JosephMcArthur commented on #935
Can you list out all the actions you want the button to take please, and any templates you'd like sent?

[2017-12-26 13:03] JosephMcArthur commented on #934
Can you list out all the actions you want the button to take please, and any templates you'd like sent?

[2017-12-26 13:09] JosephMcArthur commented on #931
Happy with everything proposed, with a preference for whatever is simpler. Close as you wish @markmacgillivray.

[2018-01-04 05:40] markmacgillivray commented on #929
Fixed on my system and pushing to dev, however as jobs are not currently running this cannot be tested. However I have tested locally and it works now, sending the correct email with the link to download the results. So once jobs are turned back on, this will work.

[2018-01-04 05:41] markmacgillivray commented on #931
Added a specific block to not do title searches if starting with 404

[2018-01-04 05:41] #931 closed

[2018-01-04 05:41] markmacgillivray commented on #821
Pushing to dev now.

[2018-01-04 05:57] markmacgillivray commented on #896
Ah, we don't allow requests to be allocated to a user unless they have a story. So bulk jobs do generate requests by the logged in user, but then we don't keep that info because there is no story yet. So what should the story be for these bulk created requests? Let me know that and this can be closed quickly.

[2018-01-04 06:32] markmacgillivray commented on #560
Dev is up to date now.

[2018-01-04 15:22] markmacgillivray commented on #748
It turns that although the new code does now work, we now have an additional problem which is that science direct does not return the article splash pages when they are requested from our server. If I run this locally or even just curl GET them, I get back the html that I can extract the metadata from. If I do the same thing on our server I get back an error page, with this reference number for th

[2018-01-04 15:24] markmacgillivray commented on #748
This may not be a problem for the plugins, because they should be able to pass the page metadata from when the user is viewing the page. So we should at least now have the ability to get titles and DOIs from science direct again. But anything that runs bulk or on the server directly, like dropping a sciencedirect url into the homepage, will not work.

This may not be worth pursuing any further.

[2018-01-05 05:46] markmacgillivray commented on #851
OK, the new dev system cache is wiped and I have added some catches to the code to add a unique ID to requests coming from the eu.alma.exlibrisgroup.com domain, and check for existing requests by title instead of by url. This makes it a little less robust than our usual requests as titles can be a bit different and still actually be for the same thing, or can be the same when they are for differen

[2018-01-05 05:46] markmacgillivray commented on #851
Assigning to Joe as well as me so that we can move it forward with Imperial once I finish the cluster code update

[2018-01-05 08:28] JosephMcArthur commented on #851
Probably best to make it "*alma.exlibrisgroup.com". I'll take a bet that Alma in the US uses us.alma etc, and we just want this to affect Alma systems generally.

This system should just work via the normal plugin, yes? That's how it's been before now (hence how I've been testing). This is for ILL STAFF, for whom using the normal plugin is a-okay.

[2018-01-05 08:33] markmacgillivray commented on #851
I need to check the normal plugin and see how it would go, just to make sure - need to review that to see where we are at with the FF version anyway. But yeah it should work ONCE we have the new code actually on the dev API that the plugin connects to. So it has to be on hold just now until I am ready to make the new code the actual dev code (we are currently running three - the live API as usual,

[2018-01-05 09:23] JosephMcArthur commented on #896
It would be different in each case I guess. Could we add a box when making bulk requests to put in a story for them? Again, this is admin only right now, doesn't need to be pretty, just needs to work.

[2018-01-05 09:27] markmacgillivray commented on #896
From a bulk job you create multiple requests though - do you mean a different story for every request in a bulk job, or just a way to provide one story to be applied to every request in a bulk job?

If you want to provide a different story for every request in a bulk job, we would probably be better off just adding some tag to those bulk requests, then you create them after running your bulk job a

[2018-01-05 09:28] JosephMcArthur commented on #896
one story to be applied to every request in a bulk job. So:

is the ideal here.

[2018-01-07 06:35] markmacgillivray commented on #896
OK it now throws a context box to ask you for a story when you try to create the requests from a bulk job, and that should create the requests with the story and with you as the owner. I have pushed this onto dev but not had time to test, so give it a go and reassign to me if any problems.

[2018-01-07 06:36] markmacgillivray commented on #883
See issue #851 which is awaiting a review of the plugin too - so do that and this together.

[2018-01-07 18:46] JosephMcArthur opened #937 "/stats not loading on dev"
Current status:
<img width="1680" alt="screenshot 2018-01-07 18 44 51" src="https://user-images.githubusercontent.com/4953703/34652805-fbd696fc-f3da-11e7-9def-210fc369c101.png">

[2018-01-07 18:50] JosephMcArthur opened #938 "on dev exporting from /export opens https://noddy.api.cottagelabs.com/ in a new tab"
Needless to say, exporting doesn't actually work.

[2018-01-07 18:57] JosephMcArthur opened #939 "download csv's for bulk jobs doesn't work on /bulk"
Hitting CSV button goes to https://noddy.api.cottagelabs.com/service/oab/job/s5M3YLSsBNdzwnnCs/results.csv.

Text on that page says
`TypeError: Cannot read property 'url' of undefined at Object.get [as action] (server/api/service/untracked/oabutton/api.coffee:369:36) at Route.share.Route.Route._callEndpoint (server/api/lib/aa-restivus.coffee:180:25) at server/api/lib/aa-restivus.coffee:77:33 at se

[2018-01-07 18:59] JosephMcArthur commented on #896
This looks good!

[2018-01-07 18:59] #896 closed

[2018-01-07 19:06] JosephMcArthur commented on #851
Have asked for this to be tested now everything is pushed to the dev API.

[2018-01-07 19:21] JosephMcArthur commented on #929
Seems like it's still not quite sending what is in the dev email template.

The email I get doesn't have exactly the same text as is in /emails/bulk_complete.html. What I get is:

On dev, the download link for the results also doesn't work. Maybe related to #939.

I get sent to https://api.openaccessbutton.org/job/ZZ5F3izZJMABMyn5S/results.csv which just gives:

[2018-01-07 19:37] #893 closed

[2018-01-07 19:38] JosephMcArthur commented on #890
@markmacgillivray this page exists but it doesn't seem to appear

[2018-01-07 19:59] markmacgillivray commented on #938
OK sorry, need to add a fix for this, will do asap

[2018-01-07 20:00] markmacgillivray commented on #937
Fixed

[2018-01-07 20:00] #937 closed

[2018-01-07 20:06] markmacgillivray commented on #929
The link will be wrong because the template includes the URL of the live API. The code did have some way to replace that with the dev API so that testing emails would work, but at the moment we are on a different dev API (the new code) so the links you get will be wrong. You can test they work by manually replacing https://api.openaccessbutton.org with https://noddy.api.cottagelabs.com/service/oab

[2018-01-07 21:11] JosephMcArthur commented on #929
ah yes, the links work now and the email text is up to date (sorry for not testing the obvious there!).

Will the links start automatically correcting themselves for dev at some point, or is it worth keeping this issue open to fix that?

[2018-01-07 21:30] JosephMcArthur commented on #821
Hmmm, I'm not sure this works as I'd expected.

The UI is fine, I get that. However, I expected results from different sources to turn up in their own columns. Seems like they still just turn up in the main results column.

[2018-01-07 21:38] JosephMcArthur opened #940 "/bulk misses existing requests"
See job ID #ceEoe6Cwc237gdwGD on /requests for test case

We have requests on /dev for, at least:

https://doi.org/10.2307/1574276
https://doi.org/10.1093/oxartj/kct044
https://doi.org/10.1093/oxartj/kct044
https://doi.org/10.2307/4058061

- [ ] Also, note, there are some duplicate requests on dev. Any idea what that's about?

[2018-01-07 21:41] JosephMcArthur commented on #866
Looks like the stats page is no longer displaying these. Perhaps a issue with the code overwrite we had?

[2018-01-07 21:44] JosephMcArthur commented on #939
werks!

[2018-01-07 21:44] #939 closed

[2018-01-07 22:24] JosephMcArthur commented on #862
The actual bug fix this issue was started for still doesn't appear to be resolved, just tested on ios.

[2018-01-08 09:50] JosephMcArthur commented on #832
can't replicate on dev with new system, closing

[2018-01-08 09:50] #832 closed

[2018-01-08 09:51] JosephMcArthur commented on #751
cant' replicate on new dev system, closing

[2018-01-08 09:51] #751 closed

[2018-01-08 09:54] JosephMcArthur commented on #743
can't replicate on new system

[2018-01-08 09:54] #743 closed

[2018-01-08 09:55] JosephMcArthur commented on #724
On our new system (which specifically aims to fix issues like this) I can't replicate this now - good news! Closing this issue now.

[2018-01-08 09:55] #724 closed

[2018-01-08 10:09] JosephMcArthur commented on #604
duplicate discussion of https://github.com/OAButton/discussion/issues/560. Closing

[2018-01-08 10:09] #604 closed

[2018-01-08 10:09] JosephMcArthur commented on #619
Can't replicate on oadoi v2. Huzzar!

[2018-01-08 10:09] #619 closed

[2018-01-08 10:10] JosephMcArthur commented on #518
Can't replicate these issues on new api. Closing.

[2018-01-08 10:10] #518 closed

[2018-01-08 10:15] JosephMcArthur commented on #690
cannot replicate any of these on the new system - closing!

[2018-01-08 10:15] #690 closed

[2018-01-08 10:15] JosephMcArthur commented on #627
oab now finds this

[2018-01-08 10:15] #627 closed

[2018-01-08 10:20] JosephMcArthur commented on #737
These now all return the expected result.

[2018-01-08 10:20] #737 closed

[2018-01-08 10:21] JosephMcArthur commented on #626
This now appears to be an oa article!

[2018-01-08 10:26] #626 closed

[2018-01-08 10:29] JosephMcArthur commented on #631
on new api, this doesn't happen!

[2018-01-08 10:29] #631 closed

[2018-01-08 11:11] JosephMcArthur opened #941 "White bar sometimes appears"
Seems to be coming from : `style="margin-top: 33px;"` in the footer in some page formats. Often after something is clicked.

<img width="1517" alt="screenshot 2018-01-08 11 08 31" src="https://user-images.githubusercontent.com/4953703/34668236-61d0941a-f464-11e7-9e2f-c6425983c5bc.png">

[2018-01-08 16:47] JosephMcArthur commented on #851
I'm being told that the plugin is still opening the same link as before (suggesting the cache wasn't cleared). This isn't just for requests, but for availability checks too. Every time the plugin runs on "*alma.exlibrisgroup.com" it should re-scrape & run checks against repos & requests.

[2018-01-09 10:59] JosephMcArthur opened #942 "expand menu on right click for plugin"
Chrome is building a UI convention that right-clicking on plugins allows you to do more stuff.

I'd suggest we expand our menu to allow:
* "report an issue" (takes you to https://openaccessbutton.org/feedback)
* search by doi or title (takes you to https://openaccessbutton.org/) - requested by Rikke Straarup Voulund

They're suggesting something slightly different, but I expect just pointing to th

[2018-01-11 01:18] natalianorori commented on #935
Action button pressed
dropdown option "email not found appears"
when pressed "email not found button" sends out[ template ](https://docs.google.com/document/d/1EzQRUGmadpCUvhV-v0TiNxMocgFKESgaePqqlSW3iNE/edit)to user and automatically closes the request

[2018-01-11 01:21] natalianorori commented on #934
Action button pressed
dropdown option "article too old?" (not sure how to call it)
when pressed  sends out[ template ](https://docs.google.com/document/d/12nLdtKj1R5DgRm4Xk9UncqOS6Z4EgvkRKl5EYswIemQ/edit#)to user and automatically closes the request

[2018-01-11 18:52] JosephMcArthur commented on #938
It now opens

which says

[2018-01-12 08:29] markmacgillivray commented on #929
Yes

[2018-01-12 08:29] #929 closed

[2018-01-14 17:29] JosephMcArthur opened #943 "Workflow for talking to OABottan"
* m.me/openaccessbutton is the link that will take you direct to the bot.
* https://thenounproject.com/search/?q=chat&i=376471 is probably an OK icon

Can display these on mobile where folks normally see calls to download

- [ ] turn on bot discovery in facebook.com/openaccessbutton/settings/?tab=messenger_plateform

[2018-01-14 18:55] JosephMcArthur commented on #891
Repurposing this issue for download workflows for the plugin / bookmarklets in general.

There are currently three places where we suggest users get the plugin or bookmarklet:
* Homepage
* accounts before login
* accounts after login

I'd suggest we remove it from accounts after login, so that the page is _only_ about giving your details for requests - I've removed the code for this. I think this

[2018-01-15 01:40] markmacgillivray commented on #748
Tested the discussed alternative for searching from front page of our site - doesn't work. @JosephMcArthur will leave this with you to think more about, and can consider options during our next meetup.

[2018-01-15 03:51] markmacgillivray commented on #821
This is fixed on dev, downloading the job results of the jobs that are already there will show the different values found in different sources in columns at the end.

Bulk sheet csv downloads will now also have each row prepended with any columns provided by the user when they uploaded it. This will include the identifier provided, so for example "doi" could appear in the results near the start, a

[2018-01-15 05:00] markmacgillivray commented on #938
OK, works now.

[2018-01-15 08:37] #938 closed

[2018-01-15 08:37] #821 closed

[2018-01-15 11:55] markmacgillivray commented on #940
It works now, tested with 10.2307/1574276

See:

https://noddy.api.cottagelabs.com/service/oab/job/nTsFpzvunLgkiFtma/results.csv

There is an error on the dev site mappings of the request data, this is just from dirty test data, so if any other ones don't get found when testing this, just add them to this issue and I will check to see if it is the mapping or another problem.

[2018-01-15 12:07] JosephMcArthur commented on #940
re-ran the requests checking job. Found them all successfully. Will shut until I notice something else.

[2018-01-15 12:07] #940 closed

[2018-01-15 12:25] JosephMcArthur commented on #748
Could we figure out a way to display a message suggesting they use the plugin?

[2018-01-15 12:26] JosephMcArthur commented on #910
making progress at /libraries_staging

[2018-01-15 17:27] JosephMcArthur opened #944 "give exports nice names"
Currently, they just come out as "convert". Would be nice to note:
* this is an export
* the date
* what was exported
* dev / live

[2018-01-15 18:16] JosephMcArthur opened #945 "Give a suggestion to clio users on how to measure their success within Clio"
As we have with Illiad

[2018-01-15 18:18] JosephMcArthur opened #946 "Add more spacing on text for /deliveroa & /embedoa & /"
The right amount appears to be what `line-height: 1.5` would give. However, outside of inspector I can't get this to actually show.

[2018-01-16 00:24] markmacgillivray commented on #941
I could only get this to happen if I resized my browser window. Otherwise, it seems to size correctly on first page load. Can you describe any action you can find that causes it other than window resize?

[2018-01-16 03:09] markmacgillivray commented on #866
OK have updated with a new function on the new API, looks like all the values work, and on my own machine I have bulk, website, etc showing up when I use those.

[2018-01-16 07:44] JosephMcArthur commented on #866
/stats fails to load again on dev. Three errors on the console.

![image](https://user-images.githubusercontent.com/4953703/34977061-0fb25e42-fa91-11e7-8d64-2bbcbcae29ef.png)

[2018-01-16 11:07] markmacgillivray commented on #866
Sorry, I forgot to pull the API updated code to the server. The page works now without console errors.

[2018-01-16 13:35] JosephMcArthur commented on #866
I'm still not seeing the tool & site-specific lines come up. For example, it was display hits on different instances of embedoa and things like the usage in clio.

[2018-01-22 23:29] markmacgillivray commented on #618
re. the above points about personal/non-personal sites, I also think we don't actually need cloudflare while we are running at low scale. As soon as we get more funding or more users (which could attract more funding) we can turn on cloudflare if we get to a point of actually needing it. We have never so far had a problem with the machines not handling our scale of use, and we can scale up the clu

[2018-01-22 23:30] markmacgillivray commented on #862
ok, try again please!

[2018-01-23 02:31] markmacgillivray commented on #891
OK I have added this functionality, with specific download areas for mobile, chrome, firefox, and bookmarklet install area that then calls modals for safari, edge, or else defaults to IE.

You can test this on the dev site front page - by default it should show you whatever matches the device you are using. Otherwise, you can test any specific one above by using

?dl=NAME

where NAME can be one of

[2018-01-23 02:32] markmacgillivray commented on #941
I think then there is not much we need to do with this, please close unless you find more.

[2018-01-23 03:05] markmacgillivray commented on #942
I can't find info about what you seem to be describing - where did you read about it? I don't know where there are instructions about adding a right click function to the plugin. Do you mean the plugin icon on the top chrome nav bar?

[2018-01-23 03:07] markmacgillivray commented on #851
This can only be successfully tested using a dev plugin, not a live plugin, and only after I have updated the plugin to point to the latest dev API (noddy) which it currently does not. Later today I will push an update to the plugin repo from which a dev plugin can be installed, but you would have to get those library users to install from dev too, or else they will not get back the newer results,

[2018-01-23 03:11] markmacgillivray commented on #883
I have generated a new FF plugin xpi, it is in the phoenix branch of the plugin repo, in the firefox folder. How do we usually test FF? Do you do that? I don't think I know what we usually do for it, or for the FF plugin store... but maybe I just forgot.

[2018-01-23 03:46] markmacgillivray commented on #859
OK I have threaded the request to the backend and changed it to use the latest dev noddy API. It seems to be working, but of course the API is faster too, so hard to tell :)

Try a few and let me know if you still get the 20s error.

[2018-01-23 10:06] JosephMcArthur commented on #859
Haven't seen it in a long time. Will shut until we can see it replicate again.

[2018-01-23 10:06] #859 closed

[2018-01-29 11:14] JosephMcArthur commented on #851
They're using the dev plugin. Before I ask them to test again, can you confirm that:

this is the expected behaviour right now, and that the cache for availability checks on dev has been cleared?

[2018-01-29 11:26] JosephMcArthur commented on #891
Ace, thank you @markmacgillivray. Just had a little play and the behavior looks good. Will customize the text and play with formatting later this week!

[2018-01-29 12:26] JosephMcArthur commented on #883
Done some testing, what I've found:
* It installs fine
* It will successfully open an article that's OA
- [ ] It seems to hang on requests, i.e it never starts them
* It opens the welcome page successfully
* It uploads to the store with no automated errors
- [ ] once clicked (even when successfully opening an OA article) it never stops spinning

So, there are some bugs to quash above before I can

[2018-01-29 14:24] JosephMcArthur commented on #862
Tried it, didn't work (page didn't seem to refresh, no on screen message indication of action), the logs said:

XMLHttpRequest cannot load https://noddy.api.cottagelabs.com/service/oab/request/QK2phg2DFswg9AeBE. Origin https://dev.openaccessbutton.org is not allowed by Access-Control-Allow-Origin.
VM288 QK2phg2DFswg9AeBE:456 Save error

[2018-01-30 03:35] natalianorori opened #947 "Emailing about new paper test"
The goal of this test is to increase our deposit rate and make sure we get the right content from authors. We plan on doing so by contacting authors who have just recently gotten their articles published, with the hopes that they will most likely have the pre-prints available.

Email will be V2 version of first contact email, which is the one YAMM sends and the live site will too (after templates

[2018-01-30 07:52] JosephMcArthur commented on #947
B) would be best, for sure. Somewhere with no embargo period.

On Tue, Jan 30, 2018, 03:35 Natalia Norori <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2018-01-30 08:10] markmacgillivray commented on #862
Hmm that's weird, that error comes from the API which should be set to allow access from any domain. I must not have set it right in the new API config, will check. But at least it indicates the page probably does now work on ios, as this error is not just down to ios. Unless ios now overwrites and blocks cross domain requests, but i doubt that. Would be a big problem if so. I'll check the setting

[2018-02-01 02:42] natalianorori opened #948 "Find a way to differentiate content made OA and individual copies sent to users"
In the response page, it is only possible to tickle received requests, which for us is content made open access by the button. Sometimes authors send us publisher's PDF and what I  do with them is send individual copies to the users. at the moment, I am writing "individua lcopy" in the URL box so that it is somehow marked on the website, this however is a  temporary solution, this is not content m

[2018-02-02 15:25] JosephMcArthur commented on #851
^ confirmed the above in person. Sent out for testing. Awaiting feedback.

[2018-02-03 11:15] markmacgillivray commented on #866
OK! Finally fixed. It definitely works on my test machine. Try it on the dev site now. The problem was just that the embedoa page actually uses the live API by default because the widget uses that by default - I added something to the page to use the API address of whatever page it is being served from, so if you try to run an example from the embedoa page now, you should see it turn up on the sta

[2018-02-03 11:43] markmacgillivray commented on #942
@JosephMcArthur do you have an example of what you mean here? Right click on what? The plugin icon? The web page you execute the plugin on?

[2018-02-03 12:09] markmacgillivray commented on #883
OK, this works now on my test machine. Spinner stops spinning, requests open if necessary. Try it again yourself and if all good, can close this issue.

[2018-02-03 12:32] markmacgillivray commented on #862
OK I have made a change to the API to try this again - will assign to you to test once more, if still not working, I will try it myself via browserstack. But better for you to try first, to ensure that you do the same things you did last times, so that we know the expected problem is the solved one.

[2018-02-03 13:30] JosephMcArthur commented on #883
Does this need another push to the repo? Doesn't seem to have been updated.

[2018-02-03 13:36] markmacgillivray commented on #883
No, the last error was on the API side, I altered that, and now seems OK. So try with the plugin you already have on FF.

[2018-02-03 15:16] JosephMcArthur commented on #883
Okay great, looks good. Is there anything else you want to do before it goes to the store?

[2018-02-03 15:20] markmacgillivray commented on #883
Great. At the moment it's connecting to the dev API so only put it in the store if you want a dev one in there. Otherwise just wait until testing is done and you're happy for everything to go to live, probably the end of this week, then I'll move the new plugin out of the phoenix branch and make chrome and Firefox versions that connect to the live API, and those can go in the respective stores.

[2018-02-03 18:54] JosephMcArthur commented on #862
Can you try yourself on Browserstack. I had some issues logging in last time when on that system, and it's persisting, and likely just worth you looking at. Could show you tomorrow.

[2018-02-03 20:30] JosephMcArthur commented on #866
I'm not picking up embedoa widgets on this page: https://josephmcarthur.github.io/playground/ which has it embeded by script & iframe. And indication why?

[2018-02-04 12:12] markmacgillivray commented on #862
Tested and working

[2018-02-04 12:12] #862 closed

[2018-02-04 12:16] JosephMcArthur commented on #866
This is all working!

[2018-02-04 12:16] #866 closed

[2018-02-04 12:36] JosephMcArthur commented on #748
Note: I've tested the plugin on the links above and confirmed they do all work great.

[2018-02-05 14:57] JosephMcArthur opened #949 "Stats for institutional tools"
For each instance of a tool, we should try to show:

- [ ] total availabilities,
- [ ] successful availabilities,
- [ ] requests with stories made,
- [ ] successful requests
- [ ] date first used

[2018-02-05 14:58] JosephMcArthur opened #950 "Bye Bye Data :'("
Time to say bye bye to data I think while we launch other new stuff:

- [x] frontpage copy change (when I do this, see if I can make the logo nicer on mobile)
- [x] hide data button on availabilities success page
- [x] hide data button on new request page
- [x] hide data options on requests index
- [x] hide on stats page
- [x] move files for emails somewhere

[2018-02-05 17:44] natalianorori commented on #947
This is the [google drive folder](https://drive.google.com/drive/folders/1TUiFh2b4Qx6KYUjYQRP7jYx5LHHcTklt?usp=sharing) for the test, where notes and spreadsheets used to perform it can be found.

[2018-02-06 08:52] markmacgillivray commented on #748
This is done now.

[2018-02-06 08:52] #748 closed

[2018-02-06 10:08] JosephMcArthur commented on #870
@markmacgillivray just an FYI, this is something I'm being asked about for ILL stuff. Essentially returning version info, if we get it, in the api.

[2018-02-13 01:13] natalianorori commented on #920
notes on the second and last follow up of this set of requests here: https://docs.google.com/document/d/1ZR4GD-D04g5G69NQT2QktjcpIug5ZEFQlcwJ5Ve83iw/edit# will update results once they're in and analysed

[2018-02-14 22:51] markmacgillivray commented on #950
@JosephMcArthur I think I have done all my bits for this.

[2018-02-28 01:32] natalianorori commented on #920
# Second Follow up test notes

Hashtag for the test: #followup2

Metric: deposit rate

Sample size: 865 requests (all requests in "progress" status") until september 30th, 2017. This is the last follow up for this set of requests.
Date sent:  February 12, 2018

Materials needed: requests (all requests in "progress" status") , google sheet with requests from backlog and YAMM data.

Spreadsheet link

[2018-03-14 21:31] #910 closed

[2018-03-14 21:54] JosephMcArthur commented on #950
Altered the homepage copy so it's passable, but the logo disappearing on mobile and then everything looking kinda rubbish I don't know how to fix without probably screwing up quite a few other things.

[2018-03-14 22:51] JosephMcArthur commented on #891
Have got the mobile icon looking good, and put in IE instructions.

- [ ] do this for edge: https://docs.microsoft.com/en-us/microsoft-edge/extensions/guides/porting-chrome-extensions

[2018-03-15 02:13] JosephMcArthur commented on #891
update: we now have https://github.com/OAButton/on-the-edge. This is an Edge extention that:
- [X] loads without errors onto edge with dev extention install turned on
- [X] opens the instructions page on first install

but then:
- [ ] doesn't load the oab icon
- [ ] doesn't load the spinner (although it appears to flash)
- [ ] doesn't open articles successfully.

Now we have this code, this should

[2018-03-15 12:36] JosephMcArthur commented on #883
It's now in the store! Currently invisible, download links are added.

[2018-03-15 12:36] #883 closed

[2018-03-15 21:54] JosephMcArthur commented on #851
With the new plugin, when pressed first time, the following happened:
![oab test request 070218](https://user-images.githubusercontent.com/4953703/37492916-826a89b2-2879-11e8-897a-f3b758e0f796.JPG)
![oab test 070218](https://user-images.githubusercontent.com/4953703/37492917-827f135a-2879-11e8-92f3-32e56cc124bc.JPG)

This isn't quite as expected, it should be taking the title for requests (otherwi

[2018-03-17 13:49] JosephMcArthur opened #951 "View your requests button not working (on live)"
On live view your requests on / requests currently always shows 0 requests, regardless of if you've made any.

[2018-03-20 16:35] natalianorori commented on #948
- I hope this is clear enough. I could explain it better with screenshots but OAB is not letting me log in today -
@JosephMcArthur

[2018-03-20 17:09] natalianorori opened #952 "add "article prior to year 2000" option to "action" drop down button in admin UI"
this action should
- close the request
- notify user we are closing the request and send [this email template ](https://docs.google.com/document/d/12KEkeuFl7VBwMZLo8xcUCHl_c16jqXIcssoqDr7uoaY/edit#heading=h.vzq9v5rd9cfx)

[2018-04-10 13:56] #560 closed

[2018-04-13 08:39] markmacgillivray commented on #898
Done.

[2018-04-13 08:39] #898 closed

[2018-04-17 17:34] natalianorori opened #953 "system is failing to auto fill author's {{name}} with the word colleague when no name is provided"
before the update, the system automatically filled the box with author's name with the word colleague, when no author name was provided. Tested the drop down action button today and the email sent was:

this is priority for automatic moderation.

@JosephMcArthur @markmacgillivray

[2018-04-18 08:44] markmacgillivray commented on #950
I altered the page layout to keep the logo even on small, hopefully it will lay out nicely. Looks good for me. Also merged back in the staging index page to the index page.

[2018-04-18 09:03] markmacgillivray commented on #951
I changed how this searches, tested and working on dev, should be same when we next update live site.

[2018-04-18 09:06] markmacgillivray commented on #851
I reviewed this and had missed how it needed to check for availabilities properly - I had only checked for alma on request, but of course the next time an availability check was run, it started with checking availabilities, not requests, and was finding the previous availability check. We store availabilities separately from requests, and I should have had it check for an alma address when doing a

[2018-04-18 09:13] markmacgillivray commented on #891
I think this issue is only open now as a tracker for the edge extension - will assign this back to Joe to see if he can test it by generating a new edge extension from the latest plugin code in the plugin dev branch. I don't have edge to install on.

[2018-04-18 09:13] markmacgillivray commented on #891
If there is something else on this issue I should be doing that I have missed, just let me know :)

[2018-04-18 10:47] JosephMcArthur commented on #891
Just edge I think. Although @markmacgillivray, to be clear, we don't have a working bookmarklet right now do we? Is it still automatically generated from Chrome, if so I'm happy to test.

I'll make a build for Edge we can test once we've got the Chrome build tested from the store.

[2018-04-18 10:48] JosephMcArthur commented on #851
Gotcha. Will get this over for testing today, hopefully we'll hear back this week.

[2018-04-18 10:51] markmacgillivray commented on #891
Ah does the edge thing get generated from the bookmarklet? I thought it was from the plugin. The bookmarklet may well work, but actually I have not checked it since doing the latest fixes. I will have a look and get back to you.

[2018-04-18 10:54] JosephMcArthur commented on #891
Edge is generated, manually (I have to find a PC running Edge on windows, get an extension there, and mess about) from the chrome plugin.

Only asking about Bookmarklet so I know, and ideally it'll still be used for IE I think. If it's building automagically, seems silly not to test it.

[2018-04-18 10:55] JosephMcArthur commented on #950
Much better, but a final tweak to how it resizes would make the difference on mobile

![image](https://user-images.githubusercontent.com/4953703/38927999-63c8992c-42ff-11e8-80ba-bc9e1d5c540a.png)

Can the text / logo get a bit smaller on mobile if required?

[2018-04-18 11:31] markmacgillivray commented on #891
OK will assign this to both of us, you can look at generating the edge plugin, I will look at the bookmarklet.

[2018-04-18 12:02] JosephMcArthur commented on #951
Hmmm, made: https://dev.openaccessbutton.org/request/sa59w462nwQ2FG7WZ
(which I did by taking a half-finished request, and giving it a story & my
account joe@sparcopen.org / 5ZQJWbLdztGzKuKNH <joe@sparcopen.org>). Doesn't
turn up.

Same if I make a request from scratch:
https://dev.openaccessbutton.org/request/rpyG6jkEErEjxv6DE.

J

On Wed, 18 Apr 2018 at 10:03 markmacgillivray <notifications@gith

[2018-04-18 12:03] markmacgillivray commented on #951
Can you log out of dev, hard refresh the page, then log in again, then try again? The change I made relates to how your account is identified in the browser, so you may have to log out to see it.

[2018-04-18 12:11] JosephMcArthur commented on #951
Hmm, did as instructed on FF and then private FF. Still not working. Tried
on Chrome private browsing too, still no luck.

Console is telling me "Use of Mutation Events is deprecated. Use
MutationObserver instead.", not sure if that's important.

Other parts of the search / filtering on that page seem to work well on
first glance.

On Wed, 18 Apr 2018 at 13:03 markmacgillivray <notifications@githu

[2018-04-18 12:45] JosephMcArthur commented on #951
Should've sent this earlier, sorry, the URL i'm getting is:
https://dev.openaccessbutton.org/request?source={%22query%22:{%22filtered%22:{%22query%22:{%22bool%22:{%22must%22:[{%22match_all%22:{}}]}},%22filter%22:{%22bool%22:{%22must%22:[{%22term%22:{%22user.id%22:%225ZQJWbLdztGzKuKNH%22}}]}}}},%22from%22:0,%22size%22:500,%22fields%22:[%22status%22,%22type%22,%22user.profession%22,%22user.affiliati

[2018-04-18 13:02] markmacgillivray commented on #950
OK, have resized text and image for smaller screens, see what you think now.

[2018-04-18 13:13] JosephMcArthur opened #954 "Weird /requests UI bug with small numbers of requests"
http://recordit.co/KyZHuxpM8Q

"Looks like the offset of the top nav may just be about the same height as the bottom bit of your last request" - @markmacgillivray

[2018-04-18 13:26] JosephMcArthur commented on #891
Right, regarding edge, there is a new build at /on-the-edge.

The status of that is now updated [here](https://github.com/OAButton/discussion/issues/891#issuecomment-373237305).

[2018-04-18 13:29] JosephMcArthur commented on #950
Better, this could go on infinitely, so lets just shut, it's good enough.

[2018-04-18 13:29] #950 closed

[2018-04-18 14:15] JosephMcArthur opened #955 "on /export export todays availabilities"
Currently, it seems like it's not possible to export today's (whatever day that might be) availabilities (not tested other days). I have selected today as in my export range (and it won't let me choose tomorrow) but nothing from today is coming out the export it seems.

This is just a bit of a pain for troubleshooting (currently want to see what domains someone clicked the button on dev on).

[2018-04-18 15:15] JosephMcArthur commented on #950
Should probably also remove data stuff from openaccessbutton_widget too, but since I think it's hidden it's likely best just left...

[2018-04-18 15:50] JosephMcArthur commented on #851
Right, results back. It's a bit complex but here goes:

* The first thing he tried was a "not available" article, which generated 180418_OAB_Not_Available.JPG
![image](https://user-images.githubusercontent.com/4953703/38942587-1ca79d5e-4327-11e8-8537-44c5c41ccc64.png)

This is what we'd expect.

Then, he tried a different 'not available' item, which generated (both screenshotted)
![image](https://

[2018-04-18 18:02] markmacgillivray commented on #953
OK, the line that added that in was missed when I did the rewrite, sorry about that. It has been added now and is on the dev API, will be on live when we run the next update.

[2018-04-18 18:02] #953 closed

[2018-04-18 18:32] natalianorori commented on #953
Thanks Mark

On Wed, Apr 18, 2018 at 12:02 PM, markmacgillivray <notifications@github.com

[2018-04-22 02:36] natalianorori opened #956 "Save changes button in admin UI is not saving changes"
Was working fine before the update, this started today.

@markmacgillivray @JosephMcArthur

[2018-04-22 02:38] natalianorori commented on #956
It's the author name box and the journal name box the ones that don't save changes when the "save changes" button is pressed. email and story boxes are working fine.

[2018-04-22 04:41] natalianorori opened #957 "OAB is not recognizing journal urls - submit button for stories is not working"
We have not been getting requests from users, and I'm trying to find out why.
found two things
the main site openaccessbutton.org is not recognizing sciencedirect URLs, and is only making requests with DOIs.  Tried cell and it worked, tried nature and also worked. The problem seems to be with sciencedirect journals.

and most importantly,
The submit button for stories does not work. it gets stuck

[2018-04-22 04:46] natalianorori commented on #957
oh, I hadn't test this part of the system since the update. What I tested was our end of the system (moderation and uploads).

[2018-04-22 10:26] markmacgillivray commented on #957
I can see the popup about sciencedirect URLs when I try them - we don't have a solution for accessing them from our site yet, unfortunately, so a popup is the best we can do.

I still have to look at the submit button for stories not working though

[2018-04-22 11:32] JosephMcArthur commented on #957
We really need a push a fix for this out asap, so once addressed I'll do a our staging rejig & push a fix to live asap.

[2018-04-22 14:53] markmacgillivray commented on #957
On my local version and the dev version the story submit button is working for me. I have not tried live yet. Can one of you try logging out completely, do a hard refresh of your browser, then login again, then try this?

[2018-04-22 14:56] markmacgillivray commented on #957
I just tried a live one and did get the error - will check further.

[2018-04-22 22:42] markmacgillivray commented on #957
Story save should be fixed now - I altered the API code, so don't need to worry about changing things on the site. I am keeping this issue open though because I want to keep an eye on it in case the error comes up again. Please let me know if you have problems saving stories, now or later.

[2018-04-22 22:45] markmacgillivray commented on #956
Please try this again on the dev site, I have put in some changes that should mean it is fixed. So once we do the update to live, this should then be fixed on live.

[2018-04-23 02:02] natalianorori commented on #957
Tested it and its working now, thanks for the fix, I'll keep you posted if
it breaks again.

natalia

On Sun, Apr 22, 2018 at 4:42 PM, markmacgillivray <notifications@github.com>
wrote:

[2018-04-23 02:10] natalianorori commented on #956
it's working, thanks.

On Sun, Apr 22, 2018 at 4:45 PM, markmacgillivray <notifications@github.com>
wrote:

[2018-04-23 11:05] #951 closed

[2018-04-23 11:08] #941 closed

[2018-04-23 11:12] JosephMcArthur commented on #907
no longer doing data work for the time being, closing this!

[2018-04-23 11:12] #907 closed

[2018-04-23 11:12] #890 closed

[2018-04-23 11:12] #836 closed

[2018-04-23 11:12] JosephMcArthur commented on #191
No longer doing data work, no capacity. Focusing on articles to build plumbing and hoping to return to data later.

[2018-04-23 11:12] #191 closed

[2018-04-23 11:13] #830 closed

[2018-04-23 11:15] JosephMcArthur commented on #170
No longer doing data work, no capacity. Focusing on articles to build plumbing and hoping to return to data later.

[2018-04-23 11:15] #170 closed

[2018-04-23 11:15] JosephMcArthur commented on #171
No longer doing data work, no capacity. Focusing on articles to build plumbing and hoping to return to data later.

[2018-04-23 11:15] #171 closed

[2018-04-23 11:15] JosephMcArthur commented on #172
No longer doing data work, no capacity. Focusing on articles to build plumbing and hoping to return to data later.

[2018-04-23 11:15] #172 closed

[2018-04-23 11:15] JosephMcArthur commented on #173
No longer doing data work, no capacity. Focusing on articles to build plumbing and hoping to return to data later.

[2018-04-23 11:15] #173 closed

[2018-04-23 11:15] JosephMcArthur commented on #224
No longer doing data work, no capacity. Focusing on articles to build plumbing and hoping to return to data later.

[2018-04-23 11:15] #224 closed

[2018-04-23 11:16] JosephMcArthur commented on #546
No longer doing data work, no capacity. Focusing on articles to build plumbing and hoping to return to data later. Closing this for now to keep the repo clean.

[2018-04-23 11:16] #546 closed

[2018-04-23 11:17] JosephMcArthur commented on #510
No longer doing data work, no capacity. Focusing on articles to build plumbing and hoping to return to data later. Closing this for now to keep the repo clean.

[2018-04-23 11:17] #510 closed

[2018-04-23 11:24] JosephMcArthur commented on #108
No reason to expand sources now, closing.

[2018-04-23 11:24] #108 closed

[2018-04-23 11:25] JosephMcArthur commented on #810
This shouldn't be done now we have /oasheet

[2018-04-23 11:25] #810 closed

[2018-04-23 11:25] JosephMcArthur commented on #563
done on /admin

[2018-04-23 11:25] #563 closed

[2018-04-23 11:25] JosephMcArthur commented on #752
No longer doing data work, no capacity. Focusing on articles to build plumbing and hoping to return to data later. Closing this for now to keep the repo clean.

[2018-04-23 11:25] #752 closed

[2018-04-23 11:29] #943 closed

[2018-04-23 11:29] #875 closed

[2018-04-23 15:57] JosephMcArthur opened #958 "Opening available articles automagically from the front page"
From a chat between @markmacgillivray & I.

[2018-04-23 16:07] JosephMcArthur opened #959 "Replacing paywalled links with oa links when people are sharing things"
The idea is basically summarised here: https://twitter.com/Mcarthur_Joe/status/987630608951201792

[2018-04-23 20:26] JosephMcArthur opened #960 "GDPR Compliance"
Doctored text from GDPR & OAB discussion had over email

- [x] We should add back in the "delete account" functionality. If we add it back in, we can also make it clear in our terms that people can remove themselves entirely from our system by just deleting their account and not using our service any more. We should decide what this means for requests created by someone who deletes their account.

[2018-04-24 02:34] #957 closed

[2018-04-26 08:43] JosephMcArthur opened #961 "searching for whole emails on /admin doesn't work"

[2018-04-26 14:50] JosephMcArthur opened #962 "moar footer foul ups"
seen at https://openaccessbutton.org/request/C7HKYY95ugdCTvHo6 & https://www.dropbox.com/s/7swydo0lp54nkaq/Screenshot%202018-04-26%2015.50.02.png?dl=0

From FF incog, dev edition. Have seen on testrise too.

[2018-04-27 08:28] JosephMcArthur opened #963 "oh IE (bookmarklet not working)"
Seen when clicked on http://science.sciencemag.org/content/196/4287/293/tab-pdf with dev bookmarklet on IE for Windows 10.

![image](https://user-images.githubusercontent.com/4953703/39352576-1262c6f2-49fd-11e8-8947-fcb840214e7f.png)

This makes the bookmarklet unreleaseable for IE I think. Works fine on Edge.

[2018-04-27 08:58] JosephMcArthur opened #964 "link hit counter for resources"
From chat:

[2018-04-27 10:11] JosephMcArthur commented on #851
@markmacgillivray the following pages ( [Causal factors of low stakeholder engagement: a survey of expert opinions in the context of healthcare simulation projects](http://journals.sagepub.com/doi/abs/10.1177/0037549715583150)  &
[Ribulose bisphosphate carboxylase: a two-layered, square-shaped molecule of symmetry 422 ](http://science.sciencemag.org/content/196/4287/293/) were tried in Alma. They

[2018-04-27 10:15] markmacgillivray commented on #964
Actually I got a few minutes to do this just now. Have added to that page, all you have to do is give an ID to the buttons that you want to track, and add the "pinger" class.

@JosephMcArthur assigning to you so you can take a look and add to others you want to track.

[2018-04-27 10:25] markmacgillivray commented on #964
Yeah dev hits will be counted on dev API. We will have to add a way for you to view these results, on the stats page or somewhere, but for now you can check directly on the API

[2018-04-27 10:39] JosephMcArthur commented on #964
note: https://dev.api.cottagelabs.com/pings is where I can view this.

Yes, will need to export this somewhere as the API doesn't give me the aggregate number, but it's fine to test each tag works, which it does. This is delightfully easy, thanks.

[2018-04-27 11:38] JosephMcArthur opened #965 "when supporting a requests confirmation is not shown (and possible to support many times)"
Essentially, without manual refresh "notify me" button gives no response to user

[2018-04-27 12:58] JosephMcArthur opened #966 "old request IDs no longer found"
e.g https://blog.openaccessbutton.org/10-reasons-why-we-need-to-smash-paywalls-now-6962d8a7be8d

Looks like almost all the links here are now dead, which we wouldn't expect. Would suggest a huge number of links are likely broken.

[2018-04-27 13:10] JosephMcArthur commented on #966
Trying to add a better error message (that push for bug reporting here) but it's not showing up. Likely I've screwed something up small.

Test case: https://dev.openaccessbutton.org/request/A4fnXviQNtHbNTqPE. This should show the message as it does on openaccessbutton.org/request/A4fnXviQNtHbNTqPE but with updated copy and a link to dev.

[2018-04-29 10:29] markmacgillivray commented on #961
It does if you wrap them in quotes. Anything apart from a normal plain text string should be quoted if you want an exact match on it. e.g anything with spaces, @ symbols, etc, needs to be quoted or it will be tokenized

[2018-04-29 10:29] markmacgillivray commented on #961
Assigning to @JosephMcArthur to close if this is acceptable

[2018-04-29 10:33] markmacgillivray commented on #962
Hmm looks fine for me on chrome. In the screenshot you shared, it looks like the content is fine but the footer is just not pulling to the bottom. I think this is better than the issue we had before where some content was being hidden. In most cases the footer should pull to the bottom, but possibly not all. This is a matter of how long you want to spend tweaking for edge cases.

[2018-04-29 18:39] markmacgillivray commented on #962
Our pages use a lot of dynamic content, and they do it in various different ways. For example the requests page has infinite scroll. Most sites that use infinite scroll won't bother with a footer at all. By default if a page has content that is shorter than the window, the footer will always float above the bottom of your window, showing a gap under it. The footer can be pushed down when the page

[2018-04-29 20:01] JosephMcArthur commented on #962
Thanks! Right now, lets' just push into backlog.

[2018-04-30 09:48] JosephMcArthur opened #967 "Using ORCIDs as data for making requests"
As described: https://twitter.com/OA_Button/status/990274337604239360

cc @natalianorori

[2018-04-30 10:44] markmacgillivray commented on #966
For the first link on that blog page I can find the request in the old backups, but it is not on the current system. It appears to have been recorded under a different username - one that is likely the same actual user, but for some reason at a time where user names were changeable and did change. It is on our en-masse request review, and was scored highly so should have been kept. I guess that pe

[2018-04-30 11:05] JosephMcArthur commented on #966
Note: this may relate to: https://github.com/OAButton/discussion/issues/807

- [ ] @markmacgillivray lets go ahead and write that script. Can we make sure to take a backup of all system data before running it?

Hopefully, this fixes the issue, but if not we'll then be closer to figuring out what else is going on here.

This is covered in #960, so lets handle there unless you have other data you th

[2018-05-07 06:24] natalianorori opened #968 "displaying sherpa color for article in admin ui"
when provided, so that we can have a brief idea of each article's copyright and know when to close requests from the admin page (ex. white articles).

[2018-05-15 09:47] JosephMcArthur opened #969 "Redirect straight to paper"
Follows from #77, but this time the focus is for ILL & Library systems where users will often not want to see us.

If you let me know the URL you want / buy the URL and point it at the server, then it will probably be about an hour or two of work for me to do, plus an update to the live system.

[2018-05-17 13:33] JosephMcArthur commented on #964
@markmacgillivray I presume that the live API was updated to get these hits?

[2018-05-17 13:43] JosephMcArthur commented on #933
@markmacgillivray to what extent does /scrape already do this or do our existing metadata sources provide this?

If we already are catching this, feels like we should be able to display it to moderators without much effort? If I'm right, can be move ahead with doing that?

[2018-05-17 13:44] JosephMcArthur commented on #934
@markmacgillivray please let us know what's needed to get this moving

[2018-05-17 13:45] JosephMcArthur commented on #952
@markmacgillivray let me know if anything is needed to clarify this before moving forward

[2018-05-17 13:49] #956 closed

[2018-05-17 13:50] JosephMcArthur commented on #793
@natalianorori I'm bumping this to the backlog for now. Please let me know if we should prioritise.

[2018-05-17 14:01] JosephMcArthur commented on #904
@natalianorori can this be closed? Have you seen / heard of issues recently?

[2018-05-17 14:08] JosephMcArthur commented on #899
@natalianorori is this still an issue?

[2018-05-17 16:55] natalianorori commented on #899
no, closing this

[2018-05-17 16:56] natalianorori commented on #904
i haven't but want to make sure first.  give me a week to close this.

On Thu, May 17, 2018 at 8:01 AM, Joseph McArthur <notifications@github.com>
wrote:

[2018-05-17 16:57] natalianorori commented on #793
not necessary, its ok in the backlog.

On Thu, May 17, 2018 at 7:50 AM, Joseph McArthur <notifications@github.com>
wrote:

[2018-05-21 11:41] JosephMcArthur commented on #965
Being told by users this is happening for all changes on request pages, including things like adding author info.

[2018-05-22 12:30] JosephMcArthur opened #970 "sign in prompts not being removed when there are several"
The sign in prompts on pages like deliveroa isn't always going away when signed in. E.g on deliveroa it'll go on illiad, but not ill.

What I think is going on (copy & pasted from email to user)

[code]

The above probably either needs to check for all prompts, or we need different IDs and duplicate code

Note, this will need to be updated on deliveroa, embedoa, integrations etc. The code is used

[2018-05-22 17:36] JosephMcArthur opened #971 "Filters on /export not working"
@natalianorori  to expand

[2018-05-23 22:28] natalianorori commented on #971
Can't filter by date, when the date from the time period wished is submitted the system still displays  "2010", and we used to be able to filter requests by statuses eg. only exporting requests in received status

[2018-05-23 22:34] natalianorori opened #972 "remove timebridge reminder on admin UI"
low priority since we are the only ones using the system at the moment. Timebridge calendar no longer exists and https://app.timebridge.com/mwm/requests leads to a 404 error.

[2018-05-25 15:49] JosephMcArthur opened #973 "request sharing links get mangled by email and probably other systems"
e.g https://openaccessbutton.org/request?source={%22query%22:{%22filtered%22:{%22query%22:{%22bool%22:{%22must%22:[{%22query_string%22:{%22default_operator%22:%22AND%22,%22query%22:%22*wisc.edu*%20%22}}]}}}},%22from%22:0,%22size%22:500,%22fields%22:[%22status%22,%22type%22,%22user.profession%22,%22user.affiliation%22,%22_id%22,%22url%22,%22created_date%22,%22createdAt%22,%22title%22,%22email%22,%2

[2018-06-03 07:23] JosephMcArthur opened #974 "have /bulk tell me who (display email) uploaded a file"
Good for dealing with oasheets bug requests

[2018-06-05 11:08] JosephMcArthur commented on #828
done on dev

[2018-06-05 11:08] #828 closed

[2018-06-05 11:12] #567 closed

[2018-06-05 11:12] JosephMcArthur commented on #484
not worth doing now

[2018-06-05 11:12] #484 closed

[2018-06-05 11:14] JosephMcArthur commented on #220
this isn't helpful now, closing!

[2018-06-05 11:14] #220 closed

[2018-06-05 11:17] #813 closed

[2018-06-05 11:19] #625 closed

[2018-06-05 11:29] JosephMcArthur commented on #919
fixed, issue is with title search.

[2018-06-05 11:29] #919 closed

[2018-06-05 16:39] natalianorori opened #975 "put a word limit in the story box"
So that we don't have stories as long as this one https://openaccessbutton.org/request/Z3TRCmYzx9Yz4JtRu

[2018-06-05 16:43] JosephMcArthur commented on #975
This just looks like nonsense :| May be best to just delete as part of moderation unless we regularly get stories which are legit but too long.

[2018-06-05 16:48] natalianorori commented on #975
true. closing this :)

[2018-06-05 16:48] #975 closed

[2018-06-05 16:49] markmacgillivray commented on #975
It looks like someone copy-pasted the content of the page the request is about, and the user that submitted this seems to have the same name as the lead author of the paper. Also, it is not actually a paper, it is the data supporting what appears to be a paper. Most likely the person did not understand how to use our system correctly. I think we already have a word limit on the story box, we certa

[2018-06-07 05:12] JosephMcArthur opened #976 "new 404 pages don't work on live"
Work fine on dev, not live

[2018-06-08 17:27] JosephMcArthur opened #977 "Enable Multilingual requests to authors who don't speak english"
Booting this as a list of things we'd need to do to make multi-lingual requests. We'd need to:
- [ ] translate stories (we already do this when they're submitted)
- [ ] translate emails
- [ ] translate all the pages & resources
- [ ] know when this would be required

[2018-06-08 17:30] JosephMcArthur opened #978 "Difficult to be sure of an authors identity in some regions which makes email finding hard"
I know ORCID have a lot of trouble with this too. Perhaps this needs us to be better at getting other info to support just the name

[2018-06-15 09:39] markmacgillivray commented on #976
Live config had not been updated yet, but has now.

[2018-06-15 09:39] #976 closed

[2018-06-15 09:40] markmacgillivray commented on #974
Done and on dev, shows email of user who uploaded it.

[2018-06-15 09:41] markmacgillivray commented on #972
Done on dev.

[2018-06-15 09:42] JosephMcArthur commented on #974
looks great.

[2018-06-15 09:42] #974 closed

[2018-06-15 09:42] #972 closed

[2018-06-15 09:43] markmacgillivray commented on #968
Done on dev

[2018-06-15 09:44] JosephMcArthur commented on #968
best for @natalianorori  to review here. Natalia, shut if you're happy!

[2018-06-15 09:45] markmacgillivray commented on #933
It didn't but does now, looks in crossref data when we pull that, and when scraping a page looks in meta citation_date tag. Also on dev it shows the year in the admin UI of the record if we found it

[2018-06-15 09:48] JosephMcArthur commented on #933
over to @natalianorori again

[2018-06-15 09:48] markmacgillivray commented on #952
Added article_before_2000 to admin dropdown, which tries to send an email using a template called article_before_2000.html to all requestors. As long as that template exists and has been refreshed into the system templates on the overall admin page, this should work on dev.

[2018-06-15 09:50] markmacgillivray commented on #935
Added author_email_not_found to admin dropdown, which tries to send an email using a template called author_email_not_found.html to all requestors. As long as that template exists and has been refreshed into the system templates on the overall admin page, this should work on dev.

[2018-06-15 09:51] markmacgillivray commented on #934
Added request_too_old to admin dropdown, which tries to send an email using a template called request_too_old.html to all requestors. As long as that template exists and has been refreshed into the system templates on the overall admin page, this should work on dev.

[2018-06-15 09:53] markmacgillivray commented on #970
If you're trying to refer to more than one item on a page you can't use hash tags - those are IDs, and should be unique. Instead you should use classes, which are found using dot notation. On dev I have changed these pages to look for .promptsignup instead of #promptsignup and changed the elements to have the class instead of the ID. This should therefore be working on dev now.

[2018-06-15 09:54] markmacgillivray commented on #964
Yes

[2018-06-15 09:56] markmacgillivray commented on #807
Closing this to keep track in #966

[2018-06-15 09:56] #807 closed

[2018-06-15 09:57] markmacgillivray commented on #966
Script ready to run but not run yet

[2018-06-15 09:57] JosephMcArthur commented on #952
This email now exists too. Passing over to @natalianorori for testing.

[2018-06-15 09:57] JosephMcArthur commented on #935
template exists, over to @natalianorori

[2018-06-15 09:58] JosephMcArthur commented on #934
@natalianorori how is this different to #952. Are both needed?

[2018-06-15 09:59] JosephMcArthur commented on #964
Can you build a part of /stats for this?

[2018-06-15 10:00] JosephMcArthur commented on #966
any hold-up?

[2018-06-15 10:00] markmacgillivray commented on #965
Shows a thanks msg after you support now, on dev.

[2018-06-15 10:01] JosephMcArthur commented on #965
tested on ff, works. Thanks!

[2018-06-15 10:01] #965 closed

[2018-06-15 10:01] JosephMcArthur commented on #904
@natalianorori seen anything, can this be closed?

[2018-06-15 10:02] markmacgillivray commented on #964
Yep, but haven't done that as part of this issue yet. You can reassign to me and schedule it in to next week if you want, or make a new issue for adding it to stats, or add it as a comment to the open issue for altering the stats page. It won't be done this week though, but could be next week.

[2018-06-15 10:03] markmacgillivray commented on #966
No just a matter of time. I was finishing the various other bits and pieces and doing the DI stuff, and running it is just something I want to keep an eye on and test after. Probably first thing I'll do next week.

[2018-06-15 10:03] JosephMcArthur opened #979 "display pings on /stats"
From #964, can be displayed like current embedoa like stuff. Would be great if we could put in table too to get a time series.

[2018-06-15 10:03] #964 closed

[2018-06-15 10:05] JosephMcArthur commented on #966
Gotcha, totally reasonable.

On Fri, 15 Jun 2018 at 11:03 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2018-06-15 10:07] JosephMcArthur commented on #963
@markmacgillivray if this isn't fast, it's not worth doing.

[2018-06-15 10:07] JosephMcArthur commented on #891
@markmacgillivray if this isn't fast, it's not worth doing.

[2018-06-15 10:15] JosephMcArthur commented on #970
Fab! Fixed on /deliveroa & /integrations too.

[2018-06-15 10:15] #970 closed

[2018-06-15 16:48] JosephMcArthur opened #980 "automatically reject / close requests before they're opened where we know they can't be made open"
me to expand.

cc @natalianorori to flag the biggest times we could do this (e.g if the article is published before the year 2000)

[2018-06-15 16:50] JosephMcArthur commented on #623
who new bookmarklet, closing.

[2018-06-15 16:50] #623 closed

[2018-06-15 16:51] JosephMcArthur commented on #961
can be closed if we can have a UI note for this.

[2018-06-15 16:57] JosephMcArthur commented on #681
@natalianorori, for the forseeable future, does this make more sense to do with the bulk system? I think so. Same with #680. If so, please close.

[2018-06-15 17:07] JosephMcArthur opened #981 "Explore and implement sign-in options better suited for institutional users"
e.g outlook o-auth

[2018-06-15 17:10] JosephMcArthur opened #982 "oasheet email issue"
issue sent over email, here for tracking

[2018-06-16 01:49] #681 closed

[2018-06-16 01:51] natalianorori commented on #980
Automatically close requests if
- the article is published before the year 2000

We have buttons that close the following requests as well
- the request is not for a scholarly article (e.g ebook)
- broken url
-deceased author

but they're still not automatic

[2018-06-16 01:53] #904 closed

[2018-06-16 04:05] natalianorori commented on #952
I tested this both article too old and request prior to year 200 and none of them are sending the template. Also the status is not changed and the request is left in moderate. let me know when you look into it so I can test it again @markmacgillivray

[2018-06-16 04:07] natalianorori commented on #934
Sorry! I hadn't noticed there were two issues. They are the same, I'd suggest we close this issue and stay with the "article prior year 2000" button and template instead.

[2018-06-16 04:09] natalianorori commented on #935
Tested this, the email is not being sent out and the status is not changed from "moderate". Once this is looked at I can test it again

[2018-06-18 09:10] JosephMcArthur opened #983 "Plan for moving from receive --> deposit"
Mark, here can you outline a rough plan for moving from Receive to Deposit technically and consider any hurdles with my specs or areas I'm leaving unclear. This plan should eventually be a set of issues in soon.

I'd like to try and keep the infrastructure work here to a minimum in the first version, and focus on building out the actual deposit systems.

I'm also happy to make big limitations in s

[2018-06-18 09:19] JosephMcArthur commented on #968
can see sherpa color when available.

[2018-06-18 09:19] #968 closed

[2018-06-18 09:29] JosephMcArthur commented on #838
@markmacgillivray Natalia spends a lot of time tracking down author names, so we'd like to try and cut that down.

Seems like Scrape sometimes get these, can we start by displaying corresponding author names (which I suppose could be guessed by being first / last) to admins.

If there are other easy sources of author lists, e.g DOI's, or orcids available, can we get those displayed too?

This is y

[2018-06-18 09:30] JosephMcArthur commented on #745
Natalia, this was originally an issue about author names, then became about journal names at some point. Can you clarify if the above mturk test was for names / or journal names?

[2018-06-18 10:52] JosephMcArthur commented on #980
Let's try and do this for when the year (pre-2000) or Sherpa says we can't process something.

@markmacgillivray would like your input here. Our aim here is to reduce @natalianorori's moderation workload so she has more time for development/testing. One highlighted way to do this is that she's spending time on requests where data could show us they can't be processed (e.g the above reasons).

Seem

[2018-06-18 11:21] JosephMcArthur opened #984 "Improving title searching"
I'm seeing a lot of frustration with our ability to title search in ILL. This is critically important for those folks. I know this is hard, but I think we should explore routes to making a dent in this through backend & frontend improvements.

@markmacgillivray, I'll need you to take the load on exploring these. Can we consider:
* Offering "potential" matches as options when we can't find a match

[2018-06-18 17:32] markmacgillivray commented on #983
It's still not clear to me why a separate product is a good idea - but that's OK, it doesn't need to be clear to me.  However, it seems that what we need to make this is not technical, it is about product design and sales/marketing. There is not much I can to do spec it out, as it is just the receive system we already have, with different names for things and a different website.

What do you mean

[2018-06-18 19:38] #948 closed

[2018-06-19 06:27] JosephMcArthur opened #985 "Stats as Sheet Export"
@markmacgillivray to what extent does it make sense to turn /stats into an export (or sync) of summarized figures we can play with (make graphs of, work out figures for) in gsheets. I'd like to expand our ability to get info on performance (especially over time) and wonder if it makes more sense to remove the need for you to code UIs to do that (where sheet templates will likely be just fine) and

[2018-06-20 19:20] natalianorori opened #986 "KR: Continue working on instructions on journal submission systems and other tooling"
In order to achieve this key result the following is needed
PART 1
- [ ] Make sure the work we are trying to achieve here is legal and doable

- [ ] Find a librarian with experience in journal submission systems and give us feedback on our instructions for Scholarone and Nature

- [ ] finish the final draft of instructions and format them to look like nice

- [ ] plan a/b test, present it to Joe a

[2018-06-20 19:36] natalianorori opened #987 "KR: Self-Archiving Guides"
In order to achieve this key result the following is needed:

- [ ] find the best way to a/b test our guides with authors

- [ ] test them

- [ ] write blog post about this work

- [ ] share the guides with the community

estimated working days: 2

[2018-06-22 13:07] markmacgillivray commented on #933
this appeared to be down to caching. Here is one I just created with no caching:

https://dev.openaccessbutton.org/request/JHhi6n4YCacikGRFd

[2018-06-22 13:09] markmacgillivray commented on #935
Hmm, I just tried it and it worked fine on

https://dev.openaccessbutton.org/request/JHhi6n4YCacikGRFd

which you can see now has a status of closed

[2018-06-22 13:10] markmacgillivray commented on #934
Done

[2018-06-22 13:10] #934 closed

[2018-06-22 13:13] JosephMcArthur commented on #933
So when we update on live the caching won't be an issue?

On Fri, 22 Jun 2018 at 14:07 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2018-06-22 13:18] markmacgillivray commented on #952
Similarly I tried this one and the status did change, it seems to be working for me.

[2018-06-22 13:31] markmacgillivray commented on #838
Added a possible authors button which shows if there is no author name set but if author names were found during scraping. Hit the button to show the author names. Click one to put it in the author name box. Can be seen working on this request:

https://dev.openaccessbutton.org/request/JHhi6n4YCacikGRFd

[2018-06-22 13:32] markmacgillivray commented on #933
Not for new requests put into the system on URLs that we have not looked up before. The one used on dev seemed to clash with some older lookup that must have been run as part of earlier tests.

[2018-06-22 13:35] #961 closed

[2018-06-22 13:39] JosephMcArthur commented on #933
So, we'll need to re-run data on old requests to do this for all?

[2018-06-22 13:41] markmacgillivray commented on #933
yes if you want old ones that don't have years to now have years, we would have to try re-scraping all of them.

[2018-06-22 13:46] JosephMcArthur commented on #933
Great, is that trivial? Can it be done with the other script maybe?

On Fri, 22 Jun 2018 at 14:41 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2018-06-22 13:52] markmacgillivray commented on #933
It is not hard to write but will take a long time. There are nearly 86000 requests in the system now, none of them have years. About 75000 have DOIs. So we'd have to lookup crossref at least 75000 times (without hitting their rate limit), and scrape at least 20000 URLs. I'd say it is probably not worth doing the scrapes because few will have the correct format of date metadata - when we succeed in

[2018-06-22 14:32] JosephMcArthur commented on #933
Got you. Let's do this if you agree Natalia.... Ship this change, have
Natalia review the change day to day on new requests for a while to see if
this gives accurate data, good coverage etc. Then, if we're happy, let's
get the data for all (having made an issue for that).

On Fri, 22 Jun 2018 at 14:52 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right

[2018-06-23 18:05] natalianorori commented on #952
I tested it again. The status did change, but as a user I am not receiving
the e-mail template that says we are closing it

On Fri, Jun 22, 2018 at 7:18 AM, markmacgillivray <notifications@github.com>
wrote:

[2018-06-23 18:07] natalianorori commented on #838
This works and it's awesome. Thank you

On Fri, Jun 22, 2018 at 7:31 AM, markmacgillivray <notifications@github.com>
wrote:

[2018-06-23 18:07] #838 closed

[2018-06-23 18:08] natalianorori commented on #935
again, I tested it again. The status did change, but as a user I am not
receiving the e-mail template that says we are closing it

On Fri, Jun 22, 2018 at 7:09 AM, markmacgillivray <notifications@github.com>
wrote:

[2018-06-25 08:56] JosephMcArthur commented on #933
@natalianorori for the above, sorry!

[2018-06-25 17:48] natalianorori commented on #933
I agree with the above!

[2018-06-26 08:36] JosephMcArthur opened #988 "rescrap requests for publication date"
Follow on from https://github.com/OAButton/discussion/issues/933#issuecomment-399462859

[2018-06-26 08:36] #933 closed

[2018-06-26 10:44] JosephMcArthur opened #989 "EmbedOA inside link resolvers"
Have embedoa run automatically inside a link resolver by listening for openurls (sp).

Discussed with Mark, possible, need to find out if this is useful.

[2018-06-28 10:05] markmacgillivray commented on #935
The request I linked above doesn't have any user attached to it though, it is still an anonymous request. I may be misunderstanding, but I think the email here would only go to the person who created the request or anyone who supports it - but if the request is anonymous and has no supporters, there is nobody to email. I think you'd have to create a request and add a story to it whilst logged in,

[2018-06-28 10:07] markmacgillivray commented on #952
As with the author_not_found one, are these tests being done on a request that is not anonymous? If not, I don't think there will be anyone to send an email to. If you try again with a request that you've added a story to whilst logged in, hopefully that will solve the problem. Or if I am misunderstanding when this should be sending an email and to whom, let me know.

[2018-06-28 10:16] markmacgillivray commented on #980
I think option 2 would be better. Option 1 would actually require more hassle from us, and would be worse for the user. But option 2 could take a bit longer because we currently don't go looking for all the metadata (like sherpa) when we are trying to create a request fast on the UI. We could change it so that we do look these things up, either delaying the user slightly or updating the page after

[2018-06-28 10:54] markmacgillivray commented on #971
These have been reinstated on dev, please test and see if suitable.

[2018-06-28 11:03] markmacgillivray commented on #985
How different would this be to the /export page? I could add the queries that build the stats page onto the export page as options, then you could select what stuff you want to include in the export. Actually the export and stats page used to be the same page.

[2018-06-28 13:26] JosephMcArthur commented on #985
Yup, they'd be the same. But it would allow you/us to focus on getting the numbers out / created and we can build graphs and views more easily / flexibility there.

[2018-06-28 13:39] JosephMcArthur commented on #980
Let's shoot for two when there is a DOI, which seems to be 90% of the time, and ignore when there isn't. Seems like we'll get most of the value with the least impact on load times there.

[2018-06-28 14:28] markmacgillivray commented on #982
So far, as far as I can tell, the emails are working fine but some large jobs just don't complete reliably. This can be the case when just one of the identifiers provided turns out to be impossible to process in an expected way. Normally this just results in having no answer for that ID, but can sometimes lead to a large job seemingly not completing, thus not sending a completion email.

I am addi

[2018-06-28 14:29] markmacgillivray commented on #648
Haven't moved on this in this sprint, will have to go into next one. And we should probably budget a fair bit of time for it, like half the sprint.

[2018-06-28 14:43] markmacgillivray commented on #980
what sherpa info would show that this should be closed immediately?

I have updated the request API to do as discussed, apart from just needing to know what you want me to close for from sherpa.

This also sets a value in the request to show that we closed it immediately on creation, so we should have some wording to show to the user in that case, so that they know why we have immediately closed t

[2018-06-28 14:44] JosephMcArthur commented on #982
I'd rather not add complexity to the UI now, and just have the email sent. Is there a fallback we can have, e.g "if job not complete after X amount of time send email". If the entry in the sheet could just say "UI not processible" or something like that it would be great.

[2018-06-28 14:56] markmacgillivray commented on #982
It is more complicated to do "if not complete after X" than it is to alter the UI.

[2018-06-28 14:59] JosephMcArthur commented on #982
Alrighty, go for the UI changes then! We do have designs already available if that's helpful.

[2018-06-28 15:01] markmacgillivray commented on #982
OK where are they?

[2018-06-28 15:04] markmacgillivray commented on #966
The script is still to be run, I've been doing other things :(

[2018-06-28 15:04] JosephMcArthur commented on #982
Example here: https://github.com/OAButton/discussion/blob/master/UI:UX%20Mockups/OA%20sheet%20design/V2/OA-Sheet-Design-v2-page-2-1.png

The design requires much more functionality than you're suggesting, so don't actually worry about that. Just thought some idea to go off here might be nice.

[2018-06-28 15:12] JosephMcArthur commented on #966
Is it ready to run, or does it still need work to finish?

On Thu, 28 Jun 2018 at 16:04 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2018-06-28 15:16] markmacgillivray commented on #966
I think it is ready, but when I test-run it again it may bring up more issues to solve. I don't think so though.

[2018-06-28 15:20] JosephMcArthur commented on #966
Gotcha, thanks for the update!

On Thu, 28 Jun 2018 at 16:16 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2018-06-28 15:25] natalianorori commented on #980
White sherpa colour should automatically close the request

@JosephMcArthur I have rome rough drafts of the text here, could you check them? Once we have a final line we can let Mark know. https://docs.google.com/document/d/1_IgXb4nl9klLXoSTaXpTL1vtvwH-uBJLLnD5i3poU8Y/edit#

[2018-06-28 15:41] markmacgillivray commented on #980
OK I've added the sherpa white condition, all I need now is the text for the page. No rush though, whenever you're ready I can add it.

[2018-06-28 15:42] markmacgillivray commented on #984
Haven't even looked at this during this sprint yet - may get to it before Monday.

[2018-06-28 15:48] natalianorori commented on #935
Hi,

I created an issue here under my name https://dev.openaccessbutton.org/request/jnujwYAmirw2yBYvG
but when I press this or "prior to 2000" button request is back to not changing it status to help, or not sending the e-mail notification.

Also, save changes button is not saving changes on dev again.

[2018-06-28 15:50] natalianorori commented on #971
working now! thanks

[2018-06-28 15:50] #971 closed

[2018-07-02 18:03] JosephMcArthur opened #990 "initial mockups for depository"
posting merely for tracking

[2018-07-02 18:03] #990 closed

[2018-07-02 18:14] JosephMcArthur commented on #952
Test and it works, but needed the email syncing on dev. At first it didn't work for me either, then after syncing it did so confident we're good here.

[2018-07-02 18:14] #952 closed

[2018-07-02 18:15] JosephMcArthur commented on #935
Test and it works, but needed the email syncing on dev. At first it didn't work for me either, then after syncing it did so confident we're good here.

[2018-07-02 18:15] #935 closed

[2018-07-02 18:28] JosephMcArthur commented on #817
@natalianorori can you test if this is still a thing?

[2018-07-02 18:29] #797 closed

[2018-07-02 18:37] JosephMcArthur commented on #905
@markmacgillivray Hoping this is trivial, but will help save bits of moderation time!

[2018-07-02 18:39] natalianorori commented on #817
It is sending the template but it is not modifying the status, it still
leaves the status on "help". I am all for changing it to "closed" and then
reopening the request if the author gives us the link. Will avoid confusion
in the moderation process.

On Mon, Jul 2, 2018 at 12:28 PM, Joseph McArthur <notifications@github.com>
wrote:

[2018-07-02 18:42] JosephMcArthur commented on #728
Linked to #988

[2018-07-02 18:43] JosephMcArthur commented on #817
noted, lets do that then @markmacgillivray

[2018-07-02 18:49] JosephMcArthur commented on #682
@natalianorori can you update where we're at with this from your perspective?

[2018-07-02 18:49] JosephMcArthur commented on #955
the above link is fine for troubleshooting. closing.

[2018-07-02 18:49] #955 closed

[2018-07-02 18:54] JosephMcArthur commented on #638
@natalianorori if you have any results here can you comment them here?

[2018-07-02 18:59] JosephMcArthur commented on #738
Does Sherpa / Romeo give us Embargo data @natalianorori ?

[2018-07-02 19:09] JosephMcArthur commented on #483
@natalianorori would the above spreadsheet work for you? We'd need a dev & live version. Also, have you looked at that sheet from Penn too with this info?

Once we have the sheet, then we can figure out the best way to get it filled with all the info needed but start to make some easy wins.

[2018-07-02 19:21] JosephMcArthur commented on #980
@natalianorori suggested copy for this is in the above doc.

[2018-07-02 20:00] natalianorori commented on #980
final copy here

https://docs.google.com/document/d/1_IgXb4nl9klLXoSTaXpTL1vtvwH-uBJLLnD5i3poU8Y/edit#heading=h.s5jlvdxbnw4q

[2018-07-02 20:06] natalianorori commented on #837
We get it for new stuff in most cases, improvements are notable. Closing this

[2018-07-02 20:06] #837 closed

[2018-07-02 20:07] natalianorori commented on #952
I tested it and did get the email, thanks Joe

On Mon, Jul 2, 2018 at 12:14 PM, Joseph McArthur <notifications@github.com>
wrote:

[2018-07-02 20:09] natalianorori commented on #745
I think this was an error in me naming the issue, the issue was about journal names. We never tested extracting author names through mturk, and I think with the new author name box it won't be necessary.

[2018-07-02 20:56] JosephMcArthur commented on #745
Do we need the journal names too, or are we picking this up okay (at least on articles with DOIs)

[2018-07-02 21:34] natalianorori commented on #745
We are picking this up okay with articles with DOIs. I'll have stats for you on the percentage of journals we extract names from and Sherpa Romeo info soon , for this and #738

[2018-07-02 21:39] JosephMcArthur commented on #745
Does okay = 100%? With dois it should I'd have thought.

On Mon, Jul 2, 2018, 23:34 Natalia Norori <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2018-07-02 23:10] natalianorori commented on #745
Not 100%. Numbers are not as good as I thought.
I just checked our stats,

we have doi info for 90.6% of requests
we have journal names for 64% of requests with dois.

[2018-07-02 23:15] natalianorori commented on #738
We can get embargo data from Sherpa/romeo if we search for the journal on their database. It's typically under "restrictions" e.g http://www.sherpa.ac.uk/romeo/issn/1547-5816/

 we, however, are not automatically extracting that data for existing requests, just the color.

[2018-07-03 08:10] JosephMcArthur opened #991 "Handling deposit statements"
@natalianorori some deposits need to be accompanied by a statement e.g http://www.sherpa.ac.uk/romeo/search.php?issn=1547-5816

Can you work to understand how often this is, patterns in statements (e.g are the always / effectively the same, or always the same for the same publishers), and understand if SR always just says "see policy" for the statement required.

@markmacgillivray I presume that i

[2018-07-03 08:15] JosephMcArthur commented on #991
@natalianorori while you look at this can you keep an eye on the General Conditions section of SR. Hopefully, if we do the above and the following we're always in compliance there but if there is other stuff that comes up it's important to know.

We should also do the following with deposits:
- [ ] Give the link we're given by requestors in Zenodo & a DOI if we have it
- [ ] Say what version we're

[2018-07-03 08:17] JosephMcArthur opened #992 "Expanding Data pull for Sherpa Romeo"
We should start to pull in:

- [ ] Links to the SR page we're pulling from (and we should link this where we currently link the policy color)
- [ ] Links to policies (and we should provide a "policy" link where we currently just link color)
- [ ] Restrictions (and parse some into an embargo length field)

[2018-07-03 08:22] JosephMcArthur opened #993 "When is a yellow journal not a yellow journal?"
In this http://www.sherpa.ac.uk/romeo/search.php?issn=1547-5816 the yellow journal actually allows AAM under some simple conditions.

@natalianorori do you know how often this happens, roughly?

For Mark, at some point,

- [ ] Does the API give us a clear signal when you can post the AAM with restrictions?
- [ ] Can we grab & parse the restrictions to programmatically tell when we have what's need

[2018-07-03 08:32] JosephMcArthur commented on #738
Okay, got an issue for this to pull in Embargo lengths and get into a field #992. That's step one here in a move towards automation.

We'll only want to encourage this:

Then, what we'd want to do is:
* Compare embargo length to publication date, if published outside embargo proceed as normal. If not...
* notify Natalia as usual to check if it's the right copy (aka, run whatever process we have at

[2018-07-03 08:39] JosephMcArthur commented on #483
Whatever we have here will need to track #992

[2018-07-03 09:49] #707 closed

[2018-07-03 09:56] JosephMcArthur commented on #982
Small thought, I wonder if doing this on /account makes sense? All yours to decide, I don't mind at this point.

[2018-07-03 14:55] natalianorori commented on #483
Yes, the spreadsheet would work for me, I'd encourage us to have it. I have not looked at the sheet from Penn, do you have a link?

[2018-07-03 14:57] natalianorori commented on #992
We are currently getting sherpa romeo colors for 41% of existing requests.

[2018-07-03 15:04] natalianorori commented on #738
sounds okay. Will the system notify me when embargo date passes, or should I track this in a sheet and link it to a calendar for notifications?

[2018-07-03 15:09] natalianorori commented on #993
This is a tricky one,

for my point of view, Sherpa does not classify journals that allow depositing the AAM after an embargo period as green. I've always seen them listed under yellow policies. I might be wrong, but for me green is allowing preprint and post print without restrictions. This is a case in which a librarian input would be useful

[2018-07-03 18:31] JosephMcArthur commented on #483
This is the penn thing I think: https://pubpolicy.library.upenn.edu/.

Also, we'd need to:

- [ ] add a way to flag & correct edge cases by journal and article (conceptually like the redirect system for availabilities)

[2018-07-04 09:17] JosephMcArthur commented on #993
Agreed, please put this on your list of stuff to discuss with people. But, color aside, if we can interpret those restrictions and meet them it sounds like we could deposit the AAM in more cases than we'd otherwise expect! That's got to be good news? :)

[2018-07-04 10:22] JosephMcArthur opened #994 "Change CTA on request pages for authors from contact us to go to the receiver pages"
Easy to change and start to test some assumptions for depository

[2018-07-05 09:51] JosephMcArthur opened #995 "Segment Despository Copy by Discipline"
I think there are a fair few cases where it would make sense to segment depository copy by discipline in order to make instructions easier to digest and act on. For example:

* File formats we ask for. In biology, we'll want docx. In physics, maybe latex is better to say.
* Suggesting avenues when sharing isn't allowed. E.g "next time upload something to SSRN" or "next time upload something to arv

[2018-07-05 13:09] JosephMcArthur commented on #985
Back to the original question, would this be a helpful way to make it easier to get more data out in the long term Mark?

[2018-07-05 13:13] natalianorori opened #996 "list of DOI in journals for new paper test"
for the new paper test, we need a list of article DOIs corresponding to most recent publication dates of a few journals. querying crossref for a list of such journals by ISSN is needed in order to create requests for the test.

ideally, we need the list of all article DOIs published after June 2017 (@JosephMcArthur let me know if you agree with that date) in the following journals published by Spr

[2018-07-05 13:19] natalianorori commented on #996
side note: this is Springer US only, I chose it because we have instructions for their submission system already created in case we want to engage in conversations with authors

[2018-07-05 22:31] natalianorori commented on #985
stats I've needed to figure out in the past:

- filtering requests by creation date
- filtering requests by journal
- filtering requests by publisher
- Percentage of requests with DOIs
- Percentage of requests with sherpa colors
- percentage of requests for each sherpa color
- filtering requests by sherpa color
- Percentage of requests with publication year prior to certain date
- filtering reques

[2018-07-05 22:46] natalianorori opened #997 "button to close requests from the landing page"
If we for sure now that the request won't go through.
would save us having to click in the request to close it
Super useful at the moment, probably won't be needed once we start automatically closing requests.

[2018-07-05 22:47] natalianorori opened #998 "displaying publication year of each request in landing page"
needed for #997. Will allow us to close requests from landing page if needed

[2018-07-05 22:50] natalianorori commented on #638
5% response rate for requests with stories and 0% response rate for requests with no stories.

This was a small test, we compared last 100 moderated requests in the system and sent 100 without stories to YAMM. I could expand it if you want a relevant sample size, but I have a hunch that we already now the answer: stories matter.

[2018-07-05 22:52] natalianorori commented on #638
relevant for #936

[2018-07-06 09:55] JosephMcArthur commented on #997
this isn't worth doing if we're going to block these moving forwards, would rather get that done.

[2018-07-06 09:56] #998 closed

[2018-07-06 09:57] #997 closed

[2018-07-06 10:59] markmacgillivray commented on #817
Done on dev

[2018-07-06 11:12] markmacgillivray commented on #905
Done on dev

[2018-07-06 11:51] JosephMcArthur commented on #905
Natalia, please test & close :)

[2018-07-06 11:51] JosephMcArthur commented on #817
Thanks Mark! Natalia, please test & close if all good.

[2018-07-06 16:51] natalianorori commented on #817
thanks mark. it works

[2018-07-06 16:51] #817 closed

[2018-07-06 17:13] natalianorori opened #999 "track follow ups on site"
at the moment, I track follow ups in spread sheets similar to this one [https://docs.google.com/spreadsheets/d/1OaKjLrWK44FHYQmnPtdxDPswRTYXjMsICi2NIhPVfJE/edit#gid=0](url) I cross check through the spreadsheets to find requests that I've followed up in the past to avoid repeating.

If we could find a way to track requests that have been followed up with in the site, I could filter stuff easier. M

[2018-07-06 17:20] natalianorori commented on #905
works :)

[2018-07-06 17:20] #905 closed

[2018-07-08 13:15] JosephMcArthur commented on #982
to be clear, this is currently blocking a big round of publicity as I don't want to push people towards this when a non-trivial number may hit this error.

[2018-07-08 13:16] JosephMcArthur commented on #980
@natalianorori  in future when you send over stuff like this don't be afraid to unassign yourself and assign others :)

[2018-07-08 13:20] JosephMcArthur commented on #936
Do you have the raw sheet for this? Would be good to have the # of stories in each catagory.

[2018-07-08 13:40] JosephMcArthur commented on #638
So, I think the results of that test are kind of clear and gels with everything we think. I think we need to try and keep stories, i.e personalized reasons why the person should deposit, but we need to think about how to lower the burden substantially for users and us.

Big ways we can do that include:
* #936
* #428 / #412 which was shut originally but I think we should reconsider as it means we d

[2018-07-08 13:41] JosephMcArthur commented on #936
Ah, I'd like to start this by shipping it to admins. When a story fails moderation, but fits into a catagory, we can give it a standard story and send. Later we can adjust the UX for this.

[2018-07-08 13:43] JosephMcArthur opened #1000 "Handling email auto responses nicely for dead emails"
Most emails give a fail message that I believe conforms to some standard. It would be good to listen for that on the response and and send a request back to help with notes.

[2018-07-10 18:15] natalianorori commented on #991
### General conditions:

We've look at major publishers conditions, which together represent more than half of all journal articles and concluded that.

- Most major publishers have similar general conditions - see above
- Most major publishers require attribution or statements
- Most major publishers require linking to the pdf version through the DOI
- Most major publishers require a creative com

[2018-07-11 10:47] markmacgillivray commented on #980
OK, this has been added on dev, should be testable

[2018-07-11 10:49] markmacgillivray commented on #980
Oh and if I assign things to the wrong person, if it should be @JosephMcArthur testing something instead of @natalianorori for example, just reassign it to whoever you think is the right person. Assigning doesn't mean you have to do it, it just means there's an assumption you're the right person to look at it next, but if you're not, just send it on to whoever it should go to :)

[2018-07-11 15:24] JosephMcArthur commented on #980
At Natalia can give drop a few article links we'd expect to bring positive
results here please for testing?

J

On Wed, 11 Jul 2018 at 16:28 Natalia Norori <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/M

[2018-07-11 15:33] natalianorori commented on #980
https://www.nature.com/articles/304184a0
https://www.nejm.org/doi/pdf/10.1056/NEJM198110013051404
https://link.springer.com/article/10.1007/BF01680039
https://link.springer.com/article/10.1007/s004100050263
https://www.nature.com/articles/382829a0
https://www.tandfonline.com/doi/abs/10.3109/10409239509083491
https://www.tandfonline.com/doi/abs/10.1080/00207179608921866

[2018-07-11 17:22] markmacgillivray commented on #985
There are aspects of this that are more like a faceted browse interface, which we have had before, and still do have in the admin UI. We also have had the maps and other interactive ways of exploring the requests. Also, if the best solution is just to have a sheet export that goes into google sheets or some other tool (datopian or similar), then that precludes spending much time building a new sta

[2018-07-11 17:23] markmacgillivray commented on #949
See #985

[2018-07-11 17:36] markmacgillivray commented on #980
I'd need confirmation first that this is how you want to pick publication dates in future. At the moment the system is specifically designed not to use the print publication date at all - it uses the crossref created date, or tries to scrape the citation-date meta tag out of page content (which could be a print or online publication date, depending on whatever date the creator of the page felt lik

[2018-07-11 21:15] markmacgillivray commented on #984
It's not quite clear what the problem really is here. Yes, sometimes we don't find titles where the user may be able to do so via a search on google or bing, for example. But, if they then find a DOI or URL for the article and then find it is OA, that is something we just can't do without breaking TOS.

There is no actual google search API. There are ways to do custom searches and get up to 100 qu

[2018-07-11 21:58] markmacgillivray commented on #984
I have the google custom search working, this will give us 100 free per day that will search the web. It returns good results, same as title search in their UI. However, it is not clear that we will be able to do this beyond 100 times a day, even if we pay - that seems to require restriction to search of certain sites, which won't be much use. But for now, google searches may be able to give us so

[2018-07-11 23:34] natalianorori commented on #980
@JosephMcArthur  if you are okay with this, I advice us to use the print publication date for all future requests.
We can  run the alteration script on all requests in the future since its not priority right now, but will only be important when we decide to do massive closing.

[2018-07-11 23:40] natalianorori opened #1001 "handling requests with white sherpa colors"
According to request system manuals and past workflows, requests with white sherpa colors should be closed. We could try and contact publishers and negotiate with them but it would take time and we'd need to work in an established mechanism.

@JosephMcArthur  are you with me with closing requests in white at the moment and then coming back to them? If so I need to create a template to close those

[2018-07-12 17:05] JosephMcArthur commented on #980
Whatever @natalianorori says on this front :) Sounds like print publication date is the way to go.

[2018-07-12 17:17] natalianorori commented on #980
Lets go with the print publication date then :)

On Thursday, July 12, 2018, Joseph McArthur <notifications@github.com>
wrote:

[2018-07-14 14:21] JosephMcArthur commented on #984
How much is this? And can we have it work only on some (e.g when a certainly URL param is seen)

[2018-07-16 11:31] markmacgillivray commented on #980
OK, I have done this and it is on dev. Note that it is not always going to work because it will depend if print publication date is available and also what date is in the page metadata if scraping occurs first.

[2018-07-16 11:41] markmacgillivray commented on #984
Yes, if you can specify when you want it to run.

[2018-07-16 11:43] markmacgillivray commented on #966
@JosephMcArthur can I check, when this runs, you want all the old requests that are not currently in the system to be put back in the system, even if they don't have a story? Or only the ones with a story? Or only the ones with a certain story rating on our spreadsheet? And if only the ones with a certain rating, what about the ones that have a story but do not appear in the rating sheet (if there

[2018-07-16 12:42] markmacgillivray commented on #982
The design stuff was quite different from what we need right now. I have altered the oasheet page itself to include a % counter and a download button. That way people can come back to that page any time. You can see an example here:

https://dev.openaccessbutton.org/oasheet#NdBTfYZ3gJTivRmGj

If the job is not yet at 100% the % complete sentence also says "You can download the results so far, and

[2018-07-16 12:49] JosephMcArthur commented on #982
Perfect. If you're confident this all works I'm happy for it to ship. Thank you.

[2018-07-16 13:13] markmacgillivray commented on #984
@JosephMcArthur I think this is the only decision outstanding on the sprint that is due to end today. If you let me know when you want this to run I can complete this too and then push it all to live. That just leaves the request IDs script to run (hopefully tonight) - although actually there is a clarification question on that too. Then we have the mturk issue outstanding, which will have to roll

[2018-07-16 13:23] JosephMcArthur commented on #984
What does it cost per query to use Microsoft Academic? What would be the cost to run that monthly on title queries?

[2018-07-16 13:34] markmacgillivray commented on #984
https://azure.microsoft.com/en-gb/pricing/details/cognitive-services/bing-entity-search-api/

£2.236 per 1000 transactions.

I can't estimate because I don't know which queries you do want it to run on, or how many queries we will get in future. Also on past data I don't know which ones were missed because there was nothing to find, or because we failed to find anything. But about a quarter of our

[2018-07-16 13:34] JosephMcArthur commented on #966
My main benchmark here is to bring back stories in: https://blog.openaccessbutton.org/10-reasons-why-we-need-to-smash-paywalls-now-6962d8a7be8d

I feel like we discussed these questions in person, if so defer to those notes. But, if you don't have notes on that dicussion then:

If they don't have a story, don't worry about bringing them back. The aim to bring back requests with good stories.

They

[2018-07-16 13:41] JosephMcArthur commented on #984
I'd want this used only on title queries, ideally when we *don't* recognize an article exists (i.e we instruct people to give more info) when given a title with our current free systems (so if we recognize it's an article, let's not worry).

On that 50k, can you tell me how many times we didn't recognize an article and how often we found OA (out of the whole 50k).

Also, can we cap how many times

[2018-07-16 13:44] JosephMcArthur commented on #966
Okay, and to skip to the next bit. Let's run MA against that 50k and see what the results are after. Happy for that to cost what you've described.

[2018-07-16 13:48] markmacgillivray commented on #984
There are 52614 availabilities in the last month that appear to have been triggered by provision of a title. 50437 were not discovered as OA. I'm not sure what you mean by not recognising it as an article. If we have a title we search for it, if we find it then it is OA. If we don't find it, as far as we know it is an article we didn't find as OA.

We could have a cap but that will require extra w

[2018-07-16 13:49] markmacgillivray commented on #966
What do you mean? Is this last comment on the wrong issue?

[2018-07-16 13:52] JosephMcArthur commented on #966
Oooops. Yes.

[2018-07-16 13:52] JosephMcArthur commented on #984
This should've been here a few minutes ago: https://github.com/OAButton/discussion/issues/966#issuecomment-405252021

[2018-07-16 20:42] JosephMcArthur commented on #980
Gotcha! @natalianorori can you get an article that evokes the response so I can see and approve this please?

A little note, once this is done we can do a release onto live.

[2018-07-16 20:55] JosephMcArthur commented on #745
Oh, and do we get ISSNs from a DOI? I presume that would be good to have with journal names

[2018-07-17 12:31] markmacgillivray commented on #984
Update for the record - MS sucks.

[2018-07-17 12:34] markmacgillivray commented on #966
About the stories yes we discussed it before I just wanted to check I had it right. Seems that I do. Will be running again today.

[2018-07-17 12:38] JosephMcArthur commented on #984
Haha. Well said.

On Tue, Jul 17, 2018, 13:31 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2018-07-17 18:40] TimothyStiles opened #1002 "One line curl examples for API features in API doc"
## One line curl examples for API features in API doc

Hello everyone!

I have a set of DOIs that I want to check for availability on OAButton's database and I'm struggling to make a successful curl statement to test the availability api. Here's what I got so far:

[code]

which returns:

[code]

 I can get the following to work but this works with and without a proper api key.

``` curl -H "Conte

[2018-07-17 18:48] markmacgillivray commented on #1002
Hi there. To use the availability API at the moment it is a GET request with a url parameter provided, not a POST of data. Anyway a POST of data would require you to POST valid JSON whereas just now you are trying to send the string "url:YOURURL" which isn't JSON, hence the error you're getting. JSON would be {"url":"YOURURL"}.

But you can avoid that complexity by just putting the URL of the arti

[2018-07-17 19:47] natalianorori commented on #980
@markmacgillivray Did you test this in a specific article? I've tried with 10 different requests, all grabbed from the live site and have not succeeded.

[2018-07-17 20:16] natalianorori commented on #1001
you're right. lets focus our work in shipping  #980

[2018-07-17 20:16] #1001 closed

[2018-07-18 10:24] markmacgillivray commented on #980
Hi! Sorry yes there was an error getting it to pick up properly. I have deleted the test article you had tried the first time, the Human Hepatitis B one, then I did a fresh search for the DOI of that article on the dev site, without relying on the cache, and it was able to find it and pick up the older date. You can see the page it created, which is a request that it already closed, at this addres

[2018-07-18 10:31] JosephMcArthur commented on #980
Thanks for this Mark. Is the copy we wrote anywhere, or is this a different part of the process?

[2018-07-18 10:44] markmacgillivray commented on #980
I thought the copy was just for the user that initially causes the request to be created. I've changed it now so it shows all the time. Have a look at that link again and you will see it.

[2018-07-18 10:50] JosephMcArthur commented on #980
The copy shouldn't be there, I just need to see what a user sees when they first make the request. A screenshot of that would be fine, then the actual closed request page can be the same as a normal closed request without a story.

[2018-07-18 10:57] markmacgillivray commented on #980
Well if you look at it now you will see how it looks to the first user. If you don't want that to show all the time, let me know once you have looked at it and I will change it back to not always showing.

[2018-07-18 11:06] JosephMcArthur commented on #980
Got you, I sense a bit of a UI do-over coming soon so this is fine for now.
Plz remove. Could we remove "show your support" from that page? Would it be
trivial to have the "let us know" still allow a request to be created, or
should we sent them to the bug form?

For future reference, this is what is looks(ed) like
https://www.dropbox.com/s/5nubksi7g9cfxs8/Screenshot%202018-07-18%2013.04.51.png?dl

[2018-07-18 11:11] markmacgillivray commented on #980
OK I have changed it so it does not show after the first person tries to create it. I have also hidden the show your support stuff. Let us know changes will need extra work later, may as well wait until UI change if we're doing that at some point

[2018-07-18 11:15] JosephMcArthur commented on #980
Okay, can you link that to the general bug form please? Then we're good and
let's ship this.

On Wed, 18 Jul 2018 at 11:11 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Sky

[2018-07-18 11:18] markmacgillivray commented on #980
OK done

[2018-07-18 11:18] #980 closed

[2018-07-18 14:00] markmacgillivray commented on #984
This is taking a while, but I can now search MS APIs. So far it seems that the bing search API may actually give more useful results than the academic graph API. Anyway, I can now write a script to send a bunch of titles to them and see what we get back. So work continues.

[2018-07-18 19:37] TimothyStiles commented on #1002
Great and thanks! That worked perfectly. [I've made a pull request to the website to update the api page](https://github.com/OAButton/website/pull/87).

[2018-07-18 19:37] #1002 closed

[2018-07-18 20:30] JosephMcArthur opened #1003 "on IE deliveroa doesn't show install instructions box on selection of system"
As seen here: https://www.dropbox.com/s/sm06y33gnnn4uua/Screenshot%202018-07-18%2022.28.48.png?dl=0

Likely effects other pages using this mechanism. Either we should fix the mechanism, or provide some warning that the page doesn't work and to use IE. I have a strong preference for the former.

Reported by a user and confirmed on Browserstack (IE 11 on Windows)

[2018-07-19 01:43] natalianorori opened #1004 "Establish a mechanism for requesting feedback from authors"
me to expand

[2018-07-19 08:09] #982 closed

[2018-07-19 10:18] JosephMcArthur opened #1005 "Be clearer on successful availabilities page that the paper is free"
Right now it says "it's available", ideally it would say it's free.

[2018-07-21 08:55] JosephMcArthur opened #1006 "When searching for articles on the frontpage, and they're found, back button in ff & chrome works inconsistently"
I haven't figured out how to replicate this consistently, but I've been it on both my mac / FF & another mac with chrome.

Essentially, search for something, and then when it's found try and hit back. It sometimes doesn't respond and take you back to the homepage.

[2018-07-21 08:58] JosephMcArthur opened #1007 "Articles in aeaweb sometimes display false positives"
doesn't work: https://www.aeaweb.org/articles?id=10.1257/aer.20170792 (links back to original page)
does work: https://www.aeaweb.org/articles?id=10.1257/aer.20161570 (links back to article in repo, yay)

other tests can be found at: https://www.aeaweb.org/issues/513

- [ ] Mark, would be great if you could add a redirect to make this work.
- [ ] Reported by Rufus, let know when fixed.

[2018-07-21 15:38] JosephMcArthur opened #1008 "If a user inputs one word into the homepage, display an error"
Many people try and use the frontpage as topic search. Now, what they see is essentially an error that takes a long time to display and confuses them.

It would be better to instantly flag this somehow, and then inform the user of what we do or enable them to do the search if it's valid.

One word might be too little, maybe one or two would make sense, who knows.

[2018-07-22 06:30] JosephMcArthur opened #1009 "Feedback on stats at OAB document"
Been thinking a lot about how we can level up measuring our work etc. It's a bit complex, so I ended up writing it up.

Would value feedback on it from you both: https://docs.google.com/document/d/1-2x_qQKN0lqisSaTuHi7w-gq_riznQD-W0CIw9gjJRs/edit#

As ever, bit messy as I had to throw it together before going away but it's the best I've got.

[2018-07-22 09:48] JosephMcArthur commented on #764
@markmacgillivray can we do this however makes sense for you? Essentially, if we approve a story once, remember that status for all others that use it.

The primary use case here is stories that might come in from ILL or other services via the API that might all use the same story for their users. However, it'll also be helpful when we do bulk requests ourselves and when users want to do stuff via

[2018-07-22 09:51] JosephMcArthur commented on #745
@markmacgillivray can you look at the above Q's?

If we're not getting journal names and ISSNs from easy to find sources (e.g the page, or a doi) for some reason, can you make sure that's corrected as part of this issue? We need that info to do sherpa romeo lookups and know what can be deposited.

[2018-07-22 09:59] JosephMcArthur commented on #994
Let's change it to:

Mark, can you add pingers to both those links too. Don't care what they're called, only that they're documented.

If memory serves, we may need to update receiver pages to be functional before an email is added as part of this.

[2018-07-22 10:01] JosephMcArthur commented on #851
@markmacgillivray We have 40 institutions waiting to use this, so would be good to revisit if you can. I think. You've got the thread with Kenny discussing this, feel free to reach out to him if needed.

[2018-07-22 10:03] JosephMcArthur commented on #992
Mark, we can move ahead with pulling in this info and associating the info with requests.

[2018-07-22 10:05] JosephMcArthur opened #1010 "[urgent] On Firefox, /request is showing no page content. Works on Chrome."
@markmacgillivray needless to say this is an important issue. Can you fix, test and ship asap?

[2018-07-22 10:12] JosephMcArthur commented on #981
I think I've seen "sign in with microsoft" buttons, it would be good to have that because I expect institution users who don't have gmail will have microsoft.

That would help stop me getting emails about not being able to sign in and avoid us moving to a password system / dealing with tricky email issues as I think this will be really confusing from a UI point of view.

Otherwise, I think sign in

[2018-07-22 10:37] JosephMcArthur commented on #483
Okay, updating thoughts here.

I think we want a spreadsheet that can *override*[1] SR data with other sources and provide that info to the request system. Eventually, it might become the primary source. There will need to be a dev & live version. The sheet should start by having whatever fields we currently pull from sherpa remeo in it (including new things in #922, maybe just everything they hav

[2018-07-22 10:53] JosephMcArthur commented on #999
Two things, we want to allow you to 1) track when you follow up 2) make it easy to see things that need follow up.

For 1) I'm really unsure about what makes the most sense. We want something that's easy for you to enter, that allows for good stats based on it, and allows us to do as many follow-ups as we want. I believe we originally proposed using the notes for this.

For 2) I think we should ad

[2018-07-22 11:01] JosephMcArthur commented on #996
@markmacgillivray please note that what you need to do here and what we need is outlined in the email "feedback needed for new paper test (priority)"

[2018-07-22 11:18] JosephMcArthur commented on #738
You won't need to track the embargo after content approval, we'll have it do everything else auto-magically.

- [ ] The next step on this is for me to work the above into our content moderation workflow.

Currently, I've noted it as a shortcoming and pointed people here, so it need not block feedback.

[2018-07-22 11:20] JosephMcArthur commented on #991
Great stuff, Natalia thank you. Please make sure that each of those has a citation associated to the root policy.

It seems like these are handled on the publisher level, yes? and not currently in Sherpa Romeo.

So perhaps in the sheets suggested in #483 we should have another sheet call "statements" for each of these that supplements the Sherpa Romeo data. We can code them by the publisher, and t

[2018-07-24 09:13] markmacgillivray commented on #1010
Added missing file causing ff to error out, fixed now

[2018-07-24 09:13] #1010 closed

[2018-07-24 09:34] markmacgillivray commented on #483
There definitely are publishers that have different policies for different journals though. Also we are unlikely to know publisher but not journal. Similarly just because a paper from a journal exists in a repo does not mean that all papers from that journal have the same policy.

For the ML approach, we need to know that there is an actual way to identify the missing data first - there needs to b

[2018-07-24 09:35] markmacgillivray commented on #483
Which looks like what Penn have already done anyway.

[2018-07-24 09:42] markmacgillivray commented on #981
Given the state of trying to login with microsoft accounts even for just ourselves recently, is this really going to provide less complexity, or more?

For example I now have multiple MS accounts, I have no idea which ones were which or when I created them or what they are supposed to do, they have tried to merge my azure account with my dev academic account, and now also my skype account - when I

[2018-07-25 00:42] natalianorori commented on #483
I agree with this, from what I've looked around, policies are generally similar but what changes is the embargo period. e.g elsevier has a bunch of different embargo periods for their journals, but the rest is pretty similar

Librarians have confirmed than whenever they submit info to Sherpa Romeo, it never gets updated and they never get an answer. Our intention for this sheet is to share it with

[2018-07-25 00:46] natalianorori commented on #483
Penn's database is very good, but searching through it is not as practical as searching through Sherpa/romeo ( yes, I am saying that). It's also missing a lot of information and there are a lot of clicks involved in order to get to the policies. their search bar is also harder to get to. I think that if we are going to make this approach, we should make it as simple as possible for humans to use.

[2018-07-25 00:59] natalianorori commented on #745
Is this already on live? when was this implented. I just did an analysis and out of all  200 requests received during July, we have journal names for 134 which is 67% of requests.

I can wait and check this again in a month to see if it increases and see a pattern in those that we don't extract the journal info from

[2018-07-25 01:11] natalianorori commented on #999
for 1) We could standarize a tag if there is no simpler way of doing so. if the article has been followed up with more than once, we can add double tags? Mark, if you have a more practical solution I'd also appreciate your input.

for 2) I think @JosephMcArthur got everything that I need to filter.

[2018-07-27 15:17] markmacgillivray commented on #745
@natalianorori how did you work out the numbers? If I look at requests in July it looks like there are 6055, and 4885 with DOI, 3684 of which have a journal. So about 75% of those with DOI have journal names, it seems. Also I don't think we have been doing this since start of July - it was maybe just start of last week, so probably better to wait and have a look in a couple of weeks.

[2018-07-27 15:22] markmacgillivray commented on #992
I'm not sure what linking to pages where we get this info means - we get the info from an API, there are no pages. There may be pages on their site we can link colours to, and there may be pages where they list policies, but that is not actually our source - and if we are going to move to getting more policy data from sources other than SR, I'm not sure it makes sense to make more effort linking t

[2018-07-30 04:51] natalianorori commented on #1009
hey,
left you some feedback, I feel that you are on the right track. I share many of the frustrations that you want to address. There are also various issues that relate to the topic, you can find my point of view on stats here https://github.com/OAButton/discussion/issues/985

[2018-08-04 18:15] markmacgillivray commented on #1007
For the first one our system finds nothing by DOI search in eupmc, oadoi, share, core, but then does find it in BASE. However the URL that BASE says the item is at is different from the original URL but does redirect to the same place. BASE reports the source of the record in their system as being Repec.

For the second one our system finds the article by DOI search in oadoi, and the link they pro

[2018-08-04 18:27] markmacgillivray commented on #999
Our previous solution was coded as a list of followups, up to a max which was set at 5, for each of which would record the date the followup was sent and the email address it was sent to. Changing the email address that we could send to, e.g. trying a different author, would allow more followups. If the address we held was blacklisted (e.g the author told us not to contact them) we would not send

[2018-08-04 18:31] markmacgillivray commented on #1003
There appear to be 3 separate functions bound to the .chooseill buttons on that page. What is it you are actually trying to achieve there?

[2018-08-04 18:33] markmacgillivray commented on #1003
There is also mobilecheck code on that page although it does not appear to relate to anything on the page.

[2018-08-06 11:35] JosephMcArthur commented on #1003
In this case the issue is that the box which should appear on the right doesn't. On click the intro part of the page should move left to show instructions, the highlighting of the next action is removed, and then an a set up upsell actions appears too.

[2018-08-06 11:35] JosephMcArthur commented on #999
Something import / exportable from a spreadsheet is what we need here. However, we need to be able to track the date of each follow up.

[2018-08-06 11:35] JosephMcArthur commented on #984
Any news?

[2018-08-06 11:35] JosephMcArthur commented on #966
Max set please!

[2018-08-06 11:35] JosephMcArthur commented on #764
Awesome! thank you Mark. Closed.

[2018-08-06 11:35] #764 closed

[2018-08-06 11:36] JosephMcArthur commented on #1009
@markmacgillivray, have you managed to look at this?

[2018-08-06 11:36] JosephMcArthur commented on #745
Okay, @natalianorori can you check the figures at the start of September please.

[2018-08-06 11:40] JosephMcArthur commented on #992
By this I mean the URL of the human readable pages for each journal. More on the rest later.

[2018-08-06 13:09] JosephMcArthur commented on #994
All good!

[2018-08-07 18:59] markmacgillivray commented on #984
This has been run and shared with Joe

[2018-08-09 13:13] markmacgillivray commented on #999
OK how about a counter in one cell and a list of dates in another cell?

[2018-08-09 17:35] JosephMcArthur commented on #999
That could work. For Natalia, that would mean when doing follow ups making
a formula that said "take that cell, and add today's date", then copy and
pasting that for everything in that cell. That seems reasonable.

Mark, with those dates, would you be able to do the filtering discussed?
E.g list requests which haven't been followed up in for the past week?

On Thu, 9 Aug 2018 at 15:20 markmacgilli

[2018-08-15 02:51] natalianorori commented on #745
yes, I will check the figures in September. I already added a reminder for
it

On Mon, Aug 6, 2018 at 5:36 AM, Joseph McArthur <notifications@github.com>
wrote:

[2018-08-16 11:11] markmacgillivray commented on #648
On hold for now while @JosephMcArthur confirms other priorities

[2018-08-16 11:12] markmacgillivray commented on #851
@JosephMcArthur I am not too clear what the outcome of discussion with Imperial was - are we waiting until their academic year starts to hopefully get onto a machine there, or can they not do that at all? If not I will look for other ways, maybe find someone else I know in a library to let me have a go. Or will revert to the previous approach.

[2018-08-16 11:12] markmacgillivray commented on #984
@JosephMcArthur I think I am waiting for confirmation of whether or not you want the MS bing search turned on or not... is there anything else you're expecting me to do here?

[2018-08-16 11:18] markmacgillivray commented on #999
OK I have altered dev so that an export should include a followup.count and a followup.date field in the spreadsheet. If you put a number in followup.count - e.g if it is empty put a 1 in it - then it should automatically add a date for you in the followup.date column when you upload the sheet again. So you do not have to put anything in the followup.date column yourself. When you next do another

[2018-08-16 11:19] markmacgillivray commented on #1003
I have changed this on dev and looked for other pages with similar code, so I think it should do as you expected. It seems to make sense to me when I look at it, but as I am not exactly sure what the prior intent was, would be good if you can have a look to see if it is what you expect now.

[2018-08-16 11:19] markmacgillivray commented on #1006
I haven't looked at this yet

[2018-08-16 11:19] markmacgillivray commented on #996
Still to do, probably doing next

[2018-08-16 12:01] JosephMcArthur commented on #1003
Still seeing the same error on IE through browserstack.

Also, I've realised that the screenshot of the bug is broken... so here is another one: https://www.dropbox.com/s/2sphzr5f53plv2i/Screenshot%202018-08-16%2013.00.03.png?dl=0

Note, "clio" has been clicked, the page moved but the instructions don't show up as you'd see on FF or chrome.

[2018-08-16 12:05] JosephMcArthur commented on #984
Not right now. I've had 400 of the MS results checked, and will feedback
soon with any adjustments required to that.

The next step would be to get this integrated into the whole availability
process, and then check the results (where, the % OA we find is the success
metric, with accuracy in mind) of a sample before / after (thinking we'll
use Robin's data for this alongside something else probabl

[2018-08-16 12:14] JosephMcArthur commented on #851
Ah, yes, you're right I missed that they weren't actually clear there. Have
followed up.

On Thu, 16 Aug 2018 at 12:12 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype:

[2018-08-16 12:17] markmacgillivray commented on #984
I can add the MS lookup to the availability checks whenever we decide to do so, shouldn't be anything else needed. Unless you want to add certain controls to whether or not we accept the MS results, but that will depend on the analysis you are doing, so can't do that work until later anyway. So I will leave this one for now.

[2018-08-16 12:25] markmacgillivray commented on #999
I don't mind can just be a continuation of this

[2018-08-16 12:25] JosephMcArthur commented on #999
Great, continue this whenever you can :)

On Thu, 16 Aug 2018 at 13:25 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2018-08-16 12:35] markmacgillivray commented on #1003
Altered to js show/hides to avoid IE css inconsistencies

[2018-08-16 15:05] #1003 closed

[2018-08-16 21:32] markmacgillivray commented on #999
Hmm can you check you are logged in? Then go to the export page and select requests from the dropdown, and press export without adding any filters or dates, and see if it works this time? It is working for me at the moment on dev.

[2018-08-16 21:33] natalianorori commented on #999
Working! And the filter for follow ups works great too. Thanks for this!

On Thu, Aug 16, 2018 at 3:32 PM markmacgillivray <notifications@github.com>
wrote:

[2018-08-16 21:36] natalianorori commented on #999
Sorry, my email was split in two. the only thing I noticed is that import
is not recognising followup.count and followup.name as columns

On Thu, Aug 16, 2018 at 3:33 PM, natalia norori <natalianorori@gmail.com>
wrote:

[2018-08-16 21:37] markmacgillivray commented on #999
OK thanks will check that part

[2018-08-17 15:10] JosephMcArthur commented on #984
We'll also want to make sure that we don't run an availability check off url's like wikipedia. I presume we won't, as it's on the junk list anyway, but just want to be clear on that. I think we can reuse the same list we currently have: https://docs.google.com/spreadsheets/d/1j1eAnBN-5UoAPLFIFlQCXEnOmXG85RhwT1rKUkrPleI/edit#gid=0

[2018-08-18 09:29] JosephMcArthur commented on #984
Okay, I've looked through and there are some clear paths forward here to bring large gains. This is the priority at the moment Mark.

To cut a long story short, we should trust the Yes / No matches the system gives when deciding if a title matches. If it's a yes, let's run an availability on that.

However, a couple of things:
- [ ] As you said, the match is extremely brittle, and thown off often

[2018-08-19 19:58] natalianorori opened #1011 "opening requests in a new tab from the main request page"
when clicking in an individual request on openaccessbutton.org/request , have the system open a new tab. At the moment I right click on each individual request in order to have the main request page always open.

[2018-08-20 09:56] JosephMcArthur opened #1012 "show DOI link Zenodo gives on successful request page not Zenodo link"

[2018-08-20 09:57] JosephMcArthur opened #1013 "Enable drag & drop file upload on receiver page"
Should be anywhere on the page. Need to display some sort of confirmation (an icon change) on the UI.

[2018-08-20 09:57] JosephMcArthur opened #1014 "remove abstract / first name / second name from deposit page"

[2018-08-20 09:58] JosephMcArthur opened #1015 "Send all the meta-required into Zenodo for Deposit management"
To do this we need to:
- [x] Pass all paper metadata we get from the paper (e.g abstract, version info we're depositing, authors name, publishing dates etc)
- [x] Allow deposits to be made public from our system

@natalianorori you might want to expand the above list. This is also connected to #991

[2018-08-20 09:58] JosephMcArthur opened #1016 "Don't show Zenodo link on request until it's made public"
Currently the request page shows as successful and gives a link to a private zenodo link. Instead we should only show that link once a deposit has been made public.

[2018-08-20 09:59] JosephMcArthur opened #1017 "Take files from email and upload into OAB for a request"
@markmacgillivray so you've said that if we can have files with attachements we want uploaded into the system sent to a "system address" you could take that file and upload it to the relavent request.

Is that the case?

[2018-08-20 11:10] JosephMcArthur opened #1018 "Sometimes not returning results from unpaywall"
See this sheet for examples: https://docs.google.com/spreadsheets/d/1KTKQgpKoryZexO4sFC2VGaMc-EE8YYjEGQPTTF57JF8/edit#gid=2090177073

[2018-08-20 11:14] JosephMcArthur opened #1019 "Better support for author comms"
Currently, when Natalia communicates with authors who're unsure about what to share she has to open up a google doc with templates and spend time customizing them for the author.

Instead, it would make more sense if those templates were already filled with information so she didn't have to look it up etc etc

One solution would be to, on receiver pages, Natalia could have easy to copy email templ

[2018-08-20 11:17] JosephMcArthur opened #1020 "Email user & authors once a deposit is made public"
Some a deposit is confirmed as being okay automatically:
* send to requestors_request_success_article user
* send to author_thanks_article author

@natalianorori can you confirm this please?

[2018-08-20 13:28] markmacgillivray commented on #1017
Yes, we could. There are various ways. Simplest would be to use a gmail account with IFTTT or some other script that sends it on to our server.

Note though that this means either the authors are responding to a system address, or the authors still respond to Natalia (or some other admin) and then Natalia sends it on to the system address. So Natalia would still have to do something, unless you wa

[2018-08-20 13:30] markmacgillivray commented on #999
OK the import page on dev should accept these now, please try and see if it is what you expect

[2018-08-20 13:39] JosephMcArthur commented on #1017
I have a gmail filter set up that fairly accurate picks up emails with papers attached, and can be used to forward them to any email. In those threads is also always a request ID or author email address that could be used to match it up to a request :D

[2018-08-20 13:43] JosephMcArthur commented on #851
Logging a quick comment from chat which can help us ship _something_ here even if it's not everything.

[2018-08-23 01:59] natalianorori commented on #999
I got this message: Sorry please fix and try again. Your csv contains columns with unacceptable field names: ["user.firstname","user.lastname","plugin","from","embedded"]

[2018-08-23 02:01] natalianorori commented on #1020
@JosephMcArthur  yes. this is what we need

[2018-08-23 02:08] natalianorori commented on #1015
- [ ] - effectively connect the version of record's DOI to the version we get from authors so that it's discoverable.

Something to keep in mind: Zenodo links don't work until we log in to Zenodo's site and "publish" the uploaded paper. This is a good thing because that way we make sure that everything on OAB is legal.

[2018-08-23 02:18] natalianorori opened #1021 "Zenodo is not uploading attached files"
Articles that are deposited through the response page are not being attached to Zenodo. I am not sure if this is an issue on our end or on Zenodo's end. I am getting emails from the system saying that an article was uploaded through Zenodo, but when I go to Zenodo the file is not attached.  See example here:  https://zenodo.org/deposit/1400210

[2018-08-23 04:37] JosephMcArthur commented on #1015
This is covered in #1016

[2018-08-23 05:35] JosephMcArthur commented on #966
Did these make it up Mark, can we shut this?

[2018-08-28 10:40] markmacgillivray commented on #966
Yes done, and I checked the ten from that blog post are there again

[2018-08-28 10:40] #966 closed

[2018-08-28 10:41] markmacgillivray commented on #999
OK sorry about that they must have been missed from a previous change, please try again on dev.

[2018-08-28 10:44] markmacgillivray commented on #984
Bing title search has been added to availability check on dev. I have not altered the test script I ran, as above you said you wanted it on dev oasheet so you could run tests on it. Do you want the script altered too?

If a title is passed into the system and that is all we have for it, then bing is checked. If we get back a title that matches the a-z characters of the title we were provided, then

[2018-08-28 10:45] markmacgillivray commented on #1021
Working on this at the moment

[2018-08-28 10:46] markmacgillivray commented on #992
Working on this at the moment

[2018-08-28 12:30] markmacgillivray commented on #851
From reviewing with an Alma user today:

The Alma UI is a web-page app, it does not cause new page loads at all, between the different requests a user may be creating or movements between list/browse pages and new request pages. So the oabutton plugin is not being reset by a page load when an Alma user moves to a new request page, so although we send the latest version of the dom with a request we

[2018-08-29 20:52] JosephMcArthur commented on #984
I'm not totally clear what this means.

Finally...

&

mean that if I upload a bunch of titles to dev oasheet at the moment, I'll get results back that include the upgraded bing system. If I do it on live, I'll see the standard results with bing.

[2018-08-29 20:58] markmacgillivray commented on #984
In your previous comment (the one just before my last reply) you said:

"So, if you could get that sorted next week I'd appreciate it. Then, can we re-run this script on the same articles to check the new match system."

But two comments above that one you said:

"Okay, in that case can you add this on dev when you get a moment. Then, to
do this I'll use oasheets on dev and live when I need the da

[2018-08-29 21:02] JosephMcArthur commented on #984
Perfect. So, I'll do some testing of the results with the upgraded title searching on dev.

It would be good to rerun the script with the upgraded matching so we can look more deeply at how it's performing.

[2018-09-01 20:30] JosephMcArthur opened #1022 "Putting OA into Docline"
Docline is an ILL system used extensively by medical libraries in the US.

It's cloud-based, hosted on one domain, without page refreshes, enabling a workflow similar to Alma to be used. The challenge is that the information we need is stored in frames. It looks like OAB could be made to work on this in ~1 day, but there is no guarantee of this.

We have details to test this internally.

[2018-09-01 20:39] JosephMcArthur commented on #1022
Hmmm, Docline seems really close to end of life. Almost certainly makes sense to wait.

[2018-09-02 13:26] JosephMcArthur commented on #851
Can I ship this to FF, or do you need to do more for that?

[2018-09-02 13:27] JosephMcArthur commented on #999
@natalianorori can you take a peak at this asap?

[2018-09-02 13:39] markmacgillivray commented on #851
The latest release is from the dev branch, the ff package in that release will work on ff for alma too, just as the chrome one did, but still only for dev. Pushing either of these onto live requires updating some settings in the plugin code, making a new release that will work on live, and also updating the live API. We could do these things tomorrow, but won't have time to do today. So yes you ca

[2018-09-03 04:16] natalianorori commented on #999
works fine! thanks.

[2018-09-05 19:53] #921 closed

[2018-09-05 19:58] JosephMcArthur commented on #1000
- [ ] Understand how often this happens @natalianorori

[2018-09-09 08:53] nemobis commented on #922
Authors are getting takedown notices from Elsevier:
https://twitter.com/Brainclinics/status/1038013672235442177

It's a good chance to inform them about institutional repositories.

[2018-09-12 04:01] natalianorori opened #1023 "change export name for request spreasheet"
its called "convert" at the momen I suggest us to change it to "request export+date" or something similar

[2018-09-12 04:03] natalianorori opened #1024 "Is there a way to display suggested author names in the spreadsheet with request data we export ?"
I am currently evaluating moderating requests in bulk, and one advantage of the live system vs bulk is that suggested author names appear in the admin box. Is there a way to have suggested author names displayed in the spreadsheet that we download from openaccessbutton.org/export ?

[2018-09-12 06:56] JosephMcArthur commented on #1023
duplicate of #944 moving there

[2018-09-12 06:56] JosephMcArthur commented on #944
- @natalianorori

This is fine, would be good to add the above, but it doesn't really matter.

[2018-09-13 11:11] markmacgillivray opened #1025 "Create a new page on oab.org that advertises new service"
This page should be like embedoa, but should not provide the code, as that must be configured on the user account page

[2018-09-13 11:11] markmacgillivray opened #1026 "Create a new static site (and repo) for the new service"

[2018-09-13 11:13] markmacgillivray opened #1027 "Update oab.org account page so users of new service can configure it"
Will need some fields for them to set values in their embed code:

* tag (which we will tag their deposits with)
* their IR policy URL (and probably one for terms as well)

@JosephMcArthur to confirm the list of configurable fields

[2018-09-13 11:14] markmacgillivray opened #1028 "Trigger an email notification to account of user who installed the new service whenever their one is used to submit something"

[2018-09-13 11:15] markmacgillivray opened #1029 "For every UI interaction on the new service embed, send a ping"
To track where users fall off the process

[2018-09-13 11:16] markmacgillivray commented on #1029
This will include feedback number selections, and feedback text input

[2018-09-13 11:16] markmacgillivray opened #1030 "Update the /receive API endpoint to be a first-order endpoint, probably renamed"
receive is currently secondary to request, but should become directly usable.

[2018-09-13 11:17] markmacgillivray opened #1031 "/receive endpoint should have a way for external API users to monitor when something new is received that is relevant to them (e.g. by their tag)"

[2018-09-13 11:19] markmacgillivray opened #1032 "Create new page on oab.org where a user can approve a received item"
Should this be approvable by anyone, or only the user who has installed the new service?

Either way, should be restricted by login. So best to be on the oab.org site.

[2018-09-13 11:28] markmacgillivray opened #1033 "Build the new embed"
The new service should be an embed, and we should run it as an embed on a new domain of ours, for this new service.

It must:

* be downloadable from a user account page, with a value added to identify it to that user account
* read some configs from a user account endpoint, because the user has to be able to change those and we have to know when they have been changed
* be embeddable without styl

[2018-09-13 11:30] markmacgillivray opened #1034 "Update OAB API to better support new service"
This directly includes the change of /receive, but this issue is specifically about altering the current find-request-receive workflow at those other points, find and request. Our current strategy for those is no longer so relevant, and we are starting to back-propagate things like sherpa lookup, so should re-evaluate those endpoints and update them. Particularly, receives can no longer be directl

[2018-09-13 11:33] markmacgillivray opened #1035 "Update OAB API to respond in more granularity"
The API is currently purposefully designed to respond to steps in our older workflow, and only with the info needed on those steps - e.g. find, request. But now we may need to individually do things like:

* check if we have run a find before
* run a new find
* check the crossref metadata
* check the sherpa info
* check if we have open requests

And we probably need to store and provide more of th

[2018-09-13 11:35] markmacgillivray opened #1036 "Make new site capable of responding to google searches, even if we have not yet run that DOI"
So a google search should find our site and a page for that DOI, even if we have not run it yet

[2018-09-13 16:51] markmacgillivray commented on #1009
This was discussed already, I believe Joe to list how stat requirements fit with current /stats and /export pages, aiming to ensure the necessary data can be exported into spreadsheet, and key figures are on /stats in a way that Joe prefers, e.g. what figures to be graphed, and in what time ranges.

[2018-09-14 10:33] JosephMcArthur commented on #851
Plz make a live one :)

[2018-09-14 10:33] JosephMcArthur commented on #999
Why did you reopen this?

[2018-09-14 10:33] #999 closed

[2018-09-14 10:50] markmacgillivray commented on #992
All sherpa data also needs to be added to request exports.

Imports should not accept sherpa data fields as changes - if those fields are in the upload, it should be rejected.

In the conditions lists, if there is any number before any "month" term, extract that number as the embargo period. Take the biggest number we can find. Look for "year" as well.

[2018-09-14 10:50] markmacgillivray commented on #992
If we don't find embargo period strings in the conditions, assume the embargo period is zero.

[2018-09-14 10:51] markmacgillivray commented on #992
make the embargo length field exportable too, and add it to the request admin sherpa info display.

[2018-09-14 10:54] markmacgillivray commented on #992
@natalianorori if you can put in an article name to the dev site now, if that article is not available and not yet in the dev system then it should pull more data from sherpa when it creates a request for it. Then on the request page for that article, in the admin area, you should see that where we show sherpa color it will also try to show a link to the journal page on sherpa, any copyright links