[2017-04-05 19:43] JosephMcArthur opened #637 "Progress bars and more shepherding through requests"
Our UX designs featured this heavily, and I think it's something to follow up with in future iterations. This needs to be supported with copy, design, and some strategic thinking about what the stages are.

[2017-04-05 20:28] JosephMcArthur opened #638 "Do we need stories?"
Stories impose a significant burden on our team & our users. Currently, they need moderation and relatively careful crafting by users.

It's worth understanding two questions
1. Are stories written by users significantly more effective than nothing?
2. Are stories written by users significantly more effective than stories written by our team, and merely selected by users (probably at sign up) more

[2017-04-05 20:34] JosephMcArthur commented on #490
Other ideas here include:

# Trying to reach out to authors on twitter

For example, by searching the paper DOI / URL on twitter we may find it's possible to see author's who've tweeted it.

# Posting in pubmed / pubpeer / hypothesis / scienceopen comments or places

Essentially, are there places that we could post a request link where authors (or people who know them) would stumble upon them (or,

[2017-04-05 21:08] #496 closed

[2017-04-05 21:15] JosephMcArthur opened #639 "Explore using ILL to fulfil normal requests through OAB"
We'd want to _of course_ bias our requests and try to get them filled, but I'd be interested in exploring a way we can guarantee fulfilment for requests.

[2017-04-07 03:17] natalianorori opened #640 "How to handle half-finished requests"
The new ones, without a story and without an author's email that the system is automatically creating on "help" status

[2017-04-07 03:52] natalianorori opened #641 "new email notifying users when their requests are made available"

[2017-04-07 11:21] markmacgillivray commented on #489
What does "how to use our other inputs" mean? Which inputs?

[2017-04-07 11:23] JosephMcArthur commented on #489
DOI's / titles etc

On Fri, 7 Apr 2017 at 12:21 markmacgillivray <notifications@github.com>
wrote:

[2017-04-07 11:51] markmacgillivray commented on #592
None of the examples in the oadoi blog post are currently incorrect in BASE. They may have been at the time, but are fixed now. So it seems that such errors are intermittent, or possibly fixed by oadoi contacting them, and either way we now check oadoi instead of BASE by DOI, then only check BASE by title where no DOI can be found. I've added an extra catch to our title lookup that checks to see t

[2017-04-07 12:21] JosephMcArthur commented on #560
Note to self: A list of  https://www.base-search.net/about/en/about_sources_date.php?menu=2&submenu=1. Checked openaire, core & share but they didn't have lists 1/2 as helpful as this.

[2017-04-07 12:37] JosephMcArthur commented on #592
What are our options for catching login repo's before they get reported to us? Right now, we have a responsive solution (we find a login wall & we fix it). I've highlighted a base page which we can use to be proactive (manually) in another issue. That's helpful, but still pretty work intensive.

In terms of trying to avoid login walls & link to full text more automatically, proactively, can we imp

[2017-04-07 13:22] markmacgillivray commented on #333
This is ready, but needs testing. Probably have to do that via dev, and delete all old dev records and create some that won't accidentally email real people, then @natalianorori can try testing it (this and the admin submission should trigger the success email). There are some questions around why the email templates need to differ at all, we can discuss later.

[2017-04-07 13:27] markmacgillivray commented on #592
I think this is a pretty flaky approach. How will you know if you have found a link to a pdf or a docx? They don't necessarily end with those suffixes, or any suffix at all. And even if you find the link, you don't know it is accessible unless you try to access it. And even if you do access it, how do you know you're getting the full article and not just a paywall stub? Some services may properly

[2017-04-07 13:30] markmacgillivray commented on #592
We will need a specific review of the spreadsheets we are using to track the various kinds of sites we want to block, and how we want to block them - the use cases we envisaged have already come up short in terms of how people have actually used them. And then we will need to decide how to proceed with those ways of flagging inaccessible content, and also how to review them - e.g. if they are emba

[2017-04-07 13:38] JosephMcArthur opened #642 "avoid login walls & link to full text more automatically / proactively"
from #592

### Mark's response

[2017-04-07 13:39] JosephMcArthur commented on #592
Understood, thanks Mark. Sorry to keep hounding on this issue, I just want to make sure that we're exploring our options here.

Let's build up our manual approach for a while (I'm doing bits & pieces whenever I get some down time) and I think that'll really help us understand the problem here.

Otherwise, lets close this and move discussion to #642.

[2017-04-07 13:39] #592 closed

[2017-04-07 13:42] JosephMcArthur commented on #333
How would you suggest testing the automatic finding bit here? The rest seems straight forwards.

[2017-04-07 13:47] markmacgillivray commented on #333
If we clear out the dev site of all test requests and create a couple of new ones where we're sure natalia or someone in our team is the contact, then we can safely turn on the weekly check. Also, natalia can try uploading a file to a test request as admin, and have it automatically trigger the email to the "requestor" (which should of course also be natalia or someone on our team). As long as we

[2017-04-07 13:58] JosephMcArthur commented on #560
Also, @markmacgillivray often we link out to domains like "http://hdl.handle.net" rather than actual repo urls (like https://repository.si.edu/handle/10088/12131 ). Will that affect they system, and should I be storing this URL?

[2017-04-07 14:07] markmacgillivray commented on #560
We don't currently resolve handle URLs at all, so that means we do not know what is at the end of them. If we are to automatically check that what is at the end of them is open, then yes we will need information about the terminating address, not the handle address. And we will need to start resolving all handle URLs.

[2017-04-07 14:15] JosephMcArthur commented on #333
Okay, we may need to set up a few hours next week to do this then while we test.

How will we create a requests for things which are availiable, in order for them then to be found by the weekly check?

[2017-04-07 14:17] JosephMcArthur opened #643 "Next to error link, allow people to make requests if the link we give is wrong"

[2017-04-07 14:17] markmacgillivray commented on #333
Anything sent to /request?url=BLAH (or doi=... etc) should create a request without checking availability.

[2017-04-07 14:19] JosephMcArthur commented on #333
How then will the weekly script pick up a "newly available copy" to close
the request? Will you just make up a bunch?

On Fri, 7 Apr 2017 at 15:17 markmacgillivray <notifications@github.com>
wrote:

[2017-04-07 14:23] markmacgillivray commented on #333
If we create a request on dev for something that is actually available, when the script runs it will find that thing. So that will close the request. Isn't that the idea of what we want the weekly script to do?

[2017-04-07 14:27] JosephMcArthur commented on #333
I think I've just understood your comment about "/request?url=BLAH". Okay,
this makes sense then.

On Fri, 7 Apr 2017 at 15:23 markmacgillivray <notifications@github.com>
wrote:

[2017-04-07 15:15] natalianorori opened #644 "file upload error"
When trying to submit the link as both an author or an admin, the site gives an error. See the image below @markmacgillivray @JosephMcArthur
![screen shot 2017-04-07 at 9 10 03 am](https://cloud.githubusercontent.com/assets/20844934/24806465/f9bda90e-1b82-11e7-922c-345a1cb3bb03.png)

[2017-04-07 15:45] JosephMcArthur opened #645 "Fix blacklisting of email addresses"
as discussed on clal

[2017-04-07 15:50] JosephMcArthur opened #646 "Run email scrapper on old requests"
after we first delete ones that shouldn't exist

[2017-04-08 14:01] JosephMcArthur opened #647 "Tiny CSS change needed on /request"
I'm trying to adjust this statement, and give us a way to get data on why people aren't always starting their requests. Need the button fixed to ship

<img width="1091" alt="screenshot 2017-04-08 15 00 34" src="https://cloud.githubusercontent.com/assets/4953703/24829568/31f8d6ce-1c6c-11e7-9af3-740a037130be.png">

[2017-04-08 14:16] markmacgillivray commented on #647
Fixed on dev. It wasn't the css, it's where you put the sentence. The layout of things is controlled by the divs they are in, if you put something in a place where it is not expected it can push off the layout of related things. In this case, where the layout of the button is related to the input box, your sentence needs to go below the input-group containing div, then moving the marging spacing d

[2017-04-08 14:16] #647 closed

[2017-04-10 11:19] JosephMcArthur commented on #621
I suppose my preferred fix would be to start in the background whenever a request is made (even anonymously), i.e it would start once a use was looking at the box asking them to put in their email.
Then by the time a logged in user entered their story we'd either have or not have the email successfully. I'm sure there is a reason I'm not aware of for why we don't do that (and of course if you're l

[2017-04-10 11:30] JosephMcArthur opened #648 "Trying find author emails with mterk"
In an effort the scale up the amount of requests we can process we need to figure out way to scale the rate at which we can get author emails. https://www.mturk.com/mturk/welcome is an option for that.

Implementing this needs a few steps.

Piloting (this week):
- [x] @natalianorori to write up instructions for finding emails
- [x] @natalianorori to find 100 requests where we need author emails
-

[2017-04-10 11:37] markmacgillivray commented on #648
Note that you can ask more than one person to find an email address for the same request. This is how you would typically balance result quality - don't ask just one person, ask 50, and take the average best answer. This has an impact on cost though. I'll need to know how you want to do this before I can connect up to the mturk API. Also, if we're hooking up requests to mturk via API next week, th

[2017-04-10 11:39] JosephMcArthur commented on #291
don't really think we have time or capacity for this

[2017-04-10 11:39] #291 closed

[2017-04-10 11:39] JosephMcArthur commented on #499
don't really think we have time or capacity for this

[2017-04-10 11:39] #499 closed

[2017-04-10 11:40] JosephMcArthur commented on #115
I think we can start to prototype this with the error reports we're now getting. If these happen on pages with copy request we can just try clicking those & seeing what comes back. I'll do this.

[2017-04-10 11:41] markmacgillivray commented on #621
If it happens in the background unrelated to user views, then with the current setup no user can ever check the result. The background check would find an email, whether right or wrong, and could not rely on user interaction so would just have to save it. If there is an email saved, no user will be shown the email. So Natalia is likely to see more wrong emails. The way it currently works, it shows

[2017-04-10 11:42] JosephMcArthur commented on #648
Great point. Asking more than one person makes total sense here. Let's start by asking 2 for each and seeing if that's okay, but know that this is an obvious thing to do depending on results quality.

[2017-04-10 11:43] JosephMcArthur commented on #648
@markmacgillivray can you take a peak at the API this week perhaps and see if this is easy for us to do?

[2017-04-10 11:54] JosephMcArthur commented on #621
My feeling is that we currently couldn't really depend on a user checking that email. So, we should (where possible) just save it & leave to admins to check.

[2017-04-10 12:01] markmacgillivray commented on #621
OK, so do you want the delay put back in for when a user creates a new request? Once the request is created, if you want short delay we have to show the user what we know - that will not include the email address, and will mean the request status is still at help. The user will still get asked to provide an email address, even though the system is also looking for one. If the system finds one it w

[2017-04-10 12:07] JosephMcArthur opened #649 "Use https://hunter.io/ API to speed up finding author emails"
@natalianorori says this is one of the best ways for finding emails. If we'd like author names for the emails, and institutions are easy to pick up from papers, it seems reasonable to suggest we can put them into Hunter automatically & have a guess at the emails. This might be worth doing from user input since we can validate if the email is actually real before sending.

Some discussion is worthw

[2017-04-10 12:10] JosephMcArthur commented on #528
Hmmm. I'm struggling to understand the utility of this now..

[2017-04-10 12:10] #528 closed

[2017-04-10 12:13] JosephMcArthur commented on #490
This is obvious, but hasn't yet been mentioned.

## emailing co-authors

[2017-04-10 12:15] JosephMcArthur commented on #273
General stats can be found at /stats.

[2017-04-10 12:19] JosephMcArthur commented on #220
1. sounds like #515
2. I think we should be aiming for everything to be crazy fast.

[2017-04-10 12:21] JosephMcArthur commented on #119
the use case for this is super unclear, and I'm not sure this matches even closly with our ideas now. closing.

[2017-04-10 12:21] #119 closed

[2017-04-10 12:22] alexgiann commented on #490
Indeed! And in some fields like biology, or physics and math, this could be a long list! Authorship rules especially in physics are crazy.

[2017-04-10 12:24] JosephMcArthur commented on #354
only links to this I can now see are from our own site on archived pages. deleting!

[2017-04-10 12:24] #354 closed

[2017-04-10 12:24] JosephMcArthur commented on #235
V1 of this is up now, seems to be performing well. Closing this for now.

[2017-04-10 12:24] #235 closed

[2017-04-10 12:25] JosephMcArthur commented on #284
I'm so happy this is dead now. Simpler page released.

[2017-04-10 12:25] #284 closed

[2017-04-10 12:25] markmacgillivray commented on #490
Actually emailing co-authors was already considered. The chosen approach was to email the first author first, and then if they refused or could not provide, the request can be moved on to email someone else. This has never happened though.

[2017-04-10 12:25] JosephMcArthur commented on #281
have done this now

[2017-04-10 12:25] #281 closed

[2017-04-10 12:28] JosephMcArthur commented on #414
this is done

[2017-04-10 12:28] #414 closed

[2017-04-10 12:28] #573 closed

[2017-04-10 12:29] JosephMcArthur commented on #447
not done, but not required

[2017-04-10 12:29] #447 closed

[2017-04-10 12:30] JosephMcArthur commented on #436
with oadoi in this is much better, closing.

[2017-04-10 12:30] #436 closed

[2017-04-10 12:31] markmacgillivray commented on #649
I'm not sure I see how the hunter API could help programmatically. It may indeed be useful for Natalia using it manually, but I don't think that programmatically it would add much more than what we already have.

It appears to be a tool for extracting email addresses from a web page, and checking that those email addresses are verifiable - but, this we can already do.

It does not appear to have a

[2017-04-10 12:34] JosephMcArthur commented on #169
@dhimmel we've done a lot of work on improving the aesthetics of our link display (so we don't display them & almost always have actual titles) and working across multiple identifiers (including, of course DOI's).

For what I understand as the original issue here, I think we've improved beyond the point where it's helpful having this sit in our backlog. Let me know if you disagree!

[2017-04-10 12:34] #169 closed

[2017-04-10 12:41] JosephMcArthur commented on #636
@markmacgillivray natalia@openaccessbutton.org exists as an alias in our gmail accounts. What would needed to send this via mailgun?

[2017-04-10 12:44] markmacgillivray commented on #644
related/same #612

[2017-04-10 12:45] markmacgillivray commented on #636
I just change the config of the system to send to natalia instead of to requests.

[2017-04-10 12:46] markmacgillivray commented on #585
There won't be time to do this in current sprint

[2017-04-10 12:48] markmacgillivray commented on #593
There won't be time for this in the current sprint. Also it is not clear who would be asked for this, or when, given the points already raised about whether or not we are going to ask users for the author email address, or which author name it is that they are giving, and whether or not it has to relate to the email address being contacted, and what that means for when the email address changes.

[2017-04-10 12:50] markmacgillivray commented on #636
Obviously someone then has to monitor the natalia@openaccessbutton.org account inbox

[2017-04-10 12:51] JosephMcArthur commented on #490
@natalianorori can you try, on some requests that we've totally failed to find emails for, to post a comment about the request on:
* scienceopen
* pubmed commons
* pubpeer
* hypothesis comments

I'd say try it with about 30 requests where we absolutely can't find the email.

[2017-04-10 12:54] markmacgillivray commented on #585
Also before it is done, it has to be decided how you want the title to appear, and what happens to the current ID url, and how you think this will help seo, and how search engines will pick up all the individual pages to track them as search results, and whether or not the title URL is actually any better than just having the content in the page itself. Also, what happens if the title is wrong and

[2017-04-10 13:01] JosephMcArthur commented on #593
For now, I'd suggest showing this only to admins. This would be in the admin box we currently have. I think if admins manage this for now, and see it's effectiveness (and work out the complexities) then we can decide if we ask users for it.

[2017-04-10 13:13] JosephMcArthur commented on #468
Note: no failure email currently send for logins / requests to authors

[2017-04-10 13:15] JosephMcArthur commented on #425
- [ ] me to check this issue & put in clarifications for implementation next week

[2017-04-10 13:17] JosephMcArthur commented on #636
it's monitored

[2017-04-10 13:23] JosephMcArthur opened #650 "requirements gathering for v2 of requests moderation system"

[2017-04-10 13:29] JosephMcArthur commented on #598
once the first clean is done, @natalianorori can export a sheet of the newly cleaned requests & take another look at invalid requests. I can help. When we're done, it's easy enough for @markmacgillivray to re-run the script.

At that point, we'll close this.

[2017-04-10 13:32] JosephMcArthur commented on #498
@markmacgillivray I've just moved this to the current sprint. Seemed to be what you were discussing doing.

[2017-04-10 13:37] JosephMcArthur opened #651 "Imperial search mockup"
Note: I'm not sold on the utility of this yet. But have an issue open to track.

[2017-04-10 13:38] JosephMcArthur commented on #591
@markmacgillivray taking the search mock-up & moving here #651. Can we run this in the current milestone with when we do the systematic testing issue?

[2017-04-10 13:40] JosephMcArthur commented on #443
no one seems to actually want this, it's not always done, and the fewer links on pages that aren't actionable the better!

[2017-04-10 13:40] #443 closed

[2017-04-10 14:15] JosephMcArthur commented on #621
Nope.

None of these options sounds good to me. Perhaps just popping up

"We've found an email, does this look right?" under the email box (or somewhere easily visible) would be fine as a way to close this.

[2017-04-10 14:24] markmacgillivray commented on #621
OK, but when would we pop that up? The first user on the page has already requested the page content so will not see that it has been updated if we do find something. That is why it currently runs when the user views the page, so that it can update if one IS found.

It is also possible to have a loaded page track the backend for changes, but we don't currently do this.

Later users viewing the pag

[2017-04-10 14:27] markmacgillivray commented on #591
Can probably do next week, I think this week will be all tidying then next week can run new datasets

[2017-04-10 14:28] JosephMcArthur commented on #591
Bumped to 15 then. Can reassess then.

[2017-04-10 14:38] JosephMcArthur commented on #640
* so they're only shown to admins.
* I've just pushed changes to help us figure out why people aren't completing them. Hopefully we'll get emails with question / concerns ( + usertesting)
* most of them are anonymous

Issues here are that:
* natalia get's an email every time a half-baked request is made
* natalia can't see the requests she should be working on

My suggested fixes
- [ ] only sendin

[2017-04-10 14:40] JosephMcArthur commented on #635
For this sprint, we want to:
- [ ] keep it in mind while thinking about moderation
- [ ] write down some ideas

[2017-04-10 14:52] JosephMcArthur commented on #333
@natalianorori can you read & work with mark to test this during the week

[2017-04-10 15:16] JosephMcArthur commented on #638
Note to self, if we break down story rating into good / bad thats a lot less mental effort than our current scale. This can then also be streamlined into something else (like a button to send to authors)

[2017-04-10 20:17] natalianorori commented on #649
Hunter.io isn't as useful as it was in the past for me, and I haven't had the need to use it in weeks. this is because a) The system is doing a great job in finding the author's emails and b) I am using google scholar as my main tool in tracking down these emails.

What I usually do is that when the email is unavailable, I track the author or the paper in google scholar, if they have a verified ad

[2017-04-10 22:35] chealsye commented on #425
@JosephMcArthur Could we also do a basic archiving page on how it works? Many authors aren't aware of how archiving works and many librarians have asked what we tell authors and how we advise them, so being able to provide that could be useful. I'd be happy to write it up by the weekend if you want to have a page.

[2017-04-11 01:24] natalianorori commented on #612
on a side note, I just tested the page and I am able to deposit content, however, after depositing I cannot see the link I added. I tried on this request: https://openaccessbutton.org/response/43cRrjv3CLpr68xoi#

[2017-04-11 05:01] natalianorori opened #652 "Hiding user emails when we don't have their usernames"
When someone doesn't have a username, the system automatically gives you their email address instead of their username, and this information is filled in the templates when we contact authors. This means that authors get access to our users email addresses, and could have the option to contact them directly to send them the paper, which might be good for the users but not so good for us. This has

[2017-04-11 05:04] natalianorori commented on #638
yes, but these ratings would be subjective to an individual's personal
opinion, disregarding the type of scale being used. I think we could
discuss the definition of a "good story" as a team, and come up with a good
guide (as the one opencon reviewers get) :)

On Mon, Apr 10, 2017 at 11:16 AM, Joseph McArthur <notifications@github.com>
wrote:

[2017-04-11 05:09] natalianorori commented on #593
i think this should only be showed to admins at all times. It's really
important to not make mistakes when calling someone by their name (wrong
names, spelling), and I wouldn't' trust this task to our users.  I
currently record author's names on the spreadsheet, but having the option
to record this in the system would be super helpful and save me a lot of
time.

On Mon, Apr 10, 2017 at 9:01 AM, Jo

[2017-04-11 05:12] natalianorori commented on #528
This was useful with requests where we couldn't find author's emails, this
is not the case now. The system has evolved a lot since we created this,
emails are found way faster and I don't think this is as necessary as it
was before. (we almost always try to find the author's email and contact
them immediately).

On Mon, Apr 10, 2017 at 8:10 AM, Joseph McArthur <notifications@github.com>
wrote:

[2017-04-11 05:16] natalianorori commented on #490
I'm adding this to my weekly tasks. On a side note, just wanted to say that
I am currently emailing co authors whenever I can't find the main authors
email. sometimes co authors have verified emails on google scholar which
makes them easier to approach than the corresponding author. We've actually
received requested articles from co-authors in the past.

On Mon, Apr 10, 2017 at 8:51 AM, Joseph McA

[2017-04-11 09:02] JosephMcArthur commented on #652
This problem should now be much better as we've cleaned some of the user data to better show first names when we have them. However, this seems like a reasonable fix.

[2017-04-11 18:41] natalianorori commented on #612
Mark, another note on this: I tried uploading this paper as an author, from the normal site and it seemed to have worked: https://openaccessbutton.org/response/t63rpKZGmPKwMZ2GM I got the link from the email the system sends to the authors.

however, I tried uploading a paper as an author to this link and it did not work, I only got to see the article's title and a link to the request:
![screen sh

[2017-04-11 20:26] natalianorori commented on #641
@JosephMcArthur I wrote a first draft. @chealsye can you please check this for me whenever you have the time?  https://docs.google.com/document/d/1-yZ-KV7gtUTHG6s27hl5RjJdaHMZhaAUGWZqguy4NlA/edit

This is only for articles. We already have a good email for data requests

[2017-04-11 20:36] chealsye commented on #641
Just made some tiny suggestions!

[2017-04-11 20:38] chealsye commented on #652
Replacing with just user seems fine.

We could even experiment with having a standard name like Jane or John, but I think it would be good to find out how authors response to requests without specific names and just knowing they come from a user.

[2017-04-11 21:57] JosephMcArthur opened #653 "on ff (and maybe other non-chrome browsers) link "get the extension" to /account"
Getting a lot of bug reports about this, as this currently isn't happening. Please push to master asap.

cc @chealsye

[2017-04-11 22:11] natalianorori commented on #641
thank you! Joe, I think this is ready.

On Tue, Apr 11, 2017 at 4:36 PM, chealsye <notifications@github.com> wrote:

[2017-04-11 22:18] markmacgillivray commented on #653
I'd guess that's because at some point whatever I put in to route to different things depending on browser was removed and not added back to the new wording.

Also today someone I know tried to sign up to oabutton, and their user journey was concerning. Having heard about unpaywall, I recommended they look at oabutton as well. They went to our site, and seemingly tried to get the extension then on

[2017-04-11 22:24] natalianorori commented on #590
https://docs.google.com/document/d/1PmD5Oriec5ID86jdlRhmReqAujTWXdYZ3NKm20BDv_k/edit heres a first draft! needs some suggestions @chealsye @JosephMcArthur

[2017-04-11 22:30] JosephMcArthur commented on #653
Can you confirm when the immediate bug can be fixed?

Let's keep this issue focused on that and open up a new one for broader
plugin chat. Interesting ideas, but would take longer to implement than its
acceptable to leave this bug lying around.

On Tue, 11 Apr 2017, 23:18 markmacgillivray, <notifications@github.com>
wrote:

[2017-04-11 22:31] natalianorori commented on #635
I think email alerts could be useful for this, once we fix me only getting alerts for actual requests with a story. as Joe mentioned, we get peaks at mornings, so we could be checking this 4 times a day. I can add calendar reminders for this at mornings, lunch, afternoon and nighttime. However, this will only be possible once we fix all the bugs currently going on with the system (right now we hav

[2017-04-11 22:34] natalianorori commented on #635
In the future, when we implement automation, whenever we get a request we could just simply click a button and have everything sent out all at once. I am not worried about getting bad stories since they have only gotten better as time passes. an email alert, with a preview of the story and the ability to go to the request page and just click a button would be the be the fastest way to do this almo

[2017-04-11 22:43] markmacgillivray commented on #653
Fixed.

[2017-04-11 22:43] #653 closed

[2017-04-11 22:54] natalianorori commented on #579
https://docs.google.com/document/d/1CZTN4OYmljk9zGxd0UV77_oCK4uQ1r6WTcHSkUbpiG0/edit first draft here @chealsye @JosephMcArthur

[2017-04-11 23:06] natalianorori commented on #652
they still know the user's profession in our first contact email, ex: " one of our users, a librarian" so they get the sense they are getting a request from a real person. It would be interesting to do a test experiment with this in the future. I am aware @svmelton is currently doing user testings to see if author's really care about usernames and identities.

[2017-04-12 01:10] chealsye opened #654 "Replace the stereotypical old book background during the find process"
![screen shot 2017-04-03 at 12 12 00 pm](https://cloud.githubusercontent.com/assets/9299248/24936923/00759dc6-1efb-11e7-9bf7-28bde2ed71ba.png)

There is a stereotypical old book background on both the article and data not found pages. We can replace it with a solid color or another image, but the rare book look isn't consistent with articles or data.

[2017-04-12 03:15] natalianorori commented on #648
I've written instructions and selected the 100 requests on "help". I have specifically selected the journals we need the most help with. We have requests from Science, The Lancet, Nature, BMJ, Springer's Lecture Notes in Computer Science and Springer's Methods in Molecular Biology. https://docs.google.com/spreadsheets/d/1J3dIaNeOuCQ4T8dm7W_npTH_8P057BvVTTHlUVdhnL8/edit#gid=0

I also wrote some ins

[2017-04-12 08:08] JosephMcArthur opened #655 "New plugin UX concepts"
Discussion started by @markmacgillivray in #653

[2017-04-12 09:37] JosephMcArthur commented on #648
So, @natalianorori the next step here is for you to try and actually submit these requests to mterk. That's probably possible manually. You might want another way to accept responses than via the request itself (perhaps a simple form, with the request URL & the email address found)

[2017-04-12 09:49] JosephMcArthur commented on #641
I've pushed updated copy for the body of this onto dev (needs to be synced). Let me know what you think of my title suggestion.

[2017-04-12 09:51] JosephMcArthur commented on #635
Yes. So, we could bring back a more limited version of a "shifts" idea here & try to get folks signed up to manage new requests a morning, lunch & dinner. I think we could ask for volunteers for this.

[2017-04-12 09:53] JosephMcArthur commented on #652
Okay, let's trying having it:
- [ ] revert to "a user", when only an email address is available

[2017-04-12 09:54] JosephMcArthur commented on #490
Gotcha, didn't realise that, but I think it's positive!

[2017-04-12 09:55] JosephMcArthur commented on #635
@natalianorori how often are new requests we get invalid? or in some other way couldn't be sent immediately if we had an author email?

[2017-04-12 09:56] JosephMcArthur commented on #649
Okay, since this isn't seemingly useful lets not do it!

[2017-04-12 09:58] JosephMcArthur commented on #468
Current thoughts here. If we get an error from mailgun for a request we should revert it to "help". Somehow, we need to flag for an admin that the original email failed. For this #477 is needed.

[2017-04-12 09:59] JosephMcArthur commented on #468
@natalianorori for now checking the logs here: https://mailgun.com/app/logs/mg.openaccessbutton.org?skip=0&search=requests%40openaccessbutton.org&token=W3siYSI6IGZhbHNlLCAiYiI6ICIyMDE3LTA0LTEyVDA5OjU5OjI0LjM0OCswMDowMCJ9LCB7ImEiOiBmYWxzZSwgImIiOiAiMjAxNy0wNC0xMlQwOTo1OToyNC4zNDgrMDA6MDAifSwgWyJ4IiwgImYiXSwgInJlcXVlc3RzQG9wZW5hY2Nlc3NidXR0b24ub3JnIiwgW1siYWNjb3VudC5pZCIsICI1NzA2NjY0OTc4ZmExNjEwMmYw

[2017-04-12 10:02] JosephMcArthur commented on #643
@markmacgillivray in /index.html at line 211 on dev there is a empty href. If needs to have a URL put in that will ignore our availability check & make a request. Can you stick that in?

[2017-04-12 10:05] JosephMcArthur commented on #468
@markmacgillivray is it possible to get v.1 working for @natalianorori quickly?

[2017-04-12 10:37] JosephMcArthur commented on #587
Thanks for this @natalianorori. We certainly don't want you to have to track all this information manually asap. We can currently export all information kept about requests easily, it's just about making sure the right info is tracked. In which case, the question to ask is what the right way to track things is. This is deeply relevant to #477.

In general, you need:
1. tracked the date / time of e

[2017-04-12 15:51] markmacgillivray opened #656 "Author request template inaccurate unsubscribe"
The current author request email template includes a link at the bottom which is described as an "unsubscribe" link. However, authors never subscribed to our service, and there is no service from which they can unsubscribe. Offering them an unsubscribe link makes it sound like we have subscribed them to something, and therefore implies that we have done so without their consent.

[2017-04-12 15:54] JosephMcArthur commented on #656
Very good point, will fix in this sprint

On Wed, 12 Apr 2017 at 16:51 markmacgillivray <notifications@github.com>
wrote:

[2017-04-12 16:06] markmacgillivray commented on #612
@natalianorori @JosephMcArthur In the case of the last article you link to there, where it does not show you a way to upload anything, that is because the status of the request has already been changed to received even though no content has been provided for it. As status can only be changed by an admin, I assume one of us did it, or there is a security issue to explore. If you want to upload some

[2017-04-12 16:35] markmacgillivray commented on #643
Done

[2017-04-12 16:35] #643 closed

[2017-04-12 16:38] markmacgillivray commented on #644
It looks like a cluster issue (only the main machine can read locally uploaded files) so I have changed the upload routing to only be handled by the main machine. This had to be put in at the time when we were having trouble getting files onto OSF quick enough, but now we get round that by running a separate cron job later to check for uploads. This means though that even if the upload is just an

[2017-04-12 16:56] markmacgillivray commented on #652
Update the dev api to use the firstname if available, and add the secondname if available, and if neither are available to just say "User". Note as the templates currently stand, it does not appear that this would read correctly because it would say something like "one of our users, User, ". So let me know when you want this change moved to live and I will push the update.

[2017-04-12 17:04] markmacgillivray commented on #636
Done

[2017-04-12 17:04] #636 closed

[2017-04-12 17:05] markmacgillivray commented on #612
Relates to #498 for new content

[2017-04-12 17:15] JosephMcArthur commented on #636
@natalianorori note that this is a thing now!

[2017-04-12 19:34] JosephMcArthur commented on #641
done! @natalianorori sync the emails an it'll be there

[2017-04-12 19:34] #641 closed

[2017-04-12 19:59] markmacgillivray commented on #468
This is done on dev, will start emailing from live as soon as api is updated

[2017-04-12 19:59] #468 closed

[2017-04-12 20:16] JosephMcArthur commented on #649
Okay, different thought. I'd be interested to see how often the email address we get is different from what Hunter would guess if we just give it the author name & institution. If it's similar enough of the time this gives pretty large opportunities for simplification.

[2017-04-12 20:36] natalianorori commented on #612
Thanks for the clarification Mark, Its good to know that I wasn't aware
changes couldn't be made to requests on received status, still learning!

On Wed, Apr 12, 2017 at 1:05 PM, markmacgillivray <notifications@github.com>
wrote:

[2017-04-12 20:37] markmacgillivray commented on #612
No problem, just change the status back to "progress" or something, and you should be able to see the upload options again.

[2017-04-12 20:38] natalianorori commented on #649
we could test that once we are done with our tasks for this week, let's
say, with the requests we get next week if you want.

On Wed, Apr 12, 2017 at 4:16 PM, Joseph McArthur <notifications@github.com>
wrote:

[2017-04-12 21:18] JosephMcArthur commented on #649
lets just see what hunter.io would bring back on requests we've already sent + what we get back from m-terk

[2017-04-12 21:29] JosephMcArthur opened #657 "Plugin not syncing to accounts"
Seen multiple reports of this since the last site launched. @markmacgillivray can you see any issues here in logs, or what information is useful in troubleshooting here?

cc @svmelton.

[2017-04-12 22:26] markmacgillivray commented on #657
It won't be logged, we'd need to know what the user did - ask if they were logging in and getting the plugin for the first time, whether they installed first from chrome or had installed from the link on our page, whether or not refreshing the page solved the problem, and whether or not they are still having the problem.

Removing the need for the plugin to authenticate would be the best solution

[2017-04-12 22:51] markmacgillivray commented on #640
OK, API updated to only send a request notify to Natalia if it has a story (will go live when live API next updates), and added a link to filter requests by having story or not if admin.

[2017-04-12 22:52] markmacgillivray commented on #481
This is already technically in place - the responder page has admin submit buttons.

[2017-04-12 23:03] markmacgillivray commented on #576
Added a slider to the bottom of the left hand dark blue list of filter options - slide it to alter the date range of requests on display. Only shows up for admin users. Once there is time to think more about a decent admin display, or giving more of this functionality to all users, this slider can be more appropriately positioned and contextualised. Will push to live shortly (requires no API udpat

[2017-04-12 23:03] #576 closed

[2017-04-12 23:20] markmacgillivray commented on #645
When an email address is blacklisted by an admin on a request page, it is now also removed from any other request that has it as the email address, and the status of those requests will be changed to "help" (but this does not run on requests that have already progressed, because they must be functioning already with the address they have. Future created requests are also checked against the dnr li

[2017-04-13 08:03] JosephMcArthur commented on #576
@natalianorori shout if this doesn't work / isn't what you need.

[2017-04-13 08:04] JosephMcArthur commented on #645
Yup, this sounds like 100% what is needed. @natalianorori , shout if it isn't what you had in mind. Closing for now.

[2017-04-13 08:04] JosephMcArthur commented on #645
Actually! @markmacgillivray can we boot up a spreadsheet for this too?

[2017-04-13 08:05] JosephMcArthur commented on #640
perfect!

[2017-04-13 08:05] #640 closed

[2017-04-13 08:09] JosephMcArthur commented on #481
Okay, @natalianorori you can do this, but for things like researchgate / academia. If you find versions via an authors own page (on a personal site, or similar), I think they can be
submitted, despite not being perfect.

[2017-04-13 08:09] #481 closed

[2017-04-13 08:10] markmacgillivray commented on #645
I'd rather not have to keep two sources in sync

[2017-04-13 08:10] JosephMcArthur commented on #657
Okay, I'll ask folks this.

I agree, best fix is to not need this, but its one that might take a while!

[2017-04-13 08:11] JosephMcArthur commented on #645
Alright, not to worry

[2017-04-13 08:11] #645 closed

[2017-04-13 08:13] JosephMcArthur commented on #489
Did you put in how to make a request via the API?

[2017-04-13 08:33] JosephMcArthur commented on #333
Today...

@markmacgillivray, can you delete all requests on dev?
@natalianorori can you fill the dev site with requests for open access articles using the url:
dev.openaccessbutton.org/request?url=<<URL OF OA ARTICLE>>. You'll need to do this with your account & with your email natalianorori+1@gmail.com as the author email.

[2017-04-13 08:34] markmacgillivray commented on #489
Yes

[2017-04-13 08:36] JosephMcArthur commented on #652
Seems like there are few sensible ways to structure the same template to be good for when we both have info & don't have it is to move some words into the tags. Some options...

# 1

is nice when filled, but bad when not. Unless, {{fullname}} also added in the "," when it had info we were happy to put in. For profession, the equivalent would be adding in "who is a" when we have info.

Of course, f

[2017-04-13 08:42] JosephMcArthur commented on #425
I know this is a dense question, but, what sort of information is on a page like this & can I see an example from somewhere else?

[2017-04-13 09:59] JosephMcArthur commented on #652
Thanks, Mark, let's try and go simpler here.

To step back, I think we might be dealing with a non-issue. A scroll down /requests on live suggests there are almost no requests were we don't have the info required to fill this info. Certainly no new ones. Unless I'm missing something @natalianorori (for example, ones without stories). We may have had a transient issue when we changed the sign-up pr

[2017-04-13 10:01] JosephMcArthur commented on #656
done

[2017-04-13 10:01] #656 closed

[2017-04-13 10:04] JosephMcArthur commented on #579
@natalianorori currently we have a template for "invalid" requests which I believe is for book requests, and things like that.

What is this for exactly? Is this for when the link they've given us doesn't work? If so, being a bit clearer about that might be good.

[2017-04-13 10:07] JosephMcArthur commented on #635
Note, on a call she said not very :)

[2017-04-13 11:28] JosephMcArthur opened #658 "Searched for http://onlinelibrary.wiley.com/doi/10.1002/ncr.187/ but linked to a completely different article"
Searched for an OA version of this article: http://onlinelibrary.wiley.com/doi/10.1002/ncr.187/ - OA button website indicated that the article was available but linked to this ( https://dr.ntu.edu.sg/handle/10220/25927?show=full ), a completely different article (though on a similar theme, was not useful to me)

reported by: cyberoctopus@gmail.com

[2017-04-13 12:19] clghmlr opened #659 "(#737958793) Open Access Button Forwarding Confirmation - Receive Emails from leads@openaccessbutton.org"
From: forwarding-noreply@google.com<br>
Date: April 13, 2017 at 01:18PM<br><br>
redacted

[2017-04-13 12:25] #659 closed

[2017-04-13 12:33] clghmlr opened #660 "Fwd: here is a test issue made from github@openaccessbutton.org"
From: joe@openaccessbutton.org<br>
Date: April 13, 2017 at 01:31PM<br><br>

[2017-04-13 12:36] #660 closed

[2017-04-13 12:37] clghmlr opened #661 "Fwd: here is a test issue made from github@openaccessbutton.org"
From: joe@openaccessbutton.org<br>
Date: April 13, 2017 at 01:36PM<br><br>

[2017-04-13 12:37] #661 closed

[2017-04-13 12:47] clghmlr opened #662 "test from my r2rc email"
From: joe@righttoresearch.org<br>
Date: April 13, 2017 at 01:44PM<br><br>

[2017-04-13 12:50] JosephMcArthur opened #663 "Missed paywall to oa linkage"
Article: http://www.tandfonline.com/doi/abs/10.1080/00987913.2014.897174
OA button: unavailable
Full text: http://scholar.princeton.edu/steven.a.knowlton/publications/comparison-faculty-and-bibliometric-valuation-serials-subscriptions

Three things:
- [ ] add this via the request system
- [ ] understand how we missed it
- [ ] Let Maria Aghazarian know we fixed it

Assigning myself

[2017-04-13 14:04] markmacgillivray commented on #598
OK the script is ready. I have to push an update to the live API to run it. It can run first without actually changing anything, and that will report back numbers of how many it will change. So I can run it that way first and let you know how many records would be affected. I'll probably run this tonight. Then we can rerun easily in future as it will already be on live.

Just now I am going to del

[2017-04-13 14:05] markmacgillivray commented on #565
Script written, and outcome being tracked in #598

[2017-04-13 14:06] markmacgillivray commented on #646
Script written, and running being tracked on #598

[2017-04-13 14:06] #646 closed

[2017-04-13 14:15] markmacgillivray commented on #333
@JosephMcArthur @natalianorori all old requests have been removed.

[2017-04-13 15:51] markmacgillivray commented on #658
That Wiley URL just 404s

[2017-04-13 16:58] clghmlr opened #664 "Fwd: [Request received] the get extension button isn't responsive though ..."
From: joe@righttoresearch.org<br>
Date: April 13, 2017 at 05:48PM<br><br>

[2017-04-13 17:27] JosephMcArthur commented on #664
not sure where this came from??? Plz ignore.

[2017-04-13 17:27] #664 closed

[2017-04-14 04:19] natalianorori commented on #648
Yesterday we submitted 85 article URLS into Mterk, with instructions given and a a form to fill out I added 15 URLs more today. both documents are here: https://docs.google.com/forms/d/1a0uYDeOuSrYkOGkObpYZh07fYaAhw3lB89rCxaBNgys/edit
https://docs.google.com/document/d/1MbXxjQj-v3tspkQ4nnip9WFQsOsR9B0tixyR_66F5II/edit#
2 hits were created in murk per request, in order to confirm the data we receiv

[2017-04-14 04:39] natalianorori commented on #481
Noted!

[2017-04-14 04:40] natalianorori commented on #576
This works! And looks nice. Just tested it today.

[2017-04-14 05:40] natalianorori commented on #579
I accepted your suggestions in the document, thank you for pointing this
out. I changed the doc name to broken link email to avoid confusions

On Thu, Apr 13, 2017 at 6:04 AM, Joseph McArthur <notifications@github.com>
wrote:

[2017-04-14 05:42] natalianorori commented on #635
I like the shifts idea, we would have to wait until the system is simpler
to use so that we don't have to train them as much. We could  set email
alerts for these volunteers as well.

On Thu, Apr 13, 2017 at 6:07 AM, Joseph McArthur <notifications@github.com>
wrote:

[2017-04-14 05:49] natalianorori commented on #652
I agree with your suggestions Joe. I'd also like to point out that we
probably had this issue when we changed the sign up process, but I haven't
encountered this recently. However, It would still be good to have these
changes in case we have to manage requests in which the information is
missing (ex. old requests)

ps. sarcastic me would enjoy seeing how author's respond to "person who
funded your

[2017-04-14 05:58] natalianorori commented on #590
Chealsye already checked this and I accepted her suggestions, @JosephMcArthur I think this is ready to be up, if you approve

[2017-04-14 06:20] natalianorori commented on #644
I was able to upload that file today through the button's website. I published the article through zenodo here https://zenodo.org/record/546117#.WPBNMFPytME . Once published, the article's URL is not the same displayed in the website.  You get a 404 when you follow this link: https://zenodo.org/record/546117/files/2017%20-%20ajcn_MARLATT%20-%20RAVUSSIN_Persistence%20of%20weight%20loss%20and%20acqu

[2017-04-14 07:21] JosephMcArthur commented on #648
Natalia, this seems like excellent news. I have a few questions:
* How soon, on average, were hits completed (does amazon tell you)? At time of writing it seems we have about 50% done in about 36 hours.
* When you say validated, do you mean you've also looked for the author address to see if you can find the address, or a similar one?
* How often did someone give us an address which was *wrong*, a

[2017-04-14 07:30] JosephMcArthur commented on #635
I wonder if making a little call for volunteers on the OpenCon list is a a
good idea. Grab a few good people and get them ready for a few weeks from
now? I'd keep it small for now, and be strategic about filling key "shifts"
to keep complexity down. But, once we work out the kinks that's pretty easy
to scale.

Sound reasonable? From a technical side all we need for this is to add the
new moderatio

[2017-04-14 07:47] JosephMcArthur commented on #590
on dev soon, please check before sending

[2017-04-14 07:47] #590 closed

[2017-04-14 07:50] JosephMcArthur commented on #579
done! on dev soon. please test before sending

[2017-04-14 07:50] #579 closed

[2017-04-14 08:25] markmacgillivray commented on #644
Hi Natalia, no you're right, the Zenodo links are not working when published. They don't appear to work as I expected from the docs, so I have just pushed a change to the API and updated the site to display the link correctly. Check that request again now and you should see it display as you expect.

[2017-04-14 08:28] clghmlr opened #665 "(#304298959) Gmail Forwarding Confirmation - Receive Emails from joseph.mcarthur.10@gmail.com"
From: forwarding-noreply@google.com<br>
Date: April 14, 2017 at 09:23AM<br><br>
joseph.mcarthur.10@gmail.com has requested to automatically forward mail to your email address cloo+oabutton/discussion@cottagelabs.com. Confirmation code: 304298959 To allow joseph.mcarthur.10@gmail.com to automatically forward mail to your address, please click the link below to confirm the request: http://ift.tt/2os

[2017-04-14 08:35] #665 closed

[2017-04-14 09:39] markmacgillivray commented on #498
@JosephMcArthur before this gets done isn't there supposed to be some decision on what it is meant to say in relation to Sherpa Romeo lookup?

[2017-04-14 16:35] JosephMcArthur commented on #498
Hmmm, don't think so. I suggested shipping the changes in this issue &
while that's done I'd go and firm up what needs to happen with Sherpa
stuff. I didn't want to have they technical side of that slow this down.

On Fri, 14 Apr 2017 at 10:39 markmacgillivray <notifications@github.com>
wrote:

[2017-04-14 16:48] JosephMcArthur commented on #208
we are doing this, but as needed for specifics. This isn't really needed.

[2017-04-14 16:48] #208 closed

[2017-04-14 18:14] natalianorori commented on #644
Thanks for the fix Mark, I checked the link and it does match the one stored in zenodo

[2017-04-14 18:29] natalianorori commented on #648
1. How soon, on average, were hits completed (does amazon tell you)? At time of writing it seems we have about 50% done in about 36 hours.

as of right now, all of our hits have received at least 1 submission. about 90% of the hits are ready with 2 submissions. In average, it takes from 5 to 6 hours for them to be completed, with a few exceptions. Amazon tells you the time at which you submitted t

[2017-04-14 18:31] natalianorori commented on #649
ok, testing this tonight

[2017-04-14 18:33] natalianorori commented on #635
sounds reasonable, I think OpenCon is our best chance at getting people who would like to do this job. I'd keep it small. 5 volunteers maybe?

[2017-04-14 18:36] natalianorori commented on #587
exactly!
yes, 2 & 3 could be the same, a little box to keep notes would be great
this is all I need at the moment

[2017-04-14 23:15] chealsye commented on #523
@JosephMcArthur @markmacgillivray I'd like to revisit this and get things going.

[2017-04-15 05:25] natalianorori commented on #648
Updating things here
We are only missing 9 hits to complete all that we submitted to mturk. I have verified and updated the spreadsheet to show all the information we have gotten back from the other hits. So far, everything is looking good. I did my google search and tested these all of these emails.

[2017-04-15 05:47] natalianorori opened #666 "Is it possible for us to delete urls previously submitted by authors and upload our own?"
Just wondering because once a URL is submitted, there doesn't seem an option to delete them or to add another one as an admin, and if you try to add another URL, you get an error message if content was already submitted, disregarding the status of the request. This has happened to me with requests in progress and help status.  (This in case the author gives us a wrong URL)

@markmacgillivray @Jose

[2017-04-15 07:28] JosephMcArthur commented on #666
Natalia, am I right that this is a fairly urgent addition? You need it to close a request?

Can you list the change(s) needed here, and we'll see if @markmacgillivray or I can do manually from a data export or similar.

[2017-04-15 08:37] JosephMcArthur commented on #523
Throwing some thoughts down. So, I think this has to work from any search / filter combination. My thoughts would be (for now) that whenever someone filters, a box comes up under search asking if they'd like to be notified. They put in their email, boxes goes away & says thanks. I think we should send a confirmation email, as we're essentially setting up a subscription that might not send very oft

[2017-04-15 08:38] JosephMcArthur commented on #587
Okay, great. That completes what I wanted to do during this sprint. Bumping to @markmacgillivray & the next sprint to see if we can implement.

[2017-04-15 08:39] JosephMcArthur commented on #644
@natalianorori is this closable?

[2017-04-15 08:42] JosephMcArthur commented on #635
Okay, great. That's all I wanted to achieve this week. Bumping to the next sprint.

- [ ] can you draft a note to the OpenCon list for this? @chealsye
- [ ] can you figure out the types of onboarding, support these people might need. Basically, what you think we need to put in place to get these folks working well! @natalianorori

[2017-04-15 09:02] JosephMcArthur opened #667 "sign up email getting eaten by corporate spam filter"
Sometimes, seemingly whatever we do, people aren't able to get our sign up emails (eaten by spam filters they don't control, for example). They normally come to us for support.

This is a shame, but I can't think of many ways around it - except, perhaps, giving them a "code" that they can use as a password manually.

Mark, any better ideas?

[2017-04-15 17:17] JosephMcArthur commented on #621
That, afaik, is what I suggested by

[2017-04-15 17:28] JosephMcArthur commented on #650
FYI, I have done & prioritised this. Just not written up yet, but notes live here: https://docs.google.com/document/d/1C9wxvxZj0DDyjS4y5zOPx07JpPsWCU42WR7_YZoVBLw/edit

[2017-04-15 17:29] JosephMcArthur commented on #649
Any news? Would love to close this before starting the next sprint if possible!

[2017-04-15 17:35] markmacgillivray commented on #598
Running this script with the current blacklist would remove only 6 requests from live. It would run an email scrape on 3718 of them, and update 1763 with either an email and/or fixed professions. It would also update 2864 user records with fixed professions.

Does this sound right, or are you expecting more requests than that to be on the blacklist?

[2017-04-15 17:45] JosephMcArthur commented on #425
Okay, some slightly edited copy / approach. I'd suggest, for now, placing after "Let’s help more people get access to your research."

If Green: You can legally give us the accepted version of your article!
If Blue: You can legally give us the accepted version of your article!
If Yellow: You can legally give us the submitted version of your article!
If no result: SHERPA/RoMEO doesn't have this jou

[2017-04-15 17:47] markmacgillivray commented on #425
There's also the case where we don't know the journal of the article. Could just say nothing, but depends on what else you intend to say in other places.

[2017-04-15 17:49] JosephMcArthur commented on #598
Too few removed from live

[2017-04-15 17:57] markmacgillivray commented on #598
OK there was a blank line in the blacklist sheet causing it not to read the rest of them. I have edited it out, and added a check for blank lines. With the updated blacklist, it would now remove 335. Is that enough?

[2017-04-15 18:36] natalianorori commented on #649
here's a sheet i made from requests we got back from mterk: https://docs.google.com/spreadsheets/d/1S1rpuCMU88IWyUdlp9M2vW0sQJCsKfoZb4a5PX0BDtI/edit#gid=0

Out of 16 requests, hunter failed 6. This is a significant number, all of the email addresses were already verified by me. I would suggest not using this anymore, because in order to use it you still have to perform a google search for the inst

[2017-04-15 19:13] natalianorori commented on #644
Yea, lets close it

[2017-04-15 22:51] JosephMcArthur commented on #598
That's much more like it.

What defines when the email scraper runs? When we have no email, or an
invalid email (just thinking of all those emails with missing characters)?

On Sat, 15 Apr 2017, 18:57 markmacgillivray, <notifications@github.com>
wrote:

[2017-04-15 23:41] #644 closed

[2017-04-16 02:13] chealsye commented on #523
That sounds great!

Yep, searching @ in emails does not work. For example, searching @fsu.edu returns nothing, but searching fsu.edu does - the problem is that at times other urls will get pulled in like sfsu.edu in this example.

[2017-04-16 02:20] chealsye commented on #425
I suggest removing "local" from "local librarian."

Not archiving permitted is probably more like 5% of the time, if that. Technically almost always for older publications, but more so just not thought about and expressly addressed in agreements, but in those cases authors are unlikely to have copies anyways. There's also legal justification for pre-prints always unless a contract specifically sta

[2017-04-16 08:04] JosephMcArthur commented on #649
Alrighty, closing again :)

[2017-04-16 08:04] #649 closed

[2017-04-16 08:13] JosephMcArthur commented on #650
Okay, so, I'm going to close this & move to more specific issues. However, some broad objectives for V2 of the moderation system:

* No need to keep separate data outside the system
* Bulk moderation is feasible
* One button sending of requests
* No instructions required
* Automation of all steps after moderation.

Conceptually, I think V2 of the request system moderation should centre around work

[2017-04-16 08:13] #650 closed

[2017-04-16 08:32] JosephMcArthur opened #668 "Change story rating to pass / fail"
The aim here is to make this an action that's "bundled" with others, and has only the level of complexity needed to fulfil immediate needs of the system.

[2017-04-16 08:33] JosephMcArthur opened #669 "Add "Send to author" button for requests in moderate on /request"
Most of the information Natalia needs to moderate requests is displayed on /request. This means in many cases just hitting send there would be possible.

To make this a one button action a "Send to author button" would need to:
* Change status from moderate --> in progress
* Send /emails/requesters_request_inprogress.html to requestors
* Send email to author
  * If article, with story send: emails

[2017-04-16 08:40] JosephMcArthur commented on #477
The original comment here is extremely close to #587. Let's focus this issue less on data collection and more on visualisation.

In my user test with @natalianorori she highlighted several times (in different ways) that understanding the history of a request would be helpful. She wanted to understand what had happened at different points (rather than referring to her file) and sometimes just doubl

[2017-04-16 08:42] JosephMcArthur opened #670 "When an email is delivered (or, not delivered) to an author give a notification for admins"
@natalianorori said it would be extremely helpful to have something like the login email update systems for sending to authors.

[2017-04-16 08:45] JosephMcArthur opened #671 "Hide hold & close all requests there"
The hold status is currently not serving the intended purpose. Would suggest simplification here by:
- [x] hide the "hold" status on live - @markmacgillivray
- [x] remove all requests (only 5) from hold on live - @natalianorori

Until such a time as we think it's helpful!

[2017-04-16 08:45] JosephMcArthur opened #672 "On individual request pages make article URL open in a new tab"

[2017-04-16 09:00] JosephMcArthur opened #673 "Dealing with "other" actions when request is in moderation"
Most of the time a request can be sent to an author now, however, there are a few other things which happen from time to time. Dealing with these takes up a significant portion of the manual, and I'd like to simplify.

* Story too bad to send
  * Rate story as fail
  * Send emails/author_request_article_v2_nostory.html to author
  * send emails/requesters_request_inprogress.html to requestors
* Re

[2017-04-16 09:02] JosephMcArthur opened #674 "On "in-progress" requests show (and note in data) if an author has opened an email"

[2017-04-16 09:04] JosephMcArthur opened #675 "Show on a request if an author has emailed through zendesk. Block automatic actions"
Authors emailing via zendesk means something has gone wrong, and we may be in communication. We shouldn't let things happen automatically then.

[2017-04-16 09:05] JosephMcArthur opened #676 "Make the request system notifications Natalia get’s more descriptive"
For new request notifications display a few details about the request.

Passing to @natalianorori to tell us what would be most helpful.

[2017-04-16 09:09] JosephMcArthur opened #677 "Make moderation from mobiles easy"
This was a highly desired feature from Natalia. For sure, having one button sending would make this good. I'm keeping this here to make sure we pay attention to the mobile experience of this.

One potentially highly valuable addition here would be moderation over email. For example, when a new request comes in allowing us to reply to that notification with "send" (or, any string) to send it on. Th

[2017-04-16 09:10] JosephMcArthur commented on #677
Another thought, it would be even better if (for simple story edits) we could respond to the email with an edited story to change it.

[2017-04-16 09:13] JosephMcArthur commented on #490
@natalianorori & I discussed a number of additions to the moderation workflow that would make tracking down emails a bunch simpler. However, since Mturk work is going well #648 it makes sense to focus efforts on this problem there.

- [ ] once #648 closes reassess need for additions here. See https://docs.google.com/document/d/1C9wxvxZj0DDyjS4y5zOPx07JpPsWCU42WR7_YZoVBLw/edit# - @ me.

[2017-04-16 09:16] JosephMcArthur opened #678 "Autofill author names so admins don't need to get them"
We may need to display a dropdown of potential names, or similar.

[2017-04-16 09:43] clghmlr opened #679 "searching @ in emails does not work on /request"
From: joe@righttoresearch.org<br>
Date: April 16, 2017 at 10:36AM<br><br>
From Chealsye:&nbsp; For example, searching @fsu.edu returns nothing, but searching fsu.edu does - the problem is that at times other urls will get pulled in like sfsu.edu in this example.

[2017-04-16 09:47] JosephMcArthur opened #680 "When a request is "in-progress" have a follow up button."
Thought I had more time than I did to write this, but leaving a note to myself to expand.

[2017-04-16 09:47] JosephMcArthur opened #681 "Have “follow up with all” button"
Thought I had more time than I did to write this, but leaving a note to myself to expand.

which will send a nudge to all in-progress requests that never been followed up with & > are more than 2 days old. - complexity here is if an author has emailed us.

[2017-04-16 09:47] JosephMcArthur opened #682 "Automation of received requests"
Thought I had more time than I did to write this, but leaving a note to myself to expand.

* Email Natalia
* Send thank you emails to authors & users automatically

[2017-04-16 09:47] JosephMcArthur opened #683 "Automation of refused requests"
Thought I had more time than I did to write this, but leaving a note to myself to expand.

* Should send apology to use & change status immediately from an author's action automatically
* Email Natalia

[2017-04-16 09:49] JosephMcArthur opened #684 "Review copy on successful requests page & add false positive form"

[2017-04-16 13:09] chealsye commented on #425
Submitted and accepted versions are the friendly way of saying pre-print and post-print.

[2017-04-16 14:22] JosephMcArthur commented on #657
To update. I've asked users this & asked @svmelton to attempt to replicate issues.

[2017-04-16 15:04] JosephMcArthur commented on #591
- [ ] & Ernesto's

[2017-04-16 15:10] JosephMcArthur opened #685 "Add copy to catch false negatives on new request page"

[2017-04-17 01:25] svmelton commented on #657
Testing on Chrome 56.0.

I haven't been able to replicate any of these yet. I've tested on multiple publisher platforms (Elsevier, Emerald, etc.) I've tried signing out and signing back in, but I haven't been able to replicate it. I'm wondering if perhaps these users had an old version of the plugin installed?

[2017-04-17 13:32] JosephMcArthur commented on #648
We should definately take steps forwards here this week. I'd like to:
- [ ] do an integration to enable us to feed in requests on the fly.
- [ ] bulk import 1000 requests into the system

Probably worth discussing this on our sprint team meeting

[2017-04-17 13:33] JosephMcArthur commented on #612
Before the sprint team meeting could we get a quick update on progress here, and if anything is blocking us moving forwards?

[2017-04-17 13:33] JosephMcArthur commented on #301
Before the sprint team meeting could we get a quick update on progress here, and if anything is blocking us moving forwards?

[2017-04-17 13:33] JosephMcArthur commented on #498
Before the sprint team meeting could we get a quick update on progress here, and if anything is blocking us moving forwards?

[2017-04-17 13:35] JosephMcArthur commented on #333
Some other things to consider here before shipping to live:
- [ ] error handling (should we add a line to the email or deal with it on the page, probably the later.)- Me
- [ ] get we get a report of what will happen before notifications get sent to users? Like we did with the old request deletion? That's handy for sanity checking & making mistakes here will probably be costly to fix. - @markmacgil

[2017-04-17 14:05] svmelton opened #686 "System did not populate title on found request"
I received a notification that a requested paper was found (https://openaccessbutton.org/request/awcC37JNSmDQJGuWa) but in the email, the title was not present:
![screen shot 2017-04-17 at 10 02 56 am](https://cloud.githubusercontent.com/assets/7232545/25091070/170e4606-2355-11e7-8563-a8e5740717da.png)

[2017-04-17 14:24] JosephMcArthur commented on #686
On the move... aside from the specific issue here, can we consider a more
graceful failure status here such as "an article"

On Mon, 17 Apr 2017, 15:05 Sarah Melton, <notifications@github.com> wrote:

[2017-04-17 17:06] JosephMcArthur commented on #440
I'd like to consider putting this on the front-burner as a next step in the request system. We'll need to, more than anything soon, work to push lots of requests through the system & generate headline grabbing results.

Allowing this to be done, first by admins, then by all, will be extremely helpful. I think having a spreadsheet upload for the find system would also be extremely helpful.

What yo

[2017-04-17 17:06] JosephMcArthur commented on #440
Currently got this in 16, but not at all surprised if it gets pushed to 17.

[2017-04-17 17:41] natalianorori commented on #666
So right now, a request has to be on received status in order for me to see the content submitted by the author. If the request is in progress, the content is hidden but I am still unable to submit content on my own as an admin.

I currently do not have the option to manually delete submitted links on the received page, and I cannot submit links on my own once the author has submitted their url/fi

[2017-04-17 17:55] natalianorori opened #687 "How to display academia.edu, researchgate, readcube and similar received requests"
We received a url from an author of a request @svmelton created yesterday today. However, the URL is from academia.edu https://openaccessbutton.org/request/Bn29HLfEeyFhfYfKP. This is a similar case from the request we received a few days ago on readcube. On these requests the user gets access to read articles, but it's not through URLs the open access community would approve. We have previously di

[2017-04-17 17:58] natalianorori commented on #686
Hi Sarah,

Thanks for pointing this out, you actually are the only user with whom I
have used this template. I think the best solution might be replacing with
" an article" since this is a template we don't use a lot (it's the one for
when we find urls on our own)

On Mon, Apr 17, 2017 at 8:24 AM, Joseph McArthur <notifications@github.com>
wrote:

[2017-04-17 18:04] natalianorori commented on #670
I am now getting notifications from mailgun when delivery fails, which is super useful

[2017-04-17 18:06] natalianorori commented on #671
I moved them from hold to help (they still needed help) and marked them on my spreadsheet

[2017-04-18 07:43] JosephMcArthur commented on #686
@natalianorori why wasn't there a title in the first place?

[2017-04-18 07:47] JosephMcArthur commented on #686
Ah, wrong tag. Fixed.

[2017-04-18 12:52] markmacgillivray commented on #598
When we have no email. I could change it to validate every email even if we do have one, and run if the email does not validate.

[2017-04-18 12:55] markmacgillivray commented on #672
What URL? Currently the displayed title is a URL that opens in a new tab, and the URL to the received item, when available, is a URL that opens in a new tab too.

[2017-04-18 12:57] JosephMcArthur commented on #598
That would be much better I think!

[2017-04-18 12:57] markmacgillivray commented on #301
Progress is still the same. I think this one could potentially be closed, what is outstanding is running a particular job, which we have an issue for as batch job submissions.

[2017-04-18 13:05] markmacgillivray commented on #477
This won't fit in the current milestone, so unassigning until it can be fit into a later one.

[2017-04-18 13:06] JosephMcArthur commented on #301
there are a few things left in this issue:
# 1

# 2

- [ ] running https://www.authorea.com/users/8850/articles/125400/master/folder/Raw%20table%20data

# 3

Not sure what this means

[2017-04-18 13:06] markmacgillivray commented on #686
If this is an issue with the wrong tag being used, what do I need to use to fix?

[2017-04-18 13:12] #301 closed

[2017-04-18 13:12] JosephMcArthur commented on #440
- [ ]running https://www.authorea.com/users/8850/articles/125400/master/folder/Raw%20table%20data

[2017-04-18 13:22] JosephMcArthur opened #688 "Add a check / box in the request moderation process to try and get the journal title"
This will power the sherpa / romeo look up. We have the journal title in around 50% of cases currently.

Assigning myself to think about how to handle this.

[2017-04-18 13:29] markmacgillivray commented on #612
#498 is taking forward the functionality of the receiver page and not moving it into the request page.

[2017-04-18 13:29] #612 closed

[2017-04-18 13:29] JosephMcArthur commented on #498
Me: think about improving the UI here, not wholesale moving the page over the the request template

[2017-04-18 13:45] JosephMcArthur commented on #648
* put into mterk immediately after failing to scrap & getting a story
* don't run on old reqeusts
* accept emails returned when 2 are the same, otherwise, display in admin section

[2017-04-18 13:47] markmacgillivray commented on #648
Have the functionality on dev this week to create an mturk job based on receiving a request with story and no email. Then can be tested by admins.

[2017-04-18 13:49] markmacgillivray commented on #669
Can do on the actual request page for now, and add to the /request page later

[2017-04-18 13:53] JosephMcArthur commented on #686
On call decided this isn't needed.

[2017-04-18 13:53] #686 closed

[2017-04-18 13:54] JosephMcArthur commented on #672
@natalianorori is already opens in a new tab :)

[2017-04-18 13:54] #672 closed

[2017-04-20 15:51] svmelton opened #689 "Items in BASE and OpenAire not appearing as Open"
From ZenDesk:

Dear Open Access Button-Team,

I am the head librarian at the Institute for Advanced Studies in Vienna and am also the manager of our repository IRIHS (https://irihs.ihs.ac.at/) (IRIHS (https://irihs.ihs.ac.at/) (http://irihs.ihs.ac.at/cgi/oai2 ). Our repository is indexed in BASE and also in OpenAIRE, but our open access items do not show up with Open Access Button, which uses, as

[2017-04-20 20:59] svmelton opened #690 "Nonopen versions of articles"
User reported that they searched for http://onlinelibrary.wiley.com/doi/10.1002/wdev.195/full and were taken to http://hdl.handle.net/11858/00-001M-0000-0029-D716-C. There is no fulltext version of the article on that page.

[2017-04-20 21:08] svmelton commented on #690
User reported that they searched for http://vc.bridgew.edu/socialwork_fac/53, which links to a nonopen version of the article. Likely nothing that we can do, but flagging it.

[2017-04-20 21:11] svmelton commented on #690
User reported that they searched for http://www.tandfonline.com/doi/pdf/10.1080/1941126X.2017.1270096 and were taken to http://dx.doi.org/10.1080/1941126X.2017.1270096, which is not open.

[2017-04-24 13:52] JosephMcArthur commented on #687
@natalianorori was the readcube paper on a readcube domain?

I'd suggest that we have a trigger in the URL box that initially rejects these links & displays help text. However, since 50% of the time these are legal (if not, preserved) copies i'm hesitant to outright reject 100% of the time. @markmacgillivray could this be done similarly to the email validation?

The text could read:

[2017-04-24 13:56] JosephMcArthur commented on #652
Update: removing assignment, I'm not going to document until we implement

[2017-04-24 14:20] chealsye commented on #687
Can I tweak that text, @JosephMcArthur?

[2017-04-24 14:31] JosephMcArthur commented on #687
Yup!
On Mon, 24 Apr 2017 at 15:20 chealsye <notifications@github.com> wrote:

[2017-04-24 14:41] JosephMcArthur commented on #684
@markmacgillivray can you add:

`<small>Not what you expected? [Report an issue](https://dev.openaccessbutton.org/feedback#wrong)</small>
`
Under "This X is now available"?

Can you have the "wrong" from autofill with the request ID in the 1st box, and the URL we're sending people two in the second box?

[2017-04-24 14:43] JosephMcArthur commented on #657
So, reports of these seem to have slowed, and I haven't heard back from users affected.

[2017-04-24 14:45] JosephMcArthur commented on #683
Returning to this! So, this one is relatively straightforwards.

If an author chooses refuse:
*  change status from in progress --> refused
* Send emails/requesters_request_refused.html to all requestors

bumping to a later sprint for implementation

[2017-04-24 14:47] JosephMcArthur commented on #680
Okay, so, when things are in progress the only real action is to follow up.

48 hours after sending we should show a button to users allowing them to follow up. This:
* sends emails/author_followup_one.txt

to an author.

- [ ] first we need to write emails/author_followup_one.txt. Assigning @chealsye first as we have already done drafts of this elsewhere.

[2017-04-24 14:55] JosephMcArthur commented on #681
This button, present on /request would follow up with any request that's "in-progress" for more than 48 hours.

[2017-04-24 15:27] JosephMcArthur commented on #682
Okay, first step, when a request becomes received:
- [ ] email Natalia

The next step is harder. We want to get to a point where we also
- [ ] send thanks message to author (not yet written)
- [ ] send emails/requestors_request_success_article.html to requestors.

For the latter, we need to close #687 and be much more "bug free" on that page, including inclusion of Sherpa Romeo etc.

[2017-04-25 13:11] jibe-b opened #691 "Statistics available on the UI: do they reflect the database?"
Dear team,

On the UI, one can see the number of requests that succeed or failed.

Are these figures the actual ones achieved through the OAButton?
I would like to know, and maybe ask for a line on the UI to indicate if not,
before advertising the results (for example on twitter).

Best regards

[2017-04-25 13:54] jibe-b commented on #635
Hi there,

I am currently thinking about proposing to help for moderation, and one of the main conditions I would state is to be moderator during a limited period. I suggest you look for volonteers and give them the possiblity to take action on moderation for something like a week and try to have them do the same week the month after.

[2017-04-25 14:02] jibe-b commented on #691
This has connections with #598.

And you may already have a roadmap of data analytics. I'd be glad if you can tell me a bit about it, and if not, tell me and I'll add suggestions in issues. And maybe realise them.

[2017-04-25 14:12] jibe-b opened #692 "[suggestion] Make use of Web Annotations (W3 recomm.)"
This is a long term suggestion that I consider improving further later on. Please give me any feedback and remind me of it if I forget to improve it in the next weeks.

[Web Annotations](https://www.w3.org/blog/news/archives/6156) is a W3C recommendation enabling to make highlights and annotations of text.

hypothes.is/ is an implementation which enables to add annotations and keep record of them,

[2017-04-25 14:16] jibe-b opened #693 "Data request is a "test" on an uninteresting URI"
Link: https://openaccessbutton.org/request/t6AvCLSdQ6F5mGWXF

[2017-04-25 18:58] svmelton opened #694 "Subject librarian user test"
When asked about the site layout, a subject librarian responded:

- Doesn’t know what requests means, but it becomes clearer when you follow it. Wouldn’t necessarily follow it if she weren’t coming to it from an evaluative perspective.

- Requests: can tell it’s requests for specific works. It’s not clear how to submit a request and it takes awhile to get oriented to understand the purpose. What’s

[2017-04-25 19:00] svmelton opened #695 "Literature PhD user test"
Offered these thoughts on the elements of the email:

- Name isn’t that important, would be interested in occupation but not as important.

- Is definitely interested in reasons for using the work and their purposes of using it-->notes that this is more for curiosity and wouldn’t be a deciding factor in whether or not she would share the research.

- Wouldn’t care about knowing email address but w

[2017-04-25 20:08] JosephMcArthur opened #696 "Set up Allana on the team page"

[2017-04-26 12:33] markmacgillivray commented on #668
Change at what number? 4 or 5 pass, everything else fail?

[2017-04-26 12:41] #671 closed

[2017-04-26 12:43] markmacgillivray commented on #652
Implemented on dev, {{fullname}} never uses email and reverts to "a user" and {{profession}} reverts to "person" if not known or Other.

[2017-04-26 12:44] markmacgillivray commented on #666
Now possible on dev, feel free to try it.

[2017-04-26 12:45] markmacgillivray commented on #498
Language as above appears to be what is in use, moved around slightly to fit new two column layout as requested. Header simplified more like other site pages. I think that is all the requirements listed in this issue.

[2017-04-26 12:46] markmacgillivray commented on #598
Updated and rerunning tonight.

[2017-04-26 12:55] markmacgillivray commented on #668
Done with 4 or 5 being pass, anything else being fail, where no rating yet present then stays as no rating present. The request update that runs tonight will convert all old requests to this, unless notified otherwise before it runs.

[2017-04-26 13:03] JosephMcArthur commented on #668
Lets have 3 be a pass too.

On Wed, 26 Apr 2017 at 13:55 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-04-26 13:05] #684 closed

[2017-04-26 13:26] markmacgillivray commented on #668
ok

[2017-04-26 13:37] JosephMcArthur commented on #693
@natalianorori is there any reason why this wasn't marked as a test during moderation?

[2017-04-26 13:38] JosephMcArthur commented on #693
Thanks for flagging @jibe-b!

[2017-04-26 13:44] JosephMcArthur commented on #635
Hey @jibe-b, that makes sense. We're discussing the idea of shifts above, is this similar to what you're thinking?

[2017-04-26 13:45] JosephMcArthur commented on #691
Yes, those results should be fairly correct. Although, they come with the * that we're still running the system at quite a small scale, and only on new requests. We're working now to beef up our moderation processes to handle the backlog.

[2017-04-26 13:46] JosephMcArthur commented on #692
Thanks for the idea! I've thought about things like this a fair bit before & it's certainly something on the roadmap in the long term.

[2017-04-26 13:49] JosephMcArthur commented on #652
documented. closing.

[2017-04-26 13:49] #652 closed

[2017-04-26 13:50] JosephMcArthur commented on #598
Great! Can you confirm here when completed?

[2017-04-26 13:52] jibe-b commented on #635
@JosephMcArthur Can you describe the "shifts" concept again please? I don't get the idea.

[2017-04-26 13:52] #691 closed

[2017-04-26 13:53] JosephMcArthur commented on #635
Just essentially signing up for specific timeslots. Much like you've
suggested. E.g "I'll take 5pm every monday"

On Wed, 26 Apr 2017 at 14:52 jibe-b <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthu

[2017-04-26 14:04] JosephMcArthur commented on #498
Thanks @markmacgillivray. I'm getting a build failure so leaving notes here for us.

- [ ] Fix that the below doesn't look like a starting line for both sections.

- [ ] allow an author to refuse a request from this page. Can you tell me the URL I need to link on the page that will allow that?
- [ ] make each section a bit more eye catching

[2017-04-26 14:10] jibe-b commented on #635
Then yes, that's what I want!

[2017-04-26 14:12] JosephMcArthur commented on #694
My thoughts from this. Would be interested in others from @OAButton/team

Try:
- [ ] A [User Type] Wants to Read Your Research.
- [ ] "When requesting access to your article, [First Name] shared with us this story: [block quote]"

In user emails. @markmacgillivray can we use merge tags in subject lines?

Fix:
- [ ] make sure requests are hyperlinking in emails
- [ ] can we think of something clean

[2017-04-26 14:13] JosephMcArthur commented on #635
\o/

[2017-04-26 14:20] markmacgillivray commented on #673
Actions in place on dev in admin area of each request page now. Please test on dev to be sure it is sending the expected emails. Make sure to use emails of team members for authors, supporters, and creators, or else you'll email real people.

[2017-04-26 14:21] markmacgillivray commented on #669
Done on the request pages now via an action dropdown in the admin area. Can later add a button to each item on /request, but not done that yet - probably need to reassign this in a later sprint to get it done.

[2017-04-26 14:23] markmacgillivray commented on #498
I'm done working on it now and have committed so you should be able to change and build. You may have to redo changes as I may have overwritten some of them on the response page.

[2017-04-26 14:23] JosephMcArthur commented on #673
Assigning @natalianorori for that!

[2017-04-26 14:24] JosephMcArthur commented on #669
@natalianorori can you test please?

[2017-04-26 21:00] JosephMcArthur opened #697 "Unusual error on giving us a title"
The text was:

They got "something is wrong"

Is this a special character thing?

[2017-04-27 00:23] natalianorori commented on #635
I think that the best way to set people up with Onboarding is by a) modifying our manual so that it's simpler to understand and/or b) setting up calls or a vid tutorial in which we screenshare as we moderate some requests on different status. A frequently asked questions doc would also help, one with basic concepts the system uses (we already sort of have that in our old request system manual). @J

[2017-04-27 13:53] natalianorori commented on #676
Having the title and/or story displayed would be the most helpful addition at the moment

[2017-04-27 14:39] JosephMcArthur opened #698 "If DOI / URL given by find system is same as submitted, do..."
goes to:

http://hdl.handle.net/10.1007/s40273-015-0294-7

This is given by base, where the record is showing from Repec. This is frustrating...

However, if in #619 we're discussing resolving handle-like links, we'd be able to tell if the was the same as the URL inputted. In this case, that would stop the error here. I've seen a few other cases where this would also stop false positives (where th

[2017-04-28 02:50] natalianorori commented on #673
Hi Mark,
Joe and I both tested this on dev today. The system is sending out the right emails, but they are displayed as templates. I am attaching screenshots of the emails I got:
![screen shot 2017-04-27 at 20 47 16](https://cloud.githubusercontent.com/assets/20844934/25512459/1dfb1ac8-2b8b-11e7-8556-02b556d2eb2b.png)
![screen shot 2017-04-27 at 20 48 57](https://cloud.githubusercontent.com/assets

[2017-04-28 02:51] natalianorori commented on #669
Tested and added a comment on #673

[2017-04-28 02:57] natalianorori commented on #687
@JosephMcArthur yes, it was on a readcube domain.

We also need to let our users know that sometimes the archived versions authors give us are not going to be 100% exact as the paywalled article. We got a comment on Zendesk that the paper we gave one of our users was not the same as the one they got from Scihub, which belonged to taylor and francis. The paper had the same information, but it was t

[2017-04-28 03:14] chealsye commented on #687
The comment on zenhub was from Astrid (National Library of the
Netherlands), Joe. She knows why they are different. There can be a
sentence added to the receipt email, sure, but 99.9% of the time the
supplied version won't be the same as the paywalled article.

On Thu, Apr 27, 2017 at 10:57 PM, Natalia Norori <notifications@github.com>
wrote:

[2017-04-28 06:22] JosephMcArthur commented on #666
@natalianorori over to you to test this!

[2017-04-28 06:23] JosephMcArthur commented on #598
@markmacgillivray did this run okay? We're running a batch job via m-terk today & it would be good if the data was clean!

[2017-04-28 06:24] JosephMcArthur commented on #695
Did they say what is important?

[2017-04-28 14:00] svmelton commented on #695
The occupation was important insofar as it might be related to the story, but not important in and of itself. So, for example, it would be interesting to know that a student wanted to use the article in a research paper, but it's the use of the article that's interesting, not necessarily the student status.

The overall sense was that the personal details (name, email address, occupation) were fin

[2017-04-29 09:33] JosephMcArthur commented on #673
@natalianorori are other things here working as you'd expect?

[2017-04-29 09:34] #668 closed

[2017-04-29 09:36] JosephMcArthur commented on #593
Note, this is currently being requested on the m-turk form

[2017-04-29 09:38] JosephMcArthur commented on #687
Not sure if the receipt email is the right place for this, perhaps just the request page (when successful) could show this. @chealsye any suggestions on what this should say, or what you think is important to communicate?

[2017-04-29 09:42] JosephMcArthur commented on #670
Okay, this doesn't seem like the most pressing issue now we've fixed via mailgun, closing.

[2017-04-29 09:42] #670 closed

[2017-04-29 09:43] JosephMcArthur commented on #489
everything done here, closing

[2017-04-29 09:43] #489 closed

[2017-04-29 09:44] JosephMcArthur commented on #678
Currently trying to get these via mturk. Probably best to pair this with the email we get, rather than through automated means. Closing.

[2017-04-29 09:44] #678 closed

[2017-04-29 09:45] JosephMcArthur commented on #222
I think this is basically closed by #468 & we haven't seen a massive issue with this.

[2017-04-29 09:45] #222 closed

[2017-04-29 09:49] JosephMcArthur commented on #523
Having to push this back again. Need to prioritise getting the system to scale for now.

[2017-04-29 09:52] JosephMcArthur commented on #683
This should be ready to implement

[2017-04-29 09:56] JosephMcArthur commented on #440
Assigning myself to look at
- [ ] review: http://lantern.test.cottagelabs.com/ as a basis for our system
- [ ] think about areas of complexity in implementing this
- [ ] consider asking @BaronBlackmore for ground up design of this

[2017-04-29 10:00] JosephMcArthur commented on #621
Pushing back, if we're going to spend time on front end stuff this isn't what I'd chose!

[2017-04-29 10:10] JosephMcArthur commented on #677
So, the point at which an email would need to be sent here is on "moderate". This becomes obvious once you think that help requests would now be sent to m-terk to have details completed. Since there is little user action required, and a notification "at the time" would waste effort currently being exerted there.

Assigning to @markmacgillivray. Keen to know:
- [ ] how tricky you think this is to d

[2017-04-29 10:22] markmacgillivray commented on #687
The URL box can refuse a URL from specific domains, just tell me which domains to refuse and what help text to display.

[2017-04-29 10:22] markmacgillivray commented on #687
Once URLs and text are confirmed, please reassign to me.

[2017-04-29 10:28] markmacgillivray commented on #677
Triggering changes to the system via email response is an entirely new functionality that we do not have at all yet. It is possible, but will have to be the focus of at least one sprint worth of work just on its own. There is no way this can be done in the same sprint as stats, and additionally I am not sure if this is higher priority than updating our extensions/bookmarklets, or bulk upload.

I e

[2017-04-29 10:29] markmacgillivray commented on #587
See comment on #677

[2017-04-29 10:36] JosephMcArthur commented on #677
Extremely helpful. Bumping to backlog for now.

[2017-04-29 10:37] JosephMcArthur commented on #687
Refuse:
* researchgate.com
* academia.edu
* readcube.com

& the help text

We'll test from there & make copy changes.

[2017-04-29 10:40] JosephMcArthur commented on #677
OR. We could flip back to the other option here. Reviewing the mobile interface for moderation & just making relatively simple UI changes to make this simple. If we already have notification, simply having a link in the email to the request & a nice-ish interface would make a lot of progress here.

Let's explore this:
- [ ] review mobile interface - me
- [ ] suggest simple changes, if they exist.

[2017-04-29 22:07] chealsye commented on #694
Hmm. I understand it feeling spammy, but it is also good marketing. I think "A student wants to read your research" still can work great - but what about for the many requests we'll have that won't have a user type?

[2017-04-29 22:08] chealsye commented on #680
@JosephMcArthur What exactly is this doing? 48 hours after we email the author, we are allow the user to follow up? Can you explain more?

[2017-04-29 22:14] chealsye commented on #687
Suggested copy changes:

[2017-04-30 05:02] natalianorori commented on #676
It would also be helpful to get alerts when we receive content! I am currently just getting alerts when requests are made and when mailgun emails fails to send

[2017-04-30 05:03] natalianorori commented on #673
Yes, emails get sent, the only issue I am seeing is the template

[2017-04-30 05:11] natalianorori commented on #666
Just tried it, I was able to replace a URL with a new one by adding it. However, if possible, it would also be good to have the option to delete the URL submitted by the article, in case it's not open access, or is a broken link.

[2017-04-30 07:18] JosephMcArthur commented on #676
A link to the request would probably also be good

[2017-04-30 07:18] JosephMcArthur commented on #676
oh, and @natalianorori that is covered in #682

[2017-04-30 07:20] JosephMcArthur commented on #694
In this case, it would be "a person"

[2017-04-30 07:21] JosephMcArthur commented on #680
This is just for admins, it's just trying to make the follow-up process easier.

[2017-04-30 08:04] JosephMcArthur commented on #380
plugin won't be fixed at this point, it'll be redone. closing.

[2017-04-30 08:04] #380 closed

[2017-04-30 11:57] chealsye commented on #694
That sounds equally spammy though.

On Apr 30, 2017 3:20 AM, "Joseph McArthur" <notifications@github.com> wrote:

[2017-04-30 12:33] chealsye commented on #680
All right - to confirm you want a draft of a follow up email to the author that will be able to be sent 48 hours or later from any admin (Natalia, other OAB, volunteers)?

I think 48 hours is a very small window and following up with someone in that time span (especially if the initial request came on a weekend, a busy week they had, their own national holidays, but basically really anything to do

[2017-04-30 17:02] natalianorori commented on #676
I am already getting a link to the request :)

[2017-04-30 17:44] natalianorori commented on #680
I agree with Chealsye on this one. 48 hours might be to soon to start following up, and some authors might get annoyed by this and consider it spammy (specially those who might get a lot of requests from us in the future)

[2017-05-01 09:58] markmacgillivray commented on #593
Which author name do you expect to be able to edit? And is it supposed to be related to email addresses? We do already scrape author names from metadata sometimes where available, but we don't do anything with that information. Being able to see and edit all the author names is more complex, and being able to relate the author names to the email address being contacted is also potentially hard - s

[2017-05-01 10:02] JosephMcArthur commented on #593
That was my intention with this issue, yes.

I think @natalianorori uses first names in emails, she can confirm. My suggestion would be to just have a box that is used for anything though. What actually goes in that box can just be edited, at least for now.

[2017-05-01 10:24] markmacgillivray commented on #666
If you were to delete a provided URL, does that mean you also want to change the request back from successful? If so, that is more complex.

If we leave the request as successful but with no URL, it will seem weird to users who can't find anything useful, so that does not make sense to leave it that way.

But if we change the status back to "progress", how would it be progressed? How will we track

[2017-05-01 10:47] markmacgillivray commented on #687
How does a statement here referring the author to sherpa/romeo fit with #425 where the receiver page is intended to have sherpa/romeo information about what can be shared for the article in question?

Also, should we refer authors to upload a copy to zenodo? If we do that on our receiver page, will it be clear that we still need them to come back to the receiver page and give us the URL to the cop

[2017-05-01 11:06] JosephMcArthur commented on #687
#425 <https://github.com/OAButton/discussion/issues/425> where the receiver
page is intended to have sherpa/romeo information about what can be shared
for the article in question?

It doesn't really. They're independent.

on our receiver page, will it be clear that we still need them to come back
to the receiver page and give us the URL to the copy they uploaded there?

I think Chealsye is suggest

[2017-05-01 13:14] markmacgillivray commented on #591
Me to run the imperial one, it is the same as the old one, just a check.

@JosephMcArthur to make sure Ernestos one is same format as imperial one, and send to me.

[2017-05-01 13:24] markmacgillivray commented on #648
Natalia and Joe have gone through using mturk manually, for 4 iterations, and checked the results they get back.

They are able to feed in and get back results via a spreadsheet.

Our API to hook up to their API, and allow admins to push a request to mturk and pick the results back up.

As soon as we have a request with a story but no email, auto-send to mturk. Then natalia can test by creating a

[2017-05-01 13:33] markmacgillivray commented on #682
Do notification to Natalia this sprint, and continue rest in next sprint

[2017-05-01 13:39] markmacgillivray commented on #587
Store the mailgun receives and opens.

[2017-05-01 15:02] JosephMcArthur commented on #591
cleaned Ernesto's!

[2017-05-01 15:30] JosephMcArthur commented on #591
There is another Imperial dataset it turns out, the original (ones in the repo) &
- [ ] imperial dataset + scihub results

would be great to run this too!

[2017-05-01 15:49] JosephMcArthur commented on #192
Discussed bringing back the bunch of stats stuff we had previous to the last launch as something we could do this week. @markmacgillivray

[2017-05-01 17:12] JosephMcArthur commented on #680
I've seen data in the past that suggests an email like this is more than likely never going to be responded to after 24 hours in someone's inbox. I can't track down that data for the life of me now. Given users will want papers as close to instantly as possible, waiting longer seems painful.

Have asked @svmelton to ask our next batch of authors about this in user testing. @chealsye I'd hold off w

[2017-05-01 18:03] JosephMcArthur commented on #333
I'd close it, but automatically add a tag in comments as we'll allow in #587.

[2017-05-01 18:27] JosephMcArthur commented on #635
I've added a few comments to the doc.

Some quick notes from discussions here:
* the moderation doc shouldn't need a major overhaul. It needs to be clear from the site.
* these folks should handle _only_ moderation for now. The rest is too complex.
* we can use Gitter for chat I hope.
* We can use the current request system calendar to coordinate roughly when people work (need this to avoid edit c

[2017-05-01 19:32] JosephMcArthur opened #699 "Share missing obvious wins??"
* paywall: http://psycnet.apa.org/journals/xhp/42/10/1676/
* preprint: https://osf.io/preprints/psyarxiv/52gcp/

Searching share with "listeners lengthen phrase boundaries in self paced music" brings up the article in question. Would be useful to know where we're going wrong.

[2017-05-01 19:40] JosephMcArthur commented on #699
I think it's an unclear linkage on the share record, there doesn't appear to be a link to full text: https://share.osf.io/preprint/4601D-3AD-AD0

[2017-05-01 21:05] JosephMcArthur commented on #699
More here (from the reporter)

# 1
Congruency effects on recognition memory: a context effect.
paywallhttps://www.ncbi.nlm.nih.gov/pubmed/25774995
https://osf.io/yx5er/

# 2

Selective attention and recognition: effects of congruency on episode learning

https://www.ncbi.nlm.nih.gov/pubmed/24859839
https://osf.io/a8d59/

Interesting to note that the latter is ALSO archived in our institutional rep

[2017-05-03 10:15] JosephMcArthur commented on #696
@allanaaa I just realised you might be able to do this yourself! Want to give it a go?

[2017-05-03 10:20] JosephMcArthur commented on #685
@markmacgillivray can we move the not what you were expecting phrase:
* inside the green box
* to the centre

Note: as it is currently - https://www.dropbox.com/s/hngdvdofq7pkcwl/Screenshot%202017-05-03%2011.18.26.png?dl=0

[2017-05-03 10:23] JosephMcArthur commented on #440
* Reviewed Lantern, but it's a bit early days to really be instructive.
* asked Sam to do design for this next week
* Asked team to think about:
  * how we can usefully limit the use here
  * how to name this
  * how to market this (folks agree this should be a different website).

[2017-05-03 10:53] JosephMcArthur opened #700 "Using Google Scholar / Google in a way that doesn't break TOS"
We know that using GS in any way that provides nice UX breaks their TOS, and so we haven't done this.

However, we also know that many articles are discoverable there and ILL folks often check it. Many others chose to ignore the TOS, but I think with the requests system we can do it nicely in a way that doesn't.

We could, for example, as soon as a request comes in:
* make it easy for us / others

[2017-05-03 10:57] JosephMcArthur opened #701 "Querying the BL API"
On a call yesterday I heard that some ILL systems query the BL on-demand API to see if something can be made available via ILL almost immediately (and I presume at what cost). At the same time, I heard them say the leading provider of ILL systems doesn't actually provide this, but they consider it a "critical feature".

This makes sense, and hitting this API is probably pretty easy for us. The imp

[2017-05-03 14:06] markmacgillivray commented on #593
Author name box added on dev, you can put whatever you would like to put in it. You can see it in the admin area and use it in email templates as the {{name}} variable.

[2017-05-03 14:23] allanaaa commented on #696
I'm certainly willing to try!
Should I add myself and push the "And you?" to a new row?

On Wed, May 3, 2017 at 6:15 AM, Joseph McArthur <notifications@github.com>
wrote:

[2017-05-03 14:27] markmacgillivray commented on #687
Added the three URLs, and added the warning which will show if the author tries to submit one of those URLs. But does not stop the author submitting the second time they try.

[2017-05-03 14:35] JosephMcArthur commented on #696
yup!

On Wed, 3 May 2017 at 15:23 allanaaa <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-05-03 15:29] markmacgillivray commented on #673
OK, try again now

[2017-05-03 16:23] JosephMcArthur commented on #657
Heard back from one. The issue disappeared when they tried again. Perhaps:
- [ ] have error message suggest they try refreshing

[2017-05-03 17:47] allanaaa commented on #696
Okay - I don't have push access, so if someone can upload this to the
static folder, I can do the rest:

On Wed, May 3, 2017 at 10:35 AM, Joseph McArthur <notifications@github.com>
wrote:

[2017-05-03 17:49] allanaaa commented on #696
Ah, you can't attach files by email, I see.

![allanacircle_200x200](https://cloud.githubusercontent.com/assets/28012148/25673996/5a1cc940-3007-11e7-84b9-a3f71fd03398.png)

[2017-05-03 23:19] markmacgillivray commented on #425
The four statements above have been added below the relevant "let's make your research..." sentence. They can be easily edited in the page content if you desire. I removed the "local" as stated.

To test this, first there needs to be a test request on dev that we do actually get the journal title for. Try creating a few, and you can see if a journal title is present by looking for the "journal" fi

[2017-05-04 10:16] JosephMcArthur commented on #440
Okay, spend an hour thinking this through this morning (nice way to start the day).

# use cases

Went back a few steps to use cases, the ones that seem clearest to me are:
* An ILL team wants to know how much they can save using OAB
* A researcher wants to see how much of a field, or anything, is available
* A researcher wants to make their references, or something like a systematic review, more

[2017-05-04 10:19] markmacgillivray commented on #440
It's not actually clear to me why this should be a separate site.

[2017-05-04 10:25] JosephMcArthur commented on #440
My thoughts:
* keep ui / ux simple
* audience feels different to the main tool
* give us a chance to get people excited about a new thing
* the name "open access button" would be a poor descriptor for this

[2017-05-04 10:44] JosephMcArthur commented on #696
done! Over to you.

On Wed, 3 May 2017 at 18:49 allanaaa <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-05-04 10:57] JosephMcArthur commented on #688
We can ask users for this for sure

[2017-05-04 10:58] JosephMcArthur commented on #425
@markmacgillivray what goes after

I just tried it with a request ID & got just a blank page. e.g

Also, I didn't see the phrase coming up for _any_ requests on the dev site.

[2017-05-04 12:15] markmacgillivray commented on #598
Hi, I have fixed the issue where mailgun was blocking, but then realised that the changes to the rating count means that the UI won't work with the data once I run the update. So - is there anything just now on dev that can't be pushed to live at any point? As soon as the data fix completes, I'll have to update the live site to match the current dev site. Is that OK?

[2017-05-04 12:20] markmacgillivray commented on #425
Sorry I missed out the "r" in service:

https://dev.api.cottagelabs.com/service/oab/request/K76Dhg267PdHHRq2m

And yes, only two of the current requests on dev have a journal, and neither of those two get found in Sherpa. However, you can see that it shows the "unknown" message when it does not find anything in sherpa, for example in this response page:

http://dev.openaccessbutton.org/response/A8

[2017-05-04 12:34] JosephMcArthur commented on #598
Any chance you can make those changes direct to master? I'd need to do some not-trivial changes / testing to the received page

[2017-05-04 12:37] markmacgillivray commented on #598
Probably could. Just don't push anything to master without checking with me first, just to make sure we can fix any conflicts that may arise from that. It'll only be a concern until we next push dev to master, so not too big a deal.

[2017-05-04 12:40] JosephMcArthur commented on #598
I almost never push direct to master, so shouldn't be an issue :) I don't
think we're far away from being able to release onto master from dev
either, it's just a bit tight for me to do today & I don't want to block
this.

On Thu, 4 May 2017 at 13:38 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>

[2017-05-04 13:10] markmacgillivray commented on #591
Imperial scihub set is running, and Ernesto set will run next. Are there any others?

[2017-05-04 14:23] JosephMcArthur commented on #591
The original Imperial one too?

[2017-05-04 14:32] markmacgillivray commented on #591
The spiral one?

[2017-05-04 14:33] JosephMcArthur commented on #591
Yup. The original one they sent us.

On Thu, 4 May 2017 at 15:32 markmacgillivray <notifications@github.com>
wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-05-04 14:49] chealsye commented on #685
What copy is needed here?

[2017-05-04 15:11] JosephMcArthur commented on #685
See the screenshot for what's there at the moment. Let me know if you'd change that at all.

[2017-05-04 15:11] JosephMcArthur commented on #685
See the screenshot for what's there at the moment. Let me know if you'd change that at all.

[2017-05-04 16:49] chealsye commented on #685
Fine with this copy and I agree moving it into the green box and centered. This would catch false positives, not false negatives. We need to add it for when we are saying there isn't an OA copy (but the user might know there is).

[2017-05-04 19:26] JosephMcArthur commented on #657
Okay, we have this bug on the team now, thanks @allanaaa.

I watched it happen:
* she already had oab chrome installed
* she logged in via the link (while being logged out)
* she landed on /account, then got the error
* she then got logged out, but immediately re-logged in. Then she got the error again.
Often when she comes back to the site (about a day or so) she's logged out.
* refreshing on /ac

[2017-05-04 19:29] JosephMcArthur commented on #657
- [ ] In error message tell them to use the website

[2017-05-04 19:43] allanaaa opened #702 "On single-request display, "profession" showing up twice - once transformed to lowercase"
See pull request here: https://github.com/OAButton/website/pull/43
When a request is viewed, e.g. https://openaccessbutton.org/request/biP7PXuyKHTYxY42f
The requesting user's profession is being pulled twice, e.g. "Librarian librarian"

Code in lines 330-334 of the item.html page seem to be the culprit:
In line 330, ', [Profession]' is being generated;
In line 334, '[profession]' is being added on

[2017-05-05 01:16] natalianorori commented on #673
tested it and it is working!

[2017-05-05 01:20] natalianorori commented on #666
If we fail to verify that the article/data the author submitted is not what our users requested, I think that the best approach to take would be to change the status back to moderate or progress, contact the author and let them know the link they gave us is not what our users requested.

I think that we shouldn't leave the request as successful if we are not displaying correct URLS.

Again, this i

[2017-05-05 01:24] natalianorori commented on #635
I agree with everything you said above.
how many volunteers are we currently talking about? During the last OpenCon community call about 3 people were really interested in helping us with this, so we can follow up with them and still send out the email to the list.

[2017-05-05 01:25] natalianorori commented on #593
tested it! This is great. Thank you.

[2017-05-05 01:26] natalianorori commented on #490
a note on this, Joe and I tested hunter.io and saw that the results we got from their site were only about 40% accurate, so it's probably not a good alternative to finding emails anymore.

[2017-05-05 05:33] JosephMcArthur commented on #666
+1 to everything you said.

On Fri, 5 May 2017, 02:20 Natalia Norori, <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-05-05 05:54] JosephMcArthur commented on #593
How did you test @natalianorori? We need to make sure this turns up in emails correctly, but can't do that on our current templates (as they'd go straight to live without the box to fill it).

I've set up a template called author_request_article_v2_fortagtesting for testing in actual emails. .

[2017-05-05 05:57] JosephMcArthur commented on #593
Have documented this

[2017-05-05 06:02] JosephMcArthur commented on #685
Oh, oh. I've got this issue backwards, thanks for flagging this Chealyse.

Yes. We need to consider how to put a something on request pages to catch when we miss an open copy (as the form we usually use wouldn't be available).

I think a sentence under "contact us" is all we could do, but it doesn't seem great.

[2017-05-05 06:16] JosephMcArthur commented on #648
An addition to the spec here. We shouldn't run m-turk when requests are on dev.

[2017-05-05 08:11] JosephMcArthur commented on #490
Thanks @natalia. Anything hold this up: https://github.com/OAButton/discussion/issues/490#issuecomment-292940081

[2017-05-05 08:36] JosephMcArthur opened #703 "Login system still causing people trouble"
Despite the relative simplicity of the login system, today I saw problems (again) with people on our team & close to me:
* getting sent two emails
* being logged out immediately upon login

These are long-standing issues that we've had issues for time & again, seemingly tried to optimise & test for etc etc. Yet, here we are, they still exist in a frequency that is somewhat alarming.

@markmacgilli

[2017-05-05 08:37] JosephMcArthur commented on #657
Finally getting a response from a user here:

No, not for the first time. I had uninstalled the plugin for some time then reinstalled. This was the first time after reinstalling.

I believe from the link on the website, which of course links to the chrome store as far as I can tell.

Oh, yes, did I ever! I also disabled AdBlocker and HTTPS Everywhere, cleared cache/cookies, and then reloaded.

Chr

[2017-05-05 16:46] JosephMcArthur opened #704 "Change feedback form to be more human readable"
in feedback.html are all the things to form submits. changing e.g . "wrong" to something that's clearer would help.

[2017-05-05 16:48] allanaaa commented on #696
Hi! Naming convention for the file should be "AllanaCircle_200x200.png" - I didn't realize the filename wouldn't be preserved when I shared it with you on Github. Can you go in and rename "allanaaa.png" to the above?

https://github.com/OAButton/website/commit/73bafc3edeb15350e08106f135993d8a56ca0609

There also seems to be some bug in the code where Megan's entry used to be. I'm sending through a

[2017-05-05 16:49] JosephMcArthur commented on #704
@markmacgillivray how easy is it to improve the formatting of the emails sent by things like the feedback form.

[2017-05-06 08:55] JosephMcArthur commented on #696
Renamed, my personal lazyness is why it didn't change. Bug seems to be gone after your PR, yay \o/.

I'm closing for now, but feel free to test further & re-open if you see issues. Otherwise, this will go live on our next release.

[2017-05-06 08:55] #696 closed

[2017-05-06 20:30] chealsye commented on #685
Yes, we could add a sentence under "contact us." This is why I've been pushing for a form to catch false negatives and positives by librarians, because we receive these reports and there should be a better way to report and gather.

Simple sentence could be added after contact us.

The wrong content form includes "A copy I know is availiable wasn't shown" (available is spelled wrong on the form!).

[2017-05-07 10:21] JosephMcArthur commented on #685
Can we try a shorter version of this?

The actual reason to read the sentence doesn't come to midway through?

Something like:

We might even want to drop let us know, and just link the rest.

In terms of a form, I'd suggest @markmacgillivray we:
* send them to feedback#wrong
* put in the request ID
* pre-tick "available"

Typo fixed, thanks.

[2017-05-07 14:49] chealsye commented on #685
Yeah, that's fine.

[2017-05-08 09:40] JosephMcArthur commented on #461
Not, one librarian suggests that a rate <90% isn't acceptable here.

[2017-05-08 13:38] JosephMcArthur commented on #648
- [ ] change form so that it allows the email box to not be filled - me
- [ ] @natalianorori to tell us how often a result (where there are two responses) are wrong.

[2017-05-08 13:43] JosephMcArthur commented on #669
@natalianorori make sure to test things like with / without story. Also test data requests sends the data email.

[2017-05-08 13:51] allanaaa opened #705 "Accepting multiple author emails"
In the Dev stand-up meeting this morning, we talked about taking multiple emails for authors in the requests system (i.e. from the user, or from MTurk).

Currently the system will not accept more than one email address, but in the case of multi-author articles, or where an MTurker or user has found multiple email addresses for a single author, it may increase our success rate and response rate to

[2017-05-08 14:14] JosephMcArthur commented on #705
Assigning myself to think this over. I'm pretty strongly in favour of implementing this at the moment, although it has some limits (e.g some papers have 20 authors, it feels wrong to sent that many messages though).

Given speed & success rate matter greatly, this might be an issue of high priority since logically it increases our current chances 2x (or more) which is probably a hard margin to bea

[2017-05-08 14:17] JosephMcArthur commented on #688
- [ ] @markmacgillivray have we explored all our avenues for picking up the journal name automatically?

If not, I think we should run via mturk.

[2017-05-08 21:23] allanaaa opened #706 "Firefox plugin + bookmarklet issues"
Two reports recently via Twitter that the Firefox plugin is giving an error message when people try to install from https://addons.mozilla.org/en-US/firefox/addon/openaccessbutton/

See discussion here: https://twitter.com/BoltonPlatt/status/855076333369556992
We've asked them to submit bug reports on the website.

I replicated this on Firefox 53.0.2 just now. Error message is:
"The add-on downloa

[2017-05-08 21:37] chealsye opened #707 "How can users change their role and affiliation?"
I want to update my role and affiliation (as it is inconsistent with the request story I just submitted), but am unable to. How can I change my role and affiliation?

Adding this as a github issue and not an emailed question, so we have a record to advise users in the future or fix it if it is a bug.

[2017-05-09 06:02] JosephMcArthur opened #708 "/request & item page disagreeing about availablity"
Reported from a user:

![screen shot 2017-05-09 at 0 22 23 openaccessbutton org request ahlh9d8gdfnsfwfrh](https://cloud.githubusercontent.com/assets/4953703/25837353/5a35e83a-3485-11e7-8af0-acc6739700d3.png)

On the results list, following item was listed as being available, but when clicking URL https://openaccessbutton.org/request/AhLh9D8GDfnsFWFRH to the individual results page, page says “Thi

[2017-05-09 06:06] JosephMcArthur opened #709 "Missing article URLs (even while results say that those are available)"
From a user:

@markmacgillivray can we do something to catch the http:// issues in future?
@natalianorori can you adjust the zenodo link at all or change the request status.

[2017-05-09 06:40] JosephMcArthur commented on #706
- [ ] me, figure out why the mozilla plugin is in stores
- [ ] @chealsye explain bookmarklet issues futhur.
- [ ] @markmacgillivray fix bookmarklet issues when we know what they are...

cc @svmelton

[2017-05-09 06:42] JosephMcArthur commented on #707
Yeah... probably time we let people change their details here.

@markmacgillivray can we:
* display boxes on the account page where people can just change & save details? We might want an "edit account info" button on the page to hide this when we want them to install the plugin
* when details are updated, only update requests from that point on.

[2017-05-09 08:38] d2s opened #710 "Group duplicate article titles to improve usability of the search results"
## Bug report

### Expected Behavior

- Expected to see article search results combined together, even when there are multiple requests for the same article (from several persons). That would make it much easier to see what items are most needed by people (or have gotten most of the activity).

### Actual Behavior

- There are duplicate article titles in the search results.

![screen shot 2017-05-

[2017-05-09 09:07] d2s opened #711 "Small misspelling on the website footer (Github instead of GitHub)"
## Bug report

### Expected Behavior

*Expected HTML output:*

[code]

*Diff comparison:*

[code]

### Actual Behavior

- _GitHub_ was spelled as _Github_.

### Steps to Reproduce this bug

* Hardware versions: _not relevant to this issue_
* Software versions: OAButton website’s Git tree at the commit [96be218402f990ee170697e3c3bb0e06f86302fc](https://github.com/OAButton/website/tree/96be218402f99

[2017-05-09 10:35] JosephMcArthur commented on #711
Thanks @d2s, I've changed that in the footer & elsewhere in the repo. All those changes are now on dev.

[2017-05-09 10:35] #711 closed

[2017-05-09 10:47] d2s opened #712 "Extra space character in the Privacy Policy text"
## Bug report

### Expected Behavior

*Diff comparison:*

[code]

*Expected HTML output:*

[code]

### Actual Behavior

![screen shot 2017-05-09 at 13 36 50 new issue oabutton discussion - extra space character](https://cloud.githubusercontent.com/assets/135053/25847140/8b6e72a4-34bd-11e7-81aa-a70a1db32566.png)

### Steps to Reproduce this bug
*Please include any info about the version of the tool

[2017-05-09 11:39] markmacgillivray commented on #688
Yes, we scrape the page content and look up the APis we query as well.

[2017-05-09 11:49] markmacgillivray commented on #702
Closed the PR, closing the issue - fixed alternatively, as described in PR response

[2017-05-09 11:49] #702 closed

[2017-05-09 15:31] markmacgillivray commented on #591
Imperial scihub set (3789 open, 620 closed, of 4409):
https://static.cottagelabs.com/oabutton_imperial_scihub_nomatch_results_09052017.csv

Imperial rerun original set (15426 open, 1073 closed, of 16500, and 1 possible failure):
https://static.cottagelabs.com/oabutton_imperial_spiral_results_09052017.csv

Ernesto set (24 open, 58 closed, of 82):
https://static.cottagelabs.com/oabutton_ernesto_jdsh

[2017-05-09 16:28] chealsye commented on #706
Yesterday when I installed the Firefox bookmarklet and tried to use it it just was stuck on the "we're searching" but just tested it again and it is working.
![screen shot 2017-05-09 at 12 24 13](https://cloud.githubusercontent.com/assets/9299248/25861513/f92f77e4-34b2-11e7-9b19-8820744cd476.png)

[2017-05-09 20:49] JosephMcArthur commented on #440
Some things from today:
* on /request, display one request box for the bulk request it would be "title" + 1000.
* might want to title a bulk request & display that. Could also do this with user data? e.g "Stephen, a health professional asked for 1000 articles"
* number of requests goes up by the number of requests made

// Aside: would be good for people to be able to reuse old stories they've wri

[2017-05-11 07:48] JosephMcArthur commented on #203
also here apparently: https://twitter.com/humcommons

[2017-05-11 07:58] JosephMcArthur commented on #440
Other name ideas:
* discoveroa
* createoa
* makeoa

[2017-05-11 09:40] JosephMcArthur commented on #703
Am seeing flickering login / logout on lantern.cottagelabs.com too.

[2017-05-11 10:01] markmacgillivray commented on #703
Flickering login on lantern is likely due to you being logged in on the dev site somewhere. It works fine for me. If you are logged in on a dev site, it sets different login cookies that confuse the live login, hence why when checking live login you always need to ensure you are logged out of dev first.

Apart from that, re. the other issues, probably no time to talk this week but can discuss on M

[2017-05-11 11:22] markmacgillivray commented on #709
Have added an addition of http:// if not already present in URL to response uploader page, on dev. The zenodo one should be fixable by Natalia once we move the URL editing functionality to live (or possibly she already can).

[2017-05-11 11:28] markmacgillivray commented on #708
This request has a status of received, but has no information in it about what was received - no URL, no zenodo link, no OSF link. I would recommend changing the status back to progress, and progressing it again. There does not seem to be an error in it, but it may have coincided with earlier issues.

[2017-05-11 11:31] markmacgillivray commented on #697
I don't see any such error. When I put it in the request page search, it searches. When I put it in the front page find, it runs. It has now created a request for that item because we did not yet have one. The request page search now returns that request (for an admin user) when the title is put in the search box. The user possibly just coincided their search with network inaccessibility or someth

[2017-05-11 11:31] #697 closed

[2017-05-11 11:33] markmacgillivray commented on #685
Moved, on dev.

[2017-05-11 11:40] markmacgillivray commented on #192
Email delivers, drops, and opens are recorded in mailgun logs for 3o days and are also sent to our own system and stored, so this data is available for stats. Also we have a list of the email addresses on our dnr list, but not info on failures to those addresses, because we just don't accept them as email addresses to send to. So I think for this issue we have the underlying infrastructure require

[2017-05-11 11:42] markmacgillivray commented on #587
Mailgun receives and opens being stored.

I would prefer the team to agree what needs to be on a stats page, and perhaps have it designed, before developing it again. We appear to have all the data collections we would need, apart from tracking changes to requests, but there is already an issue for that. So I think this issue can go on into the next milestone and be put to the team before becoming

[2017-05-11 11:43] markmacgillivray commented on #477
Also add a "notes" box to each request, which should be editable in the admin area of a request page, and changes to which should also be tracked.

[2017-05-11 11:44] markmacgillivray commented on #477
Backend for recording changes to requests is in place (on dev) - but how do you want it surfaced to users? What do you want to be able to do with it? I think this has to become a @natalianorori / @JosephMcArthur discussion, then let me know, then can reassign back to me and I can implement on the dev UI.

[2017-05-11 11:58] markmacgillivray commented on #682
Done on dev, now to @natalianorori and @JosephMcArthur to decide email and process

[2017-05-11 12:00] markmacgillivray commented on #683
@JosephMcArthur can you remind me how an author currently indicates their refusal? Are they doing it from a link in the request email we send to them? If so can you confirm which email template is the current one, so I can check that link and ensure it triggers the expected behaviour?

This prob won't be finished this sprint, can roll into next one - won't take long once I know what triggers it.

[2017-05-11 13:54] chealsye commented on #685
@markmacgillivray not sure why I was assigned. @JosephMcArthur and I agreed on

Just needs to get added to the site now.

[2017-05-11 13:57] chealsye commented on #440
createoa might be good for a general system. It is action oriented, but a less harsh connotation than make.

[2017-05-11 15:08] markmacgillivray commented on #685
@chealsye I wasn't sure which of you was doing that, so just assigned both as you had both had input to previous discussions, so wanted to make sure I didn't leave anyone out. Just unassign yourself if it is not relevant :)

[2017-05-11 15:42] chealsye commented on #685
If it is on dev, wouldn't this be closed then? Copy has been agreed upon.

[2017-05-11 16:57] JosephMcArthur commented on #685
Not yes sadly, I need to check it turns up & completes forms correctly

[2017-05-11 17:12] moqri opened #713 "GitHub hyperlink on the "about" page of the website"
### Expected Behavior
Direct me to GitHub repo

### Actual Behavior
404 error

### Steps to Reproduce this bug
Go to https://openaccessbutton.org/about
Click on the GitHub hyperlink under the "Get in touch"

[2017-05-11 21:36] markmacgillivray commented on #689
Reading the titles out of that repo site needed a bit of a change to check eprints and dc titles, then had to adjust the check against BASE for german characters. Works now.

[2017-05-11 21:36] #689 closed

[2017-05-11 21:36] markmacgillivray commented on #689
(works only on dev so far, but will go to live when API is next updated)

[2017-05-11 22:21] natalianorori commented on #709
This happened when we had the incorrect URL for Zenodo, I went into Zenodo and there is nothing deposited under the article's title that show the undefined link. This is why I asked for the functionality of being able to edit/remove broken or wrong URLs, so this probably should be fixable once we add the functionality to live, as Mark said.

In the meantime, I changed the request status to progres

[2017-05-11 22:27] markmacgillivray commented on #598
I've run this again a few times this week but for as yet unknown reasons it still does not remove / update all the old records. Making some more changes to the script and trying again tonight / tomorrow.

[2017-05-11 22:27] natalianorori commented on #669
So I tested that the button saves the author's name once we write it. However, I tried testing it today with requests on dev with/without stories and in different status, and I did not receive anything (I am the author for all requests on dev). Templates were sending out just fine a few days ago, I don't know if something changed. Mark, it would be great if you can check this out for me and let me

[2017-05-11 22:29] natalianorori commented on #593
I just tested the box, I tried sending out templates but the system is not sending them out. More on this on #669

[2017-05-11 22:38] natalianorori commented on #593
Ok update,

I tested this on the templates with/without stories. It is displaying the name correctly in the templates with stories only, The email got sent to me when I did this manually. It is not displaying the name on templates WITHOUT stories, but because the template doesnt have the <p>Dear {{name}},</p> on it, it just has Dear colleague, so in order to test the template without stories we mi

[2017-05-11 23:00] natalianorori commented on #635
So I contacted two of them, and once they reply we can move forward with the rest of the OpenCon list.

[2017-05-11 23:11] natalianorori commented on #682
We actually do have a template to thank authors. Its called authors_thanks_article. Its only for articles tho, for data requests we have the author_request_badge_data template but I don't know how difficult it would be to actually attach images of that badge.

[2017-05-11 23:20] natalianorori commented on #477
I think that this "history visualisation"should only be available for admins to see. The reason why I need this is because It would give me the ability to see all the changes and history and emails that we have sent through the system with each request, more accurately than the spreadsheet lets me do it. The "notes" box on each request would allow us to write specific changes that we later can get

[2017-05-11 23:28] natalianorori commented on #333
I have added a handful of requests in different status to the dev site. They are all under my name as the author. Some of them have stories and others don't. Let me know if you need me to add more.

[2017-05-11 23:34] natalianorori commented on #708
This was marked as received since Maria received the article directly from the author, and she sent it to us. I tried to upload it but it didn't upload because this happen when we were having issues with the responder's page.  I re uploaded the article and it is displayed as available. Feel free to close this

[2017-05-12 08:01] jibe-b commented on #635
@natalianorori  Could you add me to the opencon list? user701@orange.fr

[2017-05-12 15:31] natalianorori commented on #669
I was just testing the site with Allana, when you press the "send to author"button on the dev site, the site sends out two templates, one with a story and one without a story to the author. This happens even though the request had a story.

[2017-05-12 15:34] allanaaa commented on #669
Screenshots for reference, note the emails are identical except the story line:

![screenshot-mail google com-2017-05-12-11-32-53](https://cloud.githubusercontent.com/assets/28012148/26005375/d8c2ac1e-3706-11e7-82fb-fee3c3adea1f.png)
![screenshot-mail google com-2017-05-12-11-32-23](https://cloud.githubusercontent.com/assets/28012148/26005376/d8c58880-3706-11e7-9026-d8a65a46fd80.png)

[2017-05-12 16:10] JosephMcArthur commented on #705
Assigning @svmelton to work this into author tests

[2017-05-12 16:12] allanaaa commented on #477
@natalianorori and I were just chatting about stats, and I have some ideas to bat around: I would love to use this data for blog posts, or perhaps an annual report?
I don't think we *need* to offer any of this in-site, as long as we can just grab a dataset as required - just throwing this out there as a use case.
I think we could report on our general average, or as a comparison over time (e.g. im

[2017-05-12 16:28] JosephMcArthur commented on #638
@svmelton can you summarise your finding from chatting with authors here please?

[2017-05-12 16:31] natalianorori opened #714 "emailing request supporters"
we are not currently doing it at the moment. As an admin, I am not able to see who supported a request (can't see their email addresses) and haven't been emailing supporters once things are made available.

Some of the steps that I think are needed:

-Create a template to notify supporters when the request is made available
-Being able to see data about who supports a request
-have the system auto

[2017-05-12 17:26] JosephMcArthur opened #715 "Set up a system for doing bulk checks for accuracy / full-text links from spreadsheetes"

[2017-05-13 15:13] JosephMcArthur commented on #713
Thanks! Deployed to dev, so closing this issue.

[2017-05-13 15:13] #713 closed

[2017-05-13 15:34] JosephMcArthur commented on #635
I manage that list & have now added you!

On Fri, 12 May 2017 at 09:01 jibe-b <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-05-13 19:59] JosephMcArthur commented on #440
Here is a relatively early stage design from @BaronBlackmore

![oa sheet design v1](https://cloud.githubusercontent.com/assets/4953703/26028766/b55d9252-381e-11e7-846e-dc25f6be71d2.png)

It's loosely based off the current lantern site and the comments above. Presented here for broad feedback, we'd probably do at least one more iteration before looking to actually implement this publically (interna

[2017-05-13 20:24] JosephMcArthur opened #716 "Suggested changes to request pages"
Uploading here to track & share. Haven't been able to form an opinion on the suggested changes!

![oab proposed changes 25-04-17 1](https://cloud.githubusercontent.com/assets/4953703/26028983/6babd2a0-3822-11e7-986d-f5fdc9ed67e0.png)

[2017-05-13 20:25] JosephMcArthur opened #717 "Suggested changes to availability response page"
Uploading here to track & share. Haven't been able to form an opinion on the suggested changes!

![oab proposed changes 25-04-17 2](https://cloud.githubusercontent.com/assets/4953703/26028982/6b278e00-3822-11e7-82c0-5a9409d9bfd0.png)

[2017-05-13 20:25] JosephMcArthur opened #718 "Suggested changes to homepage"
Uploading here to track & share. Haven't been able to form an opinion on the suggested changes!

![oab proposed changes 25-04-17 3](https://cloud.githubusercontent.com/assets/4953703/26028977/578f86c2-3822-11e7-9484-daa5bb0ca488.png)

[2017-05-13 20:26] JosephMcArthur opened #719 "New concept for author upload page"
Uploading here to track & share. Haven't been able to form an opinion on the suggested changes!

![oab proposed changes 25-04-17 4](https://cloud.githubusercontent.com/assets/4953703/26028973/4c2c12e6-3822-11e7-918e-8a9ade8e7dff.png)

[2017-05-15 09:28] jibe-b opened #720 "Paper has been made available but not pudated in oab db (probably no answer from author)"
[One request](https://openaccessbutton.org/request/KYb8qiqg5rQCJnJbL) was quickily succesfuly as the author uploaded her paper on HAL](https://hal.archives-ouvertes.fr/hal-01516082/file/Cohen-Boulakia-etal-reproductibility.pdf)

unfortunately, the status of the request was not updated.

I guess that the author did not answer to the email.

Would it be possible to have a bot that passes DOI regular

[2017-05-15 09:39] JosephMcArthur commented on #720
Thanks @jibe-b, this is helpful. I think it would be covered by #333. Take a look and let me know.

[2017-05-15 09:44] JosephMcArthur commented on #333
@markmacgillivray this looks about ready for the script to run!

[2017-05-15 09:48] JosephMcArthur commented on #593
Great, this is ready to ship then. We just have to push the actual author box / API changes to live. Once that happens we can update all the emails with the right box!

[2017-05-15 09:52] jibe-b commented on #720
I guess the implementation you designed is to be run!

Didn't have time to read through the discussion but if it has not been implemented, add an email to thank the author :)

[2017-05-15 10:05] JosephMcArthur commented on #708
notified report, thanks all!

[2017-05-15 10:05] #708 closed

[2017-05-15 10:10] JosephMcArthur commented on #682
Okay, so I'd like us to close #687, at least, before moving forwards here.

* if article success
 - [ ] send thanks authors_thanks_article.html to author
 - [ ] if article success: send emails/requestors_request_success_article.html to requestors.
 - [ ] change status to "received"
* If data success, continue to handle manually.

and for now I'd like us to continue handling data requests manually.

[2017-05-15 10:19] JosephMcArthur commented on #685
Okay, tested (and text centered) so closing!

[2017-05-15 10:19] #685 closed

[2017-05-15 10:26] JosephMcArthur commented on #688
- [ ] @markmacgillivray can we add a box in the admin process for this please? If we know the journal from the automated system it should just show here.

cc @natalianorori

[2017-05-15 10:28] JosephMcArthur commented on #703
Today while trying to login on dev on my mobile (android, chrome) the site became damn near unusable while it flickered between the email input page & login code input page :'(

[2017-05-15 10:29] JosephMcArthur commented on #703
@markmacgillivray have sent you an invite to speak after the sprint call

[2017-05-15 10:32] JosephMcArthur commented on #709
Great, notified reporter, so closing.

[2017-05-15 10:37] JosephMcArthur commented on #706
Okay, can't do much about the bookmarklet stuff without the ability to replicate.

Have removed the FF plugin from stores... which I thought had already happened.

Closing now!

[2017-05-15 10:37] #706 closed

[2017-05-15 10:39] JosephMcArthur commented on #712
Fixed, thank you!

[2017-05-15 10:39] #712 closed

[2017-05-15 11:19] JosephMcArthur commented on #687
Tested, so closing.

[2017-05-15 11:19] #687 closed

[2017-05-15 11:19] JosephMcArthur commented on #591
Have sent the sheet to Ernesto. Currently checking some of the datasets by hand: https://docs.google.com/spreadsheets/d/1ejO8zRVptQVu0g48HRbNSPEjPhLy_l-FDDFWYz_Yfug/edit#gid=542273014.

[2017-05-15 11:24] JosephMcArthur commented on #666
Neglected to assign @markmacgillivray after our feedback

[2017-05-15 11:27] JosephMcArthur commented on #425
Changed:

to

to avoid jargon.

[2017-05-15 11:27] JosephMcArthur commented on #425
otherwise, this looks okay.

[2017-05-15 11:27] #425 closed

[2017-05-15 12:09] JosephMcArthur commented on #591
Have sent Sci-hub dataset to Andrew.

[2017-05-15 12:10] #591 closed

[2017-05-15 14:51] svmelton commented on #709
Hi all,

I noticed that this request has the same error: https://openaccessbutton.org/request/5WNqW6Ab3th8uy59e

[2017-05-15 15:01] markmacgillivray opened #721 "Demo a simplified plugin to see if OAB team and library users could like it"

[2017-05-15 15:02] markmacgillivray opened #722 "Complete admin upload of bulk sheets"

[2017-05-15 20:33] JosephMcArthur commented on #721
Things I'm thinking about:
* How to handle data in the tool (if one click goes to paper, how do we get to surface data?)
* How do we handle institutional functionality well?
* Can we do doi searching on the page similar to OC?
* Highlighting stuff on the page & then clicking the button is a familiar UI & builds on a lot of our work well. Probably needs no extra UI elements.

[2017-05-16 09:28] JosephMcArthur commented on #477
Thanks for this @allanaaa. I'm going to move your comment over to discussion over to #587. This request really focuses on visualising requests history, rather than what to track in aggregate.

So, with that done, I'm looking at Natalia's comment:

I agree. And I think this can be fairly simple. Long term, I'd like this to be public for everyone to see, but for now (while we tweak and explore the u

[2017-05-16 09:52] JosephMcArthur commented on #587
From @allanaaa comment, which is better here, in #477:

@allanaaa most of the above are already possible & tracked. There is a certain amount of legwork needed to generate the numbers. However, many of these don't need to be tracked _all the time_ at the moment, so in the name of focus I'm going to try and digest all of the above into what should be on the site & what needs to be exposed which isn

[2017-05-16 10:36] JosephMcArthur commented on #192
Let's reframe this issue. #587 & #477 are both centring around the request system. There are bits above here about that, but let's ignore them (as they're part of other those discussions) and centre on tracking "users" / "usage" here more generally.

Okay, /stats looks very different to when I last looked (when it had the table that monitored plugin vs site us etc).

Lets:
- [ ] make the page logi

[2017-05-16 10:44] JosephMcArthur commented on #333
- [ ] @markmacgillivray implement tagging of request on closing as suggested [here](https://github.com/OAButton/discussion/issues/333#issuecomment-298389111) as a way to track success here vs other methods.

[2017-05-16 10:54] JosephMcArthur commented on #440
Note: @markmacgillivray is taking forward an admin only version of this in #722. We'll push this back to a later milestone while that happens to continue to think through broader questions here.

[2017-05-16 10:55] JosephMcArthur commented on #703
- [ ] monitor logs & reach out to people who have trouble @josephmcarthur

[2017-05-16 10:57] JosephMcArthur commented on #673
@natalianorori so, have you tested everything here & are happy to close?

[2017-05-16 11:00] JosephMcArthur opened #723 "remove hyper linking of whole email footer"
![screenshot-mail google com-2017-05-12-11-32-23](https://cloud.githubusercontent.com/assets/28012148/26005376/d8c58880-3706-11e7-9026-d8a65a46fd80.png)
![screenshot-mail google com-2017-05-12-11-32-53](https://cloud.githubusercontent.com/assets/28012148/26005375/d8c2ac1e-3706-11e7-82fb-fee3c3adea1f.png)

[2017-05-16 11:02] JosephMcArthur commented on #115
@svmelton an update here would be helpful, even if it's to say you haven't had a chance to do it yet.

[2017-05-16 11:19] #662 closed

[2017-05-16 11:21] JosephMcArthur commented on #618
@markmacgillivray I think doing this asap (perhaps this weekend) makes sense. Please just keep the team informed & give a time that we can tweet out.

[2017-05-16 11:25] JosephMcArthur commented on #461
From chat yesterday:
- [ ] Cross reference repo list we pull from against opendoar to find the tech underlying each - then match against repo-redirect sheet

By doing this we can scale our error avoidance & full text dramatically.

[2017-05-16 11:31] JosephMcArthur commented on #142
Not a near erm priority, moving from the backlog.

[2017-05-16 11:32] JosephMcArthur commented on #166
have done vast majority of what was planned for this not, so having an epic isn't that helpful. Closing.

[2017-05-16 11:32] #166 closed

[2017-05-16 11:32] JosephMcArthur commented on #162
Not a near term priority, moving from the backlog.

[2017-05-16 11:34] JosephMcArthur commented on #273
Closing in favour of other issues on topic. E.g #548 & the many other stats issues.

[2017-05-16 11:34] #273 closed

[2017-05-16 11:34] JosephMcArthur commented on #164
No longer needed!

[2017-05-16 11:34] #164 closed

[2017-05-16 11:38] JosephMcArthur commented on #158
doesn't appear this is actually for self-archived chapters, so it's not very helpful! closing.

[2017-05-16 11:38] #158 closed

[2017-05-16 11:40] JosephMcArthur commented on #720
Thanks @jibe-b, we've done that :D If you don't mind, I'm going to close this to keep things less confusing for us! But, feel free to watch that other issue for progress here.

[2017-05-16 11:40] #720 closed

[2017-05-16 11:43] JosephMcArthur commented on #269
this is being discussed full in #440 - closing here

[2017-05-16 11:43] #269 closed

[2017-05-16 11:59] JosephMcArthur commented on #722
Can this be done as a separate page for now (however basic that is), just to replicate the current direction for it being a stand-alone tool.

Also, are you counting being able to make requests off those sheets as in-scope for this sprint?

[2017-05-16 13:37] chealsye commented on #192
@allanaaa's primary task is website copy. Please only assign her.

[2017-05-16 18:52] moqri opened #724 "Saying available when it is really not"
### Expected Behavior
not found

### Actual Behavior
success

### Steps to Reproduce this bug
https://api.openaccessbutton.org/availability?url=http://pubsonline.informs.org/doi/10.1287/mnsc.2015.2168

The paper is not openly accesible from the suggested link

[2017-05-16 19:07] natalianorori commented on #709
contacted the author and changed it to progess!

[2017-05-16 19:07] #709 closed

[2017-05-16 19:10] natalianorori commented on #693
This was an old request, March 2016 and was marked on Help (It was marked as invalid by mturkers and wasn't moderated by me because as you know, we were giving priority to old requests with stories and on moderate status). Since the link to the URL is nature's comments section, there is no info for author and no story, I deleted the request. Thanks for pointing this out!

[2017-05-16 19:10] #693 closed

[2017-05-16 19:11] natalianorori commented on #682
+1 to everything above, including handling data requests manually

[2017-05-16 19:13] natalianorori commented on #673
yes, I tested everything here again on friday, emails are sending out correctly and statuses are being changed in all different scenarios. during my last test, I tested with my email address and Allana's email address. Happy to close

[2017-05-16 19:16] natalianorori commented on #688
Happy to test when this is on dev

[2017-05-16 19:28] natalianorori commented on #676
I am still not getting alerts when we receive content! Is it possible to set me up to get these asap? @markmacgillivray @JosephMcArthur

[2017-05-16 19:35] natalianorori commented on #720
changed status to received and notified the user! Thanks for pointing this
out :)

On Tue, May 16, 2017 at 5:40 AM, Joseph McArthur <notifications@github.com>
wrote:

[2017-05-16 20:28] jibe-b commented on #720
the user says: "thanks"!

Am 16. Mai 2017 21:35:18 MESZ schrieb Natalia Norori <notifications@github.com>:

[2017-05-16 20:34] allanaaa commented on #714
Also, maybe we could:
- add a field in the author-request email that says "After this request was made, [$supportercount] more users expressed interest in your work!"
Maybe even "Within hours of the first request, [$supportercount] more users...."

[2017-05-16 21:04] chealsye commented on #718
We've been through this a few times - but 100% want to stay with the orange/red logo. It is a shift away from our identity and the OA recognition.

[2017-05-16 21:13] JosephMcArthur commented on #724
Thanks @moqri! This is a known issue, and something we're going to be taking on in a big way over the course of June! Thanks for the report.

[2017-05-16 21:14] #673 closed

[2017-05-16 21:28] moqri commented on #724
You are welcome,
Let me know if I can help with this is any way. We plan to direct our [website ](http://brdb.warrington.ufl.edu/) users to your api when this is fixed.

[2017-05-17 16:03] jibe-b opened #725 "OCR++ finds nicely author and email adress"
[OCR++](http://www.cnergres.iitkgp.ac.in/OCR++/home/) [(github repo)](https://github.com/ocrplusplus/ocrplusplus) is not bad at finding author and adress from an article in pdf format.

Looking for author of an article within a PDF means having access to the PDF, but when one has access to it, it helps asking the author to upload a preprint in an open archive.

This program has nothing to do with

[2017-05-17 17:33] natalianorori opened #726 "Error uploading file to responders page in requests with no story"
I got an email yesterday of a user who could not upload their request through our responders page, so I offered to upload the file on their behalf. When I tried uploading the file as both an admin and as the author, the tab froze and went blank. after about 5 minutes waiting I got an error message, saying that my file could not be uploaded. What I did is that I uploaded the file directly to Zenodo

[2017-05-17 17:55] allanaaa opened #727 "Problems linking to /request with filtering or search results"
The URL for any /request?[query] is long and unwieldy. When I try to share the URL to a subset of our requests via Twitter and Tweetdeck, the link can't resolve past the { character (normally it would auto-shorten):

![link](https://cloud.githubusercontent.com/assets/28012148/26168283/8b22cffc-3b07-11e7-896c-848e912528f4.PNG)

I've tried shortening the query with a bit.ly but receive an error mess

[2017-05-17 19:35] markmacgillivray commented on #727
This was already covered in a previous issue, and @chealsye already wrote some posts using the short link format. It can be done like so:

https://openaccessbutton.org/request?q=status:moderate

If some other service such as twitter or bitly can't handle the full length URLs, there is not much we can do about that.

As for the counter showing the full amount, this is because when we decided not to

[2017-05-17 19:48] allanaaa commented on #727
Thanks! Once again, I searched but could not find the relevant thread.

On Wed, May 17, 2017 at 3:35 PM, markmacgillivray <notifications@github.com>
wrote:

[2017-05-17 20:26] JosephMcArthur commented on #498
Okay, done a bunch of work here, to finish it off:

- [ ] @markmacgillivray there is a new section where an author can actually refuse a request. Somewhere in the mix this got lost. Can you add back in the URL (this use to be in emails) that allows that?

- [ ] @allanaaa can you take a look at my copy & suggest changes where needed. I've managed to remove some of what Chealsye suggested by having

[2017-05-17 20:47] JosephMcArthur commented on #683
answered in #498

[2017-05-17 20:53] JosephMcArthur commented on #723
@natalianorori can you sync templates on live when you get a minute to fix this.

Otherwise, closing!

[2017-05-17 20:53] #723 closed

[2017-05-17 20:54] svmelton commented on #115
I haven't gotten a chance to get to this yet—I'm actually trying to remember what specifically my action was here.

[2017-05-17 21:26] allanaaa commented on #498
I'd love us to say "If your article/data isn't in a repository, please consider uploading it instead."
It aligns with our values, and perhaps avoids Google Drive links or similarly unwieldy non-preserved things.
We should also write a blog about "The advantages of putting your research and data in a repository" that we can then link to from these pages, in case people have more questions.....

**R

[2017-05-18 03:48] natalianorori commented on #648
**Mturk bulk data analysis report.**

We sent our first big bulk batch with links to 1,000 requests. Each request was assigned two hits, which gave a total of 2,000 hits submitted to mturk. We got 77% of those hits submitted back with results (1550 hits).

After some time analysing the data behind our results. I can share some accurate numbers with you.

**out of all 1550 mturk hits:**
- 62 author

[2017-05-18 09:29] JosephMcArthur commented on #648
Thanks so much for this @natalianorori.

A few things:
* I've now got a V5 of the form on the site that just doesn't require emails at all. That means folks can submit without needing a fake email. We need to test what m-turkers will do there now. C
* I've made a V6 of the form with slightly updated titles / copy & also an ask to get the journal name (as needed in #688)
* Where the form said a aut

[2017-05-18 10:21] JosephMcArthur commented on #440
Notes from chatting with Sam:

* Default file name can be the file upload name
* Sam thinks that no-one will want to share during the job running
* mobile experiance will need to be quite different
* need to hide share / request form initially to keep page clean
* share button allows you to add a nice title to the page
* need powerby / home as header / footer

[2017-05-18 10:27] JosephMcArthur commented on #715
Just did a batch job with like 60 links in Mturk (where I already know the answers). Will see what the results look like & go from there.

Not technically a priority yet... but, took 30 minutes & I was there (plus I've spent hours on this already this week, so thought it was time to try automation).

[2017-05-18 10:31] JosephMcArthur commented on #115
When you're looking at repo-redirects, if you see a copy request button, mark that on a sheet somewhere (i.e we need a list of places where these exist to do some testing) and then hit it & see what happens.

[2017-05-18 10:31] JosephMcArthur commented on #724
That's awesome, will let you know!

[2017-05-18 11:13] JosephMcArthur commented on #498
So, I have uploaded all of this. However, I've hidden the text requesting folks use repos, so far I'm not aware of folks giving us drive links or things like that (cc @natalianorori) & I'd like to keep this as simple as possible. If they give us personal site links, my preferred method there is to do the work on our end to archive that via the internet archive (automatically).

Otherwise, take a p

[2017-05-18 12:54] allanaaa commented on #498
Looks great!

[2017-05-18 15:09] #727 closed

[2017-05-18 17:40] natalianorori commented on #498
@JosephMcArthur you are right, we have never gotten drive or links like that, so I agree with you on keeping things as simple as possible. I'd like for authors to understand this page easily

[2017-05-18 18:10] natalianorori commented on #648
Thank you for doing everything you mentioned above @JosephMcArthur . I agree with keeping two hits per request and yes, a 10% error rate seems high.
I am testing V6 of the form as you requested today during the afternoon, and will get back to you with that later.
answering to your questions:

**are you comfortable with the remaining data getting uploaded straight into the system?**
I am not 100% c

[2017-05-18 20:27] JosephMcArthur commented on #648
Follow up from chat:
- [ ] @natalianorori to tell us the % of the time that turkers are wrong about link not working / not an article
* always trust when a turker says an author is dead.
- [ ] make an issue that filters REALLY old papers out the system (as authors are for sure dead)
* @natalianorori is happy with us sending to multiple authors, but only 2-3
- [ ] @natalianorori to make new instruc

[2017-05-18 22:51] natalianorori opened #728 "closing requests for extremely old articles"
Since authors are obviously dead.
steps that I suggest we take here are:

- filtering the requests by article date
- marking old requests as closed
- notifying the users that we are closing with requesters_request_failed_authordead template

[2017-05-18 23:12] natalianorori commented on #648
-Only 1 mturker was wrong about the link not being an article. All the other users that reported hits as "not an article"were redirected to login sites, journals main websites, entire journal issues, university login websites, 404 errors.
I would say trust 100% when they say the link is not an article
I would also trust them 100% when the link is not working
theres a 2% error rate on emails being

[2017-05-19 07:15] JosephMcArthur commented on #728
@natalianorori hope you don't mind, but I've changed the title here to be a bit more specific (the title sounded a bit like another issue).

So, @markmacgillivray the key question here is probably if we can get the published on date for articles.

I think, right now, this is probably a fairly low priority as it's just an optimisation of things we already have handled in other ways.

[2017-05-19 08:22] JosephMcArthur commented on #440
@OAButton/team round 2, probably the final round unless we have major pushback, of these designs. What is still TBD:
* copy
* name

My feeling on the below is that it's 95% amazing, especially from a visual standpoint. My hold-ups are on:
* how we engage people on the mobile version's homepage
* if we send them the link to the results page, or just dump them there (really depends on how much we ne

[2017-05-19 09:38] JosephMcArthur commented on #648
So, that's a <1% error rate, fantastic.

Okay, @markmacgillivray I think our work is all done here, it's over to you.

To be clear about the behaviour here after that big dataset:
* when an email comes in from m-turk, use that as the request target. Put any other emails that come in to the notes section
* when a turker says a link is broken, activate the broken link process
* when a turker says an

[2017-05-19 16:51] chealsye opened #729 "Request pages duplicating my role "Librarian, librarian""
I just submitted a request and saw this:

![screen shot 2017-05-19 at 12 49 53 pm](https://cloud.githubusercontent.com/assets/9299248/26258224/bb97415a-3c91-11e7-8128-b06d86ac9e9f.png)

_Librarian, librarian_

I figured this is a bug, so I wanted to flag it!

[2017-05-19 17:34] JosephMcArthur commented on #719
For reference, this is what our new page looks like:
![image](https://cloud.githubusercontent.com/assets/4953703/26258938/bfea3c44-3cbe-11e7-9a33-c9724f22ab45.png)

Okay, in speaking with @svmelton today I fleshed out some of what I'm thinking about here. Here I'm going to put a bit of a thought dump.

My expectation is that authors come to the page thinking:
* I don't really know what the open ac

[2017-05-19 20:16] natalianorori commented on #648
@JosephMcArthur @markmacgillivray +1 to everything Joe commented above.That's what I am expecting as well.

[2017-05-19 20:51] chealsye opened #730 "Duplicate, separate requests for the same paper"
@allanaaa and I made two different requests for the same paper. We both saw the tweet of a librarian colleague, both made separate requests today, but the Button didn't recognize the papers as the same.

We ended up with two different requests:
[Allana's request](https://openaccessbutton.org/request/mLwe7tBGn8fsoQLzj) - Immaterial labour, public librarians, and third-generation public libraries: N

[2017-05-20 11:51] JosephMcArthur commented on #719
Also, another idea,
* if an author can't send a public copy via the request system, send a private one. At least the use then gets what they want (and we could provide that to others like copy request buttons). This is also a decent fallback if we find a paper isn't able to be made publically available.

[2017-05-20 11:56] chealsye commented on #719
@JosephMcArthur Would the private copy be sent via the request system/us to the user or directly from the author?

[2017-05-21 06:16] JosephMcArthur commented on #719
The former would make sense from a product perspective, but to be honest
it's just an idea I haven't thought through!

On Sat, 20 May 2017, 12:56 chealsye, <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/M

[2017-05-21 12:25] chealsye commented on #719
Okay... It is important we think this through. From a legal perspective, I have doubts it would be considered 1:1 sharing if it went through the Button instead of the author emailing the user directly. This would put both the author and the Button into a legal grey area for copyright violations.

[2017-05-23 18:12] JosephMcArthur opened #731 ""429, too many requests" error code"
Some of our folks at the BL have been repeatedly making requests while testing and apparently got told this error code.

@markmacgillivray can you let me know what this is?

[2017-05-23 18:16] JosephMcArthur opened #732 "Doing tests on citation vs title vs (doi / URL / pmc) to improve our title / citation searching"
Apparently, the BL have been testing this and found issues. This isn't a surprise, and I'm just opening an issue here to track and note this.

What I'll do soon is:
- [x] Get titles for DOI's/ URL's with known results in the system & upload them to the spreadsheet upload
- [ ] Analyse and share the results with Mark
- [ ] get them fixed, or have an update, and go back to the BL.

This is important

[2017-05-23 18:20] JosephMcArthur opened #733 "Using opendoar, directly, in the find system"
Saw another project using this: http://www.opendoar.org/search.php

I hadn't seen this before, and it's probably worth us exploring!

[2017-05-23 18:20] markmacgillivray commented on #731
On the api or on the website? Did they say what times? If it coincides with the heavy use we've been seeing, the we either have to turn on more cluster machines or start rate limiting / blocking people to stop them using too much too quickly.

[2017-05-23 18:21] markmacgillivray commented on #732
It will be impossible to get certain matches with titles or citations.

[2017-05-23 18:23] markmacgillivray commented on #733
For what? We already have an entire copy of the opendoar data, and a use method for it, but what would we use it for?

[2017-05-23 18:28] JosephMcArthur commented on #733
They were using it for searching full text from the repositories listed, independently from base etc.

I don't have a clue if that's actually useful for us though! But I want to have an answer to hand as to why we're not using it.

First thing to do would probably be to eyeball the number of sources there vs base, and double check base's use of opendoar (I think they say something) - @ me

[2017-05-23 18:28] JosephMcArthur commented on #732
Yup, I know :) But, I'm assuming there are things we can make better, so want to get some data on that.

[2017-05-23 18:29] JosephMcArthur commented on #731
Website, I think (judging by their implementation of oab). No, they didn't say the times sadly.

[2017-05-23 18:40] markmacgillivray commented on #731
It would not be good if people make automated repeated requests via the site. Do you know why their implementation goes via the site instead of the API? I think we'll need to spend some time adding monitoring and limiting / blocking asap, as this risks making the UI bad for normal users.

[2017-05-23 18:43] JosephMcArthur commented on #731
Nope, but I've asked for them to use the API & they'll be looking at it now.

I doubt the requests to the site were automated, just lots of manual ones.

I'm super hesitant to fix issues by blocking / limiting, but if you feel like adding monitoring is important then let's go ahead there. Otherwise, can we discuss alternatives to blocking / limiting?

[2017-05-23 18:46] markmacgillivray commented on #731
If anyone is getting 429 errors on the UI, then we have to deal with it asap. The only alternative to limiting / blocking is turning on more cluster machines, which is more cost. It's not much per machine, but you'd still have to decide at what point you're willing to keep paying for. Also, with every extra machine, we hit every other service we query harder, so we'll need to keep tracking our res

[2017-05-23 20:37] JosephMcArthur commented on #705
Opinions from team here are generally good.

Things we'd need to think about:
* want to ensure there is personalisation on each email
* need to think through how we manage updating folks about each request
* how do we manage conversations with groups???
* do we let groups know they've all been contacted

Things to do:

- [ ] @svmelton to ask how authors would want the above handled, and this gener

[2017-05-23 21:24] natalianorori opened #734 "system not catching non-scholarly articles"
Specially pieces from journals which are reviews/correspondence/letters. We have seen cases like these in Nature and Science. Is there anything that can be done to start catching these?

@JosephMcArthur @markmacgillivray

[2017-05-23 21:25] JosephMcArthur commented on #734
@natalianorori can you give the examples we've seen previously (the most recent, and the one we discussed previously at least).

I've also adjusted the title here to make it a touch more specific.

[2017-05-23 21:27] JosephMcArthur commented on #734
Here, catching means:
* Having the find system know that they're not really articles to work on (e.g. do all correspondence pieces share a url structure we could flag)
* have a step in the moderation process that stops requests at this point

[2017-05-23 21:30] natalianorori commented on #734
https://openaccessbutton.org/request/8aRRvzgi6TLmzoRWZ This is the most recent case

http://science.sciencemag.org/content/348/6237/854/tab-figures-data This is an example from science

[2017-05-25 00:42] allanaaa opened #735 "False positive: "Stability of perovskite solar cells""
Hi, someone on Twitter reported a false-positive at this URL:
http://www.sciencedirect.com/science/article/pii/S092702481500673X

The Button reports an open article, but then leads to
http://jbc.bj.uj.edu.pl/Content/202782/DIGONLINE002583.html

which leads to
sciencedirect.com

I replicated it on the Firefox bookmarklet and the Chrome plugin.

When I used the DOI on the website, it brought up
http

[2017-05-25 01:41] natalianorori commented on #735
I am not sure that we can share Researchgate copies publicly or on Twitter,
maybe we can contact them directly by email, explaining that this is only
partially open but that we wanted to make the paper available to them asap

Natalia

On Wed, May 24, 2017 at 6:42 PM, allanaaa <notifications@github.com> wrote:

[2017-05-25 06:41] JosephMcArthur commented on #735
Don't send the RG copy, just say we'll work on getting this fixed :)

[2017-05-25 10:12] JosephMcArthur commented on #657
1. I don't think I was logging in for the first time
2. I did it from your webpage. I just installed again and got the same issue too.
3. Refreshing doesn't solve the issue
4. Errr, Windows 7?

This is a screenshot: https://p14.zdusercontent.com/attachment/1318712/LZtZ7LlGQHGmBgINArck1w8mU?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..VB5XVv67wxateArPPLypXA.wnKRIXylSlPu30YHuHGiYmna3Vb2Pu9

[2017-05-25 16:16] JosephMcArthur commented on #719
A few more thoughts from chats with @BaronBlackmore:

* can we use file meta-data & article publish / submitted to see if it's the right version?
* can we get rid of the page entirely and just take the file from the email?

designs / thoughts in coming!

[2017-05-25 17:21] chealsye opened #736 "Adjustments to the sign in email"
Current email:

I think this email is a bit hard to read. Too many single lines that almost line up. Could we break it up like this instead?

I think a two line break from the email content and the signoff would help make it easier on the eyes to see and focus on the relevant information, but github won't let me make the two lines.

Also, welcome to suggestions to make the email simpler overall!

[2017-05-25 22:59] allanaaa commented on #729
This got fixed a short time ago - the update just hasn't rolled out yet, I think?
See https://github.com/OAButton/website/commit/02de6eaf47997ecf4664ef382a718fa4a05bc00f
and #702.

[2017-05-26 05:04] chealsye commented on #523
Any TBD progress on this?

[2017-05-26 05:23] chealsye opened #737 "Button sending users to paywalls"
I submitted these errors on the feedback form as "the article wasn't actually available," but I wanted to draw attention that these aren't false positives in repositories but rather the Button is sending users to paywalls. Do we know this is occurring and potentially why?

10.1002/asi.23621
http://hdl.handle.net/10.1002/asi.23621

Characterisation of academic journals in the digital age
http://lin

[2017-05-26 10:28] JosephMcArthur commented on #736
Quick thoughts from login user feedback in #703 :
* need to make clear the link is one use only
* need to make this more generic for sign in attempts
  * adjust subject
* I'd suggest removing sign off "We look forward to getting you access to research,"

[2017-05-26 10:30] JosephMcArthur commented on #523
Still struggling to ship other improvements to requests, and after that is trying to reduce false positives. I feel like we've done all we can to spec this, just need time to do it!

[2017-05-26 10:45] JosephMcArthur commented on #719
Okay, new ideas for both the page and email ( FYI @chealsye / @allanaaa )

![oab author page v1](https://cloud.githubusercontent.com/assets/4953703/26491702/97db2084-4208-11e7-820f-5dba18798be7.png)

I think a lot of this is spot on, although exact copy might need a tweak. Will have all thoughts for when we have more time to action this.

[2017-05-26 15:13] allanaaa commented on #736
+1 to everything.

I like the subject line as-is; what would you suggest we change?

[2017-05-26 17:00] allanaaa commented on #719
Website:

I don't love "Thanks for making it this far!"

Nor do I love "We understand you're busy" etc., the entire first paragraph.

I think a bit of redundancy between email and website is called for - a page that's too generic seems untrustworthy. Can we please restate the title of the research on the website?

Can we actually provide the restrictions information automatically? That seems like

[2017-05-26 18:26] allanaaa commented on #719
Email:

"Journal is restricting access" makes it sound like a special case, as though it's something above and beyond toll-access.

Proposed:

or

Also, the subject line:

"Someone needs access to your article, share it to increase your impact"

That comma is grammatically incorrect; can we use a semi-colon, colon, dash, exclamation mark, or period?

etc.

[2017-05-30 16:51] markmacgillivray commented on #726
@natalianorori could you try this on the dev site too, just make a test request without a story, and use the admin access to get to the response page, and try uploading the same file that you were trying when you got this error. I have looked at the current code and can't see a reason why not having a story would cause this, hence a test on the dev site would help. If you get the same problem on d

[2017-05-30 16:54] markmacgillivray commented on #666
@JosephMcArthur @natalianorori OK I have made it possible to remove the URL altogether and can change the request status back to "moderate" if there is no URL - would this be correct? If so just confirm and I will enable that with a dev site and API update

[2017-05-30 16:58] markmacgillivray commented on #498
I don't think there is anything I can do here. The response page still includes the code to show a refuse section. It is in the email templates that you all maintain that you choose which links to put in- a link to refuse should just be a link to the response page with ?refuse=true added to the end. Then the response page will record the refusal and show the div with the id "refuse" - so put whate

[2017-05-30 17:00] markmacgillivray commented on #498
About what file types we can receive - I don't know. We can receive any file type you want to be able to receive, and that OSF or Zenodo will accept from us. I don't know of any restrictions placed by them.

[2017-05-30 17:23] natalianorori commented on #666
Yes! This is correct. Thanks Mark

On Tue, May 30, 2017 at 10:54 AM, markmacgillivray <notifications@github.com

[2017-05-30 18:02] markmacgillivray commented on #669
Hi, I have tested this multiple times on dev now, and when I create a request and use the "send to author" button, I get the expected behaviour and the expected emails, in each case where I try a request with a story or without a story. Can you please re-test and confirm if you still get a problem? I can't find anything wrong at the moment.

[2017-05-30 18:04] natalianorori commented on #705
The different testing strategies proposed for this are mentioned below:

- [ ] sending the same template to 2-3 authors without saying anything about contacting many of them at the same tie

- [ ] sending the same template and adding a line that states we contacted other co authors ( “we also contacted some of your co authors asking for the article link”)

- [ ] emailing the corresponding author a

[2017-05-30 19:57] allanaaa commented on #705
+1, good strategies.

[2017-05-30 19:59] #729 closed

[2017-05-31 02:38] chealsye commented on #737
This happened again today with Springer journals.
10.1007/s11192-016-1983-5
10.1007/s11192-016-1907-4
10.1007/s11192-016-1833-5

[2017-05-31 03:07] chealsye commented on #736
I think the current "Click to sign into your Open Access Button account" subject line applies to all sign in attempts. @JosephMcArthur Do you want no sign off?

Again - I think there needs to be two spaces between the end of the email and "The Open Access Button team," but github won't let me display it. I'd like to get this updated ASAP even if it is just the spacing for right now. I'm able to do

[2017-05-31 07:57] JosephMcArthur commented on #666
@natalianorori is this closeable?

[2017-05-31 08:51] JosephMcArthur commented on #498
Tried adding:
`/?refuse=true`
in the href on the page to power this, but couldn't push to dev.

[2017-05-31 09:29] markmacgillivray commented on #498
I had already done it with ?refuse=true, our updates conflicted, fixed now and merged.

[2017-05-31 09:29] #498 closed

[2017-05-31 16:50] chealsye opened #738 "Creating a process for receiving embargoed articles"
There will be times that authors respond to requests saying that they will archive the article after the embargo period expires.

There will be two scenarios for receiving embargoes:
1) The author replies simply staying they will share the article after the embargo period.
2) The author replies stating that they have deposited the article in a repository and it will become available after the emba

[2017-05-31 19:15] natalianorori commented on #666
@JosephMcArthur I think Mark has to enable the changes on the dev site to be able to test it first and then close it.

[2017-06-01 08:51] JosephMcArthur commented on #719
@svmelton

Author pages / Author Email below as discussed on the call. Haven't made any edits to the text from the above though.

![author page 3v1](https://cloud.githubusercontent.com/assets/4953703/26672100/ce4c061e-46af-11e7-990e-fb4853bd469e.png)
![author page 2v1](https://cloud.githubusercontent.com/assets/4953703/26672099/ce45391a-46af-11e7-948a-f94c5457ad4d.png)
![author page 1v1](https://c

[2017-06-01 15:58] chealsye commented on #719
What's that email in the immediately prior comment? Is that a new draft of the request email?

Just a note: I am 100% against the use of semi-colons for our communications whether or not they are correct.

[2017-06-02 09:57] JosephMcArthur commented on #593
@natalianorori all templates are now updated with  {{name}}. You'll need to sync, then it should work!

[2017-06-02 09:57] #593 closed

[2017-06-02 16:04] chealsye commented on #655
Mentioned this to Joe in conversation, so adding as a note. This is more in regards to an institutional plugin, but I think this is the issue Joe instructed to comment on.

I think we should be mindful of color blindness in designing the (institutional) plugin, especially if it has more of an Unpaywall look with a side tab. For institutions enabling use despite sight differences will be important.

[2017-06-03 15:05] nemobis commented on #210
I took a random DOI from https://zenodo.org/record/54799, 10.1017/S0954102008001144: doai.io quickly redirects me to https://openresearch-repository.anu.edu.au/handle/1885/27693, while https://openaccessbutton.org claims it's not available and suggests to ask the author. Bug? False negative?

[2017-06-03 15:13] nemobis commented on #725
Related: https://github.com/OAButton/discussion/issues/648

[2017-06-03 15:16] nemobis commented on #700
By "illegal copies", do you mean the direct PDF links which Google Scholar provides automatically without supervision? Like, copies of the PDF which the author placed on their university web space, possibly without having a SPARC addendum or equivalent?

[2017-06-03 15:20] nemobis commented on #648
Is "mterk" a typo for "mturk"? I don't see anything related to Amazon or turkers called "mterk".

[2017-06-03 15:27] nemobis commented on #634
I don't know because I've not studied how mailgun handles [stuff](https://support.google.com/mail/answer/81126), but for one thing their mailservers are not currently considered legit for sending messages with @openaccessbutton.org in From header, according to your SPF:

[code]

[2017-06-03 15:39] JosephMcArthur commented on #634
Thanks @nemobis. Assigning @markmacgillivray to take a look here.

[2017-06-03 15:39] JosephMcArthur commented on #648
Yup, it is!
On Sat, 3 Jun 2017 at 16:20 nemobis <notifications@github.com> wrote:

--
Joseph McArthur
Assistant Director: Right to Research Coalition
<http://righttoresearch.org/>
Co-Lead/Founder: Open Access Button <http://openaccessbutton.org/>
Twitter: @Mcarthur_Joe <https://twitter.com/Mcarthur_Joe>
Skype: joseph_mcarthur

[2017-06-03 15:54] nemobis commented on #574
It would be nice to add the research field as hashtag and/or cc an institution/potential author. From https://api.elsevier.com/documentation/retrieval/affiliationRetrievalResp.json I don't see Twitter handles.
ORCID has Twitter account names but of course you first need to get the ORCID in some way.

[2017-06-03 18:14] nemobis commented on #725
In a test on some of http://dissem.in/search/?status=couldbe&pub_after=1980&pub_before=2010&doctypes=journal-article , I see an OCR (?) error for an email address and another address which goes completely lost:

giovannLgalizia@uni-konstanz.de for http://dx.doi.org/10.1146/annurev-ento-112408-085442
nothing for http://dx.doi.org/10.3923/itj.2010.766.773
nothing for http://dx.doi.org/10.1039/b92407

[2017-06-04 04:27] chealsye commented on #700
@nemobis Illegal copies would refer to any version of the article that an author shares publicly that they are legally not permitted to based on their publishing agreement. This can include PDF links from Google Scholar, Academia.edu, personal websites, repositories, etc. Often an illegal copy appearing in Google Scholar will be the publisher's PDF rather than the post-print (accepted version) tha

[2017-06-04 08:12] nemobis commented on #700
Ok, thought so.

Of course, if you managed to fully automate the process and embedded as many such checks as technically reasonable in your code, then you would not be responsible of any copyright violation by merely linking such copies available online. (You really cannot know whether the author had some special agreement with the publisher, for instance.)

On the other hand, if your aim is to ed

[2017-06-05 08:53] markmacgillivray commented on #676
This should be working on live now, will assign to @natalianorori to check and confirm - should email when new requests are created and when content is received.

[2017-06-05 09:05] markmacgillivray commented on #634
Our emails are sent via a subdomain which mailgun is configured to send from - mg.openaccessbutton.org. I don't think there is anything else that can be done here.

[2017-06-05 09:07] markmacgillivray opened #739 "Refactor the API structure"
To improve on logging and admin notification in different circumstances for oabutton, and to ensure the system remains easily scalable, but to keep costs minimal if no more funding comes in.

[2017-06-05 09:08] markmacgillivray opened #740 "Upgrade ES"
While doing #739 upgrade ES, which is still on 1.x and could go up to 5.x

[2017-06-05 09:09] markmacgillivray commented on #731
Handle this in relation to #739

[2017-06-05 09:09] markmacgillivray commented on #722
Await #739

[2017-06-05 09:10] markmacgillivray commented on #683
Await #739

[2017-06-05 09:10] markmacgillivray commented on #648
Await #739

[2017-06-05 09:11] markmacgillivray commented on #598
This may be as successful as it will get, but retry after #739 then close

[2017-06-05 09:11] markmacgillivray commented on #333
Await #739

[2017-06-05 09:12] markmacgillivray commented on #477
Implement with #739

[2017-06-05 10:27] wetneb commented on #574
@nemobis if you want to connect ORCID institutions to Twitter handles, I recomment Wikidata for that. ORCID uses Ringgold identifiers for institutions, and we have imported a lot of them into Wikidata.

Here is what we currently have for institutions: http://tinyurl.com/ycolmx4c
and for researchers (not a lot!): http://tinyurl.com/yb8qq6e4

Join us at https://www.wikidata.org/wiki/Wikidata:WikiPro

[2017-06-05 13:16] JosephMcArthur commented on #618
Try on dev site first, then move to live if we see no issues

[2017-06-06 13:31] allanaaa opened #741 "Linking the website to the blog"
I just realized our website doesn't actually link to our Medium blog anywhere on the About page or in any menus.

Suggestions as to where to insert this link?

On the About page:

Alternatively, in the bottom menu:

About · **Blog** · For libraries · API · Bugs · Twitter · Account

[2017-06-06 15:46] natalianorori commented on #669
I am getting the expect behaviour both on live and the dev site. I've also tested this multiple times and I think we can close this!! Thanks for implementing this btw, my life is so much easier now

[2017-06-06 16:03] natalianorori commented on #676
Hi @markmacgillivray ,
I just submitted 2 article URLS not signed in as an admin, and I'm still not getting email alerts when we receive  @content. (remember my email address is natalianorori@gmail.com).

[2017-06-06 16:05] natalianorori commented on #634
I'm not sure about my assignment here

[2017-06-06 16:06] #508 closed

[2017-06-06 18:13] natalianorori commented on #741
I vote for putting it in the bottom menu

[2017-06-06 18:16] JosephMcArthur commented on #669
\o/

[2017-06-06 18:16] #669 closed

[2017-06-06 18:28] JosephMcArthur commented on #741
All for adding this on the above page. Please update there.

Generally, I removed the blog from the footer previously because the blog should be about bringing people _in_ - rather than a place we should be sending people. So, given the footer space is really limited I removed it.

I was actually conflicted about Twitter, but I thought that at the least there was a good place to follow / engage th

[2017-06-06 19:25] natalianorori commented on #738
**-How do we accept and communicate embargo links that will not be accessible yet but will be by x date**?
I think that they can be accepted through the responders page, however, we should be able to put a box or something in the responders page that notifies users that the links belongs to an embargoed article. Maybe Mark can set up a checkbox for us to keep track of it.

**-How does this affect

[2017-06-07 18:55] JosephMcArthur opened #742 "Integrate with Ezproxy"
This would allow institutional OAB to access subscriptions potentially more simply than via our current approach.

[2017-06-07 20:57] allanaaa commented on #735
Another pair:
http://www.sciencedirect.com/science/article/pii/S1342937X17300527
http://jbc.bj.uj.edu.pl/Content/202782/DIGONLINE002583.html

[2017-06-11 01:08] chealsye commented on #738
Thanks, @natalianorori! Before this week had you encountered an embargo from an author?

Let's figure out how to support this on the responders' page. If this doesn't affect other processes, then I would assume this is a fairly easy thing to implement, but with an established, separate process to handle embargoes as you noted is needed.

I absolutely agree re pre-prints. Most faculty I've worked w

[2017-06-11 15:59] JosephMcArthur commented on #427
if moderation time is short, as we're now working on, this isn't required.

[2017-06-11 15:59] #427 closed

[2017-06-11 16:03] #200 closed

[2017-06-15 13:07] jibe-b opened #743 "Perturbating "This article is available" while article is only accessible if authentified"
When requesting this paper:

https://openaccessbutton.org/?url=Identifying%20the%20Rubisco%20Recognition%20Domain%20and%20Critical%20Arginines%20in%20Activase%20and%20Engineering%20Activase%20With%20Improved%20Thermostability%20for%20Arabidopsis

A "handle.net" url is found: http://hdl.handle.net/2142/87049 but "The file you are attempting to access is a restricted file and may require credentials

[2017-06-16 17:00] #741 closed

[2017-06-21 05:20] natalianorori opened #744 "new signature box in the request system page"
Since we are going to have volunteers managing the initial moderation process of the request system, email templates shouldn't all go off signed under my name. So my idea is to add a new box in the admin page to identify who managed the request, and the template could drag the signature name from that box. We could extract the signature name from the volunteer's account.

(not sure if this has the

[2017-06-21 05:23] natalianorori opened #745 "extracting journal names from article journal pages"
So that its automatically filled in "author name" box when available. Similar to what we do with email addresses.

[2017-06-22 10:40] #740 closed

[2017-06-22 10:40] #739 closed

[2017-06-22 10:41] markmacgillivray commented on #731
Can't be resolved until we move to a new API logging method, which is on hold. Unassigning and descheduling for now, but keeping open.

[2017-06-22 10:42] markmacgillivray commented on #598
Closing, a full API update may take longer than can be prioritised within official project schedule.

[2017-06-22 10:42] #598 closed

[2017-06-22 10:43] markmacgillivray commented on #721
This needs to be moved to do in July / August (possibly after official end)

[2017-06-22 10:57] markmacgillivray commented on #666
This is available to test on dev now - submit a URL for a request and it will be marked as received, and then the main request page in the admin area will have a new option called "remove submitted url". Using that action will remove the info about the submitted URL and will reset the request status to moderate

[2017-06-22 10:57] markmacgillivray commented on #618
Need to delay this until July too.

[2017-06-22 11:10] markmacgillivray commented on #477
Request history is now being recorded on dev changes. However, laying out the history on the admin page in a useful way will take a bit more work.

[2017-06-22 11:37] markmacgillivray commented on #477
Currently dev site will display a simple JSON object showing changes. But does not succeed in recording which user made the changes.

[2017-06-22 11:59] markmacgillivray commented on #688
Added box to admin area of requests, that will be populated if we already know it, or can be manually added by admins.

[2017-06-22 18:11] markmacgillivray commented on #722
The admin page on dev now has a "manage batch jobs button", press it to see a file upload bar and a list of previous jobs, with their completeness and download links.

As it is only on dev, large batch jobs could take a while, and it needs further testing and better UI for wider use. But you should be able to get answers out of it. The JSON and CSV download links to what you'd expect, and you can

[2017-06-22 20:10] markmacgillivray commented on #587
There is now recording of change history so any change to a record will be recorded.

For example this means it can be known that status changed to a particular value on a given date. But note this is not the same as knowing that a request was "closed" - there is no closed status, so it is not clear what that would mean, and requests can move back and forth from different statuses. The same is tru

[2017-06-22 20:18] markmacgillivray commented on #333
It is ready to be turned on to check all requests every week, and where a request is found to now be available, it is set as being received and we set the URL of where it was found, and record that it was found by the weekly cron job rather than a user or an admin.

It also will send a particular email, currently set as the one called searcher_successviafind.html - however this could be disabled.

[2017-06-22 21:43] markmacgillivray commented on #683
Complete

[2017-06-22 21:43] #683 closed

[2017-06-23 03:00] natalianorori commented on #587
For me, its enough to have the first 2 types of spreadsheets you mentioned: data in a request, and changes performed in the request. I don't need to know specific information about emails at the moment. Knowing the date the author was last contacted by us is enough for me to evaluate how to follow up and take action with each requests is the only thing emailed related I need to know.

just two que

[2017-06-23 09:30] markmacgillivray commented on #587
Yes, you can see dates changes were made, so that could go in the spreadsheet. Have a look at the dev site now, if you make a change to a request with the admin area controls, you should see below the admin area a list of changes and the dates they happened. That is the same information you would get out on a spreadsheet, along with the ID of the request so that you would know which request the ch

[2017-06-23 10:44] JosephMcArthur opened #746 "Missed Linkage around "-""
Paywall: http://www.sciencedirect.com/science/article/pii/S0921509316308498
OA version: https://hal.archives-ouvertes.fr/hal-01393509/

[2017-06-23 10:47] JosephMcArthur opened #747 "minor copy updates to /response page success via link page"
https://www.dropbox.com/s/6otqvdg2hm9zlan/Screenshot%202017-06-23%2012.46.12.png?dl=0

- [x] Need to change link text color (there is a word between "the" and "'page")
- [ ] remove 2nd sentance

[2017-06-23 11:11] JosephMcArthur opened #748 "New ScienceDirect articles pages going to same re-direct page?"
example new page: http://www.sciencedirect.com/science/article/pii/S0010938X13005064, http://www.sciencedirect.com/science/article/pii/S0010938X13004150, http://www.sciencedirect.com/science/article/pii/S001346861201612X
Where we send: http://jbc.bj.uj.edu.pl/Content/202782/DIGONLINE002583.html

Interestingly, Unpaywall doesn't recognise the above article as an article. Apparently, this started 2-

[2017-06-23 13:53] allanaaa commented on #747
Link text meaning what? Not the title of the article, I assume.

Remove "The link to your content .... few minutes." ?

[2017-06-23 17:28] allanaaa commented on #735
Now being worked on in #748.

[2017-06-23 17:28] #735 closed

[2017-06-23 17:29] JosephMcArthur commented on #747
so, updated the above to be a bit clearer.

Honestly, I think this whole bit of copy could be better & more accurate. The update is basically instant afaik, and for articles we don't validate. Let's link out to dissem.in too for authors to deposit more work.

[2017-06-23 18:08] allanaaa commented on #747
Gotcha!

We can [span class="typedata"] on the part about validating, if I'm reading the code right. Or we can take it out entirely.
Is it our request moderation team that validates data, or is it a community of Open Science Foundation users?

Link colour changed.

I changed "minutes" to "moments" - or we could instead rewrite that part:
"The link to your work, saved Z/OSF, will appear on the requ

[2017-06-23 18:09] allanaaa commented on #747
I also changed the word "content" throughout the response/item page, to "work" and "research" variously.

[2017-06-24 12:52] jibe-b commented on #747
It may be nice to suggest to the author to check and upload all of his/her missing publications.
dissem.in/ is developped in this goal: dissem.in/search/?authors=<author_name>.

cc @an3m

PS: I wrote this in a bad place before, writting it again here.

[2017-06-24 12:57] JosephMcArthur commented on #747
Now we're getting authors 1st & last name as part of the moderation process, this is actually much easier / nicer than prior. I'm planning to meeting with @wetneb next month to discuss a few changes to dissem.in that we think would make it much more effective. Will consider that here too.

[2017-06-24 13:17] JosephMcArthur commented on #587
@markmacgillivray i'm struggling to understand why this data won't track well to requests. Surely all emails sent by the request system are tied to a request. Our problem here is needing to understand the open & click rates of emails sent to authors (usually, a certain cohort of authors). Either way, having a sheet of mail progress would be helpful.

[2017-06-24 14:11] JosephMcArthur commented on #333
@markmacgillivray so to test this before releasing onto live we could disable the email initially & run the job. Then, on the live site @natalianorori or someone else could filter for requests closed via this & chose on a case by case basis whether to send the notification.

If that's correct, that's great & I'd say let's do that as a first step. Then, if we're happy, we can have the relevant emai

[2017-06-24 15:04] markmacgillivray commented on #333
OK will add articleurl as a variable and enable the weekly check but with emailing turned off, then yeah you can test by searching for requests that were successful by the cron job - I can add a button to filter by that to the UI.

[2017-06-24 15:31] JosephMcArthur commented on #333
Okay. Then when you've done at @natalianorori can you look through the resulting requests & review what's been found? Then, if all is well, **just email the requestors saying we've found their stuff**.

[2017-06-25 16:44] markmacgillivray commented on #333
I was just finishing the bulk upload spreadsheet format and thought of an alternative here - it could be possible to run a check on all outstanding items as a bulk job, and then just show the results in the bulk jobs admin area. Then you could review the results it says it would get BUT it would not have actually changed any requests. We would then just need some addition to the admin area where t

[2017-06-25 17:12] JosephMcArthur commented on #333
Not sure if it makes sense for the long-term implementation of this to work this way - but seems sensible to test like this - no? That'll do a basic job of testing some old requests, just in case. Then, the next thing to worry about would be if the emailing to people works as expected.

@markmacgillivray can you start the job anytime if I set up a bunch of tests on the dev site?

[2017-06-25 17:19] JosephMcArthur commented on #722
- [ ] Would be great to have the source of availability listed (e.g base / oadoi etc)

[2017-06-26 15:47] allanaaa commented on #747
That's a great idea!

In the meantime, let's pick a version for the copy and close this, then edit the Dissem.in link later if applicable.

Also: Is it our request moderation team that validates data, or is it a community of Open Science Foundation users?

[2017-06-26 16:55] allanaaa opened #749 "Updating /sources"
I'm doing some copyediting on the /sources page; some questions:

- Any objections to linking to our sources?

- The subtitle "(making sure we only make requests when necessary)" could probably emphasize both the searching part and the requesting part.

or

or, alternatively, neither:

[2017-06-27 15:13] JosephMcArthur commented on #722
I tried to upload a file with 15k lines (Interlending Requests - full sample.csv) & it said it failed to upload. After that, when I refreshed all the record of previous jobs took quite a while to appear, but when it did showed the job was running (actually it was)

[2017-06-27 21:32] JosephMcArthur commented on #749
What I thought was 100% needed from sources has been ported to /about. I'm yet to see requests for more info that would've been on that page so I'd be hesitant to spend time maintaining it (as it changes frequently). @chealsye what did the person you were sending the link to want to know?

So, in short, I'd suggest just closing this issue as I expect the page isn't needed. What might be better for

[2017-06-27 21:37] chealsye commented on #749
@JosephMcArthur I was linking to /sources in an email to Aaron Tay who was asking specific questions about how the Button worked. /sources was the most detailed page I was aware about and seemed the best fit, however the /sources page was never fully copyedited. If you do not think the information on /sources is important, is found elsewhere, and do not want to spend the time to maintain it, then

[2017-06-27 21:57] JosephMcArthur commented on #722
- [ ] send notification when progress stalls, not when progress reaches 100%

The "finished" notification seems to only send at 100% but it seems like if a line errors for one reason or another the number won't reach 100%.

[2017-06-27 23:14] JosephMcArthur commented on #722
Mid way through running `Interlending Requests - full sample.csv` and trying to download a csv I got:

`TypeError: Cannot read property 'replace' of undefined at Object.CLapi.addRoute.get.action (app/apps/clapi/server/endpoints/service/oabutton.js:758:25) at Route.share.Route.Route._callEndpoint (packages/restivus-mm/lib/route.coffee:147:25) at packages/restivus-mm/lib/route.coffee:59:33 at packag

[2017-06-27 23:15] JosephMcArthur commented on #722
- [ ] ability to cancel jobs

would like this as I've accidentally made a few that aren't needed, and would like to cancel to free up job que.

[2017-06-28 01:44] natalianorori commented on #587
I Spent some time on the dev site yesterday seeing how changes display. I
also noticed we have a box for admin notes on the live site already (yay).
I think both new implements are what I used to track on spreadsheets
before. I will still use spreadsheets to keep data and probably experiment
with data analysis tools for experiments we run with the system, but for
general management, these changes

[2017-06-28 01:51] natalianorori commented on #638
@svmelton I am running an AB test to find out if the response rate and time drop if we don't add the user's name and the story. I am tracking the data here https://docs.google.com/spreadsheets/d/1XHVvLMUM3UT7vggIQwhWVyqlnIE37MltrPfmrgzxUcU/edit#gid=0 , It would be great to get a summary of authors opinions you've gotten from user testing

[2017-06-28 11:24] markmacgillivray commented on #587
When an email gets sent it goes to mailgun. When mailgun achieves certain actions it sends a notification back to our mail API. But all that does is tell us that some email, identified with a unique id that mailgun give it, has been received/opened/failed/whatever. This is enough for things like the login page to track user login emails (the login page just polls our mail progress API) but it did

[2017-06-28 18:12] allanaaa commented on #749
IMHO the page is really useful, to people like me who want to understand the process (maybe for future volunteers, press/bloggers, librarians, developers). The sources are on the about page, as Joe pointed out, but I think a lot of the other information on this page is handy.
I think using it as a blog post is a great idea if we don't have a space for it on the website (I agree that a "hidden" pag